<div
    data-test-node-card
    data-analytics-scope='Node Card'
>
    <h4 class='list-group-item-heading' local-class='NodeCard__heading' data-test-node-card-heading>
        <span class='f-w-lg'>
            {{#if @node}}
                {{#unless @node.public}}
                    <span>
                        {{fa-icon 'lock'}}
                        <BsTooltip>{{t (concat 'node_card.' @node.nodeType '.private_tooltip')}}</BsTooltip>
                    </span> |
                {{/unless}}
                {{#if @node.pendingRegistrationApproval}}
                    <span class='label label-info'>{{t 'node_card.registration.statuses.pending'}}</span> |
                {{else if @node.withdrawn}}
                    <span class='label label-danger'>{{t 'node_card.registration.statuses.withdrawn'}}</span> |
                {{else if @node.pendingWithdrawal}}
                    <span class='label label-info'>{{t 'node_card.registration.statuses.pending_withdrawl'}}</span> |
                {{else if @node.pendingEmbargoTerminationApproval}}
                    <span class='label label-info'>{{t 'node_card.registration.statuses.pending_embargo_termination'}}</span> |
                {{else if @node.embargoed}}
                    <span class='label label-info'>{{t 'node_card.registration.statuses.embargoed'}}</span> |
                {{else if @node.pendingEmbargoApproval}}
                    <span class='label label-info'>{{t 'node_card.registration.statuses.pending_embargo'}}</span> |
                {{/if}}
                {{#if @node.archiving}}
                    <span class='label label-primary'>{{t 'node_card.registration.statuses.archiving'}}</span> |
                {{/if}}
                {{node-card/node-icon category=@node.category}}
                <OsfLink
                    data-analytics-name='Title'
                    @route='resolve-guid'
                    @models={{array @node.id}}
                >
                    {{@node.title}}
                </OsfLink>
            {{else}}
                <ContentPlaceholders as |placeholder|>
                    <placeholder.heading @subtitle={{false}} />
                </ContentPlaceholders>
            {{/if}}
        </span>
        {{#if @node}}
            {{#if this.showDropdown}}
                <div
                    data-test-node-menu
                    class='pull-right generic-dropdown'
                    local-class='NodeCard__dropdown'
                >
                    <BsDropdown as |dd|>
                        <dd.button local-class='NodeCard__dropdown-button'>
                            <span aria-label={{t 'node_card.options'}} class='glyphicon glyphicon-option-horizontal'></span>
                        </dd.button>
                        <dd.menu @class='dropdown-menu-right' local-class='NodeCard__dropdown-list'>
                            <li role='menuitem'>
                                <OsfLink
                                    data-analytics-name='Manage Contributors'
                                    local-class='NodeCard__dropdown-link'
                                    @href='/{{@node.id}}/contributors/'
                                >
                                    {{t 'node_card.fork.manage_contributors'}}
                                </OsfLink>
                            </li>
                            <li role='menuitem'>
                                <OsfLink
                                    data-analytics-name='Settings'
                                    local-class='NodeCard__dropdown-link'
                                    @href='/{{@node.id}}/settings/'
                                >
                                    {{t 'general.settings'}}
                                </OsfLink>
                            </li>
                            <li role='menuitem'>
                                <OsfButton
                                    data-analytics-scope='Delete'
                                    local-class='NodeCard__dropdown-link'
                                    @onClick={{action @delete @node}}
                                >
                                    {{t 'general.delete'}}
                                </OsfButton>
                            </li>
                        </dd.menu>
                    </BsDropdown>
                </div>
            {{/if}}
        {{/if}}
    </h4>
    <div data-test-node-card-body local-class='NodeCard__body'>
        {{#if @node}}
            <div local-class='NodeCard__timestamp'>
                {{t (concat 'node_card.' @node.nodeType '.timestamp_label')}} {{moment-format @node.dateCreated 'YYYY-MM-DD h:mm A'}}
            </div>
            {{#if @node.isRegistration}}
                {{#if this.registrationTitle}}
                    <div local-class='NodeCard__registration-title'>
                        {{this.registrationTitle}}
                    </div>
                {{/if}}
                <div local-class='NodeCard__schema-name'>
                    {{@node.registrationSchema.name}}
                </div>
            {{/if}}
            <div local-class='NodeCard__authors'>
                <ContributorList
                    @node={{@node}}
                    @shouldLinkUsers={{true}}
                />
            </div>
            <div local-class='NodeCard__description'>
                {{@node.description}}
            </div>
            {{#if (and this.showTags @node.tags)}}
                <div local-class='NodeCard__tags'>
                    <strong>{{t 'node_card.tags'}}</strong>
                    <TagsWidget
                        @taggable={{@node}}
                        @inline={{true}}
                    />
                </div>
            {{/if}}
        {{else}}
            <ContentPlaceholders as |placeholder|>
                <placeholder.text @lines={{2}} />
            </ContentPlaceholders>
        {{/if}}
    </div>
</div>
