<ValidatedModelForm
    data-analytics-scope='Form'
    @model={{this.token}}
    @modelName={{if this.token undefined 'token'}}
    @disabled={{this.disabled}}
    @onSave={{action this.onSave}}
    as |form|
>
    <form.text 
        data-test-token-name
        @valuePath='name'
        @label={{t 'settings.tokens.tokenName'}}
    />

    <div>
        <label>{{t 'settings.tokens.scopes'}}</label>
        <p>{{t 'settings.tokens.scopesDescription'}}</p>

        <form.checkboxes
            @valuePath='scopes'
            @options={{this.allScopes}}
            @ariaLabel={{t 'settings.tokens.scopes'}}
            as |cb|
        >
            <div local-class='Scope' data-test-scope=cb.option.id>
                {{cb.checkbox}}
                <label for={{cb.checkboxId}}>
                    {{cb.option.id}}
                    <div local-class='Scope__description' data-test-scope-description>
                        {{cb.option.description}}
                    </div>
                </label>
            </div>
        </form.checkboxes>
    </div>

    {{yield (hash
        disabled=this.inputsDisabled
    )}}
</ValidatedModelForm>
