{{#paginated-list/has-many
    local-class='institutionList'
    model=@model
    relationshipName='institutions'
    analyticsScope='User Institutions'
    as |list|
}}
    <list.item as |institution|>
        {{#if institution}}
            <li>
                <label local-class='label'>
                    <OsfButton
                        @type='link'
                        @disabled={{or this.addTask.isRunning this.removeTask.isRunning}}
                        @onClick={{if (contains institution @affiliatedList) (action @remove institution) (action @add institution)}}
                    >
                        <FaIcon
                            local-class='institutionIcon'
                            @icon={{if (contains institution @affiliatedList) 'minus' 'plus'}}
                        />
                        {{institution.name}}
                    </OsfButton>
                </label>
            </li>
        {{else}}
            <ContentPlaceholders as |placeholder|>
                {{placeholder.list items=2}}
            </ContentPlaceholders>
        {{/if}}
    </list.item>
{{/paginated-list/has-many}}
