{{#paginated-list/has-many
    local-class='institutionList'
    model=@model
    relationshipName='institutions'
    analyticsScope='User Institutions'
    usePlaceholders=this.usePlaceholders
    as |list|
}}
    <list.item as |institution|>
        {{#if institution}}
            <li data-test-institution=institution.id>
                <label local-class='label'>
                    <OsfButton
                        data-test-institution-button
                        data-analytics-name='Add/Remove'
                        local-class='addRemoveButton'
                        @type='link'
                        @disabled={{or this.addTask.isRunning this.removeTask.isRunning}}
                        @onClick={{if (contains institution @affiliatedList) (action @remove institution) (action @add institution)}}
                    >
                        <FaIcon
                            local-class='institutionIcon'
                            @icon={{if (contains institution @affiliatedList) 'minus' 'plus'}}
                        />
                    </OsfButton>
                    {{institution.name}}
                </label>
            </li>
        {{else}}
            <ContentPlaceholders as |placeholder|>
                {{placeholder.list items=2}}
            </ContentPlaceholders>
        {{/if}}
    </list.item>
    <list.empty>
        {{t 'osf-components.institutions-widget.no_affiliated_institution.user'}}
    </list.empty>
{{/paginated-list/has-many}}
