{{#paginated-list/has-many
    local-class='institutionList'
    model=@manager.user
    relationshipName='institutions'
    analyticsScope='User Institutions'
    usePlaceholders=this.usePlaceholders
    as |list|
}}
    <list.item as |institution|>
        {{#if institution}}
            <label data-test-institution={{institution.id}} local-class='label'>
                {{#let (includes institution @manager.affiliatedList) as |isAffiliated|}}
                    <Input
                        data-test-institution-button={{concat (if isAffiliated 'remove' 'add') '-' institution.id}}
                        data-analytics-name={{if isAffiliated 'Remove' 'Add'}}
                        @type='checkbox'
                        @checked={{isAffiliated}}
                        @disabled={{@manager.shouldDisable}}
                        @change={{action @manager.toggleInstitution institution}}
                    />
                {{/let}}
                {{institution.name}}
            </label>
        {{else}}
            <ContentPlaceholders as |placeholder|>
                {{placeholder.list items=2}}
            </ContentPlaceholders>
        {{/if}}
    </list.item>
    <list.empty>
        {{t 'osf-components.institutions-select-list.no_affiliated_institution'}}
    </list.empty>
{{/paginated-list/has-many}}
