{{#if maintenance}}
    <div class="scripted alert alert-dismissible {{alertClass}} MaintenanceBanner" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">{{fa-icon 'times'}}</span>
        </button>
        <strong>{{t 'maintenance.title'}}</strong>
        {{#if maintenance.message.length}}
            {{maintenance.message}}
        {{else}}
            {{t 'maintenance.line1'}} <strong>{{start}} {{t 'general.and'}} {{end}}</strong> ({{utc}}).
            {{t 'maintenance.line2'}}
        {{/if}}
    </div>
{{/if}}