<div data-analytics-scope='Edit'>
    <OsfLink
        data-test-back-to-developer-apps
        data-analytics-scope='Back to list'
        @route='settings.developer-apps'
    >
        {{fa-icon 'arrow-left'}}
        {{t 'settings.developer-apps.backToList'}}
    </OsfLink>

    <h4>{{t 'settings.developer-apps.appDetail' appName=this.developerApp.name}}</h4>

    {{#if this.model.taskInstance.isError}}
        {{this.model.taskInstance.error}}
    {{else}}
        <dl local-class='DeveloperApp__client'>
            <dt>{{t 'settings.developer-apps.clientID'}}</dt>
            <dd>
                <p>{{t 'settings.developer-apps.clientIDDescription'}}</p>
                <CopyableText
                    data-test-client-id
                    @text={{this.developerApp.clientId}}
                    @analyticsLabel='Settings - Developer apps - Copy client ID'
                />
            </dd>
            <dt>{{t 'settings.developer-apps.clientSecret'}}</dt>
            <dd>
                {{settings/developer-apps/-components/client-secret developerApp=this.developerApp}}
            </dd>
        </dl>

        <h4>{{t 'settings.developer-apps.editApp'}}</h4>
        <ValidatedModelForm
            data-analytics-scope='Form'
            @model={{this.developerApp}}
            @disabled={{this.model.taskInstance.isRunning}}
            @onSave={{action this.appSaved}}
            as |form|
        >
            <form.text
                data-test-developer-app-name
                @valuePath='name'
                @label={{t 'settings.developer-apps.appName'}}
            />
            <form.text
                data-test-developer-app-homepage
                @valuePath='homeUrl'
                @label={{t 'settings.developer-apps.appHomepage'}}
            />
            <form.textarea
                data-test-developer-app-description
                @valuePath='description'
                @label={{t 'settings.developer-apps.appDescription'}}
            />
            <form.text
                data-test-developer-app-callback-url
                @valuePath='callbackUrl'
                @label={{t 'settings.developer-apps.appCallbackUrl'}}
            />

            <div>
                <DeleteButton
                    @delete={{action this.deleteApp}}
                    @disabled={{form.disabled}}
                    @modalTitle={{t 'settings.developer-apps.confirmDelete.title' appName=this.developerApp.name}}
                    @modalBody={{t 'settings.developer-apps.confirmDelete.body'}}
                />

                <OsfButton
                    data-test-save-developer-app-button
                    data-analytics-name='Save'
                    @type='primary'
                    @buttonType='submit'
                    @disabled={{form.disabled}}
                >
                    {{t 'general.save'}}
                </OsfButton>
            </div>
        </ValidatedModelForm>
    {{/if}}
</div>