{{#if this.download}}
    {{#if this.isLoading}}
        <LoadingIndicator @dark={{true}}/>
    {{/if}}
    <p>{{t 'file_detail.mfr_iframe_title'}}</p>
    <iframe
        src={{this.mfrUrl}}
        width={{this.width}}
        title={{t 'file_detail.mfr_iframe_title'}}
        height={{this.height}}
        scrolling='yes'
        marginheight='0'
        frameborder='0'
        allowfullscreen={{this.allowfullscreen}}
        hidden={{this.isLoading}}
        onload={{action this.loaded}}
    ></iframe>
{{/if}}
