{{#if this.download}}
    {{#if this.isLoading}}
        <LoadingIndicator @dark={{true}}/>
    {{/if}}

    <iframe
        src={{this.mfrUrl}}
        width={{this.width}}
        height={{this.height}}
        name={{@item.name}}
        scrolling='yes'
        marginheight='0'
        frameborder='0'
        allowfullscreen={{this.allowfullscreen}}
        hidden={{this.isLoading}}
        onload={{action this.loaded}}
    >
        <p>{{t 'file_detail.mfr_iframe_title'}} {{this.name}}</p>
    </iframe>
{{/if}}
