{{!Component builds DISCOVER PAGE - Blend of Ember-SHARE, Preprints, and Registries Discover pages}}
<div local-class="search-header" class="search-header">
    <div class="container">
        {{!BRANDING}}
        <div class="row m-v-md">
            <div class="col-xs-12 text-center">
                {{!Provider Logo, if exists}}
                {{#if (or theme.isProvider providerLogo)}}
                    <div class="col-xs-6 text-right">
                        <div class="provider-brand" id="provider-brand-background"></div>
                        {{provider-logo provider=theme.provider}}
                    </div>
                {{/if}}
                <div class={{if (or theme.isProvider providerLogo) 'col-xs-6 text-left'}}>
                    {{!REGISTRIES ONLY}}
                    <div class="registries-brand m-t-lg"></div>
                    {{!Discover Page Header text}}
                    {{#if discoverHeader}}
                        <h1>{{t discoverHeader documentType=themeProvider.documentType}}</h1>
                    {{/if}}
                    {{!POWERED BY SHARE}}
                    {{#if isPoweredByShare}}
                        <p class="lead">
                            {{t 'eosf.components.discoverPage.poweredBy'}}
                            <a
                                href="https://share.osf.io/"
                                id="share-logo"
                                local-class="share-logo"
                                title={{t 'eosf.components.discoverPage.share'}}
                                onclick={{action "click" "link" "Discover - SHARE Logo" target=analytics}}
                            ></a>
                        </p>
                    {{/if}}
                </div>
            </div>
        </div>
        {{!SEARCH}}
        <div class="row m-t-md m-b-lg text-center">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                {{!SEARCH BAR}}
                <div class="input-group input-group-lg">
                    {{input
                        id="searchBox"
                        value=q
                        class="form-control"
                        enter="searchAction"
                        placeholder=(t
                            (or searchPlaceholder 'eosf.components.discoverPage.searchPlaceholder')
                            documentType=themeProvider.documentType
                        )
                    }}
                    <span class="input-group-btn">
                        {{!HELP BUTTON}}
                        <button class="btn btn-default" aria-label={{t 'eosf.components.discoverPage.luceneHelp'}} {{action 'toggleShowLuceneHelp'}}>
                            <i class="fa fa-question text-muted"></i>
                        </button>
                        {{!SEARCH BUTTON}}
                        <button class="btn btn-default" {{action 'searchAction'}}>
                            {{t 'eosf.components.discoverPage.search'}}
                        </button>
                    </span>
                </div>
                {{!Lucene search help modal}}
                {{search-help-modal isOpen=showLuceneHelp}}

                {{!NUMBER OF SEARCHABLE RESULTS}}
                {{#if (not theme.isProvider)}}
                    {{total-share-results}}
                {{/if}}
            </div>
        </div>

        {{!CAROUSEL WITH PREPRINT PROVIDERS - PREPRINTS ONLY}}
        {{#if (eq hostAppName 'Preprints')}}
            <div class="row m-t-xs m-b-md">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    {{#if (not theme.isProvider)}}
                        <h3>{{t 'eosf.components.discoverPage.partnerRepositories'}}</h3>
                        <div class="row">
                            {{provider-carousel
                                providers=fetchedProviders
                                lightLogo=false
                            }}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        <div class="row p-v-sm">
            {{!-- {{#if (not showActiveFilters)}}
                <div class="col-xs-6">
                    {{!CLEAR FILTERS BUTTON - ONLY IF ACTIVE FILTERS NOT SHOWN}}
                    <button {{action 'clearFilters'}} class='btn btn-default clear-filters'>
                        {{t 'eosf.components.discoverPage.activeFilters.button'}}
                    </button>
                </div>
            {{/if}} --}}

            <div class="col-sm-6 pull-right">
                {{#bs-dropdown classNames='dropdown pull-right' as |dd|}}
                    {{#dd.button classNames='btn btn-default'}}
                        {{t 'eosf.components.discoverPage.sortBy'}}:
                        {{sortDisplay}}
                        <span class="caret" aria-label={{t 'eosf.components.discoverPage.sortSearchResults'}}></span>
                    {{/dd.button}}
                    {{#dd.menu classNames='dropdown-menu dropdown-menu-right' local-class="sortByOptionList" as |ddm|}}
                        {{#each sortOptions as |sortChoice|}}
                            {{#ddm.item}}
                                <button class="btn btn-link" local-class="listOption" {{action "selectSortOption" sortChoice.sortBy}}>
                                    {{sortChoice.display}}
                                </button>
                            {{/ddm.item}}
                        {{/each}}
                    {{/dd.menu}}
                {{/bs-dropdown}}
            </div>
        </div>
    </div>
</div>

<div class="search-main p-v-xl">
    <div class="container">
        <div class="row search-results-section">
            {{!LEFT PANEL - SEARCH FACETS}}
            <div class="col-sm-4 col-xs-12 search-sidebar">
                {{! ACTIVE FILTERS - FOR PREPRINTS, REGISTRIES}}
                {{#if showActiveFilters}}
                    <div id="activeFilters" class="well well-sm p-md">
                        {{discover-page/active-filters
                            activeFilters=activeFilters
                            facetContexts=facetContexts
                            filterReplace=filterReplace
                            clearFilters=(action clearFilters)
                            filterChanged=(action 'filterChanged')
                        }}
                    </div>
                {{/if}}

                {{!SEARCH FACETS}}
                {{#if showActiveFilters}}
                    <h4>{{t 'eosf.components.discoverPage.refineSearch'}}</h4>
                {{/if}}

                {{discover-page/facets
                    facets=facets
                    facetContexts=facetContexts
                    filterChanged=(action 'filterChanged')
                    filterReplace=filterReplace
                }}

                {{!ADD PREPRINT BUTTON - Preprints Only }}
                {{#if (and (eq hostAppName 'Preprints') themeProvider.allowSubmissions)}}
                    {{add-preprint-box provider=themeProvider}}
                {{/if}}
            </div>
            {{!RIGHT PANEL - SEARCH RESULTS}}
            <div class="col-sm-8 col-xs-12">
                {{!SEARCH LOADING}}
                {{#if loading}}
                    <div class="text-center p-v-md" aria-label={{t 'eosf.components.discoverPage.searchLoading'}}>
                        <span class="fa fa-spinner fa-pulse fa-3x"></span>
                    </div>
                {{else}}
                    {{#if numberOfResults}}
                        {{!RESULTS FOUND}}
                        <div class="results-top">
                            {{#each results as |result|}}
                                {{!search-result
                                    themeProvider=themeProvider
                                    queryParams=queryParams
                                    detailRoute=detailRoute
                                    filterReplace=filterReplace
                                    result=result
                                    currentService=currentService
                                    domainRedirectProviders=domainRedirectProviders
                                    facetContexts=facetContexts
                                    filterChanged=(action 'filterChanged')
                                }}
                            {{/each}}
                        </div>
                        <div class="pull-right text-right">
                            {{search-paginator
                                pageChanged=(action 'setLoadPage')
                                current=page
                                maximum=clampedPages
                            }}
                        </div>
                    {{else if queryError}}
                        {{!PROBLEM WITH SEARCH QUERY}}
                        {{query-syntax message=queryError}}
                    {{else if shareDown}}
                        <div class="text-muted text-center">
                            <p class="lead">{{t 'eosf.components.discoverPage.shareUnavailable'}}</p>
                            <p>{{t 'eosf.components.discoverPage.shareUnavailableDescription'}}</p>
                        </div>
                    {{else}}
                        {{!NO RESULTS FOUND}}
                        <div class="text-muted text-center">
                            <p class="lead">{{t "eosf.components.discoverPage.noResultsFound"}}</p>
                            <p>{{t 'eosf.components.discoverPage.broadenSearch'}}</p>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
