<Panel
    data-test-change-password-panel
    as |panel|
>
    <panel.heading @title={{t 'settings.account.changePassword.title'}} />
    <panel.body data-analytics-scope='Change password panel'>
        <form
            {{action 'submit' on='submit'}}
        >
            {{! template-lint-disable no-implicit-this }}
            {{validated-input/text
                data-test-current-password
                label=(t 'settings.account.changePassword.currentPassword.placeholder')
                password=true
                model=this.userPassword
                valuePath='existingPassword'
                shouldShowMessages=this.didValidate
                placeholder=(t 'settings.account.changePassword.currentPassword.placeholder')
                ariaLabel=(t 'settings.account.changePassword.currentPassword.placeholder')
            }}
            {{validated-input/text
                data-test-new-password
                label=(t 'settings.account.changePassword.newPassword.placeholder')
                password=true
                model=this.userPassword
                valuePath='newPassword'
                shouldShowMessages=this.didValidate
                placeholder=(t 'settings.account.changePassword.newPassword.placeholder')
                ariaLabel=(t 'settings.account.changePassword.newPassword.placeholder')
            }}
            <PasswordStrengthBar
                @password={{this.userPassword.newPassword}}
                @model={{this.userPassword}}
            />
            {{validated-input/text
                data-test-confirm-password
                label=(t 'settings.account.changePassword.confirmPassword.title')
                password=true
                model=this.userPassword
                valuePath='confirmPassword'
                shouldShowMessages=this.didValidate
                placeholder=(t 'settings.account.changePassword.confirmPassword.placeholder')
                ariaLabel=(t 'settings.account.changePassword.confirmPassword.placeholder')
            }}
            {{! template-lint-enable no-implicit-this }}
            <OsfButton
                data-test-update-password-button
                data-analytics-name='Submit'
                @buttonType='submit'
                @onClick={{action this.submit}}
            >
                {{t 'settings.account.changePassword.updateButton'}}
            </OsfButton>
        </form>
    </panel.body>
</Panel>
