{{title (t 'registries.drafts.draft.form.title')}}

<Registries::DraftRegistrationManager
    @currentPage={{this.model.pageIndex}}
    @modelTaskInstance={{this.model.taskInstance}}
    @updateRoute={{route-action 'updateRoute'}}
    as |draftManager|
>
    <OsfLayout @backgroundClass={{local-class 'ContentBackground'}} as |layout|>
        <layout.heading local-class='Heading'>
            <div local-class='Title'>{{t 'registries.drafts.draft.form.new_registration'}}</div>
        </layout.heading>
        <layout.left local-class='Left'>
            {{!-- Sidenav: page headings, validations --}}
        </layout.left>
        <layout.main local-class='Main'>
            {{#if draftManager.currentPageManager}}
                <Registries::PageRenderer
                    @pageManager={{draftManager.currentPageManager}}
                    @onInput={{draftManager.onInput}}
                />
            {{/if}}
        </layout.main>
        <layout.right local-class='Right'>
            {{#if draftManager.nextPageParam}}
                <OsfLink
                    @type='button'
                    @route='registries.drafts.draft'
                    @models={{array draftManager.draftId draftManager.nextPageParam}}
                    @onClick={{draftManager.setPageIsVisited}}
                >
                    {{t 'registries.drafts.draft.form.next'}}
                </OsfLink>
            {{/if}}

            {{#if draftManager.prevPageParam}}
                <OsfLink
                    @type='button'
                    @route='registries.drafts.draft'
                    @models={{array draftManager.draftId draftManager.prevPageParam}}
                >
                    {{t 'registries.drafts.draft.form.back'}}
                </OsfLink>
            {{/if}}

            <OsfButton
                data-test-save-draft
                @onClick={{draftManager.submitDraftRegistration}}
            >
                {{t 'registries.drafts.draft.form.save_draft'}}
            </OsfButton>
        </layout.right>
    </OsfLayout>
</Registries::DraftRegistrationManager>
