{{#if this.model.providerTask.isRunning}}
    <div>
        <LoadingIndicator @dark={{true}} />
    </div>
{{else}}
    <OsfLayout
        @backgroundClass='{{local-class 'ContentBackground'}}'
        as |layout|
    >
        <layout.heading local-class='Hero'>
            <h1>{{this.model.providerTask.value.node.title}}</h1>
            {{#unless this.isDesktop}}
                <nav>
                    <Button
                        {{on 'click' layout.toggleSidenav}}
                    >
                        <FaIcon @icon='bars' />
                    </Button>
                </nav>
            {{/unless}}
        </layout.heading>
        <layout.leftNavOld as |leftNav|>
            <leftNav.link
                data-test-overview-link
                data-analytics-name='Overview'
                @href='/{{this.model.node.guid}}/'
                @icon='home'
                @label={{t 'node.left_nav.overview'}}
            />
            <leftNav.link
                data-test-files-link
                data-analytics-name='Files' 
                @route='guid-node.files'
                @models={{array this.model.node.guid}}
                @icon='file-alt'
                @label={{t 'node.left_nav.files'}}
            />
            <div
                data-test-file-providers-list
                local-class='FileProvidersList'
            >
                {{#each this.model.providerTask.value.fileProviders as |provider|}}
                    <div local-class='FileProvider'>
                        <OsfLink
                            data-test-files-provider-link={{provider.name}}
                            data-analytics-name={{concat 'Files - ' provider.name}} 
                            @route='guid-node.files.provider'
                            @models={{array this.model.node.guid provider.name}}
                        >
                            {{t (concat 'osf-components.file-browser.storage_providers.' provider.name)}}
                        </OsfLink>
                        {{#if (eq provider.name 'osfstorage')}}
                            <span>
                                <FaIcon
                                    local-class='FileProviderIcon'
                                    @icon='globe'
                                >
                                </FaIcon>
                                <BsTooltip
                                    @placement='right'
                                    @triggerEvents='hover'
                                >
                                    {{t 'osf-components.file-browser.storage_location'}}
                                    {{this.model.providerTask.value.node.region.name}}
                                </BsTooltip>
                            </span>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
            {{#if this.model.providerTask.value.node.wikiEnabled }}
                <leftNav.link
                    data-test-wiki-link
                    data-analytics-name='Wiki'
                    @href='/{{this.model.node.guid}}/wiki/'
                    @icon='window-maximize'
                    @label={{t 'node.left_nav.wiki'}}
                />
            {{/if}}
            {{#unless this.model.providerTask.value.isViewOnly}}
                <leftNav.link
                    data-test-analytics-link
                    data-analytics-name='Analytics' 
                    @route='guid-node.analytics'
                    @models={{array this.model.node.guid}}
                    @icon='chart-bar'
                    @label={{t 'node.left_nav.analytics'}}
                />
            {{/unless}}
            {{#unless this.model.providerTask.value.node.isAnonymous}}
                <leftNav.link
                    data-test-registrations-link
                    data-analytics-name='Registrations'
                    @route='guid-node.registrations'
                    @models={{array this.model.node.guid}}
                    @icon='file-alt'
                    @label={{t 'node.left_nav.registrations'}}
                />
            {{/unless}}
            {{#unless this.model.providerTask.value.isViewOnly}}
                <leftNav.link
                    data-test-contributors-link
                    data-analytics-name='Contributors'
                    @href='/{{this.model.node.guid}}/contributors/'
                    @icon='users'
                    @label={{t 'node.left_nav.contributors'}}
                />
                {{#if this.model.providerTask.value.hasWritePermission}}
                    <leftNav.link
                        data-test-addons-link
                        data-analytics-name='Add-ons'
                        @href='/{{this.model.node.guid}}/addons/'
                        @icon='database'
                        @label={{t 'node.left_nav.add-ons'}}
                    />
                {{/if}}
                <leftNav.link
                    data-test-settings-link
                    data-analytics-name='Settings'
                    @href='/{{this.model.node.guid}}/settings/'
                    @icon='cogs'
                    @label={{t 'node.left_nav.settings'}}
                />
            {{/unless}}
        </layout.leftNavOld>
        <layout.main local-class='OverviewBody'>
            <StorageProviderManager::ProviderMapper
                as |mapper|
            >
                {{#let (get mapper this.model.providerName) as |ProviderManager|}}
                    <ProviderManager
                        @provider={{this.model.providerTask.value.provider}}
                        as |manager|
                    >
                        <div local-class='FileBrowser'>
                            <FileBrowser @manager={{manager}} @selectable={{true}} @enableUpload={{true}} />
                        </div>
                    </ProviderManager>
                {{/let}}
            </StorageProviderManager::ProviderMapper>
        </layout.main>
    </OsfLayout>
{{/if}}
