{{#unless this.model.providerTask.isRunning}}
    <StorageProviderManager::ProviderMapper
        as |mapper|
    >
        {{#let (get mapper this.model.providerName) as |ProviderManager|}}
            <ProviderManager
                @provider={{this.model.providerTask.value.provider}}
                @isViewOnly={{this.model.providerTask.value.currentUser.viewOnlyToken}}
                as |manager|
            >
                <div local-class='FileBrowser'>
                    <FileBrowser
                        @manager={{manager}}
                        @selectable={{not this.model.providerTask.value.currentUser.viewOnlyToken}}
                        @enableUpload={{true}}
                    />
                </div>
            </ProviderManager>
        {{/let}}
    </StorageProviderManager::ProviderMapper>
{{/unless}}