{{#unless this.model.providerTask.isRunning}}
    <StorageProviderManager::StorageManager
        @provider={{this.model.providerTask.value.provider}}
        @isViewOnly={{this.model.providerTask.value.currentUser.viewOnlyToken}}
        @configuredStorageAddon={{this.model.configuredStorageAddon}}
        as |manager|
    >
        <div local-class='FileBrowser'>
            <FileBrowser
                @configuredStorageAddon={{this.model.configuredStorageAddon}}
                @manager={{manager}}
                @selectable={{not this.model.providerTask.value.currentUser.viewOnlyToken}}
                @enableUpload={{true}}
            />
        </div>
    </StorageProviderManager::StorageManager>
{{/unless}}