<div local-class='LeftWrapper'>
    <div data-test-topbar-states>
        <RegistriesStates
            @registration={{@registration}}
            @isModeratorMode={{@isModeratorMode}}
        />
    </div>

    <Registries::UpdateDropdown
        @registration={{@registration}}
        @selectedRevisionId={{@selectedRevisionId}}
        @isModeratorMode={{@isModeratorMode}}
    />
</div>
{{#if (and @isModeratorMode (not @registration.isAnonymous))}}
    <MakeDecisionDropdown
        @registration={{@registration}}
    />
{{else}}
    <div data-test-topbar-share-bookmark-fork
        local-class='RightActionsContainer'
    >
        <ResponsiveDropdown as |dd|>
            <dd.trigger
                data-test-forks-dropdown-button
                aria-label={{t 'registries.overview.tooltips.fork'}}
                data-analytics-name='Expand fork dropdown'
                local-class='Action'
            >
                <FaIcon
                    local-class='Icon'
                    @icon='code-branch'
                />
                <BsTooltip
                    @placement='top'
                    @triggerEvents='hover'
                >
                    {{t 'registries.overview.tooltips.fork'}}
                </BsTooltip>
            </dd.trigger>
            <dd.content>
                <div data-test-forks-dropdown-options local-class='ForksMenu'>
                    <OsfLink
                        data-analytics-name='Go to forks page'
                        data-test-go-to-forks-view
                        @route='guid-registration.forks'
                        @models={{array @registration.id}}
                    >
                        {{t 'registries.overview.view_forks'}}
                    </OsfLink>
                    <BsButton
                        data-analytics-name='Fork registration'
                        data-test-fork-registration
                        disabled={{this.forkRegistration.isRunning}}
                        @type='link'
                        @onClick={{action (perform this.forkRegistration (action dd.close))}}
                        local-class='ForkButton'
                    >
                        {{t 'registries.overview.fork_registration'}}
                    </BsButton>
                </div>
            </dd.content>
        </ResponsiveDropdown>

        <BsButton
            data-test-bookmarks-button
            data-analytics-name={{if this.isBookmarked 'Remove from bookmarks' 'Bookmark'}}
            data-analytics-extra='Registration ID: {{this.registration.id}}'
            disabled={{or this.bookmark.isRunning @registration.isAnonymous}}
            @type='link'
            @onClick={{action (perform this.bookmark)}}
            local-class='ActionButton'
            aria-label={{if
                this.isBookmarked
                (t 'registries.overview.tooltips.remove_bookmark')
                (t 'registries.overview.tooltips.bookmark')
            }}
        >
            <FaIcon
                local-class='Icon'
                @icon='bookmark'
                @prefix={{if this.isBookmarked 'fas' 'far'}}
            />
            <BsTooltip
                @placement='top'
                @triggerEvents='hover'
            >
                {{#if this.isBookmarked}}
                    {{t 'registries.overview.tooltips.remove_bookmark'}}
                {{else}}
                    {{t 'registries.overview.tooltips.bookmark'}}
                {{/if}}
            </BsTooltip>
        </BsButton>

        <SharingIcons::Dropdown
            @title={{@registration.title}}
            @description={{@registration.description}}
            @hyperlink={{this.registrationURL}}
            @showText={{true}}
            @registration={{@registration}}
            as |dd|
        >
            <dd.trigger
                data-test-social-sharing-button
                data-analytics-name='Expand sharing menu'
                local-class='Action'
                aria-label={{t 'registries.overview.tooltips.share'}}
            >
                <FaIcon
                    local-class='Icon'
                    @icon='share-alt'
                />
                <BsTooltip
                    @placement='top'
                    @triggerEvents='hover'
                >
                    {{t 'registries.overview.tooltips.share'}}
                </BsTooltip>
            </dd.trigger>
        </SharingIcons::Dropdown>
    </div>
{{/if}}
