<Panel
    data-test-default-region-panel
    as |panel|
>
    <panel.heading @title={{t 'settings.account.defaultRegion.title'}} />
    <panel.body data-analytics-scope='Default region panel'>
        <FormControls
            @disabled={{or this.loadDefaultRunning this.loadRegionsRunning}}
            @changeset={{this.changeset}}
        as |form|>
            {{#if (or this.loadDefaultRunning this.loadRegionsRunning)}}
                <ContentPlaceholders as |placeholder|>
                    <placeholder.text @lines={{1}} />
                </ContentPlaceholders>
            {{else}}
                <form.select
                    data-test-region-selector
                    @renderInPlace={{true}}
                    @selected={{this.selectedRegion}}
                    @valuePath={{'defaultRegion'}}
                    @options={{this.regions}}
                    @searchEnabled={{false}}
                    @placeholder={{this.selectedRegion.name}}
                    as |regionOption|
                >
                    {{regionOption.name}}
                </form.select>
            {{/if}}
            <p data-test-why-default-region>
                {{t 'settings.account.defaultRegion.why'}}
            </p>
            <OsfButton
                data-test-update-region-button
                data-analytics-name='Submit'
                type='submit'
                disabled={{or form.disabled this.updateRegion.isRunning}}
                {{on 'click' (perform this.updateRegion)}}
            >
                {{t 'settings.account.defaultRegion.updateButton'}}
            </OsfButton>
        </FormControls>
    </panel.body>
</Panel>
