<a
    onclick={{action this._onclick}}
    href={{this.href}}
    target={{this.target}}
    data-active={{this.isActive}}
    class={{if this.isActive 'active'}}
    ...attributes
>
    {{yield}}
</a>
