<div data-test-institutions-widget>
    <div local-class="InstitutionWidget__title">
        {{t "osf-components.institutions-widget.affiliated_institutions"}}
        {{#if (not this.readOnly)}}
            <button 
               aria-label={{t "general.add"}} 
               class="add" 
               onclick=
                    {{action (mut this.showModal)}} 
                    {{action "click" "button" (concat @analyticsScope " - Add Affiliation - open_modal") target=analytics}}
            >
                {{fa-icon "plus-circle"}}
            </button>
        {{/if}}
    </div>
    <span>
        {{institutions-list institutions=@node.affiliatedInstitutions}}
    </span>
    {{#bs-modal open=showModal as |modal|}}
        {{#modal.header}}
            <h3 class="modal-title">{{t "osf-components.institutions-widget.add_affiliation"}}</h3>
        {{/modal.header}}
        {{#modal.body}}
            <div class="text-left">

            </div>
        {{/modal.body}}
        {{#modal.footer}}
            <button
                onclick={{action modal.close}}
                class="btn btn-default"
                {{action "click" "button" (concat @analyticsScope " - Add Affiliation - cancel") target=analytics}}
            >
                {{t "general.cancel"}}
            </button>
            <button
                onclick={{action "create"}}
                class="btn btn-success"
            >
                {{t "general.save"}}
            </button>
        {{/modal.footer}}
    {{/bs-modal}}
</div>