{{#if this.showDevBanner}}
    <div local-class='DevBanner'>
        <OsfButton
            title={{t 'dev_tools.title'}}
            @type='link'
            @onClick={{action (mut this.showModal) true}}
        >
            {{#if this.showUrlInput}}
                {{fa-icon 'rocket'}}
            {{else}}
                <strong>{{t 'general.warning'}}</strong>: {{t 'osf_mode_footer.dev_mode'}}
            {{/if}}
        </OsfButton>
        {{#if this.showUrlInput}}
            {{input type='text' value=this.url enter=(action this.transitionToUrl)}}
        {{/if}}
    </div>
    <BsModal
        @open={{this.showModal}}
        @onHide={{action (mut this.showModal) false}}
        as |modal|
    >
        <modal.header @title={{t 'dev_tools.title'}} />
        <modal.body>
            <BsTab local-class='Tabs' as |tab|>
                <tab.pane @title='Options'>
                    <label>
                        {{input type='checkbox' checked=this.analytics.shouldToastOnEvent}}
                        {{t 'dev_tools.options.toast_events'}}
                    </label>
                    <label>
                        {{input type='checkbox' checked=this.showUrlInput}}
                        {{t 'dev_tools.options.show_url_bar'}}
                    </label>
                </tab.pane>
                <tab.pane @title='Zoom to route'>
                    <ZoomToRoute />
                </tab.pane>
                <tab.pane @title='Features'>
                    <ul local-class='features'>
                        {{#each this.featureList as |feature|}}
                            <li>
                                <label>
                                    {{input
                                        type='checkbox'
                                        click=(action this.toggleFeature feature)
                                        checked=(is-feature-enabled this.features feature)
                                    }}
                                    {{feature}}
                                </label>
                            </li>
                        {{/each}}
                    </ul>
                </tab.pane>
            </BsTab>
        </modal.body>
    </BsModal>
{{/if}}
