<footer local-class='Footer'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12 col-md-8 col-md-offset-2'>
                <p>
                    <span class='copyright'>
                        {{t 'footer.copyright' currentYear=this.currentYear}}
                    </span>
                    <Link
                        @href='{{this.cos}}'
                        @onclick={{action 'click' 'link' 'Footer - cos_io' target=this.analytics}}
                    >
                        {{t 'general.cos'}}
                    </Link>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <Link
                        @href='{{this.termsLink}}'
                        @onclick={{action 'click' 'link' 'Footer - terms' target=this.analytics}}
                    >
                        {{t 'footer.terms'}}
                    </Link>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <Link
                        @href='{{this.privacyPolicyLink}}'
                        @onclick={{action 'click' 'link' 'Footer - privacy' target=this.analytics}}
                    >
                        {{t 'footer.privacy'}}
                    </Link>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <Link
                        @href='{{this.statusPage}}'
                        @onclick={{action 'click' 'link' 'Footer - status' target=this.analytics}}
                    >
                        {{t 'footer.status'}}
                    </Link>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <Link
                        @href='{{this.apiDocs}}'
                        @onclick={{action 'click' 'link' 'Footer - api_docs' target=this.analytics}}
                    >
                        {{t 'general.api'}}
                    </Link>
                    <br>
                    <Link
                        @href='{{this.topGuidelines}}'
                        @onclick={{action 'click' 'link' 'Footer - top' target=this.analytics}}
                    >
                        {{t 'footer.top'}}
                    </Link>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <Link
                        @href='{{this.rpp}}'
                        @onclick={{action 'click' 'link' 'Footer - rpp' target=this.analytics}}
                    >
                        {{t 'footer.rpp'}}
                    </Link>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <Link
                        @href='{{this.rpcb}}'
                        @onclick={{action 'click' 'link' 'Footer - rpcb' target=this.analytics}}
                    >
                        {{t 'footer.rpcb'}}
                    </Link>
                </p>
                <p>
                    <Link
                        aria-label={{t 'social.twitter'}}
                        @href='{{this.twitter}}'
                        @onclick={{action 'click' 'link' 'Footer - social_twitter' target=this.analytics}}
                    >
                        <i class='fa fa-twitter fa-2x'></i>
                    </Link>
                    <Link
                        aria-label={{t 'social.facebook'}}
                        @href='{{this.facebook}}'
                        @onclick={{action 'click' 'link' 'Footer - social_facebook' target=this.analytics}}
                    >
                        <i class='fa fa-facebook fa-2x'></i>
                    </Link>
                    <Link
                        aria-label={{t 'social.google_group'}}
                        @href='{{this.googleGroup}}'
                        @onclick={{action 'click' 'link' 'Footer - social_google_group' target=this.analytics}}
                    >
                        <i class='fa fa-group fa-2x'></i>
                    </Link>
                    <Link
                        aria-label={{t 'social.github'}}
                        @href='{{this.github}}'
                        @onclick={{action 'click' 'link' 'Footer - social_github' target=this.analytics}}
                    >
                        <i class='fa fa-github fa-2x'></i>
                    </Link>
                </p>
            </div>
        </div>
    </div>
</footer>
