{{page-title this.model.preprint.title replace=false}}


<div local-class='preprints-details-page-container' {{with-branding this.model.brand}}
data-analytics-scope='preprints detail page'
>
    <div local-class='header-container'>
        <div local-class='preprint-title-container'>
            <h1>{{this.model.preprint.title}}</h1>
            {{#unless this.isWithdrawn}}
                <div class='p-b-md edit-preprint-button'>
                    {{#if (and this.userIsContrib (not this.isPendingWithdrawal))}}
                        <OsfLink
                            data-test-edit-preprint-button
                            data-analytics-name='Edit preprint button'
                            local-class='btn btn-primary'
                            @href={{concat this.theme.pathPrefix this.model.preprint.id '/edit'}}
                        >
                            {{this.editButtonLabel}}
                        </OsfLink>
                    {{/if}}
                    <br>
                </div>
            {{/unless}}
        </div>
        <div local-class='preprint-author-container'>
            <h5 local-class='view-authors'>
                <div local-class='detail-header-label'>
                    <strong>{{t 'preprints.detail.header.authors_label'}}</strong>
                </div>
                <ContributorList @model={{this.model.preprint}} @shouldTruncate={{false}} />
            </h5>
        </div>
        {{! removed }}
    </div>
    {{! removed }}
    <div local-class='data-container'>
        {{! removed }}
        <div local-class='data-container-left {{if this.fullScreenMFR 'expanded' 'collapsed'}}'>
            {{#if this.model.preprint.isPreprintOrphan}}
                <Alert
                    @type='warning'
                    @dismissible={{false}}
                    @visible={{true}}
                >
                    {{t 'preprints.detail.orphan_preprint'}}
                </Alert>
            {{else}}
                {{#if this.model.preprint.public}}
                    <FileRenderer
                        @download={{this.model.primaryFile.links.download}}
                        @version={{this.viewedVersion}}
                    />
                    <div local-class='file-description-container'>
                        <div local-class='file-description'>
                            <span>{{t this.dateLabel}}: {{moment-format this.model.dateCreated 'MMMM DD, YYYY'}}</span>
                            {{#if this.isWithdrawn}}
                                | <span>{{t 'preprints.detail.header.withdrawn_on'}}: {{moment-format this.model.dateWithdrawn 'MMMM DD, YYYY'}}</span>
                            {{else}}
                                | <span>{{t 'preprints.detail.header.last_edited'}}: {{moment-format this.model.dateModified 'MMMM DD, YYYY'}}</span>
                            {{/if}}
                        </div>
                        <div local-class='toggle-button'>
                            <Button
                                data-test-toggle-document
                                data-analytics-name='Expand Document'
                                {{on 'click' (action this.expandMFR)}}
                                aria-label={{if this.fullScreenMFR (t 'preprints.detail.collapse') (t 'preprints.detail.expand')}}
                                @type='default'
                            >
                                {{if this.fullScreenMFR (t 'preprints.detail.collapse') (t 'preprints.detail.expand')}}
                                <FaIcon @icon='chevron-{{if this.fullScreenMFR 'left' 'right'}}' /> 
                            </Button>
                        </div>
                    </div>
                {{else}}
                    <Alert
                        @type='warning'
                        @dismissible={{false}}
                        @visible={{true}}
                    >
                        {{t 'preprints.detail.private_preprint_warning' documentType=this.model.provider.documentType.singular supportEmail='support@osf.io'}}
                    </Alert>
                {{/if}}
            {{/if}}
        </div>
        {{#unless this.fullScreenMFR }}
            <div local-class='data-container-right'>
                <div>
                    {{!Download}}
                </div>
                <div>
                    {{!Plaudit }}
                </div>
                <div>
                    <h4>{{t 'preprints.detail.abstract'}}</h4>
                    <p local-class='{{unless this.expandedAbstract 'abstract-truncated'}}'>
                        {{this.description}}
                    </p>
                    {{#if this.hasShortenedDescription}}
                        <Button
                            data-test-toggle-abstract
                            data-analytics-name='Expand Abstract'
                            {{on 'click' (action this.expandAbstract)}}
                            aria-label={{if this.expandedAbstract 'preprints.detail.see_less' 'preprints.detail.see_more'}}
                            @type='default'
                        >
                            {{~t (if this.expandedAbstract 'preprints.detail.see_less' 'preprints.detail.see_more')~}}
                        </Button>
                    {{/if}}
                </div>
                <div>
                    {{!Supplement Materials}}
                </div>
                <div>
                    {{!Preprint DOI}}
                </div>
                {{#if this.model.preprint.articleDoiUrl}}
                    <div>
                        <h4>{{t 'preprints.detail.article_doi'}}</h4>
                        <OsfLink
                            data-test-article-doi
                            data-analytics-name='peer review publication doi'
                            @href={{this.model.preprint.articleDoiUrl}} 
                        >
                            {{extract-doi this.model.preprint.articleDoiUrl}}
                        </OsfLink>
                    </div>
                {{/if}}
                {{#if this.model.preprint.license.name}}
                    <div local-class='license-text'>
                        <h4>{{t 'preprints.detail.license'}}</h4>
                        {{this.model.preprint.license.name}}
                        <span>
                            <FaIcon @icon='chevron-{{if this.showLicenseText 'left' 'right'}}'
                            {{on 'click' (action 'toggleLicenseText') }}
                            /> 
                        </span>
                        {{#if this.showLicenseText}}
                            <pre>{{this.fullLicenseText}}</pre>
                        {{/if}}
                    </div>
                {{/if}}
                <div>
                    {{!Disciplines}}
                </div>
                <div>
                    {{!Tags}}
                </div>
                <div>
                    {{!Original Publication Date}}
                </div>
                <div>
                    {{!Citations}}
                </div>
            </div>
        {{/unless}}
        {{! removed - 1 }}
        {{! removed - 2 }}
    </div>
    {{!END DIV CONTAINER}}
</div>
