{{page-title this.model.preprint.title replace=false}}


<div local-class='preprints-details-page-container' {{with-branding this.model.brand}}
data-analytics-scope='preprints detail page'
>
    <div local-class='header-container'>
        <div local-class='preprint-title-container'>
            <h1>{{this.model.preprint.title}}</h1>
            {{#unless this.isWithdrawn}}
                <div class='p-b-md edit-preprint-button'>
                    {{#if (and this.userIsContrib (not this.isPendingWithdrawal))}}
                        <OsfLink
                            data-test-edit-preprint-button
                            data-analytics-name='Edit preprint button'
                            local-class='btn btn-primary'
                            @href={{concat this.theme.pathPrefix this.model.preprint.id '/edit'}}
                        >
                            {{this.editButtonLabel}}
                        </OsfLink>
                    {{/if}}
                    <br>
                </div>
            {{/unless}}
        </div>
        <div local-class='preprint-author-container'>
            <h5 local-class='view-authors'>
                <div local-class='detail-header-label'>
                    <strong>{{t 'preprints.detail.header.authors_label'}}</strong>
                </div>
                <ContributorList @model={{this.model.preprint}} @shouldTruncate={{false}} />
            </h5>
        </div>
        {{! removed }}
    </div>
    {{! removed }}
    <div local-class='data-container'>
        {{! removed }}
        <div local-class='data-container-left'>
            {{#if this.model.preprint.isPreprintOrphan}}
                <Alert
                    @type='warning'
                    @dismissible={{false}}
                    @visible={{true}}
                >
                    {{t 'preprints.detail.orphan_preprint'}}
                </Alert>
            {{else}}
                {{#if this.model.public}}
                    <FileRenderer
                        @download={{this.model.links.download}}
                        @version={{this.viewedVersion}}
                    />

                    {{! preprint-file-renderer provider=this.model.provider preprint=this.model primaryFile=this.primaryFile}}
                    <div>
                        <span>{{t this.dateLabel}}: {{moment-format this.model.dateCreated 'MMMM DD, YYYY'}}</span>
                        {{#if this.isWithdrawn}}
                            | <span>{{t 'preprint.detail.header.withdrawn_on'}}: {{moment-format this.model.dateWithdrawn 'MMMM DD, YYYY'}}</span>
                        {{else}}
                            | <span>{{t 'preprint.detail.header.last_edited'}}: {{moment-format this.model.dateModified 'MMMM DD, YYYY'}}</span>
                        {{/if}}
                    </div>
                    <button
                        type='button'
                        class='expand-mfr-carrot hidden-xs hidden-sm'
                        {{action 'expandMFR'}}
                        aria-label={{if this.fullScreenMFR (t 'global.collapse') (t 'global.expand')}}
                    >
                        <i class='fa fa-chevron-{{if this.fullScreenMFR 'left' 'right'}}'></i>
                    </button>
                {{else}}
                    <Alert
                        @type='warning'
                        @dismissible={{false}}
                        @visible={{true}}
                    >
                        {{t 'preprints.detail.private_preprint_warning' documentType=this.model.provider.documentType.singular supportEmail='support@osf.io'}}
                    </Alert>
                {{/if}}
            {{/if}}
        </div>
        <div local-class='data-container-right'>
            {{! Right}}
        </div>
        {{! removed - 1 }}
        {{! removed - 2 }}
    </div>
    {{!END DIV CONTAINER}}
</div>
