{{title (t 'registries.moderation.submissions.title') prepend=false}}

<BsTab local-class='contentBorder' @customTabs={{true}} as |tab|>
    <BsNav @type='tabs' as |nav|>
        <nav.item @active={{eq tab.activeId 'pending'}}>
            <a role='tab' href='#pending' {{on 'click' (fn tab.select 'pending')}}>
                {{t 'registries.moderation.states.pending'}}
            </a>
        </nav.item>
        <nav.item @active={{eq tab.activeId 'accepted'}}>
            <a role='tab' href='#accepted' {{on 'click' (fn tab.select 'accepted')}}>
                {{t 'registries.moderation.states.accepted'}}
            </a>
        </nav.item>
        <nav.item @active={{eq tab.activeId 'rejected'}}>
            <a role='tab' href='#rejected' {{on 'click' (fn tab.select 'rejected')}}>
                {{t 'registries.moderation.states.rejected'}}
            </a>
        </nav.item>
        <nav.item @active={{eq tab.activeId 'withdrawn'}}>
            <a role='tab' href='#withdrawn' {{on 'click' (fn tab.select 'withdrawn')}}>
                {{t 'registries.moderation.states.withdrawn'}}
            </a>
        </nav.item>
    </BsNav>
    <div class='tab-content'>
        <tab.pane @id='pending' @title='Pending'>
            <p>{{t 'registries.moderation.states.pending'}}</p>
        </tab.pane>
        <tab.pane @id='accepted' @title='Accepted'>
            <p>{{t 'registries.moderation.states.accepted'}}</p>
        </tab.pane>
        <tab.pane @id='rejected' @title='Rejected'>
            <p>{{t 'registries.moderation.states.rejected'}}</p>
        </tab.pane>
        <tab.pane @id='withdrawn' @title='Withdrawn'>
            <p>{{t 'registries.moderation.states.withdrawn'}}</p>
        </tab.pane>
    </div>
</BsTab>
