{{title (t 'registries.moderation.submissions.title') prepend=false}}
{{!-- TODO: Add number of registrations in each state in tab --}}
<RegistrationList::Manager
    local-class='registrationListContainer'
    @provider={{this.model}}
    @filterState={{this.filterState}}
    as |manager|
>
    <div local-class='tabSortingWrapper'>
        <div local-class='tabs'>
            <button
                data-test-submissions-type='pending'
                data-test-is-selected={{if (eq this.filterState 'pending') 'true' 'false'}}
                type='button'
                {{on 'click' (fn this.changeTab 'pending')}}
                local-class='tab {{if (eq this.filterState 'pending') 'selected'}}'
            >
                <FaIcon @icon='hourglass' />
                {{t 'registries.moderation.states.pending'}}
            </button>
            <button
                data-test-submissions-type='accepted'
                data-test-is-selected={{if (eq this.filterState 'accepted') 'true' 'false'}}
                type='button'
                {{on 'click' (fn this.changeTab 'accepted')}}
                local-class='tab {{if (eq this.filterState 'accepted') 'selected'}}'
            >
                <FaIcon @icon='check' />
                {{t 'registries.moderation.states.accepted'}}
            </button>
            <button
                data-test-submissions-type='rejected'
                data-test-is-selected={{if (eq this.filterState 'rejected') 'true' 'false'}}
                type='button'
                {{on 'click' (fn this.changeTab 'rejected')}}
                local-class='tab {{if (eq this.filterState 'rejected') 'selected'}}'
            >
                <FaIcon @icon='times' />
                {{t 'registries.moderation.states.rejected'}}
            </button>
            <button
                data-test-submissions-type='withdrawn'
                data-test-is-selected={{if (eq this.filterState 'withdrawn') 'true' 'false'}}
                type='button'
                {{on 'click' (fn this.changeTab 'withdrawn')}}
                local-class='tab {{if (eq this.filterState 'withdrawn') 'selected'}}'
            >
                <FaIcon @icon='ban' />
                {{t 'registries.moderation.states.withdrawn'}}
            </button>
            <button
                data-test-submissions-type='pending-withdraw'
                data-test-is-selected={{if (eq this.filterState 'pending_withdraw') 'true' 'false'}}
                type='button'
                {{on 'click' (fn this.changeTab 'pending_withdraw')}}
                local-class='tab {{if (eq this.filterState 'pending_withdraw') 'selected'}}'
            >
                <FaIcon @icon='clock-o' />
                {{t 'registries.moderation.states.pendingWithdraw'}}
            </button>
        </div>
        <SortButton
            local-class='sortButton'
            @sortAction={{manager.sortRegistrationsBy}}
            @sort={{manager.sort}}
            @sortBy='date_registered'
        />
    </div>
    <RegistrationList::List @manager={{manager}} />
</RegistrationList::Manager>
