{{title (t 'registries.moderation.submissions.title') prepend=false}}
{{!-- TODO: Add number of registrations in each state in tab --}}
<RegistrationList::Manager
    @provider={{this.model}}
    @filterState={{this.filterState}}
    as |manager|
>
    <div local-class='tabWrapper'>
        <div local-class='tabs'>
            <button
                type='button'
                {{on 'click' (fn this.changeTab 'pending')}}
            >
                <FaIcon @icon='hourglass' />
                {{t 'registries.moderation.states.pending'}}
            </button>
            <button
                type='button'
                {{on 'click' (fn this.changeTab 'accepted')}}
            >
                <FaIcon @icon='check-circle-o' />
                {{t 'registries.moderation.states.accepted'}}
            </button>
            <button
                type='button'
                {{on 'click' (fn this.changeTab 'rejected')}}
            >
                <FaIcon @icon='times' />
                {{t 'registries.moderation.states.rejected'}}
            </button>
            <button
                type='button'
                {{on 'click' (fn this.changeTab 'withdrawn')}}
            >
                <FaIcon @icon='ban' />
                {{t 'registries.moderation.states.withdrawn'}}
            </button>
        </div>
        <SortButton
            @sortAction={{manager.sortRegistrationsBy}}
            @sort={{manager.sort}}
            @sortBy='date_registered'
            local-class='sortButton'
        />
    </div>
    <div class='tab-content'>
        <RegistrationList::List @manager={{manager}} />
    </div>
</RegistrationList::Manager>
