{{title (t 'registries.moderation.submissions.title') prepend=false}}
{{!-- TODO: Add number of registrations in each state in tab --}}
<BsTab local-class='contentBorder' @customTabs={{true}} @onChange={{this.changeTab}} as |tab|>
    <BsNav @type='tabs' as |nav|>
        <nav.item @active={{eq tab.activeId 'pending'}}>
            <a role='tab' href='#pending' {{on 'click' (fn tab.select 'pending')}}>
                {{t 'registries.moderation.states.pending'}}
            </a>
        </nav.item>
        <nav.item @active={{eq tab.activeId 'accepted'}}>
            <a role='tab' href='#accepted' {{on 'click' (fn tab.select 'accepted')}}>
                {{t 'registries.moderation.states.accepted'}}
            </a>
        </nav.item>
        <nav.item @active={{eq tab.activeId 'rejected'}}>
            <a role='tab' href='#rejected' {{on 'click' (fn tab.select 'rejected')}}>
                {{t 'registries.moderation.states.rejected'}}
            </a>
        </nav.item>
        <nav.item @active={{eq tab.activeId 'withdrawn'}}>
            <a role='tab' href='#withdrawn' {{on 'click' (fn tab.select 'withdrawn')}}>
                {{t 'registries.moderation.states.withdrawn'}}
            </a>
        </nav.item>
    </BsNav>
    <RegistrationList::Manager
        @provider={{this.model}}
        @filterState={{this.filterState}}
        as |manager|
    >
        <div class='tab-content'>
            <RegistrationList::List @manager={{manager}} />
        </div>
    </RegistrationList::Manager>
</BsTab>
