{{title (t 'quickfiles.title' user-name=model.fullName)}}

{{quickfile-nav user=model onQuickfiles=true}}
<div class='Content container'>
    {{#if canEdit}}
        <h5><i>{{t 'quickfiles.description'}}</i></h5>
    {{else}}
        <div style='height:14px;'></div>
    {{/if}}
    {{file-browser user=model openFile=(action 'openFile') dropZoneId='quickfiles-dropzone'}}
</div>

{{feedback-button user=model text=(t 'quickfiles.feedback_dialog_text') pageName=pageName}}
