<div class='osf-nav-wrapper'>
    <nav class='navbar navbar-inverse navbar-fixed-top' id='navbarScope' role='navigation'>
        <div class='container'>
            <div class='navbar-header'>
                {{! template-lint-disable no-implicit-this }}
                <Link
                    data-test-nav-home-link
                    aria-label={{t 'navbar.go_home'}}
                    class='navbar-brand'
                    @route='home'
                >
                    <span class='osf-navbar-logo'></span>
                </Link>
                {{! template-lint-enable no-implicit-this }}
                {{! Current app }}
                <div class='service-name'>
                    <Link
                        @route={{this._activeService.route}}
                        @href={{this._activeService.href}}
                    >
                        <span class='hidden-xs'> {{t 'general.OSF'}} </span>
                        <span class='current-service'><strong>{{this._activeService.name}}</strong></span>
                    </Link>
                </div>

                {{! App list dropdown }}
                <BsDropdown
                    @classNames='dropdown primary-nav'
                    @onShow={{action this.onClickPrimaryDropdown}}
                    as |dd|
                >
                    <dd.toggle
                        aria-label={{t 'navbar.other_views'}}
                        @class={{concat 'btn-link ' (local-class 'PrimaryNav__toggle')}}
                    >
                        {{fa-icon 'caret-down' size='2'}}
                    </dd.toggle>
                    <dd.menu @classNames='dropdown-menu service-dropdown' as |ddm| >
                        {{#each this.services as |service|}}
                            <ddm.item role='menuitem'>
                                <Link
                                    @route={{service.route}}
                                    @href={{service.href}}
                                >
                                    {{t 'general.OSF'}}<b>{{service.name}}</b>
                                </Link>
                            </ddm.item>
                        {{/each}}
                    </dd.menu>
                </BsDropdown>

                {{! Navigation toggle - XS screen }}
                <OsfButton
                    aria-label={{t 'navbar.toggle_secondary'}}
                    local-class='NavbarToggleXS'
                    @class='navbar-toggle collapsed'
                    @onClick={{action 'toggleSecondaryNavigation'}}
                >
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </OsfButton>
            </div>

            {{! Secondary nav links }}
            <BsCollapse
                @classNames='navbar-collapse navbar-right'
                local-class='secondary-navigation'
                @collapsed={{not this.showNavLinks}}
            >
                <ul class='nav navbar-nav' local-class='links'>
                    {{#let (hash
                        links=(component 'osf-navbar/x-links'
                            onLinkClicked=(action 'onLinkClicked')
                        )
                    ) as |ctx|}}
                        {{#if (has-block)}}
                            {{yield ctx}}
                        {{else}}
                            {{ctx.links}}
                        {{/if}}
                    {{/let}}

                    {{osf-navbar/auth-dropdown onLinkClicked=(action 'onLinkClicked') campaign=@campaign}}
                </ul>
            </BsCollapse>
        </div>
    </nav>
</div>
<div local-class='NavBarBuffer'></div>
