<div class="osf-nav-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbarScope" role="navigation">
        <div class="container">
            <div class="navbar-header">
                {{! OSF logo }}
                {{#if inHomeApp}}
                    {{#link-to indexRoute (html-attributes aria-label=(t 'navbar.go_home')) class='navbar-brand'}}
                        <span class="osf-navbar-logo"></span>
                    {{/link-to}}
                {{else}}
                    <a href="/" class="navbar-brand" aria-label={{t 'navbar.go_home'}}>
                        <span class="osf-navbar-logo"></span>
                    </a>
                {{/if}}

                {{! Current app }}
                <div class="service-name">
                    {{#link-to indexRoute click=(action (mut showNavLinks) false)}}
                        <span class="hidden-xs"> {{t 'general.OSF'}} </span>
                        <span class="current-service"><strong>{{currentApp}}</strong></span>
                    {{/link-to}}
                </div>

                {{! App list dropdown }}
                {{#bs-dropdown
                    classNames='dropdown primary-nav'
                    onShow=(action 'onClickPrimaryDropdown')
                    as |dd|
                }}
                    {{#dd.toggle
                        (html-attributes aria-label=(t 'navbar.other_views'))
                        class=(concat 'btn-link ' (local-class 'PrimaryNav__toggle'))
                    }}
                        {{fa-icon 'caret-down' size='2x'}}
                    {{/dd.toggle}}
                    {{#dd.menu classNames='dropdown-menu service-dropdown' as |ddm|}}
                        {{#each osfApps as |app|}}
                            {{#ddm.item (html-attributes role='menuitem')}}
                                {{#if (eq app.name currentApp)}}
                                    {{#link-to indexRoute click=(action 'click' 'link' (concat 'Navbar - ' app.name ) target=analytics) }}
                                        {{t 'general.OSF'}}<b>{{app.name}}</b>
                                    {{/link-to}}
                                {{else}}
                                    <a href="{{app.url}}" onclick={{action 'click' 'link' (concat 'Navbar - ' app.name ) target=analytics }}>
                                        {{t 'general.OSF'}}<b>{{app.name}}</b>
                                    </a>
                                {{/if}}
                            {{/ddm.item}}
                        {{/each}}
                    {{/dd.menu}}
                {{/bs-dropdown}}

                {{! Navigation toggle - XS screen }}
                <a
                    role="button"
                    class="navbar-toggle collapsed"
                    onclick={{action 'toggleSecondaryNavigation'}}
                    aria-label={{t 'navbar.toggle_secondary'}}
                >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>

            {{! Secondary nav links }}
            {{#bs-collapse
                elementId='secondary-navigation'
                classNames='navbar-collapse navbar-right'
                collapsed=(not showNavLinks)
            }}
                <ul class="nav navbar-nav">
                    {{component linksComponent onLinkClick=(action (mut showNavLinks) false)}}
                    {{osf-navbar/auth-dropdown
                        signupUrl=signupUrl
                        loginAction=loginAction
                        redirectUrl=redirectUrl
                        onLinkClicked=(action (mut showNavLinks) false)
                    }}
                </ul>
            {{/bs-collapse}}
        </div>
    </nav>
</div>
<div local-class='NavBarBuffer'></div>
