<div class="osf-nav-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbarScope" role="navigation">
        <div class="container">
            <div class="navbar-header">
                {{#global-link-to 'home' (html-attributes aria-label=(t 'navbar.go_home')) class='navbar-brand'}}
                    <span class="osf-navbar-logo"></span>
                {{/global-link-to}}

                {{! Current app }}
                <div class="service-name">
                    {{#hyper-link _activeService.route}}
                        <span class="hidden-xs"> {{t 'general.OSF'}} </span>
                        <span class="current-service"><strong>{{_activeService.name}}</strong></span>
                    {{/hyper-link}}
                </div>

                {{! App list dropdown }}
                {{#bs-dropdown
                    classNames='dropdown primary-nav'
                    onShow=(action 'onClickPrimaryDropdown')
                    as |dd|
                }}
                    {{#dd.toggle
                        (html-attributes aria-label=(t 'navbar.other_views'))
                        class=(concat 'btn-link ' (local-class 'PrimaryNav__toggle'))
                    }}
                        {{fa-icon 'caret-down' size='2'}}
                    {{/dd.toggle}}
                    {{#dd.menu classNames='dropdown-menu service-dropdown' as |ddm|}}
                        {{#each services as |service|}}
                            {{#ddm.item (html-attributes role='menuitem')}}
                                {{#hyper-link service.route}}
                                    {{t 'general.OSF'}}<b>{{service.name}}</b>
                                {{/hyper-link}}
                            {{/ddm.item}}
                        {{/each}}
                    {{/dd.menu}}
                {{/bs-dropdown}}

                {{! Navigation toggle - XS screen }}
                <a
                    role="button"
                    class="navbar-toggle collapsed"
                    onclick={{action 'toggleSecondaryNavigation'}}
                    aria-label={{t 'navbar.toggle_secondary'}}
                >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>

            {{! Secondary nav links }}
            {{#bs-collapse
                classNames='navbar-collapse navbar-right'
                local-class='secondary-navigation'
                collapsed=(not showNavLinks)
            }}
                <ul class="nav navbar-nav" local-class="links">
                    {{#let (hash links=(component 'osf-navbar/x-links')) as |ctx|}}
                        {{#if hasBlock}}
                            {{yield ctx}}
                        {{else}}
                            {{ctx.links}}
                        {{/if}}
                    {{/let}}

                    {{osf-navbar/auth-dropdown}}
                </ul>
            {{/bs-collapse}}
        </div>
    </nav>
</div>
<div local-class='NavBarBuffer'></div>
