<div data-analytics-scope='Nav bar' class='osf-nav-wrapper'>
    <nav class='navbar navbar-inverse navbar-fixed-top' id='navbarScope'>
        <div class='container'>
            <div class='navbar-header'>
                <OsfLink
                    data-test-nav-home-link
                    data-analytics-name='Home'
                    aria-label={{t 'navbar.go_home'}}
                    class='navbar-brand'
                    @route='home'
                >
                    <span class='osf-navbar-logo'>
                        <img src='/assets/images/global/cos-white2.png' alt={{t 'navbar.osf_logo'}}>
                    </span>
                </OsfLink>
                {{! Current app }}
                <div class='service-name'>
                    <OsfLink
                        data-analytics-name={{this._activeService.name}}
                        @route={{this._activeService.route}}
                        @href={{this._activeService.href}}
                    >
                        <span class='hidden-xs'> {{t 'general.OSF'}} </span>
                        <span class='current-service'><strong>{{this._activeService.name}}</strong></span>
                    </OsfLink>
                </div>

                {{! App list dropdown }}
                <BsDropdown
                    data-analytics-scope='Primary dropdown'
                    class='primary-nav'
                    @onShow={{action this.onClickPrimaryDropdown}}
                    as |dd|
                >
                    <dd.toggle
                        data-test-service-dropdown
                        aria-label={{t 'navbar.other_views'}}
                        @class={{concat 'btn-link ' (local-class 'PrimaryNav__toggle')}}
                    >
                        {{fa-icon 'caret-down' size='2x'}}
                    </dd.toggle>
                    <dd.menu class='service-dropdown' as |ddm|>
                        {{#each this.services as |service|}}
                            <ddm.item role='menuitem'>
                                <OsfLink
                                    data-analytics-name={{service.name}}
                                    @route={{service.route}}
                                    @href={{service.href}}
                                >
                                    {{t 'general.OSF'}}<b>{{service.name}}</b>
                                </OsfLink>
                            </ddm.item>
                        {{/each}}
                    </dd.menu>
                </BsDropdown>

                {{! Navigation toggle - XS screen }}
                <BsButton
                    data-analytics-name='Toggle secondary nav xs'
                    aria-label={{t 'navbar.toggle_secondary'}}
                    local-class='NavbarToggleXS'
                    @class='navbar-toggle collapsed'
                    @onClick={{action 'toggleSecondaryNavigation'}}
                >
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </BsButton>
            </div>

            {{! Secondary nav links }}
            <BsCollapse
                @classNames='navbar-collapse navbar-right'
                local-class='secondary-navigation'
                @collapsed={{not this.showNavLinks}}
            >
                <ul class='nav navbar-nav' local-class='links'>
                    {{#let (hash
                        links=(component 'osf-navbar/x-links'
                            onLinkClicked=(action 'onLinkClicked')
                        )
                    ) as |ctx|}}
                        {{#if (has-block)}}
                            {{yield ctx}}
                        {{else}}
                            {{ctx.links}}
                        {{/if}}
                    {{/let}}

                    {{osf-navbar/auth-dropdown onLinkClicked=(action 'onLinkClicked') campaign=@campaign}}
                </ul>
            </BsCollapse>
        </div>
    </nav>
</div>
<div local-class='NavBarBuffer'></div>
