{{title (t 'quickfiles.title' user-name=this.user.fullName)}}
<div
    data-analytics-scope='Quick files'
    class='container'
>
    <QuickfileNav @user={{this.user}} @onQuickfiles={{true}} />
    <div class='row container' local-class='Content'>
        {{#if this.canEdit}}
            <h5><i>{{t 'quickfiles.description'}}</i></h5>
        {{else}}
            <div style='height: 14px;'></div>
        {{/if}}
        <FileBrowser
            @user={{this.user}}
            @items={{this.files}}
            @filter={{this.filter}}
            @sort={{this.sort}}
            @canEdit={{this.canEdit}}
            @newProject={{this.newProject}}
            @openFile={{action this.openFile}}
            @updateFilter={{perform this.updateFilter}}
            @dropZoneId='quickfiles-dropzone'
            @deleteFiles={{perform this.deleteFiles}}
            @moveFile={{perform this.moveFile}}
            @renameFile={{perform this.renameFile}}
            @addFile={{perform this.addFile}}
        />
    </div>
</div>

<FeedbackButton @text={{t 'quickfiles.feedback_dialog_text'}} @pageName={{this.pageName}} />
