{{title (t 'quickfiles.title' user-name=user.fullName)}}
<div class='container'>
    {{quickfile-nav user=user onQuickfiles=true}}
    <div class='Content container'>
        {{#if canEdit}}
            <h5><i>{{t 'quickfiles.description'}}</i></h5>
        {{else}}
            <div style='height:14px;'></div>
        {{/if}}
        {{file-browser
            user=user
            items=files
            filter=filter
            sort=sort
            canEdit=canEdit
            newProject=newProject
            openFile=(action 'openFile')
            updateFilter=(perform updateFilter)
            dropZoneId='quickfiles-dropzone'
            deleteFiles=(perform deleteFiles)
            moveFile=(perform moveFile)
            renameFile=(perform renameFile)
            addFile=(perform addFile)
        }}
    </div>
</div>

{{feedback-button text=(t 'quickfiles.feedback_dialog_text') pageName=pageName}}
