<FormControls
    @changeset={{this.changeset}}
    as |form|
>
    <div class='col-md-6'>
        <form.text
            data-test-project-metadata-title
            @label={{t 'app_components.project_metadata.field_title_label'}}
            @valuePath='title'
        />
        <br>
        <form.textarea
            data-test-project-metadata-description
            @label={{t 'app_components.project_metadata.field_description_label'}}
            @valuePath='description'
        />
    </div>

    <div class='col-md-6'>
        <LicensePicker
            data-test-project-metadata-license-picker
            @node={{this.node}}
            @form={{form}}
            @placeholder={{t 'general.required'}}
        >
            {{t 'app_components.project_metadata.field_license_label'}}
        </LicensePicker>
        <br>
        <label>
            {{t 'app_components.project_metadata.field_tags_label'}}
            <form.custom
                data-test-project-metadata-tags
                @model={{this.node}}
                @valuePath='tags'
            >
                <TagInput
                    data-test-project-metadata-tag-input
                    @tags={{this.node.tags}}
                    @addTag={{action this.addTag}}
                    @removeTagAtIndex={{action this.removeTagAtIndex}}
                    @allowSpacesInTags={{true}}
                    @placeholder={{t 'osf-components.tags-widget.add_tag'}}
                    @ariaLabel={{t 'osf-components.tags-widget.add_tag'}}
                    aria-label={{t 'file_detail.tags'}}
                    @readOnly={{false}}
                    local-class='tagInput'
                    as |tag|
                >
                    <a
                        data-test-project-metadata-tag={{tag}}
                        href='{{@searchUrl}}?q=(tags:"{{tag}}")'
                        onclick={{action 'click' 'link' 'Collections - Submit - Search by tag' target=this.analytics}}
                    >
                        {{tag}}
                    </a>
                </TagInput>
            </form.custom>
        </label>
    </div>
    <div class='col-xs-12 text-right'>
        <BsButton
            data-test-project-metadata-discard-button
            data-analytics-name='Discard metadata'
            disabled={{form.submitting}}
            @type='default'
            @onClick={{perform this.reset}}
        >
            {{t 'app_components.submit_section.discard'}}
        </BsButton>
        <BsButton
            data-test-project-metadata-save-button
            data-analytics-name='Save metadata'
            disabled={{form.submitting}}
            @onClick={{perform this.save}}
            @buttonType='submit'
            @type='primary'
        >
            {{t 'app_components.submit_section.save'}}
        </BsButton>
    </div>
</FormControls>
