<Panel as |panel|>
    <panel.heading @title={{t 'settings.account.connectedEmails.title'}} />
    <panel.body>
        <div local-class="section-container">
            <h5 local-class="section-header">
                {{t 'settings.account.connectedEmails.primaryEmail'}}
            </h5>
            <div local-class="primary-email">
                {{#if loadPrimaryEmail.isRunning}}
                    <LoadingIndicator local-class="loading-icon" @dark=true @inline=true />
                {{else}}
                    <span data-test-primary-email={{loadPrimaryEmail.lastSuccessful.value.emailAddress}}>
                        {{loadPrimaryEmail.lastSuccessful.value.emailAddress}}
                    </span>
                {{/if}}
            </div>
        </div>
        <div local-class="section-container">
            <h5 local-class="section-header">
                {{t 'settings.account.connectedEmails.alternateEmails'}}
            </h5>
            <span local-class="email-section">
                {{#paginated-list/has-many
                    local-class="email-list"
                    model=this.currentUser.user
                    relationshipName='emails'
                    bindReload=(action (mut this.reloadAlternateList))
                    query=alternateQueryParams
                    usePlaceholders=false
                    analyticsScope='Account Settings - Alternate Emails'
                    as |list|
                }}
                    <list.item as |email|>
                        <div local-class="email-object" class="clearfix">
                            {{#if (not email)}}
                                {{#content-placeholders as |placeholder|}}
                                    {{placeholder.heading subtitle=false}}
                                {{/content-placeholders}}
                            {{else}}
                                <span data-test-alternate-email={{email.emailAddress}}>
                                    {{email.emailAddress}}
                                </span>
                                <div local-class="options">
                                    {{#bs-button data-test-make-primary onClick=(action this.makePrimary email) type='link'}}
                                        {{t 'settings.account.connectedEmails.makePrimary'}}
                                    {{/bs-button}}
                                    {{delete-button
                                        small=true
                                        delete=(action this.removeEmail email)
                                        analyticsScope='Settings - Alternate Emails'
                                        modalTitle=(t 'settings.account.connectedEmails.confirmDelete.title')
                                        modalBody=(t 'settings.account.connectedEmails.confirmDelete.body' emailAddress=email.emailAddress)
                                    }}
                                </div>
                            {{/if}}
                        </div>
                    </list.item>
                {{/paginated-list/has-many}}
            </span>
        </div>
        <div local-class="section-container">
            <h5 local-class="section-header">
                {{t 'settings.account.connectedEmails.unconfirmedEmails'}}
            </h5>
            <span local-class="email-section">
                {{#paginated-list/has-many
                    local-class="email-list"
                    model=this.currentUser.user
                    relationshipName='emails'
                    bindReload=(action (mut this.reloadUnconfirmedList))
                    query=unconfirmedQueryParams
                    usePlaceholders=false
                    analyticsScope='Account Settings - Unconfirmed Emails'
                    as |list|
                }}
                    <list.item as |email|>
                        <div local-class="email-object" class="clearfix" data-test-unconfirmed-email>
                            {{#if (not email)}}
                                {{#content-placeholders as |placeholder|}}
                                    {{placeholder.heading subtitle=false}}
                                {{/content-placeholders}}
                            {{else}}
                                {{email.emailAddress}}
                                <div local-class="options">
                                    {{#bs-button onClick=(action this.resendConfirmation) type='link'}}
                                        {{t 'settings.account.connectedEmails.resendConfirmation'}}
                                    {{/bs-button}}
                                    {{delete-button
                                        small=true
                                        delete=(action this.removeEmail email)
                                        analyticsScope='Settings - Unconfirmed Emails'
                                        modalTitle=(t 'settings.account.connectedEmails.confirmDelete.title')
                                        modalBody=(t 'settings.account.connectedEmails.confirmDelete.body' emailAddress=email.emailAddress)
                                    }}
                                </div>
                            {{/if}}
                        </div>
                    </list.item>
                {{/paginated-list/has-many}}
            </span>
            <p local-class="merge-explanation">
                {{t 'settings.account.connectedEmails.mergeExplanation'}}
            </p>
            {{#validated-model-form
                onSave=(action this.submit)
                onError=(action this.error)
                modelName='userEmail'
                modelProperties=this.modelProperties
                recreateModel=true
                as |form|
            }}
                {{form.text
                    data-test-add-email
                    local-class='input-form'
                    valuePath='emailAddress'
                    placeholder=(t 'settings.account.connectedEmails.placeholderText')
                    ariaLabel=(t 'settings.account.connectedEmails.placeholderText')
                }}
                {{#bs-button data-test-add-email-button buttonType="submit" local-class="add-email-button" type="default"}}
                    {{t 'settings.account.connectedEmails.addEmail'}}
                {{/bs-button}}
            {{/validated-model-form}}
            {{#if modalShown}}
                {{#bs-modal
                    tagName='span'
                    onHide=(action this.toggleModal)
                    as |modal|
                }}
                    {{#modal.header}}
                        <h3 class='modal-title'>{{t 'settings.account.connectedEmails.addEmailModal.title'}}</h3>
                    {{/modal.header}}

                    {{#modal.body}}
                        <p>{{t 'settings.account.connectedEmails.addEmailModal.body' emailAddress=this.lastUserEmail}}</p>
                    {{/modal.body}}

                    {{#modal.footer}}
                        {{bs-button
                            data-test-close-modal
                            onClick=modal.close
                            defaultText=(t 'osf-components.delete-button.cancelButtonText')
                        }}
                    {{/modal.footer}}
                {{/bs-modal}}
            {{/if}}
        </div>
    </panel.body>
</Panel>
