{{page-title (t 'preprints.title')}}

<div local-class='preprints-page-container'>

    {{!HEADER}}
    <div local-class='preprint-header'>
        <BrandedHeader
            @translationParent='preprints'
            @onSearch={{action this.onSearch}}
            @showHelp=true
            as |branded-header|
        >
            <div class='provider-brand' style={{html-safe (concat 'background-image: url(' this.providerAsset '/' this.theme.id '/wide_color.png' ')' )}}></div>
            {{#branded-header.lead}}
                <div>
                    {{html-safe this.theme.provider.description}}
                </div>
                <div>
                    <OsfLink
                        data-test-poweredby-button
                        data-analytics-name='Preprints powered-by button'
                        @href={{concat @host 'preprints'}}
                    >
                        {{t 'preprints.header.powered_by'}}
                    </OsfLink>
                </div>
            {{/branded-header.lead}}
            {{#branded-header.row}}
                {{#if this.theme.provider.allowSubmissions}}
                    <div local-class='submit-container'>
                        <p class='lead'>{{t 'preprints.header.or'}}</p>
                        <OsfLink
                            data-test-submit-button
                            data-analytics-name='Preprints submit button'
                            local-class='btn-info'
                            class='btn btn-success btn-lg preprint-submit-button' 
                            @href={{concat this.theme.pathPrefix 'submit'}}
                        >
                            {{t 'preprints.header.submit_label' documentType=this.theme.provider.content.documentType}}
                        </OsfLink>
                        <div local-class='example-container'>
                            <OsfLink
                                data-test-see-example
                                data-analytics-name='Preprints - See Example'
                                @href={{concat this.routePrefix '/content/' (if this.theme.provider.example this.theme.provider.example 'khbvy')}}
                            >
                                {{t 'preprints.header.example'}}
                            </OsfLink>
                        </div>
                    </div>
                {{/if}}
            {{/branded-header.row}}
        </BrandedHeader>
    </div>
    {{!END HEADER}}

    {{!SUBJECTS}}
    <div local-class='preprint-subjects-container'>
        <div local-class='preprint-subjects-inner-container'>
            <h2>{{#if this.theme.provider.additionalProviders}}
                    {{t 'preprints.subjects.heading.provider'}}
                {{else}}
                    {{if this.theme.provider.hasHighlightedSubjects (t 'preprints.subjects.heading.hasHighlightedSubjects') (t 'preprints.subjects.heading.noHighlightedSubjects')}}
                {{/if}}
            </h2>
            {{#if this.theme.provider.hasHighlightedSubjects}}
                <OsfLink
                    data-test-see-example
                    data-analytics-name='Preprints - See Example'
                    @href={{concat this.routePrefix '/discover/'}}
                >
                    {{t 'preprints.subjects.links.seeAllSubjects'}}
                </OsfLink>
            {{/if}}
            <div local-class='subject-list-container p-lg'>
                {{#if this.theme.provider.additionalProviders}}
                    {{additional-provider-list additionalProviders=this.theme.provider.additionalProviders}}
                {{else}}
                    <Preprints::TaxonomyTopList @list={{this.model.taxonomies}}></Preprints::TaxonomyTopList>
                {{/if}}
            </div>
        </div>
    </div>

    {{#unless this.theme.isProvider}}
        {{!SERVICES}}
        <div class='preprint-tool p-v-md'>
            <div class='container'>
                <div class='row'>
                    <div class='col-xs-12'>
                        <h2>{{t 'preprints.services.top.heading' documentType=this.theme.provider.content.documentType}}</h2>
                        <p class='m-b-lg'>
                            {{t 'preprints.services.top.paragraph' documentType=this.theme.provider.content.documentType}}
                        </p>
                    </div>
                </div>
                <div class='row p-v-md'>
                    <div class='provider-logos'>
                        {{#each this.model.brandedProviders as |provider| }}
                            {{#if (not-eq provider.id this.livedata) }}
                                <a href='{{branded-preprint-url provider}}' title='{{this.provider.name}}' class='provider-logo-item' style={{safe-markup (concat 'background-image: url('' (this.provider-asset provider.id "wide_white.png") '')')}}></a>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class='row p-v-md'>
                    <div class='col-md-12 text-center'>
                        <p class='lead'>
                            {{t 'preprints.services.bottom.p1' documentType=this.theme.provider.content.documentType}}
                            <div class='p-t-sm'>
                                {{t 'preprints.services.bottom.div.line1'}}
                                <a class='source_code_link' href='https://github.com/CenterForOpenScience/ember-preprints'
                                    onclick={{action 'click' 'link' 'Index - GitHub Repo' 'https://github.com/CenterForOpenScience/ember-preprints'}}>
                                    {{t 'preprints.services.bottom.div.linkText1'}}
                                </a>
                                {{t 'preprints.services.bottom.div.line2'}}
                                <a class='source_code_link' href='https://cos.io/our-products/product-roadmap/'
                                    onclick={{action 'click' 'link' 'Index - public roadmap' 'https://cos.io/our-products/product-roadmap/'}}>
                                    {{t 'preprints.services.bottom.div.linkText2'}}
                                </a>
                                {{t 'preprints.services.bottom.div.line3'}}
                            </div>
                        </p>
                        <a href='mailto:contact@osf.io' class='btn btn-info btn-lg' onclick={{action 'contactLink'  @emailHref 'link' 'click' 'Index - contact email'}}>
                            {{t 'prints.services.bottom.contact'}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/unless}}


    {{!ADVISORY GROUP}}
    {{#if this.theme.provider.advisoryBoard.length}}
        <div class='preprint-advisory p-v-md'>
            <div class='container'>
                <div class='row'>
                    {{html-safe this.theme.provider.advisoryBoard 'advisory-board'}}
                </div>
            </div>
        </div>
    {{/if}}
</div>
{{!END INDEX}}
