{{page-title (t 'preprints.title')}}

<div local-class='preprints-page-container'>

    {{!HEADER}}
    <div local-class='preprint-header'>
        <BrandedHeader
            @translationParent='preprints'
            @onSearch={{action this.onSearch}}
            @showHelp=true
            as |branded-header|
        >
            <div class='provider-brand' style={{html-safe (concat 'background-image: url(' this.providerAsset '/' this.theme.id '/wide_color.png' ')' )}}></div>
            {{#branded-header.lead}}
                <div>
                    {{html-safe this.theme.provider.description}}
                </div>
                <div>
                    <OsfLink
                        data-test-poweredby-button
                        data-analytics-name='Preprints powered-by button'
                        @href={{concat @host 'preprints'}}
                    >
                        {{t 'preprints.header.powered_by'}}
                    </OsfLink>
                </div>
            {{/branded-header.lead}}
            {{#branded-header.row}}
                {{#if this.theme.provider.allowSubmissions}}
                    <div local-class='submit-container'>
                        <p class='lead'>{{t 'preprints.header.or'}}</p>
                        <OsfLink
                            data-test-submit-button
                            data-analytics-name='Preprints submit button'
                            local-class='btn-info'
                            class='btn btn-success btn-lg preprint-submit-button' 
                            @href={{concat this.theme.pathPrefix 'submit'}}
                        >
                            {{t 'preprints.header.submit_label' documentType=this.theme.provider.content.documentType}}
                        </OsfLink>
                        <div local-class='example-container'>
                            <OsfLink
                                data-test-see-example
                                data-analytics-name='Preprints - See Example'
                                @href={{concat this.routePrefix '/content/' (if this.theme.provider.example this.theme.provider.example 'khbvy')}}
                            >
                                {{t 'preprints.header.example'}}
                            </OsfLink>
                        </div>
                    </div>
                {{/if}}
            {{/branded-header.row}}
        </BrandedHeader>
    </div>
    {{!END HEADER}}

    {{!SUBJECTS}}
    <div local-class='preprint-subjects-container'>
        <div local-class='preprint-subjects-inner-container'>
            <h2>{{#if this.theme.provider.additionalProviders}}
                    {{t 'preprints.subjects.heading.provider'}}
                {{else}}
                    {{if this.theme.provider.hasHighlightedSubjects (t 'preprints.subjects.heading.hasHighlightedSubjects') (t 'preprints.subjects.heading.noHighlightedSubjects')}}
                {{/if}}
            </h2>
            {{#if this.theme.provider.hasHighlightedSubjects}}
                <OsfLink
                    data-test-see-example
                    data-analytics-name='Preprints - See Example'
                    @href={{concat this.routePrefix '/discover/'}}
                >
                    {{t 'preprints.subjects.links.seeAllSubjects'}}
                </OsfLink>
            {{/if}}
            <div local-class='subject-list-container'>
                {{#if this.theme.provider.additionalProviders}}
                    {{additional-provider-list additionalProviders=this.theme.provider.additionalProviders}}
                {{else}}
                    <Preprints::TaxonomyTopList @list={{this.model.taxonomies}}></Preprints::TaxonomyTopList>
                {{/if}}
            </div>
        </div>
    </div>

    {{#unless this.theme.isProvider}}
        {{!SERVICES}}
        <div local-class='preprint-tool-container'>
            <div local-class='preprint-tool-inner-container'>
                <h2>{{t 'preprints.services.top.heading' documentType=this.theme.provider.documentType.singularCapitalized}}</h2>
                <p localclass='subtitle'>
                    {{t 'preprints.services.top.paragraph' documentType=this.theme.provider.documentType.singular}}
                </p>
                <div local-class='preprint-logos-container'>
                    {{#each this.model.brandedProviders as |provider| }}
                        {{#if (not-eq provider.id this.livedata) }}
                            <OsfLink
                                data-test-see-example
                                data-analytics-name='Preprints - See Example'
                                @href={{concat this.brandedPreprintUrl '/' provider.id }}
                                title='{{provider.name}}'
                                local-class='provider-logo'
                                style={{html-safe (concat 'background-image: url(' this.providerAsset '/' provider.id '/wide_white.png' ')' )}}
                            >
                                {{ provider.name }}
                            </OsfLink>
                        {{/if}}
                    {{/each}}
                </div>
                <div local-class='preprint-contact-container'>
                    <div local-class='lead'>
                        {{t 'preprints.services.bottom.p1' documentType=this.theme.provider.documentType.singular}}
                    </div>
                    <div local-class='lead'>
                        {{t 'preprints.services.bottom.div.line1'}}

                        <OsfLink
                            data-test-github-repo
                            data-analytics-name='Preprints - Index - Github Repo'
                            local-class='links'
                            @href='https://github.com/CenterForOpenScience/ember-preprints'
                        >
                            {{t 'preprints.services.bottom.div.linkText1'}}
                        </OsfLink>
                        
                        {{t 'preprints.services.bottom.div.line2'}}

                        <OsfLink
                            data-test-public-roadmap
                            data-analytics-name='Preprints - Index - Public Roadmap'
                            local-class='links'
                            @href='https://cos.io/our-products/product-roadmap/'
                        >
                            {{t 'preprints.services.bottom.div.linkText2'}}
                        </OsfLink>

                        {{t 'preprints.services.bottom.div.line3'}}
                    </div>
                    <div local-class='contact'>
                        <OsfLink
                            data-test-contact-link
                            data-analytics-name='Preprints - Index - Contact Email'
                            class='btn btn-info btn-lg'
                            @href='mailto:contact@osf.io'
                        >
                            {{t 'preprints.services.bottom.contact'}}
                        </OsfLink>
                    </div>
                </div>
            </div>
        </div>
    {{/unless}}


    {{!ADVISORY GROUP}}
    {{#if this.theme.provider.advisoryBoard.length}}
        <div class='preprint-advisory p-v-md'>
            <div class='container'>
                <div class='row'>
                    {{html-safe this.theme.provider.advisoryBoard 'advisory-board'}}
                </div>
            </div>
        </div>
    {{/if}}
</div>
{{!END INDEX}}
