<ResponsiveDropdown
    @horizontalPosition='left'
    @initiallyOpened={{this.shouldOpenDropdownOnLoad}}
    as |dd|>
    <dd.trigger
        data-analytics-name='Expand state dropdown'
        data-test-state-button
        @class={{local-class 'StateText'}}
    >
        {{this.stateText.buttonText}}
        <FaIcon @icon={{if @isOpen 'caret-up' 'caret-down'}} @fixedWidth={{true}} />
    </dd.trigger>
    <dd.content
        data-test-state-description
        @class={{local-class 'States'}}
    >
        {{#if this.stateText}}
            <div local-class='DescriptionContainer'>
                <FaIcon data-test-state-icon @icon={{this.stateIcon}} @size='4' />
                <div local-class='DescriptionText'>
                    <h4 data-test-state-description-short>{{this.stateText.short}}</h4>
                    <p
                        data-analytics-name='Go to project URL'
                        data-analytics-category='link'
                        data-test-state-description-long
                    >
                        {{this.stateText.long}}
                    </p>
                </div>
            </div>
        {{/if}}
        {{#unless this.shouldHideAdminActions}}
            <div data-test-state-admin-actions local-class='AdminActions'>
                {{#if (eq this.registration.reviewsState 'accepted')}}
                    <RegistriesStates::IsPublic @registration={{@registration}} @closeDropdown={{dd.close}} />
                {{/if}}
                {{#if (eq this.registration.reviewsState 'embargo')}}
                    <RegistriesStates::IsEmbargoed @registration={{@registration}} @closeDropdown={{dd.close}} />
                {{/if}}
            </div>
        {{/unless}}
    </dd.content>
</ResponsiveDropdown>
