<ResponsiveDropdown
    @horizontalPosition='left'
    @initiallyOpened={{this.shouldOpenDropdownOnLoad}}
    as |dd|>
    <dd.trigger
        data-analytics-name='Expand state dropdown'
        data-test-state-button
        @class={{local-class 'Menu__button'}}
    >
        {{registries-states/actions-trigger
            isOpen=dd.isOpen
            registration=@registration
            state=this.registrationState.buttonText
        }}
    </dd.trigger>
    <dd.content
        data-test-state-description
        @class={{local-class 'States'}}
    >
        {{#if this.registrationState}}
            <div local-class='DescriptionContainer'>
                <FaIcon data-test-state-icon @icon={{this.registrationState.icon}} @size='4' />
                <div local-class='DescriptionText'>
                    <h4 data-test-state-description-short>{{this.registrationState.short}}</h4>
                    <p data-test-state-description-long>{{this.registrationState.long}}</p>
                </div>
            </div>
        {{/if}}
        {{#unless this.shouldHideAdminActions}}
            <div data-test-state-admin-actions local-class='AdminActions'>
                {{#if (eq this.registration.state this.public)}}
                    {{registries-states/is-public registration=@registration closeDropdown=dd.close}}
                {{else}}
                    {{registries-states/is-embargoed registration=@registration closeDropdown=dd.close}}
                {{/if}}
            </div>
        {{/unless}}
    </dd.content>
</ResponsiveDropdown>
