{{!-- template-lint-disable no-bare-strings --}}
<OsfLayout 
    @backgroundClass='search-page'
as |layout|>
    <layout.heading local-class='heading-wrapper'>
        <form role='search'>
            <label
                for='search-input'
                local-class='heading-label'
            >
                <h1>{{t 'search.search_header'}}</h1>
            </label>
            <span local-class='search-input-wrapper'>
                <Input
                    local-class='search-input'
                    id='search-input'
                    @type='search'
                    @placeholder={{t 'search.textbox_placeholder'}}
                    @value={{this.q}}
                    {{on 'keydown' this.onKeyPress}}
                />
                <Button
                    local-class='search-button'
                    aria-label={{t 'search.search_button_label'}}
                    @type='primary'
                    @layout='large'
                    {{on 'click' this.doSearch}}
                >
                    <FaIcon @icon='search' />
                </Button>
            </span>
        </form>

        {{#if this.showSidenavToggle}}
            <Button
                aria-label={{t 'search.toggle_sidenav'}}
                local-class='sidenav-toggle'
                {{on 'click' layout.toggleSidenav}}
            >
                <FaIcon @icon='bars' />
            </Button>
        {{/if}}
    </layout.heading>
    <layout.left local-class='left-panel'>
        {{!-- Object type filter dropdown if we are in mobile --}}
        <h2>{{t 'search.left_panel.header'}}</h2>
        {{#if this.activeFilters.length}}
            <ul local-class='active-filter-list'>
                {{#each this.activeFilters as |filter|}}
                    <li local-class='active-filter-item'>
                        <span>
                            {{filter.key}} |
                            {{filter.value}}
                        </span>
                        <Button
                            aria-label={{t 'search.remove_filter' key=filter.key value=filter.value}}
                            @layout='fake-link'
                            {{on 'click' (fn this.toggleFilter filter)}}
                        >
                            <FaIcon @icon='times' />
                        </Button>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        {{#each this.filterableProperties as |filterableProperty|}}
            {{#let filterableProperty.metadataRecord as |propertyRecord|}}
                <Search::-Components::FilterFacet
                    @recordSearchText={{this.q}}
                    @recordSearchFilters={{this.activeFilters}}
                    @propertyRecord={{propertyRecord}}
                    @propertySearch={{filterableProperty}}
                    @toggleFilter={{this.toggleFilter}}
                />
            {{/let}}
        {{else}}
            {{t 'search.left_panel.no_filterable_properties'}}
        {{/each}}
    </layout.left>
    <layout.main>
        Main
        {{!-- placeholder if no search term (maybe) --}}
        {{!-- object type filtering tabs if desktop--}}
        {{!-- search cards --}}
        {{!-- sort dropdown --}}
        {{!-- paginator --}}
    </layout.main>
</OsfLayout>
