{{! template-lint-disable no-duplicate-landmark-elements --}}
{{page-title (t 'search.page-title')}}
<OsfLayout
    @backgroundClass='search-page'
as |layout|>
    {{#let (unique-id 'heading') as |headingWrapper|}}
        <div id={{headingWrapper}}>
            <layout.heading local-class='heading-wrapper'>
                <label
                    for='search-input'
                    local-class='heading-label'
                >
                    <h1>{{t 'search.search-header'}}</h1>
                </label>
                <span local-class='search-input-wrapper'>
                    <Input
                        local-class='search-input'
                        id='search-input'
                        @type='search'
                        @placeholder={{t 'search.textbox-placeholder'}}
                        @value={{this.seachBoxText}}
                        @enter={{perform this.doDebounceSearch}}
                    />
                    <Button
                        data-test-search-submit
                        data-analytics-name='search button'
                        local-class='search-button'
                        aria-label={{t 'search.search-button-label'}}
                        @type='primary'
                        @layout='large'
                        {{on 'click' (perform this.doDebounceSearch)}}
                    >
                        <FaIcon @icon='search' />
                    </Button>
                    {{#if this.showSidePanelToggle}}
                        <Button
                            data-test-start-help
                            data-analytics-name='search help'
                            local-class='help-button'
                            aria-label={{t 'search.search-help-label'}}
                            @type='primary'
                            @layout='large'
                            {{on 'click' (queue
                                (fn (mut this.showTooltipMobile3) false)
                                (fn (mut this.showTooltipMobile2) false)
                                (fn (mut this.showTooltipMobile1) true)
                            )}}
                        >
                            <FaIcon @icon='question' />
                        </Button>
                    {{else}}
                        <Button
                            data-test-start-help
                            data-analytics-name='search help'
                            local-class='help-button'
                            aria-label={{t 'search.search-help-label'}}
                            @type='primary'
                            @layout='large'
                            {{on 'click' (queue
                                (fn (mut this.showTooltip3) false)
                                (fn (mut this.showTooltip2) false)
                                (fn (mut this.showTooltip1) true)
                            )}}
                        >
                            <FaIcon @icon='question' />
                        </Button>
                    {{/if}}
                </span>
                {{#if this.showSidePanelToggle}}
                    <Button
                        data-test-toggle-side-panel
                        data-analytics-name='toggle side panel'
                        aria-label={{t 'search.toggle-sidenav'}}
                        local-class='sidenav-toggle'
                        {{on 'click' layout.toggleSidenav}}
                    >
                        <FaIcon @icon='bars' />
                    </Button>
                {{/if}}
            </layout.heading>
        </div>
        {{#if this.showSidePanelToggle}}
            <EmberPopover
                data-test-search-help-mobile-1
                @targetId={{headingWrapper}}
                @tooltipClass={{local-class 'search-help-tutorial-1'}}
                @innerClass={{'search-help-tutorial-inner'}}
                @isShown={{this.showTooltipMobile1}}
                @event='none'
                @side='bottom'
                @spacing={{10}}
            >
                <aside local-class='help-content'>
                    <h2 local-class='search-help-header' data-test-help-heading-1>
                        {{t 'search.search-help.header-1'}}
                    </h2>
                    <p data-test-help-body-1>{{t 'search.search-help.body-1'}}</p>
                    <span local-class='pagination'>
                        <p local-class='enumeration' data-test-help-enumeration-1>{{t 'search.search-help.index-1'}}</p>
                        <span>
                            <Button
                                data-test-help-skip-1
                                local-class='skip-button'
                                onclick={{fn (mut this.showTooltipMobile1) false}}
                            >
                                {{t 'search.search-help.footer.skip'}}
                            </Button>
                            <Button
                                data-test-help-next-1
                                local-class='next-button'
                                onclick={{queue
                                    (fn (mut this.showTooltipMobile1) false)
                                    (fn (mut this.showTooltipMobile2) true)
                                }}
                            >
                                {{t 'search.search-help.footer.next'}}
                            </Button>
                        </span>
                    </span>
                </aside>
            </EmberPopover>
            <EmberPopover
                data-test-search-help-mobile-2
                @targetId={{headingWrapper}}
                @tooltipClass={{local-class 'search-help-tutorial-2'}}
                @innerClass={{'search-help-tutorial-inner'}}
                @isShown={{this.showTooltipMobile2}}
                @event='none'
                @side='bottom'
                @spacing={{10}}
            >
                <aside local-class='help-content'>
                    <h2 local-class='search-help-header' data-test-help-heading-2>
                        {{t 'search.search-help.header-2'}}
                    </h2>
                    <p data-test-help-body-2>{{t 'search.search-help.body-2'}}</p>
                    <span local-class='pagination'>
                        <p local-class='enumeration' data-test-help-enumeration-2>{{t 'search.search-help.index-2'}}</p>
                        <span>
                            <Button
                                data-test-help-skip-2
                                local-class='skip-button'
                                onclick={{fn (mut this.showTooltipMobile2) false}}
                            >
                                {{t 'search.search-help.footer.skip'}}
                            </Button>
                            <Button
                                data-test-help-next-2
                                local-class='next-button'
                                onclick={{queue
                                    (fn (mut this.showTooltipMobile2) false)
                                    (fn (mut this.showTooltipMobile3) true)
                                }}
                            >
                                {{t 'search.search-help.footer.next'}}
                            </Button>
                        </span>
                    </span>
                </aside>
            </EmberPopover>
            <EmberPopover
                data-test-search-help-mobile-3
                @targetId={{headingWrapper}}
                @tooltipClass={{local-class 'search-help-tutorial-3'}}
                @innerClass={{'search-help-tutorial-inner'}}
                @isShown={{this.showTooltipMobile3}}
                @event='none'
                @side='bottom'
                @spacing={{10}}
            >
                <aside local-class='help-content'>
                    <h2 local-class='search-help-header' data-test-help-heading-3>
                        {{t 'search.search-help.header-3'}}
                    </h2>
                    <p data-test-help-body-3>{{t 'search.search-help.body-3'}}</p>
                    <span local-class='pagination'>
                        <p local-class='enumeration' data-test-help-enumeration-3>{{t 'search.search-help.index-3'}}</p>
                        <span>
                            <Button
                                data-test-help-done
                                local-class='next-button'
                                onclick={{fn (mut this.showTooltipMobile3) false}}
                            >
                                {{t 'search.search-help.footer.done'}}
                            </Button>
                        </span>
                    </span>
                </aside>
            </EmberPopover>
        {{/if}}
    {{/let}}
    <layout.left
        data-analytics-scope='Search page left panel'
        local-class='left-panel'
    >
        {{#let (unique-id 'two') as |twoId|}}
            <h2 id={{twoId}}>{{t 'search.left-panel.header'}}</h2>
            <EmberPopover
                data-test-search-help-2
                @targetId={{twoId}}
                @tooltipClass={{local-class 'search-help-tutorial-2'}}
                @innerClass={{'search-help-tutorial-inner'}}
                @isShown={{this.showTooltip2}}
                @event='none'
                @side='right'
                @spacing={{20}}
            >
                <aside local-class='help-content'>
                    <h2 local-class='search-help-header' data-test-help-heading-2>
                        {{t 'search.search-help.header-2'}}
                    </h2>
                    <p data-test-help-body-2>{{t 'search.search-help.body-2'}}</p>
                    <span local-class='pagination'>
                        <p local-class='enumeration' data-test-help-enumeration-2>{{t 'search.search-help.index-2'}}</p>
                        <span>
                            <Button
                                data-test-help-skip-2
                                local-class='skip-button'
                                onclick={{fn (mut this.showTooltip2) false}}
                            >
                                {{t 'search.search-help.footer.skip'}}
                            </Button>
                            <Button
                                data-test-help-next-2
                                local-class='next-button'
                                onclick={{queue
                                    (fn (mut this.showTooltip2) false)
                                    (fn (mut this.showTooltip3) true)
                                }}
                            >
                                {{t 'search.search-help.footer.next'}}
                            </Button>
                        </span>
                    </span>
                </aside>
            </EmberPopover>
        {{/let}}
        {{#if this.showSidePanelToggle}}
            <div data-test-left-panel-object-type-dropdown>
                <label>
                    {{t 'search.resource-type.search-by'}}
                    <PowerSelect @options={{this.resourceTypeOptions}} @selected={{this.selectedResourceTypeOption}}
                        @onChange={{this.updateResourceType}} as |resourceType|>
                        {{resourceType.display}}
                    </PowerSelect>
                </label>
            </div>
            <div data-test-left-panel-sort-dropdown>
                <label>
                    {{t 'search.sort.sort-by'}}
                    <PowerSelect @options={{this.sortOptions}} @selected={{this.selectedSortOption}}
                        @onChange={{this.updateSort}} as |sortOption|>
                        {{sortOption.display}}
                    </PowerSelect>
                </label>
            </div>
        {{/if}}
        {{#if this.activeFilters.length}}
            <ul local-class='active-filter-list'>
                {{#each this.activeFilters as |filter|}}
                    <li
                        data-test-active-filter='{{filter.property}}-{{filter.value}}'
                        local-class='active-filter-item'
                    >
                        <span>
                            {{filter.property}}:
                            {{filter.value}}
                        </span>
                        <Button
                            data-analytics-name='remove filter'
                            data-test-remove-active-filter='{{filter.property}}-{{filter.value}}'
                            aria-label={{t 'search.active-filters.remove-filter' property=filter.property value=filter.value}}
                            @layout='fake-link'
                            {{on 'click' (fn this.toggleFilter filter)}}
                        >
                            <FaIcon @icon='times' />
                        </Button>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        {{#each this.filterableProperties as |filterableProperty index|}}
            {{#if (eq index 0)}}
                {{#let filterableProperty.indexCard as |propertyCard|}}
                    {{#let (unique-id 'three') as |threeId|}}
                        <div id={{threeId}}>
                            <Search::-Components::FilterFacet
                                @cardSearchText={{this.q}}
                                @cardSearchFilters={{this.activeFilters}}
                                @propertyCard={{propertyCard}}
                                @propertySearch={{filterableProperty}}
                                @toggleFilter={{this.toggleFilter}}
                            />
                            <EmberPopover
                                data-test-search-help-3
                                @targetId={{threeId}}
                                @tooltipClass={{local-class 'search-help-tutorial-3'}}
                                @innerClass={{'search-help-tutorial-inner'}}
                                @isShown={{this.showTooltip3}}
                                @event='none'
                                @side='right'
                                @spacing={{20}}
                            >
                                <aside local-class='help-content'>
                                    <h2 local-class='search-help-header' data-test-help-heading-3>
                                        {{t 'search.search-help.header-3'}}
                                    </h2>
                                    <p data-test-help-body-3>{{t 'search.search-help.body-3'}}</p>
                                    <span local-class='pagination'>
                                        <p local-class='enumeration' data-test-help-enumeration-3>{{t 'search.search-help.index-3'}}</p>
                                        <span>
                                            <Button
                                                data-test-help-done
                                                local-class='next-button'
                                                onclick={{fn (mut this.showTooltip3) false}}
                                            >
                                                {{t 'search.search-help.footer.done'}}
                                            </Button>
                                        </span>
                                    </span>
                                </aside>
                            </EmberPopover>
                        </div>
                    {{/let}}
                {{/let}}
            {{else}}
                {{#let filterableProperty.indexCard as |propertyCard|}}
                    <Search::-Components::FilterFacet
                        @cardSearchText={{this.q}}
                        @cardSearchFilters={{this.activeFilters}}
                        @propertyCard={{propertyCard}}
                        @propertySearch={{filterableProperty}}
                        @toggleFilter={{this.toggleFilter}}
                    />
                {{/let}}
            {{/if}}
        {{else}}
            {{t 'search.left-panel.no-filterable-properties'}}
        {{/each}}
    </layout.left>
    <layout.main data-analytics-scope='Search page main'>
        {{!-- paginator --}}
        {{#unless this.showSidePanelToggle}}
            <div local-class='topbar'>
                <nav
                    data-test-topbar-object-type-nav
                    local-class='object-type-nav'
                >
                    <ul>
                        {{#each this.resourceTypeOptions as |resourceType index|}}
                            <li>
                                {{#if (eq index 0)}}
                                    {{#let (unique-id 'one') as |oneId|}}
                                        <div id={{oneId}}>
                                            <LinkTo
                                                data-analytics-name='Object type filter={{resourceType.value}}'
                                                data-test-topbar-object-type-link='{{resourceType.value}}'
                                                local-class='object-type-filter-link'
                                                @route='search'
                                                @query={{hash resourceType=resourceType.value}}
                                                {{on 'click' (fn this.updateResourceType resourceType)}}
                                            >
                                                {{resourceType.display}}
                                            </LinkTo>
                                            <EmberPopover
                                                data-test-search-help-1
                                                @targetId={{oneId}}
                                                @tooltipClass={{local-class 'search-help-tutorial-1'}}
                                                @innerClass={{'search-help-tutorial-inner'}}
                                                @isShown={{this.showTooltip1}}
                                                @event='none'
                                                @side='bottom'
                                                @spacing={{20}}
                                            >
                                                <aside local-class='help-content'>
                                                    <h2 local-class='search-help-header' data-test-help-heading-1>
                                                        {{t 'search.search-help.header-1'}}
                                                    </h2>
                                                    <p data-test-help-body-1>{{t 'search.search-help.body-1'}}</p>
                                                    <span local-class='pagination'>
                                                        <p local-class='enumeration' data-test-help-enumeration-1>{{t 'search.search-help.index-1'}}</p>
                                                        <span>
                                                            <Button
                                                                data-test-help-skip-1
                                                                local-class='skip-button'
                                                                onclick={{fn (mut this.showTooltip1) false}}
                                                            >
                                                                {{t 'search.search-help.footer.skip'}}
                                                            </Button>
                                                            <Button
                                                                data-test-help-next-1
                                                                local-class='next-button'
                                                                onclick={{queue
                                                                    (fn (mut this.showTooltip1) false)
                                                                    (fn (mut this.showTooltip2) true)
                                                                }}
                                                            >
                                                                {{t 'search.search-help.footer.next'}}
                                                            </Button>
                                                        </span>
                                                    </span>
                                                </aside>
                                            </EmberPopover>
                                        </div>
                                    {{/let}}
                                {{else}}
                                    <LinkTo
                                        data-analytics-name='Object type filter={{resourceType.value}}'
                                        data-test-topbar-object-type-link='{{resourceType.value}}'
                                        local-class='object-type-filter-link'
                                        @route='search'
                                        @query={{hash resourceType=resourceType.value}}
                                        {{on 'click' (fn this.updateResourceType resourceType)}}
                                    >
                                        {{resourceType.display}}
                                    </LinkTo>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </nav>
                <div
                    data-test-topbar-sort-dropdown
                    local-class='sort-dropdown'
                >
                    <PowerSelect
                        @options={{this.sortOptions}}
                        @selected={{this.selectedSortOption}}
                        @onChange={{this.updateSort}}
                        as |sortOption|
                    >
                        {{sortOption.display}}
                    </PowerSelect>
                </div>
            </div>
        {{/unless}}
    </layout.main>
</OsfLayout>
