{{! template-lint-disable no-duplicate-landmark-elements --}}
{{page-title (t 'search.page-title')}}
<OsfLayout
    @backgroundClass='search-page'
as |layout|>
    <layout.heading local-class='heading-wrapper'>
        <label
            for='search-input'
            local-class='heading-label'
        >
            <h1>{{t 'search.search-header'}}</h1>
        </label>
        <span local-class='search-input-wrapper'>
            <Input
                local-class='search-input'
                id='search-input'
                @type='search'
                @placeholder={{t 'search.textbox-placeholder'}}
                @value={{this.seachBoxText}}
                @enter={{perform this.doDebounceSearch}}
            />
            <Button
                data-test-search-submit
                data-analytics-name='search button'
                local-class='search-button'
                aria-label={{t 'search.search-button-label'}}
                @type='primary'
                @layout='large'
                {{on 'click' (perform this.doDebounceSearch)}}
            >
                <FaIcon @icon='search' />
            </Button>
            <Button
                data-test-search-help
                data-analytics-name='search help'
                local-class='help-button'
                aria-label={{t 'search.search-help-label'}}
                @type='primary'
                @layout='large'
                {{on 'click' (perform this.displayHelp)}}
            >
                <FaIcon @icon='question' />
            </Button>
        </span>
        {{#if this.showSidePanelToggle}}
            <Button
                data-test-toggle-side-panel
                data-analytics-name='toggle side panel'
                aria-label={{t 'search.toggle-sidenav'}}
                local-class='sidenav-toggle'
                {{on 'click' layout.toggleSidenav}}
            >
                <FaIcon @icon='bars' />
            </Button>
        {{/if}}
    </layout.heading>
    <layout.left
        data-analytics-scope='Search page left panel'
        local-class='left-panel'
    >
        <h2>{{t 'search.left-panel.header'}}</h2>
        {{#if this.showSidePanelToggle}}
            <div data-test-left-panel-object-type-dropdown>
                <label>
                    {{t 'search.resource-type.search-by'}}
                    <PowerSelect @options={{this.resourceTypeOptions}} @selected={{this.selectedResourceTypeOption}}
                        @onChange={{this.updateResourceType}} as |resourceType|>
                        {{resourceType.display}}
                    </PowerSelect>
                </label>
            </div>
            <div data-test-left-panel-sort-dropdown>
                <label>
                    {{t 'search.sort.sort-by'}}
                    <PowerSelect @options={{this.sortOptions}} @selected={{this.selectedSortOption}}
                        @onChange={{this.updateSort}} as |sortOption|>
                        {{sortOption.display}}
                    </PowerSelect>
                </label>
            </div>
        {{/if}}
        {{#if this.activeFilters.length}}
            <ul local-class='active-filter-list'>
                {{#each this.activeFilters as |filter|}}
                    <li
                        data-test-active-filter='{{filter.property}}-{{filter.value}}'
                        local-class='active-filter-item'
                    >
                        <span>
                            {{filter.property}}
                            {{filter.value}}
                        </span>
                        <Button
                            data-analytics-name='remove filter'
                            data-test-remove-active-filter='{{filter.property}}-{{filter.value}}'
                            aria-label={{t 'search.active-filters.remove-filter' property=filter.property value=filter.value}}
                            @layout='fake-link'
                            {{on 'click' (fn this.toggleFilter filter)}}
                        >
                            <FaIcon @icon='times' />
                        </Button>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        {{#each this.filterableProperties as |filterableProperty index|}}
            {{#if (eq index 1)}}
                {{#let filterableProperty.indexCard as |propertyCard|}}
                    <div id='fundersFilter'>
                        <Search::-Components::FilterFacet
                            @cardSearchText={{this.q}}
                            @cardSearchFilters={{this.activeFilters}}
                            @propertyCard={{propertyCard}}
                            @propertySearch={{filterableProperty}}
                            @toggleFilter={{this.toggleFilter}}
                            @event='click'
                        />
                    </div>
                {{/let}}
                {{!-- template-lint-disable no-heading-inside-button --}}
                <EmberPopover
                    data-test-search-help-2
                    @innerClass='tooltip-wrapper'
                    @targetId='fundersFilter'
                    @side='right'
                    @event='click'
                    local-class='search-help-tutorial'
                    as |popover2|
                >
                    <aside local-class='help-content'>
                        <h2 local-class='search-help-header'>
                            {{t 'search_help.header_2'}}
                        </h2>
                        <p>{{t 'search_help.body_2'}}</p>
                        <span local-class='pagination'>
                            <p local-class='enumeration'>{{t 'search_help.index_2'}}</p>
                            <span>
                                <button type='reset' local-class='skip-button' onClick={{action 'hide' target=popover2}}>{{t 'search_help.footer.skip'}}</button>
                                <button type='submit' name='helpNextButton' local-class='next-button' onClick={{action this.updateHelp 3}}>{{t 'search_help.footer.next'}}</button>
                            </span>
                        </span>
                    </aside>
                </EmberPopover>
                {{!-- template-lint-disable no-heading-inside-button --}}
            {{else if (eq index 4)}}
                {{#let filterableProperty.indexCard as |propertyCard|}}
                    <div id='resourcesFilter'>
                        <Search::-Components::FilterFacet
                            @cardSearchText={{this.q}}
                            @cardSearchFilters={{this.activeFilters}}
                            @propertyCard={{propertyCard}}
                            @propertySearch={{filterableProperty}}
                            @toggleFilter={{this.toggleFilter}}
                            @event='click'
                        />
                    </div>
                {{/let}}
                {{!-- template-lint-disable no-heading-inside-button --}}
                <EmberPopover
                    data-test-search-help-3
                    @innerClass='tooltip-wrapper'
                    @targetId='resourcesFilter'
                    @side='right'
                    @event='click'
                    local-class='search-help-tutorial'
                    as |popover3|
                >
                    <aside local-class='help-content'>
                        <h2 local-class='search-help-header'>
                            {{t 'search_help.header_3'}}
                        </h2>
                        <p>{{t 'search_help.body_3'}}</p>
                        <span local-class='pagination'>
                            <p local-class='enumeration'>{{t 'search_help.index_3'}}</p>
                            <span>
                                <button type='reset' local-class='skip-button' onClick={{action 'hide' target=popover3}}>{{t 'search_help.footer.skip'}}</button>
                                <button type='submit' name='helpNextButton' local-class='next-button' {{action 'hide' target=popover3}}>{{t 'search_help.footer.done'}}</button>
                            </span>
                        </span>
                    </aside>
                </EmberPopover>
                {{!-- template-lint-disable no-heading-inside-button --}}
            {{else}}
                {{#let filterableProperty.indexCard as |propertyCard|}}
                    <Search::-Components::FilterFacet
                        @cardSearchText={{this.q}}
                        @cardSearchFilters={{this.activeFilters}}
                        @propertyCard={{propertyCard}}
                        @propertySearch={{filterableProperty}}
                        @toggleFilter={{this.toggleFilter}}
                    />
                {{/let}}
            {{/if}}
        {{else}}
            {{t 'search.left-panel.no-filterable-properties'}}
        {{/each}}
    </layout.left>
    <layout.main data-analytics-scope='Search page main'>
        {{!-- paginator --}}
        {{#unless this.showSidePanelToggle}}
            <div local-class='topbar'>
                <nav
                    data-test-topbar-object-type-nav
                    local-class='object-type-nav'
                >
                    <ul>
                        {{#each this.resourceTypeOptions as |resourceType index|}}
                            <li>
                                {{#if (eq index 0)}}
                                    <LinkTo
                                        data-analytics-name='Object type filter={{resourceType.value}}'
                                        data-test-topbar-object-type-link='{{resourceType.value}}'
                                        local-class='object-type-filter-link'
                                        @route='search'
                                        id='allItems'
                                        @query={{hash resourceType=resourceType.value}}
                                        {{on 'click' (fn this.updateResourceType resourceType)}}
                                    >
                                        {{resourceType.display}}
                                    </LinkTo>
                                {{else}}
                                    <LinkTo
                                        data-analytics-name='Object type filter={{resourceType.value}}'
                                        data-test-topbar-object-type-link='{{resourceType.value}}'
                                        local-class='object-type-filter-link'
                                        @route='search'
                                        @query={{hash resourceType=resourceType.value}}
                                        {{on 'click' (fn this.updateResourceType resourceType)}}
                                    >
                                        {{resourceType.display}}
                                    </LinkTo>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </nav>
                {{!-- template-lint-disable no-heading-inside-button --}}
                <EmberPopover
                    data-test-search-help-1
                    @innerClass='tooltip-wrapper'
                    @targetId='allItems'
                    @side='bottom'
                    @isShown={{this.showTooltip}}
                    local-class='search-help-tutorial'
                    as |popover1|
                >
                    <aside local-class='help-content'>
                        <h2 local-class='search-help-header'>
                            {{t 'search_help.header_1'}}
                        </h2>
                        <p>{{t 'search_help.body_1'}}</p>
                        <span local-class='pagination'>
                            <p local-class='enumeration'>{{t 'search_help.index_1'}}</p>
                            <span>
                                <button type='reset' local-class='skip-button' onClick={{action 'hide' target=popover1}}>{{t 'search_help.footer.skip'}}</button>
                                <button type='submit' name='helpNextButton' local-class='next-button' onClick={{action this.updateHelp 2}}>{{t 'search_help.footer.next'}}</button>
                            </span>
                        </span>
                    </aside>
                </EmberPopover>
                {{!-- template-lint-disable no-heading-inside-button --}}
                <div
                    data-test-topbar-sort-dropdown
                    local-class='sort-dropdown'
                >
                    <PowerSelect
                        @options={{this.sortOptions}}
                        @selected={{this.selectedSortOption}}
                        @onChange={{this.updateSort}}
                        as |sortOption|
                    >
                        {{sortOption.display}}
                    </PowerSelect>
                </div>
            </div>
        {{/unless}}
    </layout.main>
</OsfLayout>
