{{! template-lint-disable no-bare-strings }}
<div data-test-testimonials-container local-class='container'>
    <header>
        <h1 data-test-testimonials-heading>
            {{t 'osf-components.testimonials.heading'}}
        </h1>
    </header>
    <Carousel as |container|>
        <container.slide data-test-slide-1>
            <div local-class='slide-content'>
                <div>
                    <span local-class='quote'>&quot;</span>
                    <p>
                        {{t 'osf-components.testimonials.slide_1.text'}}
                    </p>
                    <p local-class='description'>
                        <span local-class='description-bold'>
                            {{t 'osf-components.testimonials.slide_1.description.name'}}
                        </span>
                        <span>
                            {{t 'osf-components.testimonials.slide_1.description.position'}}
                        </span>
                        <span local-class='description-bold'>
                            <OsfLink
                                data-analytics-name='noteworthy_search'
                                @href='/wx9bf/'
                            >
                                {{t 'osf-components.testimonials.see_her_research'}}
                            </OsfLink>
                        </span>
                    </p>
                </div>
                <img
                    local-class='slide-image'
                    src='/assets/images/dashboard/ayala-patricia.png'
                    alt='{{t 'osf-components.testimonials.slide_1.alt'}}'
                >
            </div>
        </container.slide>
        <container.slide data-test-slide-2>
            <div local-class='slide-content'>
                <div>
                    <p local-class='testimonial-small'>
                        <span local-class='quote'>&quot;</span>
                        {{t 'osf-components.testimonials.slide_2.text'}}
                    </p>
                    <p local-class='description'>
                        <span local-class='description-bold'>
                            {{t 'osf-components.testimonials.slide_2.description.name'}}
                        </span>
                        <span>
                            {{t 'osf-components.testimonials.slide_2.description.position'}}
                        </span>
                        <span local-class='description-bold'>
                            <OsfLink
                                data-analytics-name='noteworthy_search'
                                @href='/e9tg8/'
                            >
                                {{t 'osf-components.testimonials.see_her_research'}}
                            </OsfLink>
                        </span>
                    </p>
                </div>
                <img
                    local-class='slide-image image-tall'
                    src='/assets/images/dashboard/maya.png'
                    alt='{{t 'osf-components.testimonials.slide_2.alt'}}'
                >
            </div>
        </container.slide>
        <container.slide data-test-slide-3>
            <div local-class='slide-content'>
                <div>
                    <p local-class='testimonial-small'>
                        <span local-class='quote'>&quot;</span>
                        {{t 'osf-components.testimonials.slide_3.text'}}
                    </p>
                    <p local-class='description'>
                        <span local-class='description-bold'>
                            {{t 'osf-components.testimonials.slide_3.description.name'}}
                        </span>
                        <span>
                            {{t 'osf-components.testimonials.slide_3.description.position'}}
                        </span>
                        <span local-class='description-bold'>
                            <OsfLink
                                data-analytics-name='noteworthy_search'
                                @href='/2u4tf/'
                            >
                                {{t 'osf-components.testimonials.see_his_research'}}
                            </OsfLink>
                        </span>
                    </p>
                </div>
                <img
                    local-class='slide-image'
                    src='/assets/images/dashboard/cohen-phillip.png'
                    alt='{{t 'osf-components.testimonials.slide_3.alt'}}'
                >
            </div>
        </container.slide>
    </Carousel>
</div>