{{!-- template-lint-disable no-bare-strings --}}
<DocsDemo as |demo|>
    {{#if this.node}}
        <demo.example @name='validated-model-form.demo-edit.hbs'>
            <ValidatedModelForm
                @onSave={{action this.onSave}}
                @onWillDestroy={{action this.onWillDestroy}}
                @model={{this.node}}
                @disabled={{this.model.taskInstance.isRunning}}
                @onDirtChange={{this.changeDirtEditForm}}
                as |form|
            >
                <form.text
                    @valuePath='title'
                    @label='Title'
                />
                <form.textarea
                    @valuePath='description'
                    @label='Description'
                />
                <Button
                    {{on 'click' (action form.rollback)}}
                    @disabled={{not form.isDirty}}
                >
                    Cancel
                </Button>
                <Button
                    type='submit'
                    @disabled={{form.disabled}}
                >
                    Save
                </Button>
            </ValidatedModelForm>
        </demo.example>

        <demo.snippet @name='validated-model-form.demo-edit.hbs' />
        <demo.snippet
            @name='validated-model-form.controller.ts'
            @label='controller.ts'
        />
        <demo.snippet
            @name='validated-model-form.route.ts'
            @label='route.ts'
        />
    {{/if}}
</DocsDemo>
{{!-- template-lint-enable no-bare-strings --}}
