<div local-class='withdrawn-container'>
    {{#if @preprint.withdrawalJustification}}
        <div>
            <h4>{{t 'preprints.detail.reason_for_withdrawal'}}</h4>
            <p>
                {{@preprint.withdrawalJustification}}
            </p>
        </div>
    {{/if}}
    <Preprints::-Components::PreprintAbstract @preprint={{@preprint}} />
    <Preprints::-Components::PreprintDoi @preprint={{@preprint}} @provider={{@provider}} />
    <Preprints::-Components::PreprintLicense @preprint={{@preprint}} />
    <Preprints::-Components::PreprintDiscipline @subjects={{@subjects}} />
    <Preprints::-Components::PreprintTag @preprint={{@preprint}} />
</div>