<div local-class='withdrawn-container'>
    {{#if this.preprint.withdrawalJustification}}
        <div>
            <h4>{{t 'preprints.detail.reason_for_withdrawal'}}</h4>
            <p>
                {{this.preprint.withdrawalJustification}}
            </p>
        </div>
    {{/if}}
    <Preprints::-Components::PreprintAbstract @preprint={{this.preprint}} />
    <Preprints::-Components::PreprintDoi @preprint={{this.preprint}} @provider={{this.provider}} />
    <Preprints::-Components::PreprintLicense @preprint={{this.preprint}} />
    <Preprints::-Components::PreprintDiscipline @subjects={{this.subjects}} />
    <Preprints::-Components::PreprintTag @preprint={{this.preprint}} />
</div>