<div local-class='withdrawn-container'>
    {{#if @preprint.withdrawalJustification}}
        <div data-test-withdrawal-justification>
            <h4>{{t 'preprints.detail.reason_for_withdrawal'}}</h4>
            <p data-test-justification>
                {{@preprint.withdrawalJustification}}
            </p>
        </div>
    {{/if}}
    <Preprints::-Components::PreprintAbstract @preprint={{@preprint}} />
    <Preprints::-Components::PreprintDoi @versions={{@versions}} @provider={{@provider}} />
    <Preprints::-Components::PreprintLicense @preprint={{@preprint}} />
    <Preprints::-Components::PreprintDiscipline @subjects={{@subjects}} />
    <Preprints::-Components::PreprintTag @preprint={{@preprint}} />
</div>