<AddonsService::UserAddonsManager
    @user={{this.currentUser.user}}
    as |manager|
>
    {{#if manager.currentListIsLoading}}
        <LoadingIndicator @dark={{true}} />
    {{else}}
        <div local-class='addons-list-wrapper {{if this.isMobile 'mobile'}}'>
            <div
                data-analytics-scope='Addon List Filter'
                local-class='filter-wrapper {{if this.isMobile 'mobile'}}'
            >
                <Input
                    data-test-user-addon-list-filter-input
                    placeholder={{t 'addons.list.filter-placeholder'}}
                    @type='text'
                    @value={{manager.filterText}}
                />
                {{#each manager.possibleFilterTypes as |type|}}
                    <Button
                        data-test-user-addon-list-filter={{type}}
                        data-analytics-name={{t (concat 'addons.list.filter.' type)}}
                        local-class='filter-button {{if (eq manager.activeFilterType type) 'active'}}'
                        @layout='fake-link'
                        {{on 'click' (fn manager.filterByAddonType type)}}
                    >
                        {{t (concat 'addons.list.filter.' type)}}
                    </Button>
                {{/each}}
            </div>
            <div>
                {{#each manager.filteredAddonProviders as |provider|}}
                    <div>
                        {{provider.name}}
                    </div>
                {{else}}
                    {{t 'addons.list.no-results'}}
                {{/each}}
            </div>
        </div>
    {{/if}}

    <ul local-class='configured-addons-wrapper'>
        {{#each manager.currentTypeAuthorizedAccounts as |account|}}
            <li>
                {{account.storageProvider.name}}
                {{account.externalUserDisplayName}}
                <Button
                    @type='destroy'
                    @disabled={{manager.disconnectAddon.isRunning}}
                    local-class='disconnect-button'
                    {{on 'click' (perform manager.disconnectAddon account)}}
                >
                    {{t 'addons.list.disconnect'}}
                </Button>
            </li>
        {{else}}
            <li>{{t 'addons.list.no-authorized-accounts'}}</li>
        {{/each}}
    </ul>
</AddonsService::UserAddonsManager>
