{{page-title (t 'settings.addons.page-title')}}
<div data-analytics-scope='User addons'>
    <AddonsService::UserAddonsManager
        @user={{this.currentUser.user}}
        as |manager|
    >
        {{#if manager.currentListIsLoading}}
            <LoadingIndicator @dark={{true}} />
        {{else}}
            {{#if manager.selectedProvider}}
                <div data-analytics-scope='{{manager.selectedProvider.name}}'>
                    <Button
                        data-test-cancel-setup
                        data-analytics-name='Cancel Setup'
                        local-class='float-right'
                        @layout='fake-link'
                        {{on 'click' manager.cancelSetup}}
                    >
                        {{t 'general.back'}}
                    </Button>
                    {{#if (eq manager.pageMode 'terms')}}
                        <div data-analytics-scope='Terms'>
                            <h3>
                                {{t 'addons.terms.heading' providerName=manager.selectedProvider.provider.name}}
                            </h3>
                            <AddonsService::TermsOfService
                                @provider={{manager.selectedProvider.provider}}
                            />
                            <div local-class='float-right'>
                                <Button
                                    data-test-addon-cancel-button
                                    data-analytics-name='Cancel'
                                    {{on 'click' manager.cancelSetup}}
                                >
                                    {{t 'general.cancel'}}
                                </Button>
                                <Button
                                    @type='primary'
                                    {{on 'click' manager.acceptProviderTerms}}
                                >
                                    {{t 'general.confirm'}}
                                </Button>
                            </div>
                        </div>
                    {{else if (eq manager.pageMode 'accountCreate')}}
                        <div data-analytics-scope='Account Create'>
                            <h3 local-class='page-heading'>
                                {{t 'addons.accountSelect.new-account'}}
                            </h3>
                            <AddonsService::AccountSetupManager
                                @provider={{manager.selectedProvider.provider}}
                                @manager={{manager}}
                                @onConnect={{manager.connectAccount}}
                                @onInput={{manager.onCredentialsInput}}
                            />
                        </div>
                    {{else if (eq manager.pageMode 'accountReconnect')}}
                        <div data-analytics-scope='Account Reconnects'>
                            <h3 local-class='page-heading'>
                                {{t 'addons.accountSelect.reconnect-account'}}
                            </h3>
                            <AddonsService::AccountSetupManager
                                @provider={{manager.selectedProvider.provider}}
                                @manager={{manager}}
                                @onReconnect={{manager.reconnectAccount}}
                                @onInput={{manager.onCredentialsInput}}
                                @reconnect={{true}}
                            />
                        </div>
                    {{/if}}
                </div>
            {{else}}
                <div local-class='tab-wrapper {{if (media 'isMobile') 'mobile'}}'>
                    <div
                        data-analytics-scope='Addon List Filter'
                        local-class='filter-wrapper {{if (media 'isMobile') 'mobile'}}'
                    >
                        <Input
                            data-test-user-addon-list-filter-input
                            placeholder={{t 'addons.list.filter-placeholder'}}
                            @type='text'
                            @value={{manager.filterText}}
                        />
                        {{#each manager.possibleFilterTypes as |type|}}
                            <Button
                                data-test-user-addon-list-filter={{type}}
                                data-analytics-name={{t (concat 'addons.list.filter.' type)}}
                                local-class='filter-button {{if (eq manager.activeFilterType type) 'active'}}'
                                @layout='fake-link'
                                {{on 'click' (fn manager.filterByAddonType type)}}
                            >
                                {{t (concat 'addons.list.filter.' type)}}
                            </Button>
                        {{/each}}
                    </div>
                    <AriaTabs
                        @defaultIndex={{0}}
                        as |tab|
                    >
                        <tab.tabList
                            local-class='tab-list'
                            as |tablist|
                        >
                            <tablist.tab data-analytics-name='All Addons Tab'>{{t 'addons.list.all-addons'}}</tablist.tab>
                            <tablist.tab data-analytics-name='Authorized Accounts Tab'>{{t 'addons.list.authorized-accounts'}}</tablist.tab>
                        </tab.tabList>
                        <tab.tabPanel
                            data-test-all-addons-tab
                            data-analytics-scope='All addons tab'
                            local-class='addons-list-wrapper {{if (media 'isMobile') 'mobile'}}'
                        >
                            <ul local-class='addons-card-wrapper'>
                                {{#each manager.filteredAddonProviders as |provider|}}
                                    <li
                                        data-test-provider={{provider.name}}
                                        local-class='provider-list-item'
                                    >
                                        {{provider.name}}
                                        <span>
                                            <Button
                                                data-analytics-name='Connect Addon Button {{provider.name}}'
                                                @type='create'
                                                {{on 'click' (fn manager.connectNewProviderAccount provider)}}
                                            >
                                                {{t 'general.authorize'}}
                                            </Button>
                                        </span>
                                    </li>
                                {{else}}
                                    <li local-class='provider-list-item'>{{t 'addons.list.no-results'}}</li>
                                {{/each}}
                            </ul>
                        </tab.tabPanel>
                        <tab.tabPanel
                            data-test-authorized-accounts-tab
                            data-analytics-scope='Authorized accounts tab'
                            local-class='addons-list-wrapper {{if (media 'isMobile') 'mobile'}}'
                        >
                            <ul local-class='configured-addons-wrapper'>
                                {{#each manager.currentTypeAuthorizedAccounts as |account|}}
                                    <li local-class='provider-list-item'>
                                        <span>
                                            {{account.displayName}}
                                        </span>
                                        <span local-class='button-wrapper'>
                                            <Button
                                                data-analytics-name='Reconnect account'
                                                @type='primary'
                                                {{on 'click' (fn manager.navigateToReconnectProviderAccount account)}}
                                            >
                                                {{t 'addons.list.reconnect'}}
                                            </Button>
                                            <DeleteButton
                                                @secondary={{true}}
                                                @delete={{perform manager.disconnectAccount account}}
                                                @buttonLabel={{t 'addons.list.disable'}}
                                                @modalTitle={{t 'addons.list.disable-account-header'}}
                                                @modalBody={{t 'addons.list.disable-confirmation'}}
                                                @confirmButtonText={{t 'addons.list.disable'}}
                                            />
                                        </span>
                                    </li>
                                {{else}}
                                    <li local-class='provider-list-item'>{{t 'addons.list.no-authorized-accounts'}}</li>
                                {{/each}}
                            </ul>
                        </tab.tabPanel>
                    </AriaTabs>
                </div>
            {{/if}}
        {{/if}}
    </AddonsService::UserAddonsManager>
</div>