{{#let
    (component 'settings/addons/-components/addon-data')
    (component 'settings/addons/-components/addon-loader')
    (component 'settings/addons/-components/token-addon')
    (component 'settings/addons/-components/credential-addon')
    (component 'settings/addons/-components/key-addon')
    (component 'settings/addons/-components/oauth-addon')
    as |AddonData AddonLoader TokenAddon CredentialAddon KeyAddon OauthAddon|
}}
    <Panel as |panel|>
        <panel.heading @title={{t 'settings.addons.title'}} />
        <panel.body>
            <AddonData
                @models={{models}}
                @loader={{AddonLoader}}
                as |data|
            >
                {{#each data.addons as |addon|}}
                    <div local-class="addon">
                        {{#if (eq addon.auth.type 'token_auth')}}
                            <TokenAddon
                                @addon={{addon}}
                                @userAddons={{data.user.addons}}
                            />
                        {{else if (eq addon.auth.type 'user_auth')}}
                            <CredentialAddon
                                @addon={{addon}}
                                @userAddons={{data.user.addons}}
                            />
                        {{else if (eq addon.auth.type 'key_auth')}}
                            <KeyAddon
                                @addon={{addon}}
                                @userAddons={{data.user.addons}}
                            />
                        {{else}}
                            <OauthAddon
                                @addon={{addon}}
                                @userAddons={{data.user.addons}}
                            />
                        {{/if}}
                    </div>
                {{/each}}
            </AddonData>
        </panel.body>
    </Panel>
{{/let}}
