<div local-class='preprint-state-machine-container  {{if (is-mobile) 'mobile'}}'>
    {{#if (or @manager.onNext.isRunning @manager.onSubmit.isRunning @manager.addProjectFile.isRunning)}}
        <div local-class='spinner-container'>
            <FaIcon @icon='spinner' @pulse={{true}} @size='2x' />
        </div>
    {{/if}}
    {{#if this.isTitleAndAbstractActive}}
        <Preprints::-Components::Submit::titleAndAbstract
            @manager={{@manager}}
        />
    {{/if}}
    {{#if this.isFileActive}}
        <Preprints::-Components::Submit::File
            @manager={{@manager}}
        />
    {{/if}}
    {{#if this.isMetadataActive}}
        <Preprints::-Components::Submit::Metadata
            @manager={{@manager}}
        />
    {{/if}}
    {{#if this.isAuthorAssertionsActive}}
        <Preprints::-Components::Submit::AuthorAssertions
            @manager={{@manager}}
        />
    {{/if}}
    {{#if this.isSupplementsActive}}
        <Preprints::-Components::Submit::Supplements
            @manager={{@manager}}
        />
    {{/if}}
    {{#if this.isReviewActive}}
        <Preprints::-Components::Submit::Review
            @manager={{@manager}}
        />
    {{/if}}
</div>