<OsfDialog
    @isOpen={{@isOpen}}
    @onClose={{action (mut @isOpen) false}}
    @closeOnOutsideClick={{true}}
    as |dialog|
>
    <dialog.heading>
        {{t 'file_detail.resource-help-dialog.heading'}}
    </dialog.heading>
    <dialog.main tabindex='0'>
        {{#if @userCanEdit}}
            {{t 'file_detail.resource-help-dialog.write-permission'
                htmlSafe=true
                parentNodeType=@parentNodeType
            }}
        {{else}}
            {{t 'file_detail.resource-help-dialog.read-only'
                htmlSafe=true
            }}
        {{/if}}
    </dialog.main>
    <dialog.footer>
        <Button
            @type='secondary'
            {{on 'click' dialog.close}}
        >
            {{t 'general.close'}}
        </Button>
    </dialog.footer>
</OsfDialog>
