<div 
    {{!-- did-update will not trigger without listening to manager.description. 'this' is not accessible within setTruncate function --}}
    {{did-insert this.setTruncate @manager.description this}} 
    {{did-update this.setTruncate @manager.description this}} 
    local-class='DescriptionWrapper {{if this.truncateDescription 'hide'}}'>

    {{#if this.shouldTruncate}}
        <div 
            local-class='DescriptionOverlay {{if this.truncateDescription 'collapsed'}}'
        >
        </div>
    {{/if}}

    <span local-class='Description__field' ...attributes>
        {{@manager.description}}
    </span>
</div>

{{#if this.shouldTruncate}}
    <OsfButton
        data-analytics-name='Show full description'
        aria-label={{t (if this.truncateDescription 'registries.registration_metadata.show_more' 'registries.registration_metadata.show_less')}}
        @type='link'
        @onClick={{action this.toggleFullDescription}}
    >
        {{t (if this.truncateDescription 'registries.registration_metadata.show_more' 'registries.registration_metadata.show_less')}}
        <FaIcon @icon='{{if this.truncateDescription 'caret-down' 'caret-up'}}'/>
    </OsfButton>
{{/if}}