<div 
    data-test-node-description-wrapper
    {{did-insert (action this.setTruncate) @manager.description}} 
    {{did-update (action this.setTruncate) @manager.description}} 
    local-class='DescriptionWrapper Description__field {{if this.truncateDescription 'hide'}}'
    ...attributes>

    {{#if this.shouldTruncate}}
        <div 
            data-test-node-description-overlay
            local-class='DescriptionOverlay {{if this.truncateDescription 'collapsed'}}'
        >
        </div>
    {{/if}}

    {{@manager.description}}
</div>

{{#if this.shouldTruncate}}
    <BsButton
        data-test-node-description-button
        data-analytics-name='Show full description'
        aria-label={{t (if this.truncateDescription 'registries.registration_metadata.show_more' 'registries.registration_metadata.show_less')}}
        @type='link'
        @onClick={{action this.toggleFullDescription}}
    >
        {{t (if this.truncateDescription 'registries.registration_metadata.show_more' 'registries.registration_metadata.show_less')}}
        <FaIcon @icon='{{if this.truncateDescription 'caret-down' 'caret-up'}}'/>
    </BsButton>
{{/if}}