<small>
    {{t 'sign_up_policy.p1'}}
    <a href="{{termsLink}}">{{t 'sign_up_policy.terms'}}</a>
    {{t 'sign_up_policy.p2'}}
    <a href="{{privacyPolicyLink}}">{{t 'sign_up_policy.privacy_policy'}}</a>
    {{t 'sign_up_policy.p3'}}
    <a href="{{cookiesLink}}">{{t 'sign_up_policy.cookie_use'}}</a>
</small>