{{page-title (t 'registries.moderation.notifications.title') prepend=false}}

<h2>
    {{t 'registries.moderation.notifications.heading'}}
</h2>
<p>
    {{t 'registries.moderation.notifications.paragraph' link=this.userSettingsLink htmlSafe=true}}
</p>

<Subscriptions::Manager
    @subscriptionIds={{this.subscriptionIds}}
    as |manager|
>
    <Subscriptions::List
        @manager={{manager}}
    />
</Subscriptions::Manager>
