<div local-class='cedar-metadata-add-container'>
    {{#if this.save.isRunning}}
        <div local-class='saving-container'>
            <LoadingIndicator @dark={{true}}/>
            {{t 'metadata.add-flow.saving'}}
        </div>
    {{/if}}
    <div local-class='cedar-container'>
        <cedar-embeddable-editor
            {{did-insert this.injectMetadata}}
            local-class='cedar-editor'
            config={{this.cedarConfig}}
            templateObject={{@cedarMetadataTemplate.template}}
        />
    </div>
    <div local-class='action-container'>
        {{#if this.isEdit}}
            <div local-class='cancel-button-container'>
                <Button
                    data-test-cancel-button
                    data-analytics-name='Cancel cedar metadata edit'
                    {{on 'click' this.cancel}}
                >
                    {{ t 'cedar.editor.cancel-button' }}
                </Button>
            </div>
        {{/if}}

        <Button
            local-class='btn btn-success'
            data-test-save-button
            data-analytics-name='Save cedar metadata'
            disabled={{this.save.isRunning}}
            {{on 'click' (perform this.save)}}
        >
            {{ t 'cedar.editor.save-button' }}
        </Button>
    </div>
</div>