<Panel
    data-test-security-panel
    data-analytics-scope='Security Panel'
    local-class='SecurityPanel'
    as |panel|
>
    <panel.heading @title={{t 'settings.account.security.title'}} />
    <panel.body>
        {{#if (or this.loadSettings.isRunning this.saveSettings.isRunning)}}
            <LoadingIndicator @dark={{true}} />
        {{else}}
            <h4>
                <span local-class='HeadingText'>
                    {{t 'settings.account.security.twoFactorAuth'}}
                </span>
            </h4>
            <p data-test-why-two-factor>
                {{t 'settings.account.security.why'}}
            </p>
            {{#if (and this.settings.twoFactorEnabled (not this.settings.twoFactorConfirmed))}}
                <p data-test-2f-important-warning class='bg-danger'>
                    {{t 'settings.account.security.importantWarning'}}
                </p>
                <p data-test-2f-how-to>
                    {{t 'settings.account.security.howTo'}}
                </p>
                <p data-test-2f-once-verified>
                    {{t 'settings.account.security.onceVerified'}}
                </p>
                <p data-test-2f-scan-image>
                    {{t 'settings.account.security.scanImage' secretKey=this.settings.secret htmlSafe=true}}
                </p>
                <QrCode
                    data-test-2f-qr-code
                    @text={{this.keyUri}}
                    @width={{260}}
                    @height={{260}}
                    @correctLevel='L'
                />
                <FormControls
                    data-analytics-scope='Verification form'
                    @changeset={{this.changeset}}
                as |form|>
                    <div>
                        <form.text
                            data-test-verification-code-field
                            @valuePath='twoFactorVerification'
                            @label={{t 'settings.account.security.enterVerification'}}
                        />
                        {{#if this.showError}}
                            <p
                                data-test-verification-error
                                local-class='VerificationError'
                            >
                                {{t 'settings.account.security.verificationFailed'}}
                            </p>
                        {{/if}}
                        <Button
                            data-test-verify-button
                            data-analytics-name='Submit verification'
                            type='submit'
                            disabled={{or this.changeset.isInvalid this.verifySecret.isRunning}}
                            @type='primary'
                            {{on 'click' (perform this.verifySecret)}}
                        >
                            {{t 'settings.account.security.submitVerification'}}
                        </Button>
                        <Button
                            data-test-two-factor-verify-cancel-button
                            data-analytics-name='Cancel verification'
                            {{on 'click' (action this.confirmDisableTwoFactor)}}
                        >
                            {{t 'general.cancel'}}
                        </Button>
                    </div>
                </FormControls>
            {{/if}}
            {{#if (and this.settings.twoFactorEnabled this.settings.twoFactorConfirmed)}}
                <Button
                    data-test-two-factor-disable-button
                    data-analytics-name='Disable two-factor'
                    @type='destroy'
                    {{on 'click' (action this.disableTwoFactor)}}
                >
                    {{t 'settings.account.security.disableTwoFactor'}}
                </Button>
            {{else if (not this.settings.twoFactorEnabled)}}
                <Button
                    data-test-two-factor-enable-button
                    data-analytics-name='Configure two-factor'
                    local-class='EnableButton'
                    {{on 'click' (action this.enableTwoFactor)}}
                >
                    {{t 'settings.account.security.enableTwoFactor'}}
                </Button>
            {{/if}}
        {{/if}}
    </panel.body>
</Panel>

<BsModal
    data-test-confirm-enable-modal
    @open={{this.showEnableWarning}}
    @onHide={{action this.hideDialogs}}
    as |modal|
>
    <modal.header>
        <h4 data-test-confirm-enable-heading>
            {{t 'settings.account.security.enableTwoFactor'}}
        </h4>
    </modal.header>
    <modal.body data-test-confirm-enable-warning>
        {{t 'settings.account.security.enableWarning'}}
    </modal.body>
    <modal.footer data-analytics-scope='Confirm enable two factor modal'>
        <Button
            data-test-enable-warning-cancel
            data-analytics-name='Cancel'
            {{on 'click' (action this.hideDialogs)}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-test-enable-warning-confirm
            data-analytics-name='Enable'
            {{on 'click' (action this.confirmEnableTwoFactor)}}
            @type='primary'
        >
            {{t 'settings.account.security.enableButton'}}
        </Button>
    </modal.footer>
</BsModal>

<BsModal
    data-test-confirm-disable-modal
    @open={{this.showDisableWarning}}
    @onHide={{action this.hideDialogs}}
    as |modal|
>
    <modal.header>
        <h4 data-test-confirm-disable-heading>
            {{t 'settings.account.security.disableTwoFactor'}}
        </h4>
    </modal.header>
    <modal.body data-test-confirm-disable-warning>
        {{t 'settings.account.security.disableWarning'}}
    </modal.body>
    <modal.footer data-analytics-scope='Confirm disable two factor modal'>
        <Button
            data-test-disable-warning-cancel
            data-analytics-name='Cancel'
            {{on 'click' (action this.hideDialogs)}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-test-disable-warning-confirm
            data-analytics-name='Confirm'
            {{on 'click' (action this.confirmDisableTwoFactor)}}
            @type='destroy'
        >
            {{t 'settings.account.security.disableButton'}}
        </Button>
    </modal.footer>
</BsModal>
