<Panel
    data-test-security-panel
    local-class='SecurityPanel'
    as |panel|
>
    <panel.heading @title={{t 'settings.account.security.title'}} />
    <panel.body>
        <h4>
            <span local-class='HeadingText'>
                {{t 'settings.account.security.twoFactorAuth'}}
            </span>
            {{#if this.settings.twoFactorEnabled}}
                <BsButton
                    data-test-two-factor-disable-button
                    @type='danger'
                    @size='xs'
                    @onClick={{action this.disableTwoFactor}}
                >
                    {{t 'settings.account.security.disableTwoFactor'}}
                </BsButton>
            {{else}}
                <BsButton
                    data-test-two-factor-enable-button
                    @onClick={{action this.enableTwoFactor}}
                    local-class='EnableButton'
                    @size='xs'
                >
                    {{t 'settings.account.security.enableTwoFactor'}}
                </BsButton>
            {{/if}}
        </h4>
        <p>
            {{t 'settings.account.security.why'}}
        </p>
        {{#if (and this.settings.twoFactorEnabled (not this.settings.twoFactorConfirmed))}}
            <p class="bg-danger">
                {{t 'settings.account.security.importantWarning'}}
            </p>
            <p>
                {{t 'settings.account.security.howTo'}}
            </p>
            <p>
                {{t 'settings.account.security.onceVerified'}}
            </p>
            <p>
                {{t 'settings.account.security.scanImage' secretKey=this.settings.secret}}
            </p>
            <QrCode
                @text={{this.settings.secret}}
                @width=260
                @height=260
                @correctLevel="L"
            />
            <ValidatedModelForm
                @model={{this.settings}}
                @onSave={{action this.verifySecret}}
                @onError={{action this.verificationError}}
                @analyticsScope={{this.analyticsScope}}
                as |form|
            >
                <div>
                    <form.text
                        data-test-verification-code-field
                        @valuePath='verification'
                        @label={{t 'settings.account.security.enterVerification'}}
                    />
                    {{#if this.showError}}
                        <p local-class='VerificationError'>{{t 'settings.account.security.verificationFailed'}}</p>
                    {{/if}}
                    <BsButton
                        data-test-verify-button
                        @type='primary'
                        @buttonType='submit'
                        @disabled={{form.submitting}}
                    >
                        {{t 'settings.account.security.submitVerification'}}
                    </BsButton>
                </div>
            </ValidatedModelForm>
        {{/if}}
    </panel.body>
</Panel>