<Panel
    data-test-security-panel
    data-analytics-scope='Security Panel'
    local-class='SecurityPanel'
    as |panel|
>
    <panel.heading @title={{t 'settings.account.security.title'}} />
    <panel.body>
        {{#if (or this.loadSettings.isRunning this.saveSettings.isRunning)}}
            <LoadingIndicator @dark={{true}} />
        {{else}}
            <h4>
                <span local-class='HeadingText'>
                    {{t 'settings.account.security.twoFactorAuth'}}
                </span>
            </h4>
            <p data-test-why-two-factor>
                {{t 'settings.account.security.why'}}
            </p>
            {{#if (and this.settings.twoFactorEnabled (not this.settings.twoFactorConfirmed))}}
                <p data-test-2f-important-warning class='bg-danger'>
                    {{t 'settings.account.security.importantWarning'}}
                </p>
                <p data-test-2f-how-to>
                    {{t 'settings.account.security.howTo'}}
                </p>
                <p data-test-2f-once-verified>
                    {{t 'settings.account.security.onceVerified'}}
                </p>
                <p data-test-2f-scan-image>
                    {{t 'settings.account.security.scanImage' secretKey=this.settings.secret}}
                </p>
                <QrCode
                    data-test-2f-qr-code
                    @text={{this.keyUri}}
                    @width={{260}}
                    @height={{260}}
                    @correctLevel='L'
                />
                <ValidatedModelForm
                    data-analytics-scope='Verification form'
                    @model={{this.settings}}
                    @onSave={{action this.verifySecret}}
                    @onError={{action this.verificationError}}
                    as |form|
                >
                    <div>
                        <form.text
                            data-test-verification-code-field
                            @valuePath='twoFactorVerification'
                            @label={{t 'settings.account.security.enterVerification'}}
                        />
                        {{#if this.showError}}
                            <p
                                data-test-verification-error
                                local-class='VerificationError'
                            >
                                {{t 'settings.account.security.verificationFailed'}}
                            </p>
                        {{/if}}
                        <BsButton
                            data-test-verify-button
                            data-analytics-name='Submit verification'
                            @type='primary'
                            @buttonType='submit'
                            @disabled={{form.submitting}}
                        >
                            {{t 'settings.account.security.submitVerification'}}
                        </BsButton>
                        <BsButton
                            data-test-two-factor-verify-cancel-button
                            data-analytics-name='Cancel verification'
                            @onClick={{action this.confirmDisableTwoFactor}}
                        >
                            {{t 'general.cancel'}}
                        </BsButton>
                    </div>
                </ValidatedModelForm>
            {{/if}}
            {{#if (and this.settings.twoFactorEnabled this.settings.twoFactorConfirmed)}}
                <BsButton
                    data-test-two-factor-disable-button
                    data-analytics-name='Disable two-factor'
                    @type='danger'
                    @onClick={{action this.disableTwoFactor}}
                >
                    {{t 'settings.account.security.disableTwoFactor'}}
                </BsButton>
            {{else if (not this.settings.twoFactorEnabled)}}
                <BsButton
                    data-test-two-factor-enable-button
                    data-analytics-name='Configure two-factor'
                    local-class='EnableButton'
                    @onClick={{action this.enableTwoFactor}}
                >
                    {{t 'settings.account.security.enableTwoFactor'}}
                </BsButton>
            {{/if}}
        {{/if}}
    </panel.body>
</Panel>

<BsModal
    data-test-confirm-enable-modal
    @open={{this.showEnableWarning}}
    @onHide={{action this.hideDialogs}}
    as |modal|
>
    <modal.header>
        <h4 data-test-confirm-enable-heading>
            {{t 'settings.account.security.enableTwoFactor'}}
        </h4>
    </modal.header>
    <modal.body data-test-confirm-enable-warning>
        {{t 'settings.account.security.enableWarning'}}
    </modal.body>
    <modal.footer data-analytics-scope='Confirm enable two factor modal'>
        <BsButton
            data-test-enable-warning-cancel
            data-analytics-name='Cancel'
            @onClick={{action this.hideDialogs}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        <BsButton
            data-test-enable-warning-confirm
            data-analytics-name='Enable'
            @onClick={{action this.confirmEnableTwoFactor}}
            @type='primary'
        >
            {{t 'settings.account.security.enableButton'}}
        </BsButton>
    </modal.footer>
</BsModal>

<BsModal
    data-test-confirm-disable-modal
    @open={{this.showDisableWarning}}
    @onHide={{action this.hideDialogs}}
    as |modal|
>
    <modal.header>
        <h4 data-test-confirm-disable-heading>
            {{t 'settings.account.security.disableTwoFactor'}}
        </h4>
    </modal.header>
    <modal.body data-test-confirm-disable-warning>
        {{t 'settings.account.security.disableWarning'}}
    </modal.body>
    <modal.footer data-analytics-scope='Confirm disable two factor modal'>
        <BsButton
            data-test-disable-warning-cancel
            data-analytics-name='Cancel'
            @onClick={{action this.hideDialogs}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        <BsButton
            data-test-disable-warning-confirm
            data-analytics-name='Confirm'
            @onClick={{action this.confirmDisableTwoFactor}}
            @type='danger'
        >
            {{t 'settings.account.security.disableButton'}}
        </BsButton>
    </modal.footer>
</BsModal>
