{{#if @href}}
    <a
        href={{@href}}
        onclick={{action 'click' 'link' (concat 'Banner - ' @banner.name) target=this.analytics}}
        target="_blank"
        rel="noopener"
    >
        {{yield}}
    </a>
{{else}}
    {{yield}}
{{/if}}

