<ResponsiveDropdown 
    @horizontalPosition='left' 
    as |dd|
>
    <dd.trigger
        data-analytics-name='Expand update dropdown'
        data-test-trigger-div
        local-class='TriggerDiv'
    >
        <Button 
            data-test-version-dropdown-button 
            data-analytics-name='Show Updates'
            local-class='TriggerButton'
            @type='create'
        >
            {{t 'registries.update_dropdown.dropdown_title'}}
            <FaIcon @icon='caret-down' />
        </Button>
    </dd.trigger>
    <dd.content
        data-test-update-content
        local-class='Updates'
    >
        
        {{#if this.revisions}}
            <div local-class='DropdownText'>
                {{#each this.revisions as |revision|}}
                    <p>{{t 'registries.update_dropdown.updates_list_label'}} {{revision.versionNumber}}</p>
                {{/each}}
            </div>
        {{else}}
            {{t 'registries.update_dropdown.no_revisions'}}
        {{/if}}
    </dd.content>
</ResponsiveDropdown>