<ResponsiveDropdown 
    @horizontalPosition='left'
    @verticalPosition='below'
    local-class='ResponsiveDropdown'
    as |dd|
>
    <dd.trigger
        data-analytics-name='Expand update dropdown'
        data-test-update-button
        local-class='UpdateText'
    >
        {{#if (gt this.selectedRevisionIndex -1)}}
            <Registries::UpdateDropdown::UpdateItem
                @totalRevisions={{this.totalRevisions}}
                @index={{this.selectedRevisionIndex}}
            />
        {{else}}
            {{t 'registries.update_dropdown.dropdown_title'}}
        {{/if}}
        {{fa-icon 'caret-down'}}
    </dd.trigger>
    <dd.content
        data-test-update-content
        local-class='Updates'
    >
        <div data-test-list-view local-class='UpdatesList'>
            {{#if this.revisions}}
                {{#each this.revisions as |revision index|}}
                    <div local-class='UpdateContainer'>
                        <LinkTo @route='overview.index' @query={{hash revisionId=revision.id}} local-class='UpdateLink'>
                            <Registries::UpdateDropdown::UpdateItem
                                @totalRevisions={{this.totalRevisions}}
                                @index={{index}}
                            />
                        </LinkTo>
                    </div>
                {{/each}}
                {{#if this.shouldShowLoadMore}}
                    <div local-class='InfinityLoader' {{in-viewport onEnter=(perform this.getRevisionList)}}>
                        {{t 'registries.update_dropdown.load_more'}}
                    </div>
                {{/if}}
            {{else}}
                {{t 'registries.update_dropdown.no_revisions_error'}}
            {{/if}}
            {{#if this.shouldShowCreateButton}}
                <Button
                    @type='create'
                    {{on 'click' (queue dd.close this.showCreateModal)}}
                >
                    {{t 'general.update'}}
                </Button>
            {{else if this.shouldShowUpdateLink}}
                <LinkTo
                    @route='edit-revision'
                    @model={{@latestRevision.id}}
                >
                    <Button>
                        {{t 'general.update'}}
                    </Button>
                </LinkTo>
            {{/if}}
        </div>
    </dd.content>
</ResponsiveDropdown>

<Registries::NewUpdateModal
    @isOpen={{this.showModal}}
    @onClose={{this.closeCreateModal}}
    @registration={{@registration}}
/>
