<ResponsiveDropdown 
    @horizontalPosition='left' 
    as |dd|
>
    <dd.trigger
        data-analytics-name='Expand update dropdown'
        data-test-state-button
        local-class='UpdateDropdownText'
    >
        <Button data-test-version-dropdown-button data-analytics-name='Show Updates' @type='show'>
            {{t 'registries.update_dropdown.dropdown_title'}}
            <FaIcon @icon='caret-down' />
        </Button>
    </dd.trigger>

    <dd.content
        data-test-update-description
        local-class='Updates'
    >
        {{#if this.revisions}}
            <div local-class='DropdownText'>
                {{#each this.revisions as |revision|}}
                    <p>{{t 'registries.update_dropdown.updates_list_label'}} {{revision.versionNumber}} {{revision.dateCreated}}</p>
                    {{#if (eq this.registration.currentUserPermissions.Admin)}}
                        <div local-class='AdminResponse'>
                            <h3>{{t 'registries.update_dropdown.revision_review_state'}} {{revision.reviewState}}</h3>
                            <BsButton @onclick={{action this.revision.acceptUpdates}}>
                                {{t 'registries.update_dropdown.accept_updates'}}
                            </BsButton>
                            <BsButton @onClick={{action this.needsMoreUpdates}}>
                                {{t 'registries.update_dropdown.needs_more_updates'}}
                            </BsButton>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        {{else}}
            {{t 'registries.update_dropdown.no_revisions'}}
        {{/if}}
    </dd.content>
</ResponsiveDropdown>