<ResponsiveDropdown 
    @horizontalPosition='left'
    @verticalPosition='below'
    local-class='ResponsiveDropdown'
    as |dd|
>
    <dd.trigger
        data-analytics-name='Expand update dropdown'
        data-test-update-button
        local-class='UpdateText'
    >
        {{t 'registries.update_dropdown.dropdown_title'}}
        {{fa-icon 'caret-down'}}
    </dd.trigger>
    <dd.content
        data-test-update-content
        local-class='Updates'
    >
        <div data-test-list-view local-class='UpdatesList'>
            {{#if this.revisions}}
                {{#each this.revisions as |revision|}}
                    <div local-class='UpdateContainer'>
                        <LinkTo @route='overview.index' @query={{hash revisionId=revision.id}} local-class='UpdateLink'>
                            {{#if revision.revisionNumber}}
                                {{t 'registries.update_dropdown.updates_list_label'}} {{revision.revisionNumber}}
                            {{else}}
                                {{t 'registries.update_dropdown.updates_list_label_original'}}
                            {{/if}}
                        </LinkTo>
                    </div>
                {{/each}}
            {{else}}
                {{t 'registries.update_dropdown.no_revisions_error'}}
            {{/if}}
            {{#if @registration.userHasAdminPermission}}
                <Button
                    @type='create'
                    {{on 'click' (perform this.createNewRevision)}}
                >
                    {{t 'general.update'}}
                </Button>
            {{/if}}
        </div>
    </dd.content>
</ResponsiveDropdown>
