<ResponsiveDropdown
    local-class='DownloadShareDropdown {{if (or this.media.isTablet this.media.isMobile) 'MobileDropdownTrigger'}}'
    @renderInPlace={{true}}
    @buttonStyling={{true}}
    @horizontalPosition='right'
    as |dropdown|
>
    <dropdown.trigger
        aria-label={{t 'file_actions_menu.actions' filename=@item.name}} 
        data-test-file-download-share-trigger
        data-analytics-name='File actions'
    >
        <FaIcon @icon='ellipsis-v' />
    </dropdown.trigger>
    <dropdown.content local-class='DropdownList'>
        <OsfLink
            data-test-download-button
            @href={{@item.links.download}}
        >
            <FaIcon @icon='download' />
            {{t 'general.download'}}
        </OsfLink>
        {{#if @item.currentUserCanDelete}}
            <Button @layout='fake-link' local-class='DropdownItem'
                {{on 'click' (fn (mut this.isDeleteModalOpen) true)}}
            >
                <FaIcon @icon='trash-alt' />
                {{t 'osf-components.file-browser.delete'}}
            </Button>
        {{/if}}
        <FileEmbedMenu @file={{@item}} as |dd|>
            <dd.trigger
                data-test-embed-button
                data-analytics-name='Expand embed menu'
                aria-label={{t 'general.embed'}}
                local-class='DropdownItem'
            >
                <FaIcon @icon='file-import' />
                {{t 'general.embed'}}
            </dd.trigger>
        </FileEmbedMenu>
        <SharingIcons::Dropdown
            @title={{@item.name}}
            @description={{@item.name}}
            @hyperlink={{@item.links.html}}
            @showText={{true}}
            as |dd|
        >
            <dd.trigger
                data-test-social-sharing-button
                data-analytics-name='Expand sharing menu'
                aria-label={{t 'general.share'}}
                local-class='DropdownItem'
            >
                <FaIcon @icon='share-alt' />
                {{t 'general.share'}}
            </dd.trigger>
        </SharingIcons::Dropdown>
        {{#if (and @item.currentUserCanDelete @manager)}}
            <Button
                @layout='fake-link'
                local-class='DropdownItem'
                {{on 'click' (action (mut this.moveModalOpen) true)}}
            >
                <FaIcon
                    @icon='arrow-right'
                />
                {{t 'general.move'}}
            </Button>
        {{/if}}
    </dropdown.content>
</ResponsiveDropdown>
<FileActionsMenu::DeleteModal @file={{@item}} @isOpen={{this.isDeleteModalOpen}} @closeModal={{this.closeDeleteModal}} @onDelete={{@onDelete}} />
{{#if (and @item.currentUserCanDelete @manager)}}
    <MoveFileModal
        @isOpen={{this.moveModalOpen}}
        @close={{action (mut this.moveModalOpen) false}}
        @manager={{@manager}}
        @filesToMove={{array @item}}
    />
{{/if}}