<div class="col-xs-12 col-md-5" local-class="col-division-right">
    {{project-contributors/search
        node=node
        contributors=contributors
    }}
</div>
<div class="col-xs-12 col-md-7">
    <h2 local-class="inline">{{t 'app_components.project_contributors.title'}}</h2>
    <i class="fa fa-question-circle">
        {{#bs-popover
            placement='bottom'
            triggerEvents='hover'
            title=(t 'app_components.project_contributors.contributors_popover_title')
        }}
            {{t 'app_components.project_contributors.contributors_popover'}}
        {{/bs-popover}}
    </i>
    <p>{{t 'app_components.project_contributors.instructions'}}</p>
    {{project-contributors/list
        node=node
        contributors=contributors
    }}
</div>
{{submit-section-buttons
    showDiscard=false
    discard=discard
    continue=continue
}}