<div data-test-user-card={{@user.id}}
    local-class='CardContainer'>
    <div data-test-user-card-main local-class='MainSection'>
        <span local-class='CardSection'>
            <img
                data-test-user-gravatar={{@user.id}}
                class='m-r-xs'
                src={{@user.links.profile_image}}
                alt={{@user.fullName}}
                height='30'
                width='30'
            >
            <OsfLink
                data-test-user-link={{@user.id}}
                data-analytics-name='View user'
                @href={{concat '/' @user.id '/'}}
            >
                {{@user.fullName}}
            </OsfLink>
        </span>
        <span
            data-test-user-permission={{@user.id}}
            local-class='CardSection'
        >
            {{#unless this.isAdded}}
                <PowerSelect
                    @selected={{this.permission}}
                    @options={{this.permissionOptions}}
                    @onChange={{this.updatePermission}}
                    @disabled={{this.isAdded}}
                    @searchEnabled={{false}}
                    as |option|
                >
                    <span data-test-user-permission-choice={{option}}>
                        {{t (concat 'osf-components.contributors.permissions.' option)}}
                    </span>
                </PowerSelect>
            {{/unless}}
        </span>
        <span data-test-user-citation={{@user.id}} local-class='CardSectionSmall'>
            {{#unless this.isAdded}}
                <Input
                    @type='checkbox'
                    @checked={{readonly this.isBibliographic}}
                    @disabled={{this.isAdded}}
                    data-test-user-citation-checkbox={{@user.id}}
                    data-analytics-name='Toogle isBibliographic'
                    {{on 'click' this.toggleIsBibliographic}}
                />
            {{/unless}}
        </span>
        {{#if this.isAdded}}
            <span local-class='CardSectionSmall'>
                <div local-class='Check'>
                    <FaIcon @icon='check' />
                </div>
            </span>
        {{else}}
            <span local-class='CardSectionSmall'>
                <Button
                    data-test-add-contributor-button={{@user.id}}
                    local-class='AddButton'
                    aria-label={{t 'registries.registration_metadata.add_contributors.add_contributor_aria'}}
                    @type='light'
                    {{on 'click' (fn @manager.addContributor @user this.permission this.isBibliographic)}}
                >
                    <FaIcon @icon='plus' />
                </Button>
            </span>
        {{/if}}
    </div>
</div>