<div data-test-user-card={{@user.id}}
    local-class='card-container'>
    <div data-test-user-card-main local-class='main-section'>
        <div local-class='name-section'>
            <OsfLink
                data-test-user-link={{@user.id}}
                data-analytics-name='View user'
                @href={{concat '/' @user.id '/'}}
            >
                {{@user.fullName}}
            </OsfLink>
        </div>
        <div
            data-test-user-permission={{@user.id}}
            local-class='permission-section'
        >
            {{#unless this.isAdded}}
                <PowerSelect
                    @selected={{this.permission}}
                    @options={{this.permissionOptions}}
                    @onChange={{this.updatePermission}}
                    @disabled={{this.isAdded}}
                    @searchEnabled={{false}}
                    as |option|
                >
                    <span data-test-user-permission-choice={{option}}>
                        {{t (concat 'general.permissions.' option)}}
                    </span>
                </PowerSelect>
            {{/unless}}
        </div>
        <div local-class='action-section'>
            <div data-test-user-citation={{@user.id}} local-class='action-container'>
                {{#unless this.isAdded}}
                    <Input
                        @type='checkbox'
                        @checked={{readonly this.isBibliographic}}
                        disabled={{this.isAdded}}
                        data-test-user-citation-checkbox={{@user.id}}
                        data-analytics-name='Toogle isBibliographic'
                        {{on 'click' this.toggleIsBibliographic}}
                    />
                {{/unless}}
            </div>
            {{#if this.isAdded}}
                <div local-class='action-container'>
                    <div local-class='check-container'>
                        <FaIcon @icon='check' />
                    </div>
                </div>
            {{else}}
                <div local-class='action-container'>
                    <Button
                        local-class='add-button'
                        data-test-add-contributor-button={{@user.id}}
                        aria-label={{t 'registries.registration_metadata.add_contributors.add_contributor_aria'}}
                        @type='light'
                        {{on 'click' (fn @manager.addContributor @user this.permission this.isBibliographic)}}
                    >
                        <FaIcon @icon='plus' local-class='svg' />
                    </Button>
                </div>
            {{/if}}
        </div>
    </div>
</div>