{{assert 'Registries::ReviewMetadataRenderer requires a draftRegistration' @draftRegistration}}
<h2>{{t 'registries.drafts.draft.metadata.page_label'}}</h2>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='title'
>
    <p local-class='ResponseValue {{unless @draftRegistration.title 'NoResponse'}}'>
        {{~if @draftRegistration.title @draftRegistration.title (t 'registries.registration_metadata.no_title')~}}
    </p>
</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='description'
>
    <p local-class='ResponseValue {{unless @draftRegistration.description 'NoResponse'}}'>
        {{~if @draftRegistration.description @draftRegistration.description (t 'registries.registration_metadata.no_description')~}}
    </p>
</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='category'
>
    {{#if @draftRegistration.category}}
        <NodeCategory
            @category={{@draftRegistration.category}}
        />
    {{else}}
        <p local-class='ResponseValue {{unless @draftRegistration.category 'NoResponse'}}'>
            {{t 'registries.form_view.none_selected'}}
        </p>
    {{/if}}
</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='affiliated_institutions'
>
    <p local-class='ResponseValue {{unless @draftRegistration.affiliatedInstitutions 'NoResponse'}}'>
        {{~if @draftRegistration.affiliatedInstitutions (join ', ' @draftRegistration.affiliatedInstitutions)
            (t 'registries.registration_metadata.no_affiliated_institutions')~}}
    </p>
</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='license'
>
    {{#if @draftRegistration.license.name}} 
        <LicenseViewer @registration={{@draftRegistration}} />
    {{else}}
        <p local-class='ResponseValue NoResponse'>
            {{t 'registries.form_view.none_selected'}}
        </p>
    {{/if}}
</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='subjects'
>
    {{#if @draftRegistration.subjects}} 
        <Subjects::Display @subjects={{@draftRegistration.subjects}} />
    {{else}}
        <p local-class='ResponseValue NoResponse'>
            {{t 'registries.registration_metadata.no_subjects'}}
        </p>
    {{/if}}

</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='tags'
>
    {{#if @draftRegistration.tags}}
        <Drafts::Draft::-Components::TagsManager
            @changeset={{@metadataChangeset}}
            @registration={{@draftRegistration}}
            @valuePath='tags'
            @tags={{@draftRegistration.tags}}
            as |tagsManager|
        >
            <RegistriesTagsWidget
                @manager={{tagsManager}}
                @readOnly={{true}}
            />
        </Drafts::Draft::-Components::TagsManager>
    {{else}}
        <p local-class='ResponseValue NoResponse'>
            {{t 'osf-components.tags-widget.no_tags'}}
        </p>
    {{/if}}
</Registries::ReviewMetadataRenderer::LabelDisplay>
