{{assert 'Registries::ReviewMetadataRenderer requires a draftRegistration' @draftRegistration}}
<h2 id='MetadataPageLabel'>{{t 'registries.drafts.draft.metadata.page_label'}}</h2>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='title'
    local-class='TextResponse {{unless @draftRegistration.title 'NoResponse'}}'
>
    {{~if @draftRegistration.title @draftRegistration.title (t 'registries.registration_metadata.no_title')~}}
</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='description'
    local-class='TextResponse {{unless @draftRegistration.description 'NoResponse'}}'
>
    {{~if @draftRegistration.description @draftRegistration.description (t 'registries.registration_metadata.no_description')~}}
</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='category'
    local-class='{{unless @draftRegistration.category 'NoResponse'}}'
>
    {{#if @draftRegistration.category}}
        <NodeCategory
            @category={{@draftRegistration.category}}
        />
    {{else}}
        {{~t 'registries.form_view.none_selected'~}}
    {{/if}}
</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='affiliated_institutions'
    @fieldText='affiliated institutions'
    local-class='{{unless @draftRegistration.affiliatedInstitutions 'NoResponse'}}'
>
    {{~if @draftRegistration.affiliatedInstitutions 
        (join ', ' (map-by 'name' @draftRegistration.affiliatedInstitutions))
        (t 'registries.registration_metadata.no_affiliated_institutions')~}}
</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='license'
    local-class='{{unless @draftRegistration.license.name 'NoResponse'}}'
>
    {{#if @draftRegistration.license.name}} 
        <LicenseViewer @registration={{@draftRegistration}} />
    {{else}}
        {{~t 'registries.form_view.none_selected'~}}
    {{/if}}
</Registries::ReviewMetadataRenderer::LabelDisplay>

{{#let @draftRegistration.license.requiredFields as |fields|}}
    {{#if fields}}
        <div local-class='NestedProperty'>
            {{#each fields as |field|}}
                {{#let (get @draftRegistration.nodeLicense field) as |nodeLicenseField|}}
                    <Registries::ReviewMetadataRenderer::LabelDisplay 
                        @draftRegistration={{@draftRegistration}}
                        @changeset={{@metadataChangeset}}
                        @field='nodeLicense.{{field}}'
                        @hideError={{true}}
                        local-class='{{unless nodeLicenseField 'NoResponse'}}'
                    >
                        {{~or nodeLicenseField (t (concat 'registries.registration_metadata.no_' field))~}}
                    </Registries::ReviewMetadataRenderer::LabelDisplay>
                {{/let}}
            {{/each}}
            <ValidationErrors
                local-class='ValidationErrors'
                @changeset={{@metadataChangeset}}
                @key='nodeLicense'
            />
        </div>
    {{/if}}
{{/let}}

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='subjects'
    local-class='{{unless @draftRegistration.subjects 'NoResponse'}}'
>
    {{#if @draftRegistration.subjects}} 
        <Subjects::Display @subjects={{@draftRegistration.subjects}} />
    {{else}}
        {{~t 'registries.registration_metadata.no_subjects'~}}
    {{/if}}

</Registries::ReviewMetadataRenderer::LabelDisplay>

<Registries::ReviewMetadataRenderer::LabelDisplay 
    @draftRegistration={{@draftRegistration}}
    @changeset={{@metadataChangeset}}
    @field='tags'
    local-class='{{unless @draftRegistration.tags 'NoResponse'}}'
>
    {{#if @draftRegistration.tags}}
        <Drafts::Draft::-Components::TagsManager
            @changeset={{@metadataChangeset}}
            @registration={{@draftRegistration}}
            @valuePath='tags'
            @tags={{@draftRegistration.tags}}
            @readOnly={{true}}
            as |tagsManager|
        >
            <RegistriesTagsWidget
                @manager={{tagsManager}}
                @readOnly={{tagsManager.readOnly}}
            />
        </Drafts::Draft::-Components::TagsManager>
    {{else}}
        {{~t 'osf-components.tags-widget.no_tags'~}}
    {{/if}}
</Registries::ReviewMetadataRenderer::LabelDisplay>
