<ResponsiveDropdown
    @horizontalPosition='right'
    as |dd|
>
    <dd.trigger local-class='TriggerDiv'>
        <Button
            data-test-moderation-dropdown-button
            data-analytics-name='Display Moderation Actions'
            local-class='TriggerButton'
            @type='create'
        >
            {{t 'osf-components.makeDecisionDropdown.makeDecision'}}
            <FaIcon @icon='caret-down' />
        </Button>
    </dd.trigger>
    <dd.content local-class='Dropdown'>
        {{#if this.revisionIsPending}}
            <Registries::ReviewActionsList @revision={{this.latestRevision}} />
        {{else}}
            <Registries::ReviewActionsList data-test-review-actions-list  @registration={{@registration}} />
        {{/if}}
        {{#if this.hasModeratorActions}}
            {{#each this.moderatorActions as |option|}}
                <div>
                    {{#let (unique-id 'radio' option) as |uniqueId|}}
                        <Input
                            data-test-moderation-dropdown-decision-checkbox={{option}}
                            data-analytics-name='Select checkbox for {{option}}'
                            name='moderatorAction'
                            @type='radio'
                            @id={{uniqueId}}
                            @value={{option}}
                            @checked={{if (eq this.decisionTrigger option) true false}}
                            {{on 'click' (fn this.updateDecisionTrigger option)}}
                        />
                        <label
                            data-test-moderation-dropdown-decision-label={{option}}
                            for={{uniqueId}}
                        >
                            {{get this.actionTriggerToTextMap option}}
                        </label>
                        <p
                            data-test-moderation-dropdown-decision-description={{option}}
                            local-class='Description'
                        >
                            {{get this.actionTriggerToDescriptionMap option}}
                        </p>
                    {{/let}}
                </div>
            {{/each}}
            {{#let (unique-id 'moderator-comment') as |moderatorCommentId|}}
                <label
                    data-test-moderation-dropdown-action-label
                    for={{moderatorCommentId}}
                >
                    {{this.commentTextArea.label}}
                </label>
                <Textarea
                    data-test-moderation-dropdown-comment
                    @id={{moderatorCommentId}}
                    @value={{this.comment}}
                    placeholder={{this.commentTextArea.placeholder}}
                    local-class='Comment'
                />
            {{/let}}
            <Button
                data-test-moderation-dropdown-submit
                data-analytics-name='Submit decision'
                @type='create'
                disabled={{or (not this.decisionTrigger) this.submitDecision.isRunning}}
                local-class='SubmitButton'
                {{on 'click' (queue (perform this.submitDecision) dd.close)}}
            >
                {{t 'osf-components.makeDecisionDropdown.submit'}}
            </Button>
        {{else}}
            <div data-test-no-moderator-actions>
                {{t 'osf-components.makeDecisionDropdown.noModeratorActions'}}
            </div>
        {{/if}}
    </dd.content>
</ResponsiveDropdown>
