<div local-class='provider-selection-container {{if (is-mobile) 'mobile'}}'>

    <div local-class='heading-container'>
        <h1 local-class='heading {{if (is-mobile) 'mobile'}}'>{{t 'preprints.select.heading'}}</h1>
    </div>

    <div local-class='paragraph-container'>
        <p local-class='paragraph {{if (is-mobile) 'mobile'}}'>{{t 'preprints.select.paragraph' link=this.learnMoreUrl htmlSafe=true}}</p>
    </div>

    <div local-class='provider-list-container  {{if (is-mobile) 'mobile'}}'>
        {{#each this.allProviders as |provider| }}
            <Preprints::-Components::PreprintProviderDisplay @provider={{provider}} />
        {{/each}}
    </div>

    <div local-class='create-button-container'>
        <button local-class='create-button' type='button'>{{t 'preprints.select.create_button'}}</button>
    </div>
</div>
