{{#if useLinkTo}}
    {{#link-to routeName nodeId class=extraClasses}}
        {{#if (has-block)}}
            {{yield}}
        {{else}}
            {{t translatingKey}}
        {{/if}}
    {{/link-to}}
{{else}}
    <a href="/{{nodeId}}/{{destination}}" class="{{extraClasses}}">
        {{#if (has-block)}}
            {{yield}}
        {{else}}
            {{t translatingKey}}
        {{/if}}
    </a>
{{/if}}
