{{page-title (t 'preprints.select.page_title')}}

<div>{{t 'preprints.select.title'}}</div>

<div>{{t 'preprints.select.heading'}}</div>

<div>{{t 'preprints.select.paragraph' link='' htmlSafe=true}}</div>

{{#each this.model.allProviders as |provider| }}
    <div>{{provider.name}}</div>
{{/each}}

<div>{{t 'preprints.select.create_button'}}</div>
