{{#if (and this.shouldShowModal this.userEmail)}}
    <BsModal
        @backdropClose={{false}}
        as |modal|
    >
        <modal.header @closeButton={{false}}>
            <h3 class='modal-title'>{{t this.translationKeys.header}}</h3>
        </modal.header>
        <modal.body>
            <p data-test-verify-email-prompt>
                {{t this.translationKeys.body email=this.userEmail.emailAddress}}
            </p>
        </modal.body>
        <modal.footer data-analytics-scope='Verify email modal'>
            <OsfButton
                data-test-deny-email
                data-analytics-name='Deny'
                @disabled={{this.disableButtons}}
                @onClick={{action this.deny}}
            >
                {{t this.translationKeys.denyButton}}
            </OsfButton>
            <OsfButton
                data-test-verify-email
                data-analytics-name='Verify'
                @type='primary'
                @disabled={{this.disableButtons}}
                @onClick={{action this.verify}}
            >
                {{t this.translationKeys.verifyButton}}
            </OsfButton>
        </modal.footer>
    </BsModal>
{{/if}}
