<OsfDialog
    @closeOnOutsideClick={{false}}
    @isOpen={{and this.shouldShowModal this.userEmail}}
    as |dialog|
>
    <dialog.heading @closeButton={{false}}>
        <h3 class='modal-title'>{{t this.translationKeys.header}}</h3>
    </dialog.heading>
    <dialog.main>
        <p data-test-verify-email-prompt>
            {{t this.translationKeys.body email=this.userEmail.emailAddress htmlSafe=true}}
        </p>
    </dialog.main>
    <dialog.footer data-analytics-scope='Verify email modal'>
        <Button
            data-test-deny-email
            data-analytics-name='Deny'
            disabled={{this.disableButtons}}
            {{on 'click' (action this.deny)}}
        >
            {{t this.translationKeys.denyButton}}
        </Button>
        <Button
            data-test-verify-email
            data-analytics-name='Verify'
            disabled={{this.disableButtons}}
            @type='primary'
            {{on 'click' (action this.verify)}}
        >
            {{t this.translationKeys.verifyButton}}
        </Button>
    </dialog.footer>
</OsfDialog>
