<div data-analytics-scope='File editor'>
    <div local-class='FileEditor__panel-heading'>
        <h3 local-class='FileEditor__panel-title'>
            <i class='fa fa-pencil-square-o'></i>
            {{t 'general.edit'}}
        </h3>
    </div>
    <div data-analytics-scope='Panel body' class='editor-pane panel-body'>
        <div local-class='FileEditor__text-editor'>
            <EmberAce
                @lines={{35}}
                @useWrapMode={{true}}
                @showLineNumbers={{false}}
                @value={{this.newText}}
                @showPrintMargin={{false}}
                @update={{action this.valueUpdated}}
            />
        </div>
        <div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='pull-right'>
                        <OsfButton
                            data-test-button-revert
                            data-analytics-name='Revert text'
                            @type='danger'
                            @size='sm'
                            @onClick={{action this.revertText}}
                        >
                            {{t 'general.revert'}}
                        </OsfButton>
                        <OsfButton
                            data-test-button-save
                            data-analytics-name='Save text'
                            @type='success'
                            @size='sm'
                            @onClick={{action this.saveText}}
                        >
                            {{t 'general.save'}}
                        </OsfButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>