<div local-class='FileEditor__panel-heading'>
    <h3 local-class='FileEditor__panel-title'>
        <i class='fa fa-pencil-square-o'></i>
        {{t 'general.edit'}}
    </h3>
</div>
<div>
    <div class='editor-pane panel-body'>
        <div local-class='FileEditor__text-editor'>
            <EmberAce
                @lines={{35}}
                @useWrapMode={{true}}
                @showLineNumbers={{false}}
                @value={{this.newText}}
                @showPrintMargin={{false}}
                @update={{action this.valueUpdated}}
            />
        </div>
        <div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='pull-right'>
                        <button class='btn btn-sm btn-danger' id='btnRevertEditor' onclick={{action 'revertText'}}>{{t 'general.revert'}} </button>
                        <button class='btn btn-sm btn-success' id='btnSaveEditor' onclick={{action 'saveText'}}>{{t 'general.save'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
