<td class='p-v-xs'>
    <img
        class='m-l-xs'
        src={{@user.links.profile_image}}
        alt={{@user.fullname}}
        height='30'
        width='30'
    >
    <a
        data-test-project-contributors-search-user-name
        href={{@user.links.html}} target='_blank' rel='noopener noreferrer'>
        {{~@user.fullName~}}
    </a>
    {{#if this.isSelf}}
        <span class='small'>
            {{t 'app_components.project_contributors.search.result.yourself'}}
        </span>
    {{/if}}
</td>
<td class='p-v-xs'>
    {{#if this.isContributor}}
        <span
            class='hint hint--left pull-right'
            aria-label={{t 'components.preprint-form-authors.already_added'}}
        >
            <Button
                data-test-project-contributors-is-contributor-button
                @layout='small'
                disabled={{true}}
            >
                <FaIcon @icon='check' @aria-hidden='true' />
            </Button>
        </span>
    {{else}}
        <Button
            data-test-project-contributors-add-contributor-button
            class='btn btn-success btn-small pull-right'
            @layout='small'
            @type='create'
            {{on 'click' (action this.addContributor @user)}}
        >
            {{t 'app_components.project_contributors.search.result.add'}}
        </Button>
    {{/if}}
</td>