<OsfLayout @backgroundClass={{local-class 'content-background'}} as |layout|>
    <layout.heading local-class='heading'>
        <div local-class='clamped-width-container'>
            <h1>
                {{t 'collections.moderation.header'}}
            </h1>
        </div>
    </layout.heading>
    <layout.main local-class='main'>
        <BsNav local-class='clamped-width-container' @type='tabs' as |nav|>
            {{#let 'collections.provider.moderation.all' as |pendingRoute|}}
                <nav.item @active={{eq this.target.currentRouteName pendingRoute}}>
                    <OsfLink
                        @route={{pendingRoute}}
                        @models={{array this.model.id}}
                    >
                        {{t 'collections.moderation.all.title'}}
                    </OsfLink>
                </nav.item>
            {{/let}}
            {{#let 'collections.provider.moderation.moderators' as |moderatorsRoute|}}
                <nav.item @active={{eq this.target.currentRouteName moderatorsRoute}}>
                    <OsfLink
                        @route={{moderatorsRoute}}
                        @models={{array this.model.id}}
                    >
                        {{t 'collections.moderation.moderators.title'}}
                    </OsfLink>
                </nav.item>
            {{/let}}
            {{#let 'collections.provider.moderation.settings' as |settingsRoute|}}
                <nav.item @active={{eq this.target.currentRouteName settingsRoute}}>
                    <OsfLink
                        @route={{settingsRoute}}
                        @models={{array this.model.id}}
                    >
                        {{t 'collections.moderation.settings.title'}}
                    </OsfLink>
                </nav.item>
            {{/let}}
        </BsNav>
        <div local-class='clamped-width-container'>
            {{outlet}}
        </div>
    </layout.main>
</OsfLayout>
