{{#if @manager.inEditMode}}
    <div data-test-select-category>
        <PowerSelect
            @options={{this.categories}}
            @renderInPlace={{true}}
            @selected={{@manager.selectedCategory}}
            @onchange={{action @manager.onSelect}}
            @disabled={{@manager.save.isRunning}}
            as |category|
        >
            <NodeCategory @category={{category}} />
        </PowerSelect>
    </div>
{{/if}}
