<div local-class='metadata-tab-container {{if this.isMobile 'mobile'}}'>
    <AriaTabs
        data-analytics-scope='Metadata Tab'
        @defaultIndex={{0}}
        @onSelect={{action this.changeTab}}
        local-class='tabs
            {{if this.showTabs 'hidden'}}
        '
        as |tab|
    >
        <tab.tabList
            local-class='tab-list {{if this.showMore 'showMore'}}'
            id='tab-list'
            as |tablist|

            {{did-insert this.didRenderList}}
        >
            <tablist.tab>{{t 'metadata.main-tab'}}</tablist.tab>
            {{#each this.cedarMetadataRecords as |cedarMetadataRecord| }}
                <tablist.tab>
                    <span local-class='{{unless cedarMetadataRecord.isPublished 'draft'}}'>
                        {{cedarMetadataRecord.template.schemaName}}
                    </span> 
                </tablist.tab>
            {{/each}}
        </tab.tabList>
        <tab.tabPanel>
            <div local-class='metadata-pane' data-test-registrations-pane>
                <NodeMetadataManager @node={{this.guidNode}} as |manager|>
                    {{#if manager.isGatheringData}}
                        <LoadingIndicator @dark={{true}} />
                    {{else}}
                        <NodeMetadataForm @manager={{manager}} />
                    {{/if}}
                </NodeMetadataManager>
            </div>
        </tab.tabPanel>
        {{#each this.cedarMetadataRecords as |cedarMetadataRecord| }}
            <tab.tabPanel>
                <CedarMetadataRenderer
                    @cedarMetadataRecord={{cedarMetadataRecord}}
                    @cedarMetadataTemplate={{cedarMetadataRecord.template}}
                />
            </tab.tabPanel>
        {{/each}}
    </AriaTabs>
    {{#if this.showTabs}}
        <div local-class='more-options'>
            {{#if this.showMore}}
                <FaIcon @icon='minus' 
                    data-test-show-less
                    aria-label={{t 'metadata.see-less'}}
                    {{on 'click' (action this.clickIcon)}}
                />
                <EmberTooltip
                    @side='right'
                >
                    {{t 'metadata.see-less'}}
                </EmberTooltip>
            {{else}}
                <FaIcon @icon='plus' 
                    data-test-show-more
                    aria-label={{t 'metadata.see-more'}}
                    {{on 'click' (action this.clickIcon)}}
                />
                <EmberTooltip
                    @side='right'
                >
                    {{t 'metadata.see-more'}}
                </EmberTooltip>
            {{/if}}
        </div>
    {{/if}}
</div>
