<BsModal
    @open={{@openModal}}
    @onSubmit={{action @addToCollection}}
    @onHidden={{action @cancel}}
    as |modal|
>
    <modal.header>
        <h3 data-test-collection-submission-confirmation-modal-header>
            {{t 'collections.collection_submission_confirmation_modal.header'}}
        </h3>
    </modal.header>
    <modal.body>
        <p data-test-collection-submission-confirmation-modal-body>
            {{t 'collections.collection_submission_confirmation_modal.body'}}
        </p>
    </modal.body>
    <modal.footer data-analytics-scope='Collection - Submit'>
        <BsButton
            data-test-collection-submission-confirmation-modal-cancel-button
            data-analytics-name='Cancel submission'
            @onClick={{action modal.close}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        <BsButton
            data-test-collection-submission-confirmation-modal-add-button
            data-analytics-name='Confirm submission'
            @onClick={{action modal.submit}}
            @type='success'
        >
            {{t 'collections.collection_submission_confirmation_modal.add_button'}}
        </BsButton>
    </modal.footer>
</BsModal>