{{assert 'Registries::SchemaBlockRenderer::Label::LabelContent requires a @schemaBlock' @schemaBlock}}
<p
    ...attributes
    local-class='DisplayText'>
    {{~@schemaBlock.displayText~}}
    {{~#if (and @isRequired (not @readonly))~}}
        <span local-class='Required'>*</span>
    {{~/if~}}
</p>
{{#if @isEditableForm}}
    <p local-class='HelpText'>
        {{~@schemaBlock.helpText~}}
    </p>
    {{#if @schemaBlock.exampleText}}
        <OsfButton
            local-class='ExampleButton'
            @type='link'
            @onClick={{action this.toggleShouldShowExample}}
        >
            {{#if this.shouldShowExample}}
                {{t 'osf-components.registries.schema-block-renderer/label.hideExample'}}
            {{else}}
                {{t 'osf-components.registries.schema-block-renderer/label.showExample'}}
            {{/if}}
        </OsfButton>
        {{#if this.shouldShowExample}}
            <p local-class='ExampleText'>
                {{~this.schemaBlock.exampleText~}}
            </p>
        {{/if}}
    {{/if}}
{{else}}
    {{#if (and @draftManager @showEditButton)}}
        <OsfLink
            aria-label={{t 'osf-components.registries.schema-block-renderer/label.editButtonAriaLabel' questionLabel=@schemaBlock.displayText}}
            @route='registries.drafts.draft.page'
            @models={{array @draftManager.draftId @schemaBlock.pageRouteParam}}
            @fragment={{@schemaBlock.elementId}}
        >
            <FaIcon @icon='edit' />
        </OsfLink>
    {{/if}}
{{/if}}