{{#if (eq @block.blockType 'page-heading') }}
    <h1>{{@block.blockText}}</h1>
{{else if (eq @block.blockType 'section-heading') }}
    <h2>{{@block.blockText}}</h2>
{{else if (eq @block.blockType 'subsection-heading') }}
    <h3>{{@block.blockText}}</h3>
{{else if (eq @block.blockType 'input label') }}
    <br>
    <label>{{@block.blockText}}</label>
{{else if (eq @block.blockType 'short-text input') }}
    <br>
    <input
        type='text'
        name={{@block.blockId}}
        required={{@block.required}}
        disabled={{@block.disabled}}
    >
{{else if (eq @block.blockType 'long-text input') }}
    <br>
    <textarea
    name={{@block.blockId}}
    required={{@block.required}}
    disabled={{@block.disabled}}
    />
{{/if}}

{{#if @block.helpText }}
    <br>
    <h5 local-class='Description'>{{@block.helpText}}</h5>
{{/if}}
