{{!Lucene search help modal}}
{{! template-lint-disable bare-strings }}
<div id="ember-bootstrap-modal-container">
    {{#bs-modal open=isOpen as |modal|}}
        {{#modal.header}}
            <h3 class="modal-title">{{t 'eosf.components.searchHelpModal.searchHelp'}}</h3>
        {{/modal.header}}
        {{#modal.body}}
            <h4> {{t 'eosf.components.searchHelpModal.queries'}} </h4>
            <p>
                {{t 'eosf.components.searchHelpModal.searchUsesThe'}} <a href="http://extensions.xwiki.org/xwiki/bin/view/Extension/Search+Application+Query+Syntax">Lucene {{t 'eosf.components.searchHelpModal.searchSyntax'}}</a>.
                {{t 'eosf.components.searchHelpModal.helpDescription'}}
            </p>
            <ul class="ex-list">
                <li><a href={{concat currentPath '?q=repro*'}}>repro*</a></li>
                <li><a href={{concat currentPath '?q=brian+AND+title%3Amany'}}>brian AND title:many</a></li>
                <li><a href={{concat currentPath '?q=tags%3A%28psychology%29'}}>tags:(psychology)</a></li>
            </ul>
        {{/modal.body}}
        {{#modal.footer}}
            {{#bs-button onClick=(action modal.close)}}{{t 'eosf.components.searchHelpModal.close'}}{{/bs-button}}
        {{/modal.footer}}
    {{/bs-modal}}
</div>
