{{input
    value=this.filterText
    class='form-control'
    local-class='input'
    placeholder=(t 'app_components.subject_picker.column.search')
}}
<ol
    local-class='list'
    role='listbox'
    aria-multiselectable='false'
    aria-orientation='vertical'
>
    {{#each this.subjectsFiltered as |subject|}}
        <li
            data-test-subject-picker-column-subject-name={{subject.text}}
            {{action this.select subject}}
            role='option'
            aria-selected='{{eq subject.id this.selection.id}}'
        >
            {{subject.text}}
        </li>
    {{/each}}
</ol>