<label>
    {{yield}}
</label>
{{#if this.licensesAcceptable}}
    <this.form.select
        @model={{this.node}}
        @valuePath='license'
        @options={{this.licensesAcceptable}}
        @onchange={{action this.changeLicense}}
        @searchField='name'
        @noMatchesMessage={{t 'new_project.no_matches'}}
        @placeholder={{this.placeholder}}
        @searchEnabled={{true}}
        as |license|
    >
        {{license.name}}
    </this.form.select>
{{else}}
    <LoadingIndicator @dark={{true}} />
{{/if}}

<small>
    <a
        target='_blank'
        rel='noopener noreferrer'
        href={{this.helpLink}}
    >
        {{t 'app_components.license_picker.faq'}}
    </a>
</small>
{{#if this.selected}}
    {{#if this.requiredFields.length}}
        <br>
    {{/if}}
    <this.form.custom
        @model={{this.node}}
        @valuePath='nodeLicense'
    >
        {{#each this.requiredFields as |key|}}
            <br>
            <label for='nodeLicense-{{key}}'>{{t (concat 'app_components.license_picker.fields.' key)}}</label>
            <br>
            <Input
                @class='form-control'
                @id={{concat 'nodeLicense-' key}}
                @value={{readonly (get this.form.changeset.nodeLicense key)}}
                @change={{fn this.updateNodeLicense key}}
                @placeholder={{t 'general.required'}}
            />
        {{/each}}
    </this.form.custom>
    <Button
        @layout='fake-link'
        local-class='button-link'
        {{on 'click' (fn (mut this.showText) (not this.showText))}}
    >
        {{t (concat 'app_components.license_picker.' (if this.showText 'hide' 'show'))}}
    </Button>
    {{#if this.showText}}
        <LicenseText @node={{this.node}} />
    {{/if}}
{{/if}}
