<label>
    {{yield}}
</label>
<this.form.select
    @model={{this.node}}
    @valuePath='license'
    @search={{perform this.queryLicenses}}
    @options={{this.licensesAcceptable}}
    @onchange={{action this.changeLicense}}
    @noMatchesMessage={{t 'new_project.no_matches'}}
    @placeholder='Required'
    as |license|
>
    {{license.name}}
</this.form.select>
<small>
    <a
        target='_blank'
        rel='noopener'
        href={{this.helpLink}}
    >
        {{t 'app_components.license_picker.faq'}}
    </a>
</small>
{{#if this.selected}}
    {{#if this.requiredFields.length}}
        <br>
    {{/if}}
    <this.form.custom
        @model={{this.node}}
        @valuePath='nodeLicense'
    >
        {{#each this.requiredFields as |key|}}
            <br>
            <label for='nodeLicense-{{key}}'>{{t (concat 'app_components.license_picker.fields.' key)}}</label>
            <br>
            {{input
                class='form-control'
                id=(concat 'nodeLicense-' key)
                value=(mut (get this.node.nodeLicense key))
                input=(action 'notify')
                placeholder=(t 'general.required')
            }}
        {{/each}}
    </this.form.custom>
    <a role='button' onclick={{action (mut this.showText) (not this.showText)}}>
        {{t (concat 'app_components.license_picker.' (if this.showText 'hide' 'show'))}}
    </a>
    {{#if this.showText}}
        <LicenseText @node={{this.node}} />
    {{/if}}
{{/if}}
