{{#docs-demo as |demo|}}
    {{#demo.example name='contributor-list.show-non-bibliographic.hbs'}}
        {{contributor-list node=@node showNonBibliographic=showNonBibliographic}}
    {{/demo.example}}

    {{#bs-button class='center-block m-b-lg' onClick=(action (mut showNonBibliographic) (not showNonBibliographic))}}
        set: showNonBibliographic = {{not showNonBibliographic}}
    {{/bs-button}}
    <ul>
        {{#each @node.contributors as | contrib |}}
            <li>
                <strong>{{contrib.users.familyName}}</strong> is <em>{{if contrib.bibliographic 'bibliographic' 'non-bibliographic'}}</em>
            </li>
        {{/each}}
    </ul>
    {{demo.snippet 'contributor-list.show-non-bibliographic.hbs'}}
{{/docs-demo}}
