<div local-class='actionsWrapper'>
    {{#if this.fetchActions.isRunning}}
        <LoadingIndicator @dark={{true}} />
    {{else if this.fetchActions.last.isError}}
        <p data-test-loading-actions-failed>
            {{t 'registries.reviewActionsList.failedToLoadActions'}}
        </p>
    {{else}}
        {{#if this.reviewActions}}
            <div>
                <Registries::ReviewActionsList::ReviewAction
                    data-test-registration-list-card-latest-action
                    @reviewAction={{this.latestAction}}
                    @embargoEndDate={{@registration.embargoEndDate}}
                />
                <AnimatedContainer local-class='animationContainer'>
                    <AnimatedIf
                        @predicate={{this.showFullActionList}}
                        @duration='100'
                    >
                        {{#each (without this.latestAction this.reviewActions) as |reviewAction|}}
                            <Registries::ReviewActionsList::ReviewAction
                                data-test-registration-list-card-more-actions
                                @reviewAction={{reviewAction}}
                                @embargoEndDate={{@registration.embargoEndDate}}
                            />
                        {{/each}}
                    </AnimatedIf>
                </AnimatedContainer>
                {{#if (gt this.reviewActions.length 1)}}
                    <Button
                        data-test-registration-card-toggle-actions
                        @layout='fake-link'
                        {{on 'click' this.toggleActionList}}
                    >
                        {{this.showOrHide}}
                    </Button>
                {{/if}}
            </div>
        {{else}}
            <p data-test-no-actions-found>
                {{t 'registries.reviewActionsList.noActionsFound'}}
            </p>
        {{/if}}
    {{/if}}
</div>
