<div local-class='metadata-detail-container'>
    <CpPanels
        @accordion={{true}}
        as |panels|
    >
        {{#each @cedarMetadataRecord.metadata.templates as |template| }}
            {{#panels.panel
                as |panel|}}
                {{#panel.toggle}}
                    <div local-class='header-container'>
                        <FaIcon class='cedar-template-chevron-right' @icon='chevron-right' />
                        <FaIcon class='cedar-template-chevron-down' @icon='chevron-down' />
                        <div local-class='header'>
                            {{template.name}}
                        </div>
                        <FaIcon @icon='question-circle' />
                        <EmberPopover
                            @side='bottom'
                            @event='hover'
                            @popperContainer='body'
                        >
                            <div local-class='popover-format'>
                                <h3>{{t 'metadata.detail.popover.header'}}</h3>
                                {{t 'metadata.detail.popover.content'}}
                            </div>
                        </EmberPopover>
                    </div>
                {{/panel.toggle}}
                {{#panel.body}}
                    {{#each template.data as |data| }}
                        <div local-class='detail-container'>
                            <div local-class='key-container'>
                                <div local-class='key'>
                                    {{data.key}}
                                </div>
                                {{#if data.required}}
                                    <div local-class='required'>
                                        *
                                    </div>
                                {{/if}}
                            </div>
                            <div>
                                {{data.value}}
                            </div>
                        </div>
                    {{/each}}
                {{/panel.body}}
            {{/panels.panel}}
        {{/each}}
    </CpPanels>
</div>
