<a href="{{project.links.html}}">
    <div local-class="NoteworthyProject__item">
        <h5 data-test-nnwp-project-title>{{project.title}}</h5>
        <span class="prevent-overflow" local-class="Byline">
            <i>
                {{t 'dashboard.noteworthy.by'}}
                {{contributor-list data-test-nnwp-project-contributors contributors=project.contributors}}
            </i>
        </span>
        <p class="prevent-overflow" data-test-nnwp-project-description>
            {{bs-tooltip title=compactDescription}}
            {{project.description}}
        </p>
    </div>
</a>
