<div class='container'>
    <div local-class='banner'>
        <img src='{{this.institution.assets.banner}}' alt='{{this.institution.name}}'>
    </div>
    <div style='display: flex;'>
        <div local-class='table-wrapper'>
            <Institutions::Dashboard::-Components::InstitutionalUsersList @model={{this.model}} />
        </div>
        <div local-class='panel-wrapper'>
            <Institutions::Dashboard::-Components::Panel
                    local-class='sso-users-connected'
                    @title='{{t 'institutions.dashboard.users_connected_panel'}}'
                    @institution={{this.institution}}
            >
                {{this.institution.statSummary.ssoUsersConnected}}
            </Institutions::Dashboard::-Components::Panel>
            <Panel as |panel|>
                <panel.heading @title='{{t 'institutions.dashboard.projects_panel'}}' />
                <panel.body>
                    <p></p>
                </panel.body>
            </Panel>
            <Panel as |panel|>
                <panel.heading @title='{{t 'institutions.dashboard.departments_panel'}}' />
                <panel.body>
                    <p></p>
                </panel.body>
            </Panel>
        </div>
    </div>
</div>