{{title (t 'institutions.dashboard.title' institutionName=this.institution.unsafeName)}}
<div class='container' data-analytics-scope='Dashboard'>
    <div local-class='banner'>
        <img src='{{this.institution.assets.banner}}' alt='{{this.institution.name}}'>
        <div>
            {{t 'institutions.dashboard.last_update'}}: {{this.lastUpdatedFromNow}}
        </div>
    </div>
    <div local-class='dashboard-wrapper'>
        <div local-class='table-wrapper'>
            <Institutions::Dashboard::-Components::InstitutionalUsersList
                @modelTaskInstance={{this.model.taskInstance}}
            />
        </div>
        <div local-class='panel-wrapper'>
            <OsfLink
                data-analytics-name='Download CSV'
                class='btn btn-primary'
                local-class='csv-button'
                @target='_blank'
                @href={{this.csvHref}}
                onmouseenter={{action 'onCsvButtonMouseEnter'}}
                onmouseleave={{action 'onCsvButtonMouseLeave'}}
            >
                <img src={{this.csvImgSrc}}
                     alt={{t 'institutions.dashboard.download_csv'}}
                >
            </OsfLink>
            <Institutions::Dashboard::-Components::Panel
                    local-class='sso-users-connected'
                    @isLoading={{this.model.taskInstance.isRunning}}
                    @title={{t 'institutions.dashboard.users_connected_panel'}}
            >
                {{#if this.summaryMetrics}}
                    <h3>{{this.summaryMetrics.userCount}}</h3>
                {{else}}
                    {{t 'institutions.dashboard.empty'}}
                {{/if}}
            </Institutions::Dashboard::-Components::Panel>
            <Institutions::Dashboard::-Components::Panel
                    local-class='projects'
                    @isLoading={{this.model.taskInstance.isRunning}}
                    @title={{t 'institutions.dashboard.projects_panel'}}
            >
                <Institutions::Dashboard::-Components::ProjectsPanel
                    @summaryMetrics={{this.summaryMetrics}}
                />
            </Institutions::Dashboard::-Components::Panel>
            <Institutions::Dashboard::-Components::Panel
                    local-class='departments'
                    @isLoading={{this.model.taskInstance.isRunning}}
                    @title={{t 'institutions.dashboard.departments_panel'}}
            >
            <Institutions::Dashboard::-Components::DepartmentsPanel
                @topDepartments={{this.departmentMetrics}}
                @totalUsers={{this.totalUsers}}
            />
            </Institutions::Dashboard::-Components::Panel>
        </div>
    </div>
</div>