{{#if this.isValidating}}
    <LoadingIndicator @inline={{true}} @dark={{true}} />
{{else}}
    {{#if this.validatorErrors}}
        <div
            data-test-validation-errors={{@key}}
            local-class='Errors'
            ...attributes
        >
            {{#each this.validatorErrors as |error|}}
                <p>{{~error~}}</p>
            {{/each}}
        </div>
    {{/if}}
{{/if}}
