{{#if @manager.loadingNodeSubjects}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    <ul local-class='subjects'>
        {{#each this.subjects as |subject|}}
            <li local-class='subject-tag'>
                {{subject.text}}
                {{#if this.inEditMode}}
                    <OsfButton
                        local-class='remove-button'
                        @type='link'
                        @onClick={{action @manager.remove subject}}
                    >
                        <FaIcon @icon='times' />
                    </OsfButton>
                {{/if}}
            </li>
        {{else}}
            <span local-class='placeholder'>
                {{t 'registries.registration_metadata.subjects_placeholder'}}
            </span>
        {{/each}}
    </ul>
{{/if}}
