<h2 data-test-discover-heading local-class='heading {{this.version}}'>
    {{t 'osf-components.discover-research.header'}}
</h2>
<p data-test-discover-subheading local-class='subHeading {{this.version}}'>
    {{t 'osf-components.discover-research.subheader'}}
</p>
<div
    data-test-search-bar
    local-class='searchBar'
>
    <span
        data-analytics-category='text'
        local-class='iconInput {{this.version}}'
    >
        <span>
            <FaIcon
                @icon='search'
                @fixedWidth={{true}}
            />
        </span>
        {{! template-lint-disable no-implicit-this }}
        {{input
            data-test-discover-input
            local-class='input'
            type='text'
            placeholder=(t 'osf-components.discover-research.placeholder')
            enter=(action '_onSearch' this.value)
            value=(mut this.value)
        }}
        {{! template-lint-enable no-implicit-this }}
    </span>
</div>
