<div
    local-class='search-container {{if this.isMobile 'mobile'}}'
    data-analytics-scope='Registries search results'
    ...attributes
>
    <div local-class='search-result-container'>
        <h3 local-class='title'>
            {{#if @result.relatedResourceTypes}}
                {{!-- This means it's an OSF resource, which means it'll have a guid --}}
                <OsfLink
                    data-test-result-title-id={{@result.sourceUniqueId}}
                    @route='registries.overview'
                    @models={{array @result.sourceUniqueId}}
                    data-analytics-name='Result Title{{if @provider (concat ' ' @provider.name)}}'
                >
                    {{math @result.title}}
                </OsfLink>
            {{else}}
                <OsfLink
                    data-test-result-title-id={{@result.id}}
                    @href={{@result.mainLink}}
                    data-analytics-name='Result Title{{if @provider (concat ' ' @provider.name)}}'
                >
                    {{math @result.title}}
                </OsfLink>
            {{/if}}
            {{#if @result.withdrawn}}
                <span local-class='label'>{{t 'registries.discover.search_result.withdrawn'}}</span>
            {{/if}}
        </h3>

        {{#if this.contributors}}
            <ul local-class='contributors'>
                {{#each this.contributors as |contrib|}}
                    <li>
                        {{#if contrib.link}}
                            <OsfLink
                                @href={{contrib.link}}
                                data-analytics-name='Contributor Link'
                            >
                                {{contrib.name}}
                            </OsfLink>
                        {{else}}
                            {{contrib.name}}
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        {{/if}}

        {{#if @result.dateUpdated}}
            <div local-class='updated'>
                {{t 'registries.discover.search_result.last_edited' date=(moment-format (utc @result.dateUpdated) 'MMMM D, YYYY UTC')}}
            </div>
        {{/if}}

        <div local-class='sources'>
            {{#each @result.sources as |source index|}}
                {{if index '| '}}{{source}}
            {{/each}}

            {{#if @result.registrationType}}
                | {{@result.registrationType}}
            {{/if}}
        </div>

        <p local-class='description'>
            {{math @result.description}}
        </p>
    </div>
    {{#if @result.relatedResourceTypes}}
        <div local-class='badges-container'>
            <OpenBadgesList
                @registration={{@result.sourceUniqueId}}
                @hasData={{@result.relatedResourceTypes.data}}
                @hasMaterials={{@result.relatedResourceTypes.materials}}
                @hasAnalyticCode={{@result.relatedResourceTypes.analytic_code}}
                @hasPapers={{@result.relatedResourceTypes.papers}}
                @hasSupplements={{@result.relatedResourceTypes.supplements}}
            />
        </div>
    {{/if}}
</div>
