<div
    class='row'
    data-analytics-scope='Registries search results'
    ...attributes
>
    <div class='col-xs-12'>
        {{#if @result.mainLink}}
            {{sharing-icons/popover
                title=@result.title
                description=@result.description
                hyperlink=@result.mainLink
                resultId=@result.id
                parentId=this.elementId
                showText=false
            }}
        {{/if}}
        <h3 local-class='RegistriesSearchResult__Title'>
            <OsfLink
                data-test-result-title-id={{@result.id}}
                @href={{@result.mainLink}}
                data-analytics-name='Result Title'
            >
                {{math @result.title}}
            </OsfLink>

            {{#if @result.withdrawn}}
                <span class='label label-default'>{{t 'registries.discover.search_result.withdrawn'}}</span>
            {{/if}}
        </h3>

        <ul local-class='Contributors'>
            {{#each this.contributors as |contrib|}}
                <li>
                    {{#if contrib.link}}
                        <OsfLink
                            @href={{contrib.link}}
                            data-analytics-name='Contributor Link'
                        >
                            {{contrib.name}}
                        </OsfLink>
                    {{else}}
                        {{contrib.name}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>

        {{#if @result.dateUpdated}}
            <div class='m-t-sm'>
                <em>
                    {{t 'registries.discover.search_result.last_edited' date=(moment-format (utc @result.dateUpdated) 'MMMM D, YYYY UTC')}}
                </em>
            </div>
        {{/if}}

        <div class='m-t-sm'>
            <span local-class='RegistriesSearchResult__Sources'>
                {{#each @result.sources as |source index|}}
                    {{if index '| '}}{{source}}
                {{/each}}

                {{#if @result.registrationType}}
                    | {{@result.registrationType}}
                {{/if}}
            </span>
        </div>

        <p local-class='Description {{if this.expanded 'Expanded' 'Collapsed'}}' class='text-muted m-t-sm'>
            {{math @result.description}}
        </p>

        <div local-class='Details {{if this.expanded 'Expanded' 'Collapsed'}}'>
            {{#each @result.tags as |tag|}}
                <span local-class='Details__Badge' class='badge'>{{math tag}}</span>
            {{/each}}
        </div>

        <div class='text-center'>
            <button
                data-test-result-toggle-id={{@result.id}}
                type='button'
                local-class='RegistriesSearchResult__Toggle'
                class='btn btn-link'
                aria-label={{t 'registries.discover.search_result.toggle_result'}}
                data-analytics-name='Expand button'
                {{action this.toggleExpanded}}
            >
                {{fa-icon this.footerIcon size=1 ariaHidden=false}}
            </button>
        </div>

    </div>
</div>
