{{assert 'Registries::ReviewMetadataRenderer::LabelDisplay requires a draftRegistration' @draftRegistration}}
{{assert 'Registries::ReviewMetadataRenderer::LabelDisplay requires a field' @field}}
{{assert 'Registries::ReviewMetadataRenderer::LabelDisplay requires a changeset' @changeset}}
<p local-class='DisplayText' data-test-review-label={{@field}} id={{@field}}>
    {{t (concat 'registries.registration_metadata.' @field)}}
    {{#if @showEditButton}}
        <OsfLink
            data-test-edit-button
            aria-label={{t 'registries.registration_metadata.edit_field' field=(if @fieldText @fieldText @field)}}
            @route='registries.drafts.draft.metadata'
            @models={{array @draftRegistration.id }}
            @fragment={{@field}}
        >
            <FaIcon @icon='edit' />
        </OsfLink>
    {{/if}}
</p>
<p 
    data-test-review-response={{@field}}
    local-class='ResponseValue' 
    ...attributes
>
    {{~yield~}}
</p>
{{#unless @hideError}}
    <ValidationErrors
        local-class='ValidationErrors'
        @changeset={{@changeset}}
        @key={{@field}}
    />
{{/unless}}
