{{#if this.loading}}
    {{#if this.placeholderCount}}
        <ul class="list-group m-md">
            {{#each (range 1 this.placeholderCount)}}
                {{yield (hash
                    item=(component 'paginated-list/x-item')
                )}}
            {{/each}}
        </ul>
    {{else}}
        {{loading-indicator dark=true}}
    {{/if}}
{{else if this.errorShown}}
    <p>{{t 'osf-components.paginated-list.error'}}</p>
{{else if @items.length}}
    <ul class="list-group m-md">
        {{#each @items as |item index|}}
            {{#unless item.isDeleted}}
                {{yield (hash
                    item=(component 'paginated-list/x-item' item=item index=index onDelete=(action @onDeleteItem))
                )}}
            {{/unless}}
        {{/each}}
    </ul>
{{else}}
    {{yield (hash
        empty=(component 'paginated-list/x-render')
    )}}
{{/if}}

{{#if this.paginatorShown}}
    <div class="text-center">
        {{simple-paginator
            maxPage=this.maxPage
            nextPage=(action @next)
            previousPage=(action @previous)
            curPage=@page
        }}
    </div>
{{/if}}
