{{#if this.verifyingCredentials.isRunning}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    {{#if this.useOauth}}
        {{#if this.pendingOauth}}
            <p>
                {{t 'addons.accountCreate.oauth-pending'}}
            </p>
        {{else}}
            <div local-class='oauth-wrapper'>
                {{t 'addons.accountCreate.oauth-description' providerName=@provider.name}}
                {{#unless @reconnect}}
                    <label local-class='auth-text-input-label'>
                        {{t 'addons.accountCreate.display-name-label'}}
                        <Input
                            placeholder={{t 'addons.accountCreate.display-name-placeholder'}}
                            @value={{@manager.displayName}}
                        />
                    </label>
                {{/unless}}
                <div local-class='button-wrapper'>
                    <Button
                        data-test-addon-cancel-button
                        data-analytics-name='Cancel'
                        {{on 'click' @manager.cancelSetup}}
                    >
                        {{t 'general.cancel'}}
                    </Button>
                    <Button
                        data-test-addon-oauth-button
                        data-analytics-name={{if @reconnect 'Reconnect account' 'Begin OAuth'}}
                        @type='primary'
                        {{on 'click' (if @reconnect (perform this.startOauthReconnectFlow) (perform this.startOauthFlow))}}
                    >
                        {{if @reconnect (t 'addons.accountCreate.reconnect') (t 'general.authorize')}}
                    </Button>
                </div>
            </div>
        {{/if}}
    {{else}}
        <form>
            {{#if this.showRepoOptions}}
                <label>
                    {{t 'addons.accountCreate.repo-label'}}
                    <PowerSelect
                        local-class='repo-select'
                        @options={{this.repoOptions}}
                        @selected={{this.selectedRepo}}
                        @onChange={{this.onRepoChange}}
                        @placeholder={{t 'addons.accountCreate.repo-placeholder'}}
                        as |selected|
                    >
                        {{selected}}
                    </PowerSelect>
                </label>
                {{#if this.otherRepoSelected}}
                    <Input
                        local-class='auth-text-input-label'
                        placeholder={{t 'addons.accountCreate.repo-other-placeholder'}}
                        @value={{this.otherRepo}}
                        {{on 'keyup' this.onOtherRepoChange}}
                    />
                    {{#if this.repoOtherPostText}}
                        <p>
                            {{this.repoOtherPostText}}
                        </p>
                    {{/if}}
                {{/if}}
            {{/if}}
            {{#each this.inputFields as |field|}}
                <label local-class='auth-text-input-label'>
                    {{field.labelText}}
                    <Input
                        name={{field.name}}
                        placeholder={{field.inputPlaceholder}}
                        autocomplete={{field.autocomplete}}
                        @type={{field.inputType}}
                        @value={{field.inputValue}}
                        {{on 'keyup' @onInput}}
                    />
                </label>
                {{field.postText}}
            {{/each}}
            {{#unless @reconnect}}
                <label local-class='auth-text-input-label'>
                    {{t 'addons.accountCreate.display-name-label'}}
                    <Input
                        placeholder={{t 'addons.accountCreate.display-name-placeholder'}}
                        @value={{@manager.displayName}}
                    />
                </label>
            {{/unless}}
            {{#if @manager.connectAccountError}}
                <p local-class='connect-error'>
                    {{t 'addons.accountCreate.error'}}
                </p>
            {{/if}}
            <div local-class='button-wrapper'>
                <Button
                    data-test-addon-cancel-button
                    data-analytics-name='Cancel'
                    {{on 'click' @manager.cancelSetup}}
                >
                    {{t 'general.cancel'}}
                </Button>
                {{#if @reconnect}}
                    <Button
                        data-test-addon-reconnect-account-button
                        data-analytics-name='Reconnect Account'
                        @type='primary'
                        disabled={{@manager.reconnectAccount.isRunning}}
                        {{on 'click' (perform @manager.reconnectAccount)}}
                    >
                        {{t 'addons.accountCreate.reconnect'}}
                    </Button>
                {{else}}
                    <Button
                        data-test-addon-connect-account-button
                        data-analytics-name='Connect Account'
                        @type='primary'
                        disabled={{@manager.connectAccount.isRunning}}
                        {{on 'click' (perform @manager.connectAccount this.displayName)}}
                    >
                        {{t 'addons.accountCreate.connect'}}
                    </Button>
                {{/if}}
            </div>
        </form>
    {{/if}}
{{/if}}
