{{#each this.chunkedDisplayFields as |fields|}}
    <div local-class='metadata-field-container'>
        {{#each fields as |field|}}
            <div data-test-metadata-field={{field.labelKey}} local-class='metadata-field {{if this.media.isMobile 'mobile'}}'>
                <label local-class='label'>
                    {{t (concat 'collections.collection_metadata.' field.labelKey)}}
                </label>
                {{#validated-input/power-select
                        local-class='input'
                        model=this.collectionSubmission
                        valuePath=field.valuePath
                        options=(sort (get this.collection field.optionsKey))
                        shouldShowMessages=false
                        as |option|
                }}
                    {{option}}
                {{/validated-input/power-select}}
            </div>
        {{/each}}
    </div>
{{/each}}
{{submit-section-buttons
    discard=(action 'discard')
    continue=this.continue
    continueDisabled=this.isInvalid
    continueButtonLabel=(t 'app_components.submit_section.continue')
}}
