<div id='ember-bootstrap-modal-container'>
    <BsModal
        @open={{this.isOpen}}
        as |modal|
    >
        <modal.header data-test-search-help-modal-header>
            <h3 class='modal-title'>
                {{t 'app_components.search_help_modal.title'}}
            </h3>
        </modal.header>
        <modal.body data-test-search-help-modal-body>
            <h4>
                {{t 'app_components.search_help_modal.queries'}}
            </h4>
            <p>
                {{t 'app_components.search_help_modal.searchSyntax' htmlSafe=true}}
                {{t 'app_components.search_help_modal.helpDescription'}}
            </p>
            <ul class='ex-list'>
                {{#each this.examples as |example|}}
                    <li>
                        <a href={{concat this.currentPath '?q=' example.q}}>
                            {{example.text}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </modal.body>
        <modal.footer data-test-search-help-modal-footer>
            <BsButton
                data-test-search-help-modal-close-button
                @onClick={{action modal.close}}
            >
                {{t 'app_components.search_help_modal.close'}}
            </BsButton>
        </modal.footer>
    </BsModal>
</div>
