<div id='ember-bootstrap-modal-container'>
    <OsfDialog
        @isOpen={{this.isOpen}}
        @onClose={{action (mut this.isOpen) false}}
        as |dialog|
    >
        <dialog.heading data-test-search-help-modal-header>
            <h3 class='modal-title'>
                {{t 'app_components.search_help_modal.title'}}
            </h3>
        </dialog.heading>
        <dialog.main data-test-search-help-modal-body>
            <h4>
                {{t 'app_components.search_help_modal.queries'}}
            </h4>
            <p>
                {{t 'app_components.search_help_modal.searchSyntax' htmlSafe=true}}
                {{t 'app_components.search_help_modal.helpDescription'}}
            </p>
            <ul class='ex-list'>
                {{#each this.examples as |example|}}
                    <li>
                        <a href={{concat this.currentPath '?q=' example.q}}>
                            {{example.text}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </dialog.main>
        <dialog.footer data-test-search-help-modal-footer>
            <Button
                data-test-search-help-modal-close-button
                {{on 'click' (action dialog.close)}}
            >
                {{t 'app_components.search_help_modal.close'}}
            </Button>
        </dialog.footer>
    </OsfDialog>
</div>
