<OsfDialog as |dialog|>
    
    <dialog.trigger>
        <OsfButton
            data-analytics-name='View license'
            local-class='LinkButton'
            @type='link'
            @onClick={{dialog.open}}
        >
            <div local-class='LicenseName'>
                {{@registration.license.name}}
            </div>
        </OsfButton>
    </dialog.trigger>

    <dialog.heading>
        {{t 'registries.registration_metadata.license'}}
    </dialog.heading>

    <dialog.main>
        {{#if @registration.license.url}}
            <p>
                <OsfLink
                    data-analytics-name='License URL'
                    @href={{@registration.license.url}}
                >
                    {{@registration.license.name}}
                </OsfLink>
            </p>
        {{/if}}
        <LicenseText @node={{@registration}} />
    </dialog.main>
    
</OsfDialog>
