<div local-class='CreateMessage'>
    <FaIcon @icon='info-circle' @size='4x' @fixedWidth={{true}} />
    <div>
        <p>{{t 'registries.registration_metadata.mint_doi.header'}}</p>
        <p>{{t 'registries.registration_metadata.mint_doi.text'}}</p>
    </div>
</div>
<div local-class='CreateButton'>
    <BsButton
        data-analytics-name='Create DOI'
        data-test-create-doi
        disabled={{@manager.requestDoi.isRunning}}
        @type='primary'
        @onClick={{action @manager.requestDoi}}
    >
        {{t 'registries.registration_metadata.create_doi'}}
    </BsButton>
</div>
