<div local-class='service-list-container'>
    <div local-class='header-container'>
        <h2 data-test-registries-list-header>
            {{t 'registries.index.services.top.heading'}}
        </h2>
        <p data-test-registries-list-paragraph>
            {{t 'registries.index.services.top.paragraph'}}
        </p>
    </div>
    <div local-class='service-container'>
        <div
            data-test-registries-list-row-one
            local-class='service-row-container {{if this.isMobile 'mobile'}}'
        >
            <div local-class='service-25'>
                <a
                    href='https://osf.io/registries/darpaasist' 
                    data-analytics-name='asist - Registry'
                    data-test-asist-registry
                    aria-label={{t 'registries.index.services.asist'}}
                >
                    <img
                        alt={{concat (t 'registries.index.services.asist') (t 'registries.index.services.logo')}}
                        local-class='logo'
                        data-test-asist-registry-logo
                        src='/img/provider_logos/ASIST_logo.png'
                    />
                </a>
            </div>
            <div local-class='service-25'>
                <a
                    href='https://osf.io/registries/characterlabregistry' 
                    data-analytics-name='characterlab - Registry'
                    data-test-characterlab-registry
                    aria-label={{t 'registries.index.services.characterlab'}}
                >
                    <img
                        alt={{concat (t 'registries.index.services.characterlab') (t 'registries.index.services.logo')}}
                        local-class='logo'
                        data-test-characterlab-registry-logo
                        src='/img/provider_logos/CharacterLab_logo.png'
                    />
                </a>
            </div>
            <div local-class='service-25'>
                <a
                    href='https://osf.io/registries/dam'
                    data-analytics-name='dam - Registry'
                    data-test-dam-registry
                    aria-label={{t 'registries.index.services.dam'}}
                >
                    <img
                        alt={{concat (t 'registries.index.services.dam') (t 'registries.index.services.logo')}}
                        local-class='logo'
                        data-test-dam-registry-logo
                        src='/img/provider_logos/dam_logo.png'
                    />
                </a>
            </div>
            <div local-class='service-25'>
                <a
                    href='https://osf.io/registries/egap'
                    data-analytics-name='egap - Registry'
                    data-test-egap-registry
                    aria-label={{t 'registries.index.services.egap'}}
                >
                    <img
                        alt='{{concat (t 'registries.index.services.egap') (t 'registries.index.services.logo')}}'
                        local-class='logo'
                        data-test-egap-registry-logo
                        src='/img/provider_logos/EGAP_white_logo.png'
                    />
                </a>
            </div>
        </div>
        <div
            data-test-registries-list-row-two
            local-class='service-row-container {{if this.isMobile 'mobile'}}'
        >
            <div local-class='service-33'>
                <a
                    href='https://osf.io/registries/metascience'
                    data-analytics-name='Metascience - Registry'
                    data-test-metascience-registry
                    aria-label={{t 'registries.index.services.metascience'}}
                >
                    <img
                        alt='{{concat (t 'registries.index.services.metascience') (t 'registries.index.services.logo')}}'
                        local-class='logo'
                        data-test-metascience-registry-logo
                        src='/img/provider_logos/Metascience_logo.png'
                    />
                </a>
            </div>
            <div local-class='service-33'>
                <a
                    href='https://osf.io/registries/rwe'
                    data-analytics-name='RWE - Registry'
                    data-test-rwe-registry
                    aria-label={{t 'registries.index.services.rwe'}}
                >
                    <img
                        alt='{{concat (t 'registries.index.services.rwe') (t 'registries.index.services.logo')}}'
                        local-class='logo'
                        data-test-rwe-registry-logo
                        src='/img/provider_logos/RWE_logo.png'
                    />
                </a>
            </div>
            <div local-class='service-33'>
                <a
                    href='https://osf.io/registries/youthstudy'
                    aria-label={{t 'registries.index.services.youth'}}
                    data-test-youth-registry
                    data-analytics-name='YOUth - Registry'
                >
                    <img
                        alt='{{concat (t 'registries.index.services.youth') (t 'registries.index.services.logo')}}'
                        local-class='logo'
                        data-test-youth-registry-logo
                        src='/img/provider_logos/YOUth_logo.png'
                    />
                </a>
            </div>
            <div local-class='service-33'>
                <a href='https://osf.io/registries/twcfconscious'
                data-analytics-name='TWCF Consciousness - Registry'
                data-test-twcf-consciousness-registry
                aria-label={{t 'registries.index.services.twcfconsciousness'}}>
                    <img alt={{concat (t 'registries.index.services.twcfconsciousness') (t 'registries.index.services.logo')}}
                        local-class='logo'
                        data-test-twcf-consciousness-registry-logo
                        src='/img/provider_logos/TWF_Consciousness_Logo.png'/>
                </a>
            </div>
            <div local-class='service-33'>
                <a href='https://osf.io/registries/gfs'
                data-analytics-name='GFS - Registry'
                data-test-gfs-registry
                aria-label={{t 'registries.index.services.gfs'}}>
                    <img alt={{concat (t 'registries.index.services.gfs') (t 'registries.index.services.logo')}}
                        local-class='logo'
                        data-test-gfs-registry-logo
                        src='/img/provider_logos/GFS_Logo.png'/>
                </a>
            </div>
        </div>
    </div>
    <div local-class='contact-container'>
        <a
            data-test-registries-list-contact-link
            data-analytics-name='Index - Contact'
            href='mailto:contact@osf.io'
            local-class='btn'
        >
            {{t 'registries.index.services.bottom.contact'}}
        </a>
    </div>
</div>
