<div local-class='ServicesList' class='p-v-md'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h2>{{t 'registries.index.services.top.heading'}}</h2>
                <p class='m-b-lg'>{{t 'registries.index.services.top.paragraph'}}</p>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row p-v-md'>
            <div class='col-sm-3 text-center'>
                <a href='https://osf.io/registries/darpaasist' aria-label={{t 'registries.index.services.asist'}}>
                    <div local-class='ServicesList__ProviderLogo provider-asist'></div>
                </a>
            </div>
            <div class='col-sm-3 text-center'>
                <a href='https://osf.io/registries/characterlabregistry' aria-label={{t 'registries.index.services.characterlab'}}>
                    <div local-class='ServicesList__ProviderLogo provider-characterlab'></div>
                </a>
            </div>
            <div class='col-sm-3 text-center'>
                <a href='https://osf.io/registries/egap' aria-label={{t 'registries.index.services.egap'}}>
                    <div local-class='ServicesList__ProviderLogo provider-egap'></div>
                </a>
            </div>
            <div class='col-sm-3 text-center'>
                <a href='https://osf.io/registries/metascience' aria-label={{t 'registries.index.services.metascience'}}>
                    <div local-class='ServicesList__ProviderLogo provider-metascience'></div>
                </a>
            </div>
        </div>
        <div class='row p-v-md'>
            <div class='col-sm-6 text-center'>
                <a href='https://osf.io/registries/rwe' aria-label={{t 'registries.index.services.rwe'}}>
                    <div local-class='ServicesList__ProviderLogo provider-rwe'></div>
                </a>
            </div>
            <div class='col-sm-6 text-center'>
                <a href='https://osf.io/registries/youthstudy' aria-label={{t 'registries.index.services.youth'}}>
                    <div local-class='ServicesList__ProviderLogo provider-youth'></div>
                </a>
            </div>
        </div>
    </div>
    <div class='row p-v-md'>
        <div class='col-md-12 text-center'>
            <a
                href='mailto:contact@osf.io'
                class='btn btn-info btn-lg'
                onclick={{action 'click' 'link' 'Index - Contact' target=this.analytics}}
            >
                {{t 'registries.index.services.bottom.contact'}}
            </a>
        </div>
    </div>
</div>
