<div local-class='ServicesList' class='p-v-md'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h2
                    data-test-registries-list-header
                >
                    {{t 'registries.index.services.top.heading'}}
                </h2>
                <p
                    data-test-registries-list-paragraph
                    class='m-b-lg'
                >
                    {{t 'registries.index.services.top.paragraph'}}
                </p>
            </div>
        </div>
    </div>
    <div class='container'>
        <div
            data-test-registries-list-row-one
            class='row p-v-md'
        >
            <div class='col-sm-3 text-center'>
                <a href='https://osf.io/registries/darpaasist' aria-label={{t 'registries.index.services.asist'}}>
                    <img
                        alt={{concat (t 'registries.index.services.asist') (t 'registries.index.services.logo')}}
                        local-class='ServicesList__ProviderLogo'
                        src='/img/provider_logos/ASIST_logo.png'
                    />
                </a>
            </div>
            <div class='col-sm-3 text-center'>
                <a href='https://osf.io/registries/characterlabregistry' aria-label={{t 'registries.index.services.characterlab'}}>
                    <img
                        alt={{concat (t 'registries.index.services.characterlab') (t 'registries.index.services.logo')}}
                        local-class='ServicesList__ProviderLogo'
                        src='/img/provider_logos/CharacterLab_logo.png'
                    />
                </a>
            </div>
            <div class='col-sm-3 text-center'>
                <a href='https://osf.io/registries/dam' aria-label={{t 'registries.index.services.characterlab'}}>
                    <img
                        alt={{concat (t 'registries.index.services.dam') (t 'registries.index.services.logo')}}
                        local-class='ServicesList__ProviderLogo'
                        src='/img/provider_logos/dam_logo.png'
                    />
                </a>
            </div>
            <div class='col-sm-3 text-center'>
                <a href='https://osf.io/registries/egap' aria-label={{t 'registries.index.services.egap'}}>
                    <img
                        alt='{{concat (t 'registries.index.services.egap') (t 'registries.index.services.logo')}}'
                        local-class='ServicesList__ProviderLogo'
                        src='/img/provider_logos/EGAP_white_logo.png'
                    />
                </a>
            </div>
        </div>
        <div
            data-test-registries-list-row-two
            class='row p-v-md'
        >
            <div class='col-sm-4 text-center'>
                <a href='https://osf.io/registries/metascience' aria-label={{t 'registries.index.services.metascience'}}>
                    <img
                        alt='{{concat (t 'registries.index.services.metascience') (t 'registries.index.services.logo')}}'
                        local-class='ServicesList__ProviderLogo'
                        src='/img/provider_logos/Metascience_logo.png'
                    />
                </a>
            </div>
            <div class='col-sm-4 text-center'>
                <a href='https://osf.io/registries/rwe' aria-label={{t 'registries.index.services.rwe'}}>
                    <img
                        alt='{{concat (t 'registries.index.services.rwe') (t 'registries.index.services.logo')}}'
                        local-class='ServicesList__ProviderLogo'
                        src='/img/provider_logos/RWE_logo.png'
                    />
                </a>
            </div>
            <div class='col-sm-4 text-center'>
                <a href='https://osf.io/registries/youthstudy' aria-label={{t 'registries.index.services.youth'}}>
                    <img
                        alt='{{concat (t 'registries.index.services.youth') (t 'registries.index.services.logo')}}'
                        local-class='ServicesList__ProviderLogo'
                        src='/img/provider_logos/YOUth_logo.png'
                    />
                </a>
            </div>
        </div>
    </div>
    <div class='row p-v-md'>
        <div
            class='col-md-12 text-center'
        >
            <a
                data-test-registries-list-contact-link
                data-analytics-name='Index - Contact'
                href='mailto:contact@osf.io'
                class='btn btn-info btn-lg'
            >
                {{t 'registries.index.services.bottom.contact'}}
            </a>
        </div>
    </div>
</div>
