{{title (t 'registries.application.page_title') replace=true}}

<div
    data-analytics-scope='Registries'
    class="{{if this.newStyleEnabled 'RegistriesStyle' 'OldRegistriesStyle'}}"
>
    {{#if this.newStyleEnabled}}
        <RegistriesNavbar @campaign='osf-registries' @onSearch={{action 'search'}} />
    {{else}}
        {{#osf-header as |header|}}
            {{#header.navbar campaign='osf-registries' activeService=this.activeService as |ctx|}}
                {{#ctx.links as |links|}}
                    {{!-- {{links.quickfiles}} --}}
                    {{!-- {{links.myprojects}} --}}
                    {{links.myregistrations}}
                    {{links.search route=this.searchRoute}}
                    {{links.support route=this.supportRoute}}
                    {{links.donate}}
                {{/ctx.links}}
            {{/header.navbar}}
        {{/osf-header}}
    {{/if}}

    {{outlet}}
</div>
