{{page-title (t 'metadata.tab-title')}}
<div local-class='metadata-container {{if this.isMobile 'mobile'}}'>
    <Metadata::MetadataDetail
        @isMobile={{this.isMobile}}
        @route='guid-node.metadata.add'
        @target={{this.model.target}}
    />
    <div local-class='metadata-tab-container'>
        <Metadata::MetadataTabs
            @target={{this.model.target}}
            @cedarMetadataRecords={{this.model.cedarMetadataRecords}}
            @defaultIndex={{this.model.defaultIndex}}
        />
    </div>
</div>
