<OsfLayout
    @backgroundClass='{{if this.showSidePanelToggle (local-class 'search-page-mobile') (local-class 'search-page')}}'
    ...attributes
as |layout|>
    <layout.heading
        data-test-heading-wrapper
        data-analytics-scope='Search page heading'
        {{with-branding (get-model @provider.brand)}}
        local-class='{{if this.showSidePanelToggle 'heading-wrapper-mobile' 'heading-wrapper'}} {{if @provider 'hero-overlay'}} {{if @institution 'institutions-overlay'}}'
    >
        {{#if @provider}}
            <div
                data-test-search-provider-logo
                local-class='provider-logo'
            >
            </div>
            <p local-class='provider-description' data-test-search-provider-description>
                {{html-safe @provider.description}}
            </p>
        {{else if @institution}}
            <img
                data-test-institution-banner
                src={{@institution.bannerUrl}}
                alt={{concat (t 'search.institutions.institution-logo') @institution.name}}
            >
            <p local-class='provider-description' data-test-institution-description>{{html-safe @institution.description}}</p>
        {{else}}
            <label
                data-test-search-header
                for={{this.searchBoxId}}
                local-class='heading-label'
            >
                <h1>{{t 'search.search-header'}}</h1>
            </label>
        {{/if}}
        <span id={{this.searchInputWrapperId}} local-class='search-input-wrapper'>
            <Input
                data-test-search-input
                data-analytics-name='Search input'
                local-class='search-input'
                id={{this.searchBoxId}}
                placeholder={{t 'search.textbox-placeholder'}}
                @type='search'
                @value={{this.cardSearchText}}
                @enter={{perform this.doDebounceSearch}}
            />
            <div local-class='search-button-wrapper'>
                <Button
                    data-test-search-submit
                    data-analytics-name='Search button'
                    local-class='search-button'
                    aria-label={{t 'search.search-button-label'}}
                    @type='primary'
                    @layout='large'
                    {{on 'click' (perform this.doDebounceSearch)}}
                >
                    <FaIcon @icon='search' />
                </Button>
                <Button
                    data-test-start-help
                    data-analytics-name='Search help button'
                    local-class='{{if this.showSidePanelToggle 'help-button-mobile' 'help-button'}}'
                    aria-label={{t 'search.search-help-label'}}
                    @type='primary'
                    @layout='large'
                    {{on 'click' (queue
                        layout.openSidenavGutter
                        (fn (mut this.showTooltip3) false)
                        (fn (mut this.showTooltip2) false)
                        (fn (mut this.showTooltip1) true)
                    )}}
                >
                    <FaIcon @icon='question' />
                </Button>
            </div>
        </span>
        {{#if this.showSidePanelToggle}}
            <Button
                data-test-toggle-side-panel
                data-analytics-name='Toggle side panel'
                aria-label={{t 'search.toggle-sidenav'}}
                local-class='sidenav-toggle'
                id={{this.sidePanelToggleId}}
                {{on 'click' layout.toggleSidenav}}
            >
                <FaIcon @icon='bars' />
            </Button>
        {{/if}}
    </layout.heading>
    <layout.left
        data-analytics-scope='Search page left panel'
        local-class='{{if this.showSidePanelToggle 'left-panel-mobile' 'left-panel'}}'
    >
        {{#if this.showResultCountLeft}}
            <p
                data-test-left-search-count
                local-class='search-count'
            >
                {{t 'search.total-results' count=this.totalResultCount}}
            </p>
        {{/if}}
        <h2 local-class='left-panel-header' id={{this.leftPanelHeaderId}}>{{t 'search.left-panel.header'}}</h2>
        {{#if this.showSidePanelToggle}}
            {{#if @showResourceTypeFilter}}
                <div data-test-left-panel-object-type-dropdown local-class='object-type-dropdown' id={{this.leftPanelObjectDropdownId}}>
                    <label>
                        <p>{{t 'search.resource-type.search-by'}}</p>
                        <PowerSelect @options={{this.resourceTypeOptions}} @selected={{this.selectedResourceTypeOption}}
                            @onChange={{this.updateResourceType}} as |resourceType|>
                            {{resourceType.display}}
                        </PowerSelect>
                    </label>
                </div>
            {{/if}}
            <div local-class='object-sort-dropdown' data-test-left-panel-sort-dropdown>
                <label>
                    <p>{{t 'search.sort.sort-by'}}</p>
                    <PowerSelect @options={{this.sortOptions}} @selected={{this.selectedSortOption}}
                        @onChange={{this.updateSort}} as |sortOption|>
                        {{sortOption.display}}
                    </PowerSelect>
                </label>
            </div>
        {{/if}}
        {{#if this.activeFilters.length}}
            <ul
                data-test-active-filters-list
                local-class='active-filter-list'
            >
                {{#each this.activeFilters as |filter|}}
                    <li
                        data-test-active-filter='{{filter.propertyVisibleLabel}}-{{filter.value}}'
                        local-class='active-filter-item'
                    >
                        <span>
                            {{filter.propertyVisibleLabel}}:
                            {{filter.label}}
                        </span>
                        <Button
                            data-analytics-name='remove filter'
                            data-test-remove-active-filter='{{filter.propertyVisibleLabel}}-{{filter.label}}'
                            aria-label={{t 'search.active-filters.remove-filter' property=filter.propertyVisibleLabel label=filter.label}}
                            @layout='fake-link'
                            {{on 'click' (fn this.toggleFilter filter)}}
                        >
                            <FaIcon @icon='times' />
                        </Button>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        {{#if this.search.isRunning}}
            <LoadingIndicator @dark={{true}} />
        {{else}}
            {{#each this.relatedProperties as |filterableProperty index|}}
                <SearchPage::FilterFacet
                    id={{if (eq index 0) this.firstFilterId null}}
                    @cardSearchText={{@cardSearchText}}
                    @cardSearchFilter={{this.filterQueryObject}}
                    @property={{filterableProperty}}
                    @toggleFilter={{this.toggleFilter}}
                />
            {{/each}}
            {{#if this.booleanFilters.length}}
                <SearchPage::BooleanFilters
                    @cardSearchText={{@cardSearchText}}
                    @cardSearchFilter={{this.filterQueryObject}}
                    @properties={{this.booleanFilters}}
                    @toggleFilter={{this.toggleFilter}}
                />
            {{/if}}
            {{#if (and (not this.booleanFilters.length) (not this.relatedProperties.length))}}
                <p local-class='no-properties'>
                    {{t 'search.left-panel.no-filterable-properties'}}
                </p>
            {{/if}}
        {{/if}}
    </layout.left>
    <layout.main local-class={{if this.showSidePanelToggle 'search-main-mobile' 'search-main'}} data-analytics-scope='Search page main'>
        {{#unless this.showSidePanelToggle}}
            <div data-test-topbar-wrapper local-class='topbar {{if @showResourceTypeFilter 'flex-column-tablet'}}'>
                {{#if @showResourceTypeFilter}}
                    <nav
                        data-test-topbar-object-type-nav
                        local-class='object-type-nav'
                    >
                        <ul>
                            {{#each this.resourceTypeOptions as |resourceType index|}}
                                <li>
                                    <LinkTo
                                        data-analytics-name='Object type filter={{resourceType.display}}'
                                        data-test-topbar-object-type-link='{{resourceType.display}}'
                                        local-class='object-type-filter-link'
                                        id={{if (eq index 0) this.firstTopbarObjectTypeLinkId null}}
                                        @query={{hash resourceType=resourceType.value}}
                                        {{on 'click' (fn this.updateResourceType resourceType)}}
                                    >
                                        {{resourceType.display}}
                                    </LinkTo>
                                </li>
                            {{/each}}
                        </ul>
                    </nav>
                {{else if this.showResultCountMiddle}}
                    <p
                        data-test-middle-search-count
                        local-class='search-count'
                    >
                        {{t 'search.total-results' count=this.totalResultCount}}
                    </p>
                {{/if}}
                <div
                    data-test-topbar-sort-dropdown
                    local-class='sort-dropdown'
                >
                    <PowerSelect
                        @options={{this.sortOptions}}
                        @selected={{this.selectedSortOption}}
                        @onChange={{action this.updateSort}}
                        as |sortOption|
                    >
                        <p>{{sortOption.display}}</p>
                    </PowerSelect>
                </div>
            </div>
        {{/unless}}
        {{#if this.search.isRunning}}
            <LoadingIndicator @size='large' @dark={{true}} />
        {{else}}
            {{#each this.searchResults as |item|}}
                <SearchResultCard @result={{item}} />
            {{else}}
                <div local-class='no-results'>
                    <p>{{t 'search.no-results'}}</p>
                </div>
            {{/each}}
        {{/if}}
        <div local-class='pagination-buttons'>
            {{#if this.firstPageCursor}}
                <Button
                    {{on 'click' (fn this.switchPage this.firstPageCursor)}}
                >
                    {{t 'search.first'}}
                </Button>
            {{/if}}
            {{#if this.prevPageCursor}}
                <Button
                    {{on 'click' (fn this.switchPage this.prevPageCursor)}}
                >
                    {{t 'search.prev'}}
                </Button>
            {{/if}}
            {{#if this.nextPageCursor}}
                <Button
                    {{on 'click' (fn this.switchPage this.nextPageCursor)}}
                >
                    {{t 'search.next'}}
                </Button>
            {{/if}}
        </div>
    </layout.main>
</OsfLayout>
{{#if this.showTooltip1}}
    <EmberPopover
        @targetId={{this.tooltipTarget1Id}}
        @tooltipClass={{local-class 'search-help-tutorial'}}
        @innerClass={{'search-help-tutorial-inner'}}
        @isShown={{this.showTooltip1}}
        @event='none'
        @side='bottom'
        @spacing={{10}}
    >
        <div data-test-search-help-1 data-analytics-scope='Search help 1 of 3' local-class='help-content'>
            <h2 local-class='search-help-header' data-test-help-heading-1>
                {{t 'search.search-help.header-1'}}
            </h2>
            <p local-class='help-description' data-test-help-body-1>{{t 'search.search-help.body-1' htmlSafe=true}}</p>
            <span local-class='pagination'>
                <p local-class='enumeration' data-test-help-enumeration-1>{{t 'search.search-help.index-1'}}</p>
                <span local-class='help-button-wrapper'>
                    <Button
                        data-test-help-skip-1
                        data-analytics-name='Skip help'
                        local-class='skip-button'
                        @layout='fake-link'
                        onclick={{fn (mut this.showTooltip1) false}}
                    >
                        {{t 'search.search-help.footer.skip'}}
                    </Button>
                    <Button
                        data-test-help-next-1
                        data-analytics-name='Next help'
                        local-class='next-button'
                        @type='primary'
                        onclick={{queue
                            (fn (mut this.showTooltip1) false)
                            (fn (mut this.showTooltip2) true)
                        }}
                    >
                        {{t 'search.search-help.footer.next'}}
                    </Button>
                </span>
            </span>
        </div>
    </EmberPopover>
{{/if}}
{{#if this.showTooltip2}}
    <EmberPopover
        @targetId={{this.tooltipTarget2Id}}
        @tooltipClass={{local-class 'search-help-tutorial'}}
        @innerClass={{'search-help-tutorial-inner'}}
        @isShown={{this.showTooltip2}}
        @event='none'
        @side='{{if this.showSidePanelToggle 'bottom' 'right'}}'
        @spacing={{10}}
    >
        <div data-test-search-help-2 data-analytics-scope='Search help 2 of 3' local-class='help-content'>
            <h2 local-class='search-help-header' data-test-help-heading-2>
                {{t 'search.search-help.header-2'}}
            </h2>
            <p local-class='help-description' data-test-help-body-2>{{t 'search.search-help.body-2'}}</p>
            <span local-class='pagination'>
                <p local-class='enumeration' data-test-help-enumeration-2>{{t 'search.search-help.index-2'}}</p>
                <span local-class='help-button-wrapper'>
                    <Button
                        data-test-help-skip-2
                        data-analytics-name='Skip help'
                        local-class='skip-button'
                        @layout='fake-link'
                        onclick={{fn (mut this.showTooltip2) false}}
                    >
                        {{t 'search.search-help.footer.skip'}}
                    </Button>
                    <Button
                        data-test-help-next-2
                        data-analytics-name='Next help'
                        local-class='next-button'
                        @type='primary'
                        onclick={{queue
                            (fn (mut this.showTooltip2) false)
                            (fn (mut this.showTooltip3) true)
                        }}
                    >
                        {{t 'search.search-help.footer.next'}}
                    </Button>
                </span>
            </span>
        </div>
    </EmberPopover>
{{/if}}
{{#if this.showTooltip3}}
    <EmberPopover
        @targetId={{this.tooltipTarget3Id}}
        @tooltipClass={{local-class 'search-help-tutorial'}}
        @innerClass={{'search-help-tutorial-inner'}}
        @isShown={{this.showTooltip3}}
        @event='none'
        @side='{{if this.showSidePanelToggle 'bottom' 'right'}}'
        @spacing={{10}}
    >
        <div data-test-search-help-3 data-analytics-scope='Search help 3 of 3' local-class='help-content'>
            <h2 local-class='search-help-header' data-test-help-heading-3>
                {{t 'search.search-help.header-3'}}
            </h2>
            <p local-class='help-description' data-test-help-body-3>{{t 'search.search-help.body-3' htmlSafe=true}}</p>
            <span local-class='pagination'>
                <p local-class='enumeration' data-test-help-enumeration-3>{{t 'search.search-help.index-3'}}</p>
                <span local-class='help-button-wrapper'>
                    <Button
                        data-test-help-done
                        data-analytics-name='Complete help'
                        local-class='next-button'
                        @type='primary'
                        onclick={{fn (mut this.showTooltip3) false}}
                    >
                        {{t 'search.search-help.footer.done'}}
                    </Button>
                </span>
            </span>
        </div>
    </EmberPopover>
{{/if}}