<OsfLayout
    @backgroundClass='search-page'
    ...attributes
as |layout|>
    <layout.heading
        data-test-heading-wrapper
        {{with-branding (get-model @provider.brand)}}
        local-class='heading-wrapper {{if @provider 'hero-overlay'}} {{if (and (not this.showSidePanelToggle) @institution) 'heading-wrapper-institutions' 'heading-wrapper-institutions-mobile'}}'
    >
        {{#if @provider}}
            <div
                data-test-search-provider-logo
                local-class='provider-logo'
            >
            </div>
            <p data-test-search-provider-description>
                {{@provider.description}}
            </p>
        {{else if @institution}}
            <div>
                <label
                    for='search-input'
                    local-class='heading-label'
                >
                    {{#if this.showSidePanelToggle}}
                        <img
                            data-test-institution-logo
                            src={{@institution.assets.logo}}
                            alt={{concat (t 'search.institutions.institution-logo') @institution.name}}
                        >
                    {{else}}
                        <img
                            data-test-institution-banner
                            src={{@institution.assets.banner}}
                            alt={{concat (t 'search.institutions.institution-logo') @institution.name}}
                        >
                    {{/if}}
                    <p data-test-institution-description>{{@institution.description}}</p>
                </label>
            </div>
        {{else}}
            <label
                data-test-search-header
                for='search-input'
                local-class='heading-label'
            >
                <h1>{{t 'search.search-header'}}</h1>
            </label>
        {{/if}}
        <span local-class='search-input-wrapper'>
            <Input
                local-class='search-input'
                id='search-input'
                @type='search'
                @placeholder={{t 'search.textbox-placeholder'}}
                @value={{this.searchText}}
                @enter={{perform this.doDebounceSearch}}
            />
            <Button
                data-test-search-submit
                data-analytics-name='search button'
                local-class='search-button'
                aria-label={{t 'search.search-button-label'}}
                @type='primary'
                @layout='large'
                {{on 'click' (perform this.doDebounceSearch)}}
            >
                <FaIcon @icon='search' />
            </Button>
        </span>
        {{#if this.showSidePanelToggle}}
            <Button
                data-test-toggle-side-panel
                data-analytics-name='toggle side panel'
                aria-label={{t 'search.toggle-sidenav'}}
                local-class='sidenav-toggle'
                {{on 'click' layout.toggleSidenav}}
            >
                <FaIcon @icon='bars' />
            </Button>
        {{/if}}
    </layout.heading>
    <layout.left
        data-analytics-scope='Search page left panel'
        local-class='left-panel'
    >
        {{#if this.showResultCountLeft}}
            <p
                data-test-left-search-count
                local-class='search-count'
            >
                {{t 'search.total-results' count=this.totalResultCount}}
            </p>
        {{/if}}
        <h2>{{t 'search.left-panel.header'}}</h2>
        {{#if this.showSidePanelToggle}}
            {{#if @showResourceTypeFilter}}
                <div data-test-left-panel-object-type-dropdown>
                    <label>
                        {{t 'search.resource-type.search-by'}}
                        <PowerSelect @options={{this.resourceTypeOptions}} @selected={{this.selectedResourceTypeOption}}
                            @onChange={{this.updateResourceType}} as |resourceType|>
                            {{resourceType.display}}
                        </PowerSelect>
                    </label>
                </div>
            {{/if}}
            <div data-test-left-panel-sort-dropdown>
                <label>
                    {{t 'search.sort.sort-by'}}
                    <PowerSelect @options={{this.sortOptions}} @selected={{this.selectedSortOption}}
                        @onChange={{this.updateSort}} as |sortOption|>
                        {{sortOption.display}}
                    </PowerSelect>
                </label>
            </div>
        {{/if}}
        {{#if this.activeFilters.length}}
            <ul
                data-test-active-filters-list
                local-class='active-filter-list'
            >
                {{#each this.activeFilters as |filter|}}
                    <li
                        data-test-active-filter='{{filter.property}}-{{filter.value}}'
                        local-class='active-filter-item'
                    >
                        <span>
                            {{filter.property}}:
                            {{filter.value}}
                        </span>
                        <Button
                            data-analytics-name='remove filter'
                            data-test-remove-active-filter='{{filter.property}}-{{filter.value}}'
                            aria-label={{t 'search.active-filters.remove-filter' property=filter.property value=filter.value}}
                            @layout='fake-link'
                            {{on 'click' (fn this.toggleFilter filter)}}
                        >
                            <FaIcon @icon='times' />
                        </Button>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        {{#each this.filterableProperties as |filterableProperty|}}
            {{#let filterableProperty.indexCard as |propertyCard|}}
                <SearchPage::FilterFacet
                    @cardSearchText={{@query}}
                    @cardSearchFilters={{this.activeFilters}}
                    @propertyCard={{propertyCard}}
                    @propertySearch={{filterableProperty}}
                    @toggleFilter={{this.toggleFilter}}
                />
            {{/let}}
        {{else}}
            {{t 'search.left-panel.no-filterable-properties'}}
        {{/each}}
    </layout.left>
    <layout.main data-analytics-scope='Search page main'>
        {{!-- paginator --}}
        {{#unless this.showSidePanelToggle}}
            <div data-test-topbar-wrapper local-class='topbar'>
                {{#if @showResourceTypeFilter}}
                    <nav
                        data-test-topbar-object-type-nav
                        local-class='object-type-nav'
                    >
                        <ul>
                            {{#each this.resourceTypeOptions as |resourceType|}}
                                <li>
                                    <LinkTo
                                        data-analytics-name='Object type filter={{resourceType.value}}'
                                        data-test-topbar-object-type-link='{{resourceType.value}}'
                                        local-class='object-type-filter-link'
                                        @query={{hash resourceType=resourceType.value}}
                                        {{on 'click' (fn this.updateResourceType resourceType)}}
                                    >
                                        {{resourceType.display}}
                                    </LinkTo>
                                </li>
                            {{/each}}
                        </ul>
                    </nav>
                {{else if this.showResultCountMiddle}}
                    <p
                        data-test-middle-search-count
                        local-class='search-count'
                    >
                        {{t 'search.total-results' count=this.totalResultCount}}
                    </p>
                {{/if}}
                <div
                    data-test-topbar-sort-dropdown
                    local-class='sort-dropdown'
                >
                    <PowerSelect
                        @options={{this.sortOptions}}
                        @selected={{this.selectedSortOption}}
                        @onChange={{action this.updateSort}}
                        as |sortOption|
                    >
                        {{sortOption.display}}
                    </PowerSelect>
                </div>
            </div>
        {{/unless}}
    </layout.main>
</OsfLayout>
