<div data-analytics-scope='Edit'>
    <div>
        <OsfLink
            data-test-back-to-tokens
            data-analytics-name='Back to list'
            @route='settings.tokens'
        >
            <FaIcon @icon='arrow-left' />
            {{t 'settings.tokens.backToList'}}
        </OsfLink>
    </div>
    {{#if this.token.tokenValue}}
        <h4>{{t
                'settings.tokens.createSuccess.message'
                tokenName=this.token.name
                htmlSafe=true
            }}
        </h4>
        <p>
            <CopyableText
                data-test-new-token-value
                @text={{this.token.tokenValue}}
                @analyticsLabel='Settings - Tokens - Copy token'
            />
        </p>
        <p local-class='NewTokenWarning bg-danger'>
            <strong>
                {{t 'settings.tokens.createSuccess.warning'}}
            </strong>
        </p>
        <p>
            {{t 'settings.tokens.createSuccess.instructions'}}
        </p>
        <Button
            {{on 'click' (perform this.refreshToken)}}
        >
            {{t 'settings.tokens.createSuccess.editScopes'}}
        </Button>
    {{else}}
        <h4>{{t 'settings.tokens.editToken'}}</h4>

        {{#if this.model.taskInstance.isRunning}}
            <LoadingIndicator @dark={{true}} />
        {{else if this.model.taskInstance.isSuccessful}}
            <Settings::Tokens::-Components::EditForm
                @token={{this.token}}
            />
        {{else}}
            {{this.model.taskInstance.error}}
        {{/if}}
    {{/if}}
</div>
