{{#if this.useExternalLink}}
    <a href={{@provider.domain}}>
        <img local-class='provider-logo' src={{this.logoAsset}} alt={{@provider.name}}>
    </a>
{{else}}
    {{#link-to 'provider.discover' @provider.id}}
        <img local-class='provider-logo' src={{this.logoAsset}} alt={{@provider.name}}>
    {{/link-to}}
{{/if}}
