{{#if this.useExternalLink}}
    <a href={{@provider.domain}}>
        <img local-class='provider-logo' src={{this.logoAsset}} alt={{@provider.name}}>
    </a>
{{else}}
    <LinkTo @route='provider.discover' @models={{array @provider.id}}>
        <img local-class='provider-logo' src={{this.logoAsset}} alt={{@provider.name}}>
    </LinkTo>
{{/if}}
