<div local-class='metadata-cedar-container'>
    <div local-class='cedar-container'>
        <CedarMetadataEditor
            @cedarMetadataTemplate={{@cedarMetadataTemplate}}
            @target={{@target}}
            @redirectRoute={{@redirectRoute}}
        />
    </div>
    <div local-class='return-container'>
        <Button
            data-test-select-button
            data-analytics-name='Select metadata'
            {{on 'click' @closeCedarEditor }}
        >
            {{ t 'metadata.add-flow.select-different-metadata-schema' }}
        </Button>
    </div>
</div>
