<span local-class='Titles' ...attributes>
    {{#each this.ancestry as |ancestor index|}}
        <span local-class='AncestorTitle'>
            {{#if (and this.useLinks ancestor.id)}}
                <OsfLink
                    data-test-ancestor-title={{index}}
                    @route='resolve-guid'
                    @models={{array ancestor.id}}
                >
                    {{ancestor.title}}
                </OsfLink>
            {{else}}
                {{ancestor.title}}
            {{/if}}
        </span>
        <span local-class='delimiter'>{{this.delimiter}}</span>
    {{/each}}
</span>
