<div class="{{routeStyleNamespaceClassSet}} Application">
    {{new-osf-navbar signupUrl=signupUrl loginAction=(action 'login')}}
    {{maintenance-banner}}
    <div class="Application__page">
        {{outlet}}
    </div>
    {{osf-footer}}
    {{osf-copyright class='text-center'}}
    {{osf-mode-footer}}
</div>
