{{head-layout}}
{{title (t 'general.OSF')}}
<div local-class="Application">
    {{#unless disableHeader}}
        {{#if theme.isProvider}}
            <style>
                {{! template-lint-disable bare-strings }}
                @import url('{{theme.stylesheet}}');
                {{! template-lint-enable bare-strings }}
            </style>
            <div id="branded-navbar"></div>
        {{else}}
            {{osf-header}}
        {{/if}}
    {{/unless}}
    {{#if this.shouldShowVerifyEmailModals}}
        {{application/-components/verify-email-modal}}
    {{/if}}
    <div local-class="Application__page">
        {{outlet}}
    </div>
    {{osf-footer}}
    {{cookie-banner}}
    {{osf-mode-footer}}
</div>
