{{head-layout}}
{{title (t 'general.OSF')}}
<div local-class="Application">
    {{#unless disableHeaders}}
        {{osf-navbar signupUrl=signupUrl loginAction=(action 'login')}}
        <div id="{{secondaryNavbarId}}"></div>
        {{maintenance-banner}}
        {{status-banner}}
        {{tos-consent-banner}}
    {{/unless}}
    <div local-class="Application__page">
        {{outlet}}
    </div>
    {{osf-footer}}
    {{cookie-banner}}
    {{osf-mode-footer}}
</div>
