{{head-layout}}
{{title (t 'general.OSF')}}
<div local-class="Application">
    {{#unless disableHeader}}
        {{osf-header}}
    {{/unless}}
    <div local-class="Application__page">
        {{outlet}}
    </div>
    {{osf-footer}}
    {{cookie-banner}}
    {{osf-mode-footer}}
</div>
