{{head-layout}}
{{title (t 'general.OSF')}}
<div local-class="Application">
    {{osf-navbar signupUrl=signupUrl loginAction=(action 'login')}}
    <div id="{{secondaryNavbarId}}"></div>
    {{maintenance-banner}}
    {{status-banner}}
    <div local-class="Application__page">
        {{outlet}}
    </div>
    {{osf-footer}}
    {{osf-mode-footer}}
</div>
