<HeadLayout />
{{title (t 'general.OSF')}}
<div data-test-application local-class='Application'>
    {{#unless this.disableHeader}}
        {{#if this.theme.isProvider}}
            <style>
                {{! template-lint-disable bare-strings }}
                @import url('{{this.theme.stylesheet}}');
                {{! template-lint-enable bare-strings }}
            </style>
            <div id='branded-navbar'></div>
        {{else}}
            <OsfHeader />
        {{/if}}
    {{/unless}}
    {{#if this.shouldShowVerifyEmailModals}}
        {{! template-lint-disable no-implicit-this }}
        {{application/-components/verify-email-modal}}
        {{! template-lint-enable no-implicit-this }}
    {{/if}}
    {{!--
    NOTE: the global Application__page class is used in registries
    to fix weird styling issues that break other embosf pages (quickfiles).
    --}}
    <div class='Application__page' local-class='Application__page'>
        {{outlet}}
    </div>
    <OsfFooter />
    <CookieBanner />
    <OsfModeFooter />
</div>
