{{head-layout}}
<div local-class="Application">
    {{#if theme.isProvider}}
        <style>
            {{! template-lint-disable bare-strings }}
            @import url('{{theme.stylesheet}}');
            {{! template-lint-enable bare-strings }}
        </style>
        <div id="branded-navbar"></div>
    {{/if}}
    <div local-class="Application__page">
        {{outlet}}
    </div>
    {{osf-footer}}
    {{cookie-banner}}
    {{osf-mode-footer}}
</div>
