<div local-class='actionsWrapper'>
    {{#if @reviewActions}}
        {{#if (gt @reviewActions.length 1)}}
            <FaIcon
                data-test-registration-card-toggle-actions
                local-class='toggleActions'
                @icon={{this.toggleIcon}}
                @fixedWidth={{true}}
                {{on 'click' this.toggleActionList}}
            />
        {{/if}}
        <div>
            <p data-test-registration-list-card-latest-action>
                {{t 'registries.reviewActionsList.moderatorAction'
                    action=this.latestAction.triggerPastTense
                    moderator=this.latestAction.creator.fullName
                    date=(time-since this.latestAction.dateModified)
                }}
            </p>
            <AnimatedContainer local-class='animationContainer'>
                <AnimatedIf
                    @predicate={{this.showFullActionList}}
                    @duration='100'
                >
                    {{#each (without this.latestAction @reviewActions) as |reviewAction|}}
                        <p data-test-registration-list-card-more-actions>
                            {{t 'registries.reviewActionsList.moderatorAction'
                                action=reviewAction.triggerPastTense
                                moderator=reviewAction.creator.fullName
                                date=(time-since reviewAction.dateModified)
                            }}
                        </p>
                    {{/each}}
                </AnimatedIf>
            </AnimatedContainer>
        </div>
    {{else}}
        <p data-test-no-actions-found>
            {{t 'registries.reviewActionsList.noActionsFound'}}
        </p>
    {{/if}}
</div>
