{{#if this.verifyingCredentials.isRunning}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    {{#if this.useOauth}}
        {{!-- TODO: need clientId, callback and other fields to actually make this work --}}
        <div local-class='oauth-wrapper'>
            {{t 'addons.accountCreate.oauth-description' providerName=@provider.name}}
            <a
                data-test-addon-oauth-link
                data-analytics-name='OAuth'
                href={{@provider.oauthUrl}}
                target='_blank'
                rel='noopener noreferrer'
            >
                {{t 'addons.accountCreate.oauth-link' providerName=@provider.name}}
            </a>
        </div>
    {{else}}
        <form>
            {{#if this.showDataverseRepoOptions}}
                <label>
                    {{t 'addons.accountCreate.dataverse-repo-label'}}
                    <PowerSelect
                        @options={{this.dataverseRepoOptions}}
                        @selected={{this.selectedRepo}}
                        @placeholder={{t 'addons.accountCreate.dataverse-repo-placeholder'}}
                        as |selected|
                    >
                        {{selected}}
                    </PowerSelect>
                </label>
                {{#if this.otherRepoSelected}}
                    <Input
                        local-class='auth-text-input-label'
                        @value={{this.otherRepo}}
                        @placeholder={{t 'addons.accountCreate.dataverse-repo-other-placeholder'}}
                    />
                    <p>
                        {{t 'addons.accountCreate.dataverse-repo-other-post-text'}}
                    </p>
                {{/if}}
            {{else if this.showGitlabRepoOptions}}
                <label>
                    {{t 'addons.accountCreate.gitlab-repo-label'}}
                    <PowerSelect
                        @options={{this.gitlabRepoOptions}}
                        @selected={{this.selectedRepo}}
                        @placeholder={{t 'addons.accountCreate.gitlab-repo-placeholder'}}
                        as |selected|
                    >
                        {{selected}}
                    </PowerSelect>
                </label>
                {{#if this.otherRepoSelected}}
                    <Input
                        local-class='auth-text-input-label'
                        @value={{this.otherRepo}}
                        @placeholder={{t 'addons.accountCreate.gitlab-repo-other-placeholder'}}
                    />
                    <p>
                        {{t 'addons.accountCreate.gitlab-repo-other-post-text'}}
                    </p>
                {{/if}}
            {{/if}}
            {{#each this.inputFields as |field|}}
                <label local-class='auth-text-input-label'>
                    {{field.labelText}}
                    <Input
                        @type={{field.inputType}}
                        @value={{field.inputValue}}
                        @placeholder={{field.inputPlaceholder}}
                        autocomplete={{field.autocomplete}}
                    />
                </label>
                {{field.postText}}
            {{/each}}
            <Button
                data-test-addon-connect-account-button
                data-analytics-name='Connect Account'
                disabled={{@manager.connectAccount.isRunning}}
                {{on 'click' (perform @manager.connectAccount)}}
            >
                {{t 'general.authorize'}}
            </Button>
        </form>
    {{/if}}
{{/if}}