{{#if this.verifyingCredentials.isRunning}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    {{#if this.useOauth}}
        {{#if this.pendingOauth}}
            <p>
                {{t 'addons.accountCreate.oauth-pending'}}
            </p>
        {{else}}
            <div local-class='oauth-wrapper'>
                {{t 'addons.accountCreate.oauth-description' providerName=@provider.name}}
                <Button
                    data-test-addon-oauth-button
                    data-analytics-name='OAuth'
                    {{on 'click' (perform this.startOauthFlow)}}
                >
                    {{t 'general.authorize'}}
                </Button>
            </div>
        {{/if}}
    {{else}}
        <form>
            {{#if this.showRepoOptions}}
                <label>
                    {{t 'addons.accountCreate.repo-label'}}
                    <PowerSelect
                        local-class='repo-select'
                        @options={{this.repoOptions}}
                        @selected={{this.selectedRepo}}
                        @onChange={{this.onRepoChange}}
                        @placeholder={{t 'addons.accountCreate.repo-placeholder'}}
                        as |selected|
                    >
                        {{selected}}
                    </PowerSelect>
                </label>
                {{#if this.otherRepoSelected}}
                    <Input
                        local-class='auth-text-input-label'
                        @value={{this.otherRepo}}
                        @placeholder={{t 'addons.accountCreate.repo-other-placeholder'}}
                        {{on 'keyup' this.onOtherRepoChange}}
                    />
                    {{#if this.repoOtherPostText}}
                        <p>
                            {{this.repoOtherPostText}}
                        </p>
                    {{/if}}
                {{/if}}
            {{/if}}
            {{#each this.inputFields as |field|}}
                <label local-class='auth-text-input-label'>
                    {{field.labelText}}
                    <Input
                        name={{field.name}}
                        @type={{field.inputType}}
                        @value={{field.inputValue}}
                        @placeholder={{field.inputPlaceholder}}
                        {{on 'keyup' @onInput}}
                        autocomplete={{field.autocomplete}}
                    />
                </label>
                {{field.postText}}
            {{/each}}
            {{#if @manager.connectAccountError}}
                <p local-class='connect-error'>
                    {{t 'addons.accountCreate.error'}}
                </p>
            {{/if}}
            <Button
                data-test-addon-connect-account-button
                data-analytics-name='Connect Account'
                disabled={{@manager.connectAccount.isRunning}}
                {{on 'click' (perform @manager.connectAccount)}}
            >
                {{t 'general.authorize'}}
            </Button>
        </form>
    {{/if}}
{{/if}}
