{{#if this.summaryMetrics}}
    <div
        data-test-chart
        local-class='ember-chart'
    >
        <EmberChart
            @type='pie'
            @data={{this.chartData}}
            @options={{this.chartOptions}}
        />
    </div>
    <h3>{{this.numProjects}}</h3>
    <div local-class='projects-count'>
        <span>
            <strong>{{this.numPublicProjects}}</strong>
            {{t 'institutions.dashboard.public'}}
        </span>
        <span>
            <strong>{{this.numPrivateProjects}}</strong>
            {{t 'institutions.dashboard.private'}}
        </span>
    </div>
{{else}}
    {{t 'institutions.dashboard.empty'}}
{{/if}}