<div local-class='ember-chart' data-test-chart>
    {{ember-chart type='pie' data=this.chartData options=this.chartOptions}}
</div>
<h3>{{this.numProjects}}</h3>
<div local-class='projects-count'>
    <span>
        <strong>{{this.institution.statSummary.numPublicProjects}}</strong> {{t 'institutions.dashboard.public'}}
    </span>
    <span>
        <strong>{{this.institution.statSummary.numPrivateProjects}}</strong> {{t 'institutions.dashboard.private'}}
    </span>
</div>