{{#if (eq projectSelectState 'main')}}
    <div class="row">
        <div class="col-xs-6">
            <button data-test-ps-new-project-button class="btn btn-block" local-class="btn-big" {{action 'changeState' 'newProject'}}>
                {{t 'move_to_project.create_new_project'}}
            </button>
        </div>
        <div class="col-xs-6">
            <button data-test-ps-existing-project-button class="btn btn-block" local-class="btn-big" {{action 'changeState' 'existingProject'}}>
                {{t 'move_to_project.connect_to_existing'}}
            </button>
        </div>
    </div>
{{/if}}
{{#if (eq projectSelectState 'newProject')}}
    <NewProjectModal
        @projectCreated={{action projectCreated}}
        @closeModal={{action closeModal}}
        @page="Quick Files"
    />
{{else if (eq projectSelectState 'existingProject')}}
    {{#if initialLoad.isRunning}}
        <div class="ball-pulse ball-dark text-center">
            <div></div>
            <div></div>
            <div></div>
        </div>
    {{else}}
        <h5>{{t 'move_to_project.choose_project'}}</h5>
        {{#if projectList.length}}
            <form>
                <div data-test-ps-select-project class="form-group">
                    <div class="m-t-sm">
                        {{#power-select
                            renderInPlace=true
                            placeholder=(t 'move_to_project.select_placeholder')
                            options=projectList
                            search=(perform findNodes)
                            selected=selected
                            searchField='title'
                            onchange=(action 'valueChanged')
                            as |project|
                        }}
                            {{get-ancestor-descriptor project}} <strong>{{project.title}}</strong>
                        {{/power-select}}
                    </div>
                </div>
            </form>
        {{else}}
            <p class="m-t-md text-danger">
                {{t 'move_to_project.no_projects_exist_error'}}
            </p>
        {{/if}}
        <p class="text-smaller m-t-xs">
            {{t 'move_to_project.project_select_message'}}
        </p>
    {{/if}}
    {{#if selected}}
        <p class="m-t-lg">
            {{t (concat
                'move_to_project.convert_or_copy_message.'
                (if isChildNode 'component' 'project')
            )}}
        </p>
        {{#unless isPublicProject}}
            <p class="text-danger m-t-sm">
                {{t (concat
                    'move_to_project.no_longer_public_warning.'
                    (if isChildNode 'component' 'project')
                )}}
            </p>
        {{/unless}}
    {{/if}}
{{/if}}
