<section
        data-test-testimonials-container
        class='carousel-tablist'
        local-class='Testimonials_Container'
        aria-label={{t 'new-home.testimonials.carousel_heading'}}
        tabindex='0'
        {{track-scroll 'Testimonials section'}}
>
    <header>
        <h1 data-test-testimonials-heading tabindex='0'>
            {{t 'new-home.testimonials.heading'}}
        </h1>
    </header>
    <Carousel as |carousel|>
        <carousel.header>
            <h2 tabindex='0'>
                {{t 'new-home.testimonials.carousel_heading'}}
            </h2>
        </carousel.header>
        <carousel.slide data-test-testimonials-slide-1>
            <div local-class='slide-content' tabindex='0'>
                <div local-class='Testimonial_Left' tabindex='0'>
                    <span>
                        <div local-class='SingleQuote' tabindex='0'>
                            {{t 'new-home.testimonials.single_quote'}}
                        </div>
                        <div local-class='ResearcherQuote' tabindex='0'>
                            {{t 'new-home.testimonials.slide_1.text'}}
                        </div>
                        <div local-class='ResearcherMoreInfo' tabindex='0'>
                            <p local-class='description-bold' tabindex='0'>{{t 'new-home.testimonials.slide_1.description.name'}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_1.description.position' htmlSafe=true}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_1.description.institution'}}</p>
                            <OsfLink
                                data-analytics-name='View research'
                                local-class='description-bold'
                                @href='/wx9bf/'
                                tabindex='0'
                            >
                                {{t 'new-home.testimonials.see_their_research'}}
                            </OsfLink>
                        </div>
                    </span>
                </div>
                <div local-class='Testimonial_ResearcherProfile' tabindex='0'>
                    <img
                        local-class='slide-image'
                        src='/assets/images/new-home/ayala-patricia.png'
                        alt='{{t 'new-home.testimonials.slide_1.alt'}}'
                        tabindex='0'
                    >
                </div>
            </div>
        </carousel.slide>
        <carousel.slide data-test-testimonials-slide-2>
            <div local-class={{if this.isMobile 'slide-content-mobile' 'slide-content'}} tabindex='0'>
                <div local-class={{if this.isMobile 'Testimonial_LeftMobile' 'Testimonial_Left'}} tabindex='0'>
                    <span>
                        <div local-class='SingleQuote' tabindex='0'>
                            {{t 'new-home.testimonials.single_quote'}}
                        </div>
                        <div local-class='ResearcherQuote_Small' tabindex='0'>
                            {{t 'new-home.testimonials.slide_2.text'}}
                        </div>
                        <div local-class='ResearcherMoreInfoSmall'>
                            <p local-class='description-bold' tabindex='0'>{{t 'new-home.testimonials.slide_2.description.name'}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_2.description.position' htmlSafe=true}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_2.description.institution' htmlSafe=true}}</p>
                            <OsfLink
                                data-analytics-name='View research'
                                local-class='description-bold'
                                @href='/e9tg8/'
                                tabindex='0'
                            >
                                {{t 'new-home.testimonials.see_their_research'}}
                            </OsfLink>
                        </div>
                    </span>
                </div>
                <div local-class={{if this.isMobile 'ResearcherProfileMobile' 'Testimonial_ResearcherProfile'}} tabindex='0'>
                    <img
                        local-class='slide-image'
                        src='/assets/images/new-home/mathur-maya.png'
                        alt='{{t 'new-home.testimonials.slide_2.alt'}}'
                        tabindex='0'
                    >
                </div>
            </div>
        </carousel.slide>
        <carousel.slide data-test-testimonials-slide-3>
            <div local-class={{if this.isMobile 'slide-content-mobile' 'slide-content'}} tabindex='0'>
                <div local-class={{if this.isMobile 'Testimonial_LeftMobile' 'Testimonial_Left'}} tabindex='0'>
                    <span>
                        <div local-class='SingleQuote' tabindex='0'>
                            {{t 'new-home.testimonials.single_quote'}}
                        </div>
                        <div local-class='ResearcherQuote_Small' tabindex='0'>
                            {{t 'new-home.testimonials.slide_3.text'}}
                        </div>
                        <div local-class='ResearcherMoreInfoSmall'>
                            <p local-class='description-bold' tabindex='0'>{{t 'new-home.testimonials.slide_3.description.name'}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_3.description.institution' htmlSafe=true}}</p>
                            <OsfLink
                                data-analytics-name='View research'
                                local-class='description-bold'
                                @href='/2u4tf/'
                                tabindex='0'
                            >
                                {{t 'new-home.testimonials.see_their_research'}}
                            </OsfLink>
                        </div>
                    </span>
                </div>
                <div local-class={{if this.isMobile 'ResearcherProfileMobile' 'Testimonial_ResearcherProfile'}} tabindex='0'>
                    <img
                        local-class='slide-image'
                        src='/assets/images/new-home/cohen-phillip.png'
                        alt='{{t 'new-home.testimonials.slide_3.alt'}}'
                        tabindex='0'
                    >
                </div>
            </div>
        </carousel.slide>
    </Carousel>
</section>
