<section
        class='carousel-tablist'
        local-class='testimonials-container'
        {{track-scroll 'Testimonials section'}}
        data-test-testimonials-container
        aria-label={{t 'new-home.testimonials.carousel_heading'}}
        tabindex='0'
>
    <header>
        <h1 data-test-testimonials-heading tabindex='0'>
            {{t 'new-home.testimonials.heading'}}
        </h1>
    </header>
    <Carousel as |carousel|>
        <carousel.header>
            <h2 tabindex='0'>
                {{t 'new-home.testimonials.carousel_heading'}}
            </h2>
        </carousel.header>
<<<<<<< HEAD
        <carousel.slide data-test-carousel-slide data-test-testimonials-slide-1>
=======
        <carousel.slide data-test-testimonials-slide-1>
>>>>>>> 25f9da9c7 (removed unnecessary styling, removed handlebars mobile queries, made dotnav buttons fully focusable, moved addLiveRegion code to separate branch, improved error message, removed unnecessary console log statements, updated tabindex to relevant elements.)
            <div local-class='slide-content'>
                <div local-class='testimonials-left'>
                    <span>
                        <div local-class='single-quote' tabindex='0'>
                            {{t 'new-home.testimonials.single_quote'}}
                        </div>
                        <div local-class='researcher-quote' tabindex='0'>
                            {{t 'new-home.testimonials.slide_1.text'}}
                        </div>
                        <div local-class='researcher-more-info'>
                            <p local-class='description-bold' tabindex='0'>{{t 'new-home.testimonials.slide_1.description.name'}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_1.description.position' htmlSafe=true}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_1.description.institution'}}</p>
                            <OsfLink
                                @href='/wx9bf/'
                                local-class='description-bold'
                                data-analytics-name='View research'
                                tabindex='0'
                            >
                                {{t 'new-home.testimonials.see_their_research'}}
                            </OsfLink>
                        </div>
                    </span>
                </div>
                <div local-class='testimonial-researcher-profile' tabindex='0'>
                    <img
                        src='/assets/images/new-home/ayala-patricia.png'
                        local-class='slide-image'
                        alt='{{t 'new-home.testimonials.slide_1.alt'}}'
                    >
                </div>
            </div>
        </carousel.slide>
<<<<<<< HEAD
        <carousel.slide data-test-carousel-slide data-test-testimonials-slide-2>
=======
        <carousel.slide data-test-testimonials-slide-2>
>>>>>>> 25f9da9c7 (removed unnecessary styling, removed handlebars mobile queries, made dotnav buttons fully focusable, moved addLiveRegion code to separate branch, improved error message, removed unnecessary console log statements, updated tabindex to relevant elements.)
            <div local-class='slide-content'>
                <div local-class='testimonials-left'>
                    <span>
                        <div local-class='single-quote' tabindex='0'>
                            {{t 'new-home.testimonials.single_quote'}}
                        </div>
                        <div local-class='researcher-quote-small' tabindex='0'>
                            {{t 'new-home.testimonials.slide_2.text'}}
                        </div>
                        <div local-class='researcher-more-info-small'>
                            <p local-class='description-bold' tabindex='0'>{{t 'new-home.testimonials.slide_2.description.name'}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_2.description.position' htmlSafe=true}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_2.description.institution' htmlSafe=true}}</p>
                            <OsfLink
                                @href='/e9tg8/'
                                local-class='description-bold'
                                data-analytics-name='View research'
                                tabindex='0'
                            >
                                {{t 'new-home.testimonials.see_their_research'}}
                            </OsfLink>
                        </div>
                    </span>
                </div>
                <div local-class='testimonial-researcher-profile' tabindex='0'>
                    <img
                        src='/assets/images/new-home/mathur-maya.png'
                        local-class='slide-image'
                        alt='{{t 'new-home.testimonials.slide_2.alt'}}'
                    >
                </div>
            </div>
        </carousel.slide>
<<<<<<< HEAD
        <carousel.slide data-test-carousel-slide data-test-testimonials-slide-3>
=======
        <carousel.slide data-test-testimonials-slide-3>
>>>>>>> 25f9da9c7 (removed unnecessary styling, removed handlebars mobile queries, made dotnav buttons fully focusable, moved addLiveRegion code to separate branch, improved error message, removed unnecessary console log statements, updated tabindex to relevant elements.)
            <div local-class='slide-content'>
                <div local-class='testimonials-left'>
                    <span>
                        <div local-class='single-quote' tabindex='0'>
                            {{t 'new-home.testimonials.single_quote'}}
                        </div>
                        <div local-class='researcher-quote-small' tabindex='0'>
                            {{t 'new-home.testimonials.slide_3.text'}}
                        </div>
                        <div local-class='researcher-more-info-small'>
                            <p local-class='description-bold' tabindex='0'>{{t 'new-home.testimonials.slide_3.description.name'}}</p>
                            <p tabindex='0'>{{t 'new-home.testimonials.slide_3.description.institution' htmlSafe=true}}</p>
                            <OsfLink
                                @href='/2u4tf/'
                                local-class='description-bold'
                                data-analytics-name='View research'
                                tabindex='0'
                            >
                                {{t 'new-home.testimonials.see_their_research'}}
                            </OsfLink>
                        </div>
                    </span>
                </div>
                <div local-class='testimonial-researcher-profile' tabindex='0'>
                    <img
                        src='/assets/images/new-home/cohen-phillip.png'
                        local-class='slide-image'
                        alt='{{t 'new-home.testimonials.slide_3.alt'}}'
                    >
                </div>
            </div>
        </carousel.slide>
    </Carousel>
</section>
