<div
    data-test-filter-facet
    local-class='facet-wrapper {{if @showSidePanelToggle 'mobile-facet-wrapper'}}'
>
    {{#let (get-localized-property @propertyCard.resourceMetadata 'label') as |propertyLabel|}}
        {{#let (unique-id propertyLabel) as |facetElementId|}}
            <Button
                data-analytics-name='filter facet toggle {{propertyLabel}}'
                data-test-filter-facet-toggle={{propertyLabel}}
                @layout='fake-link'
                local-class='facet-expand-button'
                aria-controls={{facetElementId}}
                aria-expanded={{not this.collapsed}}
                {{on 'click' this.toggleFacet}}
            >
                <span>{{propertyLabel}}</span>
                <FaIcon @icon={{if this.collapsed 'caret-down' 'caret-up'}} />
            </Button>
            {{#if this.fetchFacetValues.isRunning}}
                <LoadingIndicator @dark={{true}} />
            {{else if this.fetchFacetValues.isError}}
                {{t 'search.filter-facet.facet-load-failed'}}
            {{else}}
                <ul
                    local-class='facet-list {{if this.collapsed 'collapsed'}}'
                    id={{facetElementId}}
                >
                    {{#each this.filterableValues as |value|}}
                        {{#let (get-localized-property value.indexCard.resourceMetadata 'title') as |valueTitle|}}
                            <li
                                data-test-filter-facet-value={{valueTitle}}
                                local-class='facet-value'
                            >
                                <Button
                                    data-analytics-name='toggle filter facet value {{valueTitle}}'
                                    local-class='facet-link'
                                    @layout='fake-link'
                                    {{on 'click' (fn @toggleFilter (hash property=propertyLabel value=valueTitle))}}
                                >
                                    {{valueTitle}}
                                </Button>
                                <span local-class='facet-count'>
                                    {{value.recordResultCount}}
                                </span>
                            </li>
                        {{/let}}
                    {{/each}}
                
                    {{#if this.showSeeMoreButton}}
                        <li>
                            <Button
                                data-analytics-name='see more filterable values {{propertyLabel}}'
                                data-test-see-more-filterable-values={{propertyLabel}}
                                @layout='fake-link'
                                {{on 'click' (fn (mut this.seeMoreModalShown) true)}}
                            >
                                {{t 'search.filter-facet.see-more'}}
                            </Button>
                        </li>
                    {{/if}}
                </ul>
            {{/if}}
            <OsfDialog
                data-analytics-scope='filter facet - see more modal'
                @isOpen={{this.seeMoreModalShown}}
                @onClose={{fn (mut this.seeMoreModalShown) false}}
                as |dialog|
            >
                <dialog.heading data-test-see-more-dialog-heading>
                    {{propertyLabel}}
                </dialog.heading>
                <dialog.main local-class='see-more-dialog'>
                    <p>
                        {{t 'search.filter-facet.see-more-modal-text'}}
                    </p>
                    <PowerSelect
                        data-test-property-value-select
                        @options={{this.filterableValues}}
                        @searchEnabled={{true}}
                        @selected={{this.selectedProperty}}
                        @placeholder={{t 'search.filter-facet.see-more-modal-placeholder'}}
                        @search={{perform this.fetchFacetValues}}
                        @onChange={{action this.updateSelectedProperty}}
                        as |property|
                    >
                        {{get-localized-property property.indexCard.resourceMetadata 'title'}}
                    </PowerSelect>
                </dialog.main>
                <dialog.footer>
                    <Button
                        data-analytics-name='cancel filter'
                        data-test-see-more-dialog-cancel-button
                        @type='secondary'
                        {{on 'click' (fn (mut this.seeMoreModalShown) false)}}
                    >
                        {{t 'general.cancel'}}
                    </Button>
                    <Button
                        data-analytics-name='apply filter'
                        data-test-see-more-dialog-apply-button
                        @type='primary'
                        disabled={{not this.selectedProperty}}
                        {{on 'click' (queue (perform this.applySelectedProperty) dialog.close) }}
                    >
                        {{t 'general.apply'}}
                    </Button>
                </dialog.footer>
            </OsfDialog>
        {{/let}}
    {{/let}}
</div>
