<div
    data-test-filter-facet
    local-class='facet-wrapper'
>
    {{#let (unique-id @propertyRecord.label) as |facetElementId|}}
        <Button
            data-analytics-name='filter facet toggle {{@propertyRecord.label}}'
            data-test-filter-facet-toggle={{@propertyRecord.label}}
            @layout='fake-link'
            local-class='facet-expand-button'
            aria-controls={{facetElementId}}
            aria-expanded={{not this.collapsed}}
            {{on 'click' (fn this.toggleFacet this.label)}}
        >
            <span>{{@propertyRecord.label}}</span>
            <FaIcon @icon={{if this.collapsed 'caret-down' 'caret-up'}} />
        </Button>
        {{#if this.fetchFacetValues.isRunning}}
            <LoadingIndicator @dark={{true}} />
        {{else if this.fetchFacetValues.isError}}
            {{t 'search.filter-facet.facet-load-failed'}}
        {{else}}
            <ul
                local-class='facet-list {{if this.collapsed 'collapsed'}}'
                id={{facetElementId}}
            >
                {{#each this.filterableProperties as |property|}}
                    <li
                        data-test-filter-facet-value={{property.metadataRecord.title}}
                        local-class='facet-value'
                    >
                        <OsfLink
                            data-analytics-name='toggle filter facet value {{property.metadataRecord.title}}'
                            local-class='facet-link'
                            @route='search'
                            @queryParams={{hash filter=this.filter}}
                            {{on 'click' (fn @toggleFilter (hash property=@propertyRecord.label value=property.metadataRecord.title))}}
                        >
                            {{property.metadataRecord.title}}
                        </OsfLink>
                        <span local-class='facet-count'>
                            {{property.recordResultCount}}
                        </span>
                    </li>
                {{/each}}
               
                {{#if this.showSeeMoreButton}}
                    <li>
                        <Button
                            data-analytics-name='see more filterable values {{@propertyRecord.label}}'
                            data-test-see-more-filterable-values={{@propertyRecord.label}}
                            @layout='fake-link'
                            {{on 'click' (fn (mut this.seeMoreModalShown) true)}}
                        >
                            {{t 'search.filter-facet.see-more'}}
                        </Button>
                    </li>
                {{/if}}
            </ul>
        {{/if}}
        <OsfDialog
            data-analytics-scope='filter facet - see more modal'
            @isOpen={{this.seeMoreModalShown}}
            @onClose={{fn (mut this.seeMoreModalShown) false}}
            as |dialog|
        >
            <dialog.heading data-test-see-more-dialog-heading>
                {{@propertyRecord.label}}
            </dialog.heading>
            <dialog.main local-class='see-more-dialog'>
                {{t 'search.filter-facet.see-more-modal-text'}}
                <PowerSelect
                    data-test-property-value-select
                    @options={{this.filterableProperties}}
                    @searchEnabled={{true}}
                    @selected={{this.selectedProperty}}
                    @placeholder={{t 'search.filter-facet.see-more-modal-placeholder'}}
                    @search={{perform this.fetchFacetValues}}
                    @onChange={{action this.updateSelectedProperty}}
                    as |property|
                >
                    {{property.metadataRecord.title}}
                </PowerSelect>
            </dialog.main>
            <dialog.footer>
                <Button
                    data-analytics-name='cancel filter'
                    data-test-see-more-dialog-cancel-button
                    @type='secondary'
                    {{on 'click' (fn (mut this.seeMoreModalShown) false)}}
                >
                    {{t 'general.cancel'}}
                </Button>
                <Button
                    data-analytics-name='apply filter'
                    data-test-see-more-dialog-apply-button
                    @type='primary'
                    disabled={{not this.selectedProperty}}
                    {{on 'click' (queue (perform this.applySelectedProperty) dialog.close) }}
                >
                    {{t 'general.apply'}}
                </Button>
            </dialog.footer>
        </OsfDialog>
    {{/let}}
</div>
