<div
    local-class='facet-wrapper'
>
    {{#let (unique-id @propertyRecord.label) as |facetElementId|}}
        <Button
            @layout='fake-link'
            local-class='facet-expand-button'
            aria-controls={{facetElementId}}
            aria-expanded={{not this.collapsed}}
            {{on 'click' (fn this.toggleFacet this.label)}}
        >
            <span>{{@propertyRecord.label}}</span>
            <FaIcon @icon={{if this.collapsed 'caret-down' 'caret-up'}} />
        </Button>
        {{#if this.fetchFacetValues.isRunning}}
            <LoadingIndicator @dark={{true}} />
        {{else if this.fetchFacetValues.isError}}
            {{t 'search.filter_facet.facet_load_failed'}}
        {{else}}
            <ul
                local-class='facet-list {{if this.collapsed 'collapsed'}}'
                id={{facetElementId}}
            >
                {{#each this.filterableProperties as |property|}}
                    <li local-class='facet-value'>
                        <OsfLink
                            local-class='facet-link'
                            @route='search'
                            @query={{hash q=this.q filter=this.filter}}
                            {{on 'click' (fn @toggleFilter (hash key=@propertyRecord.label value=property.metadataRecord.title))}}
                        >
                            {{property.metadataRecord.title}}
                        </OsfLink>
                        <span local-class='facet-count'>
                            {{property.recordResultCount}}
                        </span>
                    </li>
                {{/each}}
               
                {{#if this.showSeeMoreButton}}
                    <li>
                        <Button
                            @layout='fake-link'
                            {{on 'click' (fn (mut this.seeMoreModalShown) true)}}
                        >
                            {{t 'search.filter_facet.see_more'}}
                        </Button>
                    </li>
                {{/if}}
            </ul>
        {{/if}}
        {{!-- TODO: actually make this dialog work --}}
        <OsfDialog
            @isOpen={{this.seeMoreModalShown}}
            @onClose={{fn (mut this.seeMoreModalShown) false}}
            as |dialog|
        >
            <dialog.heading>
                {{@propertyRecord.label}}
            </dialog.heading>
            <dialog.main local-class='see-more-dialog'>
                {{t 'search.filter_facet.see_more_modal_text'}}
                <PowerSelect
                    @options={{this.filterableProperties}}
                    @searchEnabled={{true}}
                    @selected={{this.selectedProperty}}
                    @search={{perform this.fetchFacetValues}}
                    @onChange={{action this.updateSelectedProperty}}
                    as |property|
                >
                    {{property.metadataRecord.title}}
                </PowerSelect>
            </dialog.main>
            <dialog.footer>
                <Button
                    @type='secondary'
                    {{on 'click' (fn (mut this.seeMoreModalShown) false)}}
                >
                    {{t 'general.cancel'}}
                </Button>
                <Button
                    @type='primary'
                    disabled={{not this.selectedProperty}}
                    {{on 'click' (queue (perform this.applySelectedProperty) dialog.close) }}
                >
                    {{t 'general.apply'}}
                </Button>
            </dialog.footer>
        </OsfDialog>
    {{/let}}
</div>
