{{#component
    (concat 'collection-search-result/' type)
    item=item
    collectedType=result.collectedType
    status=result.status
    subjects=subjects
    addFilter=(action 'addFilter')
}}
    {{#each this.choiceFilters as |choiceFilter|}}
        <span
            role="button"
            local-class="choiceFilter"
            onclick={{action 'addFilter' choiceFilter.facet choiceFilter.value}}
        >
            <b>
                {{t choiceFilter.label}}
                {{choiceFilter.value}}
            </b>
        </span>
    {{/each}}
{{/component}}

{{#if expandable}}
    <div class="text-center">
        <button
            class='btn btn-link'
            local-class="toggleShowBody"
            aria-label={{t (concat 'collections.collection_search_result.' (if showBody 'collapse' 'expand'))}}
            {{action 'toggleShowBody'}}
        >
            {{fa-icon (concat 'caret-' (if showBody 'up' 'down'))}}
        </button>
    </div>
{{/if}}