{{#if (and @shouldShowMessages this.message)}}
    <div local-class='{{if this.valid 'text-warning' 'text-danger'}} warning-message'>
        {{this.message}}
    </div>
{{/if}}
<div data-test-password-bar hidden={{not this.progress}}>
    <div local-class='progress create-password'>
        <div
            data-test-password-color-bar
            class='progress-bar-{{this.progress}} progress-bar-{{this.progressStyle}}'
            local-class='progress-bar progress-bar-sm'
            role='progressbar'>
        </div>
    </div>
</div>
