<section
    data-test-carousel-container
    data-analytics-scope='Carousel'
    local-class='carousel-container'
    ...attributes
>
    {{yield (hash header=(component 'carousel/x-header'))}}
    <div data-test-dot-navigation local-class='dot-nav' role='tablist'>
        {{#each this.carouselItems as |item|}}
            <div
                data-test-navigation-item
                role='tab'
                tabindex='0'
                local-class='dot-nav-item {{if item.isActive 'current'}}'
                aria-selected={{if item.isActive 'true' 'false'}}
                {{on 'click' (fn this.navClick item)}}
            >
                <span class='visually-hidden'>{{t 'osf-components.carousel.go_to_slide' slideIndex=item.slideIndex}}</span>
                {{#if item.isActive}}
                    <span class='visually-hidden'>{{t 'osf-components.carousel.current_slide'}}</span>
                {{/if}}
            </div>
        {{/each}}
    </div>
    <div data-test-carousel-list local-class='item-list'>
        {{yield (hash slide=(component 'carousel/x-item' register=(action this.register) allItems=this.carouselItems))}}
    </div>
    <Button
        data-test-carousel-button-previous
        data-analytics-name='Previous slide'
        local-class='btn'
        aria-label={{t 'osf-components.carousel.previous_slide'}}
        {{on 'click' (action this.changeSlide 'previous')}}
    >
        <img
            data-test-previous-arrow
            local-class='arrow-previous'
            src='/assets/images/dashboard/arrow.svg'
            alt={{t 'osf-components.carousel.previous_slide'}}
        >
    </Button>
    <Button
        data-test-carousel-button-next
        data-analytics-name='Next slide'
        local-class='btn btn-next'
        aria-label={{t 'osf-components.carousel.next_slide'}}
        {{on 'click' (action this.changeSlide 'next')}}
    >
        <img
            data-test-next-arrow
            src='/assets/images/dashboard/arrow.svg'
            alt={{t 'osf-components.carousel.next_slide'}}
        >
    </Button>
</section>
