<section local-class='carousel-container'>
    {{yield (hash header=(component 'carousel/x-header'))}}
    <ol local-class='dot-nav' role='tablist'>
        {{#each this.carouselItems as |item|}}
            <li
                role='tab'
                local-class={{if item.isActive 'current' ''}}
                tabIndex={{if item.isActive '0' '-1'}}
                aria-selected={{if item.isActive 'true' 'false'}}
            >
                <button type='button' local-class='navBtn' data-slide={{item.index}} {{action 'navClick' item}}>
                    <span class='visuallyHidden'>{{item.slideIndex}}</span>
                    {{#if item.isActive}}
                        <span class='visuallyhidden'></span>
                    {{/if}}
                </button>
            </li>
        {{/each}}
    </ol>
    <ul data-test-carousel-list local-class='item-list'>
        {{yield (hash slide=(component 'carousel/x-item' register=(action this.register) allItems=this.carouselItems))}}
    </ul>
    <button type='button' local-class='btn' {{action 'changeSlide' 'previous'}}>
        <img
            data-test-previous-arrow
            local-class='arrow-previous'
            src='/assets/images/dashboard/arrow.svg'
            alt={{t 'general.previous'}}
        >
    </button>
    <button type='button' local-class='btn btn-next' {{action 'changeSlide' 'next'}}>
        <img
            data-test-next-arrow
            local-class='arrow-next'
            src='/assets/images/dashboard/arrow.svg'
            alt={{t 'general.next'}}
        >
    </button>
</section>
