<section
    local-class='carousel-container'
    {{on 'focus' this.registerKeyboard}}
    data-test-carousel-container
    data-analytics-scope='Carousel'
    aria-label={{t 'osf-components.carousel.aria_label.section'}}
    tabindex='0'
    ...attributes
>
    {{yield (hash header=(component 'carousel/x-header'))}}
    <div
        role='tablist'
        id='dotNav'
        local-class='carousel-dotnav'
        data-test-dot-navigation
        aria-label={{t 'osf-components.carousel.aria_label.dot_nav'}}
    >
        {{#each this.carouselItems as |item|}}
            <BsButton
                role='tab'
                @type='button'
                local-class={{if item.isActive 'current dotnav-button' 'dotnav-button'}}
                {{action this.navClick item}}
                data-test-navigation-button
                data-analytics-name='Go to slide {{item.slideIndex}}'
                data-slide={{item.index}}
                aria-label={{t 'osf-components.carousel.go_to_slide' slideIndex=item.slideIndex}}
                aria-selected={{if item.isActive 'true' 'false'}}
                tabindex='0'
            >
                <div local-class='visually-hidden'>{{item.slideIndex}}</div>
                {{#if item.isActive}}
                    <div local-class='visually-hidden'>{{t 'osf-components.carousel.current_slide'}}</div>
                {{/if}}
            </BsButton>
        {{/each}}
    </div>
    <div local-class='carousel-slide'>
        <BsButton
            @type='button'
            id='leftNav'
            local-class='previous-slide'
            data-test-carousel-button-previous
            data-analytics-name='Previous slide'
            aria-label={{t 'osf-components.carousel.aria_label.previous_testimonial'}}
            @onClick={{action this.changeSlide 'previous'}}
            tabindex='0'
        >
            <img
                data-test-previous-arrow
                src='/assets/images/dashboard/arrow.svg'
                alt={{t 'osf-components.carousel.previous_slide'}}
            >
        </BsButton>
        <ul local-class='item-list'>
            {{yield (hash slide=(component 'carousel/x-item' register=(action this.register) allItems=this.carouselItems))}}
        </ul>
        <BsButton
            @type='button'
            local-class='next-slide'
            id='rightNav'
            @onClick={{action this.changeSlide 'next'}}
            data-test-carousel-button-next
            data-analytics-name='Next slide'
            aria-label={{t 'osf-components.carousel.aria_label.next_testimonial'}}
            tabindex='0'
        >
            <img
                data-test-next-arrow
                src='/assets/images/dashboard/arrow.svg'
                alt={{t 'osf-components.carousel.next_slide'}}
            >
        </BsButton>
    </div>
</section>
