{{title this.model.file.name}}
<div data-analytics-scope='File detail' class='container'>
    <QuickfileNav @user={{this.model.user}} @onQuickfiles={{false}} />
    <div data-analytics-scope='Title bar' local-class='TitleBar'>
        <div data-analytics-scope='Title' local-class='TitleBar__title'>
            <h2 data-test-file-title-header>
                {{this.model.file.name}}
                <OsfButton
                    data-analytics-name='Version'
                    local-class='TitleBar__version-link'
                    @bubble={{true}}
                    @type='link'
                    @onClick={{action 'changeView' 'revision'}}
                >
                    {{t 'file_detail.version.title' version-number=this.mfrVersion}}
                </OsfButton>
            </h2>
        </div>
        <div data-analytics-scope='buttons' local-class='TitleBar__buttons'>
            <div class='pull-right'>
                <div class='btn-toolbar m-t-md'>
                    {{#if this.canDelete}}
                        <div class='btn-group m-l-xs m-t-xs'>
                            <OsfButton
                                data-analytics-name='Delete'
                                data-test-delete-button
                                @bubble={{true}}
                                @type='default'
                                @size='sm'
                                @onClick={{action (mut this.deleteModalOpen) true}}
                            >
                                {{t 'general.delete'}}
                            </OsfButton>
                        </div>
                    {{/if}}
                    <div class='btn-group m-l-xs m-t-xs'>
                        <OsfButton
                            data-analytics-name={{if (not this.canEdit) 'Download'}}
                            data-test-download-button
                            @bubble={{true}}
                            @type='primary'
                            @size='sm'
                            @onClick={{action this.download this.model.file.currentVersion}}
                        >
                            {{t 'general.download'}}
                        </OsfButton>
                    </div>
                    <div class='btn-group m-l-xs m-t-xs'>
                        <FileShareButton @file={{this.model.file}} />
                    </div>
                    {{#if this.isEditableFile}}
                        <div class='btn-group btn-group-sm m-t-xs'>
                            {{#if this.canEdit}}
                                <OsfButton
                                    data-analytics-name='Toggle'
                                    local-class='TitleBar__button-label'
                                    @bubble={{true}}
                                    @disabled={{true}}
                                >
                                    {{t 'file_detail.toggle'}}
                                </OsfButton>
                                <OsfButton
                                    data-analytics-name='View'
                                    @bubble={{true}}
                                    @type='{{if (or (eq this.show 'view') (eq this.show 'view_edit')) 'primary' 'default'}}'
                                    @onClick={{action this.changeView 'view'}}
                                >
                                    {{t 'general.view'}}
                                </OsfButton>
                                <OsfButton
                                    data-analytics-name='Edit'
                                    @bubble={{true}}
                                    @type='{{if (or (eq this.show 'edit') (eq this.show 'view_edit')) 'primary' 'default'}}'
                                    @onClick={{action this.changeView 'edit'}}
                                >
                                    {{t 'general.edit'}}
                                </OsfButton>
                            {{else}}
                                <OsfButton
                                    data-analytics-name='View'
                                    @bubble={{true}}
                                    @type='{{if (or (eq this.show 'view') (eq this.show 'view_edit')) 'primary' 'default'}}'
                                    @onClick={{action this.changeView 'view'}}
                                >
                                    {{t 'general.view'}}
                                </OsfButton>
                            {{/if}}
                        </div>
                    {{else}}
                        <div class='btn-group m-l-xs m-t-xs'>
                            <OsfButton
                                data-analytics-name='View'
                                @bubble={{true}}
                                @type='{{if (or (eq this.show 'view') (eq this.show 'view_edit')) 'primary' 'default'}}'
                                @size='sm'
                                @onClick={{action this.changeView 'view'}}
                            >
                                {{t 'general.view'}}
                            </OsfButton>
                        </div>
                    {{/if}}
                    <div class='btn-group m-l-xs m-t-xs'>
                        <OsfButton
                            data-analytics-name='Revisions tab'
                            data-test-revisions-tab
                            @bubble={{true}}
                            @type='{{if (eq this.show 'revision') 'primary' 'default'}}'
                            @size='sm'
                            @onClick={{action this.changeView 'revision'}}
                        >
                            {{t 'general.revisions'}}
                        </OsfButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <BsModal
        @open={{this.deleteModalOpen}}
        @onSubmit={{action this.delete}}
        @onHidden={{action (mut this.deleteModalOpen) false}}
        as |modal|
    >
        <modal.header>
            <h4 class='modal-title'>{{t 'file_detail.delete_file.question'}}</h4>
        </modal.header>
        <modal.body>
            <p>{{t 'file_detail.delete_file.confirm' file-name=this.model.file.name}}</p>
        </modal.body>
        <modal.footer data-analytics-scope='File detail - Delete file modal'>
            <OsfButton
                data-test-delete-file-cancel
                data-analytics-name='Close'
                @onClick={{action modal.close}}
                @type='default'
            >
                {{t 'general.cancel'}}
            </OsfButton>
            <OsfButton
                data-test-delete-file-confirm
                data-analytics-name='Delete file'
                @onClick={{action modal.submit}}
                @type='danger'
            >
                {{t 'general.delete'}}
            </OsfButton>
        </modal.footer>
    </BsModal>
    <hr>
    <div class='row' local-class='Main'>
        <div class='col-md-3' local-class='Sidebar'>
            <FileList
                data-analytics-scope='File list'
                @items={{this.files}}
                @filter={{this.filter}}
                @selectedFile={{this.model.file}}
                @user={{this.model.user}}
                @unselect={{false}}
                @openOnSelect={{true}}
                @updateFilter={{perform this.updateFilter}}
                @openFile={{action this.openFile}}
            />
            {{#if (or this.canEdit this.file.tags)}}
                <div
                    data-test-tags-panel
                    data-analytics-scope='Tags'
                    class='panel panel-default'
                    local-class='TagsPanel'
                >
                    <div class='panel-heading clearfix' local-class='TagsPanel__heading'>
                        <h3 class='panel-title'>{{t 'file_detail.tags'}}</h3>
                    </div>
                    <div class='panel-body'>
                        <TagsWidget
                            data-analytics-scope='Quick Files'
                            @taggable={{this.file}}
                            @readOnly={{not this.canEdit}}
                            @shouldSearchOnClick={{true}}
                        />
                        <div class='tags_clear'></div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class='col-md-9'>
            {{#if (or
                (eq this.show 'view')
                (eq this.show 'view_edit')
            )}}
                <div id='mfrIframeParent' class='{{if (and (eq this.show 'view_edit') this.canEdit) 'col-sm-6'}}'>
                    <FileRenderer
                        @download={{this.model.file.links.download}}
                        @version={{this.mfrVersion}}
                        @height='700'
                        @width='99%'
                    />
                </div>
            {{/if}}
            {{#if (and
                this.isEditableFile
                this.canEdit
                (or
                    (eq this.show 'edit')
                    (eq this.show 'view_edit')
                )
            )}}
                <div
                    data-analytics-scope='Edit panel'
                    class='panel panel-default {{if (and (eq this.show 'view_edit') this.canEdit) 'col-sm-6'}}'
                    local-class='EditPanel'
                >
                    {{#if (not (eq (await this.fileText) null))}}
                        <FileEditor
                            @fileText={{await this.fileText}}
                            @save={{action this.save}}
                        />
                    {{/if}}
                </div>
            {{/if}}
            {{#if (eq this.show 'revision')}}
                <div
                    data-analytics-scope='Revisions panel'
                    class='panel panel-default'
                    local-class='RevisionsPanel'
                >
                    <div class='clearfix' local-class='TagsPanel__heading'>
                        <h3 class='panel-title'>
                            {{t 'general.revisions'}}
                        </h3>
                    </div>
                    <div class='panel-body'>
                        <table class='table table-responsive' local-class='RevisionsPanel__table'>
                            <thead>
                                <tr>
                                    <th class='col-md-4'>{{t 'file_detail.version.id'}}</th>
                                    <th class='col-md-6'>{{t 'general.date'}}</th>
                                    <th colspan='2' class='col-xs-2'>{{t 'general.download'}}</th>
                                    <th class='hidden-md hidden-sm hidden-xs'>
                                        {{t 'general.md5'}}
                                        <span>
                                            {{fa-icon 'question-circle'}}
                                            <BsPopover
                                                @triggerEvents='hover'
                                                @placement='top'
                                            >
                                                {{t 'file_detail.md5_description'}}
                                            </BsPopover>
                                        </span>
                                    </th>
                                    <th class='hidden-md hidden-sm hidden-xs'>
                                        {{t 'general.sha2'}}
                                        <span>
                                            {{fa-icon 'question-circle'}}
                                            <BsPopover
                                                @triggerEvents='hover'
                                                @placement='top'
                                            >
                                                {{t 'file_detail.sha2_description'}}
                                            </BsPopover>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-analytics-scope='File version'>
                                {{#each (await this.fileVersions) as |version|}}
                                    <FileVersion
                                        @version={{version}}
                                        @download={{action this.download}}
                                        @url={{this.model.file.links.download}}
                                        @currentVersion={{this.mfrVersion}}
                                        @versionChange={{action this.versionChange}}
                                    />
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
