{{page-title this.model.file.name}}
<div
    data-test-files-container
    data-analytics-scope='Files'
    class='container-fluid'
    local-class='FilesContainer'
>
    <div class='row'>
        <div local-class='LeftPanel' class='col-md-11'>
            <div class='row'>
                {{!-- {{#if this.hasProject}} --}}
                <div local-class='FileDetail_project'>
                    <BsButton
                        data-test-version-link
                        data-analytics-name='Project'
                        local-class='FileDetail__project-link'
                        @bubble={{true}}
                        @type='link'
                        @onClick={{action 'changeView' 'revision'}}
                    >
                        <h5>
                            {{this.model.project.name}}
                        </h5>
                    </BsButton>
                </div>
                {{!-- {{/if}} --}}
            </div>
            <div class='row' local-class='FileDetail_secondRow'>
                <div local-class='FileDetail_file-name'>
                    <h4>
                        <strong>
                            {{this.model.file.name}}
                        </strong>
                    </h4>
                </div>
                <div data-analytics-scope='buttons' local-class='FileDetail__buttons'>
                    <BsButton
                        data-test-more-button
                        data-analytics-name='More tab'
                        @bubble={{true}}
                        @size='sm'
                        @onClick={{this.showMoreButtons}}
                    >
                        <FaIcon @icon='ellipsis-v' @fixedWidth={{true}} />
                    </BsButton>
                </div>
            </div>
            <div class='row' local-class='FileDetail_iframe'>
                <div id='mfrIframeParent' class='{{if (and (eq this.show 'view_edit') this.canEdit) 'col-sm-6'}}'>
                    <FileRenderer
                        data-test-file-renderer
                        @download={{this.model.file.links.download}}
                        @version={{this.mfrVersion}}
                        @height='50%'
                        @width='100%'
                    />
                </div>
            </div>
        </div>
        <div local-class='RightPanel' class='col-md-1'>
            <div local-class='FilesDetail_SideNavbar' class='pull-right'>
                <div class='btn btn-group-vertical'>
                    <BsButton
                        data-test-versions-button
                        local-class='FilesDetail_versions-button'
                        @size='sm'
                        @onClick={{this.viewVersions}}
                    >
                        <FaIcon @icon='pen-square' @fixedWidth={{true}} />
                    </BsButton>
                    <BsButton
                        data-test-tags-button
                        local-class='FilesDetail_tags-button'
                        @size='sm'
                        @onClick={{this.viewTags}}
                    >
                        <FaIcon @icon='tags' @fixedWidth={{true}} />
                    </BsButton>
                </div>
            </div>
        </div>
    </div>
</div>
