<div class='container' local-class='FileDetail_container'>
    <div class='col-lg-11' local-class='FileDetail_leftPanel'>
        <div id='mainPanel' class='col-lg-12' local-class='FileDetail_main'>
            <div class='row'>
                <div local-class='FileDetail-project-link' class='col-lg-12'>
                    <BsButton
                        data-test-project-link
                        data-analytics-name='Linked project'
                        local-class='FileDetail__registration-link'
                        @bubble={{true}}
                        @type='link'
                        @onClick={{'#'}}
                    >
                        <h5>
                            {{t 'file_detail.file_project_placeholder'}}
                            {{this.file.parentFolder}}
                        </h5>
                    </BsButton>
                </div>
            </div>
            <div class='row' local-class='FileDetail_filename-buttons'>
                <div class='col-lg-10'>
                    <h3>
                        <em>
                            {{t 'file_detail.file_name_placeholder'}}
                            {{this.file.name}}
                        </em>
                    </h3>
                </div>
                <div class='col-lg-2'>
                    <div class='btn btn-group'>
                        <ResponsiveDropdown
                            data-test-more-button
                            data-analytics-scope='Files'
                            as |dd|
                        >
                            <dd.trigger
                                data-test-more-button-trigger
                                data-analytics-name='Toggle more buttons'
                                local-class='FileDetail_dropdown-trigger'
                            >
                                <Button
                                    local-class='FileDetail_dropdown-trigger-button'
                                >
                                    <FaIcon @icon='ellipsis-v' @fixedWidth={{true}} />
                                </Button>
                            </dd.trigger>
                            <dd.content
                                local-class='FileDetail_dropdown-list'
                            >
                                <div local-class='FileDetail_main-download-button'>
                                    <BsButton
                                        data-analytics-name='Download button'
                                        data-test-download-button
                                        @type='link'
                                        @bubble={{true}}
                                        @onClick={{this.download}}
                                    >
                                        <span>
                                            <FaIcon @icon='download' @fixedWidth={{true}} />
                                            {{t 'general.download'}}
                                        </span>
                                    </BsButton>
                                </div>
                                <div local-class='FileDetail_main-share-button'>
                                    <BsButton
                                        data-analytics-name='Share button'
                                        data-test-share-button
                                        @type='link'
                                        @bubble={{true}}
                                        @onClick={{this.share}}
                                    >
                                        <span>
                                            <FaIcon @icon='share-alt' @fixedWidth={{true}} />
                                            {{t 'general.share'}}
                                        </span>
                                    </BsButton>
                                </div>
                            </dd.content>
                        </ResponsiveDropdown>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div id='mfrIframeParent' local-class='FileDetail-file-render' class='col-lg-12'>
                    <p>{{t 'file_detail.file_renderer'}}</p>
                </div>
            </div>
        </div>
        <div class='row'>
            <div hidden id='versions' class='' local-class='FilesDetail_Version-slide'>
                <BsButton
                    data-analytics-name='Close revision sidebar'
                    data-test-close-versions
                    aria-label={{t 'general.close'}}
                    @type='link'
                    @onClick={{this.close}}
                    class='pull-right'
                    local-class='FilesDetail_Version-slide-close'
                >
                    <FaIcon @icon='times' />
                </BsButton>
                <div local-class='FileDetail_version-header'>
                    <h2>{{t 'general.revisions'}}</h2>
                </div>
                <hr>
                <table local-class='FileDetail_Version-table'>
                    <tbody>
                        <tr>
                            <td local-class='FileDetaiil_revisions-tableVersionNumber'>
                                {{t 'file_detail.version.version_number'}}
                            </td>
                            <td local-class='FileDetaiil_revisions-tableDateCreated'>
                                {{t 'file_detail.version.date_created'}}
                            </td>
                            <td>
                                <ResponsiveDropdown
                                    data-test-more-buttons
                                    data-analytics-scope='Files'
                                    as |dd|
                                >
                                    <dd.trigger
                                        data-test-detail-trigger
                                        data-analytics-name='Toggle more button options'
                                        local-class='FileDetail_dropdown-trigger'
                                    >
                                        <Button
                                            data-analytics-name='File detail trigger'
                                            data-test-detail-trigger-button
                                            local-class='FileDetail_dropdown-trigger-button'
                                            @layout='fake-link'
                                        >
                                            <FaIcon @icon='caret-down' @fixedWidth={{true}} />
                                        </Button>
                                    </dd.trigger>
                                    <dd.content
                                        data-test-detail-content
                                        data-analytics-name='File detail dropdown'
                                        local-class='FileDetail_dropdown-content'
                                    >
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        {{t 'file_detail.version.user'}} {{this.model.file.user}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <BsButton
                                                            data-test-copy-md5
                                                            data-analytics-name='Copy md5 button'
                                                            @bubble={{true}}
                                                            @onClick={{this.copy}}
                                                        >
                                                            <span>
                                                                <FaIcon @icon='copy' @fixedWidth={{true}} />
                                                                {{t 'file_detail.version.copy_md5'}}
                                                            </span>
                                                        </BsButton>
                                                    </td>
                                                    <td>
                                                        <i class='fa fa-info-circle'></i>
                                                        <span>
                                                            {{fa-icon 'info-circle'}}
                                                            <BsTooltip>
                                                                {{t 'file_detail.md5_description'}}
                                                            </BsTooltip>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <BsButton
                                                            data-test-copy-sha2
                                                            data-analytics-name='Copy sha-2 button'
                                                            @bubble={{true}}
                                                            @onClick={{this.copy}}
                                                        >
                                                            <span>
                                                                <FaIcon @icon='copy' @fixedWidth={{true}} />
                                                                {{t 'file_detail.version.copy_sha2'}}
                                                            </span>
                                                        </BsButton>
                                                    </td>
                                                    <td>
                                                        <i class='fa fa-info-circle'></i>
                                                        <span>
                                                            {{fa-icon 'info-circle'}}
                                                            <BsTooltip>
                                                                {{t 'file_detail.sha2_description'}}
                                                            </BsTooltip>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <BsButton
                                                            data-test-download-button
                                                            data-analytics-name='Download button'
                                                            @bubble={{true}}
                                                            @onClick={{this.download}}
                                                        >
                                                            <span>
                                                                <FaIcon @icon='download' @fixedWidth={{true}} />
                                                            </span>
                                                            {{t 'general.download'}}
                                                        </BsButton>
                                                    </td>
                                                    <td>
                                                        <div class='col-lg-1'>
                                                            {{t 'file_detail.version.download_count'}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </dd.content>
                                </ResponsiveDropdown>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>
        </div>
        <div class='row'>
            <div hidden id='tags' class='' local-class='FilesDetail_Tags-slide'>
                <BsButton
                    data-analytics-name='Close tags slide'
                    data-test-close-tags
                    aria-label={{t 'general.close'}}
                    @type='link'
                    @onClick={{this.close}}
                    class='pull-right'
                    local-class='FilesDetail_Tags-slide-close'
                >
                    <FaIcon @icon='times' />
                </BsButton>
                <h2>
                    <em>{{t 'general.tags'}}</em>
                </h2>
                <hr>
                <div local-class='container-fluid FileDetail_tags-container'>
                    <p>
                        <a href='#'>{{t 'general.science'}}</a>
                    </p>
                    <p>
                        <a href='#'>{{t 'general.engineering'}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div local-class='FileDetail-navbar-right' class='col-lg-1'>
        <div class='col-lg-12' local-class='FileDetail_navbar-buttons'>
            <div local-class='FilesDetail_versions-button'>
                <BsButton
                    data-test-versions-button
                    data-analytics-name='Versions slide button'
                    class='button btn'
                    @size='lg'
                    @onClick={{this.toggleVersions}}
                >
                    <FaIcon @icon='history' @fixedWidth={{true}}/>
                </BsButton>
            </div>
            <div local-class='FilesDetail_tags-button'>
                <BsButton
                    data-test-tags-button
                    data-analytics-name='Tags slide button'
                    class='button btn'
                    local-class='FilesDetail_tags-button'
                    @size='lg'
                    @onClick={{this.toggleTags}}
                >
                    <FaIcon @icon='tags' @fixedWidth={{true}}/>
                </BsButton>
            </div>
        </div>
    </div>
</div>
