{{title model.file.name}}
<div class='container'>
    {{quickfile-nav user=model.user onQuickfiles=false}}
    <div local-class='TitleBar'>
        <div local-class='TitleBar__title'>
            <h2>
                {{model.file.name}}
                <a local-class='TitleBar__version-link' role="button" onclick={{action 'changeView' 'revision'}}>
                    {{t 'file_detail.version.title' version-number=mfrVersion}}
                </a>
            </h2>
        </div>
        <div local-class='TitleBar__buttons'>
            <div id='toggleBar' class='pull-right'>
                <div class='btn-toolbar m-t-md'>
                    {{#if canDelete}}
                        <div class='btn-group m-l-xs m-t-xs'>
                            <button class='btn btn-sm btn-default' onclick={{action 'openDeleteModal'}}>
                                {{t "general.delete"}}
                            </button>
                        </div>
                    {{/if}}
                    <div class='btn-group m-l-xs m-t-xs'>
                        <button class='btn btn-sm btn-primary' onclick={{unless edit (action 'click' 'button' 'Quick Files - Download' target=analytics)}} {{action 'download' model.file.currentVersion}}>
                            {{t "general.download"}}
                        </button>
                    </div>
                    <div class='btn-group m-l-xs m-t-xs'>
                        {{file-share-button file=model.file}}
                    </div>
                    {{#if isEditableFile}}
                        <div class='btn-group btn-group-sm m-t-xs'>
                            {{#if canEdit}}
                                <div class='btn btn-default disabled' local-class="TitleBar__button-label">{{t "file_detail.toggle"}}</div>
                                <button class='btn {{if (or (eq show "view") (eq show "view_edit")) "btn-primary" "btn-default"}}' onclick={{action 'changeView' 'view'}}>{{t "general.view"}}</button>
                                <button class='btn {{if (or (eq show "edit") (eq show "view_edit")) "btn-primary" "btn-default"}}' onclick={{action 'changeView' 'edit'}}>{{t "general.edit"}}</button>
                            {{else}}
                                <button class='btn {{if (or (eq show "view") (eq show "view_edit")) "btn-primary" "btn-default"}}' onclick={{action 'changeView' 'view'}}>{{t "general.view"}}</button>
                            {{/if}}
                        </div>
                    {{else}}
                        <div class='btn-group m-l-xs m-t-xs'>
                            <button class='btn btn-sm {{if (or (eq show "view") (eq show "view_edit")) "btn-primary" "btn-default"}}' onclick={{action 'changeView' 'view'}}>
                                {{t "general.view"}}
                            </button>
                        </div>
                    {{/if}}
                    <div class='btn-group m-l-xs m-t-xs'>
                        <button class='btn btn-sm {{if (eq show "revision") "btn-primary" "btn-default"}}' onclick={{action 'changeView' 'revision'}}>
                            {{t "general.revisions"}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#bs-modal open=deleteModalOpen onSubmit=(action 'delete') onHidden=(action 'closeDeleteModal') as |modal|}}
        {{#modal.header}}
            <h4 class="modal-title">{{t "file_detail.delete_file.question"}}</h4>
        {{/modal.header}}
        {{#modal.body}}
            <p>{{t 'file_detail.delete_file.confirm' file-name=model.file.name}}</p>
        {{/modal.body}}
        {{#modal.footer}}
            {{#bs-button onClick=(action modal.close) type='default'}}
                {{t 'general.cancel'}}
            {{/bs-button}}
            {{#bs-button onClick=(action modal.submit) type='danger'}}
                {{t 'general.delete'}}
            {{/bs-button}}
        {{/modal.footer}}
    {{/bs-modal}}
    <hr>
    <div class='row' local-class="Main">
        <div class='col-md-3' local-class="Sidebar">
            {{file-list
                items=files
                filter=filter
                selectedFile=model.file
                user=model.user
                unselect=false
                openOnSelect=true
                updateFilter=(perform updateFilter)
                openFile=(action 'openFile')
            }}
            {{#if (or this.canEdit this.file.tags)}}
                <div class='panel panel-default' local-class="TagsPanel">
                    <div class='panel-heading clearfix' local-class="TagsPanel__heading">
                        <h3 class='panel-title'>{{t "file_detail.tags"}}</h3>
                    </div>
                    <div class='panel-body'>
                        <TagsWidget
                            @tags={{this.file.tags}}
                            @addTag={{action this.addTag}}
                            @removeTag={{action this.removeTag}}
                            @readOnly={{not this.canEdit}}
                            @showAdd={{this.canEdit}}
                            @analyticsScope='Quick Files'
                        />
                        <div class="tags_clear"></div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class='col-md-9'>
            {{#if (or
                (eq show 'view')
                (eq show 'view_edit')
            )}}
                <div id='mfrIframeParent' class='{{if (and (eq show "view_edit") canEdit) "col-sm-6"}}'>
                    {{file-renderer
                        download=model.file.links.download
                        version=mfrVersion
                        height="700"
                        width="99%"
                    }}
                </div>
            {{/if}}
            {{#if (and
                isEditableFile
                canEdit
                (or
                    (eq show 'edit')
                    (eq show 'view_edit')
                )
            )}}
                <div class='panel panel-default {{if (and (eq show "view_edit") canEdit) "col-sm-6"}}' local-class="EditPanel">
                    {{#if (not (eq (await fileText) null))}}
                        {{#file-editor
                            fileText=(await fileText)
                            save=(action 'save')}}
                        {{/file-editor}}
                    {{/if}}
                </div>
            {{/if}}
            {{#if (eq show 'revision')}}
                <div id='revisionsPanel' class='panel panel-default' local-class="RevisionsPanel">
                    <div class='clearfix' local-class="TagsPanel__heading">
                        <h3 class='panel-title'>
                            {{t "general.revisions"}}
                        </h3>
                    </div>
                    <div class='panel-body'>
                        <table class='table table-responsive' local-class="RevisionsPanel__table">
                            <thead>
                                <tr>
                                    <th class='col-md-4'>{{t "file_detail.version.id"}}</th>
                                    <th class='col-md-6'>{{t "general.date"}}</th>
                                    <th colspan='2' class='col-xs-2'>{{t "general.download"}}</th>
                                    <th class='hidden-md hidden-sm hidden-xs'>
                                        {{t "general.md5"}}
                                        <span>
                                            {{fa-icon "question-circle"}}
                                            {{#bs-popover triggerEvents='hover' placement='top'}}
                                                {{t 'file_detail.md5_description'}}
                                            {{/bs-popover}}
                                        </span>
                                    </th>
                                    <th class='hidden-md hidden-sm hidden-xs'>
                                        {{t "general.sha2"}}
                                        <span>
                                            {{fa-icon "question-circle"}}
                                            {{#bs-popover triggerEvents='hover' placement='top'}}
                                                {{t 'file_detail.sha2_description'}}
                                            {{/bs-popover}}
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each (await fileVersions) as |version|}}
                                    {{file-version
                                        version=version
                                        download=(action 'download')
                                        url=model.file.links.download
                                        currentVersion=mfrVersion
                                        versionChange=(action 'versionChange')
                                    }}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
