<GuidFile::-Components::FileDetailLayout
    @rightColumnClosed={{this.rightColumnClosed}}
    @isMobile={{this.media.isMobile}}
>
    <:header>
        <h3 local-class='project-link-header'>
            <OsfLink
                data-test-project-link
                data-analytics-name='Linked project'
                local-class='project-link'
                @route={{if (eq this.model.fileModel.target.type 'registrations') 'guid-registration' 'guid-node'}}
                @models={{array this.model.fileModel.target.id}}
            >
                {{this.model.fileModel.target.title}}
            </OsfLink>
        </h3>
        <div local-class='flex-container-row'>
            <h2 data-test-filename>
                {{this.model.displayName}}
                {{#if this.viewedVersion}}
                    ({{t 'general.version'}}: {{this.viewedVersion}})
                {{/if}}
            </h2>
            <FileActionsMenu
                @item={{this.model}}
                @onDelete={{this.onDelete}}
                @allowRename={{false}}
                @addonsEnabled={{this.model.fileModel.target.addonsEnabled}}
            />
        </div>
    </:header>
    <:body>
        <div data-test-file-renderer id='mfrIframeParent' local-class='file-renderer'>
            <FileRenderer
                @download={{this.model.links.download}}
                @version={{this.viewedVersion}}
            />
        </div>
    </:body>
    <:right>
        {{#if this.revisionsOpened}}
            <section data-test-revisions-tab local-class='file-detail-revisions'>
                <h2 local-class='file-detail-right-section-heading'>{{t 'general.revisions'}}</h2>
                <ol local-class='file-detail-revision-list' reversed>
                    <hr aria-hidden='true'>
                    {{#if this.model.getRevisions.isRunning}}
                        <LoadingIndicator @dark={{true}} />
                    {{else}}
                        {{#each this.model.waterButlerRevisions as |version|}}
                            <FileVersion
                                @version={{version}}
                                @downloadUrl={{this.model.links.download}}
                                @changeVersion={{this.changeVersion}}
                            />
                            <hr aria-hidden='true'>
                        {{else}}
                            {{t 'file-detail.no-revisions'}}
                        {{/each}}
                    {{/if}}
                </ol>
            </section>
        {{/if}}
        {{#if this.tagsOpened}}
            <div local-class='right-container'>
                <h2>{{t 'general.tags'}}</h2>
                <TagsWidget
                    @taggable={{this.model.fileModel}}
                    @readOnly={{not this.model.userCanEditMetadata}}
                    @inline={{true}}
                />
            </div>
        {{/if}}
        {{#if this.metadataOpened}}
            <GuidFile::-Components::FileMetadataLayout 
                @isMobile={{this.isMobile}}
                @file={{this.model.fileModel}}
            />
        {{/if}}
    </:right>
    <:rightButtons>
        {{#if this.media.isMobile}}
            <Button
                data-test-file-renderer-button
                data-analytics-name='File renderer button'
                local-class='slide-buttons {{if this.rightColumnClosed 'active'}}'
                @layout='large'
                {{on 'click' this.toggleFileRenderer}}
            >
                <FaIcon @icon='file-alt' @fixedWidth={{true}}/>
            </Button>
        {{/if}}
        <Button
            aria-label={{if this.metadataOpened (t 'file-detail.close-metadata') (t 'file-detail.view-metadata')}}
            data-test-metadata-button
            data-analytics-name='Metadata button'
            local-class='slide-buttons {{if this.metadataOpened 'active'}}'
            @layout='large'
            {{on 'click' this.toggleMetadata}}
        >
            <FaIcon @icon='info-circle' @fixedWidth={{true}}/>
        </Button>
        {{#if this.model.shouldShowRevisions}}
            <Button
                aria-label={{if this.revisionsOpened (t 'file-detail.close-revisions') (t 'file-detail.view-revisions')}}
                data-test-versions-button
                data-analytics-name='Versions button'
                local-class='slide-buttons {{if this.revisionsOpened 'active'}}'
                @layout='large'
                {{on 'click' this.toggleRevisions}}
            >
                <FaIcon @icon='history' @fixedWidth={{true}}/>
            </Button>
        {{/if}}
        {{#if this.model.shouldShowTags}}
            <Button
                aria-label={{if this.tagsOpened (t 'file-detail.close-tags') (t 'file-detail.view-tags')}}
                data-test-tags-button
                data-analytics-name='Tags button'
                local-class='slide-buttons {{if this.tagsOpened 'active'}}'
                @layout='large'
                {{on 'click' this.toggleTags}}
            >
                <FaIcon @icon='tags' @fixedWidth={{true}}/>
            </Button>
        {{/if}}
    </:rightButtons>
</GuidFile::-Components::FileDetailLayout>
