{{page-title this.model.file.name}}
<div
    data-test-files-container
    data-analytics-scope='Files'
    class='container-fluid'
    local-class='FilesContainer'
>
    <div class='row'>
        <div local-class='LeftPanel' class='col-sm-11'>
            <div class='row'>
                <div class='col-sm-11'>
                    {{!-- {{#if this.hasRegistration}} --}}
                    <div local-class='FileDetail_project'>
                        <BsButton
                            data-test-version-link
                            data-analytics-name='Project'
                            local-class='FileDetail__project-link'
                            @bubble={{true}}
                            @type='link'
                            @onClick={{action 'changeView' 'revision'}}
                        >
                            <h5>
                                {{this.model.project.name}}
                                {{!-- {{this.node.title}} --}}
                            </h5>
                        </BsButton>
                    </div>
                </div>
                {{!-- {{/if}} --}}
            </div>
            <div class='row' local-class='FileDetail_secondRow'>
                <div class='col-sm-10' local-class='FileDetail_file-name'>
                    <h4>
                        <strong>
                            {{this.model.file.name}}
                        </strong>
                    </h4>
                </div>
                <div class='col-sm-1' data-analytics-scope='buttons' local-class='FileDetail__buttons'>
                    <div class='btn-group'>
                        <ResponsiveDropdown
                            data-test-more-buttons
                            data-analytics-scope='Files'
                            as |dd|
                        >
                            <dd.trigger
                                data-test-file-detail
                                data-analytics-name='Toggle more button options'
                                local-class='FileDetail_dropdown-trigger'
                            >
                                <Button
                                    local-class='FileDetail_dropdown-trigger-button'
                                    @layout='fake-link'
                                >
                                    <FaIcon @icon='ellipsis-v' @fixedWidth={{true}} />
                                </Button>
                            </dd.trigger>
                            <dd.content
                                local-class='FileDetail_dropdown-list'
                            >
                                <BsButton
                                    data-test-download-button
                                    data-analytics-name='Download button'
                                    @bubble={{true}}
                                    @onClick={{this.download}}
                                >
                                    <span>
                                        <FaIcon @icon='download' @fixedWidth={{true}} />
                                        {{t 'general.download'}}
                                    </span>
                                </BsButton>
                                <BsButton
                                    data-test-share-button
                                    data-analytics-name='Share button'
                                    @bubble={{true}}
                                    @onClick={{this.share}}
                                >
                                    <span>
                                        <FaIcon @icon='share-alt' @fixedWidth={{true}} />
                                        {{t 'general.share'}}
                                    </span>
                                </BsButton>
                            </dd.content>
                        </ResponsiveDropdown>
                    </div>
                </div>
            </div>
            <div class='row' local-class='FileDetail_iframe'>
                <div class='col-sm-11'>
                    <div id='mfrIframeParent' class='{{if (and (eq this.show 'view_edit') this.canEdit) 'col-sm-6'}}'>
                        <FileRenderer
                            data-test-file-renderer
                            @download={{this.model.file.links.download}}
                            @version={{this.mfrVersion}}
                            @height='100%'
                            @width='100%'
                        />
                    </div>
                </div>
            </div>
        </div>
        <div local-class='RightPanel' class='col-md-1'>
            {{#if this.revisionClicked}}
                <h2>{{t 'general.revisions'}}</h2>
            {{/if}}
            <div local-class='FilesDetail_SideNavbar' class='pull-right'>
                <div class='btn btn-group-vertical'>
                    <BsButton
                        data-test-versions-button
                        local-class='FilesDetail_versions-button'
                        @size='sm'
                        @onClick={{this.toggleVersions}}
                    >
                        <FaIcon @icon='pen-square' @fixedWidth={{true}} />
                    </BsButton>
                    <BsButton
                        data-test-tags-button
                        local-class='FilesDetail_tags-button'
                        @size='sm'
                        @onClick={{this.toggleTags}}
                    >
                        <FaIcon @icon='tags' @fixedWidth={{true}} />
                    </BsButton>
                </div>
            </div>
        </div>
    </div>
</div>
