{{page-title this.model.file.name}}
<div data-analytics-scope='File detail' class='container row'>
    <div class='col-md-9'>
        <div data-analytics-scope='Title bar' local-class='TitleBar'>
            <div data-analytics-scope='Title' local-class='TitleBar__title'>
                <h2 data-test-file-title-header>
                    {{this.model.file.name}}
                    <BsButton
                        data-analytics-name='Version'
                        local-class='TitleBar__version-link'
                        @bubble={{true}}
                        @type='link'
                        @onClick={{action 'changeView' 'revision'}}
                    >
                        {{t 'file_detail.version.title' versionNumber=this.mfrVersion}}
                    </BsButton>
                </h2>
            </div>
            <div data-analytics-scope='buttons' local-class='TitleBar__buttons'>
                <div class='pull-right'>
                    <div class='btn-toolbar m-t-md'>
                        <div class='btn-group btn-group-sm m-t-xs'>
                            {{!-- checkout button --}}
                            <BsButton
                                data-analytics-name='Checkout'
                                @bubble={{true}}
                                @type='{{if (or (eq this.show 'view') (eq this.show 'view_edit')) 'primary' 'default'}}'
                                @onClick={{action this.changeView 'view'}}
                            >
                                {{t 'general.checkout'}}
                            </BsButton>

                            {{!-- view button --}}
                            <BsButton
                                data-analytics-name='View'
                                @bubble={{true}}
                                @type='{{if (or (eq this.show 'view') (eq this.show 'view_edit')) 'primary' 'default'}}'
                                @onClick={{action this.changeView 'view'}}
                            >
                                {{t 'general.view'}}
                            </BsButton>

                            {{!-- edit button --}}
                            <BsButton
                                    data-analytics-name='Edit'
                                    @bubble={{true}}
                                    @type='{{if (or (eq this.show 'edit') (eq this.show 'view_edit')) 'primary' 'default'}}'
                                    @onClick={{action this.changeView 'edit'}}
                            >
                                {{t 'general.edit'}}
                            </BsButton>
                            <BsButton
                                data-analytics-name='More tab'
                                data-test-more-tab
                                @bubble={{true}}
                                @size='sm'
                                {{!--@onClick={{#}}--}}
                            >
                                <FaIcon @icon='ellipsis-v' @fixedWidth={{true}} />
                            </BsButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id='mfrIframeParent' class='{{if (and (eq this.show 'view_edit') this.canEdit) 'col-sm-6'}}'>
            <FileRenderer
                @download={{this.model.file.links.download}}
                @version={{this.mfrVersion}}
                @height='700'
                @width='99%'
            />
        </div>
    </div>
    <div class='col-md-3 pull-left'>
        <div class='file_metadata_view'>
            <div class='metadata_div'></div>
            <div class='metadata_title'><h3>{{t 'general.metadata'}}</h3></div>
            <div class='download_file_button'></div>
        </div>
        <div class='description_div'>
            <div class='file_description_title'><h3>{{t 'general.file_description'}}</h3></div>
            <div class='file_description'></div>
        </div>
        <div class='file_type_div'>
            <div class='file_type_title'><h3>{{t 'general.type'}}</h3></div>
            <div class='file_type_power_select'>
                <PowerSelect>
                    {{t 'general.type_select'}}
                </PowerSelect>
            </div>
        </div>
        <div class='funding_div'>
            <div class='funding_agency_title'><h3>{{t 'general.funding_agency'}}</h3></div>
            <div class='funding_agency_edit_button'></div>
            <div class='funding_agency_id'>
                {{t 'general.example_funder'}}
            </div>
        </div>
    </div>
</div>
