<div data-test-search-bar>
    <span
        data-analytics-category='text'
        local-class='iconInput'
    >
        <span>
            <FaIcon
                @icon='search'
                @fixedWidth={{true}}
            />
        </span>
        <Input
            data-test-search-input
            aria-label={{t 'osf-components.search-bar.aria'}}
            placeholder={{t 'osf-components.search-bar.placeholder'}}
            name='search'
            @type='text'
            @value={{mut this.value}}
            {{on 'enter' (fn this._onSearch this.value)}}
        />
    </span>
</div>
