<button
    aria-label={{t 'registries.sharing_icons.label'}}
    type='button'
    local-class='SharingIconsPopover__anchor'
    class='btn-link pull-right'
    tabindex='0'
    data-analytics-name='Sharing icons popover'
    ...attributes
>
    <FaIcon @icon='share-alt' />
    <BsPopover
        local-class='Popover'
        @placement='left'
        @viewportSelector='#{{@parentId}}'
        @autoPlacement={{true}}
        @renderInPlace={{true}}
    >
        <SharingIcons
            @title={{@title}}
            @description={{@description}}
            @hyperlink={{@hyperlink}}
            @resultId={{@resultId}}
            @parentId={{@parentId}}
            @showText={{@showText}}
        />
    </BsPopover>
</button>
