<a href="{{project.links.html}}">
    <div class="NoteworthyProject__item">
        <h5>{{project.title}}</h5>
        <span class="Byline prevent-overflow">
            <i>
                {{t 'dashboard.noteworthy.by'}}
                {{contributor-list contributors=project.contributors}}
            </i>
        </span>
        <p class="prevent-overflow">
            {{bs-tooltip title=compactDescription}}
            {{project.description}}
        </p>
    </div>
</a>
