<a href="/{{project.id}}">
    <div class="public-projects-item">
        <h5>{{project.title}}</h5>
        <span class="prevent-overflow"><i>by {{contributors}}</i></span>
        <p data-title="{{compactDescription}}" data-location="top" class="prevent-overflow" data-original-title="" title="">{{project.description}}</p>
    </div>
</a>