{{title (t 'registries.new.page_title')}}

<RegistriesWrapper
    {{with-branding this.model.brand}}
    data-analytics-scope='New Registration Page'
    @provider={{this.model}}
>
    <OsfLayout @backgroundClass={{local-class 'ContentBackground'}} as |layout|>
        <layout.heading>
            <HeroOverlay @align='left' local-class='DraftHeroOverlay'>
                <div local-class='Title'>
                    <h1>
                        {{t 'registries.new.page_header'}}
                    </h1>
                </div>
            </HeroOverlay>
        </layout.heading>
        <layout.main local-class='Main'>
            <form data-test-new-registration-form local-class='Form'>
                <label local-class='selectLabel'>
                    <h2 data-test-schema-select-title>
                        {{t 'registries.new.select_project'}}
                    </h2>
                    <PowerSelect
                        data-test-project-select
                        @placeholder={{t 'registries.new.select_project_placeholder'}}
                        @options={{this.projectOptions}}
                        @search={{perform this.projectSearch}}
                        @selected={{this.selectedProject}}
                        @onchange={{this.updateSelectedProject}}
                        as |option|
                    >
                        {{option.title}}
                    </PowerSelect>
                </label>

                <p local-class='newProjectHelpText'>
                    {{t 'registries.new.new_project_help_fragment1'}}
                    <OsfLink
                        @route='dashboard'
                    >
                        {{t 'registries.new.go_to_dashboard'}}
                    </OsfLink>
                    {{t 'registries.new.new_project_help_fragment2'}}
                </p>

                <label local-class='selectLabel'>
                    <h2 data-test-schema-select-title>
                        {{t 'registries.new.select_schema'}}
                    </h2>
                    <PowerSelect
                        data-test-schema-select
                        local-class='selectDropdown'
                        @options={{this.schemaOptions}}
                        @selected={{this.selectedSchema}}
                        @searchEnabled={{false}}
                        @onchange={{this.updateSelectedSchema}}
                        as |option|
                    >
                        {{option.name}}
                    </PowerSelect>
                </label>

                <Button
                    local-class='createDraftButton'
                    disabled={{this.disableCreateDraft}}
                    @type='primary'
                    @layout='medium'
                    {{on 'click' (perform this.createNewDraftRegistration)}}
                >
                    {{t 'registries.new.start_registration'}}
                </Button>
            </form>
        </layout.main>
    </OsfLayout>
</RegistriesWrapper>