<BsPopover
    @triggerElement={{@triggerElement}}
    @triggerEvents={{''}}
    @visible={{this.shouldShow}}
    @onHide={{this.onAccept}}
    local-class='NewFeatureModal'
    as |popover|
>
    <h3 data-test-popover-header>
        {{yield to='header'}}
    </h3>

    <section data-test-popover-body>
        {{yield to='body'}} 
    </section>

    <footer
        data-test-popover-footer
        local-class='FlexFooter'
        {{did-insert this.setClickOutsideHandler popover.close}}
    >
        {{yield to='footer'}}
        <label data-test-not-again-checkbox>
            {{t 'osf-components.new-feature-popover.doNotShowAgain'}}
            <Input @type='checkbox' @checked={{this.notAgain}} />
        </label>
        <Button
            data-test-got-it-button
            @type='primary'
            {{on 'click' popover.close}}
        >
            {{t 'osf-components.new-feature-popover.acknowledge'}}
        </Button>
    </footer>
</BsPopover>