<div local-class='ember-chart' data-test-chart>
    {{ember-chart type='pie' data=this.chartData options=this.chartOptions}}
</div>
<div local-class='department'>
    <h3>{{this.activeDepartment.name}}</h3>
    <p>
        <strong>{{this.activeDepartmentPercentage}}%:</strong> {{this.activeDepartment.numUsers}} {{t 'institutions.dashboard.users'}}
    </p>
</div>