<div class="container">
    <BsAlert
        @type="default"
        @dismissible={{true}}
        @visible={{this.currentUser.showTosConsentBanner}}
        @onDismiss={{action this.dismiss}}
    >
        <div class="jumbotron">
            <p></p>
            <div>
                <h4>
                    {{t 'tos_consent.paragraph'
                        link1=this.termsLink
                        link2=this.privacyPolicyLink
                    }}
                </h4>
                <h5>
                    {{#validated-input/checkbox
                        model=this.currentUser.user
                        valuePath='acceptedTermsOfService'
                        shouldShowMessages=this.didValidate
                    }}
                        {{t 'tos_consent.have_read_and_agree'}}
                    {{/validated-input/checkbox}}
                </h5>
            </div>
            <button
                type="submit"
                class="btn btn-primary"
                {{action (perform this.saveUser)}}
                {{action 'click' 'button' 'ToS Consent Banner - continue' target=this.analytics}}
            >
                {{t 'tos_consent.continue'}}
            </button>
            <p></p>
        </div>
    </BsAlert>
</div>
