<div
    data-test-tos-consent-alert
    local-class='TosConsentBanner'
    data-analytics-scope='ToS consent banner'
    class='container'
    ...attributes
>
    <BsAlert
        @type='default'
        @dismissible={{true}}
        @visible={{this.currentUser.showTosConsentBanner}}
        @onDismiss={{action this.dismiss}}
    >
        <div class='jumbotron'>
            <p></p>
            <div>
                <h4>
                    {{t 'tos_consent.paragraph'
                        link1=this.termsLink
                        link2=this.privacyPolicyLink
                        htmlSafe=true
                    }}
                </h4>
                <h5>
                    {{#validated-input/checkbox
                        model=this.currentUser.user
                        valuePath='acceptedTermsOfService'
                        shouldShowMessages=this.didValidate
                    }}
                        {{t 'tos_consent.have_read_and_agree'}}
                    {{/validated-input/checkbox}}
                </h5>
            </div>
            <Button
                data-test-tos-consent-alert-submit-button
                data-analytics-name='Continue'
                type='submit'
                @type='primary'
                {{on 'click' (action (perform this.saveUser))}}
            >
                {{t 'tos_consent.continue'}}
            </Button>
            <p></p>
        </div>
    </BsAlert>
</div>
