<div
    data-analytics-scope='Draft registrations'
    data-test-draft-registration-card
    local-class='DraftRegistrationCard'
>
    <h4 local-class='DraftRegistratrionCard__title' data-test-draft-registration-card-title>
        {{#if this.draftRegistration}}
            <OsfLink
                data-analytics-name='view_registration'
                @route='registries.drafts.draft'
                @models={{array this.draftRegistration.id}}
            >
                {{#if this.draftRegistration.title}}
                    {{this.draftRegistration.title}}
                {{else}}
                    {{t 'osf-components.draft-registration-card.untitled_placeholder'}}
                {{/if}}
            </OsfLink>
        {{else}}
            <ContentPlaceholders as |placeholder|>
                <placeholder.text
                    data-test-header-placeholder
                    @lines={{1}}
                />
            </ContentPlaceholders>
        {{/if}}
    </h4>
    <section local-class='DraftRegistrationCard__body' data-test-draft-registration-card-body>
        {{#if this.draftRegistration}}
            <dl>
                <div data-test-initiated-by>
                    <dt>
                        {{t 'osf-components.draft-registration-card.initiated_by'}}
                    </dt>
                    <dd>
                        {{this.draftRegistration.initiator.fullName}}
                    </dd>
                </div>
                <div data-test-form-type>
                    <dt>
                        {{t 'osf-components.draft-registration-card.form_type'}}
                    </dt>
                    <dd>
                        {{this.draftRegistration.registrationSchema.name}}
                    </dd>
                </div>
                <div data-test-provider-name>
                    <dt data-test-provider-name>
                        {{t 'osf-components.draft-registration-card.registry'}}
                    </dt>
                    <dd>
                        {{this.draftRegistration.provider.name}}
                    </dd>
                </div>
                <div data-test-time-initiated>
                    <dt data-test-time-initiated>
                        {{t 'osf-components.draft-registration-card.started'}}
                    </dt>
                    <dd>
                        {{moment this.draftRegistration.datetimeInitiated}}
                    </dd>
                </div>
                <div data-test-time-updated>
                    <dt data-test-time-updated>
                        {{t 'osf-components.draft-registration-card.last_updated'}}
                    </dt>
                    <dd>
                        {{moment this.draftRegistration.datetimeUpdated}}
                    </dd>
                </div>
            </dl>
            <div class='row'>
                <div class='col-md-10'>
                    <OsfLink
                        data-test-draft-card-review
                        data-analytics-name='Review'
                        local-class='DraftRegistrationCard__review'
                        @route='registries.drafts.draft.review'
                        @models={{array this.draftRegistration.id}}
                    >
                        <Button>
                            {{t 'osf-components.draft-registration-card.review'}}
                        </Button>
                    </OsfLink>
                    {{#unless this.draftRegistration.currentUserIsReadOnly}}
                        <OsfLink
                            data-test-draft-card-edit
                            data-analytics-name='Edit'
                            @route='registries.drafts.draft'
                            @models={{array this.draftRegistration.id}}
                        >
                            <Button local-class='DraftRegistrationCard__edit'>
                                {{t 'general.edit'}}
                            </Button>
                        </OsfLink>
                    {{/unless}}
                </div>
                <div class='col-md-1'>
                    {{#if this.draftRegistration.currentUserIsAdmin}}
                        <DeleteButton
                            data-test-draft-card-delete
                            @smallSecondary={{true}}
                            @icon='trash-alt'
                            @delete={{action this.confirmDelete}}
                            @modalTitle={{t 'general.please_confirm'}}
                            @modalBody={{t 'osf-components.draft-registration-card.delete_draft_confirm'}}
                            local-class='DraftRegistrationCard__delete'
                        />
                    {{/if}}
                </div>
            </div>
        {{else}}
            <ContentPlaceholders as |placeholder|>
                <placeholder.text
                    data-test-content-placeholder
                    @lines={{4}}
                />
            </ContentPlaceholders>
        {{/if}}
    </section>
</div>
