<div
    data-analytics-scope='Draft registrations'
    data-test-draft-registration-card
    local-class='DraftRegistrationCard'
>
    <h4 local-class='DraftRegistratrionCard__title' data-test-draft-registration-card-title>
        {{#if this.draftRegistration}}
            <OsfLink
                data-analytics-name='view_registration'
                @route='registries.drafts.draft'
                @models={{array this.draftRegistration.id}}
            >
                {{this.draftRegistration.title}}
            </OsfLink>
        {{else}}
            <ContentPlaceholders as |placeholder|>
                <placeholder.text
                    data-test-header-placeholder
                    @lines={{1}}
                />
            </ContentPlaceholders>
        {{/if}}
    </h4>
    <section local-class='DraftRegistrationCard__body' data-test-draft-registration-card-body>
        {{#if this.draftRegistration}}
            <small>
                <p data-test-initiated-by>
                    {{t 'osf-components.draft-registration-card.initiated_by'}}
                    {{this.draftRegistration.initiator.fullName}}
                </p>
                <p data-test-form-type>
                    {{t 'osf-components.draft-registration-card.form_type'}}
                    {{this.draftRegistration.registrationSchema.name}}
                </p>
                <p data-test-provider-name>
                    {{t 'osf-components.draft-registration-card.registry'}}
                    {{this.draftRegistration.provider.name}}
                </p>
                <p data-test-time-initiated>
                    {{t 'osf-components.draft-registration-card.started'}}
                    {{moment this.draftRegistration.datetimeInitiated}}
                </p>
                <p data-test-time-updated>
                    {{t 'osf-components.draft-registration-card.last_updated'}}
                    {{moment this.draftRegistration.datetimeUpdated}}
                </p>
            </small>
            <div class='row'>
                <div class='col-md-10'>
                    <OsfLink
                        data-test-draft-card-review
                        data-analytics-name='Review'
                        class='btn btn-default'
                        @route='registries.drafts.draft.review'
                        @models={{array this.draftRegistration.id}}
                    >
                        {{t 'osf-components.draft-registration-card.review'}}
                    </OsfLink>
                    {{#unless this.draftRegistration.currentUserIsReadOnly}}
                        <OsfLink
                            data-test-draft-card-edit
                            data-analytics-name='Edit'
                            class='btn btn-default'
                            @route='registries.drafts.draft'
                            @models={{array @draftRegistration.id}}
                        >
                            {{t 'general.edit'}}
                        </OsfLink>
                    {{/unless}}
                </div>
                <div class='col-md-1'>
                    {{#if this.draftRegistration.currentUserIsAdmin}}
                        <DeleteButton
                            data-test-draft-card-delete
                            @smallSecondary={{true}}
                            @icon='trash-alt'
                            @delete={{action this.delete}}
                            @modalTitle={{t 'general.please_confirm'}}
                            @modalBody={{t 'osf-components.draft-registration-card.delete_draft_confirm'}}
                            local-class='DraftRegistrationCard__delete'
                        />
                    {{/if}}
                </div>
            </div>
        {{else}}
            <ContentPlaceholders as |placeholder|>
                <placeholder.text
                    data-test-content-placeholder
                    @lines={{4}}
                />
            </ContentPlaceholders>
        {{/if}}
    </section>
</div>
