<OsfDialog as |dialog|>
    <dialog.trigger>
        <Button
            @type='destroy'
            data-analytics-name='Withdrawal Button'
            data-test-withdrawal-button
            {{on 'click' dialog.open}}
        >
            {{t 'preprints.submit.action-flow.withdraw-button'}}
        </Button>
    </dialog.trigger>
    <dialog.heading
        data-test-dialog-heading
    >
        {{this.modalTitle}}
    </dialog.heading>
    <dialog.main
        data-test-dialog-body
    >
        <div local-class='explanation-container'>
            <p>
                {{t 'preprints.submit.action-flow.withdrawal-explanation' singularPreprintWord=@provider.documentType.singular}}
            </p>
            <p>
                {{this.modalExplanation}}
            </p>
        </div>
        <div local-class='form-container'>
            <FormControls
                @changeset={{this.withdrawalFormChangeset}}
                data-test-comment-form
                as |form|
            >
                {{#let (unique-id 'comment') as |commentFieldId|}}
                    <label for={{commentFieldId}}
                        data-test-comment-label
                    >
                        {{this.commentLabel}}
                        <span local-class='required'>*</span>
                    </label>
                    <form.textarea
                        data-test-comment-input
                        @valuePath={{'withdrawalJustification'}}
                        {{on 'change' this.validate}}
                        @isRequired={{true}}
                        local-class='input-container textarea-container'
                        @placeholder={{t 'preprints.submit.action-flow.withdrawal-placeholder'}}
                        @uniqueID={{commentFieldId}}
                        @onKeyUp={{this.validate}}
                    />
                {{/let}}
            </FormControls>
        </div>
    </dialog.main>
    <dialog.footer>
        <Button
            data-test-cancel-button
            {{on 'click' dialog.close}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-test-withdrawal-button
            disabled={{this.isInvalid}}
            @type='destroy'
            {{on 'click' (
                queue
                dialog.close
                (perform this.onWithdrawal)
                this.withdrawalFormChangeset.clear
            )
            }}
        >
            {{t 'preprints.submit.action-flow.withdraw-button'}}
        </Button>
    </dialog.footer>
</OsfDialog>