<OsfDialog as |dialog|>
    <dialog.trigger>
        <Button
            data-test-add-unregistered-contributor-button
            @layout='fake-link'
            {{on 'click' dialog.open}}
        >
            {{t 'registries.registration_metadata.add_contributors.add_unregistered_contributor'}}
        </Button>
    </dialog.trigger>
    <dialog.heading
        data-test-dialog-heading
    >
        {{t 'registries.registration_metadata.add_contributors.add_unregistered_contributor'}}
    </dialog.heading>
    <dialog.main
        data-test-dialog-body
    >
        <FormControls
            @changeset={{this.unregisteredFormChangeset}}
            data-test-invite-form
            as |form|
        >
            <form.text
                @valuePath={{'email'}}
                @label={{t 'osf-components.contributors.email'}}
                @isRequired={{true}}
                data-test-email-input
            />
            <form.text
                @valuePath={{'fullName'}}
                @label={{t 'osf-components.contributors.fullName'}}
                @isRequired={{true}}
                data-test-full-name-input
            />
            <form.select
                class='form-group'
                @options={{this.permissionOptions}}
                @searchEnabled={{false}}
                @valuePath={{'permission'}}
                @label={{t 'osf-components.contributors.selectPermission'}}
                data-test-select-permission
                as |permission|
            >
                {{capitalize permission}}
            </form.select>
            <label>
                {{t 'osf-components.contributors.headings.citation'}}
            </label>
            <Input
                @type='checkbox'
                @checked={{this.unregisteredFormChangeset.bibliographic}}
                data-test-is-bibliographic
            />
        </FormControls>
    </dialog.main>
    <dialog.footer>
        <Button
            data-test-cancel-button
            {{on 'click' dialog.close}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-test-add-button
            disabled={{this.unregisteredFormChangeset.isInvalid}}
            @type='create'
            {{on 'click' (
                    queue
                    this.validate
                    (fn
                        @addUnregisteredContributor
                        this.unregisteredFormChangeset.email
                        this.unregisteredFormChangeset.fullName
                        this.unregisteredFormChangeset.permission
                        this.unregisteredFormChangeset.bibliographic
                    )
                    this.clearChangeset
                    dialog.close
                )
            }}
        >
            {{t 'general.add'}}
        </Button>
    </dialog.footer>
</OsfDialog>