<div id='ember-bootstrap-modal-container'>
    <OsfDialog
        @isOpen={{@isOpen}}
        @onClose={{@onClose}}
        as |dialog|
    >
        <dialog.heading data-test-search-help-modal-header>
            <h3 local-class='modal-title'>
                {{t 'app_components.search_help_modal.title'}}
            </h3>
        </dialog.heading>
        <dialog.main data-test-search-help-modal-body>
            <p>
                {{t 'app_components.search_help_modal.description' htmlSafe=true}}
            </p>
        </dialog.main>

        <dialog.footer data-test-search-help-modal-footer>
            <Button
                data-test-search-help-modal-close-button
                {{on 'click' (action dialog.close)}}
            >
                {{t 'app_components.search_help_modal.close'}}
            </Button>
        </dialog.footer>
    </OsfDialog>
</div>
