{{#if this.loading}}
    <ContentPlaceholders as |placeholder|>
        {{placeholder.heading img=true}}
        {{placeholder.text lines=3}}
    </ContentPlaceholders>
{{else}}
    <div local-class='Comment' data-analytics-scope='Comment'>
        {{#if this.isAbuse}}
            <div local-class='CommentRestore'>
                <span>{{t 'registries.overview.comments.comment_abuse'}}</span>
                {{#if this.currentUserHasReported}}
                    <Button
                        data-analytics-name='Retract report'
                        @layout='fake-link'
                        {{on 'click' (perform this.submitRetractReport)}}
                    >
                        {{t 'registries.overview.comments.comment_abuse_action'}}
                    </Button>
                {{/if}}
            </div>
        {{else}}
            <div local-class='CommentHeader'>
                <div>
                    {{#if this.comment.user.profileImage}}
                        <img data-test-gravatar alt='{{t 'auth_dropdown.user_gravatar'}}'
                          src={{concat this.comment.user.profileImage '&s=30'}}
                        >
                    {{/if}}
                    {{#if (and this.comment.user.profileURL this.comment.user.fullName)}}
                        <OsfLink
                            local-class='CommentUser'
                            @href={{this.comment.user.profileURL}}
                        >
                            {{this.comment.user.fullName}}
                        </OsfLink>
                    {{/if}}
                </div>
                <div>
                    {{#if this.comment.modified}}
                        <span local-class='dateModified'>
                            <EmberTooltip
                                local-class='Tooltip'
                                @side='left'
                                @targetId={{this.elementId}}
                            >
                                {{t 'registries.overview.comments.modified'}}{{this.dateModified}}
                            </EmberTooltip>
                            <sup><FaIcon @icon='asterisk' /></sup>
                        </span>
                    {{/if}}
                    <span local-class='dateCreated'>
                        {{this.dateCreated}}
                    </span>
                </div>
            </div>
            <div local-class='CommentContent'>
                <MarkdownToHtml @markdown={{this.comment.content}} />
            </div>
            <div local-class='CommentControls'>
                <div local-class='repliesCount'>
                    {{#if this.hasReplies}}
                        <Button
                            data-analytics-name='View replies'
                            @layout='fake-link'
                            {{on 'click' (action this.toggleReplies)}}
                        >
                            {{t (concat 'registries.overview.comments' (if this.showReplies '.hide_replies' '.see_replies'))}}
                            <FaIcon @icon={{if this.showReplies 'caret-up' 'caret-down'}} />
                        </Button>
                    {{/if}}
                </div>
            </div>
            {{#if this.showReplies}}
                {{#if this.loadingReplies}}
                    <ContentPlaceholders as |placeholder|>
                        {{placeholder.heading img=true}}
                        {{placeholder.text lines=3}}
                    </ContentPlaceholders>
                {{else}}
                    {{#each this.replies as |reply|}}
                        <div local-class='CommentReply'>
                            <CommentCard @comment={{reply}} @node={{@node}} @reload={{@reload}} />
                        </div>
                    {{/each}}
                    {{#if this.hasMoreReplies}}
                        {{#if this.loadingMoreReplies}}
                            <ContentPlaceholders as |placeholder|>
                                {{placeholder.heading img=true}}
                                {{placeholder.text lines=3}}
                            </ContentPlaceholders>
                        {{else}}
                            <div local-class='MoreReplies'>
                                <Button
                                    @layout='fake-link'
                                    {{on 'click' (action this.more)}}
                                >
                                    {{t 'registries.overview.comments.load_more'}}
                                </Button>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
{{/if}}
