<BsModal
    @open={{if @openModal true false}}
    @onSubmit={{action @delete}}
    @onHidden={{action @closeModal}}
    as |modal|
>
    <modal.header>
        <h3 data-test-delete-warning>{{t 'delete_modal.title' nodeType=(t this.nodeTypeKey)}}</h3>
    </modal.header>
    <modal.body>
        <p>{{t 'delete_modal.body' nodeType=(t this.nodeTypeKey)}}</p>
        <label local-class='DeleteModal__label-wrap'>
            <p local-class='DeleteModal__input-label'>{{t 'delete_modal.type_this'}} <strong>{{this.scientistName}}</strong></p>
            <Input
                local-class='DeleteModal__input'
                @class='form-control'
                @value={{this.scientistInput}}
            />
        </label>
    </modal.body>
    <modal.footer data-analytics-scope='Delete node modal'>
        <Button
            data-analytics-name='Cancel'
            {{on 'click' (action modal.close)}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-analytics-name='Delete Fork'
            disabled={{not (eq this.scientistInput this.scientistName)}}
            {{on 'click' (action modal.submit)}}
            @type='destroy'
        >
            {{t 'general.delete'}}
        </Button>
    </modal.footer>
</BsModal>