<OsfDialog
    @isOpen={{@openModal}}
    @onClose={{action @closeModal}}
    as |dialog|
>
    <dialog.heading>
        <h3 data-test-delete-warning>{{t 'delete_modal.title' nodeType=(t this.nodeTypeKey)}}</h3>
    </dialog.heading>
    <dialog.main>
        <p>{{t 'delete_modal.body' nodeType=(t this.nodeTypeKey)}}</p>
        <label local-class='DeleteModal__label-wrap'>
            <p local-class='DeleteModal__input-label'>{{t 'delete_modal.type_this'}} <strong>{{this.scientistName}}</strong></p>
            <Input
                local-class='DeleteModal__input'
                @class='form-control'
                @value={{this.scientistInput}}
            />
        </label>
    </dialog.main>
    <dialog.footer data-analytics-scope='Delete node modal'>
        <Button
            data-analytics-name='Cancel'
            {{on 'click' (action dialog.close)}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-analytics-name='Delete Fork'
            disabled={{not (eq this.scientistInput this.scientistName)}}
            {{on 'click' (action @delete)}}
            @type='destroy'
        >
            {{t 'general.delete'}}
        </Button>
    </dialog.footer>
</OsfDialog>