<label
    local-class='QuestionLabel'
    data-test-question-label
    for={{@uniqueID}}
    ...attributes
>
    {{@schemaBlock.displayText}}
    {{#if (and @isRequired (not @readonly))}}
        <span local-class='Required'>
            {{t 'osf-components.registries.schema-block-renderer/label.required'}}
        </span>
    {{/if}}
    {{#if this.isEditableForm}}
        <Registries::SchemaBlockRenderer::HelperTextIcon @helpText={{this.schemaBlock.helpText}} />
        {{#if this.schemaBlock.exampleText}}
            <OsfButton @type='link' @onClick={{action this.toggleShouldShowExample}}>
                {{#if this.shouldShowExample}}
                    {{t 'osf-components.registries.schema-block-renderer/label.hideExample'}}
                {{else}}
                    {{t 'osf-components.registries.schema-block-renderer/label.showExample'}}
                {{/if}}
            </OsfButton>
        {{/if}}
    {{/if}}
</label>
{{#if this.isEditableForm}}
    {{#if (and this.shouldShowExample this.schemaBlock.exampleText)}}
        <p>
            {{this.schemaBlock.exampleText}}
        </p>
    {{/if}}
{{/if}}