{{#if @isFieldsetGroup}}
    <legend
        local-class='QuestionLabel QuestionLegend'
        data-test-question-label
        for={{@uniqueID}}
        ...attributes
    >
        <Registries::SchemaBlockRenderer::Label::LabelContent
            @schemaBlock={{@schemaBlock}}
            @isRequired={{@isRequired}}
            @readonly={{@readonly}}
            @isEditableForm={{this.isEditableForm}}
            @toggleShouldShowExample={{this.toggleShouldShowExample}}
        />
    </legend>
{{else}}
    <label
        local-class='QuestionLabel'
        data-test-question-label
        for={{@uniqueID}}
        ...attributes
    >
        <Registries::SchemaBlockRenderer::Label::LabelContent
            @schemaBlock={{@schemaBlock}}
            @isRequired={{@isRequired}}
            @readonly={{@readonly}}
            @isEditableForm={{this.isEditableForm}}
            @toggleShouldShowExample={{this.toggleShouldShowExample}}
        />
    </label>
{{/if}}
{{#if this.isEditableForm}}
    {{#if (and this.shouldShowExample this.schemaBlock.exampleText)}}
        <p>
            {{this.schemaBlock.exampleText}}
        </p>
    {{/if}}
{{/if}}