{{#if (or @schemaBlock.displayText @schemaBlock.helpText @schemaBlock.exampleText)}}
    {{#if @isFieldsetGroup}}
        <legend
            data-test-question-label
            local-class='Label'
            id={{@schemaBlock.elementId}}
            ...attributes
        >
            <Registries::SchemaBlockRenderer::Label::LabelContent
                @schemaBlock={{@schemaBlock}}
                @isRequired={{@isRequired}}
                @readonly={{@readonly}}
                @isEditableForm={{@isEditableForm}}
                @draftManager={{@draftManager}}
            />
        </legend>
    {{else}}
        <label
            data-test-question-label
            local-class='Label'
            for={{@uniqueID}}
            id={{@schemaBlock.elementId}}
            ...attributes
        >
            <Registries::SchemaBlockRenderer::Label::LabelContent
                @schemaBlock={{@schemaBlock}}
                @isRequired={{@isRequired}}
                @readonly={{@readonly}}
                @isEditableForm={{@isEditableForm}}
                @draftManager={{@draftManager}}
                @showEditButton={{@showEditButton}}
            />
        </label>
    {{/if}}
{{/if}}
