{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{page-title (t 'node.registrations.page_title' nodeTitle=this.node.unsafeTitle)}}
<div
    data-test-registrations-container
    data-analytics-scope='Registrations'
    class='container'
    local-class='RegistrationsContainer'
>
    <div class='row'>
        <div class='col-xs-9 col-sm-8'>
            <AriaTabs
                data-analytics-scope='Registrations Tab'
                @defaultIndex={{0}}
                @onSelect={{action this.changeTab}}
                local-class='Tabs'
                as |tab|
            >
                <tab.tabList
                    local-class='TabList'
                    as |tablist|
                >
                    <tablist.tab>{{t 'node.registrations.registrations'}}</tablist.tab>
                    {{#if this.node.userHasReadPermission}}
                        <tablist.tab data-test-drafts-tab>
                            {{t 'node.registrations.draft_registrations'}}
                        </tablist.tab>
                    {{/if}}
                </tab.tabList>
                <tab.tabPanel>
                    <div class='row' local-class='RegistrationsPane' data-test-registrations-pane>
                        <NodeList
                            @modelTaskInstance={{this.model.taskInstance}}
                            @relationshipName='registrations'
                            @showTags={{true}}
                            as |nl|
                        >
                            <nl.empty>
                                <p>
                                    {{t 'node.registrations.no_registrations'}}
                                    {{#if (and this.node.currentUserIsContributor (not this.node.userHasAdminPermission))}}
                                        {{t 'node.registrations.only_admins_can_initiate'}}
                                    {{/if}}
                                </p>
                                {{#if this.node.userHasAdminPermission}}
                                    <p>{{t 'node.registrations.start_new'}}</p>
                                {{/if}}
                                <p>
                                    {{t 'node.registrations.learn_more'
                                        learnMoreLink='https://help.osf.io/'
                                        htmlSafe=true
                                    }}
                                </p>
                            </nl.empty>
                        </NodeList>
                    </div>
                </tab.tabPanel>
                {{#if this.node.userHasReadPermission}}
                    <tab.tabPanel data-analytics-scope='Drafts tab'>
                        <div class='row' local-class='RegistrationsPane' data-test-draft-registrations-pane>
                            <PaginatedList::HasMany
                                data-analytics-scope='Project Draft Registrations'
                                @modelTaskInstance={{this.model.taskInstance}}
                                @relationshipName='draftRegistrations'
                                @bindReload={{action (mut this.reloadDrafts)}}
                                @query={{this.draftsQueryParams}}
                                as |list|
                            >
                                <list.item as |draftRegistration|>
                                    <DraftRegistrationCard
                                        @draftRegistration={{draftRegistration}}
                                        @onDelete={{action list.doReload 1}}
                                    />
                                </list.item>

                                <list.empty>
                                    <p>{{t 'node.registrations.no_drafts'}}</p>
                                    {{#if this.node.userHasAdminPermission}}
                                        <p>{{t 'node.registrations.start_new'}}</p>
                                    {{/if}}
                                    <p>
                                        {{t 'node.registrations.learn_more'
                                          learnMoreLink='https://help.osf.io/'
                                          htmlSafe=true
                                        }}
                                    </p>
                                </list.empty>
                            </PaginatedList::HasMany>
                        </div>
                    </tab.tabPanel>
                {{/if}}
            </AriaTabs>
        </div>
        {{#if this.node.userHasAdminPermission}}
            <div class='col-xs-3 col-sm-4'>
                <Button
                    data-test-new-registration-button
                    data-analytics-name='Open new registration modal'
                    @type='create'
                    {{on 'click' (action (mut this.newModalOpen) true)}}
                >
                    {{t 'node.registrations.new'}}
                </Button>
                <OsfDialog
                    data-test-new-registration-modal
                    @isOpen={{this.newModalOpen}}
                    @onClose={{action this.closeNewModal}}
                    as |dialog|
                >
                    <dialog.heading data-test-new-registration-modal-header>
                        <h4 class='NewRegistrationModal__header'>{{t 'node.registrations.new_registration_modal.title'}}</h4>
                    </dialog.heading>
                    <dialog.main data-test-new-registration-modal-body data-analytics-scope='Node - Registrations - New registration modal'>
                        <p class='NewRegistrationModal__info'>{{t 'node.registrations.new_registration_modal.info' htmlSafe=true}}</p>
                        <div class='NewRegistrationModal__schema-list'>
                            {{#if this.getRegistrationSchemas.isRunning}}
                                <ContentPlaceholders as |placeholder|>
                                    {{placeholder.list items=8}}
                                </ContentPlaceholders>
                            {{else}}
                                <ul>
                                    {{#each this.schemas as |schema|}}
                                        <li data-test-new-registration-modal-schema={{schema.name}}>
                                            <RadioButton
                                                @value={{schema}}
                                                @groupValue={{this.selectedSchema}}
                                                @changed={{action this.schemaChanged}}
                                            >
                                                <div>
                                                    {{schema.name}}
                                                    <span>
                                                        <FaIcon @icon='info-circle' />
                                                        <EmberTooltip>
                                                            {{schema.schema.description}}
                                                        </EmberTooltip>
                                                    </span>
                                                </div>
                                            </RadioButton>
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    </dialog.main>
                    <dialog.footer
                        data-test-new-registration-modal-footer
                        data-analytics-scope='Node - Registrations - New registration modal footer'
                    >
                        <Button
                            data-test-new-registration-modal-cancel-button
                            data-analytics-name='Close new registration modal'
                            {{on 'click' (action dialog.close)}}
                        >
                            {{t 'general.cancel'}}
                        </Button>
                        <Button
                            data-test-new-registration-modal-create-draft-button
                            data-analytics-name='Create draft'
                            {{on 'click' (action this.createDraft)}}
                            @type='create'
                        >
                            {{t 'node.registrations.new_registration_modal.create'}}
                        </Button>
                    </dialog.footer>
                </OsfDialog>
            </div>
        {{/if}}
    </div>
    {{#if this.isComponentRootAdmin}}
        <div class='row'>
            {{t 'node.registrations.register_entire_project' rootNodeTitle=this.node.root.title}}
            <OsfLink
                data-analytics-name='Go to registation'
                @route='guid-node.registrations'
                @models={{array this.node.root.id}}
            >
                {{t 'node.registrations.here'~}}
            </OsfLink>
            {{~t 'general.period'}}
        </div>
    {{/if}}
</div>
