<div local-class='preprint-banner-status-container  {{if this.isMobile 'mobile'}}'>
    {{#if (or this.submission.provider?.isPending this.loadPreprintState.isRunning) }}
        {{ t 'preprints.detail.status_banner.loading' }}
    {{else}}
        <div local-class='preprint-banner-status {{this.getClassName}}'>
            <div local-class='display-container'>
                {{#if this.isWithdrawn}}
                    <div>
                        <FaIcon @icon='{{this.icon}}' @prefix='fas' local-class='status-icon' aria-hidden='true'/>
                        <span local-class='banner-content'>{{this.bannerContent}}</span>
                    </div>
                {{else}}
                    <div>
                        <FaIcon @icon='{{this.icon}}' @prefix='far' local-class='status-icon' aria-hidden='true'/>
                        <strong data-test-status>{{t this.status }}:</strong>
                        <span data-test-status-explanation>{{this.bannerContent}}</span>
                    </div>
                    {{#if (and this.reviewerComment (not this.submission.provider.reviewsCommentsPrivate))}}
                        <div local-class='reviewer-feedback'>
                            <Button
                                data-test-view-comments
                                data-analytics-name='View comments'
                                @type='default'
                                {{on 'click' (action (mut this.displayComment) (not this.displayComment))}}
                            >
                                {{t this.labelModeratorFeedback}} 
                                <FaIcon @icon='caret-down' @prefix='fas' aria-hidden='true'/>
                            </Button>
                            <OsfDialog
                                @closeOnOutsideClick={{true}}
                                @isOpen={{this.displayComment}}
                                @onClose={{action (mut this.displayComment) false}}
                                local-class='status-banner-dialog'
                                as |dialog|
                            >
                                <dialog.heading>
                                    <h3>{{t this.labelModeratorFeedback }}</h3>
                                </dialog.heading>
                                <dialog.main>
                                    <div local-class='status'>
                                        <strong>{{t this.status}}</strong>
                                    </div>
                                    <div local-class='moderator-comment' aria-labelledby='moderator-feedback'>
                                        <p>{{this.reviewerComment}}</p>
                                        {{#unless this.submission.provider.reviewsCommentsAnonymous}}
                                            <div>{{this.reviewerName}}</div>
                                        {{/unless}}
                                        {{if this.theme.isProvider this.theme.provider.name (t 'preprints.detail.status_banner.brand_name')}} {{t this.moderator}}
                                    </div>
                                </dialog.main>
                            </OsfDialog>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{/if}}
</div>