<div id='preprint-status' local-class='container p-md'>
    <div local-class='flex-container'>
        {{#if (or this.submission.provider.isPending this.loadPreprintState.isRunning) }}
            {{ t 'preprints.status_banner.loading' }}
        {{else}}
            {{#if this.isWithdrawn}}
                <div local-class='status-explanation'>
                    <i local-class='fa {{this.icon}} status-icon' aria-hidden='true'></i>
                    <span local-class='banner-content'>{{this.bannerContent}}</span>
                </div>
            {{else}}
                <div local-class='status-explanation'>
                    <i local-class='fa {{this.icon}} status-icon' aria-hidden='true'></i>
                    {{!-- <strong>{{t this.status }}:</strong> --}}
                    <span>{{this.bannerContent}}</span>
                </div>
                {{#if (and this.reviewerComment (not this.submission.provider.reviewsCommentsPrivate))}}
                    <div local-class='dropdown reviewer-feedback'>
                        <button local-class='btn btn-default dropdown-toggle feedback-btn' type='button' data-toggle='dropdown'>
                            {{t this.labelModeratorFeedback}} <i local-class='fa fa-caret-down' aria-hidden='true'></i>
                        </button>
                        <div local-class='dropdown-menu'>
                            <div local-class='feedback-header'>
                                <span id='moderator-feedback'>{{t this.labelModeratorFeedback}}</span>
                                <a role='button' aria-label={{ t 'preprints.status_banner.close' }} href='#' local-class='dropdown-toggle' data-toggle='dropdown'>
                                    <i local-class='fa fa-times'></i>
                                </a>
                            </div>
                            <div local-class='status p-md'>
                                <strong>{{t this.status}}</strong>
                                <div>{{this.feedbackBaseMessage}} {{t this.statusExplanation documentType=this.submission.provider.documentType}}</div>
                            </div>
                            <div local-class='moderator-comment' aria-labelledby='moderator-feedback'>
                                <p>{{this.reviewerComment}}</p>
                                {{#unless this.submission.provider.reviewsCommentsAnonymous}}
                                    <div>{{this.reviewerName}}</div>
                                {{/unless}}
                                {{if this.theme.isProvider this.theme.provider.name (t 'global.brand_name')}} {{t this.moderator}}
                            </div>
                            <div local-class='feedback-footer p-md'></div>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</div>
