<div local-class='preprint-input-container  {{if (is-mobile) 'mobile'}}'>
    {{#if this.loadPreprint.isRunning}}
        <LoadingIndicator data-test-loading-indicator @dark={{true}} />
    {{else}} 
        <div local-class='step-container'>
            <h3 local-class='title'
                data-test-title-step-one
            >
                {{t 'preprints.submit.step-one.title'}}
            </h3>

            <div local-class='content-container'>
                <div local-class='title'>
                    {{t 'preprints.submit.step-five.select-a-service'}}
                </div>
                <div local-class='display'>
                    <img
                        data-test-provider-image
                        local-class='image'
                        src={{this.providerLogo}}
                        alt={{t 'preprints.submit.step-one.title'}}
                    />
                    <div local-class='text'>
                        {{this.provider.name}}
                    </div>
                </div>
            </div>
            <div local-class='content-container'>
                <h4>
                    {{t 'preprints.submit.step-five.preprint-title'}}
                </h4>
                <div local-class='display'>
                    {{this.preprint.title}}
                </div>
            </div>
            <div local-class='content-container'>
                <Preprints::-Components::PreprintAbstract @preprint={{this.preprint}} />
            </div>
            <hr>
        </div>
        <div local-class='step-container'>
            <h3 local-class='title'
                data-test-title-step-two
            >
                {{t 'preprints.submit.step-two.title'}}
            </h3>
            <div local-class='content-container'>
                <div local-class='title'>
                    {{t 'preprints.submit.step-five.contributors'}}
                </div>
                <div local-class='display'>
                    <ContributorList
                        @model={{this.preprint}}
                        @shouldTruncate={{false}}
                        @shouldLinkUsers={{true}}
                    />
                </div>
            </div>
            <div local-class='content-container'>
                <div local-class='display'>
                    <Preprints::-Components::PreprintLicense @preprint={{this.preprint}} />
                </div>
            </div>
            <div local-class='content-container'>
                <div local-class='display'>
                    <Preprints::-Components::PreprintDiscipline @subjects={{this.subjects}} />
                </div>
            </div>
            <div local-class='content-container'>
                <div local-class='display'>
                    <Preprints::-Components::PreprintTag @preprint={{this.preprint}} />
                </div>
            </div>
            <div local-class='content-container'>
                <div local-class='content-container'>
                    <h4>
                        {{t 'preprints.submit.step-five.publication-doi'}}
                    </h4>
                    <div local-class='display'>
                        {{this.displayPublicationDoi}}
                    </div>
                </div>
            </div>
            <div local-class='content-container'>
                <h4>
                    {{t 'preprints.submit.step-five.publication-date'}}
                </h4>
                <div local-class='display'>
                    {{this.displayPublicationDate}}
                </div>
            </div>
            <div local-class='content-container'>
                <h4>
                    {{t 'preprints.submit.step-five.publication-citation'}}
                </h4>
                <div local-class='display'>
                    {{this.displayPublicationCitation}}
                </div>
            </div>
            <hr>
        </div>
        <div local-class='step-container'>
            <h3 local-class='title'
                data-test-title-step-three
            >
                {{t 'preprints.submit.step-three.title'}}
            </h3>
            <hr />
        </div>
        <div local-class='step-container'>
            <h3 local-class='title'
                data-test-title-step-four
            >
                {{t 'preprints.submit.step-four.title'}}
            </h3>
            <hr>
        </div>
    {{/if}}
</div>