<div local-class='CardContainer'>
    <span local-class='CardSection'>
        <img
            class='m-l-xs'
            src={{@contributor.users.links.profile_image}}
            alt={{@contributor.users.fullname}}
            height='30'
            width='30'
        >
        <OsfLink
            data-analytics-name='View user'
            @route='guid-user'
            @models={{array @contributor.id}}
        >
            {{@contributor.fullName}}
        </OsfLink>
    </span>
    <span local-class='CardSection'>
        {{@contributor.permission}}
    </span>
    <span local-class='CardSection'>
        {{@contributor.bibliographic}}
        <OsfButton
            data-test-expand-user-card
            data-analytics-name='Expand contributor card'
            @type='link'
            @onClick={{action this.toggleDropdown}}
        >
            <i class='fa fa-angle-down'></i>
        </OsfButton>
    </span>
    {{#if this.showExpandedList}}
        <div></div>
    {{/if}}
</div>
