<div
    data-test-contributor-card={{@contributor.id}}
    data-analytics-scope='Contributor card'
    local-class='CardContainer'
>
    <div data-test-contributor-card-main local-class='MainSection'>
        <span local-class='CardSection'>
            <img
                data-test-contributor-gravatar
                class='m-r-xs'
                src={{@contributor.users.links.profile_image}}
                alt={{@contributor.users.fullName}}
                height='30'
                width='30'
            >
            {{#if @contributor.unregisteredContributor}}
                {{@contributor.unregisteredContributor}}
            {{else}}
                <OsfLink
                    data-test-contributor-link={{@contributor.id}}
                    data-analytics-name='View user'
                    @route='guid-user'
                    @models={{array @contributor.users.id}}
                >
                    {{@contributor.users.fullName}}
                </OsfLink>
            {{/if}}
        </span>
        <span
            data-test-contributor-permission={{@contributor.id}}
            local-class='CardSection'
        >
            {{t (concat 'osf-components.contributors.permissions.' @contributor.permission)}}
        </span>
        <span
            data-test-contributor-citation={{@contributor.id}}
            local-class='CardSectionSmall'
        >
            {{t (concat 'osf-components.contributors.citation.' @contributor.bibliographic)}}
        </span>
        <span
            data-test-contributor-caret={{@contributor.id}}
            data-analytics-name='{{if this.showDropdown 'Expand'  'Collapse'}} employment and education info'
            local-class='CardSectionXS'
            role='button'
            {{on 'click' this.toggleDropdown}}
        >
            <FaIcon
                @icon={{if this.showDropdown 'caret-up' 'caret-down'}}
            />
        </span>
        <span local-class='CardSectionXS'>
            {{#if (eq @contributor.users.id this.currentUser.user.id)}}
                <DeleteButton
                    data-test-contributor-remove-self={{@contributor.id}}
                    @small={{true}}
                    @noBackground={{true}}
                    @delete={{fn @manager.removeContributor @contributor}}
                    @modalTitle={{t 'osf-components.contributors.removeContributor.confirmRemove.title'}}
                    @modalBody={{t 
                        'osf-components.contributors.removeContributor.confirmRemove.body' 
                        userName=(if @contributor.unregisteredContributor
                            @contributor.unregisteredContributor
                            @contributor.users.fullName
                        )
                    }}
                    @confirmButtonText={{t 'osf-components.contributors.removeContributor.confirmRemove.button'}}
                />
            {{/if}}
        </span>
    </div>
</div>
    {{#if this.showDropdown}}
        <div data-test-contributor-card-dropdown local-class='DropdownSection'>
            <ul local-class='DropdownList'>
                {{#if @contributor.users.employment}}
                    {{#each @contributor.users.employment as |item|}}
                        <li>
                            {{#if (and item.institution item.department)}}
                                {{concat item.institution ', ' item.department}}
                            {{else}}
                                {{item.institution}}
                            {{/if}}
                        </li>
                    {{/each}}
                {{else}}
                    <li>
                        {{t 'osf-components.contributors.noEmployment'}}    
                    </li>
                {{/if}}
                {{#if @contributor.users.education}}
                    {{#each @contributor.users.education as |item|}}
                        <li>
                            {{#if (and item.institution item.department)}}
                                {{concat item.institution ', ' item.department}}
                            {{else}}
                                {{item.institution}}
                            {{/if}}
                        </li>
                    {{/each}}
                {{else}}
                    <li>    
                        {{t 'osf-components.contributors.noEducation'}}
                    </li>
                {{/if}}
            </ul>
        </div>
    {{/if}}
