<div
    data-test-contributor-card
    data-analytics-scope='Contributor card'
    local-class='CardContainer'
>
    <div data-test-contributor-card-main local-class='MainSection'>
        <span local-class='CardSection'>
            <img
                data-test-contributor-gravatar
                class='m-r-xs'
                src={{@contributor.users.links.profile_image}}
                alt={{@contributor.users.fullName}}
                height='30'
                width='30'
            >
            {{#if @contributor.unregisteredContributor}}
                {{@contributor.unregisteredContributor}}
            {{else}}
                <OsfLink
                    data-test-contributor-link={{@contributor.id}}
                    data-analytics-name='View user'
                    @route='guid-user'
                    @models={{array @contributor.users.id}}
                >
                    {{@contributor.users.fullName}}
                </OsfLink>
            {{/if}}
        </span>
        <span
            data-test-contributor-permission={{@contributor.id}}
            local-class='CardSection'
        >
            {{t (concat 'osf-components.contributors.permissions.' @contributor.permission)}}
        </span>
        <span
            data-test-contributor-citation={{@contributor.id}}
            local-class='CardSection'
        >
            {{t (concat 'osf-components.contributors.citation.' @contributor.bibliographic)}}
        </span>
        <span
            data-test-contributor-caret={{@contributor.id}}
            data-analytics-name={{
                if this.showDropdown
                'Expand employment and education info'
                'Collapse employment and education info'
            }}
            local-class='CardSection'
            role='button'
            {{on 'click' this.toggleDropdown}}
        >
            <FaIcon
                @icon={{if this.showDropdown 'caret-up' 'caret-down'}}
            />
        </span>
    </div>
    {{#if this.showDropdown}}
        <div data-test-contributor-card-dropdown local-class='DropdownSection'>
            <ul local-class='DropdownList'>
                {{#if (or this.employmentList this.educationList)}}
                    {{#each this.employmentList as |item|}}
                        <li>{{item}}</li>
                    {{/each}}
                    {{#each this.educationList as |item|}}
                        <li>{{item}}</li>
                    {{/each}}
                {{else}}
                    {{t 'osf-components.contributors.noAffiliations'}}
                {{/if}}
            </ul>
        </div>
    {{/if}}
</div>
