{{#each this.topInstitutionAffiliatedContributors as |contributor|}}
    <div>
        <OsfLink
            @href={{contributor.url}}
        >
            {{contributor.name}}
        </OsfLink>
        {{t 'institutions.dashboard.object-list.table-items.permission-level' permissionLevel=contributor.permissionLevel}}
    </div>
    <Button
        local-class='icon-message'
        aria-label={{t 'institutions.dashboard.request_project_message_modal.open_aira_label'}}
        {{on 'click' (fn this.handleOpenModal contributor)}}
    >
        <FaIcon @icon='comment' />
    </Button>
{{else}}
    <div>
        {{t 'institutions.dashboard.object-list.table-items.no-contributors'}}
    </div>
{{/each}}
