{{#each this.topInstitutionAffiliatedContributors as |contributor|}}
    <div local-class='contrib-field'>
        <OsfLink
            @href={{contributor.url}}
        >
            {{contributor.name}}
        </OsfLink>
        {{t 'institutions.dashboard.object-list.table-items.permission-level' permissionLevel=contributor.permissionLevel}}
    </div>
    {{#if (and @institution.institutionalRequestAccessEnabled  this.shouldShowButton)}}
        <Button
            local-class='icon-message'
            aria-label={{t 'institutions.dashboard.request_project_message_modal.open_aria_label'}}
            {{on 'click' (fn this.handleOpenModal contributor)}}
        >
            <FaIcon @icon='comment' />
        </Button>
    {{/if}}
{{else}}
    <div>
        {{t 'institutions.dashboard.object-list.table-items.no-contributors'}}
    </div>
{{/each}}
