{{#let (hash navbar=(component 'osf-navbar')) as |ctx|}}
    {{#if hasBlock}}
        {{yield ctx}}
    {{else}}
        {{ctx.navbar}}
    {{/if}}
{{/let}}

<div id="{{secondaryNavbarId}}"></div>
{{maintenance-banner}}
{{status-banner}}
{{tos-consent-banner}}
