<h3>
    {{t 'app_components.project_contributors.search.unregistered_contributor.title'}}
</h3>
<label local-class='fullwidth'>
    {{t 'app_components.project_contributors.search.unregistered_contributor.full_name'}}
    <ValidatedInput::Text
        @model={{this.model}}
        @shouldShowMessages={{this.didValidate}}
        @valuePath='fullName'
        @placeholder={{t 'app_components.project_contributors.search.unregistered_contributor.full_name'}}
    />
</label>
<br>
<label local-class='fullwidth'>
    {{t 'app_components.project_contributors.search.unregistered_contributor.email'}}
    <ValidatedInput::Text
        @model={{this.model}}
        @shouldShowMessages={{this.didValidate}}
        @valuePath='email'
        @placeholder={{t 'app_components.project_contributors.search.unregistered_contributor.email'}}
    />
</label>
<p class='text-muted'>
    {{t 'app_components.project_contributors.search.unregistered_contributor.paragraph'}}
</p>
<div class='pull-right text-right'>
    <Button
        {{on 'click' (action this.cancel)}}
    >
        {{t 'app_components.project_contributors.search.unregistered_contributor.cancel'}}
    </Button>
    <Button
        @type='create'
        disabled={{and this.didValidate (v-get this.model 'isInvalid')}}
        {{on 'click' (action (perform this.add))}}
    >
        {{t 'app_components.project_contributors.search.unregistered_contributor.add'}}
    </Button>
</div>
