<div local-class='form-container'>
    <FormControls
        @changeset={{@changeSet}}
        data-test-form
        as |form|
    >
        {{#let (unique-id 'publicData') as |publicDataId|}}
            <label for={{publicDataId}}
                data-test-public-data-label
            >
                {{t 'preprints.submit.step-three.public-data-input'}}
                <span local-class='required'>*</span>
            </label>
            <p>
                {{t 'preprints.submit.step-three.public-data-description'}}
            </p>

            <form.radioGroup
                @id={{publicDataId}}
                @valuePath={{'hasDataLinks'}}
                @class='radio-group'
                @isRequired={{true}}
                @changeset={{@changeSet}}
                @options={{this.publicDataOptionBlockValues}}
                @onInput={{this.updatePublicDataLinks}}
                as |radioGroup|
            >
                {{radioGroup}}
            </form.radioGroup>
        {{/let}}

        {{#if this.displayPublicDataLinks}}
            <div local-class='input-container'>
                {{#let (unique-id 'dataLink') as |dataLinkId|}}
                    <form.text
                        data-test-data-link-input
                        @isRequired={{true}}
                        {{on 'change' this.onUpdate}}
                        local-class='input-container'
                        @placeholder={{t 'preprints.submit.step-three.public-data-link-placeholder'}}
                        @uniqueID={{dataLinkId}} 
                    />
                {{/let}}
            </div>
        {{/if}}

        {{#if this.displayPublicDataWhyNoStatement}}
            <div local-class='input-container'>
                <form.textarea
                    data-test-public-data-description-input
                    @disabled={{this.isPublicDataWhyNoStatementDisabled}}
                    @valuePath={{'whyNoData'}}
                    {{on 'change' @validate}}
                    local-class='input-container textarea-container'
                    @placeholder={{this.placeholder}}
                />
            </div>
        {{/if}}
    </FormControls>
</div>