{{#if @results}}
    {{#each @results as |result|}}
        <Contributors::UserSearch::Card
            @user={{result}}
            @manager={{@manager}}
        />
    {{/each}}
    {{#if @shouldShowLoadMoreUsers}}
        <div local-class='InfinityLoader'
            {{in-viewport
                onEnter=(perform @fetchUsers true)
            }}
        >
            {{t 'osf-components.contributors.loadMore'}}
        </div>
    {{/if}}
    {{#if @isLoadingUsers}}
        <LoadingIndicator @dark={{true}} />
    {{/if}}
{{else if @fetchUsers.last.isError}}
    <p>
        {{t 'registries.registration_metadata.add_contributors.error_loading'}}
    </p>
{{else if @fetchUsers.last.isSuccessful}}
    <p>
        {{t 'registries.registration_metadata.add_contributors.no-results'}}
    </p>
{{/if}}
