{{#if @manager.isLoadingUsers}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    {{#if @results}}
        <div local-class='Heading'>
            <span data-test-heading-name local-class='HeadingTitle'>
                {{t 'osf-components.contributors.headings.name'}}
            </span>
            <Button
                data-test-add-unregistered-contributor
                data-analytics-name='Add unregistered contributor'
                @layout='fake-link'
            >
                {{t 'registries.registration_metadata.add_contributors.add_unregistered_contributor'}}
            </Button>
        </div>
        {{#each @results as |result|}}
            <Contributors::UserSearch::Card
                @user={{result}}
                @addContributor={{@manager.addContributor}}
                @addedContributors={{@manager.addedContributors}}
            />
        {{/each}}
        {{#if @manager.shouldShowLoadMoreUsers}}
            <div local-class='InfinityLoader'
                {{in-viewport
                    onEnter=(fn @manager.fetchUsers)
                }}
            >
                {{t 'osf-components.contributors.loadMore'}}
            </div>
        {{/if}}
    {{else if @manager.fetchUsers.last.isError}}
        <p>
            {{t 'registries.registration_metadata.add_contributors.error_loading'}}
        </p>
    {{else if @manager.fetchUsers.last.isSuccessful}}
        <p>
            {{t 'registries.registration_metadata.add_contributors.no_results'}}
        </p>
    {{else}}
        {{t 'registries.registration_metadata.add_contributors.help_text' htmlSafe=true}}
    {{/if}}
{{/if}}
