<p local-class='OpenResource_item'>
    <OsfLink
        data-test-resource-link
        @route='registries.overview.resources'
        @models={{@registration.id}}
    >
        <figure local-class='OutputResource_figure'>
            <img
                data-analytics-name={{@resourceType}}
                data-test-badge-icon
                src={{this.getSrc}}
                local-class='OutputResource_img'
                alt={{t (concat 'registries.overview.resources.' @resourceType '.alt_text')}}
            />
            <figcaption>
                {{t (concat 'registries.overview.resources.' @resourceType '.title')}}
            </figcaption>
        </figure>
    </OsfLink>
</p>
