<p local-class='OpenResource_item'>
    <OsfLink
        data-test-resource-link
        @route='registries.overview.resources'
        @models={{@registration.id}}
    >
        <span
            data-test-badge-icon={{@resourceType}}
        >
            <label local-class='OutputResource__label'>
                <img
                    data-analytics-name={{@resourceType}}
                    data-test-badge-icon
                    src={{this.getSrc}}
                    local-class='OutputResource_img'
                    alt={{t (concat 'registries.overview.resources.' @resourceType '.alt_text')}}
                />
                {{t (concat 'registries.overview.resources.' @resourceType '.title')}}
            </label>
        </span>
    </OsfLink>
</p>
