{{#if (not this.session.isAuthenticated) }}
    <li class='sign-in'>
        <div>
            <OsfLink
                @route={{this.signUpRoute}}
                @queryParams={{this.signUpQueryParams}}
                class='btn btn-success btn-top-signup m-l-sm m-r-xs'
                analyticsLabel='Navbar - SignUp'
                testSelectorVal='sign-up-button'
            >
                {{t 'auth_dropdown.sign_up'}}
            </OsfLink>
            <OsfButton 
                data-test-sign-in-button
                class='btn-top-login'
                @onClick={{action this.login}}
                @size='xs'
                @type='info'
            >
                {{!-- {{action 'click' 'button' 'Navbar - SignIn' target=this.analytics}} --}}
                {{t 'auth_dropdown.sign_in'}}
            </OsfButton>
        </div>
    </li>
{{else}}
    <BsDropdown
        data-test-auth-dropdown
        local-class='DropdownContainer'
        @tagName='li'
        @classNames='dropdown secondary-nav-dropdown'
        as |dd| 
    >
        <dd.toggle @classNames='btn-link'>
            <div class='osf-profile-image'>
                <img src='{{this.user.profileImage}}&s=25' alt='{{t 'auth_dropdown.user_gravatar'}}'>
            </div>
            <div class='nav-profile-name'>{{this.user.fullName}}</div>
            <span class='caret'></span>
        </dd.toggle>

        <dd.menu
            @classNames='auth-dropdown'
            local-class='AuthDropdown'
            as |ddm|
        >
            {{#if @headline}}
                <ddm.item role='none' local-class='Headline'>
                    {{@headline}}
                </ddm.item>
            {{/if}}
            <ddm.item role='menuitem'>
                <OsfLink
                    @href='{{this.profileURL}}'
                    @onClick={{action this._onLinkClicked 'Navbar - MyProfile'}}
                >
                    <i class='fa fa-user fa-lg p-r-xs'></i>
                    {{t 'auth_dropdown.my_profile'}}
                </OsfLink>
            </ddm.item>
            <ddm.item role='menuitem'>
                <OsfLink
                    @route='support'
                    @onClick={{action this._onLinkClicked 'Navbar - Support'}}
                >
                    <i class='fa fa-life-ring fa-lg p-r-xs'></i>
                    {{t 'auth_dropdown.osf_support'}}
                </OsfLink>
            </ddm.item>
            <ddm.item role='menuitem'>
                <OsfLink
                    @href='{{this.settingsURL}}'
                    @onClick={{action this._onLinkClicked 'Navbar - Settings'}}
                >
                    <i class='fa fa-cog fa-lg p-r-xs'></i>
                    {{t 'general.settings'}}
                </OsfLink>
            </ddm.item>
            <ddm.item role='menuitem'>
                <OsfButton
                    class='logoutLink'
                    @type='link'
                    @onClick={{action 'logout'}}
                >
                    {{!-- {{action this._onLinkClicked 'Navbar - Logout'}} --}}
                    <i class='fa fa-sign-out fa-lg p-r-xs'></i>
                    {{t 'auth_dropdown.log_out'}}
                </OsfButton>
            </ddm.item>
        </dd.menu>
    </BsDropdown>
{{/if}}
