{{#if (not session.isAuthenticated) }}
    <li class='sign-in'>
        <div>
            {{#hyper-link this.signUpRoute queryParams=this.signUpQueryParams class='btn btn-success btn-top-signup m-l-sm m-r-xs' analyticsLabel='Navbar - SignUp' testSelectorVal='sign-up-button'}}
                {{t 'auth_dropdown.sign_up'}}
            {{/hyper-link}}
            <a {{action 'login'}} data-test-sign-in-button onclick={{action 'click' 'button' 'Navbar - SignIn' target=analytics}} class="btn btn-info btn-top-login m-r-xs" role="button">
                {{t 'auth_dropdown.sign_in'}}
            </a>
        </div>
    </li>
{{else}}
    {{#bs-dropdown tagName='li' classNames='dropdown secondary-nav-dropdown' as |dd|}}
        {{#dd.toggle classNames='btn-link'}}
            <div class="osf-profile-image">
                <img src="{{user.profileImage}}&s=25" alt="{{t 'auth_dropdown.user_gravatar'}}">
            </div>
            <div class='nav-profile-name'>{{user.fullName}}</div>
            <span class="caret"></span>
        {{/dd.toggle}}

        {{#dd.menu classNames='dropdown-menu auth-dropdown' as |ddm|}}
            {{#ddm.item (html-attributes role='menuitem')}}
                <a href="{{profileURL}}" onclick={{action 'click' 'link' 'Navbar - MyProfile' target=analytics}}>
                    <i class="fa fa-user fa-lg p-r-xs"></i>
                    {{t 'auth_dropdown.my_profile'}}
                </a>
            {{/ddm.item}}
            {{#ddm.item (html-attributes role='menuitem')}}
                {{#global-link-to 'support' click=(action 'click' 'link' 'Navbar - Support' target=analytics)}}
                    <i class="fa fa-life-ring fa-lg p-r-xs"></i>
                    {{t 'auth_dropdown.osf_support'}}
                {{/global-link-to}}
            {{/ddm.item}}
            {{#ddm.item (html-attributes role='menuitem')}}
                <a href="{{settingsURL}}" onclick={{action 'click' 'link' 'Navbar - Settings' target=analytics}}>
                    <i class="fa fa-cog fa-lg p-r-xs"></i>
                    {{t 'general.settings'}}
                </a>
            {{/ddm.item}}
            {{#ddm.item (html-attributes role='menuitem')}}
                <a class="logoutLink" {{action 'logout'}} onclick={{action 'click' 'button' 'Navbar - Logout' target=analytics}} role="button">
                    <i class="fa fa-sign-out fa-lg p-r-xs"></i>
                    {{t 'auth_dropdown.log_out'}}
                </a>
            {{/ddm.item}}
        {{/dd.menu}}
    {{/bs-dropdown}}
{{/if}}
