{{#if this.session.isAuthenticated}}
    <BsDropdown
        data-test-auth-dropdown
        local-class='DropdownContainer'
        class='secondary-nav-dropdown'
        @htmlTag='li'
        as |dd|
    >
        <dd.toggle data-test-auth-dropdown-toggle class='btn-link'>
            <div class='osf-profile-image'>
                <img src='{{this.user.profileImage}}&s=25' alt='{{t 'auth_dropdown.user_gravatar'}}'>
            </div>
            <div class='nav-profile-name'>{{this.user.fullName}}</div>
            <span class='caret'></span>
        </dd.toggle>

        <dd.menu
            class='auth-dropdown'
            local-class='AuthDropdown'
            @align='right'
            as |ddm|
        >
            {{#if @headline}}
                <ddm.item role='none' local-class='Headline'>
                    {{@headline}}
                </ddm.item>
            {{/if}}
            <li role='menuitem'>
                <OsfLink
                    data-test-ad-my-profile
                    data-analytics-name='MyProfile'
                    @href={{this.profileURL}}
                >
                    <FaIcon @icon='user' class='fa-lg p-r-xs' />
                    {{t 'auth_dropdown.my_profile'}}
                </OsfLink>
            </li>
            <li role='menuitem'>
                <OsfLink
                    data-test-ad-support
                    data-analytics-name='Support'
                    @href={{this.supportURL}}
                >
                    <FaIcon @icon='life-ring' class='fa-lg p-r-xs' />
                    {{t 'auth_dropdown.osf_support'}}
                </OsfLink>
            </li>
            <li role='menuitem'>
                <OsfLink
                    data-test-ad-settings
                    data-analytics-name='Settings'
                    @href={{this.settingsURL}}
                >
                    <FaIcon @icon='cog' class='fa-lg p-r-xs' />
                    {{t 'general.settings'}}
                </OsfLink>
            </li>
            <li role='menuitem'>
                <Button
                    data-test-ad-logout
                    data-analytics-name='Logout'
                    class='logoutLink'
                    local-class='logout-link'
                    @layout='fake-link'
                    {{on 'click' (action this.currentUser.logout)}}
                >
                    <FaIcon @icon='sign-out-alt' class='fa-lg p-r-xs' />
                    {{t 'auth_dropdown.log_out'}}
                </Button>
            </li>
        </dd.menu>
    </BsDropdown>
{{else}}
    <li class='sign-in'>
        <div class='button-container'>
            <OsfLink
                data-test-ad-sign-up-button
                data-analytics-name='SignUp {{@campaign}}'
                class='btn btn-success btn-top-signup m-l-sm m-r-xs'
                @route='register'
                @queryParams={{this.signUpQueryParams}}
                role='button'
            >
                {{t 'auth_dropdown.sign_up'}}
            </OsfLink>
            <Button
                data-test-sign-in-button
                data-analytics-name='SignIn'
                class='btn-top-login'
                {{on 'click' (action this.login)}}
                @layout='small'
                @type='secondary'
                role='button'
            >
                {{t 'auth_dropdown.sign_in'}}
            </Button>
        </div>
    </li>
{{/if}}
