{{#if session.isAuthenticated }}
    {{#bs-dropdown tagName='li' classNames='dropdown secondary-nav-dropdown' as |dd|}}
        {{#dd.toggle classNames='btn-link'}}
            <div class="osf-profile-image">
                <img src="{{user.profileImage}}&s=25" alt="{{t 'auth_dropdown.user_gravatar'}}">
            </div>
            <div class='nav-profile-name'>{{user.fullName}}</div>
            <span class="caret"></span>
        {{/dd.toggle}}
        {{#dd.menu classNames='dropdown-menu auth-dropdown' as |ddm|}}
            {{#if headline}}
                {{#ddm.item (html-attributes role='menuitem')}}
                    {{headline}}
                {{/ddm.item}}
            {{/if}}
            {{#ddm.item (html-attributes role='menuitem')}}
                <a href="{{serviceLinks.profile}}" onclick={{action 'clicked' 'link' 'Navbar - MyProfile'}}>
                    <i class="fa fa-user fa-lg p-r-xs"></i>
                    {{t 'auth_dropdown.my_profile'}}
                </a>
            {{/ddm.item}}
            {{#ddm.item (html-attributes role='menuitem')}}
                {{#link-to 'support' click=(action 'clicked' 'link' 'Navbar - Support')}}
                    <i class="fa fa-life-ring fa-lg p-r-xs"></i>
                    {{t 'auth_dropdown.osf_support'}}
                {{/link-to}}
            {{/ddm.item}}
            {{#ddm.item (html-attributes role='menuitem')}}
                <a href="{{serviceLinks.settings}}" onclick={{action 'clicked' 'link' 'Navbar - Settings'}}>
                    <i class="fa fa-cog fa-lg p-r-xs"></i>
                    {{t 'general.settings'}}
                </a>
            {{/ddm.item}}
            {{#ddm.item (html-attributes role='menuitem')}}
                <a class="logoutLink" {{action 'logout'}} onclick={{action 'clicked' 'button' 'Navbar - Logout'}} role="button">
                    <i class="fa fa-sign-out fa-lg p-r-xs"></i>
                    {{t 'auth_dropdown.log_out'}}
                </a>
            {{/ddm.item}}
        {{/dd.menu}}
    {{/bs-dropdown}}
{{else}}
    <li class='sign-in'>
        <div>
            <a href="{{signupUrl}}" class="btn btn-success btn-top-signup m-l-sm m-r-xs" onclick={{action 'click' 'link' 'Navbar - SignUp' target=analytics}}>
                {{t 'auth_dropdown.sign_up'}}
            </a>
            <a {{action loginAction}} onclick={{action 'click' 'button' 'Navbar - SignIn' target=analytics}} class="btn btn-info btn-top-login m-r-xs" role="button">
                {{t 'auth_dropdown.sign_in'}}
            </a>
        </div>
    </li>
{{/if}}
