<form {{on 'submit' @manager.save}}>
    <ValidatedInput::Custom
        data-test-publication-doi-input
        @changeset={{@manager.changeset}}
        @valuePath='articleDoi'
        @shouldShowMessages={{@manager.didValidate}}
        @placeholder={{this.doiPlaceholder}}
    >
        <div class='input-group'>
            <span class='input-group-addon'>{{this.doiUrlPrefix}}</span>
            <Input
                @value={{get @manager.changeset 'articleDoi'}}
                @type='text'
                @class='form-control form-group'
                @placeholder={{this.doiPlaceholder}}
            />
        </div>
    </ValidatedInput::Custom>

    <div local-class='Controls'>
        <BsButton
            data-analytics-name='Cancel'
            data-test-cancel-publication-doi
            disabled={{@manager.save.isRunning}}
            @onClick={{action @manager.cancel}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        <BsButton
            data-analytics-name='Save'
            data-test-save-publication-doi
            disabled={{@manager.save.isRunning}}
            type='submit'
            @type='primary'
        >
            {{t 'general.save'}}
        </BsButton>
    </div>
</form>
