{{#inline-list items=this.contributorList truncate=3 as |l|}}
    {{#if l.item}}
        {{~contributor-list/contributor useLink=this.useLink contributor=l.item~}}
    {{else if l.truncate}}
        {{#if this.useLink}}
            <a href='/{{this.nodeId}}'>{{t 'contributor_list.and_x_more' x=this.rest}}</a>
        {{else}}
            {{~t 'contributor_list.and_x_more' x=this.rest}}
        {{/if}}
    {{/if}}
{{/inline-list}}
