{{#if @model.isAnonymous}}
    {{t 'contributor_list.anonymous'}}
{{else}}
    {{#if this.shouldShowRemoveMeButton}}
        <div local-class='Button__removeMe'>
            <DeleteButton
                data-test-contributor-remove-me
                local-class='RemoveContributorButton'
                @buttonLabel={{t 'contributor_list.remove_contributor.button_label'}}
                @delete={{this.removeMe}}
                @smallSecondary={{true}}
                @modalTitle={{t 'contributor_list.remove_contributor.confirm_remove.title'}}
                @modalBody={{t 'contributor_list.remove_contributor.confirm_remove.body'}}
                @confirmButtonText={{t 'contributor_list.remove_contributor.confirm_remove.button'}}
            />
        </div>
    {{/if}}
    <InlineList
        @items={{this.displayedContributors}}
        @total={{this.totalContributors}}
        @truncate={{this.truncateCount}}
        as |list|
    >
        {{~#if list.item}}
            {{~#if (and list.item.unregisteredContributor this.shouldEnableClaimUser)~}}
                {{~contributor-list/unregistered-contributor
                    contributor=list.item
                    nodeId=@model.id
                ~}}
            {{~else~}}
                {{~contributor-list/contributor
                    contributor=list.item
                    shouldLinkUser=this.shouldLinkUsers
                    shouldShortenName=this.shouldTruncate
                    nodeId=@model.id
                ~}}
            {{~/if~}}
        {{else if list.remainingCount}}
            {{#if this.isLoading}}
                <LoadingIndicator @inline={{true}} @dark={{true}} />
            {{else if this.shouldTruncate}}
                {{t 'contributor_list.x_more' x=list.remainingCount}}
            {{else}}
                <OsfButton
                    data-test-load-more-contribs
                    data-analytics-name='Load more contributors'
                    aria-label={{t 'contributor_list.more'}}
                    local-class='load-contribs'
                    @type='link'
                    @onClick={{perform this.loadContributors true}}
                >
                    {{t 'contributor_list.x_more' x=list.remainingCount}}
                    <FaIcon @icon='caret-down' />
                </OsfButton>
            {{/if}}
        {{/if~}}
    </InlineList>
{{/if}}
