{{#inline-list items=contributorList truncate=displayedContribs as |l|}}
    {{#if l.item}}
        {{~contributor-list/contributor showContributorLink=showContributorLink contributor=l.item~}}
    {{else if l.truncate}}
        {{#if (and showLoading hasMore loadingMore) }}
            {{loading-indicator dark=darkBall}}
        {{else}}
            {{#if showMoreLink}}
                <button class="btn btn-link" local-class="load-contribs" aria-label='More' onclick={{action 'more'}} data-test-load-more-contribs>
                    {{~t 'contributor_list.and_x_more' x=rest~}}
                </button>
            {{else}}
                {{~t 'contributor_list.and_x_more' x=rest~}}
            {{/if}}
        {{/if}}
    {{/if}}
{{/inline-list}}
{{#if showLess}}
    <button class="btn btn-link" local-class="load-contribs" aria-label='Less' onclick={{action 'less'}} data-test-show-less-contribs>
        {{~t 'contributor_list.less'~}}
    </button>
{{/if}}
