<div local-class='preprint-input-container  {{if (is-mobile) 'mobile'}}'>
    <h4 local-class='title'
        data-test-title
    >
        {{t 'preprints.submit.step-four.choose-project'}}
    </h4>
    <p>
        {{t 'preprints.submit.step-four.choose-project-line-one-description'}}
        <br>
        {{t 'preprints.submit.step-four.choose-project-line-two-description'}}
    </p>


    <div>
        <NodePicker
        local-class='item-picker-container'
        @projectSelected={{this.projectSelected}}
        />
    </div>
</div>