{{#if this.hasResponses}}
    <ul
        data-test-read-only-file-widget
        local-class='FilesList'
        ...attributes
    >
        {{#each this.responses as |response|}}
            <li>
                <OsfLink
                    @href={{response.file_urls.html}}
                    @target='_blank'
                >
                    {{response.file_name}}
                </OsfLink>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p local-class='NoFilesSelected'>
        {{t 'osf-components.registries.schema-block-renderer/read-only/files.noFilesSelected'}}
    </p>
{{/if}}
<ValidationErrors
    local-class='ValidationErrors'
    @changeset={{@changeset}}
    @key={{@schemaBlock.registrationResponseKey}}
/>