<div local-class='preprint-input-container {{if (is-mobile) 'mobile'}}'>
    <h3 local-class='title'
        data-test-title
    >
        {{t 'preprints.submit.step-one.title'}}
    </h3>
    <div local-class='form-container'>
        <FormControls
            @changeset={{this.titleAndFileFormChangeset}}
            data-test-form
            as |form|
        >
            {{#let (unique-id 'title') as |titleFieldId|}}
                <label for={{titleFieldId}}
                    data-test-title-label
                >
                    {{t 'preprints.submit.step-one.title-input'}}
                    <span local-class='required'>*</span>
                </label>
                <form.text
                    data-test-title-input
                    @valuePath={{'title'}}
                    @isRequired={{true}}
                    {{on 'change' this.validate}}
                    local-class='input-container'
                    @placeholder={{t 'preprints.submit.step-one.title-input'}}
                    @uniqueID={{titleFieldId}} 
                />
            {{/let}}
            {{#let (unique-id 'abstract') as |abstractFieldId|}}
                <label for={{abstractFieldId}}
                    data-test-abstract-label
                >
                    {{t 'preprints.submit.step-one.abstract-input'}}
                    <span local-class='required'>*</span>
                </label>
                <form.textarea
                    data-test-abstract-input
                    @valuePath={{'description'}}
                    @isRequired={{true}}
                    {{on 'change' this.validate}}
                    local-class='input-container textarea-container'
                    @placeholder={{t 'preprints.submit.step-one.abstract-input'}}
                    @uniqueID={{abstractFieldId}} 
                />
            {{/let}}
        </FormControls>
        <div local-class='upload-container'>
            <label data-test-upload-label>
                {{t 'preprints.submit.step-one.upload-title'}}
                <span local-class='required'>*</span>
            </label>
            <div local-class='button-container'>
                <Button
                    data-test-upload-button
                    data-analytics-name='Upload button'
                    {{on 'click' this.displayFileUpload}}
                    local-class='btn {{if this.isFileUploadDisplayed 'selected'}}'
                    disabled={{this.isButtonDisabled}}
                >
                    {{ t 'preprints.submit.step-one.file-upload-label'}}
                </Button>
                <Button
                    data-test-select-button
                    data-analytics-name='Select button'
                    {{on 'click' this.displayFileSelect}}
                    local-class='btn'
                    disabled={{this.isButtonDisabled}}
                >
                    {{ t 'preprints.submit.step-one.file-select-label'}}
                </Button>
            </div>
            {{#if this.isFileUploadDisplayed}}
                {{#let (unique-id 'preprint-upload-files-dropzone') as |id|}}
                    <Preprints::-Components::Submit::TitleAndFile::UploadFile
                        @manager={{@manager}}
                        @preprint={{@manager.preprint}}
                        @clickableElementId={{id}}
                        @enable={{true}}
                        @dragEnter={{fn (mut this.dragging) true}}
                        @dragOver={{fn (mut this.dragging) true}}
                        @dragLeave={{fn (mut this.dragging) false}}
                        @drop={{fn (mut this.dragging) false}}
                    >
                        <div
                            data-test-file-drag-and-drop-area
                            local-class='upload-file {{if this.dragging 'highlight'}}'
                            id={{id}}
                        >
                            <div
                                data-test-file-upload-label-one
                            >
                                {{ t 'preprints.submit.step-one.file-upload-label-one'}}
                            </div>
                            <div
                                data-test-file-upload-label-two
                            >
                                {{ t 'preprints.submit.step-one.file-upload-label-two'}}
                            </div>
                        </div>
                    </Preprints::-Components::Submit::TitleAndFile::UploadFile>
                {{/let}}

            {{/if}}
            {{#if this.isFileSelectDisplayed}}
                {{ t 'preprints.submit.step-one.file-select-label'}}
            {{/if}}
            {{#if this.isButtonDisabled}}
                <div local-class='cancel-button-container'>
                    <Button
                        data-test-cancel-button
                        {{on 'click' this.onCancelSelectAction}}
                    >
                        {{t 'general.cancel'}}
                    </Button>
                </div>
            {{/if}}
        </div>
    </div>
</div>