<Button
    data-analytics-name='Open withdraw form modal'
    @type='destroy'
    {{on 'click' (action (mut this.showModal) true)}}
>
    {{t 'registries.overview.withdraw.withdraw'}}
</Button>

<BsModal
    @tagName='span'
    @open={{this.showModal}}
    @onSubmit={{action (perform this.submitWithdrawal)}}
    @onHide={{action this.close}}
    @renderInPlace={{true}}
    as |modal|
>
    <modal.header>
        <h3>{{t 'registries.overview.withdraw.withdraw'}}</h3>
    </modal.header>

    <modal.body>
        <div local-class='WithdrawDropdown' data-test-withdrawal-form>
            <p>{{t 'registries.overview.withdraw.warning'}}</p>
            <p><strong>{{t 'registries.overview.withdraw.withdrawal_justification_label'}}</strong></p>
            <FormControls
                @changeset={{this.changeset}}
            as |form|>
                <form.textarea
                    @valuePath='withdrawalJustification'
                />
            </FormControls>
            <p>{{t 'registries.overview.withdraw.random_scientist_x' x=this.scientistName htmlSafe=true}}</p>
            <div local-class='Container'>
                <div>
                    <Input
                        @class='form-control'
                        @required={{true}}
                        @value={{this.scientistNameInput}}
                        @type='text'
                    />
                </div>
            </div>
        </div>
    </modal.body>

    <modal.footer>
        <Button
            disabled={{this.submitWithdrawal.isRunning}}
            {{on 'click' (action modal.close)}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-analytics-name='Withdraw registration'
            disabled={{or this.submitDisabled this.submitWithdrawal.isRunning}}
            @type='destroy'
            {{on 'click' modal.submit}}
        >
            {{t 'registries.overview.withdraw.withdraw'}}
        </Button>
    </modal.footer>
</BsModal>
