{{title (t 'registries.drafts.draft.form.title')}}

{{#if this.loading}}
    <div local-class='ContentBackground Loading'>
        <LoadingIndicator @dark={{true}} />
    </div>
{{else}}
    <Registries::DraftRegistrationManager
        @currentPage={{this.pageIndex}}
        @draftRegistration={{this.draftRegistration}}
        @node={{this.node}}
        @inReview={{false}}
        as |draftManager|
    >
        {{#if draftManager.initializing}}
            <div local-class='ContentBackground Loading'>
                <LoadingIndicator @dark={{true}} />
            </div>
        {{else}}
            <OsfLayout @backgroundClass={{local-class 'ContentBackground'}} as |layout|>
                <layout.heading local-class='Heading'>
                    <div local-class='Title'>
                        <OsfLink
                            data-analytics-name='Go to project'
                            local-class='BreadCrumb'
                            @route='guid-node'
                            @models={{array this.draftRegistration.branchedFrom.id}}
                        >
                            {{this.draftRegistration.branchedFrom.title}} >
                        </OsfLink>
                        <h1>
                            {{t 'registries.drafts.draft.form.new_registration'}}
                        </h1>
                    </div>
                </layout.heading>
                <layout.main local-class='Main'>
                    <main>
                    </main>
                </layout.main>
            </OsfLayout>
        {{/if}}
    </Registries::DraftRegistrationManager>
{{/if}}
