{{#if this.loading}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    <form>
        <FormControls
            @changeset={{this.draftManager.metadataChangeset}}
            ...attributes as |form|
        >
            <form.text
                data-test-metadata-title
                @label={{t 'registries.registration_metadata.title'}}
                @valuePath='title'
                @onKeyUp={{perform this.draftManager.onMetadataInput}}
            />
            <form.textarea
                data-test-metadata-description
                @label={{t 'registries.registration_metadata.description'}}
                @valuePath='description'
                @onKeyUp={{perform this.draftManager.onMetadataInput}}
            />
            <form.select
                data-test-metadata-category
                @label={{t 'registries.registration_metadata.category'}}
                @valuePath='category'
                @options={{this.categoryOptions}}
                @onchange={{perform this.draftManager.onMetadataInput}}
            />
            <Drafts::Draft::-Components::Managers::LicensePickerManager
                @draftManager={{this.draftManager}}
                as |licenseManager|
            >
                <label for='license-select'>{{t 'registries.registration_metadata.choose_license'}}</label>
                <RegistriesLicensePicker @manager={{licenseManager}} />
            </Drafts::Draft::-Components::Managers::LicensePickerManager>
            {{#let (unique-id 'institutions') as |institutionsFieldId|}}
                <label for={{institutionsFieldId}}>{{t 'registries.registration_metadata.affiliated_institutions'}}</label>
                <Drafts::Draft::-Components::MetadataInstitutionsManager 
                        @node={{this.draftRegistration}}
                        as |institutionsManager|
                    >
                    <InstitutionSelectList
                        @manager={{institutionsManager}}
                        id={{institutionsFieldId}}
                    />
                </Drafts::Draft::-Components::MetadataInstitutionsManager>
            {{/let}}
        </FormControls>
    </form>
{{/if}}
