{{!-- TODO: funcitonality to be addded in ENG-2188 --}}
{{!-- {{#if this.currentUserIsProviderAdmin}}
    <button {{on 'click' this.addModerator}}>
        add
    </button>
{{/if}} --}}
{{!-- TODO: Paginate --}}
<PaginatedList::HasMany
    {{!-- @isTable={{true}} --}}
    @model={{@manager.provider}}
    @relationshipName='moderators'
    @bindReload={{@manager.reloadModeratorList}}
    as |list|
>
    <list.item as |moderator|>
        <Moderators::Row
            @moderator={{moderator}}
            @manager={{@manager}}
        />
    </list.item>
</PaginatedList::HasMany>
