{{!-- TODO: funcitonality to be addded in ENG-2188 --}}
{{!-- {{#if this.currentUserIsProviderAdmin}}
    <button {{on 'click' this.addModerator}}>
        add
    </button>
{{/if}} --}}
{{!-- TODO: Paginate --}}
{{#if @manager.loadModerators.isRunning}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    {{#each @manager.moderators as |moderator|}}
        <Moderators::Row
            @moderator={{moderator}}
            @manager={{@manager}}
        />
    {{/each}}
{{/if}}
