<RegistriesWrapper>
    <ScheduledBanner />

    <HeroOverlay>
        {{#registries-header onSearch=(action 'onSearch') searchable=this.searchableRegistrations as |header|}}
            {{#header.lead}}
                <span>{{t 'registries.index.lead' htmlSafe=true}}</span>
            {{/header.lead}}
            {{#header.row}}
                <div class='text-center col-xs-12'>
                    <div class='m-t-md'>
                        <a
                            href='https://osf.io/jsznk/register/565fb3678c5e4a66b5582f67'
                            onclick={{action 'click' 'link' 'Index - See Example' 'https://osf.io/jsznk/register/565fb3678c5e4a66b5582f67' target=this.analytics}}
                        >
                            {{t 'registries.index.see_example'}}
                        </a>
                    </div>
                </div>
            {{/header.row}}
        {{/registries-header}}
    </HeroOverlay>

    {{#if this.getRecentRegistrations.isRunning}}
        {{loading-indicator dark=true}}
    {{else}}
        {{registries-recent-list this.recentRegistrations}}
    {{/if}}

    <RegistriesServicesList />
    <RegistriesAdvisoryBoard />
</RegistriesWrapper>
