<ResponsiveDropdown
    @disabled={{not this.canEdit}}
    as |dropdownMenu|
>
    <dropdownMenu.trigger
        local-class='actions-menu-trigger'
        aria-label={{t 'osf-components.files-widget.expand_files_menu'}}
    >
        <OsfButton
            local-class='trigger-button'
            aria-label={{t 'osf-components.files-widget.expand_files_menu'}}
            @type='success'
        >
            <FaIcon @icon='plus' @size=2 @fixedWidth={{true}} />
        </OsfButton>
    </dropdownMenu.trigger>
    <dropdownMenu.content>
        <div
            role='menu'
            local-class='actions-menu-content'
            {{did-insert @updateClickable}}
            {{will-destroy @updateClickable}}
            {{on 'click' dropdownMenu.close}}
        >
            <OsfButton
                aria-label={{t 'osf-components.files-widget.upload_file'}}
                local-class='menu-button'
                @type='link'
                @bubble={{true}}
                @class='{{@uploadButtonClass}}'
                @disabled={{@isUploading}}
            >
                <FaIcon @icon='upload' @fixedWidth={{true}} />
                {{t 'osf-components.files-widget.upload_file'}}
            </OsfButton>
            <OsfButton
                aria-label={{t 'osf-components.files-widget.create_folder'}}
                local-class='menu-button'
                onclick={{action this.openDialog}}
                @type='link'
            >
                <FaIcon @icon='folder' @fixedWidth={{true}} />
                {{t 'osf-components.files-widget.create_folder'}}
            </OsfButton>
        </div>
    </dropdownMenu.content>
</ResponsiveDropdown>

<Files::Menu::CreateFolder
    @isOpen={{this.newFolderDialogIsOpen}}
    @closeDialog={{action this.closeDialog}}
    @filesManager={{@filesManager}}
/>

