<ResponsiveDropdown
    @disabled={{not this.canEdit}}
    @onClose={{action this.onCloseMenu @isUploading}}
    as |dropdownMenu|
>
    <div local-class='actions-menu-trigger'>
        <OsfButton
            local-class='trigger-button {{if dropdownMenu.isOpen 'close-button'}}'
            aria-label={{t 'osf-components.files-widget.expand_files_menu'}}
            data-ebd-id='{{dropdownMenu.uniqueId}}-trigger'
            @onClick={{action dropdownMenu.toggle}}
            @type='success'
        >
            <FaIcon @icon='plus' @size='2x' @fixedWidth={{true}} />
        </OsfButton>
    </div>
    <dropdownMenu.content>
        <div
            role='menu'
            local-class='actions-menu-content'
            {{did-insert (action @setButtonClass this.uploadButtonClass)}}
            {{will-destroy (action @setButtonClass '')}}
        >
            <OsfButton
                aria-label={{t 'osf-components.files-widget.upload_file'}}
                local-class='menu-button'
                @type='link'
                @bubble={{true}}
                @class='{{this.uploadButtonClass}}'
                @disabled={{@isUploading}}
            >
                <FaIcon @icon='upload' @fixedWidth={{true}} />
                {{t 'osf-components.files-widget.upload_file'}}
            </OsfButton>
            <OsfButton
                aria-label={{t 'osf-components.files-widget.create_folder'}}
                local-class='menu-button'
                @onClick={{action this.openDialog (hash onOpenDialog=dropdownMenu.close)}}
                @type='link'
            >
                <FaIcon @icon='folder' @fixedWidth={{true}} />
                {{t 'osf-components.files-widget.create_folder'}}
            </OsfButton>
        </div>
    </dropdownMenu.content>

    {{yield (hash close=dropdownMenu.close)}}
</ResponsiveDropdown>

<Files::Menu::CreateFolder
    @isOpen={{this.newFolderDialogIsOpen}}
    @shouldDisableButtons={{this.shouldDisableButtons}}
    @changeset={{this.changeset}}
    @closeDialog={{action this.closeDialog}}
    @createFolder={{perform this.createFolder}}
/>

