{{#if item.flash.message}}
    <div class="col-md-12 flash-message-alert alert-{{item.flash.type}}" local-class="flash-message-alert">
        <div class="flash-message">{{item.flash.message}}</div>
    </div>
{{else}}
    <div class="col-lg-7 col-md-9 col-sm-9 col-xs-12" local-class="file-row-col">
        {{file-icon item=item}}
        <a local-class="filename-link" {{action 'open' preventDefault='true'}} {{action 'click' 'link' 'File Browser - open_file' target=analytics}} role="link">
            {{item.itemName}}
        </a>
    </div>
    <div class="col-sm-1 col-md-1 hidden-sm hidden-xs" local-class="file-row-col">
        {{size}}
    </div>
    <div class="col-lg-1 hidden-md hidden-sm hidden-xs" local-class="file-row-col">
        <a local-class="version-link" {{action 'openVersion'}} role="link">{{item.currentVersion}}</a>
    </div>
    <div class="col-lg-1 hidden-md hidden-sm hidden-xs" local-class="file-row-col">
        {{item.extra.downloads}}
    </div>
    <time class="col-sm-3 col-md-2 col-lg-2 hidden-xs" local-class="file-row-col">
        {{date}}
    </time>
{{/if}}
