<div data-test-file-browser-item>
    {{#if this.item.flash.message}}
        <div
            class='col-md-12 flash-message-alert alert-{{this.item.flash.type}}'
            local-class='flash-message-alert'
        >
            <div
                data-test-item-flash-message
                class='flash-message'
            >
                {{this.item.flash.message}}
            </div>
        </div>
    {{else}}
        <div
            data-test-file-icon-and-name={{this.item.itemName}}
            class='col-lg-7 col-md-9 col-sm-9 col-xs-12'
            local-class='file-row-col'
        >
            {{file-icon item=this.item}}
            <OsfLink
                data-test-file-item-link
                data-analytics-name='Filename'
                local-class='filename-link'
                @route='guid-file'
                @models={{array this.item.guid}}
            >
                {{this.item.itemName}}
            </OsfLink>
        </div>
        <div class='col-sm-1 col-md-1 hidden-sm hidden-xs' local-class='file-row-col'>
            {{this.size}}
        </div>
        <div class='col-lg-1 hidden-md hidden-sm hidden-xs' local-class='file-row-col'>
            <OsfLink
                data-test-version-link
                local-class='version-link'
                @route='guid-file'
                @models={{array this.item.guid}}
                @queryParams={{hash show='revision'}}
            >
                {{this.item.currentVersion}}
            </OsfLink>
        </div>
        <div
            data-test-download-count
            class='col-lg-1 hidden-md hidden-sm hidden-xs'
            local-class='file-row-col'
        >
            {{this.item.extra.downloads}}
        </div>
        <time
            data-test-date-modified
            class='col-sm-3 col-md-2 col-lg-2 hidden-xs'
            local-class='file-row-col'
        >
            {{this.date}}
        </time>
    {{/if}}
</div>
