<div class='btn-group pull-right' role='group' aria-label={{t 'registries.overview.aria_labels.main'}}>
    <div class='btn-group' role='group'>
        <RegistriesStates @registration={{this.registration}} />
    </div>
    {{#unless this.isWithdrawn}}
        <div class='btn-group' role='group'>
            <ResponsiveDropdown as |dd|>
                {{#dd.trigger local-class='Menu__button'}}
                    <OsfButton
                        data-analytics-name='Show forks menu'
                        @type='default'
                        @disabled={{this.forkRegistration.isRunning}}
                    >
                        {{fa-icon 'code-fork' local-class='Icon'}}
                        <span local-class='ForksCount__text'>{{@forksCount}}</span>
                    </OsfButton>
                {{/dd.trigger}}
                {{#dd.content}}
                    <div local-class='ForksMenu'>
                        <div local-class='ForksMenu__option'>
                            <OsfLink
                                data-analytics-name='Go to forks page'
                                @route='guid-registration.forks'
                                @models={{array @registration.id}}
                            >
                                {{t 'registries.overview.view_forks'}}
                            </OsfLink>
                        </div>
                        <div local-class='ForksMenu__option'>
                            <OsfButton
                                data-analytics-name='Fork registration'
                                @type='link'
                                @onClick={{action (perform this.forkRegistration (action dd.close))}}
                            >
                                {{t 'registries.overview.fork_registration'}}
                            </OsfButton>
                        </div>
                    </div>
                {{/dd.content}}
            </ResponsiveDropdown>
        </div>
        <div class='btn-group' role='group' aria-label={{t 'general.share'}}>
            {{#sharing-icons/dropdown
                title=@registration.title
                description=@registration.description
                hyperlink=@registrationURL
                showBookmark=true
                showText=true
                registration=@registration
                as |dd|}}
                {{#dd.trigger local-class='Menu__button'}}
                    <OsfButton
                        data-test-social-sharing-button
                        data-analytics-name='Show sharing options'
                        @type='default'
                    >
                        {{fa-icon 'ellipsis-v'}}
                    </OsfButton>
                {{/dd.trigger}}
            {{/sharing-icons/dropdown}}
        </div>
    {{/unless}}
</div>
