<div local-class='container'>
    {{#if @isMobile}}
        <div local-class='main-column' data-test-main-column-mobile>
            {{yield to='header'}}
            <div local-class='right-buttons'>
                {{yield to='rightButtons'}}
            </div>
            <div>
                {{#if @rightColumnClosed}}
                    {{yield to='body'}}
                {{else}}
                    {{yield to='right'}}
                {{/if}}
            </div>
        </div>
    {{else}}
        <div local-class='main-column'>
            {{yield to='header'}}
            {{yield to='body'}}
        </div>
        <div local-class='right-column {{if @rightColumnClosed 'is-closed'}}' data-test-right-column>
            {{yield to='right'}}
        </div>
        <div local-class='right-buttons'>
            {{yield to='rightButtons'}}
        </div>
    {{/if}}
</div>