<div local-class='Container'>
    {{#if @isMobile}}
        <div local-class='MainColumn'>
            {{yield to='header'}}
            <div local-class='RightButtons'>
                {{yield to='rightButtons'}}
            </div>
            <div>
                <div local-class='Slider {{if @rightColumnClosed 'slide-in' 'slide-out'}}'>
                    {{yield to='body'}}
                </div>
                <div local-class='Slider {{if @rightColumnClosed 'slide-out' 'slide-in'}}'>
                    {{yield to='right'}}
                </div>
            </div>
        </div>
    {{else}}
        <div local-class='MainColumn'>
            {{yield to='header'}}
            {{yield to='body'}}
        </div>
        <div local-class='RightColumn {{if @rightColumnClosed 'is-closed'}}'>
            {{yield to='right'}}
        </div>
        <div local-class='RightButtons'>
            {{yield to='rightButtons'}}
        </div>
    {{/if}}
</div>