{{title (t 'registries.moderation.overview.title') prepend=false}}
{{#if this.loadRegistration.isRunning}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    <OsfLayout @backgroundClass={{local-class 'contentBackground'}} as |layout|>
        {{#if this.showMobileView}}
            <layout.heading>
                {{!-- add the moderator status bar here --}}
                <Navbar as |nav|>
                    <nav.bordered-section>
                        <nav.buttons.default
                            data-analytics-name='Show metadata'
                            @onclick={{layout.toggleMetadata}}
                            local-class={{if @metadataGutterClosed 'NonActive'}}
                        >
                            <h4>{{t 'registries.overview.metadata'}}</h4>
                        </nav.buttons.default>
                    </nav.bordered-section>
                </Navbar>
            </layout.heading>
        {{/if}}
        <layout.main local-class='ModerationOverviewGutters'>
            <Registries::OverviewFormRenderer @registration={{this.registration}} />
        </layout.main>
        <layout.right local-class='ModerationOverviewGutters'>
            <RegistriesMetadata
                @registration={{this.registration}}
                @extendedFields={{false}}
            />
        </layout.right>
    </OsfLayout>
{{/if}}
