{{#unless this.model.providerTask.isRunning}}
    <StorageProviderManager::ProviderMapper
        as |mapper|
    >
        {{#let (get mapper this.model.providerName) as |ProviderManager|}}
            {{#if ProviderManager}}
                <ProviderManager
                    @provider={{this.model.providerTask.value}}
                    as |manager|
                >
                    <FileBrowser @manager={{manager}} @enableUpload={{false}} />
                </ProviderManager>
            {{else}}
                <span data-test-file-provider-invalid-provider>
                    {{t 'osf-components.file-browser.storage_providers.invalidProviderDetails'}}
                    <OsfLink
                        data-test-file-provider-invalid-provider-link
                        @route='registries.overview.files'
                    >
                        {{t 'osf-components.file-browser.storage_providers.invalidProviderLink'}}
                    </OsfLink>
                </span>
            {{/if}}
        {{/let}}
    </StorageProviderManager::ProviderMapper>
{{/unless}}
