<div local-class='RecentList'>
    <div
        data-analytics-scope='Registries index'
        class='container'
    >
        <div class='row'>
            <div class='col-xs-12'>
                <h2>
                    {{t 'registries.index.recent.title'}}
                    <span local-class='SeeMore'>
                        <LinkTo @route='discover'>
                            {{t 'registries.index.recent.more'}}
                        </LinkTo>
                    </span>
                </h2>
            </div>
        </div>

        {{#each @recentRegistrations as |reg|}}
            <div class='row'>
                <div class='col-xs-12'>
                    <h4>
                        <OsfLink
                            data-test-recent-registration-id={{reg.id}}
                            data-analytics-name='Browse recent registrations'
                            data-analytics-extra={{reg.id}}
                            @route='registries.overview'
                            @models={{array reg.id}}
                        >
                            {{reg.title}}
                        </OsfLink>
                    </h4>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    <ul
                        data-test-recent-registration-contrib-list={{reg.id}}
                        local-class='RecentList__Contributors'
                    >
                        {{#each reg.bibliographicContributors as |contrib|}}
                            <li data-test-recent-registration-contrib={{contrib.bibliographic}}>
                                {{contrib.users.fullName}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <hr>
        {{/each}}
    </div>
</div>
