<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <h2>
                {{t 'registries.index.recent.title'}}
                <span local-class='SeeMore'>
                    {{link-to (t 'registries.index.recent.more') 'discover'}}
                </span>
            </h2>
        </div>
    </div>

    {{#each this.registrations as |reg|}}
        <div class='row'>
            <div class='col-xs-12'>
                <h4>
                    <a
                        href={{reg.url}}
                        data-test-recent-registration-id={{reg.id}}
                        onclick={{action 'click' 'link' (concat 'Index - Browse Recent: ' reg.title) reg.url target=this.analytics}}
                    >
                        {{reg.title}}
                    </a>
                </h4>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'>
                <ul local-class='RecentList__Contributors'>
                    {{#each reg.contributors as |contrib|}}
                        <li>{{contrib.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <hr>
    {{/each}}
</div>
