<p data-test-resource-card-type local-class='resourceType'>
    <img
        src={{this.resourceIcon}}
        alt={{t 'osf-components.resources-list.badge_alt' type=this.resourceTypeName}}
        data-test-resource-card-icon
        local-class='icon'
    />
    {{this.resourceTypeName}}
    {{#if @editable}}
        <div local-class='EditButtons'>
            <ResourcesList::EditResource
                @resource={{@resource}}
                @reload={{@reload}}
                as |modal|
            >
                <Button
                    aria-label={{t 'osf-components.resources-list.edit_resource.edit_button_aria_label'}}
                    @layout='fake-link'
                    {{on 'click' modal.open}}
                >
                    <FaIcon @icon='pencil-alt' @fixedWidth={{true}} />
                </Button>
            </ResourcesList::EditResource>
            <ResourcesList::DeleteResource
                @resource={{@resource}}
                @onDelete={{@reload}}
                as |modal|
            >
                <Button
                    local-class='DeleteButton'
                    aria-label={{t 'osf-components.resources-list.delete_resource.title'}}
                    @layout='fake-link'
                    {{on 'click' modal.open}}
                >
                    <FaIcon @icon='trash-alt' @fixedWidth={{true}} />
                </Button>
            </ResourcesList::DeleteResource>
        </div>
    {{/if}}
</p>
{{#if @resource.pid}}
    <p>
        <OsfLink
            data-test-resource-card-pid-link
            @href={{concat 'https://doi.org/' @resource.pid}}
        >
            {{concat 'https://doi.org/' @resource.pid}}
        </OsfLink>
    </p>
{{/if}}
<ExpandablePreview data-test-resource-card-description>
    {{@resource.description}}
</ExpandablePreview>
