<li local-class='resourceItem'>
    <p data-test-resource-card-type local-class='resourceType'>
        <img
            src={{this.resourceIcon}}
            alt={{t 'osf-components.resources-list.badge_alt' type=this.resourceTypeName}}
            data-test-resource-card-icon
            local-class='icon'
        />
        {{this.resourceTypeName}}
    </p>
    {{#unless @resource.apiMeta.anonymous}}
        <p>
            <OsfLink
                data-test-resource-card-pid-link
                @href={{concat 'https://doi.org/' @resource.pid}}
            >
                {{concat 'https://doi.org/' @resource.pid}}
            </OsfLink>
            {{#if @editable}}
                <ResourcesList::EditResource
                    @resource={{@resource}}
                    as |modal|
                >
                    <Button
                        local-class='EditButton'
                        aria-label={{t 'osf-components.resources-list.edit_resource.edit_button_aria_label'}}
                        @layout='fake-link'
                        {{on 'click' modal.open}}
                    >
                        <FaIcon @icon='pencil-alt' @fixedWidth={{true}} />
                    </Button>
                </ResourcesList::EditResource>
            {{/if}}
        </p>
    {{/unless}}
    <ExpandablePreview data-test-resource-card-description>
        {{@resource.description}}
    </ExpandablePreview>
</li>
