<div local-class="TitleBackground">
    <Container>
        <h1 local-class="Title">{{t 'ipsum.title'}}</h1>
    </Container>
</div>

{{#if this.showMobileNav}}
    <Navbar as |nav|>
        <nav.bordered-section>

            <nav.buttons.default @onclick={{action 'toggleSidenav'}}>
                {{nav.icon (if this.sidenavGutterClosed 'bars' 'times')}}
            </nav.buttons.default>

            <nav.buttons.default>
                <h4>{{t 'registries.overview.overview'}}</h4>
            </nav.buttons.default>

        </nav.bordered-section>

        <nav.bordered-section>

            <nav.buttons.default>
                {{nav.icon 'eye'}}
                {{nav.icon 'caret-down'}}
            </nav.buttons.default>

            <nav.buttons.default @onclick={{action 'toggleMetadata'}}>
                {{nav.icon 'info-circle'}}
            </nav.buttons.default>

            <nav.buttons.default>
                {{nav.icon 'ellipsis-v'}}
            </nav.buttons.default>

        </nav.bordered-section>
    </Navbar>
{{/if}}

<div local-class="ContentBackground">
    <Gutters
         @leftMode={{this.sidenavGutterMode}}
         @leftClosed={{this.sidenavGutterClosed}}
         @rightMode={{this.metadataGutterMode}}
         @rightClosed={{this.metadataGutterClosed}}
         as |gutters|
     >
        <Container local-class="Container">
            <gutters.left-gutter>
                <div local-class="SideNav">
                    <p>{{t 'ipsum.paragraph'}}</p>
                    <p>{{t 'ipsum.paragraph'}}</p>
                    <p>{{t 'ipsum.paragraph'}}</p>
                </div>
            </gutters.left-gutter>

            <gutters.body local-class="Body">
                <CommentsList
                    @node={{this.registration}}
                    @modelTaskInstance={{this.model.taskInstance}}
                    @relationshipName='comments'
                    @analyticsScope='Registration Comments'
                />
            </gutters.body>

            <gutters.right-gutter as |ctx|>
                <RegistriesMetadata @gutterMode={{ctx.mode}} />
            </gutters.right-gutter>
        </Container>
    </Gutters>
</div>
