<RegistriesWrapper
    @provider={{if this.model.task.isIdle (get-model this.registration.provider)}}
    {{with-branding (if this.model.task.isIdle (get-model this.registration.provider.brand))}}
>
    {{#if this.model.task.isRunning}}
        <div local-class='ContentBackground Loading'>
            <LoadingIndicator @dark={{true}} />
        </div>
    {{else}}
        {{assert 'Registries::Overview - registration should not be null or undefined' this.registration}}
        {{page-title this.registration.provider.name replace=true}}
        {{page-title this.registration.title prepend=false}}
        {{#if this.showTombstone}}
            <OsfLayout @backgroundClass='{{local-class 'ContentBackground'}}' as |layout|>
                <layout.heading>
                    <Overview::-Components::OverviewHeader @mode={{this.mode}} @registration={{this.registration}} />
                </layout.heading>
                <layout.main>
                    {{#if (eq this.registration.reviewsState 'withdrawn')}}
                        <Overview::-Components::TombstonePage @registration={{this.registration}} @icon='ban'
                            @titleText={{t 'registries.overview.withdrawn.has_been_withdrawn'}}>
                            <dl>
                                <dt>{{t 'registries.overview.withdrawn.date_withdrawn'}}</dt>
                                <dd>{{moment-format this.registration.dateWithdrawn 'MMMM D, YYYY'}}</dd>

                                <dt>{{t 'registries.overview.withdrawn.justification'}}</dt>
                                <dd>
                                    {{#if this.registration.withdrawalJustification}}
                                        {{this.registration.withdrawalJustification}}
                                    {{else}}
                                        {{t 'registries.overview.withdrawn.no_justification'}}
                                    {{/if}}
                                </dd>
                            </dl>
                        </Overview::-Components::TombstonePage>
                    {{else}}
                        <Overview::-Components::TombstonePage @registration={{this.registration}} @icon='hourglass-half'
                            @titleText={{t 'registries.overview.archiving.currently_archiving'}}>
                            <div local-class='NoticeText'>
                                {{t 'registries.overview.archiving.please_note'}}
                            </div>
                            {{t 'registries.overview.archiving.email_support' supportEmail=this.supportEmail htmlSafe=true}}
                        </Overview::-Components::TombstonePage>
                    {{/if}}
                </layout.main>
            </OsfLayout>
        {{else}}
            <OsfLayout @backgroundClass='{{local-class 'ContentBackground'}}' as |layout|>
                <layout.heading>
                    <Overview::-Components::OverviewHeader
                        @mode={{this.mode}}
                        @registration={{this.registration}}
                        @sidenavGutterClosed={{layout.sidenavGutterClosed}}
                        @toggleSidenav={{layout.toggleSidenav}}
                        @showMetadata={{this.showMetadata}}
                        @metadataGutterClosed={{layout.metadataGutterClosed}}
                        @toggleMetadata={{layout.toggleMetadata}}
                        @selectedRevisionId={{this.revisionId}}
                    />
                </layout.heading>

                <layout.leftNavOld as |leftNav|>
                    <leftNav.link data-analytics-name='Overview' @route='registries.overview.index'
                        @models={{array this.registration.id}} @icon='home' @label={{t 'registries.overview.title'}} />
                    <leftNav.link data-analytics-name='Files' @route='registries.overview.files'
                        @models={{array this.registration.id}} @icon='file-alt'
                        @label={{t 'registries.overview.files.title'}} />
                    {{#if this.onFilesRoute}}
                        <div local-class='FileProvidersList'>
                            {{#each this.registration.files as |provider|}}
                                <div local-class='FileProvider'>
                                    {{provider.name}}
                                    {{#if (eq provider.name 'osfstorage')}}
                                        <span>
                                            <FaIcon
                                                @icon='globe'
                                            >
                                            </FaIcon>
                                            <BsTooltip
                                                @placement='right'
                                                @triggerEvents='hover'
                                            >
                                                {{t 'registries.overview.files.storage_location'}}
                                                {{this.registration.region.name}}
                                            </BsTooltip>
                                        </span>
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if this.registration.wikiEnabled}}
                        <leftNav.link
                            data-test-wiki-link
                            data-analytics-name='Wiki'
                            @href='/{{this.registration.id}}/wiki/'
                            @icon='window-maximize'
                            @label={{t 'registries.overview.external_links.wiki'}}
                        />
                    {{/if}}
                    <leftNav.link data-analytics-name='Components' @route='registries.overview.children'
                        @models={{array this.registration.id}} @icon='puzzle-piece'
                        @label={{t 'registries.overview.components.title'}}
                        @count={{this.registration.relatedCounts.children}} />
                    <leftNav.link data-analytics-name='Links' @route='registries.overview.links'
                        @models={{array this.registration.id}} @icon='link'
                        @label={{t 'registries.overview.links.title'}} @count={{this.linksCount}} />
                    <leftNav.link data-analytics-name='Analytics' @route='registries.overview.analytics'
                        @models={{array this.registration.id}} @icon='chart-bar'
                        @label={{t 'registries.overview.external_links.analytics'}} />
                    <leftNav.link data-analytics-name='Comments' @route='registries.overview.comments'
                        @models={{array this.registration.id}} @icon='comments'
                        @label={{t 'registries.overview.comments.title'}} @count={{this.commentsCount}} />
                </layout.leftNavOld>

                <layout.main local-class='OverviewBody'>
                    {{outlet}}
                </layout.main>

                {{#if this.showMetadata}}
                    <layout.right local-class='SideMetadata' as |right|>
                        {{#if (not-eq right.rightGutterMode 'column')}}
                            <h3 local-class='MetadataTitle'>
                                {{t 'registries.overview.metadata'}}
                                <BsButton data-analytics-name='Close metadata sidebar' aria-label={{t 'general.close'}}
                                    @type='link' @onClick={{right.toggleMetadata}}>
                                    <FaIcon @icon='times' />
                                </BsButton>
                            </h3>
                        {{/if}}
                        <RegistriesMetadata @registration={{this.registration}} @extendedFields={{true}} />
                    </layout.right>
                {{/if}}
            </OsfLayout>
        {{/if}}
    {{/if}}
</RegistriesWrapper>