<p
    data-test-files-instructions
    local-class='FilesInstructions'
>
    {{t 'osf-components.registries.schema-block-renderer/editable/files.instructions'
        projectOrComponent=(if @node.isRoot 'project' 'component')
        nodeUrl=this.nodeUrl
        htmlSafe=true
    }}
</p>
<Files::SelectedList
    local-class='SelectedList'
    @selectedFiles={{this.selectedFiles}}
    @unselect={{action this.unselect}}
    @node={{@node}}
/>
<ValidationErrors
    local-class='ValidationErrors'
    @changeset={{@changeset}}
    @key={{@schemaBlock.registrationResponseKey}}
/>
<Files::Widget
    data-test-editable-file-widget
    local-class='FilesWidget'
    @node={{@node}}
    @onSelectFile={{action this.onSelectFile}}
    @onAddFile={{action this.onAddFile}}
    ...attributes
/>