<p
    data-test-files-instructions
    local-class='FilesInstructions'
>
    {{#if @draftRegistration.hasProject}}
        {{#if this.node}}
            {{t 'osf-components.registries.schema-block-renderer/editable/files.instructions'
                projectOrComponent=(if this.node.isRoot 'project' 'component')
                nodeUrl=this.nodeUrl
                htmlSafe=true
            }}
        {{else}}
            You don't have permission to edit files on the project
        {{/if}}
    {{else}}
        {{t 'osf-components.registries.schema-block-renderer/editable/files.instructionsNoProject'
            htmlSafe=true
        }}
    {{/if}}
</p>
<Files::SelectedList
    local-class='SelectedList'
    @selectedFiles={{this.selectedFiles}}
    @unselect={{action this.unselect}}
    @node={{this.node}}
/>
<ValidationErrors
    local-class='ValidationErrors'
    @changeset={{@changeset}}
    @key={{@schemaBlock.registrationResponseKey}}
/>
<Files::Widget
    data-test-editable-file-widget
    local-class='FilesWidget'
    @node={{this.node}}
    @onSelectFile={{action this.onSelectFile}}
    @onAddFile={{action this.onAddFile}}
    @onDeleteFile={{this.onDeleteFile}}
    @canEdit={{not this.currentUserIsReadOnly}}
    disabled={{not this.node}}
    ...attributes
/>
