<OsfDialog
    as |dialog|
>
    <dialog.trigger
        ...attributes
    >
        {{yield dialog}}
    </dialog.trigger>
    <dialog.heading>
        {{t 'osf-components.resources-list.delete_resource.title'}}
    </dialog.heading>
    <dialog.main>
        <p>{{t 'osf-components.resources-list.delete_resource.body'}}</p>
        <ResourcesList::ResourceCard
            @resource={{@resource}} 
            @editable={{false}}
        />
    </dialog.main>
    <dialog.footer>
        <Button
            {{on 'click'
                dialog.close
            }}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            @type='destroy'
            {{on 'click' (queue
                (perform this.deleteResource)
                dialog.close
            )}}
        >
            {{t 'general.delete'}}
        </Button>
    </dialog.footer>
</OsfDialog>