<OsfDialog
    as |dialog|
>
    <dialog.trigger
        ...attributes
    >
        {{yield dialog}}
    </dialog.trigger>
    <dialog.heading
        data-test-modal-heading
    >
        {{t 'osf-components.resources-list.delete_resource.title'}}
    </dialog.heading>
    <dialog.main>
        <p data-test-modal-body>{{t 'osf-components.resources-list.delete_resource.body'}}</p>
        <ResourcesList::ResourceCard
            @resource={{@resource}} 
            @editable={{false}}
        />
    </dialog.main>
    <dialog.footer>
        <Button
            data-test-cancel
            data-analytics-name='Cancel delete resource'
            {{on 'click'
                dialog.close
            }}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-test-confirm-delete
            data-analytics-name='Confirm delete resource'
            @type='destroy'
            {{on 'click' (queue
                (perform this.deleteResource)
                dialog.close
            )}}
        >
            {{t 'general.delete'}}
        </Button>
    </dialog.footer>
</OsfDialog>