<div
    local-class='chart-container {{if (is-mobile) 'mobile'}}'
    ...attributes 
>
    <div local-class='top-container'>
        <div
            data-test-chart
            local-class='ember-chart'
        >
            <EmberChart
                @type='doughnut'
                @data={{this.chartData}}
                @options={{this.chartOptions}}
            />
        </div>
    </div>
    <div local-class='bottom-container'>
        <div local-class='title-container'>
            <div data-test-kpi-title local-class='title'>{{@data.title}}</div>
            <div local-class='button-container'>
                <Button
                    data-analytics-name='Toggle boolean filters'
                    data-test-filter-boolean-filters
                    @layout='fake-link'
                    local-class='facet-expand-button'
                    aria-expanded={{not this.collapsed}}
                    {{on 'click' this.toggleFacet}}
                >
                    <FaIcon @icon={{if this.collapsed 'caret-down' 'caret-up'}} />
                </Button>
            </div>
        </div>
        <div local-class='data-container'>
            <ul
                local-class='facet-list {{if this.collapsed 'collapsed'}}'
            >
                <li
                    local-class='facet-value'
                >
                    <span local-class='facet-color'>
                        {{@data.icon}}
                    </span>
                    <span local-class='facet-link'>
                        {{@data.title}}
                    </span>
                    <span local-class='facet-count'>
                        {{@data.total}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>