{{page-title (t 'addons.heading')}}

<div local-class='addon-page-wrapper'>
    <AddonsService::Manager
        @node={{this.model}}
        as |manager|
    >
        {{#if manager.selectedProvider}}
            <Button
                data-test-addon-back-button
                data-analytics-name='Back'
                local-class='float-right'
                @layout='fake-link'
                {{on 'click' manager.cancelSetup}}
            >
                {{t 'general.back'}}
            </Button>
        {{/if}}
        <h3 local-class='page-heading'>{{manager.headingText}}</h3>
        {{#if manager.selectedProvider}}
            {{#let manager.selectedProvider as |provider|}}
                <div
                    data-test-addon={{provider.provider.name}}
                    data-analytics-scope='Addon - {{provider.provider.name}}'
                >
                    {{#if (eq manager.pageMode 'terms')}}
                        <AddonsService::TermsOfService
                            @provider={{provider.provider}}
                        />
                        <div local-class='float-right'>
                            <Button
                                data-test-addon-cancel-button
                                data-analytics-name='Cancel'
                                {{on 'click' manager.cancelSetup}}
                            >
                                {{t 'general.cancel'}}
                            </Button>
                            <Button
                                data-test-addon-accept-terms-button
                                data-analytics-name='Accept Terms'
                                @type='primary'
                                {{on 'click' manager.acceptTerms}}
                                disabled={{provider.getAuthorizedAccounts.isRunning}}
                            >
                                {{#if provider.getAuthorizedAccounts.isRunning}}
                                    {{t 'addons.terms.accepting'}}
                                {{else}}
                                    {{t 'general.confirm'}}
                                {{/if}}
                            </Button>
                        </div>
                    {{else if (eq manager.pageMode 'newOrExistingAccount')}}
                        <Button
                            data-test-addon-existing-account-button
                            data-analytics-name='Choose existing account'
                            {{on 'click' manager.chooseExistingAccount}}
                        >
                            {{t 'addons.accountSelect.existing-account'}}
                        </Button>
                        <Button
                            data-test-addon-new-account-button
                            data-analytics-name='Create new account'
                            {{on 'click' manager.createNewAccount}}
                        >
                            {{t 'addons.accountSelect.new-account'}}
                        </Button>
                    {{else if (eq manager.pageMode 'accountSelect')}}
                        <fieldset>
                            {{#each provider.authorizedAccounts as |account| }}
                                <div local-class='account-select'>
                                    <label>
                                        <Input
                                            name='account-select'
                                            @value={{account.id}}
                                            @type='radio'
                                            @checked={{eq manager.selectedAccount.id account.id}}
                                            {{on 'change' (fn manager.selectAccount account)}}
                                        />
                                        {{#if account.displayName}}
                                            {{account.displayName}}
                                        {{else if (not account.credentialsAvailable)}}
                                            {{t 'addons.accountSelect.unauthenticated-account'}}
                                        {{/if}}
                                    </label>
                                </div>
                            {{else}}
                                {{t 'addons.accountSelect.no-accounts'}}
                            {{/each}}
                        </fieldset>
                        <div local-class='float-right'>
                            <Button
                                data-test-addon-cancel-button
                                data-analytics-name='Cancel'
                                {{on 'click' manager.cancelSetup}}
                            >
                                {{t 'general.cancel'}}
                            </Button>
                            {{#if manager.selectedAccount}}
                                <Button
                                    data-test-addon-authorize-button
                                    data-analytics-name='Authorize'
                                    disabled={{not manager.selectedAccount.id}}
                                    @type='primary'
                                    {{on 'click' manager.authorizeSelectedAccount}}
                                >
                                    {{t 'general.authorize'}}
                                </Button>
                            {{else if (and manager.selectedAccount (not manager.selectedAccount.credentialsAvailable))}}
                                <Button
                                    data-test-addon-authenticate-button
                                    data-analytics-name='Authenticate'
                                    disabled={{not manager.selectedAccount.id}}
                                    @type='primary'
                                    {{on 'click' manager.createNewAccount}}
                                >
                                    {{t 'general.authenticate'}}
                                </Button>
                            {{/if}}
                        </div>
                    {{else if (eq manager.pageMode 'accountCreate')}}
                        <AddonsService::AddonAccountSetup
                            @provider={{provider.provider}}
                            @manager={{manager}}
                            @onConnect={{manager.connectAccount}}
                            @onInput={{manager.onCredentialsInput}}
                        />
                    {{else if (eq manager.pageMode 'confirm')}}
                        {{t 'addons.confirm.verify'}}
                        {{manager.selectedAccount.displayName}}
                        <div local-class='float-right'>
                            <Button
                                data-test-addon-cancel-button
                                data-analytics-name='Cancel'
                                {{on 'click' manager.cancelSetup}}
                            >
                                {{t 'general.cancel'}}
                            </Button>
                            <Button
                                data-test-addon-confirm-setup-button
                                data-analytics-name='Confirm Setup'
                                disabled={{manager.confirmAccountSetup.isRunning}}
                                @type='primary'
                                {{on 'click' (perform manager.confirmAccountSetup manager.selectedAccount)}}
                            >
                                {{if manager.confirmAccountSetup.isRunning (t 'addons.confirm.authorizing') (t 'general.confirm')}}
                            </Button>
                        </div>
                    {{else if (eq manager.pageMode 'configure')}}
                        <div local-class='float-right'>
                            <Button
                                data-test-addon-cancel-button
                                data-analytics-name='Cancel'
                                {{on 'click' manager.cancelSetup}}
                            >
                                {{t 'general.cancel'}}
                            </Button>
                            <Button
                                data-test-addon-save-button
                                data-analytics-name='Save'
                                @type='primary'
                                {{on 'click' (fn manager.save provider)}}
                            >
                                {{t 'general.save'}}
                            </Button>
                        </div>
                    {{/if}}
                </div>
            {{/let}}
        {{else}}
            <AriaTabs
                @defaultIndex={{0}}
                local-class='tabs'
                as |tab|
            >
                <tab.tabList
                    local-class='tab-list'
                    as |tablist|
                >
                    <tablist.tab>{{t 'addons.list.all-addons'}}</tablist.tab>
                    <tablist.tab>{{t 'addons.list.connected-accounts'}}</tablist.tab>
                </tab.tabList>
                <tab.tabPanel
                    data-test-all-addons-tab
                    data-analytics-scope='All addons tab'
                >
                    {{t 'addons.list.sync-details-1'}}
                    {{t 'addons.list.sync-details-2'}}
                    <div local-class='addons-list-wrapper {{if this.isMobile 'mobile'}}'>
                        <div
                            data-analytics-scope='Addon List Filter'
                            local-class='filter-wrapper {{if this.isMobile 'mobile'}}'
                        >
                            <Input
                                data-test-addon-list-filter-input
                                placeholder='{{t 'addons.list.filter-placeholder'}}'
                                @type='text'
                                @value={{manager.filterText}}
                            />
                            {{#each manager.possibleFilterTypes as |type|}}
                                <Button
                                    data-test-addon-list-filter={{type}}
                                    data-analytics-name={{t (concat 'addons.list.filter.' type)}}
                                    local-class='filter-button {{if (eq manager.activeFilterType type) 'active'}}'
                                    @layout='fake-link'
                                    {{on 'click' (fn manager.filterByAddonType type)}}
                                >
                                    {{t (concat 'addons.list.filter.' type)}}
                                </Button>
                            {{/each}}
                        </div>
                        <div local-class='addon-cards-wrapper'>
                            {{#if manager.currentListIsLoading}}
                                <LoadingIndicator @dark={{true}} />
                            {{else}}
                                {{#each manager.filteredAddonProviders as |addon|}}
                                    <AddonCard @addon={{addon}} @manager={{manager}} />
                                {{else}}
                                    {{t 'addons.list.no-results'}}
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </tab.tabPanel>
                <tab.tabPanel
                    data-test-configured-addons-tab
                    data-analytics-scope='Connected accounts tab'
                >
                    <div local-class='addons-list-wrapper {{if this.isMobile 'mobile'}}'>
                        <div
                            data-analytics-scope='Addon List Filter'
                            local-class='filter-wrapper {{if this.isMobile 'mobile'}}'
                        >
                            <Input
                                data-test-addon-list-filter-input
                                placeholder='{{t 'addons.list.filter-placeholder'}}'
                                @type='text'
                                @value={{manager.filterText}}
                            />
                            {{#each manager.possibleFilterTypes as |type|}}
                                <Button
                                    data-test-addon-list-filter={{type}}
                                    data-analytics-name={{t (concat 'addons.list.filter.' type)}}
                                    local-class='filter-button {{if (eq manager.activeFilterType type) 'active'}}'
                                    @layout='fake-link'
                                    {{on 'click' (fn manager.filterByAddonType type)}}
                                >
                                    {{t (concat 'addons.list.filter.' type)}}
                                </Button>
                            {{/each}}
                        </div>
                        <div local-class='addon-cards-wrapper'>
                            {{#if manager.currentListIsLoading}}
                                <LoadingIndicator @dark={{true}} />
                            {{else}}
                                {{#each manager.filteredConfiguredProviders as |addon|}}
                                    <AddonCard @addon={{addon}} @manager={{manager}} />
                                {{else}}
                                    {{t 'addons.list.no-results'}}
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </tab.tabPanel>
            </AriaTabs>
        {{/if}}
    </AddonsService::Manager>
</div>