{{page-title (t 'addons.heading')}}
<AddonsService::Manager
    @node={{this.model}}
    as |manager|
>
    <h3>{{manager.headingText}}</h3>
    {{#if manager.selectedProvider}}
        {{#let manager.selectedProvider as |provider|}}
            <div local-class='back-button'>
                <Button
                    @layout='fake-link'
                    {{on 'click' manager.cancelSetup}}
                >
                    {{t 'general.back'}}
                </Button>
            </div>
            <Button
                {{on 'click' manager.cancelSetup}}
            >
                {{t 'general.cancel'}}
            </Button>
            {{#if (eq manager.pageMode (get manager.pageModes 'TERMS'))}}
                <Button
                    {{on 'click' manager.acceptTerms}}
                >
                    {{t 'general.confirm'}}
                </Button>
            {{else if (eq manager.pageMode (get manager.pageModes 'ACCOUNT_SELECT'))}}
                <Button
                    {{on 'click' manager.authorizeSelectedAccount}}
                >
                    {{t 'general.authorize'}}
                </Button>
            {{else if (eq manager.pageMode (get manager.pageModes 'CONFIRM'))}}
                <Button
                    {{on 'click' manager.confirmAccountSetup}}
                >
                    {{t 'general.confirm'}}
                </Button>
            {{else if (eq manager.pageMode (get manager.pageModes 'CONFIGURE'))}}
                <Button
                    {{on 'click' (fn manager.save provider)}}
                >
                    {{t 'general.save'}}
                </Button>
            {{/if}}
        {{/let}}
    {{else}}
        <div local-class='addon-cards-wrapper'>
            {{#each manager.addonProviders as |addon|}}
                <AddonCard @addon={{addon}} @manager={{manager}} />
            {{/each}}
        </div>
    {{/if}}
</AddonsService::Manager>
