{{page-title (t 'registries.moderation.settings.title') prepend=false}}

<h2>
    {{t 'registries.moderation.settings.heading'}}
</h2>
<p>
    {{t 'registries.moderation.settings.paragraph' link=this.userSettingsLink htmlSafe=true}}
</p>

<Subscriptions::Manager
    @subscriptionIds={{this.subscriptionIds}}
    as |manager|
>
    <Subscriptions::List
        @manager={{manager}}
    />
</Subscriptions::Manager>

<h2>
    {{t 'registries.moderation.settings.bulkUpload'}}
</h2>
<p>
    {{t 'registries.moderation.settings.bulkUploadHelpText'}}
</p>
<Branded::Moderation::-Components::UploadCsv />