{{#if useLinkTo}}
    {{#link-to routeName node.id class=extraClasses}}
        {{#if (has-block)}}
            {{yield}}
        {{else}}
            {{t translatingKey}}
        {{/if}}
    {{/link-to}}
{{else}}
    <a href="/{{node.id}}/{{destination}}" class={{extraClasses}}>
        {{#if (has-block)}}
            {{yield}}
        {{else}}
            {{t translatingKey}}
        {{/if}}
    </a>
{{/if}}
