{{#if this.useLinkTo}}
    {{#global-link-to
        this.routeName
        @node.id
        data-test-node-navbar-link=(or @destination @node.id)
        class=this.extraClasses
    }}
        {{#if (has-block)}}
            {{yield}}
        {{else}}
            {{t this.translatingKey}}
        {{/if}}
    {{/global-link-to}}
{{else}}
    <a
        data-test-node-navbar-link={{or @destination @node.id}}
        href='/{{@node.id}}/{{@destination}}'
        class={{this.extraClasses}}
    >
        {{#if (has-block)}}
            {{yield}}
        {{else}}
            {{t this.translatingKey}}
        {{/if}}
    </a>
{{/if}}
