{{#if this.onlyOSF}}
    {{#registries-search-facet-container title=this.title}}
        <div local-class='RegistrationType'}}>
            <i local-class='RegistrationType__Warning'>
                {{t 'registries.facets.registration_type.only_available_with_osf'}}
            </i>

            <ul class='m-t-sm' local-class='RegistrationType__List'>
                {{#each this.types as |type index|}}
                    <li local-class='RegistrationType__Item'>
                        <label>
                            <Input
                                data-test-registration-type-filter-id={{index}}
                                data-analytics-name='Registration Type Facet Checkbox'
                                data-analytics-extra={{concat 'Type: ' type.name}}
                                @type='checkbox'
                                @checked={{type.checked}}
                                @change={{action 'typeChecked' type.filter type.checked}}
                            />
                            {{type.name}}
                        </label>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/registries-search-facet-container}}
{{/if}}
