{{#if this.onlyOSF}}
    {{#registries-search-facet-container title=this.title}}
        <div local-class='RegistrationType'>
            <i local-class='RegistrationType__Warning'>
                {{t 'registries.facets.registration_type.only_available_with_osf'}}
            </i>

            <ul local-class='RegistrationType__List m-t-sm'>
                {{#each this.types as |type index|}}
                    <li local-class='RegistrationType__Item'>
                        <label>
                            <Input
                                data-test-registration-type-filter-id={{index}}
                                @type='checkbox'
                                @checked={{type.checked}}
                                {{on 'change' (fn this.typeChecked type.filter type.checked)}}
                            />
                            {{type.name}}
                        </label>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/registries-search-facet-container}}
{{/if}}
