<a
    href={{this._href}}
    target={{this.target}}
    rel={{this.rel}}
    class='{{this.class}} {{if this.isActive 'active'}}'
    onclick={{action this._onClick}}
    ...attributes
>
    {{~yield (hash
        active=this.isActive
    )~}}
</a>
