<div data-analytics-scope='App card'>
    <div data-test-developer-app-card={{@developerApp.id}} local-class='DeveloperAppCard'>
        {{#if @developerApp}}
            <OsfLink
                data-test-developer-app-link={{@developerApp.id}}
                data-analytics-name='App name'
                @route='settings.developer-apps.edit'
                @models={{array @developerApp.id}}
            >
                {{@developerApp.name}}
            </OsfLink>
        {{else}}
            <ContentPlaceholders
                local-class='DeveloperAppCard__placeholder'
                as |placeholder|
            >
                {{placeholder.heading subtitle=false}}
            </ContentPlaceholders>
        {{/if}}

        <DeleteButton
            @small={{true}}
            @delete={{action this.delete}}
            @disabled={{not @developerApp}}
            @modalTitle={{t 'settings.developer-apps.confirmDelete.title' appName=@developerApp.name}}
            @modalBody={{t 'settings.developer-apps.confirmDelete.body'}}
        />
    </div>
</div>