<div class='preprints-page'>
    <div local-class='header'>
        <div class='container'>
            <div class='row'>
                <div class='text-center m-t-lg col-xs-12'>
                    {{#if this.theme.isProvider}}
                        {{!--
                        <div
                            local-class='provider-brand'
                            style='background-image: url('/collections/assets/img/osf-bg.jpg')'>
                        </div>
                        --}}
                    {{else}}
                        <h1>
                            <OsfLogo />
                            {{t 'general.OSF'}}
                            {{t 'collections.index.title'}}
                        </h1>
                        {{!--
                        <div
                            local-class='osf-bg'
                            style='background-image: url('/engines-dist/collections/assets/img/osf-bg.jpg')'>
                        </div>
                        --}}
                    {{/if}}
                    <p class='lead'>
                        {{#if this.theme.isProvider}}
                            {{sanitize-html this.theme.provider.description 'description'}}
                            <br>
                            <small>
                                <a href='{{this.host}}collections' onbeforeclick={{action 'click' 'link' 'Index - Powered By'}}>
                                    {{t 'index.header.powered_by'}}
                                </a>
                            </small>
                        {{/if}}
                    </p>
                </div>
                <div
                    local-class='preprint-search'
                    class='col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 m-v-lg'
                >
                    {{!-- {{search-preprints search='search'}} --}}
                    {{#unless this.theme.isProvider}}
                        {{!-- {{total-share-results}} --}}
                    {{/unless}}
                </div>
            </div>
            {{#if this.theme.provider.allowSubmissions}}
                <div class='row'>
                    <div class='text-center col-xs-12'>
                        <p class='lead'>
                            {{t 'general.or'}}
                        </p>
                        <a
                            local-class='preprint-submit-button'
                            class='btn btn-success btn-lg'
                            type='button'
                            onclick={{action 'click' 'link' 'Index - Add collection' target=this.analytics}}
                            href={{concat this.theme.pathPrefix 'submit'}}
                        >
                            {{t 'global.add_collection'}}
                        </a>
                        <div class='m-t-md'>
                            {{!-- (route-prefix 'content') --}}
                            <LinkTo
                                @route='discover'
                                @models={{array
                                    (if this.theme.provider.example this.theme.provider.example 'khbvy')
                                }}
                                invokeAction={{action 'click' 'link' 'Index - See example'}}
                            >
                                {{t 'index.header.example'}}
                            </LinkTo>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>

    {{#unless this.theme.isProvider}}
        <div
            local-class='provider-logos'
            class='p-v-md'
        >
            <div class='container'>
                <div class='row'>
                    <div class='col-xs-12'>
                        <h2>{{t 'collections.index.services_heading'}}</h2>
                        <p class='m-b-lg'>{{t 'collections.index.services_paragraph'}}</p>
                    </div>
                </div>
                <div class='row p-v-md'>
                    {{#each this.model as |provider|}}
                        {{provider-logo provider=provider}}
                    {{/each}}
                </div>
                <div class='row p-v-md'>
                    <div class='col-md-12 text-center'>
                        <p class='lead'>
                            {{t 'collections.index.service_bottom.p1'}}
                            <div class='p-t-sm'>
                                {{t 'collections.index.service_bottom.div.line1'}}
                                <a
                                    local-class='source-code-link'
                                    href='https://github.com/CenterForOpenScience/ember-osf-web'
                                    onclick={{action 'click' 'link' 'Index - GitHub Repo' target=this.analytics}}
                                >
                                    {{t 'collections.index.service_bottom.div.linkText1'}}
                                </a>
                                {{t 'collections.index.service_bottom.div.line2'}}
                                <a
                                    local-class='source-code-link'
                                    href='https://docs.google.com/spreadsheets/d/1SocElbBjc_Nhme4-SJv2_zytBd1ys8R5aZDb3POe94c/edit#gid=331732182'
                                    onclick={{action 'click' 'link' 'Index - Requirements and Roadmap' target=this.analytics}}
                                >
                                    {{t 'collections.index.service_bottom.div.linkText2'}}
                                </a>
                                {{t 'collections.index.service_bottom.div.line3'}}
                            </div>
                        </p>
                        <a
                            href='mailto:contact@osf.io'
                            class='btn btn-info btn-lg'
                            onclick={{action 'click' 'link' 'Index - Contact' target=this.analytics}}
                        >
                            {{t 'collections.index.service_bottom.contact'}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/unless}}

    <div
        local-class='subjects'
        class='p-v-md'
    >
        <div class='container'>
            <div class='row p-v-md'>
                <div class='col-xs-12'>
                    <h2>
                        {{#if this.theme.provider.additionalProviders}}
                            {{t 'index.subjects.heading.provider'}}
                        {{else}}
                            {{!if this.theme.provider.hasHighlightedSubjects
                                (t 'index.subjects.heading.hasHighlightedSubjects')
                                (t 'index.subjects.heading.noHighlightedSubjects')
                            }}
                        {{/if}}
                    </h2>
                    {{#if this.theme.provider.hasHighlightedSubjects}}
                        <LinkTo
                            local-class='seeAllSubjects'
                            @route={{route-prefix 'discover'}}
                        >
                            {{t 'index.subjects.links.seeAllSubjects'}}
                        </LinkTo>
                    {{/if}}
                    <div class='p-lg' local-class='subjectsList'>
                        {{#if this.theme.provider.additionalProviders}}
                            {{!additional-provider-list additionalProviders=this.theme.provider.additionalProviders}}
                        {{else}}
                            {{!taxonomy-top-list list=model.taxonomies}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#if this.theme.provider.advisoryBoard.length}}
        <div
            local-class='advisory'
            class='p-v-md'
        >
            <div class='container'>
                <div class='row'>
                    {{sanitize-html
                        raw=true
                        value=this.theme.provider.advisoryBoard
                        options=this.sanitizeOptions
                    }}
                </div>
            </div>
        </div>
    {{/if}}
</div>

{{!-- <a href='{{brandedPreprintUrl provider}}' title='{{provider.name}}' class='provider-logo-item' style='background-image: url('');'></a> --}}
