{{#if this.shouldShow}}
    <div data-test-revision-link={{@index}} local-class='UpdateContainer'>
        {{!-- Using LinkTo instead of OsfLink due to how queryParams are buggy for setting active state --}}
        <LinkTo
            local-class='UpdateLink'
            {{on 'click' @onRevisionSelect}}
            @route='overview.index'
            @query={{hash revisionId=@revision.id}}
        >
            <Registries::UpdateDropdown::UpdateLabel
                @totalRevisions={{@totalRevisions}}
                @index={{@index}}
            />
        </LinkTo>
    </div>
{{/if}}
