<Subjects::Display
    @subjects={{@subjectsManager.selectedSubjects}}
    @removeSubject={{@subjectsManager.unselectSubject}}
/>

<div local-class='browser-menu'>
    <OsfButton
        data-test-browse-mode
        data-analytics-name='Show browse'
        @type={{unless this.searchMode 'primary'}}
        @onClick={{action (mut this.searchMode) false}}
    >
        {{t 'osf-components.subjects.browse.browse_all'}}
    </OsfButton>

    <OsfButton
        data-test-search-mode
        data-analytics-name='Show search'
        @type={{if this.searchMode 'primary'}}
        @onClick={{action (mut this.searchMode) true}}
    >
        {{t 'osf-components.subjects.search.search_all'}}
    </OsfButton>
</div>

{{#if this.searchMode}}
    <Subjects::Search
        data-analytics-scope='Search'
        @subjectsManager={{@subjectsManager}}
    />
{{else}}
    <Subjects::Browse
        data-analytics-scope='Browse'
        @subjectsManager={{@subjectsManager}}
    />
{{/if}}
