<Subjects::Display
    @subjects={{@subjectsManager.selectedSubjects}}
    @removeSubject={{@subjectsManager.unselectSubject}}
/>

<div local-class='browser-menu'>
    <OsfButton
        data-test-browse-mode
        @type={{unless this.searchMode 'primary'}}
        @onClick={{action (mut this.searchMode) false}}
    >
        {{t 'osf-components.subjects.browse.browse_all'}}
    </OsfButton>

    <OsfButton
        data-test-search-mode
        @type={{if this.searchMode 'primary'}}
        @onClick={{action (mut this.searchMode) true}}
    >
        {{t 'osf-components.subjects.search.search_all'}}
    </OsfButton>
</div>

{{#if this.searchMode}}
    <Subjects::Search @subjectsManager={{@subjectsManager}} />
{{else}}
    <Subjects::Browse @subjectsManager={{@subjectsManager}} />
{{/if}}