{{#if (gt @property.cardSearchResultCount 0)}}
    <div
        data-analytics-scope='Search page filter facet wrapper'
        data-test-filter-facet
        local-class='facet-wrapper'
        ...attributes
    >
        {{#let (unique-id @property.displayLabel) as |facetElementId|}}
            <Button
                data-analytics-name='Filter facet toggle {{@property.displayLabel}}'
                data-test-filter-facet-toggle={{@property.displayLabel}}
                @layout='fake-link'
                local-class='facet-expand-button'
                aria-controls={{facetElementId}}
                aria-expanded={{not this.collapsed}}
                title={{@property.displayLabel}}
                {{on 'click' this.toggleFacet}}
            >
                <span>{{@property.displayLabel}}</span>
                <FaIcon @icon={{if this.collapsed 'caret-down' 'caret-up'}} />
            </Button>
            {{#if (and this.fetchFacetValues.isRunning (not this.seeMoreModalShown))}}
                <LoadingIndicator @dark={{true}} />
            {{else if this.fetchFacetValues.isError}}
                {{t 'search.filter-facet.facet-load-failed'}}
            {{else}}
                <ul
                    local-class='facet-list {{if this.collapsed 'collapsed'}}'
                    id={{facetElementId}}
                >
                    {{#each this.filterableValues as |value|}}
                        <li
                            data-test-filter-facet-value={{value.indexCard.label}}
                            local-class='facet-value'
                        >
                            <Button
                                data-analytics-name='Toggle filter facet value {{value.indexCard.label}}'
                                local-class='facet-link'
                                @layout='fake-link'
                                title={{value.indexCard.label}}
                                {{on 'click' (fn @toggleFilter (hash
                                    propertyVisibleLabel=@property.displayLabel
                                    propertyShortFormLabel=@property.shortFormLabel
                                    label=value.indexCard.label
                                    value=value.indexCard.resourceId)
                                )}}
                            >
                                {{value.indexCard.label}}
                            </Button>
                            <span local-class='facet-count'>
                                {{value.cardSearchResultCount}}
                            </span>
                        </li>
                    {{/each}}
                    {{#if this.showSeeMoreButton}}
                        <li>
                            <Button
                                data-analytics-name='See more filterable values {{@property.displayLabel}}'
                                data-test-see-more-filterable-values={{@property.displayLabel}}
                                @layout='fake-link'
                                {{on 'click' this.openSeeMoreModal}}
                            >
                                {{t 'search.filter-facet.see-more'}}
                            </Button>
                        </li>
                    {{/if}}
                </ul>
            {{/if}}
            <OsfDialog
                data-analytics-scope='Search page filter facet modal'
                @isOpen={{this.seeMoreModalShown}}
                @onClose={{fn (mut this.seeMoreModalShown) false}}
                as |dialog|
            >
                <dialog.heading data-test-see-more-dialog-heading>
                    {{@property.displayLabel}}
                </dialog.heading>
                <dialog.main local-class='see-more-dialog'>
                    {{t 'search.filter-facet.see-more-modal-text'}}
                    <PowerSelect
                        data-test-property-value-select
                        @options={{this.modalValueOptions}}
                        @searchEnabled={{true}}
                        @selected={{this.selectedProperty}}
                        @placeholder={{t 'search.filter-facet.see-more-modal-placeholder'}}
                        @search={{perform this.debouncedValueSearch}}
                        @onChange={{action this.updateSelectedProperty}}
                        @afterOptionsComponent={{component 'search-page/filter-facet/after-options' fetchValues=(perform this.loadMoreValues) hasMoreValues=this.hasMoreValueOptions}}
                        as |property|
                    >
                        <span>{{property.indexCard.label}} ({{property.cardSearchResultCount}})</span>
                    </PowerSelect>
                </dialog.main>
                <dialog.footer>
                    <Button
                        data-analytics-name='Cancel filter'
                        data-test-see-more-dialog-cancel-button
                        @type='secondary'
                        {{on 'click' (fn (mut this.seeMoreModalShown) false)}}
                    >
                        {{t 'general.cancel'}}
                    </Button>
                    <Button
                        data-analytics-name='Apply filter'
                        data-test-see-more-dialog-apply-button
                        @type='primary'
                        disabled={{not this.selectedProperty}}
                        {{on 'click' (queue (perform this.applySelectedProperty) dialog.close) }}
                    >
                        {{t 'general.apply'}}
                    </Button>
                </dialog.footer>
            </OsfDialog>
        {{/let}}
    </div>
{{/if}}
