<div 
    data-test-registration-provider-metadata-wrapper={{@field.field_name}}
    local-class='ProviderMetadataWrapper ProviderMetadata__field'
    ...attributes>

    <h5
        data-test-registration-provider-metadata-field-name={{@field.field_name}}
    >
        {{@field.field_name}}:
    </h5>
    <span
        data-test-registration-provider-metadata-field-value={{@field.field_name}}
        local-class='ProviderMetadataValue'
    >
        {{@field.field_value}}
    </span>
</div>