<div data-analytics-scope='Action buttons' class='row' local-class='actions-header'>
    {{#if this.showFilter}}
        <div class='col-xs-9 filter-input'>
            {{input
                (html-attributes 
                    data-test-filter-input='filter'
                    aria-label=(t 'file_browser.filtering')
                )
                placeholder=(t 'file_browser.filtering')
                class='form-control'
                keyUp=(action @updateFilter value='target.value')
            }}
        </div>
        <div class='col-xs-3'>
            <OsfButton
                data-test-close-filter
                data-analytics-name='Close filter'
                local-class='action-button'
                aria-label={{t 'general.close'}}
                @onClick={{action this.closeFilter}}
                @class='pull-right'
            >
                {{fa-icon 'times'}}
            </OsfButton>
        </div>
    {{else if this.showRename}}
        <div class='col-xs-9 filter-input'>
            {{input
                (html-attributes data-test-rename-field='rename')
                placeholder=this.selectedItems.firstObject.itemName
                class='form-control'
                value=this.renameValue
                enter=(action 'rename' value='target.value')
            }}
        </div>
        <div class='col-xs-3'>
            <OsfButton
                data-test-close-rename
                data-analytics-name='Close rename'
                local-class='action-button'
                aria-label={{t 'general.close'}}
                @onClick={{action this.closeRename}}
                @class='pull-right'
            >
                {{fa-icon 'times'}}
            </OsfButton>
            <OsfButton
                data-test-save-rename
                data-analytics-name='Save rename'
                aria-label={{t 'general.rename'}}
                local-class='action-button'
                @onClick={{action this.rename}}
                @class='pull-right' 
            >
                {{fa-icon 'pencil'}}
            </OsfButton>
        </div>
    {{else}}
        <div class='pull-right'>
            {{#if this.canEdit}}
                <OsfButton
                    data-analytics-name='Upload'
                    local-class='action-button'
                    @bubble={{true}}
                    @class='dz-upload-button'
                    @disabled={{this.isUploading}}
                >
                    {{fa-icon 'upload'}}
                    {{t 'general.upload'}}
                </OsfButton>
            {{/if}}
            {{#if this.selectedItems}}
                {{! TODO: show available actions for selected files }}
                {{#if (eq this.selectedItems.length 1)}}
                    <OsfButton 
                        data-test-share-dialog-button
                        data-analytics-name='Share'
                        local-class='action-button' 
                        @class='popover-toggler' 
                        @onClick={{action this.openSharePopup}}
                    >
                        {{fa-icon 'share-alt'}}
                        {{t 'general.share'}}
                        <BsPopover
                            @placement='bottom'
                            @title={{t 'general.share'}}
                            @visible={{this.popupOpen}}
                        >
                            {{#if this.link}}
                                <CopyableText
                                    data-test-file-share-copyable-text
                                    @text={{this.link}}
                                    @success={{action (mut this.popupOpen) false}}
                                    @analyticsLabel='Quick Files - Share - Copy link'
                                />
                            {{else}}
                                {{t 'file_browser.loading'}}
                            {{/if}}
                        </BsPopover>
                    </OsfButton>
                    <OsfButton 
                        data-test-download-button
                        data-analytics-name={{if (not this.canEdit) 'Download'}}
                        local-class='action-button'
                        @bubble={{true}}
                        @onClick={{action this.downloadItem}}
                    >
                        {{fa-icon 'download'}}
                        {{t 'general.download'}}
                    </OsfButton>
                    <OsfButton
                        data-test-view-button
                        data-analytics-name='View'
                        local-class='action-button'
                        @bubble={{true}}
                        @onClick={{action this.viewItem}}
                    >
                        {{fa-icon 'file-o'}}
                        {{t 'general.view'}}
                    </OsfButton>
                    {{#if this.canEdit}}
                        <OsfButton
                            data-test-move-button
                            data-analytics-name='Move'
                            local-class='action-button'
                            @bubble={{true}}
                            @onClick={{action (mut this.currentModal) 'move'}}
                        >
                            {{fa-icon 'level-up'}}
                            {{t 'general.move'}}
                        </OsfButton>
                        <OsfButton
                            data-test-delete-file-button
                            data-analytics-name='Delete'
                            local-class='action-button'
                            @bubble={{true}}
                            @onClick={{action (mut this.currentModal) 'delete'}}
                        >
                            {{fa-icon 'trash'}}
                            {{t 'general.delete'}}
                        </OsfButton>
                        <OsfButton
                            data-test-rename-file-button
                            data-analytics-name='Rename'
                            local-class='action-button'
                            @bubble={{true}}
                            @onClick={{action (mut this.showRename) true}}
                        >
                            {{fa-icon 'pencil'}}
                            {{t 'general.rename'}}
                        </OsfButton>
                    {{/if}}
                {{else}}
                    {{#if this.canEdit}}
                        <OsfButton
                            data-test-delete-multiple-button
                            data-analytics-name='Delete multiple'
                            local-class='action-button'
                            @bubble={{true}}
                            @onClick={{action (mut this.currentModal) 'deleteMultiple'}}
                        >
                            {{fa-icon 'trash'}}
                            {{t 'file_browser.delete_multiple'}}
                        </OsfButton>
                    {{/if}}
                {{/if}}
            {{else if this.hasItems}}
                <OsfButton 
                    data-test-download-zip-button
                    data-analytics-name={{if (not this.canEdit) 'Download Zip'}}
                    local-class='action-button' 
                    local-class='action-button'
                    @bubble={{true}}
                    @onClick={{action this.downloadZip}}
                >
                    {{fa-icon 'download'}} {{t 'file_browser.download_zip'}}
                </OsfButton>
            {{/if}}
            {{#if this.hasItems}}
                <OsfButton
                    data-test-filter-button
                    data-analytics-name='Filter'
                    local-class='action-button'
                    @bubble={{true}}
                    @onClick={{action (mut this.showFilterClicked) true}}
                >
                    {{fa-icon 'search'}}
                    {{t 'general.filter'}}
                </OsfButton>
            {{/if}}
            <OsfButton
                data-test-info-button
                data-analytics-name='Info'
                local-class='action-button'
                @bubble={{true}}
                @onClick={{action (mut this.currentModal) 'info'}}
            >
                {{fa-icon 'info'}}
                {{t 'general.help'}}
            </OsfButton>
        </div>
    {{/if}}
</div>
<div data-analytics-scope='Header' local-class='column-labels column-labels-header'>
    <div class='col-lg-7 col-md-9 col-sm-9 col-xs-12' local-class='file-browser-header header'>
        <span local-class='sortable-column'>{{t 'general.name'}}</span>
        <SortButton
            @sortAction={{action (mut this.sort)}}
            @sort={{this.sort}}
            @sortBy='name'
        />
    </div>
    <div class='col-lg-1 col-md-1 hidden-sm hidden-xs' local-class='file-browser-header header'>
        <span local-class='sortable-column'>{{t 'general.size'}}</span>
    </div>
    <div class='col-lg-1 hidden-md hidden-sm hidden-xs' local-class='file-browser-header header'>
        <span local-class='sortable-column'>{{t 'general.version'}}</span>
    </div>
    <div class='col-lg-1 hidden-md hidden-sm hidden-xs' local-class='file-browser-header header'>
        <span local-class='sortable-column'>{{t 'general.downloads'}}</span>
    </div>
    <div class='col-lg-2 col-md-2 col-sm-3 hidden-xs' local-class='file-browser-header header'>
        <span local-class='sortable-column'>{{t 'general.modified'}}</span>
        <SortButton 
            @sortAction={{action (mut this.sort)}}
            @sort={{this.sort}}
            @sortBy='dateModified'
        />
    </div>
</div>
<BsModal
    data-test-info-modal
    @onHide={{action (mut this.currentModal) ''}}
    @open={{eq this.currentModal 'info'}}
    as |modal|
>
    <modal.header @onClose={{action (mut this.currentModal) ''}}>
        <h3 class='modal-title'>{{t 'file_browser.info.title'}}</h3>
    </modal.header>
    <modal.body>
        <p>{{t 'file_browser.info.upload'}}</p>
        <p>{{t 'file_browser.info.select'}}</p>
        <p>{{t 'file_browser.info.folders'}}</p>
        <p>{{t 'file_browser.info.open1'}}</p>
        <p>{{t 'file_browser.info.open2'}}</p>
        <p>{{t 'file_browser.info.download'}}</p>
    </modal.body>
    <modal.footer data-analytics-scope='File browser - Info modal'>
        <OsfButton
            data-test-close-current-modal
            data-analytics-name='Close'
            @onClick={{action (mut this.currentModal) ''}}
            @type='default'
        >
            {{t 'general.close'}}
        </OsfButton>
    </modal.footer>
</BsModal>
<BsModal
    data-test-delete-modal
    @onHide={{action (mut this.currentModal) ''}}
    @open={{eq this.currentModal 'delete'}}
    as |modal|
>
    <modal.header @onClose={{action (mut this.currentModal) ''}}>
        <h3 class='modal-title break-word'>
            {{t 'file_browser.delete_modal.title' filename=this.selectedItems.firstObject.itemName}}
        </h3>
    </modal.header>
    <modal.body>
        <p>{{t 'file_browser.delete_modal.body'}}</p>
    </modal.body>
    <modal.footer data-analytics-scope='File browser - Delete modal'>
        <OsfButton
            data-test-delete-file-cancel-button
            data-analytics-name='Cancel'
            @onClick={{action (mut this.currentModal) ''}}
            @type='default'
        >
            {{t 'general.cancel'}}
        </OsfButton>
        <OsfButton
            data-test-delete-file-confirm-button
            data-analytics-name='Delete'
            @onClick={{action this.deleteItems}}
            @type='danger'
        >
            {{t 'general.delete'}}
        </OsfButton>
    </modal.footer>
</BsModal>
<BsModal
    data-test-delete-multiple-modal
    @onHide={{action (mut this.currentModal) ''}}
    @open={{eq this.currentModal 'deleteMultiple'}}
    as |modal|
>
    <modal.header @onClose={{action (mut this.currentModal) ''}}>
        <h3 class='modal-title break-word'>{{t 'file_browser.delete_modal.title_multiple'}}</h3>
    </modal.header>
    <modal.body>
        <p>{{t 'file_browser.delete_modal.body'}}</p>
        {{#each this.selectedItems as | item |}}
            <div class='break-word'>
                <b>{{item.itemName}}</b>
                <hr style='margin-top: 5px'>
            </div>
        {{/each}}
    </modal.body>
    <modal.footer data-analytics-scope='File browser - Delete multiple modal'>
        <OsfButton
            data-analytics-name='Cancel'
            @onClick={{action (mut this.currentModal) ''}}
            @type='default'
        >
            {{t 'general.cancel'}}
        </OsfButton>
        <OsfButton
            data-analytics-name='Delete'
            @onClick={{action this.deleteItems true}}
            @type='danger'
        >
            {{t 'general.delete'}}
        </OsfButton>
    </modal.footer>
</BsModal>
<BsModal
    data-test-rename-conflict-modal
    @onHide={{action (mut this.currentModal) ''}}
    @open={{eq this.currentModal 'renameConflict'}}
    as |modal|
>
    <modal.header @onClose={{action (mut this.currentModal) ''}}>
        <h3 class='modal-title break-word'>{{t 'file_browser.conflict_modal.title'}}</h3>
    </modal.header>
    <modal.body>
        <p>{{t 'file_browser.conflict_modal.keep_info'}}</p>
        <p>{{t 'file_browser.conflict_modal.replace_info'}}</p>
    </modal.body>
    <modal.footer data-analytics-scope='File browser - Rename conflict modal'>
        <OsfButton
            data-test-conflict-keep-both-button
            data-analytics-name='Keep'
            @onClick={{action this.renameConflict 'keep'}}
        >
            {{t 'file_browser.conflict_modal.keep_button'}}
        </OsfButton>
        <OsfButton
            data-test-conflict-replace-file-button
            data-analytics-name='Replace'
            @onClick={{action this.renameConflict 'replace'}}
        >
            {{t 'file_browser.conflict_modal.replace_button'}}
        </OsfButton>
    </modal.footer>
</BsModal>
<BsModal
    data-test-move-to-project-modal
    @onHide={{action this.closeMoveToProjectModal}}
    @open={{eq this.currentModal 'move'}}
    @class='moveQuickfileModal'
    as |modal|
>
    <modal.header @onClose={{action this.closeMoveToProjectModal}}>
        <h3 class='modal-title break-word'>{{t 'file_browser.move_modal.title'}}</h3>
    </modal.header>
    <modal.body>
        <ProjectSelector
            @user={{this.user}}
            @projectSelectState={{this.projectSelectState}}
            @validationChanged={{action (mut this.isProjectSelectorValid)}}
            @projectSelected={{action this.projectSelected}}
            @moveToNewProject={{action this.moveToNewProject}}
        />
    </modal.body>
    <modal.footer data-analytics-scope='File browser - Move to project Modal'>
        <OsfButton
            data-test-move-to-project-modal-close-button
            data-analytics-name='Close'
            @disabled={{this.isMoving}}
            @onClick={{action this.closeMoveToProjectModal}}
            @type='default'
        >
            {{t 'general.cancel'}}
        </OsfButton>
        {{#if (not-eq this.projectSelectState 'main')}}
            <OsfButton
                data-test-move-to-project-modal-back-button
                data-analytics-name='Back'
                @disabled={{this.isMoving}}
                @onClick={{action (mut this.projectSelectState) 'main'}}
                @type='default'
            >
                {{t 'general.back'}}
            </OsfButton>
            <OsfButton
                data-test-move-to-project-modal-perform-button
                data-analytics-name='Move'
                @disabled={{or (not this.isProjectSelectorValid) this.isMoving}}
                @onClick={{action (perform this.moveToProject)}}
                @type='primary'
            >
                {{t 'file_browser.move_modal.move_button'}}
            </OsfButton>
        {{/if}}
    </modal.footer>
</BsModal>
{{#if (eq this.currentModal 'moveToNew')}}
    <NewProjectModal
        @afterProjectCreated={{action this.projectCreated}}
        @closeModal={{action (mut this.currentModal) ''}}
        @page='Quick Files'
        @isPublic={{true}}
    />
{{else if (eq this.currentModal 'successMove')}}
    <NewProjectNavigationModal
        @node={{this.node}}
        @closeModal={{action (mut this.currentModal) ''}}
        @title={{t 'move_to_project.file_successfully_moved'}}
        @afterStay={{action this.afterStay}}
    />
{{/if}}
<DropzoneWidget
    @buildUrl={{action this.buildUrl}}
    @options={{this.dropzoneOptions}}
    @addedfile={{action this.addedFile}}
    @uploadprogress={{action this.uploadProgress}}
    @success={{action this.success}}
    @error={{action this.error}}
    @dropzone={{false}}
    @dragenter={{action (mut this.dropping) true}}
    @dragover={{action (mut this.dropping) true}}
    @drop={{action (mut this.dropping) false}}
    @dragleave={{action (mut this.dropping) false}}
    @enable={{this.dropzone}}
    local-class='dropzone-area'
    @id={{@dropZoneId}}
    @clickable={{this.clickable}}
>
    <div class='file-browser-list' local-class='file-browser-list'>
        <div local-class='shade {{if (not this.dropping) 'transparent'}}'>
            <div local-class='upload-drop'>
                <div local-class='upload-text'>{{fa-icon 'upload' size=5}}</div>
                <div local-class='upload-text'>{{t 'file_browser.drop_reminder'}}</div>
            </div>
        </div>
        {{#if this.loading}}
            <br>
            <br>
            <div class='ball-scale ball-dark' style='text-align: center'>
                <div></div>
            </div>
        {{else if this.showItems}}
            <div local-class='items'>
                {{#each this.uploading as |file|}}
                    <div class='row' local-class='file-row-item'>
                        <div class='col-xs-5' local-class='file-browser-header file-row-col'>
                            {{file-icon item=file}}
                            <span local-class='upload-file-header'>{{file.name}}</span>
                        </div>
                        <div class='col-xs-5'>
                            <div class='progress'>
                                <div id='uploading-{{file.size}}' class='progress-bar' role='progressbar'></div>
                            </div>
                        </div>
                        <div class='col-xs-2' local-class='file-browser-header'></div>
                    </div>
                {{/each}}
                {{#each this.items as |item|}}
                    <FileBrowserItem
                        @item={{item}}
                        @selectItem={{action this.selectItem}}
                        @selectMultiple={{action this.selectMultiple}}
                        @openItem={{action this.openItem}}
                    />
                {{/each}}
            </div>
        {{else}}
            <div local-class='file-placeholder'>
                {{#if this.canEdit}}
                    <div local-class='file-placeholder-content'>
                        <div>{{fa-icon 'upload' size=5}}</div>
                        <div local-class='file-placeholder-text'>{{t 'file_browser.drop_placeholder'}}</div>
                    </div>
                {{else}}
                    <div local-class='file-placeholder-text file-placeholder-content'>{{t 'file_browser.no_files'}}</div>
                {{/if}}
            </div>
        {{/if}}
    </div>
</DropzoneWidget>
