<FileBrowser::Breadcrumbs @manager={{@manager}} />

<div local-class='OptionBar {{if this.isMobile 'Mobile'}}'>
    <div local-class='OptionBar__left {{if this.isMobile 'Mobile'}}'>
        <Input
            aria-label={{t 'registries.overview.files.filter_label'}}
            data-test-file-search
            @type='text'
            class='form-control'
            placeholder='{{t 'general.filter'}}'
            @value={{readonly @manager.filter}}
            {{on 'input' this.handleInput}}
        />

        <ResponsiveDropdown
            local-class='SortDropdown {{if this.isMobile 'Mobile'}}'
            @buttonStyling={{true}}
            @horizontalPosition='left'
            as |dropdown|
        >
            <dropdown.trigger
                data-test-file-sort-trigger
                data-analytics-name='Sort files'
                local-class='SortDropdown__button {{if this.isMobile 'Mobile'}}'
            >
                <div>
                    {{t 'registries.overview.files.sort'}}
                    <span local-class='SortedBy'>
                        {{t (concat 'registries.overview.files.sort_by.' @manager.sort)}}
                    </span>
                </div>
                <FaIcon @icon='caret-down' />
            </dropdown.trigger>
            <dropdown.content
                local-class='DropdownList'
                {{on 'click' dropdown.close}}
            >
                <Button
                    @layout='fake-link'
                    {{on 'click' (fn @manager.changeSort 'name')}}
                >
                    {{t 'registries.overview.files.sort_by.name'}}
                </Button>
                <Button
                    @layout='fake-link'
                    {{on 'click' (fn  @manager.changeSort '-name')}}
                >
                    {{t 'registries.overview.files.sort_by.-name'}}
                </Button>
                <Button
                    @layout='fake-link'
                    {{on 'click' (fn  @manager.changeSort 'modified')}}
                >
                    {{t 'registries.overview.files.sort_by.modified'}}
                </Button>
                <Button
                    @layout='fake-link'
                    {{on 'click' (fn  @manager.changeSort '-modified')}}
                >
                    {{t 'registries.overview.files.sort_by.-modified'}}
                </Button>
            </dropdown.content>
        </ResponsiveDropdown>
    </div>
    <div local-class='OptionBar__right'>
        {{#if @manager.currentFolder}}
            <OsfLink
                data-test-download-all
                data-analytics-name='Download all files from current folder'
                @href={{@manager.currentFolder.links.download}}
                local-class='DownloadAllFromCurrent'
            >
                <FaIcon @icon='download' />
                {{t 'registries.overview.files.download_all'}}
            </OsfLink>
        {{/if}}
        <Button
            data-test-file-help
            data-analytics-name='Help'
            aria-label={{t 'general.help'}}
            @layout='fake-link'
        >
            <FaIcon @icon='question-circle' />
        </Button>
    </div>
</div>
<InfiniteList
    @itemList={{@manager.displayItems}}
    @hasMore={{@manager.hasMore}}
    @loadMore={{@manager.loadMore}}
    @isLoading={{@manager.isLoading}}
    local-class='FileList'
>
    <:header>
        {{#if @manager.parentFolder}}
            <li local-class='GoToParentButton'>
                <Button
                    data-test-go-to-parent
                    data-analytics-name='Go to parent folder'
                    @layout='fake-link'
                    {{on 'click' (perform @manager.goToFolder @manager.parentFolder)}}
                >
                    <FaIcon
                        @icon='angle-left' @fixedWidth={{true}}
                    />
                    {{@manager.currentFolder.name}}
                </Button>
            </li>
        {{/if}}
    </:header>
    <:item as |item|>
        {{#if item.isFile}}
            <FileBrowser::FileItem @item={{item}} @manager={{@manager}} />
        {{else}}
            <FileBrowser::FolderItem @item={{item}} @manager={{@manager}} />            
        {{/if}}
    </:item>
    <:empty>
        <div local-class='EmptyText'>
            {{t 'registries.overview.files.empty_folder'}}
        </div>
    </:empty>
</InfiniteList>