<FileBrowser::AddNew::Upload
    @manager={{@manager}}
    @enable={{and @manager.currentFolder.userCanUploadToHere @enableUpload}}
    as |uploadWidget|
>
    <FileBrowser::Breadcrumbs
        @breadcrumbs={{@manager.folderLineage}}
        @currentFolder={{@manager.currentFolder}}
        @goToFolder={{@manager.goToFolder}}
    />
    <div local-class='OptionBar {{if this.isMobile 'Mobile'}}'>
        <div local-class='OptionBar__left {{if this.isMobile 'Mobile'}}'>
            {{#if (gt @manager.selectedFiles.length 0)}}
                <span data-test-file-selected-count>
                    {{t 'osf-components.file-browser.number_selected' numberOfFilesSelected=@manager.selectedFiles.length}}
                    <Button
                        data-test-clear-file-selection
                        data-analytics-name='Clear file selection'
                        aria-label={{t 'osf-components.file-browser.clear_selection'}}
                        {{on 'click' @manager.deselectFiles}}
                    >
                        <FaIcon @icon='times' />
                    </Button>
                </span>
            {{else}}
                <label>
                    {{t 'general.filter'}}:
                    <Input
                        data-test-file-search
                        @type='text'
                        class='form-control'
                        placeholder='{{t 'osf-components.file-browser.filter_placeholder'}}'
                        @value={{readonly @manager.filter}}
                        {{on 'input' this.handleInput}}
                    />
                </label>

                <ResponsiveDropdown
                    local-class='SortDropdown {{if this.isMobile 'Mobile'}}'
                    @renderInPlace={{true}}
                    @buttonStyling={{true}}
                    @horizontalPosition='left'
                    as |dropdown|
                >
                    <label>
                        {{t 'osf-components.file-browser.sort'}}
                        <dropdown.trigger
                            data-test-file-sort-trigger
                            data-analytics-name='Sort files'
                            local-class='SortDropdown__button {{if this.isMobile 'Mobile'}}'
                        >
                            <span local-class='SortedBy {{if this.isMobile 'Mobile'}}'>
                                {{t (concat 'osf-components.file-browser.sort_by.' @manager.sort)}}
                            </span>
                            <FaIcon @icon='caret-down' />
                        </dropdown.trigger>
                    </label>
                    <dropdown.content
                        local-class='DropdownList'
                        {{on 'click' dropdown.close}}
                    >
                        <Button
                            @layout='fake-link'
                            {{on 'click' (fn @manager.changeSort 'name')}}
                        >
                            {{t 'osf-components.file-browser.sort_by.name'}}
                        </Button>
                        <Button
                            @layout='fake-link'
                            {{on 'click' (fn  @manager.changeSort '-name')}}
                        >
                            {{t 'osf-components.file-browser.sort_by.-name'}}
                        </Button>
                        <Button
                            @layout='fake-link'
                            {{on 'click' (fn  @manager.changeSort 'modified')}}
                        >
                            {{t 'osf-components.file-browser.sort_by.modified'}}
                        </Button>
                        <Button
                            @layout='fake-link'
                            {{on 'click' (fn  @manager.changeSort '-modified')}}
                        >
                            {{t 'osf-components.file-browser.sort_by.-modified'}}
                        </Button>
                    </dropdown.content>
                </ResponsiveDropdown>
            {{/if}}
        </div>
        <div local-class='OptionBar__right'>
            {{#if (gt @manager.selectedFiles.length 0)}}
                {{#if @manager.currentFolder.userCanUploadToHere}}
                    <Button
                        @layout='fake-link'
                        {{on 'click' (queue (action (mut this.useCopyModal) false) (action (mut this.moveModalOpen) true))}}
                    >
                        <FaIcon @icon='arrow-right' />
                        {{t 'general.move'}}
                    </Button>
                {{/if}}
                <Button
                    @layout='fake-link'
                    {{on 'click' (queue (action (mut this.useCopyModal) true) (action (mut this.moveModalOpen) true))}}
                >
                    <FaIcon
                        @icon='copy'
                    />
                    {{t 'general.copy'}}
                </Button>
                <MoveFileModal
                    @isOpen={{this.moveModalOpen}}
                    @close={{action (mut this.moveModalOpen) false}}
                    @preserveOriginal={{this.useCopyModal}}
                    @filesToMove={{@manager.selectedFiles}}
                    @manager={{@manager}}
                />
                <Button
                    @layout='fake-link'
                >
                    <FaIcon
                        @icon='trash'
                    />
                    {{t 'general.delete'}}
                </Button>
            {{else}}
                {{#if (and @manager.currentFolder @manager.currentFolder.userCanDownloadAsZip)}}
                    <OsfLink
                        data-test-download-all
                        data-analytics-name='Download all files from current folder'
                        @href={{@manager.currentFolder.links.download}}
                        local-class='DownloadAllFromCurrent'
                    >
                        <FaIcon @icon='download' />
                        {{t 'osf-components.file-browser.download_all'}}
                    </OsfLink>
                {{/if}}
                <Button
                    data-test-file-help
                    data-analytics-name='Help'
                    aria-label={{t 'general.help'}}
                    @layout='fake-link'
                    {{on 'click' this.toggleHelpModal}}
                >
                    <FaIcon @icon='question-circle' />
                </Button>
                <FileBrowser::HelpModal
                    @isOpen={{this.helpModalOpen}}
                    @onClose={{this.toggleHelpModal}}
                />
                {{#if (and @manager.currentFolder.userCanUploadToHere @enableUpload)}}
                    <FileBrowser::AddNew @manager={{@manager}} @setClickableElementId={{uploadWidget.setClickableElementId}} />
                {{/if}}
            {{/if}}
        </div>
    </div>
    <InfiniteList
        @itemList={{@manager.displayItems}}
        @hasMore={{@manager.hasMore}}
        @loadMore={{@manager.loadMore}}
        @isLoading={{@manager.isLoading}}
        local-class='FileList'
    >
        <:header>
            {{#if @manager.parentFolder}}
                <li local-class='GoToParentButton'>
                    <Button
                        data-test-go-to-parent
                        data-analytics-name='Go to parent folder'
                        @layout='fake-link'
                        {{on 'click' (fn @manager.goToFolder @manager.parentFolder)}}
                    >
                        <FaIcon
                            @icon='angle-left' @fixedWidth={{true}}
                        />
                        <span>
                            {{@manager.currentFolder.name}}
                        </span>
                    </Button>
                </li>
            {{/if}}
        </:header>
        <:item as |item|>
            {{#if item.isFile}}
                <FileBrowser::FileItem @item={{item}} @manager={{@manager}} @selectable={{@selectable}} />
            {{else}}
                <FileBrowser::FolderItem @item={{item}} @manager={{@manager}} @selectable={{@selectable}} />
            {{/if}}
        </:item>
        <:empty>
            <div local-class='EmptyText'>
                {{t 'osf-components.file-browser.empty_folder'}}
            </div>
        </:empty>
    </InfiniteList>
</FileBrowser::AddNew::Upload>
