<div local-class='OptionBar'>
    <div local-class='OptionBar__left'>
        <input
            data-test-file-search
            type='text'
            class='form-control'
            placeholder='{{t 'general.filter'}}'
        />

        <ResponsiveDropdown
            local-class='SortDropdown'
            @horizontalPosition='left'
            as |dropdown|
        >
            <dropdown.trigger
                data-test-file-sort-trigger
                data-analytics-name='Sort files'
            >
                <Button>
                    {{t 'registries.overview.files.sort'}}
                    <span local-class='SortedBy'>
                        {{t 'registries.overview.files.sort_by.name_ascending'}}
                    </span>
                    <FaIcon @icon='caret-down' />
                </Button>
            </dropdown.trigger>
            <dropdown.content
                local-class='DropdownList'
            >
                <Button @layout='fake-link'>
                    {{t 'registries.overview.files.sort_by.name_ascending'}}
                </Button>
                <Button @layout='fake-link'>
                    {{t 'registries.overview.files.sort_by.name_descending'}}
                </Button>
                <Button @layout='fake-link'>
                    {{t 'registries.overview.files.sort_by.date_ascending'}}
                </Button>
                <Button @layout='fake-link'>
                    {{t 'registries.overview.files.sort_by.date_descending'}}
                </Button>
            </dropdown.content>
        </ResponsiveDropdown>
    </div>
    <div local-class='OptionBar__right'>
        {{!-- Add storage provider name to data-analytics-name --}}
        <Button
            data-test-download-all
            data-analytics-name='Download all files'
            @layout='fake-link'
        >
            <FaIcon @icon='download' />
            {{t 'registries.overview.files.download_all'}}
        </Button>
        <Button
            data-test-file-help
            data-analytics-name='Help'
            aria-label={{t 'general.help'}}
            @layout='fake-link'
        >
            <FaIcon @icon='question-circle' />
        </Button>
    </div>
</div>

<ul local-class='FileList'>
    {{#each @manager.displayItems as |item|}}
        <li
            data-test-file-list-item
            local-class='FileList__item'
        >
            {{!-- Analytics/test-selector should know if it is a file or folder --}}
            <Button
                data-test-file-list-link
                data-analytics-name='View folder'
                @layout='fake-link'
                @route='registries.overview'
                {{on 'click' (perform @manager.goToFolder item)}}
            >
                <FaIcon
                    @icon='folder' @fixedWidth={{true}}
                />
                {{!-- <FaIcon
                    @prefix='far' @icon='file-alt' @fixedWidth={{true}}
                /> --}}
                {{item.name}}
            </Button>
            <div
                data-test-file-list-date
                local-class='FileList__item__options'
            >
                {{t 'general.date'}}
                {{!-- date here --}}
                <ResponsiveDropdown
                    local-class='DownloadShareDropdown'
                    @horizontalPosition='right'
                    as |dropdown|
                >
                    <dropdown.trigger
                        data-test-file-download-share-trigger
                        data-analytics-name='File options'
                    >
                        <Button
                            {{!-- use folder/file name for aria-label --}}
                            aria-label={{t 'general.options'}} 
                        >
                            <FaIcon @icon='ellipsis-v' />
                        </Button>
                    </dropdown.trigger>
                    <dropdown.content local-class='DropdownList'>
                        <Button
                            local-class='FileOptionsDropdown__option'
                            @layout='fake-link'
                        >
                            <FaIcon @icon='download' />
                            {{t 'general.download'}}
                        </Button>

                        <ResponsiveDropdown
                            local-class='FileOptionsDropdown__option'
                            @horizontalPosition='right'
                            as |dd|
                        >
                            <dd.trigger
                                data-analytics-name='File sharing options'
                            >
                                <Button
                                    local-class='FileOptionsDropdown__option'
                                    @layout='fake-link'
                                >
                                    <FaIcon @icon='share-alt' />
                                    {{t 'general.share'}}
                                </Button>
                            </dd.trigger>
                            <dd.content local-class='DropdownList'>
                                <Button
                                    @layout='fake-link'
                                >
                                    <FaIcon @icon='envelope' />
                                    {{t 'social.email'}}
                                </Button>
                                <Button
                                    @layout='fake-link'
                                >
                                    <FaIcon @prefix='fab' @icon='twitter-square' />
                                    {{t 'social.twitter'}}
                                </Button>
                                <Button
                                    @layout='fake-link'
                                >
                                    <FaIcon @prefix='fab' @icon='facebook-square' />
                                    {{t 'social.facebook'}}
                                </Button>
                                <Button
                                    @layout='fake-link'
                                >
                                    <FaIcon @prefix='fab' @icon='linkedin' />
                                    {{t 'social.linkedin'}}
                                </Button>
                            </dd.content>
                        </ResponsiveDropdown>
                    </dropdown.content>
                </ResponsiveDropdown>
            </div>
        </li>
    {{/each}}
</ul>
