{{#unless this.hideBanner}}
    <div
        data-analytics-scope='Join OSF Banner'
        local-class='JoinOsfBanner {{if this.dismissed 'JoinOsfBanner--collapsed'}}'
    >
        <div class='container' local-class='JoinOsfBanner__banner'>
            <div class='row'>
                <div class='col-sm-2 hidden-xs'>
                    <img src='/static/img/circle_logo.png'
                         alt={{t 'general.OSF'}}
                         local-class='JoinOsfBanner__img'
                    >
                </div>
                <div class='col-sm-10 col-xs-12'>
                    <div class='row'>
                        <div class='col-xs-11'>
                            <h2 local-class='JoinOsfBanner__heading'>
                                {{t 'join_osf.header'}}
                            </h2>
                            <p>
                                {{t 'join_osf.pitch'}}
                                <OsfLink
                                    data-analytics-name='sign_up'
                                    @href='/register/'
                                >
                                    {{t 'join_osf.create_account'}}
                                </OsfLink>
                                {{t 'general.or'}}
                                <OsfLink
                                    data-analytics-name='learn_more'
                                    target='_blank'
                                    rel='noreferrer'
                                    @href='https://openscience.zendesk.com/hc/en-us'
                                >
                                    {{t 'join_osf.learn_more'}}
                                </OsfLink>
                                {{t 'general.period'}}
                            </p>
                        </div>
                        <div class='col-xs-1'>
                            <OsfButton
                                data-analytics-name='Dismiss'
                                aria-label={{t 'general.close'}}
                                @onClick={{action this.dismiss}}
                            >
                                {{fa-icon 'times'}}
                            </OsfButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/unless}}
