{{#unless this.hideBanner}}
    <div
        data-analytics-scope='Join OSF Banner'
        local-class='join-osf-banner {{if this.dismissed 'collapsed'}}'
    >
        <div class='container' local-class='banner-container'>
            {{#if this.media.desktop }}
                <div local-class='image-container'>
                    <img src='/static/img/circle_logo.png'
                        alt={{t 'general.OSF'}}
                        local-class='image'
                    >
                </div>
            {{/if}}
            <div local-class='content-container'>
                <div local-class='message-container'>
                    <h2 local-class='header'>
                        {{t 'join_osf.header'}}
                    </h2>
                    <p>
                        {{t 'join_osf.pitch'}}
                        <OsfLink
                            data-analytics-name='sign_up'
                            @href='/register/'
                        >
                            {{t 'join_osf.create_account'}}
                        </OsfLink>
                        {{t 'general.or'}}
                        <OsfLink
                            data-analytics-name='learn_more'
                            target='_blank'
                            rel='noreferrer'
                            @href='https://help.osf.io/'
                        >
                            {{t 'join_osf.learn_more'}}
                        </OsfLink>
                        {{t 'general.period'}}
                    </p>
                </div>
                <div local-class='button-container'>
                    <Button
                        data-analytics-name='Dismiss'
                        aria-label={{t 'general.close'}}
                        {{on 'click' (action this.dismiss)}}
                    >
                        <FaIcon @icon='times' />
                    </Button>
                </div>
            </div>
        </div>
    </div>
{{/unless}}
