<li data-test-item={{@manager.item.id}}>
    <Input
        @type='checkbox'
        @change={{action @manager.onChange}}
        @checked={{@manager.itemChecked}}
        @disabled={{@manager.isRoot}}
    />
    <OsfButton
        local-class='expand-button'
        @type='link'
        @onClick={{action @manager.toggleShowChildren}}
        data-test-expand-child={{@manager.item.id}}
    >
        {{@manager.item.title}}
        {{#if @manager.children}}
            <FaIcon
                @icon='caret-{{if @manager.shouldShowChildren 'up' 'down'}}'
                @fixedWidth={{true}}
            />
        {{/if}}
    </OsfButton>
</li>
{{#if (and @manager.children @manager.shouldShowChildren)}}
    <ul ...attributes>
        {{#each @manager.children as |child|}}
            <Registries::HierarchicalList::ItemManager
                @item={{child}}
                @listManager={{@manager.listManager}}
                as |childManager|
            >
                <Registries::HierarchicalList::Item @manager={{childManager}} ...attributes />
            </Registries::HierarchicalList::ItemManager>
        {{/each}}
    </ul>
{{/if}}