<div class='container' local-class='HeaderContainer'>

    <div class='row m-v-md'>
        <div class='text-center m-t-lg col-xs-12'>
            <div local-class='RegistriesHeader__Brand'></div>
            <p class='lead'>
                {{yield (hash lead=(element ''))}}
            </p>
        </div>
    </div>

    <div class='row m-t-md m-b-lg text-center'>
        <div class='col-xs-12 col-sm-8 col-sm-offset-2'>
            <form
                local-class='SearchForm'
                data-test-search-form
                {{action 'onSubmit' on='submit'}}
            >
                {{fa-icon 'search' class=(local-class 'HelpIcon')}}
                <Input
                    data-test-search-box={{true}}
                    @value={{this.value}}
                    @class='form-control'
                    @placeholder={{t 'registries.header.search_placeholder'}}
                />
                {{#if this.showHelp}}
                    <Button
                        @type='primary'
                        @layout='fake-link'
                        {{on 'click' this.toggleHelp}}
                    >
                        {{fa-icon 'question'}}
                    </Button>
                {{/if}}
            </form>
        </div>
    </div>

    <div class='row p-v-sm'>
        {{yield (hash row=(element ''))}}
    </div>

    {{search-help-modal isOpen=(mut this.showingHelp)}}

</div>
