<ul local-class="ul">
    {{#each items as |item|}}
        <li local-class="li">
            <button data-test-page="{{item.text}}" local-class="{{if (eq current item.text) 'active'}}"
                {{action (or item.action 'setPage') item.text}}
                disabled={{item.disabled}}
            >
                {{item.text}}
            </button>
        </li>
    {{/each}}
</ul>
