<ul local-class='ul'>
    {{#each this.items as |item|}}
        <li local-class='li'>
            <Button
                data-test-page-number={{item.text}}
                data-analytics-name='Search paginator button {{item.text}}'
                aria-label={{item.aria}}
                local-class={{if (eq this.current item.text) 'active'}}
                disabled={{item.disabled}}
                {{on 'click' (action (or item.action this.setPage) item.text)}}
            >
                {{item.text}}
            </Button>
        </li>
    {{/each}}
</ul>
