<div data-analytics-scope='Reset client secret'>
    <p>{{t 'settings.developer-apps.clientSecretDescription'}}</p>
    <p>
        <CopyableText
            data-test-client-secret
            @text={{if this.shouldShowSecret this.developerApp.clientSecret '*********************'}}
            @disabled={{not this.shouldShowSecret}}
            @analyticsLabel='Settings - Developer apps - Copy client secret'
        />
    </p>

    <OsfButton
        data-test-toggle-client-secret
        data-analytics-name='Toggle show secret'
        @onClick={{action this.toggleShowSecret}}
    >
        {{#if this.shouldShowSecret}}
            {{fa-icon 'eye-slash'}}
            {{t 'settings.developer-apps.hideSecret'}}
        {{else}}
            {{fa-icon 'eye'}}
            {{t 'settings.developer-apps.showSecret'}}
        {{/if}}
    </OsfButton>

    <DeleteButton
        data-test-reset-client-secret
        @delete={{action this.resetSecret}}
        @buttonLabel={{t 'settings.developer-apps.resetSecret.label'}}
        @confirmButtonText={{t 'settings.developer-apps.resetSecret.label'}}
        @modalTitle={{t 'settings.developer-apps.resetSecret.modalTitle'}}
        @errorMessage={{t 'settings.developer-apps.resetSecret.error'}}
    >
        <p>{{t 'settings.developer-apps.resetSecret.description'}}</p>
        <p>{{t 'settings.developer-apps.resetSecret.confirm'}}</p>
    </DeleteButton>
</div>