<div local-class='TitleBackground'>
    <div local-class='HeaderContainer'>
        <div local-class='Header'>
            <h1 data-test-registration-title>{{@registration.title}}</h1>
        </div>
        <div local-class='Footer'>
            <div local-class='FooterText'>
                {{#if @registration.userHasAdminPermission}}
                    <BsDropdown
                        data-analytics-scope='Registries admin'
                        local-class='Dropdown'
                        as |dropdown|
                    >
                        <dropdown.toggle @classNames={{local-class 'DropdownToggle'}}>
                            <span>
                                <strong>{{t 'registries.overview.pendingMessage'}}</strong>
                            </span>
                            <FaIcon
                                @icon={{if dropdown.isOpen 'caret-up' 'caret-down'}}
                            />
                        </dropdown.toggle>
                        <dropdown.menu @classNames={{local-class 'Menu'}}>
                            <div local-class='MenuContent'>
                                <div local-class='MenuIcon'>
                                    <FaIcon @icon='clock-o' />
                                </div>
                                <div local-class='MenuBody'>
                                    <p>{{t 'registries.overview.pendingInfo'}}</p>
                                </div>
                            </div>
                        </dropdown.menu>
                    </BsDropdown>
                {{else}}
                    <div local-class='UserMessage'>
                        <p>{{t 'registries.overview.nonAdminMessage'}}</p>
                    </div>
                {{/if}}
            </div>
            <div local-class='FooterIcons'>
                <div local-class='IconBox'>
                    <FaIcon
                        local-class='Icon'
                        @icon='code-fork'
                    />
                </div>
                <div local-class='IconBox'>
                    <FaIcon
                        local-class='Icon'
                        @icon='bookmark-o'
                    />
                </div>
                <div local-class='IconBox'>
                    <FaIcon
                        local-class='Icon'
                        @icon='share-alt'
                    />
                </div>
            </div>
        </div>
    </div>
</div>
