<HeroOverlay>
    <div local-class='HeaderContainer'>
        <div local-class='Header'>
            <h1 data-test-registration-title>{{@registration.title}}</h1>
        </div>
        {{#if (not (or @registration.archiving @registration.withdrawn))}}
            <div local-class='ActionBar'>
                {{!-- {{#if this.canViewAsModerator}}
                    <Overview::-Components::OverviewTopbar @registration={{@registration}} />
                {{else}} --}}
                <Overview::-Components::OverviewTopbar @isModeratorMode={{this.canViewAsModerator}} @registration={{@registration}} />
                {{!-- {{/if}} --}}
            </div>
            {{#if this.showMobileView}}
                <Navbar local-class='SideBarToggle' as |nav|>
                    <nav.bordered-section>
                        <nav.buttons.default
                            @onclick={{@toggleSidenav}}
                            data-analytics-name='Show sidenav'
                        >
                            {{nav.icon (if @sidenavGutterClosed 'bars' 'times')}}
                        </nav.buttons.default>
                    </nav.bordered-section>

                    <nav.bordered-section>
                        <nav.buttons.default
                            data-analytics-name='Show metadata'
                            @onclick={{@toggleMetadata}}
                            local-class={{if @metadataGutterClosed 'NonActive'}}
                        >
                            <h4>{{t 'registries.overview.metadata'}}</h4>
                        </nav.buttons.default>
                    </nav.bordered-section>
                </Navbar>
            {{/if}}
        {{/if}}
    </div>
</HeroOverlay>