{{page-title (t 'preprints.discover.title')}}
<div data-analytics-scope='{{concat this.model.providerTitle ' Discover'}}'>
    <SearchPage
        {{with-branding (get-model this.model.brand)}}
        @route='search'
        @query={{this.q}}
        @defaultQueryOptions={{this.defaultQueryOptions}}
        @showResourceTypeFilter={{false}}
        @provider={{this.model}}
        @queryParams={{this.queryParams}}
        @onSearch={{action this.onSearch}}
        @sort={{this.sort}}
    />
</div>
