{{page-title (t 'preprints.discover.title')}}
<div data-analytics-scope='{{concat this.model.providerTitle ' Discover'}}'>
    <SearchPage
        @route='search'
        @cardSearchText={{this.q}}
        @defaultQueryOptions={{this.defaultQueryOptions}}
        @resourceType={{'Preprint'}}
        @showResourceTypeFilter={{false}}
        @provider={{this.model}}
        @queryParams={{this.queryParams}}
        @onQueryParamChange={{action this.onQueryParamChange}}
        @sort={{this.sort}}
        @activeFilters={{this.activeFilters}}
    />
</div>
