<div
    data-test-registration-list-card
    local-class='cardWrapper'
    ...attributes
>
    <FaIcon
        data-test-registration-list-card-icon='{{@state}}'
        @icon={{this.icon}}
        @size='2x'
        local-class='filterIcon {{@state}}'
    />
    <div local-class='cardInfo'>
        <h3
            data-test-registration-list-card-title
            local-class='registrationTitle'
        >
            {{#if (eq @state 'rejected')}}
                {{@registration.title}}
            {{else}}
                <OsfLink
                    data-test-registration-title-link
                    @route='registries.overview'
                    @models={{array @registration.id}}
                    @queryParams={{hash mode='moderator'}}
                >
                    {{@registration.title}}
                </OsfLink>
            {{/if}}
        </h3>
        <Registries::ReviewActionsList @registration={{@registration}}/>
    </div>
</div>
