{{title (t 'registries.overview.links.title')}}

<h3>{{t 'registries.overview.links.linked_nodes'}}</h3>
{{#paginated-list/has-many
    modelTaskInstance=this.model.taskInstance
    relationshipName='linkedNodes'
    as |list|
}}
    {{#list.item as |child|}}
        <NodeCard @node={{child}} />
    {{/list.item}}
    {{#list.empty}}
        <p>{{t 'registries.overview.links.no_linked_nodes'}}</p>
    {{/list.empty}}
{{/paginated-list/has-many}}

<h3>{{t 'registries.overview.links.linked_registrations'}}</h3>
{{#paginated-list/has-many
    modelTaskInstance=this.model.taskInstance
    relationshipName='linkedRegistrations'
    as |list|
}}
    {{#list.item as |child|}}
        <NodeCard @node={{child}} />
    {{/list.item}}
    {{#list.empty}}
        <p>{{t 'registries.overview.links.no_linked_registrations'}}</p>
    {{/list.empty}}
{{/paginated-list/has-many}}
