{{assert 'Drafts::Draft::-Components::RightNav requires a draft-registration-manager' @draftManager}}
{{assert 'Drafts::Draft::-Components::RightNav requires a navigation-manager' @navManager}}
{{assert 'Drafts::Draft::-Components::RightNav requires a onSubmitRedirect' @onSubmitRedirect}}

{{#if @navManager.isLastPage}}
    <OsfLink
        data-test-goto-review
        data-analytics-name='Go to review'
        local-class='ReviewButton'
        @type='button'
        @route='registries.drafts.draft.review'
        @models={{array @draftManager.draftId}}
    >
        <Button @type='primary' @layout='large'>
            {{t 'registries.drafts.draft.review.start_review'}}
        </Button>
    </OsfLink>
{{/if}}
{{#if @navManager.inReview}}
    <Drafts::Draft::-Components::Register
        @draftManager={{@draftManager}}
        @onSubmitRedirect={{@onSubmitRedirect}}
        @clickable={{not @readOnly}}
    />
{{/if}}
{{#if @navManager.nextPageParam}}
    <OsfLink
        data-test-goto-next-page
        data-analytics-name='Go to next page'
        local-class='NextButton'
        @type='button'
        @route='registries.drafts.draft.page'
        @models={{array @draftManager.draftId @navManager.nextPageParam}}
    >
        <Button @type='primary' @layout='large'>
            {{t 'registries.drafts.draft.form.next'}}
            <FaIcon @icon='arrow-right' @fixedWidth={{true}} />
        </Button>
    </OsfLink>
{{/if}}
{{#if (and @navManager.prevPageParam (not @readOnly))}}
    <OsfLink
        data-test-goto-previous-page
        data-analytics-name='Go to previous page'
        local-class='BackButton'
        @type='button'
        @route='registries.drafts.draft.page'
        @models={{array @draftManager.draftId @navManager.prevPageParam}}
    >
        <Button @type='secondary'>
            <FaIcon @icon='arrow-left' @fixedWidth={{true}} />
            {{t 'registries.drafts.draft.form.back'}}
        </Button>
    </OsfLink>
{{/if}}
{{#if @navManager.isFirstPage}}
    <OsfLink
        data-test-goto-metadata
        data-analytics-name='Back to metadata'
        local-class='BackButton'
        @type='button'
        @route='registries.drafts.draft.metadata'
        @models={{array @draftManager.draftId}}
    >
        <Button @type='secondary'>
            <FaIcon @icon='arrow-left' @fixedWidth={{true}} />
            {{t 'registries.drafts.draft.metadata.page_label'}}
        </Button>
    </OsfLink>
{{/if}}

{{#if @draftManager.lastSaveFailed}}
    <span local-class='SaveFailed'>
        {{t 'registries.drafts.draft.form.save_failed'}}
    </span>
{{/if}}
<span local-class='SaveMessage'>
    {{t 'registries.drafts.draft.form.last_saved'}}
    <TimeSince
        @date={{@draftManager.draftRegistration.datetimeUpdated}}
    />
</span>
