<div local-class='container' ...attributes>
    {{#if (eq @icon 'search')}}
        <img data-test-icon-image src='/assets/images/new-home/search.svg' alt={{@icon}}>
    {{else if (eq @icon 'pencil-alt')}}
        <img data-test-icon-image src='/assets/images/new-home/pencil-alt.svg' alt={{@icon}}>
    {{else if (eq @icon 'chart-area')}}
        <img data-test-icon-image src='/assets/images/new-home/chart-area.svg' alt={{@icon}}>
    {{else if (eq @icon 'file-alt')}}
        <img data-test-icon-image src='/assets/images/new-home/file-alt.svg' alt={{@icon}}>
    {{/if}}
    <h2 data-test-support-header>
        {{@header}}
    </h2>
    <p data-test-support-description>
        {{@description}}
    </p>
</div>