{{#let
    (component 'settings/addons/-components/addon-modal')
    as |AddonModal|
}}
    <AddonModal @addon={{@addon}} @userAddons={{@userAddons}}>
        <ValidatedModelForm as |form|>
            <div local-class='form-item'>
                <h4>{{t 'settings.addons.access_key'}}</h4>
                <form.text
                    @valuePath='apiToken'
                    @placeholder={{t 'general.required'}}
                />
            </div>
            <div local-class='form-item'>
                <h4>{{t 'settings.addons.secret_key'}}</h4>
                <form.text
                    @valuePath='apiToken'
                    @placeholder={{t 'general.required'}}
                />
            </div>
        </ValidatedModelForm>
    </AddonModal>
{{/let}}
