{{#if this.banner}}
    {{#scheduled-banner/x-maybe-link href=this.banner.link}}
        <div style={{this.bannerWrapperStyle}} local-class='scheduled-banner-container'>
            {{#if this.isMobile}} 
                <img
                    src={{this.banner.links.mobile_photo}}
                    alt={{this.banner.mobileAltText}}
                    local-class='image'
                    class='img-responsive'
                >
            {{else}}
                <img
                    src={{this.banner.links.default_photo}}
                    alt={{this.banner.defaultAltText}}
                    local-class='image'
                    class='img-responsive'
                >
            {{/if}} 
        </div>
    {{/scheduled-banner/x-maybe-link}}
{{/if}}