{{#if @registration.userHasWritePermission}}
    <div
        local-class='AddResourceHeading'
        data-test-add-resource-section
    >
        <span>{{t 'osf-components.resources-list.add_instructions'}}</span>
        {{!-- help icon --}}
        <ResourcesList::EditResource
            @registration={{@registration}}
            @reload={{this.reload}}
            as |modal|
        >
            <div>
                <Button
                    local-class='TriggerButton'
                    aria-label={{t 'osf-components.resources-list.add_button_aria_label'}}
                    {{on 'click' modal.open}}
                >
                    <FaIcon @icon='plus' @size='2x' @fixedWidth={{true}}/>
                </Button>
            </div>
        </ResourcesList::EditResource>
    </div>
{{/if}}

<InfiniteList
        @itemList={{this.resourcesList}}
        @hasMore={{this.hasMore}}
        @loadMore={{this.loadMore}}
        @isLoading={{this.isLoading}}
        local-class='ResourceList'
>
    <:item as |resource|>
        <ResourcesList::ResourceCard
            @resource={{resource}}
            @editable={{@registration.userHasWritePermission}}
            @reload={{this.reload}}
        />
    </:item>
    <:empty>
        <li local-class='EmptyList'>{{t 'osf-components.resources-list.no-resources'}}</li>
    </:empty>
</InfiniteList>
