{{#if @registration.userHasWritePermission}}
    <div
        local-class='Flexbox'
        data-test-add-resource-section
    >
        <span>{{t 'osf-components.resources-list.add_instructions'}}</span>
        {{!-- help icon --}}
        <ResourcesList::EditResource
            @registration={{@registration}}
            @reload={{this.reload}}
            as |modal|
        >
            <div>
                <Button
                    local-class='TriggerButton'
                    {{on 'click' modal.open}}
                >
                    <FaIcon @icon='plus' @size='2x' @fixedWidth={{true}}/>
                </Button>
            </div>
        </ResourcesList::EditResource>
    </div>
{{/if}}

<InfiniteList
        @itemList={{this.resourcesList}}
        @hasMore={{this.hasMore}}
        @loadMore={{this.loadResources}}
        @isLoading={{this.isLoading}}
        local-class='ResourceList'
>
    <:item as |resource|>
        <ResourcesList::ResourceCard @resource={{resource}} @editable={{@registration.userHasWritePermission}} />
    </:item>
    <:empty>
        {{t 'osf-components.resources-list.no-resources'}}
    </:empty>
</InfiniteList>
