{{#if this.label}}
    <label for='{{this.inputElementId}}'>{{this.label}}</label>
{{/if}}

{{yield this.inputElementId}}

{{#if (or this.hasError this.hasWarning)}}
    {{#if this.changeset}}
        <div class='help-block'>
            {{@errors}}
        </div>
    {{else}}
        <div class='help-block'>
            {{v-get this.model this.valuePath 'message'}}
        </div>
    {{/if}}
{{/if}}
