{{title (t 'registries.application.page_title') replace=true}}

{{#if this.newStyleEnabled}}
    <RegistriesNavbar class='RegistriesStyle' @campaign='osf-registries' @onSearch={{action 'search'}} />
    <MaintenanceBanner />
    <StatusBanner />
    <TosConsentBanner />
    <Banners::ViewOnlyLink />
{{else}}
    <OsfHeader as |header|>
        <header.navbar
            @campaign='osf-registries'
            @activeService={{this.activeService}}
            as |ctx|
        >
            <ctx.links as |links|>
                {{! <links.quickfiles /> }}
                {{! <links.myprojects /> }}
                <links.myregistrations />
                <links.search route=this.searchRoute />
                <links.support route=this.supportRoute />
                <links.donate />
            </ctx.links>
        </header.navbar>
    </OsfHeader>
{{/if}}

<div
    data-analytics-scope='Registries'
    local-class='RegistriesLayout'
    class={{if this.newStyleEnabled 'RegistriesStyle'}}
>
    {{outlet}}
</div>
