<div
    data-test-file-browser-item='{{this.item.id}}'
    local-class='file-row {{if this.shouldIndent 'indent'}}'
    role='button'
    tabindex='0'
    {{on 'click' (action this.onClick)}}
    {{on 'keypress' (action this.onKeyPress)}}
>
    {{#if this.isCurrentFolder}}
        <div data-test-current-folder local-class='name-container'>
            <FaIcon @icon='angle-left' @fixedWidth={{true}} />
            <span local-class='filename'>{{this.item.itemName}}</span>
        </div>
        <span local-class='delete-button'>
            <DeleteButton
                data-test-delete-current-folder='{{this.item.id}}'
                @buttonLabel={{t 'osf-components.files-widget.delete'}}
                @delete={{fn @filesManager.deleteFileTask this.item}}
                @small={{true}}
                @noBackground={{true}}
                @modalTitle={{t 'osf-components.files-widget.confirm_delete.title_folder' filename=this.item.itemName}}
                @confirmButtonText={{t 'osf-components.files-widget.delete'}}
                @shouldStopPropagation={{true}}
            >
                <div local-class='destroy-red'>{{t 'osf-components.files-widget.confirm_delete.body'}}</div>
            </DeleteButton>
        </span>
    {{else}}
        <div local-class='name-container'>
            <FileIcon @item={{this.item}} />
            <span data-test-file-name local-class='filename'>{{this.item.itemName}}</span>
        </div>
        {{#unless this.item.isFolder}}
            <time local-class='date-modified' data-test-file-date-modified>
                {{this.date}}
            </time>
            <span local-class='delete-button'>
                <DeleteButton
                    data-test-delete-file='{{this.item.id}}'
                    @buttonLabel={{t 'osf-components.files-widget.delete'}}
                    @delete={{fn @filesManager.deleteFileTask this.item}}
                    @small={{true}}
                    @noBackground={{true}}
                    @modalTitle={{t 'osf-components.files-widget.confirm_delete.title_file' filename=this.item.itemName}}
                    @confirmButtonText={{t 'osf-components.files-widget.delete'}}
                    @shouldStopPropagation={{true}}
                >
                    <div local-class='destroy-red'>{{t 'osf-components.files-widget.confirm_delete.body'}}</div>
                </DeleteButton>
            </span>
        {{/unless}}
    {{/if}}
</div>
