<div data-test-contributor-card local-class='CardContainer'>
    <div data-test-contributor-card-main local-class='MainSection'>
        <span local-class='Handle'>
            {{#this.item.handle}}
                <FaIcon @icon='sort' />
            {{/this.item.handle}}
        </span>
        <span local-class='CardSection'>
            <img
                data-test-contributor-gravatar
                class='m-r-xs'
                src={{@contributor.users.links.profile_image}}
                alt={{@contributor.users.fullName}}
                height='30'
                width='30'
            >
            <OsfLink
                data-test-contributor-link={{@contributor.id}}
                data-analytics-name='View user'
                @route='guid-user'
                @models={{array @contributor.users.id}}
            >
                {{@contributor.users.fullName}}
            </OsfLink>
        </span>
        <span
            data-test-contributor-permission={{@contributor.id}}
            local-class='CardSection'
        >
            <PowerSelect
                @selected={{@contributor.permission}}
                @options={{this.permissionOptions}}
                @onchange={{fn @manager.updateContributorPermission @contributor}}
                as |option|
            >
                <span data-test-contributor-permission-choice={{option}}>
                    {{t (concat 'osf-components.contributors.permissions.' option)}}
                </span>
            </PowerSelect>
        </span>
        <span data-test-contributor-citation={{@contributor.id}} local-class='CardSection'>
            <Input
                @type='checkbox'
                @checked={{readonly @contributor.bibliographic}}
                data-test-contributor-citation-checkbox
                data-analytics-name='Toogle isBibliographic'
                {{on 'click' (fn @manager.toggleContributorIsBibliographic @contributor)}}
            />
        </span>
    </div>
</div>
