<div data-test-contributor-card={{@contributor.id}}
    local-class='CardContainer'>
    <div data-test-contributor-card-main local-class='MainSection'>
        <span local-class='CardSection'>
            <span local-class='Handle'>
                {{#@item.handle aria-label=(t 'osf-components.contributors.reorderContributor.reorderContributor')}}
                    <span data-test-sortable-handle={{@contributor.id}}>
                        {{t 'osf-components.contributors.reorderContributor.dragHandle'}}
                    </span>
                {{/@item.handle}}
            </span>
            <img
                data-test-contributor-gravatar
                class='m-r-xs'
                src={{@contributor.users.links.profile_image}}
                alt={{@contributor.users.fullName}}
                height='30'
                width='30'
            >
            <OsfLink
                data-test-contributor-link={{@contributor.id}}
                data-analytics-name='View user'
                @route='guid-user'
                @models={{array @contributor.users.id}}
            >
                {{@contributor.users.fullName}}
            </OsfLink>
        </span>
        <span
            data-test-contributor-permission={{@contributor.id}}
            local-class='CardSection'
        >
            <PowerSelect
                @selected={{@contributor.permission}}
                @options={{this.permissionOptions}}
                @onChange={{fn @manager.updateContributorPermission @contributor}}
                @searchEnabled={{false}}
                as |option|
            >
                <span data-test-contributor-permission-choice={{option}}>
                    {{t (concat 'osf-components.contributors.permissions.' option)}}
                </span>
            </PowerSelect>
        </span>
        <span data-test-contributor-citation={{@contributor.id}} local-class='CardSectionSmall'>
            <Input
                @type='checkbox'
                @checked={{readonly @contributor.bibliographic}}
                aria-label={{t 'app_components.project_contributors.list.citation'}}
                data-test-contributor-citation-checkbox
                data-analytics-name='Toogle isBibliographic'
                {{on 'click' (fn @manager.toggleContributorIsBibliographic @contributor)}}
            />
        </span>
        <span
            data-test-contributor-caret={{@contributor.id}}
            data-analytics-name='{{if this.showDropdown 'Collapse' 'Expand'}} employment and education info'
            aria-label={{if this.showDropdown
                (t 'osf-components.contributors.educationAndEmployment.collapse')
                (t 'osf-components.contributors.educationAndEmployment.expand')
            }}
            local-class='CardSectionXS'
            role='button'
            {{on 'click' this.toggleDropdown}}
        >
            <FaIcon
                @icon={{if this.showDropdown 'caret-up' 'caret-down'}}
            />
        </span>
        <span local-class='CardSectionXS'>
            <DeleteButton
                data-test-contributor-remove={{@contributor.id}}
                @small={{true}}
                @noBackground={{true}}
                @delete={{fn @manager.removeContributor @contributor}}
                @modalTitle={{t 'osf-components.contributors.removeContributor.confirmRemove.title'}}
                @modalBody={{t
                    'osf-components.contributors.removeContributor.confirmRemove.body'
                    userName=(if @contributor.unregisteredContributor
                        @contributor.unregisteredContributor
                        @contributor.users.fullName
                    )
                }}
                @confirmButtonText={{t 'osf-components.contributors.removeContributor.confirmRemove.button'}}
            />
        </span>
    </div>
    {{#if this.showDropdown}}
        <div data-test-contributor-card-dropdown local-class='DropdownSection'>
            <ul local-class='DropdownList'>
                {{#if @contributor.users.employment}}
                    {{#each @contributor.users.employment as |item|}}
                        <li>
                            {{#if (and item.institution item.department)}}
                                {{concat item.institution ', ' item.department}}
                            {{else}}
                                {{item.institution}}
                            {{/if}}
                        </li>
                    {{/each}}
                {{else}}
                    <li>
                        {{t 'osf-components.contributors.noEmployment'}}
                    </li>
                {{/if}}
                {{#if @contributor.users.education}}
                    {{#each @contributor.users.education as |item|}}
                        <li>
                            {{#if (and item.institution item.department)}}
                                {{concat item.institution ', ' item.department}}
                            {{else}}
                                {{item.institution}}
                            {{/if}}
                        </li>
                    {{/each}}
                {{else}}
                    <li>
                        {{t 'osf-components.contributors.noEducation'}}
                    </li>
                {{/if}}
            </ul>
        </div>
    {{/if}}
</div>
