<div
    data-test-collection-search-result-node={{this.item.id}}
    data-analytics-scope='Collections search results'
    class='row'
>
    <div class='col-xs-12'>
        {{!Title}}
        <h4>
            <OsfLink
                data-test-collection-search-result-node-title
                @href={{this.item.links.html}}
                data-analytics-name='Result Title'
            >
                {{this.item.title}}
            </OsfLink>
        </h4>
    </div>

    <div class='col-xs-12'>
        <ContributorList @node={{this.item}} />

        {{!Description}}
        <p>
            <div
                data-test-collection-search-result-node-description
                class='text-muted m-t-sm'>
                {{#if this.showBody}}
                    {{unescape-xml-entities this.item.description}}
                {{else}}
                    {{#if this.abbreviation}}
                        {{this.abbreviation}}
                        {{#if this.abbreviated}}
                            <span class='text-muted'>{{t 'general.ellipsis'}}</span>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </p>

        {{!Last edited on on}}
        {{#if this.item.dateModified}}
            <div
                data-test-collection-search-result-node-date-modified
                class='m-t-sm'
            >
                <em>
                    {{t
                        'discover.search_results.lastEdited'
                        date=(moment-format this.item.dateModified 'YYYY-MM-DD')
                    }}
                </em>
            </div>
        {{/if}}

        <div class='m-t-sm'>
            {{yield}}
        </div>
    </div>
</div>
