<div class='col-xs-12'>
    {{!Title}}
    <h4>
        <a href='{{this.item.links.html}}'>{{this.item.title}}</a>
    </h4>
</div>

{{!-- <div class="col-xs-4 text-right">
    <span role="button" local-class="pointer"
        onclick={{action addFilter 'collected-type' collectedType}}
    >
        {{collectedType}}
    </span>
</div> --}}

<div class='col-xs-12'>
    {{contributor-list node=this.item}}

    {{#if this.subjects}}
        {{collection-subjects-list subjects=this.subjects onClickSubject=(action @addTaxonomyFilter)}}
    {{/if}}
    {{#if @extraSubjects}}
        <span class='text-muted'>+{{@extraSubjects.length}}</span>
    {{/if}}

    {{!Description}}
    <p>
        <div class='text-muted m-t-sm'>
            {{#if this.showBody}}
                {{unescape-xml-entities this.item.description}}
            {{else}}
                {{#if this.abbreviation}}
                    {{this.abbreviation}}
                    {{#if this.abbreviated}}
                        <span class='text-muted'>{{t 'general.ellipsis'}}</span>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </p>

    {{!Last edited on on}}
    {{#if this.item.dateModified}}
        <div class='m-t-sm'>
            <em>
                {{t
                    'discover.search_results.lastEdited'
                    date=(moment-format this.item.dateModified 'YYYY-MM-DD')
                }}
            </em>
        </div>
    {{/if}}

    <div class='m-t-sm'>
        {{yield}}
    </div>
</div>
