{{#unless this.registration.isRoot}}
    <div data-test-root-link local-class='AboutComponent'>
        {{t 'registries.overview.component_of'}}
        <OsfLink
            @route='resolve-guid'
            @models={{array this.root.id}}
        >
            {{this.root.title}}
        </OsfLink>
    </div>
{{/unless}}

{{#if this.registration}}
    <Overview::-Components::DiffManager
        @registration={{this.registration}}
        @headRevisionId={{this.overview.revisionId}}
    as |diffManager|>
        <Registries::OverviewFormRenderer
            @registration={{this.registration}}
            @revision={{diffManager.headRevision}}
            @updatedResponseIds={{diffManager.updatedKeys}}
        />
    </Overview::-Components::DiffManager>
{{/if}}
