{{#unless this.registration.isRoot}}
    <div data-test-root-link local-class='AboutComponent'>
        {{t 'registries.overview.component_of'}}
        <OsfLink
            @route='resolve-guid'
            @models={{array this.root.id}}
        >
            {{this.root.title}}
        </OsfLink>
    </div>
{{/unless}}

{{#if this.registration}}
    <Registries::OverviewFormRenderer
        @registration={{this.registration}}
        @revisionId={{this.overview.revisionId}}
    />
{{/if}}
