<div
    data-test-radio-button-group
    local-class='RadioButtonGroup'
    class={{@class}}
    ...attributes
>
    {{#each this.options as |option|}}
        <div
            data-test-radio-input
            local-class='RadioButton'
        >
            <FormControls::RadioButtonGroup::RadioButton
                @changeset={{@changeset}}
                @onchange={{@onInput}}
                @valuePath={{@valuePath}}
                @option={{option}}
                @disabled={{this.disabled}}
            >
            </FormControls::RadioButtonGroup::RadioButton>
        </div>
    {{/each}}
    {{#if @shouldShowMessages}}
        <ValidationErrors
            @changeset={{@changeset}}
            @key={{@valuePath}}
        />
    {{/if}}
</div>