{{page-title (t 'preprints.submit.title-submit' documentType=this.provider.documentType)}}

<Preprints::-Components::Submit::PreprintStateMachine 
    @provider={{this.model.provider}}
as |manager|>
    <OsfLayout @backgroundClass={{local-class 'submit-page-container'}} as |layout|>
        <layout.heading local-class='header-container'
         {{with-branding this.model.brand}}
        >
            <div local-class='header'>
                {{t 'preprints.submit.title-submit'
                    documentType = this.model.provider.documentType.singularCapitalized
                }}
            </div>
        </layout.heading>
        <layout.left local-class='left-container'>
            <Preprints::-Components::Submit::PreprintStateMachine::StatusFlow
                @manager={{manager}}
            />
        </layout.left>
        <layout.main local-class='main-container'>
            <Preprints::-Components::Submit
                @manager={{manager}}
            />
        </layout.main>
        <layout.right local-class='right-container'>
            <Preprints::-Components::Submit::PreprintStateMachine::ActionFlow
                @manager={{manager}}
             />
        </layout.right>
    </OsfLayout>
</Preprints::-Components::Submit::PreprintStateMachine>

