<OsfDialog
    @isOpen={{@openModal}}
    @onClose={{action @cancel}}
    as |dialog|
>
    <dialog.heading>
        <h3 data-test-collection-submission-confirmation-modal-header>
            {{t 'collections.collection_submission_confirmation_modal.header'}}
        </h3>
    </dialog.heading>
    <dialog.main>
        {{#if @showResubmitModal}}
            <p data-test-collection-submission-confirmation-modal-resubmit>
                {{t 'collections.collection_submission_confirmation_modal.body_resubmit'}}
            </p>
            <div>
                <Textarea
                    data-test-collection-submission-confirmation-modal-reason
                    local-class='remove-textarea'
                    @placeholder={{t 'collections.collection_submission_confirmation_modal.resubmit_reason_placeholder'}}
                    @value={{this.removeReason}}
                />
            </div>
        {{else}}
            <p data-test-collection-submission-confirmation-modal-body>
                {{t 'collections.collection_submission_confirmation_modal.body'}}
            </p>
            {{#if @collectionIsModerated}}
                <p data-test-collection-submission-confirmation-modal-moderated-body>
                    {{t 'collections.collection_submission_confirmation_modal.body_moderated'}}
                </p>
            {{/if}}
        {{/if}}
    </dialog.main>
    <dialog.footer data-analytics-scope='Collection - Submit'>
        <Button
            data-test-collection-submission-confirmation-modal-cancel-button
            data-analytics-name='Cancel submission'
            {{on 'click' (action dialog.close)}}
        >
            {{t 'general.cancel'}}
        </Button>
        {{#if @showResubmitModal}}
            <Button
                data-test-collection-submission-confirmation-modal-resubmit-button
                data-analytics-name='Confirm submission'
                {{on 'click' (action @resubmitToCollection this.removeReason)}}
                @type='create'
            >
                {{t 'collections.collection_submission_confirmation_modal.resubmit'}}
            </Button>
        {{else}}
            <Button
                data-test-collection-submission-confirmation-modal-add-button
                data-analytics-name='Confirm submission'
                {{on 'click' (action @addToCollection)}}
                @type='create'
            >
                {{t 'collections.collection_submission_confirmation_modal.add_button'}}
            </Button>
        {{/if}}
    </dialog.footer>
</OsfDialog>