<OsfDialog as |dialog|>
    <dialog.trigger>
        <Button
            @type='destroy'
            {{on 'click' dialog.open}}
        >
            <FaIcon @icon='trash'/>
            {{t 'general.delete'}}
        </Button>
    </dialog.trigger>
    <dialog.heading>
        {{#if this.shouldShowFailureModal}}
            {{t 'osf-components.file-browser.delete_file_modal.delete_failed' itemCount=this.failedFiles.length}}
        {{else if this.shouldShowSuccessModal}}
            {{t 'osf-components.file-browser.delete_file_modal.delete_success' itemCount=this.deletedFiles.length}}
        {{else}}
            {{t 'osf-components.file-browser.delete_file_modal.heading' itemCount=@items.length}}
        {{/if}}
    </dialog.heading>
    <dialog.main>
        <ul local-class='ItemList'>
            {{#if this.shouldShowFailureModal}}
                {{#each this.failedFiles as |item|}}
                    <li local-class='ListItem'>
                        <div>
                            {{#if item.isFile}}
                                <FaIcon @icon='file-alt' />
                            {{else}}
                                <FaIcon @icon='folder' />
                            {{/if}}
                            <span local-class='ItemName'>{{item.name}}</span>
                        </div>
                        {{#if item.delete.isRunning}}
                            <FaIcon @icon='spinner' @pulse={{true}} />
                        {{else}}
                            <Button
                                @layout='fake-link'
                                aria-label={{t 'osf-components.file-browser.delete_file_modal.retry'}}
                                {{on 'click' (perform this.retryDelete item)}}
                            >
                                <FaIcon @icon='undo' />
                            </Button>
                        {{/if}}
                    </li>
                {{/each}}    
            {{else if this.shouldShowSuccessModal}}
                {{#each this.deletedFiles as |item|}}
                    <li local-class='ListItem'>
                        <div>
                            {{#if item.isFile}}
                                <FaIcon @icon='file-alt' />
                            {{else}}
                                <FaIcon @icon='folder' />
                            {{/if}}
                            <span local-class='ItemName'>{{item.name}}</span>
                        </div>
                        <FaIcon local-class='CheckIcon' @icon='check' />
                    </li>
                {{/each}}
            {{else}}
                {{#each @items as |item|}}
                    <li local-class='ListItem'>
                        <div>
                            {{#if item.isFile}}
                                <FaIcon @icon='file-alt' />
                            {{else}}
                                <FaIcon @icon='folder' />
                            {{/if}}
                            <span local-class='ItemName'>{{item.name}}</span>
                        </div>
                    </li>
                {{/each}}
            {{/if}}
        </ul>
    </dialog.main>
    <dialog.footer>
        {{#if (or this.shouldShowFailureModal this.shouldShowSuccessModal)}}
            <Button
                @type='secondary'
                {{on 'click' (
                    queue
                    this.reset
                    dialog.close
                )}}
            >
                {{t 'general.done'}}
            </Button>
        {{else}}
            <Button
            @type='secondary'
            {{on 'click' dialog.close}}
            >
                {{t 'general.cancel'}}
            </Button>
            <Button
                @type='destroy'
                @disabled={{this.confirmDelete.isRunning}}
                {{on 'click' (perform this.confirmDelete)}}
            >
                {{#if this.confirmDelete.isRunning}}
                    <FaIcon @icon='spinner' @pulse={{true}} />
                {{else}}
                    {{t 'general.delete'}}
                {{/if}}
            </Button>
        {{/if}}
    </dialog.footer>
</OsfDialog>