{{~#if this.contributorLink~}}
    {{!--
        using <a> instead of <Link> so handlebars `~` can eat up whitespace
        TODO: switch to `{{#osf-link}}` invocation when <Link> is renamed
    --}}
    <a
        data-test-contributor-name={{@contributor.users.id}}
        data-analytics-name='Contributor name'
        href={{this.contributorLink}}
    >
        {{~this.contributorName~}}
    </a>
{{~else~}}
    {{~#if (and this.isUnregistered this.shouldEnableClaimUser)}}
        <ContributorList::UnregisteredContributor @contributor={{this.contributor}} @nodeId={{@nodeId}} />
    {{else}}
        <span data-test-contributor-name={{@contributor.users.id}}>
            {{~this.contributorName~}}
        </span>
    {{/if}}
{{~/if~}}