{{page-title (t 'institutions.title')}}
<ScheduledBanner />
<div
    data-analytics-scope='Institutions'
    local-class='institution-container {{if this.isMobile 'mobile'}}'
    role='main'
>
    <div
        data-test-insitutions-header
        data-analytics-scope='Header'
        local-class='header'
    >
        <div local-class='logo'></div>
        <p local-class='information lead'>
            {{t 'institutions.description'}}
            <br>
            <OsfLink
                data-test-read-more-link
                data-analytics-name='Read more'
                local-class='link'
                @href='https://cos.io/institutions/'
            >
                {{t 'institutions.read_more'}}
            </OsfLink>
        </p>
    </div>
    <div
        data-test-instituions-browser
        local-class='browser-container'
    >
        <div
            data-test-institutions-table
            local-class='table'
        >
            <div local-class='sort-container'>
                <div local-class='sort-direction'>
                    <span>
                        {{t 'institutions.title'}}
                    </span>
                    <SortButton
                        data-test-sort-by-title
                        @sortAction={{action this.sort}}
                        @sort={{this.sortOrder}}
                        @sortBy='title'
                        local-class='button-margin'
                    />
                </div>
                <div local-class='sort-input'>
                    <Input
                        data-test-institutions-filter='filter'
                        aria-label={{t 'institutions.search_placeholder'}}
                        placeholder={{t 'institutions.search_placeholder'}}
                        class='form-control'
                        @value={{this.textValue}}
                        @type='text'
                        {{on 'keypress' (perform this.trackFilter)}}
                    />
                </div>
            </div>
            <div data-test-institutions-list local-class='institution-container'>
                {{#each this.institutions as |institution|}}
                    <OsfLink
                        data-test-visit-institution={{institution.name}}
                        data-analytics-name='Visit institution'
                        local-class='institution'
                        @href={{institution.links.html}}
                    >
                        {{#unless this.isMobile}}
                            <div local-class='logo-container'>
                                <img
                                    data-test-institution-logo={{institution.name}}
                                    local-class='logo'
                                    alt='{{institution.name}}'
                                    src='{{institution.logoUrl}}'
                                >
                            </div>
                        {{/unless}}
                        <div local-class='title' data-test-institution-name>
                            {{institution.name}}
                        </div>
                    </OsfLink>
                {{/each}}
            </div>
            {{#if this.hasMore}}
                <Button
                    data-test-more-institutions
                    aria-label={{t 'institutions.load_more'}}
                    data-analytics-name='Next page'
                    local-class='more'
                    @layout='fake-link'
                    {{on 'click' (action 'next')}}
                >
                    <FaIcon @icon='chevron-down' local-class='pagination' />
                </Button>
            {{/if}}
        </div>
    </div>
    <div
        data-analytics-scope='Footer'
        local-class='footer-container'
    >
        <p
            data-test-insitutions-footer
            local-class='lead'
        >
            {{t 'institutions.footer'}}
            <OsfLink
                data-analytics-name='Contact us'
                @href='https://cos.io/contact'
            >
                {{t 'institutions.contact_us'}}
            </OsfLink>
        </p>
    </div>
</div>
