<Button
    @type='primary'
    {{on 'click' (action (mut this.showModal) true)}}
>
    {{t 'registries.overview.embargo.action'}}
</Button>

<OsfDialog
    @isOpen={{this.showModal}}
    @onClose={{action this.close}}
    @renderInPlace={{true}}
    as |dialog|
>
    <dialog.heading>
        <h3>{{t 'registries.overview.embargo.action'}}</h3>
    </dialog.heading>

    <dialog.main>
        <p>
            {{t 'registries.overview.embargo.confirm_text'}}
        </p>
    </dialog.main>

    <dialog.footer>
        <Button
            disabled={{this.endEmbargo.isRunning}}
            {{on 'click' (action dialog.close)}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-analytics-name='Terminate embargo early'
            @type='destroy'
            {{on 'click' (action (perform this.endEmbargo))}}
        >
            {{t 'registries.overview.embargo.confirm_button_text'}}
        </Button>
    </dialog.footer>
</OsfDialog>
