<div data-analytics-scope='Create'>
    <div>
        <OsfLink
            data-test-back-to-tokens
            data-analytics-name='Back to list'
            @route='settings.tokens'
        >
            {{fa-icon 'arrow-left'}}
            {{t 'settings.tokens.backToList'}}
        </OsfLink>
    </div>
    <h4>{{t 'settings.tokens.createToken'}}</h4>

    {{#settings/tokens/-components/token-form
        onSave=(action 'onSave')
        as |form|
    }}
        <OsfButton
            data-test-create-token-button
            data-analytics-name='Submit button'
            @type='primary'
            @buttonType='submit'
            @disabled={{form.disabled}}
        >
            {{t 'settings.tokens.createToken'}}
        </OsfButton>
    {{/settings/tokens/-components/token-form}}
</div>