<div>
    <h4 data-test-preprint-doi-heading>
        {{t 'preprints.detail.preprint_doi' documentType=this.documentType}}
    </h4>
    {{#if @versions}}
        <PowerSelect
            data-test-version-select-dropdown
            local-class='version-dropdown'
            @options={{@versions}}
            @selected={{this.selectedVersion}}
            @onChange={{this.selectVersion}}
            as |version|
        >
            <span
                data-test-preprint-version={{version.version}}
            >
                {{#let (get this.reviewStateLabelKeyMap version.reviewsState) as |reviewStateLabelKey|}}
                    {{t 'preprints.detail.version_doi_title' number=version.version}}
                    {{#if reviewStateLabelKey}}
                        {{t (get this.reviewStateLabelKeyMap version.reviewsState)}}
                    {{/if}}
                {{/let}}
            </span>
        </PowerSelect>
    {{else}}
        <p>{{t 'preprints.detail.no_versions'}}</p>
    {{/if}}
    {{#if this.selectedVersion}}
        {{#if this.selectedVersion.preprintDoiUrl}}
            {{#if this.selectedVersion.preprintDoiCreated}}
                <OsfLink
                    data-test-linked-doi-url
                    data-analytics-name='preprint doi'
                    @href={{this.selectedVersion.preprintDoiUrl}}
                >
                    {{this.selectedVersion.preprintDoiUrl}}
                </OsfLink>
            {{else}}
                <p data-test-unlinked-doi-url> {{this.selectedVersion.preprintDoiUrl}} </p>
                <p data-test-unlinked-doi-description> {{t 'preprints.detail.preprint_pending_doi_minted'}} </p>
            {{/if}}
        {{else}}
            <p data-test-no-doi-text>
                {{#if (not this.selectedVersion.public)}}
                    {{t 'preprints.detail.preprint_pending_doi' documentType=this.documentType}}
                {{else if (and this.provider.reviewsWorkflow (not this.preprint.isPublished))}}
                    {{t 'preprints.detail.preprint_pending_doi_moderation'}}
                {{else}}
                    {{t 'preprints.detail.no_doi'}}
                {{/if}}
            </p>
        {{/if}}
    {{/if}}
</div>
