{{!-- Select profile for existing accounts --}}
{{!-- Setup new profile for new account --}}
{{t 'addons.login.heading' providerName='placeholder'}}
<Button
    {{on 'click' this.cancel}}
>
    {{t 'general.cancel'}}
</Button>
<Button
    {{on 'click' this.connectAccount}}
>
    {{t 'general.ok'}}
</Button>
