<CollectionSubmissionConfirmationModal 
    @openModal={{this.showSubmitModal}}
    @addToCollection={{action (perform this.save)}} 
    @cancel={{action this.resetShowSubmitModal}}
/>
<div class='submit-header' local-class='header'>
    <h1>{{t (concat this.i18nKeyPrefix (if this.edit 'update' 'add') '_header')}}</h1>
</div>
<div local-class='body'>
    {{#submit-sections
        activeSection=this.activeSection
        savedSections=this.savedSections
        as |sections|
    }}
        {{#sections.section
            section=this.sections.project
            title=(t (concat this.i18nKeyPrefix 'project_select_title'))
            continue=(action 'nextSection' this.sections.project)
            editable=(not this.edit)
            as |section|
        }}
            {{#section.active}}
                {{collection-item-picker
                    class='col-xs-12'
                    collection=this.collection
                    projectSelected=(action 'projectSelected')
                    validationChanged=(action (mut this.isProjectSelectorValid))
                }}
            {{/section.active}}
            {{#section.complete}}
                <p>
                    <em>{{t (concat this.i18nKeyPrefix 'project_select_project_label')}}</em>
                    <span>{{this.collectionItem.title}}</span>
                </p>
            {{/section.complete}}
        {{/sections.section}}

        {{#sections.section
            section=this.sections.projectMetadata
            tooltip=(t (concat this.i18nKeyPrefix 'closed_tooltip'))
            title=(t (concat this.i18nKeyPrefix 'project_metadata_title'))
            description=(t (concat this.i18nKeyPrefix 'project_metadata_description'))
            as |section|
        }}
            {{#section.active}}
                {{#if this.collectionItem}}
                    {{project-metadata
                        node=this.collectionItem
                        makePublicOnSave=true
                        continue=(action 'nextSection')
                    }}
                {{else}}
                    <div class='text-center'>
                        {{fa-icon 'spinner' pulse=true size=2}}
                    </div>
                {{/if}}
            {{/section.active}}
            {{#section.complete}}
                <p>
                    <em>{{t (concat this.i18nKeyPrefix 'project_metadata_title_label')}}</em>
                    <span>{{this.collectionItem.title}}</span>
                </p>
                <p>
                    <em>{{t (concat this.i18nKeyPrefix 'project_metadata_description_label')}}</em>
                    <span>{{this.collectionItem.description}}</span>
                </p>
                <p>
                    <em>{{t (concat this.i18nKeyPrefix 'project_metadata_license_label')}}</em>
                    <span>{{this.collectionItem.license.name}}</span>
                </p>
                <p>
                    <em>{{t (concat this.i18nKeyPrefix 'project_metadata_tags_label')}}</em>
                    {{#each this.collectionItem.tags as |tag|}}
                        <div local-class='subject'>{{tag}}</div>
                    {{/each}}
                </p>
            {{/section.complete}}
        {{/sections.section}}

        {{#sections.section
            section=this.sections.projectContributors
            tooltip=(t (concat this.i18nKeyPrefix 'closed_tooltip'))
            title=(t (concat this.i18nKeyPrefix 'project_contributors_title'))
            description=(t (concat this.i18nKeyPrefix 'project_contributors_description'))
            as |section|
        }}
            {{#section.active}}
                {{project-contributors
                    node=this.collectionItem
                    contributors=this.collectionItem.contributors
                    discard=(action 'noop')
                    continue=(action 'nextSection')
                }}
            {{/section.active}}
            {{#section.complete}}
                <p>{{contributor-list node=this.collectionItem shouldTruncate=false}}</p>
            {{/section.complete}}
        {{/sections.section}}

        {{#sections.section
            section=this.sections.collectionSubjects
            tooltip=(t (concat this.i18nKeyPrefix 'closed_tooltip'))
            title=(t (concat this.i18nKeyPrefix 'subjects_title'))
            description=(t (concat this.i18nKeyPrefix 'subjects_description'))
            as |section|
        }}
            {{#section.active}}
                {{subject-picker
                    id='subjects'
                    currentSubjects=this.collectedMetadatum.subjects
                    model=this.collectedMetadatum
                    continue=(action 'nextSection')
                }}
            {{/section.active}}
            {{#section.complete}}
                {{collection-subjects-list subjects=this.collectedMetadatum.displaySubjects onClickSubject=(action this.noop)}}
            {{/section.complete}}
        {{/sections.section}}

        {{#sections.section
            section=this.sections.collectionMetadata
            tooltip=(t (concat this.i18nKeyPrefix 'closed_tooltip'))
            title=(t (concat this.i18nKeyPrefix 'collection_metadata_title'))
            as |section|
        }}
            {{#section.active}}
                {{collection-metadata
                    collection=this.collection
                    collectedMetadatum=this.collectedMetadatum
                    continue=(action 'nextSection')
                }}
            {{/section.active}}
            {{#section.complete}}
                {{#each this.choiceFields as |field|}}
                    <p>
                        <em>{{t field.label}}</em>
                        <span>{{field.value}}</span>
                    </p>
                {{/each}}
            {{/section.complete}}
        {{/sections.section}}

        <section class='row' local-class='last-buttons'>
            <div class='col-xs-12 text-right'>
                <button class='btn btn-default' {{action 'cancel'}}>
                    {{t (concat this.i18nKeyPrefix 'cancel')}}
                </button>
                {{#if this.edit}}
                    <button class='btn btn-success' {{action (perform this.save)}}>
                        {{t (concat this.i18nKeyPrefix 'update' '_button')}}
                    </button>
                {{else}}
                    <button class='btn btn-success' {{action this.setShowSubmitModal}} disabled={{not (eq this.activeSection this.sections.submit)}}>
                        {{t (concat this.i18nKeyPrefix 'add' '_button')}}
                    </button>
                {{/if}}
            </div>
        </section>
    {{/submit-sections}}
</div>