<CollectionSubmissionConfirmationModal
    @openModal={{this.showSubmitModal}}
    @addToCollection={{action (perform this.save)}}
    @cancel={{action this.resetShowSubmitModal}}
/>
<div class='submit-header' local-class='header'>
    <h1>{{t (concat this.intlKeyPrefix (if this.edit 'update' 'add') '_header')}}</h1>
</div>
<div local-class='body'>
    <SubmitSections
        data-test-collections-submit-sections
        @activeSection={{this.activeSection}}
        @savedSections={{this.savedSections}}
        as |sections|
    >
        <sections.section
            data-test-collections-submit-section='project'
            @section={{this.sections.project}}
            @title={{t (concat this.intlKeyPrefix 'project_select_title')}}
            @continue={{action this.nextSection this.sections.project}}
            @editable={{not this.edit}}
            as |section|
        >
            <section.active>
                <CollectionItemPicker
                    @class='col-xs-12'
                    @collection={{this.collection}}
                    @projectSelected={{action this.projectSelected}}
                    @validationChanged={{action (mut this.isProjectSelectorValid)}}
                />
            </section.active>
            <section.complete>
                <p>
                    <em data-test-project-complete-title-label>
                        {{t (concat this.intlKeyPrefix 'project_select_project_label')}}
                    </em>
                    <span data-test-project-complete-title-value>
                        {{this.collectionItem.title}}
                    </span>
                </p>
            </section.complete>
        </sections.section>

        <sections.section
            data-test-collections-submit-section='projectMetadata'
            @section={{this.sections.projectMetadata}}
            @tooltip={{t (concat this.intlKeyPrefix 'closed_tooltip')}}
            @title={{t (concat this.intlKeyPrefix 'project_metadata_title')}}
            @description={{t (concat this.intlKeyPrefix 'project_metadata_description')}}
            as |section|
        >
            <section.active>
                {{#if this.collectionItem}}
                    <ProjectMetadata
                        @node={{this.collectionItem}}
                        @makePublicOnSave={{true}}
                        @continue={{action this.nextSection}}
                    />
                {{else}}
                    <div class='text-center'>
                        <FaIcon
                            @icon='spinner'
                            @pulse={{true}}
                            @size={{2}}
                        />
                    </div>
                {{/if}}
            </section.active>
            <section.complete>
                <p>
                    <em data-test-project-metadata-complete-title-label>
                        {{t (concat this.intlKeyPrefix 'project_metadata_title_label')}}
                    </em>
                    <span data-test-project-metadata-complete-title-value>
                        {{this.collectionItem.title}}
                    </span>
                </p>
                <p>
                    <em data-test-project-metadata-complete-description-label>
                        {{t (concat this.intlKeyPrefix 'project_metadata_description_label')}}
                    </em>
                    <span data-test-project-metadata-complete-description-value>
                        {{this.collectionItem.description}}
                    </span>
                </p>
                <p>
                    <em data-test-project-metadata-complete-license-name-label>
                        {{t (concat this.intlKeyPrefix 'project_metadata_license_label')}}
                    </em>
                    <span data-test-project-metadata-complete-license-name-value>
                        {{this.collectionItem.license.name}}
                    </span>
                </p>
                <p>
                    <em data-test-project-metadata-complete-tags-label>
                        {{t (concat this.intlKeyPrefix 'project_metadata_tags_label')}}
                    </em>
                    {{#each this.collectionItem.tags as |tag|}}
                        <div
                            data-test-project-metadata-complete-tag={{tag}}
                            local-class='subject'
                        >
                            {{tag}}
                        </div>
                    {{/each}}
                </p>
            </section.complete>
        </sections.section>

        <sections.section
            data-test-collections-submit-section='projectContributors'
            @section={{this.sections.projectContributors}}
            @tooltip={{t (concat this.intlKeyPrefix 'closed_tooltip')}}
            @title={{t (concat this.intlKeyPrefix 'project_contributors_title')}}
            @description={{t (concat this.intlKeyPrefix 'project_contributors_description')}}
            as |section|
        >
            <section.active>
                <ProjectContributors
                    data-test-collection-project-contributors
                    @node={{this.collectionItem}}
                    @contributors={{this.collectionItem.contributors}}
                    @discard={{action this.noop}}
                    @onAddContributor={{action this.onAddContributor}}
                    @continue={{action this.nextSection}}
                />
            </section.active>
            <section.complete>
                <p>
                    <ContributorList
                        @model={{this.collectionItem}}
                        @shouldTruncate={{false}}
                    />
                </p>
            </section.complete>
        </sections.section>

        <sections.section
            data-test-collections-submit-section='collectionMetadata'
            @section={{this.sections.collectionMetadata}}
            @tooltip={{t (concat this.intlKeyPrefix 'closed_tooltip')}}
            @title={{t (concat this.intlKeyPrefix 'collection_metadata_title')}}
            as |section|
        >
            <section.active>
                <CollectionMetadata
                    data-test-collection-metadata
                    @collection={{this.collection}}
                    @collectedMetadatum={{this.collectedMetadatum}}
                    @continue={{action this.nextSection}}
                />
            </section.active>
            <section.complete>
                {{#each this.choiceFields as |field|}}
                    <p data-test-collection-metadata-complete-field={{field.name}}>
                        <em data-test-collection-metadata-complete-field-label>
                            {{t field.label}}
                        </em>
                        <span data-test-collection-metadata-complete-field-value>
                            {{field.value}}
                        </span>
                    </p>
                {{/each}}
            </section.complete>
        </sections.section>

        <section
            data-test-collections-submit-section='buttons'
            class='row'
            local-class='last-buttons'
        >
            <div class='col-xs-12 text-right'>
                <button
                    data-test-collections-submit-cancel-button
                    type='button'
                    class='btn btn-default'
                    {{action this.cancel}}
                >
                    {{t (concat this.intlKeyPrefix 'cancel')}}
                </button>
                {{#if this.edit}}
                    <button
                        data-test-collections-submit-update-button
                        data-analytics-name='Update'
                        type='button'
                        class='btn btn-success'
                        {{action (perform this.save)}}
                    >
                        {{t (concat this.intlKeyPrefix 'update' '_button')}}
                    </button>
                {{else}}
                    <button
                        data-test-collections-submit-submit-button
                        data-analytics-name='Submit'
                        type='button'
                        class='btn btn-success'
                        disabled={{not (eq this.activeSection this.sections.submit)}}
                        {{on 'click' this.setShowSubmitModal}}
                    >
                        {{t (concat this.intlKeyPrefix 'add' '_button')}}
                    </button>
                {{/if}}
            </div>
        </section>
    </SubmitSections>
</div>