<div local-class='funding-metadata'>
    <div local-class='funders'>
        {{#each this.funderObjects as |item|}}
            {{#if item.errors}}
                <ValidationErrors
                    class='help-block'
                    @errors={{item.errors}}
                />
            {{/if}}
            <div>
                <label>
                    {{t 'osf-components.funding-metadata.funder_name'}}
                    <PowerSelect
                        @searchEnabled={{true}}
                        @search={{perform this.searchFunders}}
                        @onChange={{fn this.selectFunder item}}
                        @selected={{item}}
                        as |options|
                    >
                        {{#if (or options.name options.funder_name)}}
                            {{#if options.name}}
                                {{options.name}}    
                            {{else}}
                                {{options.funder_name}}
                            {{/if}}
                        {{else}}
                            {{t 'osf-components.funding-metadata.funder_placeholder'}}
                        {{/if}}
                    </PowerSelect>
                </label>
            </div>
            <div>
                <label>
                    {{t 'osf-components.funding-metadata.award_title'}}
                    <ValidatedInput::Text
                        @model={{item}}
                        @onKeyUp={{this.saveToChangeset}}
                        @valuePath='award_title'
                    />
                </label>
            </div>
            <div>
                <label>
                    {{t 'osf-components.funding-metadata.award_info_uri'}}
                    <ValidatedInput::Text
                        @model={{item}}
                        @onKeyUp={{this.saveToChangeset}}
                        @valuePath='award_uri'
                    />
                </label>
            </div>
            <div>
                <label>
                    {{t 'osf-components.funding-metadata.award_number'}}
                    <ValidatedInput::Text
                        @model={{item}}
                        @onKeyUp={{this.saveToChangeset}}
                        @valuePath='award_number'
                    />
                </label>
            </div>
            <Button
                local-class='delete-button'
                @type='destroy'
                {{on 'click' (fn this.delete item)}}
            >
                {{t 'osf-components.funding-metadata.delete'}}
            </Button>
        {{/each}}
        <Button
            {{on 'click' this.addAnother}}
            @type='create'
        >
            {{t 'osf-components.funding-metadata.add_another'}}
        </Button>
    </div>
    {{yield (hash
        isValid=this.isValid
        validate=this.validateFunderObjects
    )}}
</div>
