<div class="container copyright">
    <div class="row">
        <div class="col-md-12">
            <p>
                <span class="copyright">
                    {{t 'osf_copyright.copyright' currentYear=currentYear}}
                </span>
                <a href="https://cos.io" onclick={{action 'click' 'link' 'Copyright - cos_io' target=analytics}}>
                    {{t 'general.cos'}}
                </a>
                <span>
                    {{t 'osf_copyright.separator'}}
                </span>
                <a href={{termsLink}} onclick={{action 'click' 'link' 'Copyright - terms' target=analytics}}>
                    {{t 'osf_copyright.terms'}}
                </a>
                <span>
                    {{t 'osf_copyright.separator'}}
                </span>
                <a href={{privacyPolicyLink}} onclick={{action 'click' 'link' 'copyright - privacy' target=analytics}}>
                    {{t 'osf_copyright.privacy'}}
                </a>
            </p>
        </div>
    </div>
</div>
