<DropzoneWidget
    @buildUrl={{action this.buildUrl}}
    @options={{this.dropzoneOptions}}
    @addedfile={{action this.addedFile}}
    @uploadprogress={{action this.uploadProgress}}
    @success={{action this.success}}
    @error={{action this.error}}
    @dragenter={{action (mut this.dropping) true}}
    @dragover={{action (mut this.dropping) true}}
    @drop={{action (mut this.dropping) false}}
    @dragleave={{action (mut this.dropping) false}}
    @enable={{true}}
    @id={{'this-is-unique'}}
    @clickable={{true}}
>
    <div local-class='icon' >
        <FaIcon @icon='upload' @size='5x' />
    </div>
</DropzoneWidget>