<a 
    role='button'
    title={{t 'zoom_to_route.title'}}
    {{action (mut this.showModal) true}}
>
    {{fa-icon 'rocket'}}
</a>
{{#if this.showModal}}
    <BsModalSimple
        @onHide={{action (mut this.showModal) false}}
        @onShown={{action this.modalShown}}
        @title={{t 'zoom_to_route.title'}}
        @closeTitle={{t 'general.cancel'}}
        @submitTitle={{t 'zoom_to_route.zoom'}}
    >
        <div id={{this.modalBodyId}}>
            <PowerSelect
                @options={{this.routeNames}}
                @selected={{this.targetRoute}}
                @onchange={{action this.selectRoute}}
                @renderInPlace={{true}}
                @placeholder={{t 'zoom_to_route.placeholder'}}
                as |name|
            >
                {{name}}
            </PowerSelect>
            {{#if this.targetRoute}}
                <hr>
                <BsForm
                    @model={{this.routeArgs}}
                    @onSubmit={{action this.zoom}}
                    as |form|
                >
                    {{#each this.routeParams as |param|}}
                        <form.element
                            @controlType='text'
                            @label={{param}}
                            @placeholder={{param}}
                            @property={{param}}
                        />
                    {{/each}}
                </BsForm>
            {{/if}}
        </div>
    </BsModalSimple>
{{/if}}
