<BsForm
    @model={{this.routeArgs}}
    @onSubmit={{action 'zoom'}}
    as |form|
>
    <PowerSelect
        @options={{this.routeNames}}
        @selected={{this.targetRoute}}
        @onChange={{action 'selectRoute'}}
        @placeholder={{t 'dev_tools.zoom_to_route.placeholder'}}
        as |name|
    >
        {{name}}
    </PowerSelect>
    {{#if this.targetRoute}}
        <hr>
        {{#each this.routeParams as |param|}}
            <form.element
                placeholder={{param}}
                @controlType='text'
                @label={{param}}
                @property={{param}}
            />
        {{/each}}
        <hr>
        <Button type='submit'>
            {{t 'dev_tools.zoom_to_route.zoom'}}
        </Button>
    {{/if}}
</BsForm>
