<FormControls
    @changeset={{this.changeset}}
    as |form|
>
    <PowerSelect
        @searchEnabled={{true}}
        @options={{this.routeNames}}
        @selected={{this.targetRoute}}
        @onChange={{action 'selectRoute'}}
        @placeholder={{t 'dev_tools.zoom_to_route.placeholder'}}
        as |name|
    >
        {{name}}
    </PowerSelect>
    {{#if this.targetRoute}}
        {{#if this.routeParams}}
            <hr>
            {{#each this.routeParams as |param|}}
                <form.text
                    @placeholder={{param}}
                    @label={{param}}
                    @valuePath={{param}}
                />
            {{/each}}
            <hr>
        {{/if}}
        <Button {{on 'click' (action 'zoom')}}>
            {{t 'dev_tools.zoom_to_route.zoom'}}
        </Button>
    {{/if}}
</FormControls>
