{{#validated-input/x-input-wrapper
    model=this.model
    changeset=this.changeset
    errors=this.errors
    label=this.label
    valuePath=this.valuePath
    validationStatus=this.validationStatus
    as |inputElementId|
}}
    {{#if @prefix}}
        <div class='form-control' local-class='PrefixedInputBox' >
            <span local-class='Prefix'>{{@prefix}}</span>
            <Input
                aria-label={{this.ariaLabel}}
                id={{or @uniqueID inputElementId}}
                placeholder={{this._placeholder}}
                name={{@valuePath}}
                disabled={{this.disabled}}
                local-class='PrefixedInput'
                @type={{if this.password 'password' 'text'}}
                @value={{this.value}}
                maxlength={{@maxlength}}
                {{on 'keyup' (if @onKeyUp @onKeyUp this.noop)}}
            />
        </div>
    {{else}}
        <Input
            aria-label={{this.ariaLabel}}
            id={{or @uniqueID inputElementId}}
            placeholder={{this._placeholder}}
            name={{@valuePath}}
            disabled={{this.disabled}}
            class='form-control'
            @type={{if this.password 'password' 'text'}}
            @value={{this.value}}
            maxlength={{@maxlength}}
            {{on 'keyup' (if @onKeyUp @onKeyUp this.noop)}}
        />
    {{/if}}
{{/validated-input/x-input-wrapper}}
