{{#validated-input/x-input-wrapper
    model=this.model
    changeset=this.changeset
    errors=this.errors
    label=this.label
    valuePath=this.valuePath
    validationStatus=this.validationStatus
    as |inputElementId|
}}
    {{#if @prefix}}
        <div class='form-control' local-class='PrefixedInputBox' >
            <span local-class='Prefix'>{{@prefix}}</span>
            <Input
                aria-label={{this.ariaLabel}}
                @id={{or @uniqueID inputElementId}}
                @type={{if this.password 'password' 'text'}}
                @value={{this.value}}
                @placeholder={{this._placeholder}}
                @name={{@valuePath}}
                @keyUp={{@onKeyUp}}
                @disabled={{this.disabled}}
                local-class='PrefixedInput'
            />
        </div>
    {{else}}
        <Input
            aria-label={{this.ariaLabel}}
            @id={{or @uniqueID inputElementId}}
            @type={{if this.password 'password' 'text'}}
            @value={{this.value}}
            @placeholder={{this._placeholder}}
            @name={{@valuePath}}
            @keyUp={{@onKeyUp}}
            @disabled={{this.disabled}}
            class='form-control'
        />
    {{/if}}
{{/validated-input/x-input-wrapper}}
