<div data-analytics-scope='Settings' local-class='settings-container {{if this.isMobile 'mobile'}}'>
    <div local-class='setting-container'>
        <h2 local-class='page-header local-page-header'>
            {{t 'general.settings'}}
            {{#if this.isMobile}}
                <Button
                    data-test-toggle-nav
                    local-class='navigation-toggle'
                    aria-label={{t 'settings.toggleNav'}}
                    @layout='fake-link'
                    {{on 'click' (action (mut this.navCollapsed) (not this.navCollapsed))}}
                >
                    <FaIcon @icon='bars' />
                </Button>
            {{/if}}
        </h2>
    </div>
    <div local-class='setting-container'>
        <div local-class='navigation-container'>
            {{#if this.shouldShowNavLinks}}
                <div local-class='panel panel-default'>
                    <nav local-class='stacked-nav'>
                        <ul>
                            <li>
                                <OsfLink
                                    data-analytics-name='Settings'
                                    data-test-settings-link
                                    @href='/settings'
                                >
                                    {{t 'settings.profile.title'}}
                                </OsfLink>
                            </li>
                            <li local-class={{if (eq this.router.currentRouteName 'settings.account') 'active'}}>
                                <OsfLink
                                    data-analytics-name='Account'
                                    data-test-account-link
                                    @route='settings.account'
                                >
                                    {{t 'settings.account.title'}}
                                </OsfLink>
                            </li>
                            <li>
                                <OsfLink
                                    data-analytics-name='Configure add-on accounts'
                                    data-test-addons-link
                                    @href='/settings/addons'
                                >
                                    {{t 'settings.addons.title'}}
                                </OsfLink>
                            </li>
                            <li>
                                <OsfLink
                                    data-analytics-name='Notifications'
                                    data-test-notifications-link
                                    @href='/settings/notifications'
                                >
                                    {{t 'settings.notifications.title'}}
                                </OsfLink>
                            </li>
                            <li local-class={{if (eq this.router.currentRouteName 'settings.developer-apps.index') 'active'}}>
                                <OsfLink
                                    data-analytics-name='Developer apps'
                                    data-test-apps-link
                                    @route='settings.developer-apps'
                                >
                                    {{t 'settings.developer-apps.title'}}
                                </OsfLink>
                            </li>
                            <li local-class={{if (eq this.router.currentRouteName 'settings.tokens.index') 'active'}}>
                                <OsfLink
                                    data-analytics-name='Personal access tokens'
                                    data-test-tokens-link
                                    @route='settings.tokens'
                                >
                                    {{t 'settings.tokens.title'}}
                                </OsfLink>
                            </li>
                        </ul>
                    </nav>
                </div>
            {{/if}}
        </div>
        <div local-class='profile-container'>
            {{#if this.currentUser.user}}
                {{outlet}}
            {{/if}}
        </div>
    </div>
</div>
