<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <h2 class='page-header'>
                {{t 'general.settings'}}
                <a role='button'
                   local-class='NavToggle'
                   class='hidden-md hidden-lg'
                   aria-label={{t 'settings.toggleNav'}}
                   {{action (mut this.navCollapsed) (not this.navCollapsed)}}
                >
                    {{fa-icon 'bars'}}
                </a>
            </h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            {{#bs-collapse collapsed=this.navCollapsed local-class='SideNav'}}
                <div class='panel panel-default'>
                    {{#bs-nav type='pills' stacked=true as |nav|}}
                        {{#nav.item}}
                            {{#nav.link-to 'settings.profile'
                                click=(action 'click' 'link' 'Settings' target=analytics)
                            }}
                                {{t 'settings.profile.title'}}
                            {{/nav.link-to}}
                            {{#bs-nav type='pills' local-class='ProfileNav' stacked=true as |profileNav|}}
                                {{#profileNav.item}}
                                    {{#profileNav.link-to 'settings.profile.name'
                                        click=(action 'click' 'link' 'Settings - Profile - Name' target=analytics)
                                    }}
                                        {{t 'settings.profile.name.title'}}
                                    {{/profileNav.link-to}}
                                {{/profileNav.item}}
                                {{#profileNav.item}}
                                    {{#profileNav.link-to 'settings.profile.social'
                                        click=(action 'click' 'link' 'Settings - Profile - Social' target=analytics)
                                    }}
                                        {{t 'settings.profile.social.title'}}
                                    {{/profileNav.link-to}}
                                {{/profileNav.item}}
                                {{#profileNav.item}}
                                    {{#profileNav.link-to 'settings.profile.education'
                                        click=(action 'click' 'link' 'Settings - Profile - Education' target=analytics)
                                    }}
                                        {{t 'settings.profile.education.title'}}
                                    {{/profileNav.link-to}}
                                {{/profileNav.item}}
                                {{#profileNav.item}}
                                    {{#profileNav.link-to 'settings.profile.employment'
                                        click=(action 'click' 'link' 'Settings - Profile - Employment' target=analytics)
                                    }}
                                        {{t 'settings.profile.employment.title'}}
                                    {{/profileNav.link-to}}
                                {{/profileNav.item}}
                            {{/bs-nav}}
                        {{/nav.item}}
                        {{#nav.item}}
                            <a href='/settings/account'
                               onclick={{action 'click' 'link' 'Settings - Account settings' target=analytics}}
                            >
                                {{t 'settings.account.title'}}
                            </a>
                        {{/nav.item}}
                        {{#nav.item}}
                            <a href='/settings/addons'
                               onclick={{action 'click' 'link' 'Settings - Configure add-on accounts' target=analytics}}
                            >
                                {{t 'settings.addons.title'}}
                            </a>
                        {{/nav.item}}
                        {{#nav.item}}
                            <a href='/settings/notifications'
                               onclick={{action 'click' 'link' 'Settings - Notifications' target=analytics}}
                            >
                                {{t 'settings.notifications.title'}}
                            </a>
                        {{/nav.item}}
                        {{#nav.item}}
                            {{#nav.link-to 'settings.developer-apps'
                                click=(action 'click' 'link' 'Settings - Developer apps' target=analytics)
                            }}
                                {{t 'settings.developer-apps.title'}}
                            {{/nav.link-to}}
                        {{/nav.item}}
                        {{#nav.item}}
                            {{#nav.link-to 'settings.tokens'
                                click=(action 'click' 'link' 'Settings - Personal access tokens' target=analytics)
                            }}
                                {{t 'settings.tokens.title'}}
                            {{/nav.link-to}}
                        {{/nav.item}}
                    {{/bs-nav}}
                </div>
            {{/bs-collapse}}
        </div>
        <div class='col-md-9'>
            {{outlet}}
        </div>
    </div>
</div>
