<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <h2 class='page-header'>
                {{t 'general.settings'}}
                <a role='button'
                   local-class='NavToggle'
                   class='hidden-md hidden-lg'
                   aria-label={{t 'settings.toggleNav'}}
                   {{action (mut this.navCollapsed) (not this.navCollapsed)}}
                >
                    {{fa-icon 'bars'}}
                </a>
            </h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <BsCollapse @collapsed={{this.navCollapsed}} local-class="SideNav">
                <div class='panel panel-default'>
                    <BsNav @type="pills" @stacked={{true}} as |nav|>
                        <nav.item>
                            {{#nav.link-to 'settings.profile'
                                click=(action 'click' 'link' 'Settings' target=this.analytics)
                            }}
                                {{t 'settings.profile.title'}}
                            {{/nav.link-to}}
                            <BsNav @type="pills" local-class="ProfileNav" @stacked={{true}} as |profileNav|>
                                <profileNav.item>
                                    {{#profileNav.link-to 'settings.profile.name'
                                        click=(action 'click' 'link' 'Settings - Profile - Name' target=this.analytics)
                                    }}
                                        {{t 'settings.profile.name.title'}}
                                    {{/profileNav.link-to}}
                                </profileNav.item>
                                <profileNav.item>
                                    {{#profileNav.link-to 'settings.profile.social'
                                        click=(action 'click' 'link' 'Settings - Profile - Social' target=this.analytics)
                                    }}
                                        {{t 'settings.profile.social.title'}}
                                    {{/profileNav.link-to}}
                                </profileNav.item>
                                <profileNav.item>
                                    {{#profileNav.link-to 'settings.profile.education'
                                        click=(action 'click' 'link' 'Settings - Profile - Education' target=this.analytics)
                                    }}
                                        {{t 'settings.profile.education.title'}}
                                    {{/profileNav.link-to}}
                                </profileNav.item>
                                <profileNav.item>
                                    {{#profileNav.link-to 'settings.profile.employment'
                                        click=(action 'click' 'link' 'Settings - Profile - Employment' target=this.analytics)
                                    }}
                                        {{t 'settings.profile.employment.title'}}
                                    {{/profileNav.link-to}}
                                </profileNav.item>
                            </BsNav>
                        </nav.item>
                        <nav.item>
                            <a href='/settings/account'
                               onclick={{action 'click' 'link' 'Settings - Account settings' target=this.analytics}}
                            >
                                {{t 'settings.account.title'}}
                            </a>
                        </nav.item>
                        <nav.item>
                            <a href='/settings/addons'
                               onclick={{action 'click' 'link' 'Settings - Configure add-on accounts' target=this.analytics}}
                            >
                                {{t 'settings.addons.title'}}
                            </a>
                        </nav.item>
                        <nav.item>
                            <a href='/settings/notifications'
                               onclick={{action 'click' 'link' 'Settings - Notifications' target=this.analytics}}
                            >
                                {{t 'settings.notifications.title'}}
                            </a>
                        </nav.item>
                        <nav.item>
                            {{#nav.link-to 'settings.developer-apps'
                                click=(action 'click' 'link' 'Settings - Developer apps' target=this.analytics)
                            }}
                                {{t 'settings.developer-apps.title'}}
                            {{/nav.link-to}}
                        </nav.item>
                        <nav.item>
                            {{#nav.link-to 'settings.tokens'
                                click=(action 'click' 'link' 'Settings - Personal access tokens' target=this.analytics)
                            }}
                                {{t 'settings.tokens.title'}}
                            {{/nav.link-to}}
                        </nav.item>
                    </BsNav>
                </div>
            </BsCollapse>
        </div>
        <div class='col-md-9'>
            {{outlet}}
        </div>
    </div>
</div>
