<div data-analytics-scope='Settings' class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <h2 class='page-header'>
                {{t 'general.settings'}}
                <Button
                   local-class='NavToggle'
                   aria-label={{t 'settings.toggleNav'}}
                   class='hidden-md hidden-lg'
                   @layout='fake-link'
                   {{on 'click' (action (mut this.navCollapsed) (not this.navCollapsed))}}
                >
                    <FaIcon @icon='bars' />
                </Button>
            </h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <BsCollapse @collapsed={{this.navCollapsed}} local-class='SideNav'>
                <div class='panel panel-default'>
                    <BsNav @type='pills' @stacked={{true}} as |nav|>
                        <nav.item>
                            <OsfLink
                                data-analytics-name='Settings'
                                @route='settings.profile'
                            >
                                {{t 'settings.profile.title'}}
                            </OsfLink>
                            <BsNav
                                data-analytics-scope='Profile Nav'
                                local-class='ProfileNav'
                                @stacked={{true}}
                                @type='pills'
                                as |profileNav|
                            >
                                <profileNav.item>
                                    <OsfLink
                                        data-analytics-name='Name'
                                        @route='settings.profile.name'
                                    >
                                        {{t 'settings.profile.name.title'}}
                                    </OsfLink>
                                </profileNav.item>
                                <profileNav.item>
                                    <OsfLink
                                        data-analytics-name='Social'
                                        @route='settings.profile.social'
                                    >
                                        {{t 'settings.profile.social.title'}}
                                    </OsfLink>
                                </profileNav.item>
                                <profileNav.item>
                                    <OsfLink
                                        data-analytics-name='Education'
                                        @route='settings.profile.education'
                                    >
                                        {{t 'settings.profile.education.title'}}
                                    </OsfLink>
                                </profileNav.item>
                                <profileNav.item>
                                    <OsfLink
                                        data-analytics-name='Employment'
                                        @route='settings.profile.employment'
                                    >
                                        {{t 'settings.profile.employment.title'}}
                                    </OsfLink>
                                </profileNav.item>
                            </BsNav>
                        </nav.item>
                        <nav.item>
                            <OsfLink
                                data-analytics-name='Account'
                                @route='settings.account'
                            >
                                {{t 'settings.account.title'}}
                            </OsfLink>
                        </nav.item>
                        <nav.item>
                            <OsfLink
                                data-analytics-name='Configure add-on accounts'
                                @href='/settings/addons'
                            >
                                {{t 'settings.addons.title'}}
                            </OsfLink>
                        </nav.item>
                        <nav.item>
                            <OsfLink
                                data-analytics-name='Notifications'
                                @href='/settings/notifications'
                            >
                                {{t 'settings.notifications.title'}}
                            </OsfLink>
                        </nav.item>
                        <nav.item>
                            <OsfLink
                                data-analytics-name='Developer apps'
                                @route='settings.developer-apps'
                            >
                                {{t 'settings.developer-apps.title'}}
                            </OsfLink>
                        </nav.item>
                        <nav.item>
                            <OsfLink
                                data-analytics-name='Personal access tokens'
                                @route='settings.tokens'
                            >
                                {{t 'settings.tokens.title'}}
                            </OsfLink>
                        </nav.item>
                    </BsNav>
                </div>
            </BsCollapse>
        </div>
        <div class='col-md-9'>
            {{#if this.currentUser.user}}
                {{outlet}}
            {{/if}}
        </div>
    </div>
</div>
