<header local-class="{{if (not isOpen) 'closed'}}">
    {{title}}
    <span class="pull-right">
        {{fa-icon 'floppy-o' local-class=(if didSave 'green' '')}}
    </span>
</header>
{{#panel.body}}
    {{#if description}}
        <p>{{description}}</p>
    {{/if}}
    <div class="row">
        {{yield}}
    </div>
{{/panel.body}}