<h2 class="swal2-title">{{title}}</h2>
<div id="swal2-content" style="display: block;">{{text}}</div>
<textarea id="microfeedback-input" class="{{styleNamespace}}Input swal2-textarea" placeholder="{{placeholder}}"></textarea>
<label id="microfeedback-followup" for="swal2-checkbox" class="{{styleNamespace}}CheckboxLabel swal2-checkbox">
    <input class="{{styleNamespace}}Checkbox" type="checkbox">
    <span>{{followUpLabel}}</span>
</label>
