{{#if this.small}}
    <Button
        data-analytics-name='Delete button'
        data-test-delete-button
        aria-label={{this.buttonLabel}}
        local-class={{if this.noBackground 'Button__noBackground'}}
        @type='destroy'
        {{on 'click' this._show}}
        @disabled={{this.disabled}}
    >
        <FaIcon @icon={{this.icon}} />
    </Button>
{{else if this.smallSecondary}}
    <Button
        data-analytics-name='Delete button'
        data-test-delete-button-secondary-destroy
        local-class='Button__secondaryDestroy'
        disabled={{this.disabled}}
        @type='secondary'
        @layout='small'
        {{on 'click' this._show}}
    >
        {{#if @icon}}
            <FaIcon @icon={{this.icon}} />
        {{/if}}
        {{this.buttonLabel}}
    </Button>
{{else}}
    <Button
        data-analytics-name='Delete button'
        data-test-delete-button
        @type='destroy'
        {{on 'click' this._show}}
        @disabled={{this.disabled}}
    >
        {{this.buttonLabel}}
    </Button>
{{/if}}

{{#if this.modalShown}}
    <BsModal
        @tagName='span'
        @onHide={{action this._cancel}}
        as |modal|
    >
        <modal.header data-test-delete-modal-header>
            <h3 local-class='Modal__title'>{{this.modalTitle}}</h3>
        </modal.header>

        <modal.body data-test-delete-modal-body data-analytics-scope='Delete button modal'>
            {{#if (has-block)}}
                {{yield}}
            {{else}}
                <p>{{this.modalBody}}</p>
            {{/if}}

            {{#if this.hardConfirm}}
                <label local-class='Modal__confirmBlock' data-test-confirm-scientist-name>
                    <p local-class='Modal__confirmPrompt'>
                        {{t 'osf-components.delete-button.hardConfirm' text=this.scientistName htmlSafe=true}}
                    </p>
                    <Input
                        local-class='DeleteModal__input'
                        @class='form-control'
                        @value={{this.scientistInput}}
                    />
                </label>
            {{/if}}
        </modal.body>

        <modal.footer data-test-delete-modal-footer data-analytics-scope='Delete button modal footer'>
            <BsButton
                data-analytics-name='Hard confirm cancel'
                data-test-cancel-delete
                disabled={{this._deleteTask.isRunning}}
                @onClick={{modal.close}}
            >
                {{this.cancelButtonText}}
            </BsButton>
            <BsButton
                data-analytics-name='Hard confirm submit'
                data-test-confirm-delete
                disabled={{this.confirmDisabled}}
                @type='danger'
                @onClick={{perform this._deleteTask}}
            >
                {{this.confirmButtonText}}
            </BsButton>
        </modal.footer>
    </BsModal>
{{/if}}
