{{#if this.small}}
    <OsfButton
        data-analytics-name='Delete button'
        data-test-delete-button
        aria-label={{this.buttonLabel}}
        @type='link'
        @size='sm'
        local-class='SmallDelete'
        @onClick={{action this._show}}
        @disabled={{this.disabled}}
    >
        {{fa-icon 'times' size='lg'}}
    </OsfButton>
{{else}}
    <OsfButton
        data-analytics-name='Delete button'
        data-test-delete-button
        @type='default'
        @onClick={{action this._show}}
        @disabled={{this.disabled}}
    >
        {{this.buttonLabel}}
    </OsfButton>
{{/if}}

{{#if this.modalShown}}
    <BsModal
        @tagName='span'
        @onHide={{action this._cancel}}
        as |modal|
    >
        <modal.header>
            <h3 local-class='Modal__title'>{{this.modalTitle}}</h3>
        </modal.header>

        <modal.body data-analytics-scope='Delete button modal'>
            {{#if (has-block)}}
                {{yield}}
            {{else}}
                <p>{{this.modalBody}}</p>
            {{/if}}

            {{#if this.hardConfirm}}
                <label local-class='Modal__confirmBlock' data-test-confirm-scientist-name>
                    <p local-class='Modal__confirmPrompt'>
                        {{t 'osf-components.delete-button.hardConfirm' text=this.scientistName}}
                    </p>
                    {{input
                        class='form-control'
                        local-class='DeleteModal__input'
                        value=this.scientistInput
                    }}
                </label>
            {{/if}}
        </modal.body>

        <modal.footer data-analytics-scope='Delete button modal footer'>
            <OsfButton
                data-analytics-name='Hard confirm cancel'
                data-test-cancel-delete
                @disabled={{this._deleteTask.isRunning}}
                @onClick={{modal.close}}
            >
                {{this.cancelButtonText}}
            </OsfButton>
            <OsfButton
                data-analytics-name='Hard confirm submit'
                data-test-confirm-delete
                @type='danger'
                @disabled={{this.confirmDisabled}}
                @onClick={{perform this._deleteTask}}
            >
                {{this.confirmButtonText}}
            </OsfButton>
        </modal.footer>
    </BsModal>
{{/if}}
