{{#ember-wormhole to='secondaryNavbar' renderInPlace=renderInPlace}}
    <nav class='navbar osf-project-navbar' role='navigation'>
        <div class='container'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.project-nav'>
                    <span class='sr-only'>{{t 'node_navbar.toggle'}}</span>
                    <span class='fa fa-bars fa-lg'></span>
                </button>
                <span class='navbar-brand visible-xs visible-sm'>
                    {{t 'node_navbar.project_nav'}}
                </span>
            </div>
            <div class='collapse navbar-collapse project-nav'>
                <ul class='nav navbar-nav'>
                    {{#node-navbar/link id=node.id useLinkTo=false extraClasses='project-title'}}
                        {{node.title}}
                    {{/node-navbar/link}}
                    {{node-navbar/link id=node.id useLinkTo=false destination='files'}}
                    {{node-navbar/link id=node.id useLinkTo=false destination='wiki'}}
                    {{node-navbar/link id=node.id useLinkTo=false destination='analytics'}}
                    {{node-navbar/link id=node.id useLinkTo=true destination='registrations'}}

                    {{#if node.currentUserIsContributor}}
                        {{node-navbar/link id=node.id useLinkTo=false destination='contributors'}}
                        {{#if currentUserCanEdit}}
                            {{node-navbar/link id=node.id useLinkTo=false destination='addons'}}
                        {{/if}}
                        {{node-navbar/link id=node.id useLinkTo=false destination='settings'}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
{{/ember-wormhole}}