{{!Copied from Ember SHARE}}
{{! template-lint-disable bare-strings }}
<div class="query-syntax-help">
    <h2>{{t 'eosf.components.querySyntax.couldNotPerformQuery'}}</h2>
    <p class='lead'>{{t 'eosf.components.querySyntax.moreInformationOnSearch'}}</p>
    <div>
        <h3>{{t 'eosf.components.querySyntax.reservedChars'}}</h3>
        <p>
            {{t 'eosf.components.querySyntax.specialMeanings'}}:<code>+ - = &amp;&amp; || &gt; &lt; ! ( ) { } [ ] ^ " ~ * ? : \ /</code>
        </p>
        <p>
            {{t 'eosf.components.querySyntax.escapeReservedChars'}}<code>(1+1)=2</code>,
            {{t 'eosf.components.querySyntax.needToType'}} <code>\(1\+1\)\=2</code>.
        </p>
    </div>
    <div>
        <h3>{{t 'eosf.components.querySyntax.searchByField'}}</h3>
        <p>
            {{t 'eosf.components.querySyntax.allFieldsSearched'}}:
        </p>
        <ul>
            <li><code>title:giraffe</code> -- {{t 'eosf.components.querySyntax.titleContainsWord'}} "giraffe".</li>
            <li><code>description:"giraffe neck"</code> -- {{t 'eosf.components.querySyntax.descriptionContainsPhrase'}} "giraffe neck".</li>
            <li><code>contributors:"degrasse tyson"</code> -- {{t 'eosf.components.querySyntax.listContainsExactPhrase'}} "degrasse tyson".</li>
            <li><code>identifiers:"10.1371/journal.pbio.1002456"</code> -- {{t 'eosf.components.querySyntax.listOfIdentifiersContains'}} "10.1371/journal.pbio.1002456"</li>
        </ul>
    </div>
    <div>
        <h3>{{t 'eosf.components.querySyntax.booleanOperators'}}</h3>
        <p>
            {{t 'eosf.components.querySyntax.booleanDesc1'}} (<code>+</code>, <code>-</code>, <code>AND</code>, <code>OR</code>, <code>NOT</code>) {{t 'eosf.components.querySyntax.booleanDesc2'}}:
        </p>
        <ul>
            <li><code>+giraffe neck spots</code> -- {{t 'eosf.components.querySyntax.booleanDesc3'}} "giraffe" <b>{{t 'eosf.components.querySyntax.must'}}</b> {{t 'eosf.components.querySyntax.booleanDesc4'}} "neck" {{t 'eosf.components.querySyntax.and'}} "spots" {{t 'eosf.components.querySyntax.booleanDesc5'}}.</li>
            <li><code>+giraffe neck spots -stripes</code> -- {{t 'eosf.components.querySyntax.booleanDesc6'}} "stripes" <b>{{t 'eosf.components.querySyntax.mustNot'}}</b> {{t 'eosf.components.querySyntax.booleanDesc7'}}.</li>
            <li><code>giraffe AND lion</code> -- {{t 'eosf.components.querySyntax.both'}} "giraffe" {{t 'eosf.components.querySyntax.and'}} "lion" <b>must</b> {{t 'eosf.components.querySyntax.booleanDesc7'}}. {{t 'eosf.components.querySyntax.booleanDesc8'}} <code>+giraffe +lion</code>.</li>
            <li><code>giraffe AND NOT lion</code> -- {{t 'eosf.components.querySyntax.booleanDesc9'}} "giraffe" <b>must</b> {{t 'eosf.components.querySyntax.booleanDesc7'}}, {{t 'eosf.components.querySyntax.theWord'}} "lion" <b>{{t 'eosf.components.querySyntax.mustNot'}}</b>. {{t 'eosf.components.querySyntax.booleanDesc8'}} <code>+giraffe -lion</code>.</li>
            <li><code>tags:(ungulate OR feline)</code> -- {{t 'eosf.components.querySyntax.booleanDesc10'}} "ungulate", "feline", {{t 'eosf.components.querySyntax.or'}} {{t 'eosf.components.querySyntax.both'}}.</li>
        </ul>
    </div>
    <div>
        <h3>{{t 'eosf.components.querySyntax.wildcards'}}</h3>
        <p>
            {{t 'eosf.components.querySyntax.wildcardsDesc1'}} <code>?</code> {{t 'eosf.components.querySyntax.wildcardsDesc2'}} <code>*</code> {{t 'eosf.components.querySyntax.wildcardsDesc3'}}
        </p>
        <ul>
            <li><code>giraf*</code> -- {{t 'eosf.components.querySyntax.matchWordStartsWith'}} "giraf".</li>
            <li><code>l?on</code> -- {{t 'eosf.components.querySyntax.match'}} "lion", "loon", "leon", etc.</li>
        </ul>
    </div>
    <div>
        <h3>{{t 'eosf.components.querySyntax.fuzziness'}}</h3>
        <p>
            {{t 'eosf.components.querySyntax.use'}} <code>~</code> {{t 'eosf.components.querySyntax.fuzzinessDesc1'}}
        </p>
        <ul>
            <li><code>girafe~ nekc~</code> -- {{t 'eosf.components.querySyntax.match'}} "giraffe neck".</li>
        </ul>
        <p>
            {{t 'eosf.components.querySyntax.thisUsesThe'}} <a href='http://en.wikipedia.org/wiki/Damerau-Levenshtein_distance'>Damerau-Levenshtein distance</a> {{t 'eosf.components.querySyntax.damerauLevenshteinDistanceDesc'}} <code>~</code>.
        </p>
        <ul>
            <li><code>girafe~2</code> -- {{t 'eosf.components.querySyntax.match'}} "giraffe", "gyrate", "pirate", etc.</li>
        </ul>
    </div>
    <div>
        <h3>{{t 'eosf.components.querySyntax.phraseProximity'}}</h3>
        <p>
            {{t 'eosf.components.querySyntax.phraseProximityDesc1'}}
        </p>
        <ul>
            <li><code>"giraffe neck"~2</code> -- {{t 'eosf.components.querySyntax.match'}} "giraffe has a neck", {{t 'eosf.components.querySyntax.butNot'}} "giraffe has a long neck".</li>
        </ul>
    </div>
    <div>
        <h3>{{t 'eosf.components.querySyntax.ranges'}}</h3>
        <p>
            {{t 'eosf.components.querySyntax.rangesDesc1'}} <code>[min TO max]</code> {{t 'eosf.components.querySyntax.rangesDesc2'}} <code>{min TO max}</code> {{t 'eosf.components.querySyntax.rangesDesc3'}}.
        </p>
        <ul>
            <li><code>date:[2016-01-01 TO 2016-12-31]</code> -- {{t 'eosf.components.querySyntax.match'}} {{t 'eosf.components.querySyntax.allDatesIn'}} 2016.</li>
            <li><code>tags:{alpha TO omega}</code> -- {{t 'eosf.components.querySyntax.match'}} {{t 'eosf.components.querySyntax.allTagsBetween'}} "alpha" {{t 'eosf.components.querySyntax.and'}} "omega", {{t 'eosf.components.querySyntax.excluding'}} "alpha" {{t 'eosf.components.querySyntax.and'}} "omega".</li>
            <li><code>date:[2016-01-01 TO 2016-12-31}</code> -- {{t 'eosf.components.querySyntax.match'}} {{t 'eosf.components.querySyntax.allDatesIn'}} 2016 {{t 'eosf.components.querySyntax.except'}} December 31.</li>
        </ul>
    </div>
    <div>
        <h3>{{t 'eosf.components.querySyntax.boosting'}}</h3>
        <p>
            {{t 'eosf.components.querySyntax.boostingDesc1'}} <code>^</code> {{t 'eosf.components.querySyntax.boostingDesc2'}}
        </p>
        <ul>
            <li><code>giraffe^2 lion</code> -- {{t 'eosf.components.querySyntax.boostingDesc3'}} "giraffe" {{t 'eosf.components.querySyntax.booleanDesc4'}} "lion".</li>
        </ul>
    </div>
    <div>
        <h3>{{t 'eosf.components.querySyntax.moreInformation'}}</h3>
        <p>
            {{t 'eosf.components.querySyntax.moreInfoQuerySyntax'}} <a href='https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax'>Elasticsearch {{t 'eosf.components.querySyntax.documentation'}} </a>.
        </p>
    </div>
</div>
