<OsfDialog
    @isOpen={{@isOpen}}
    @onClose={{queue (action (mut @isOpen) false) (action (mut this.newFolderName) '')}}
    as |dialog|
>
    <dialog.heading>
        {{t 'osf-components.file-browser.create_folder.title'}}
    </dialog.heading>
    <dialog.main>
        <label>
            <p>{{t 'osf-components.file-browser.create_folder.new_folder_name'}}</p>
            <Input
                @enter={{queue
                    (perform @manager.createNewFolder this.newFolderName)
                    (action (mut @isOpen) false)
                    (action (mut this.newFolderName) '')
                }}
                @value={{this.newFolderName}}
            />
        </label>
    </dialog.main>
    <dialog.footer>
        <Button
            @type='create'
            disabled={{this.shouldDisable}}
            {{on 'click'
                (queue
                    (perform @manager.createNewFolder this.newFolderName)
                    (action (mut @isOpen) false)
                    (action (mut this.newFolderName) '')
                )
            }}
        >
            {{t 'osf-components.file-browser.create_folder.title'}}
        </Button>
    </dialog.footer>
</OsfDialog>