{{#if this.modelTaskInstance.isRunning}}
    <LoadingIndicator data-test-loading-indicator @dark={{true}} />
{{else}}
  <div local-class='filter-container'>
    <PowerSelect
        @options={{this.departments}}
        @searchEnabled={{true}}
        @selected={{this.department}}
        @triggerClass={{local-class 'select'}}
        @search={{perform this.searchDepartment}}
        @onChange={{action this.onSelectChange}}
        as |department|
    >
        {{department}}
    </PowerSelect>
    <BasicDropdown
      @renderInPlace={{true}}
      @onClose={{this.onDropdownClose}}
      @preventScroll={{true}}
      @eventType='mousedown'
      local-class='dropdown'
      as |dd|
    >
      <button
        type='button'
        local-class='dropdown-trigger'
        {{on 'click' dd.actions.toggle}}
      >
        <FaIcon local-class='icon-columns' @icon='columns' />
        Customize
      </button>

      {{#if dd.isOpen}}
        <div local-class='dropdown-panel'>
          <div local-class='dropdown-content'>
            {{#each this.columns as |column|}}
              <label>
                <input
                  type='checkbox'
                  value={{column.key}}
                  checked={{column.default}}
                  {{on 'change' (fn this.toggleColumnSelection column.key)}}
                />
                {{column.label}}
              </label>
            {{/each}}
          </div>
          <div local-class='dropdown-actions'>
            <button type='button' {{on 'click' dd.actions.close}}>Cancel</button>
            <button type='button' local-class='apply-button' {{on 'click' this.applyColumnSelection}}>Apply</button>
          </div>
        </div>
      {{/if}}
    </BasicDropdown>
  </div>

  <PaginatedList::HasMany
    local-class='table'
    @isTable={{true}}
    @model={{@institution}}
    @usePlaceholders={{false}}
    @relationshipName='userMetrics'
    @bindReload={{action (mut this.reloadUserList)}}
    @query={{this.queryUsers}} as |list|
  >
    <list.header local-class='header'>
        {{#let (component 'sort-arrow'
            class=(local-class 'sort-arrow')
            sortAction=(action this.sortInstitutionalUsers)
            sort=this.sort
            ) as |SortArrow|
        }}
          <tr>
            {{#each this.columns as |column|}}
              {{#if (includes column.key this.selectedColumns)}}
                <th data-test-header-name='{{column.key}}'>
                  <div local-class='header-content'>
                    <span local-class='header-text'>{{column.label}}</span>
                    <span local-class='sort-arrow-container'>
                        <SortArrow @sortBy='{{column.key}}' />
                    </span>
                  </div>
                </th>
              {{/if}}
            {{/each}}
          </tr>
    {{/let}}

    </list.header>

    <list.item local-class='item' as |institutionalUser|>
      {{#if institutionalUser}}
        {{#each this.columns as |column|}}
          {{#if (includes column.key this.selectedColumns)}}
            {{#if (eq column.key 'user_name')}}
              <td data-test-column-name='user_name' data-test-item-name>
                <OsfLink @href={{concat '/' institutionalUser.userGuid '/'}}>
                  {{institutionalUser.userName}}
                </OsfLink>
              </td>
            {{/if}}

            {{#if (eq column.key 'department')}}
              <td data-test-item-department>{{institutionalUser.department}}</td>
            {{/if}}

            {{#if (eq column.key 'osf_link')}}
              <td data-test-item-osf-link>
                <OsfLink @href={{concat '/' institutionalUser.userGuid '/'}}>
                  {{institutionalUser.userGuid}}
                </OsfLink>
              </td>
            {{/if}}

            {{#if (eq column.key 'public_projects')}}
              <td data-test-item-public-projects>{{institutionalUser.publicProjects}}</td>
            {{/if}}

            {{#if (eq column.key 'private_projects')}}
              <td data-test-item-private-projects>{{institutionalUser.privateProjects}}</td>
            {{/if}}

            {{#if (eq column.key 'public_registration_count')}}
              <td data-test-item-public-registration-count>{{institutionalUser.publicRegistrationCount}}</td>
            {{/if}}

            {{#if (eq column.key 'private_registration_count')}}
              <td data-test-item-private-registration-count>{{institutionalUser.embargoedRegistrationCount}}</td>
            {{/if}}

            {{#if (eq column.key 'published_preprint_count')}}
              <td data-test-item-published-preprint-count>{{institutionalUser.publishedPreprintCount}}</td>
            {{/if}}

            {{#if (eq column.key 'public_file_count')}}
              <td data-test-item-public-file-count>{{institutionalUser.publicFileCount}}</td>
            {{/if}}

            {{#if (eq column.key 'storage_byte_count')}}
              <td data-test-item-storage-byte-count>{{institutionalUser.userDataUsage}}</td>
            {{/if}}

            {{#if (eq column.key 'account_creation_date')}}
              <td data-test-item-account-created>{{moment-format institutionalUser.accountCreationDate 'MM/YYYY'}}</td>
            {{/if}}

            {{#if (eq column.key 'month_last_login')}}
              <td data-test-item-last-login>{{moment-format institutionalUser.monthLastLogin 'MM/YYYY'}}</td>
            {{/if}}

            {{#if (eq column.key 'month_last_active')}}
              <td data-test-item-last-active>{{moment-format institutionalUser.monthLastActive 'MM/YYYY'}}</td>
            {{/if}}

          {{/if}}
        {{/each}}
      {{/if}}
    </list.item>

    <list.empty local-class='empty'>
      {{t 'institutions.dashboard.users_list.empty'}}
    </list.empty>
  </PaginatedList::HasMany>
{{/if}}
