{{#if this.modelTaskInstance.isRunning}}
    <LoadingIndicator data-test-loading-indicator @dark={{true}} />
{{else}}
    <div local-class='filter-container'>
        <div local-class='total-users'>
            <span local-class='total-users-count'>
                {{this.totalUsers}}
            </span>
            {{t 'institutions.dashboard.users_list.total_users'}}
        </div>
        <div local-class='top-wrapper'>
            <div local-class='flex'>
                <div local-class='orcid-switch'>
                    <label for='switches-container' local-class='orcid-toggle-label'>{{t 'institutions.dashboard.users_list.has_orcid'}}</label>
                    <label local-class='switch'>
                        <input id='switches-container' type='checkbox' checked={{this.hasOrcid}} {{on 'change' (fn this.toggleOrcidFilter (not this.hasOrcid))}}>
                        <span local-class='slider round'></span>
                    </label>
                </div>
                <PowerSelect
                    @options={{this.departments}}
                    @searchEnabled={{true}}
                    @selected={{this.department}}
                    @triggerClass={{local-class 'select'}}
                    @search={{perform this.searchDepartment}}
                    @onChange={{this.onSelectChange}}
                    as |department|
                >
                    {{department}}
                </PowerSelect>
            </div>
            <div local-class='flex right-button-group'>
                <BasicDropdown
                    @renderInPlace={{true}}
                    @onClose={{this.onDropdownClose}}
                    @preventScroll={{true}}
                    @eventType='mousedown'
                    local-class='dropdown'
                    as |dd|
                >
                    <Button local-class='dropdown-trigger' {{on 'click' dd.actions.toggle}}>
                        <FaIcon local-class='icon-columns' @icon='columns' />
                        {{t 'institutions.dashboard.users_list.select_columns'}}
                    </Button>
                    {{#if dd.isOpen}}
                        <div local-class='dropdown-panel {{if (is-mobile) 'mobile'}}'>
                            <div local-class='dropdown-content'>
                                {{#each this.columns as |column|}}
                                    <label>
                                        <input
                                            type='checkbox'
                                            value={{column.key}}
                                            checked={{column.selected}}
                                            {{on 'change' (fn this.toggleColumnSelection column.key)}}
                                        />
                                        {{column.label}}
                                    </label>
                                {{/each}}
                            </div>
                            <div local-class='dropdown-actions'>
                                <Button @type='secondary' {{on 'click' dd.actions.close}}>
                                    {{t 'general.cancel'}}
                                </Button>
                                <Button @type='primary' {{on 'click' this.applyColumnSelection}} {{on 'click' dd.actions.close}}>
                                    {{t 'general.apply'}}
                                </Button>
                            </div>
                        </div>
                    {{/if}}
                </BasicDropdown>
                <div local-class='download-button-group'>
                    {{#if @institution.linkToExternalReportsArchive}}
                        <OsfLink
                            data-test-link-to-reports-archive
                            data-analytics-name='Link to archived reports'
                            aria-label={{t 'institutions.dashboard.download_past_reports_label'}}
                            @target='_blank'
                            @fakeButton={{true}}
                            @href={{@institution.linkToExternalReportsArchive}}
                        >
                            <EmberTooltip @side='bottom'>
                                {{t 'institutions.dashboard.download_past_reports_label'}}
                            </EmberTooltip>
                            <FaIcon @icon='chart-pie'/>
                        </OsfLink>
                    {{/if}}
                    <div local-class='download-dropdown'>
                        <ResponsiveDropdown @renderInPlace={{true}} @buttonStyling={{true}} as |dd| >
                            <dd.trigger
                                data-test-download-dropdown
                                aria-label={{t 'institutions.dashboard.download_dropdown_label'}}
                                local-class='download-dropdown-trigger'
                            >
                                <FaIcon @icon='download' />
                            </dd.trigger>
                            <dd.content local-class='download-dropdown-content'>
                                <Button local-class='download-option' {{on 'click' (queue this.downloadCsv dd.close)}}>
                                    {{t 'institutions.dashboard.format_labels.csv'}}
                                </Button>
                                <Button local-class='download-option' {{on 'click' (queue this.downloadTsv dd.close)}}>
                                    {{t 'institutions.dashboard.format_labels.tsv'}}
                                </Button>
                                <Button local-class='download-option' {{on 'click' (queue this.downloadJsonTable dd.close)}}>
                                    {{t 'institutions.dashboard.format_labels.json_table'}}
                                </Button>
                                <Button local-class='download-option' {{on 'click' (queue this.downloadJsonDirect dd.close)}}>
                                    {{t 'institutions.dashboard.format_labels.json_direct'}}
                                </Button>
                            </dd.content>
                        </ResponsiveDropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <PaginatedList::HasMany
        local-class='table'
        @isTable={{true}}
        @model={{@institution}}
        @usePlaceholders={{false}}
        @relationshipName='userMetrics'
        @query={{this.queryUsers}}
        @totalCount={{this.totalUsers}}
        @pagination='adjustable'
        as |list|
    >
        <list.header local-class='header'>
            {{#let (component 'sort-arrow'
                class=(local-class 'sort-arrow')
                sortAction=this.sortInstitutionalUsers
                sort=this.sort
                ) as |SortArrow|}}
                <tr>
                    {{#each this.columns as |column|}}
                        {{#if (includes column.key this.selectedColumns)}}
                            <th data-test-header='{{column.key}}'>
                                <div local-class='header-content'>
                                    <span local-class='header-text'>{{column.label}}</span>
                                    {{#if column.sort_key}}
                                        <span local-class='sort-arrow-container'>
                                            <SortArrow @sortBy='{{column.sort_key}}' />
                                        </span>
                                    {{/if}}
                                </div>
                            </th>
                        {{/if}}
                    {{/each}}
                </tr>
            {{/let}}
        </list.header>
        <list.item local-class='item' as |institutionalUser|>
            {{#each this.columns as |column|}}
                {{#if (includes column.key this.selectedColumns)}}
                    <td data-test-item={{column.key}}>
                        {{#if (eq column.type 'user_name')}}
                            <OsfLink @href={{concat '/' institutionalUser.userGuid '/'}}>
                                {{institutionalUser.userName}}
                            </OsfLink>
                        {{else if (eq column.type 'osf_link')}}
                            <OsfLink @href={{concat '/' institutionalUser.userGuid '/'}}>
                                {{institutionalUser.userGuid}}
                            </OsfLink>
                        {{else if (eq column.type 'orcid')}}
                            <OsfLink @href={{concat this.orcidUrlPrefix institutionalUser.orcidId}}>
                                {{institutionalUser.orcidId}}
                            </OsfLink>
                        {{else if (eq column.type 'date_by_month')}}
                            {{#if (get institutionalUser column.key)}}
                                {{moment-format (get institutionalUser column.key) 'MM/YYYY'}}
                            {{else}}
                                {{t 'institutions.dashboard.users_list.not_found'}}
                            {{/if}}
                        {{else}}
                            {{get institutionalUser column.key}}
                        {{/if}}
                    </td>
                {{/if}}
            {{/each}}
        </list.item>
        <list.empty local-class='empty'>
            {{t 'institutions.dashboard.users_list.empty'}}
        </list.empty>
    </PaginatedList::HasMany>
{{/if}}
