{{#if this.modelTaskInstance.isRunning}}
    <LoadingIndicator data-test-loading-indicator @dark={{true}} />
{{else}}
    <PowerSelect
        @options={{this.departments}}
        @searchEnabled={{true}}
        @selected={{this.department}}
        @triggerClass={{local-class 'select'}}
        @search={{perform this.searchDepartment}}
        @onChange={{action this.onSelectChange}}
        as |department|
    >
        {{department}}
    </PowerSelect>
    <ContentPlaceholders as |placeholder|>
        <PaginatedList::HasMany
            local-class='table'
            @isTable={{true}}
            @model={{@institution}}
            @usePlaceholders={{false}}
            @relationshipName='userMetrics'
            @bindReload={{action (mut this.reloadUserList)}}
            @query={{this.queryUsers}} as |list|
        >
            <list.header local-class='header'>
                {{#let (component 'sort-button'
                    class=(local-class 'sort-button')
                    sortAction=(action this.sortInstitutionalUsers)
                    sort=this.sort
                ) as |SortButton|}}
                    <tr>
                        <th data-test-header-name rowspan='3'>
                            <strong>{{t 'institutions.dashboard.users_list.name'}}</strong>
                            <SortButton @sortBy='user_name' />
                        </th>
                        <th data-test-header-department rowspan='2'>
                            <strong>{{t 'institutions.dashboard.users_list.department'}}</strong>
                            <SortButton @sortBy='department' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.osf_link'}}
                        </th>
                        <th>
                            <span>{{t 'institutions.dashboard.users_list.public_projects'}}</span>
                            <SortButton @sortBy='public_projects' />
                        </th>
                        <th>
                            <span>{{t 'institutions.dashboard.users_list.private_projects'}}</span>
                            <SortButton @sortBy='private_projects' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.public_registration_count'}}
                            <SortButton @sortBy='public_registration_count' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.private_registration_count'}}
                            <SortButton @sortBy='embargoed_registration_count' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.published_preprint_count'}}
                            <SortButton @sortBy='published_preprint_count' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.public_file_count'}}
                            <SortButton @sortBy='public_file_count' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.storage_byte_count'}}
                            <SortButton @sortBy='storage_byte_count' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.account_created'}}
                            <SortButton @sortBy='account_created' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.month_last_login'}}
                            <SortButton @sortBy='month_last_login' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.month_last_active'}}
                            <SortButton @sortBy='month_last_active' />
                        </th>
                        <th>
                            {{t 'institutions.dashboard.users_list.last_action'}}
                            <SortButton @sortBy='last_log_action' />
                        </th>
                    </tr>
                {{/let}}
            </list.header>
            <list.item local-class='item' as |institutionalUser|>
                {{#if institutionalUser}}
                    <td data-test-item-name>
                        <OsfLink @href={{concat '/' institutionalUser.userGuid '/'}}>
                            {{institutionalUser.userName}}
                        </OsfLink>
                    </td>
                    <td data-test-item-department>{{institutionalUser.department}}</td>
                    <td data-test-item-user-guid>
                        <OsfLink @href={{concat '/' institutionalUser.userGuid '/'}}>
                            {{institutionalUser.userGuid}}
                        </OsfLink>
                    </td>
                    <td data-test-item-public-projects>{{institutionalUser.publicProjects}}</td>
                    <td data-test-item-private-projects>{{institutionalUser.privateProjects}}</td>
                    <td data-test-item-public-registration-count>{{institutionalUser.publicRegistrationCount}}</td>
                    <td data-test-item-embargoed-registration-count>{{institutionalUser.embargoedRegistrationCount}}</td>
                    <td data-test-item-published-preprint-count>{{institutionalUser.publishedPreprintCount}}</td>
                    <td data-test-item-files-on-osf>{{institutionalUser.publicFileCount}}</td>
                    <td data-test-item-total-data-stored-on-osf>{{institutionalUser.storageByteCount}}</td>
                    <td data-test-item-total-data-stored-on-osf>{{institutionalUser.totalObjectCount}}</td>
                    <td data-test-item-last-login>{{institutionalUser.monthLastLogin}}</td>
                    <td data-test-item-last-login>{{institutionalUser.monthLastActive}}</td>
                    <td data-test-item-account-created>{{institutionalUser.lastLogAction}}</td>
                {{/if}}
            </list.item>
            <list.empty local-class='empty'>
                {{t 'institutions.dashboard.users_list.empty'}}
            </list.empty>
        </PaginatedList::HasMany>
    </ContentPlaceholders>
{{/if}}
