<div local-class='SearchWrapper'>
    <FaIcon
        local-class='SearchIcon'
        @icon='search'
        @fixedWidth={{true}}
    />
    <Input
        @name='search'
        @type='text'
        @value={{this.userQuery}}
        @placeholder={{t 'osf-components.subjects.search.placeholder'}}
        @key-up={{action (perform this.doSearch)}}
    />
</div>

{{#if (or this.isLoading this.searchResults)}}
    <ol
        class='{{if this.isLoading 'BlurredInert'}}'
        local-class='SearchResults'
        inert={{this.isLoading}}
    >
        {{#each (range 0 this.resultCount) as |index|}}
            <Subjects::Manager::Single
                @subject={{get this.searchResults index}}
                @subjectsManager={{@subjectsManager}}
                as |singleSubjectManager|
            >
                <Subjects::Search::SearchResult
                    @singleSubjectManager={{singleSubjectManager}}
                />
            </Subjects::Manager::Single>
        {{else}}
            {{t 'osf-components.subjects.search.no_results'}}
        {{/each}}
    </ol>
{{/if}}