<button data-test-share-button class='btn btn-sm btn-default popover-toggler' {{action 'togglePopup'}}>
    {{t 'general.share'}}
    <BsPopover
        @placement='bottom'
        local-class='Popover'
        @title={{t 'general.share'}}
        @visible={{this.showPopup}}
    >
        <ClickOutside @action={{action 'hidePopup'}}>
            <BsTab @customTabs={{true}} as |tab|>
                <BsNav @class='nav-justified' @type='tabs' as |nav|>
                    <nav.item data-test-share-tab @active={{bs-eq tab.activeId this.sharePaneId}}>
                        <a 
                            role='tab'
                            {{action tab.select this.sharePaneId}}
                            local-class='SharePane__tab'
                        >
                            {{t 'general.share'}}
                        </a>
                    </nav.item>
                    <nav.item data-test-embed-tab @active={{bs-eq tab.activeId this.embedPaneId}}>
                        <a
                            role='tab'
                            {{action tab.select this.embedPaneId}}
                            local-class='SharePane__tab'
                        >
                            {{t 'general.embed'}}
                            <span class='badge'>{{@badge}}</span>
                        </a>
                    </nav.item>
                </BsNav>

                <div class='tab-content'>
                    <tab.pane 
                        @elementId={{this.sharePaneId}}
                        @title={{t 'general.share'}}
                        local-class='SharePane'
                    >
                        <br>
                        <CopyableText
                            @text={{this.mfrUrl}}
                            @analyticsLabel='Quick Files - Share file'
                        />
                        <div local-class='SharePane__button-group'>
                            <OsfLink
                                local-class='SharePane__share-link'
                                aria-label={{t 'social.twitter'}}
                                target='_blank'
                                rel='noopener'
                                @href='{{this.twitterUrl}}'
                                @onClick={{action 'click' 'link' 'Quick Files - Share file on Twitter'
                                                 preventDefault=false
                                                 target=this.analytics}}
                            >
                                <i aria-hidden='true' class='fa fa-twitter'></i>
                            </OsfLink>
                            <OsfLink
                                local-class='SharePane__share-link'
                                aria-label={{t 'social.facebook'}}
                                target='_blank'
                                rel='noopener'
                                @href='{{this.facebookUrl}}'
                                @onClick={{action 'click' 'link' 'Quick Files - Share file on Facebook'
                                                 target=this.analytics
                                                 preventDefault=false}}
                            >
                                <i aria-hidden='true' class='fa fa-facebook'></i>
                            </OsfLink>
                            <OsfLink
                                local-class='SharePane__share-link'
                                aria-label={{t 'social.linkedin'}}
                                target='_blank'
                                rel='noopener'
                                @href='{{this.linkedInUrl}}'
                                @onClick={{action 'click' 'link' 'Quick Files - Share file on LinkedIn'
                                                 preventDefault=false
                                                 target=this.analytics}}
                            >
                                <i aria-hidden='true' class='fa fa-linkedin'></i>
                            </OsfLink>
                            <OsfLink
                                local-class='SharePane__share-link'
                                aria-label={{t 'quickfiles.share_by_email'}}
                                target='_blank'
                                rel='noopener'
                                @href='{{this.emailUrl}}'
                                @onClick={{action 'click' 'link' 'Quick Files - Share file in email'
                                                 preventDefault=false
                                                 target=this.analytics}}
                            >
                                <i aria-hidden='true' class='fa fa-envelope'></i>
                            </OsfLink>
                        </div>
                    </tab.pane>
                    <tab.pane
                        @elementId={{this.embedPaneId}}
                        @title='Embed' 
                        local-class='EmbedPane'
                    >
                        <br>
                        <p>{{t 'file_detail.embed.dynamic'}}</p>
                        <textarea
                            aria-label={{t 'file_detail.embed_js_label'}}
                            readonly='true'
                            type='text'
                            class='form-control'
                        >
                            {{this.shareiFrameDynamic}}
                        </textarea>
                        <br>
                        <p>{{t 'file_detail.embed.direct'}}</p>
                        <textarea
                            aria-label={{t 'file_detail.embed_iframe_label'}}
                            readonly='true'
                            class='form-control'
                        >
                            {{this.shareiFrameDirect}}
                        </textarea>
                    </tab.pane>
                </div>
            </BsTab>
        </ClickOutside>
    </BsPopover>
</button>
