<Panel
    data-test-export-panel
    as |panel|
>
    <panel.heading @title={{t 'settings.account.export.title'}} />
    <panel.body data-analytics-scope='Export panel'>
        {{#if (or this.loadSettings.isRunning this.saveSettings.isRunning)}}
            <LoadingIndicator @dark={{true}} />
        {{else}}
            <p>
                {{t 'settings.account.export.body'}}
            </p>
            <OsfButton
                data-analytics-name='Export request'
                @onClick={{action (mut this.showRequestDialog) true}}
            >
                {{t 'settings.account.export.requestButton'}}
            </OsfButton>
        {{/if}}
    </panel.body>
</Panel>

<BsModal
    data-test-confirm-export-modal
    @open={{this.showRequestDialog}}
    as |modal|
>
    <modal.header>
        <h4 data-test-confirm-export-heading>
            {{t 'settings.account.export.confirmationTitle'}}
        </h4>
    </modal.header>
    <modal.body>
        {{t 'settings.account.export.confirmationBody'}}
    </modal.body>
    <modal.footer data-analytics-scope='Export confirmation'>
        <BsButton
            data-test-export-cancel
            data-analytics-name='Cancel'
            @onClick={{action (mut this.ShowRequestDialog) false}}
        >
            {{t 'general.cancel'}}
        </BsButton>
        <BsButton
            data-test-confirm-export-submit
            data-analytics-name='Confirm request'
            @onClick={{action this.confirmRequestExport}}
            @type='primary'
        >
            {{t 'settings.account.export.confirmationButton'}}
        </BsButton>
    </modal.footer>
</BsModal>