{{page-title (t 'not_found.title') prepend=false}}

<RegistriesWrapper>
    <div local-class='Registries404Page'>
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12'>
                    <h1>{{t 'not_found.title'}}</h1>
                    <p>
                        <span>{{t 'not_found.registries.line1'}}</span>
                        <br>
                        <span>{{t 'not_found.registries.line2'}}</span>
                        <a
                            href='mailto:{{t 'not_found.registries.contact'}}'
                            onbeforeclick={{action 'click' 'link' 'Page not found - Support' target=this.analytics}}
                        >
                            {{t 'not_found.registries.contact'}}
                        </a>
                    </p>
                    <LinkTo
                        @route='index'
                        class='btn btn-primary m-t-md'
                        data-analytics-name='Page not found - Go to Index'
                    >
                        {{t 'not_found.registries.go_to'}}
                    </LinkTo>
                </div>
            </div>
        </div>
    </div>
</RegistriesWrapper>
