<div local-class='cedar-metadata-renderer-container {{if @displayFileMetadata 'file-metadata'}}'>
    {{#if this.isShowEditor}}
        <CedarMetadataEditor
            @cedarMetadataRecord={{@cedarMetadataRecord}}
            @cedarMetadataTemplate={{@cedarMetadataRecord.template}}
            @displayArtifactViewer={{this.displayArtifactViewer}}
        />
    {{else}}    
        {{#if this.hasWritePermission}}
            <div local-class='action-container'>
                <div local-class='explanation-container {{if this.isDraft 'draft'}}'>
                    {{#if this.isDraft}}
                        {{t 'cedar.renderer.draft-explanation'}}
                    {{else}}
                        {{t 'cedar.renderer.published-explanation'}}
                    {{/if}}
                </div>
                <div local-class='button-container'>
                    <OsfLink
                        data-test-download-icon
                        local-class='spacer'
                        aria-label={{t 'metadata.download'}}
                        @href={{@cedarMetadataRecord.links.metadataDownload}}
                        @target='_blank'
                    >
                        <FaIcon @icon='download' />
                        <EmberTooltip
                            @side='right'
                        >
                            {{t 'metadata.download'}}
                        </EmberTooltip>
                    </OsfLink>
                    {{#unless @displayFileMetadata}}
                        <OsfLink
                            local-class='spacer'
                            data-test-download-button
                            aria-label={{t 'metadata.download'}}
                            @href={{@cedarMetadataRecord.links.metadataDownload}}
                            @target='_blank'
                        >
                            {{t 'general.download'}}
                        </OsfLink>
                    {{/unless}}
                    <Button
                        data-test-edit-button
                        data-analytics-name='Edit metadata'
                        {{on 'click' this.edit }}
                    >
                        {{#if @displayFileMetadata}}
                            <FaIcon @icon='pencil-alt' />
                            <EmberTooltip
                                @side='right'
                            >
                                {{t 'cedar.editor.edit-tooltip'}}
                            </EmberTooltip>
                        {{else}}
                            {{ t 'metadata.add-flow.edit' }}
                        {{/if}}
                    </Button>
                </div>
            </div>
        {{/if}}
        <div local-class='renderer-container'>
            <cedar-artifact-viewer
                local-class='artifact-viewer'
                config={{this.viewerConfig}}
                instanceObject={{@cedarMetadataRecord.metadata}}
                templateObject={{@cedarMetadataRecord.template.template}}
            />
        </div>
    {{/if}}
</div>
