<div local-class='cedar-metadata-renderer-container {{if @displayFileMetadata 'fileMetadata'}}'>
    {{#if this.isShowEditor}}
        <CedarMetadataEditor
            @cedarMetadataRecord={{@cedarMetadataRecord}}
            @cedarMetadataTemplate={{@cedarMetadataRecord.template}}
            @target={{this.target}}
            @displayArtifactViewer={{this.displayArtifactViewer}}
        />
    {{else}}    
        <div local-class='action-container'>
            <div local-class='explanation-container {{if this.isDraft 'draft'}}'>
                {{#if this.isDraft}}
                    {{t 'cedar.renderer.draft-explanation'}}
                {{else}}
                    {{t 'cedar.renderer.published-explanation'}}
                {{/if}}
            </div>
            <div local-class='button-container'>
                <Button
                    data-test-edit-button
                    data-analytics-name='Edit metadata'
                    {{on 'click' this.edit }}
                >
                    {{#if @displayFileMetadata}}
                        <FaIcon @icon='pencil-alt' />
                    {{else}}
                        {{ t 'metadata.add-flow.edit' }}
                    {{/if}}
                </Button>
            </div>
        </div>
        <div local-class='renderer-container'>
            <cedar-artifact-viewer
                local-class='artifact-viewer'
                config={{this.viewerConfig}}
                instanceObject={{@cedarMetadataRecord.metadata}}
                templateObject={{@cedarMetadataRecord.template.template}}
            />
        </div>
    {{/if}}
</div>
