<div local-class='Container' ...attributes>
    <div local-class='Heading'>
        <span local-class='SectionHeading'>
            {{t 'registries.registration_metadata.add_contributors.adding_heading'}}
        </span>
        <span local-class='SectionButtons'>
            <Button
                data-test-save-clear-added-contributors
                data-analytics-name='clear added contributors'
                local-class = 'Button'
                @layout='fake-link'
            >
                {{t 'registries.registration_metadata.add_contributors.clear_all'}}
            </Button>
            <Button
                data-test-save-added-contributors
                data-analytics-name='Save added contributors'
                local-class = 'Button'
                @type='create'
            >
                {{t 'registries.registration_metadata.add_contributors.save'}}
            </Button>
        </span>
    </div>
    <div local-class='Heading'>
        <span data-test-heading-name local-class='NameHeading'>
            {{t 'osf-components.contributors.headings.name'}}
        </span>
        <span data-test-heading-permission local-class='PermissionHeading'>
            {{t 'osf-components.contributors.headings.permission'}}
        </span>
        <span data-test-heading-citation local-class='CitationHeading'>
            {{t 'osf-components.contributors.headings.citation'}}
        </span>
    </div>
    {{#each @manager.addedContributors as |contributor| }}
        <Contributors::Card::Editable
            @manager={{@manager}}
            @contributor={{contributor}}
            @addContributorsMode={{true}}
        />
    {{/each}}
</div>