{{page-title (t 'registries.discover.page_title') prepend=false}}

<RegistriesWrapper
    @provider={{this.providerModel}}
    {{with-branding (get-model this.providerModel.brand)}}
    data-analytics-scope='Registries Discover page'
>
    <HeroOverlay local-class='DiscoverHero'>
        {{registries-header
            providerModel=this.providerModel
            showHelp=true
            value=(mut this.query)
            onSearch=(action 'onSearch')
            searchable=this.searchable
        }}
    </HeroOverlay>
    {{#registries-discover-search
        results=this.results
        isLoading=this.doSearch.isIdle
        searchOptions=this.searchOptions
        additionalFilters=this.additionalFilters
        provider=this.providerModel
        onSearchOptionsUpdated=(action this.onSearchOptionsUpdated)
        as |discover|
    }}
        <div local-class='search-container {{if this.isMobile 'mobile'}}'>
            <div local-class='search-options-container'>
                {{#if this.searchOptions}}
                    {{#discover.sidebar as |sidebar|}}
                        {{registries-provider-facet
                            options=this.filterableSources
                            searchOptions=this.searchOptions
                            onSearchOptionsUpdated=sidebar.onSearchOptionsUpdated
                            provider=this.providerModel
                        }}

                        {{registries-registration-type-facet
                            searchOptions=this.searchOptions
                            onSearchOptionsUpdated=sidebar.onSearchOptionsUpdated
                            provider=this.providerModel
                        }}

                        {{!-- TODO: this feature is not ready yet. Will be implemented in Phase2 Branded Reg --}}
                        {{!-- {{#if this.providerModel}}
                                    {{registries-subjects-facet
                                        provider=this.providerModel
                                        searchOptions=this.searchOptions
                                        onSearchOptionsUpdated=sidebar.onSearchOptionsUpdated
                                        provider=this.providerModel
                                    }}
                                {{/if}} --}}
                    {{/discover.sidebar}}
                {{/if}}
            </div>
            <div local-class='search-header-container'>
                {{#if (and this.doSearch.lastSuccessful this.searchOptions)}}
                    {{registries-discover-results-header
                        totalResults=this.totalResults
                        searchOptions=this.searchOptions
                        sortOptions=this.sortOptions
                        provider=this.providerModel
                        setOrder=(action this.setOrder)
                    }}
                    {{#discover.results
                        (html-attributes data-test-results=true)
                        as |result|
                    }}
                        <RegistriesSearchResult
                            class={{if this.doSearch.isRunning 'BlurredInert'}}
                            local-class='RegistriesSearchResult'
                            inert={{this.doSearch.isRunning}}
                            @result={{result}}
                            @provider={{this.providerModel}}
                        />
                    {{/discover.results}}

                    {{#unless this.totalResults}}
                        <div local-class='no-results'>
                            <p data-test-no-results-placeholder local-class='lead'>
                                {{t 'registries.discover.no_results'}}
                            </p>
                            {{t 'registries.discover.try_broadening'}}
                        </div>
                    {{/unless}}

                    {{#if (gt this.maxPage 1) }}
                        <div local-class='Pagination'>
                            {{search-paginator
                                current=this.searchOptions.page
                                maximum=this.maxPage
                                pageChanged=(action 'changePage')
                            }}
                        </div>
                    {{/if}}
                {{else if this.doSearch.isError}}
                    <div local-class='error-container'>
                        {{t 'registries.discover.error_loading'}}
                    </div>
                {{else}}
                    <div local-class='loading-container' aria-label={{t 'eosf.components.discoverPage.searchLoading'}}>
                        {{loading-indicator dark=true}}
                    </div>
                {{/if}}
            </div>
        </div>

    {{/registries-discover-search}}
</RegistriesWrapper>
