{{! template-lint-disable no-implicit-this }}
{{title (t 'registries.discover.page_title')}}

<HeroOverlay local-class='DiscoverHero'>
    {{#registries-header showHelp=true value=(mut query) onSearch=(action 'onSearch') searchable=searchable as |header|}}
        {{#header.lead}}
            <a href='https://share.osf.io/' local-class='ShareLogo' data-test-share-logo title={{t 'registries.discover.SHARE'}} onclick={{action 'click' 'link' 'Discover - SHARE Logo' target=analytics}}></a>
        {{/header.lead}}
    {{/registries-header}}
</HeroOverlay>
{{#registries-discover-search
    results=results
    isLoading=doSearch.isIdle
    searchOptions=searchOptions
    onSearchOptionsUpdated=(action onSearchOptionsUpdated)
    as |discover|
}}

    {{#discover.sidebar filterStyles=filterStyles as |sidebar|}}
        {{registries-provider-facet
            options=filterableSources
            searchOptions=searchOptions
            onSearchOptionsUpdated=sidebar.onSearchOptionsUpdated
        }}

        {{registries-registration-type-facet
            searchOptions=searchOptions
            onSearchOptionsUpdated=sidebar.onSearchOptionsUpdated
        }}

        {{#if this.providerModel}}
            {{registries-subjects-facet
                provider=this.providerModel
                searchOptions=searchOptions
                onSearchOptionsUpdated=sidebar.onSearchOptionsUpdated
            }}
        {{/if}}
    {{/discover.sidebar}}

    {{#if doSearch.isIdle}}
        {{registries-discover-results-header
            totalResults=totalResults
            searchOptions=searchOptions
            sortOptions=sortOptions
            setOrder=(action 'setOrder')
        }}
        {{#discover.results
            (html-attributes data-test-results=true)
            as |result|
        }}
            {{registries-search-result result=result class=(local-class 'RegistriesSearchResult')}}
        {{/discover.results}}

        {{#unless totalResults}}
            <div class='col-sm-8 col-xs-12'>
                <div class='text-center text-muted'>
                    <p class='lead'>
                        {{t 'registries.discover.no_results'}}
                    </p>
                    {{t 'registries.discover.try_broadening'}}
                </div>
            </div>
        {{/unless}}

        {{#if (gt maxPage 1) }}
            <div local-class='Pagination' class='col-xs-12'>
                {{search-paginator
                    current=searchOptions.page
                    maximum=maxPage
                    pageChanged=(action 'changePage')
                }}
            </div>
        {{/if}}
    {{else}}
        <div class='text-center p-v-md' aria-label={{t 'eosf.components.discoverPage.searchLoading'}}>
            {{loading-indicator dark=true}}
        </div>
    {{/if}}

{{/registries-discover-search}}
{{! template-lint-enable no-implicit-this }}
