{{#bs-modal onHidden=(action 'closeModal') as |modal|}}
    {{#unless done}}
        {{#modal.header onClose=(action 'closeModal')}}
            <h3 class="modal-title">Create new project</h3>
        {{/modal.header}}
        {{#modal.body}}
            <div class="text-left">
                <div class="form-group m-v-sm">
                    <label for="&quot;projectName" class="f-w-lg text-bigger">Title</label>
                    {{input placeholder="Enter project title" class='form-control project-name' value=nodeTitle type="text"}}
                </div>
                <div class="form-group m-v-sm">
                    <label class="f-w-lg text-bigger">Affiliation</label>
                    <a class='pointer' style="float: right;" onclick={{action 'removeAll'}}>Remove all</a>
                    <a class='pointer' style="float: right; margin-right: 12px;" onclick={{action 'selectAll'}}>Select all</a>
                    <table><tr>
                        {{#each user.institutions as | institution | }}
                            <td><a onclick={{action 'select' institution}}><div width="45px" height="45px" style="position: relative; margin: 10px;">
                                <img name="{{institution.name}}" width="45px" height="45px" class="img-circle pointer {{if institution.selected 'selected' 'not-selected'}}" src="/static/img/institutions/shields-rounded-corners/{{institution.id}}-shield-rounded-corners.png" alt="{{institution.name}}" title="{{institution.name}}">
                            </div></a></td>
                        {{/each}}
                    </tr></table>
                </div>
                {{#if more}}
                    <div class="text-muted pointer" onclick={{action 'toggleMore'}}>
                        {{fa-icon "caret-down"}} More
                    </div>
                    <div class="form-group m-v-sm">
                        <label for="&quot;projectDesc" class="f-w-lg text-bigger">Description</label>
                        {{input placeholder="Enter project description" class='form-control noresize project-desc' value=description type="text"}}
                    </div>
                    <div class="form-group m-v-md">
                        <label for="&quot;projectTemplate" class="f-w-lg text-bigger">Template (optional)</label>
                        <p class="f-w-xs help-text">Start typing to search your projects. Selecting project as template will duplicate its structure in the new project without importing the content of that project.</p>
                        {{#power-select
                            options=nodesAvailable
                            selected=templateFrom
                            noMatchesMessage="No matches found."
                            searchMessage="Select a project to use as template"
                            placeholder="Select a project to use as template"
                            onchange=(action (mut templateFrom))
                            searchField='title'
                            renderInPlace=true
                            as |node|
                        }}
                            {{node.title}}
                        {{/power-select}}
                    </div>
                {{else}}
                    <div class="text-muted pointer" onclick={{action 'toggleMore'}}>
                        {{fa-icon "caret-right"}} More
                    </div>
                {{/if}}
            </div>
        {{/modal.body}}
        {{#modal.footer}}
            {{#bs-button onClick=(action 'closeModal') type='default'}}Cancel{{/bs-button}}
            <button onclick={{action 'createNode'}} class="btn btn-success {{unless nodeTitle.length 'disabled'}}">Create</button>
        {{/modal.footer}}
    {{else}}
        {{#modal.body}}
            <button data-dismiss="modal" aria-label="Close" class="close" onclick={{action 'closeModal'}}><span aria-hidden="true">×</span></button>
            <h4 class="add-project-success text-success">New project created successfully!</h4>
        {{/modal.body}}
        {{#modal.footer}}
            {{#bs-button onClick=(action 'reload') type='default'}}Keep working here{{/bs-button}}
            <a href="/{{done}}/" class="btn btn-success">Go to new project</a>
        {{/modal.footer}}
    {{/unless}}
{{/bs-modal}}