<div ...attributes>
    <div local-class='InputContainer'>
        <Input
            @type='text'
            @placeholder={{t 'registries.registration_metadata.add_contributors.search_placeholder'}}
            @value={{@manager.query}}
            @enter={{fn @manager.fetchUsers}}
        />
        <OsfButton
            data-test-search-contributors
            local-class='ClearButton'
            @onClick={{fn @manager.fetchUsers}}
            @type='success'
            @class='m-t-md f-w-xl'
        >
            {{t 'registries.registration_metadata.add_contributors.clear'}}
        </OsfButton>
    </div>
    <div local-class='Container'>
        <h3 local-class='Heading'>
            {{t 'registries.registration_metadata.add_contributors.results_heading'}}
        </h3>
        <Contributors::UserSearch::List
            @manager={{@manager}}
            @results={{@manager.results}}
        />
    </div>
</div> 