<div ...attributes>
    <div local-class='InputContainer'>
        <Input
            local-class='UserSearchInput'
            data-test-user-search-input
            @type='text'
            @placeholder={{t 'registries.registration_metadata.add_contributors.search_placeholder'}}
            @value={{this.query}}
            @enter={{perform this.fetchUsers false}}
        />
        <Button
            data-test-user-search-button
            local-class='ClearButton'
            @type='create'
            {{on 'click' (perform this.fetchUsers false)}}
        >
            {{t 'registries.registration_metadata.add_contributors.search'}}
        </Button>
    </div>
    <Contributors::AddUnregisteredModal
        @addUnregisteredContributor={{@manager.addUnregisteredContributor}}
    />
    <div
        local-class='UserSearchResultsContainer'
        data-test-user-search-results
    >
        <div local-class='Heading'>
            <span data-test-heading-name>
                {{t 'registries.registration_metadata.add_contributors.results_heading'}}
            </span>
            <Button
                local-class='ClearButton'
                data-analytics-name='Done adding contributor'
                data-test-add-unregistered-contributor-done
                @type='create'
                {{on 'click' @toggleAddContributorWidget}}
            >
                {{t 'general.done'}}
            </Button>
        </div>
        <Contributors::UserSearch::List
            @manager={{@manager}}
            @results={{this.results}}
            @fetchUsers={{this.fetchUsers}}
            @shouldShowLoadMoreUsers={{this.shouldShowLoadMoreUsers}}
            @isLoadingUsers={{this.fetchUsers.isRunning}}
        />
    </div>
</div>
