<div ...attributes>
    <div local-class='input-container'>
        <div local-class='search-container'>
            <Input
                local-class='user-search-input'
                data-test-user-search-input
                placeholder={{t 'registries.registration_metadata.add_contributors.search_placeholder'}}
                @type='text'
                @value={{this.query}}
                @enter={{perform this.fetchUsers false}}
            />
            <Button
                data-test-user-search-button
                local-class='search-button'
                @type='create'
                {{on 'click' (perform this.fetchUsers false)}}
            >
                {{t 'registries.registration_metadata.add_contributors.search'}}
            </Button>
        </div>
        <div local-class='add-by-email-container'>
            <Contributors::AddUnregisteredModal
                @addUnregisteredContributor={{@manager.addUnregisteredContributor}}
            />
        </div>
    </div>
    <div
        local-class='UserSearchResultsContainer'
        data-test-user-search-results
    >
        <div local-class='Heading'>
            <span data-test-heading-name>
                {{t 'registries.registration_metadata.add_contributors.results_heading'}}
            </span>
            <Button
                local-class='ClearButton'
                data-analytics-name='Done adding contributor'
                data-test-add-unregistered-contributor-done
                @type='create'
                {{on 'click' @toggleAddContributorWidget}}
            >
                {{t 'general.done'}}
            </Button>
        </div>
        <Contributors::UserSearch::List
            @manager={{@manager}}
            @results={{this.results}}
            @fetchUsers={{this.fetchUsers}}
            @shouldShowLoadMoreUsers={{this.shouldShowLoadMoreUsers}}
            @isLoadingUsers={{this.fetchUsers.isRunning}}
        />
    </div>
</div>
