<div ...attributes>
    <div local-class='InputContainer'>
        <Input
            local-class='UserSearchInput'
            @type='text'
            @placeholder={{t 'registries.registration_metadata.add_contributors.search_placeholder'}}
            @value={{this.query}}
            @enter={{perform this.fetchUsers}}
        />
        <Button
            data-test-search-contributors
            local-class='ClearButton'
            @type='create'
            {{on 'click' (fn (perform this.fetchUsers))}}
        >
            {{t 'registries.registration_metadata.add_contributors.search'}}
        </Button>
    </div>
    <Contributors::AddUnregisteredModal
        @addUnregisteredContributor={{@manager.addUnregisteredContributor}}
    />
    <div local-class='UserSearchResultsContainer'>
        <div local-class='Heading'>
            <span data-test-heading-name>
                {{t 'registries.registration_metadata.add_contributors.results_heading'}}
            </span>
            <Button
                local-class='ClearButton'
                data-test-add-unregistered-contributor
                data-analytics-name='Add unregistered contributor'
                @type='create'
                {{on 'click' @toggleAddContributorWidget}}
            >
                {{t 'general.done'}}
            </Button>
        </div>
        <Contributors::UserSearch::List
            @manager={{@manager}}
            @results={{this.results}}
        />
    </div>
</div>
