<div ...attributes>
    <div local-class='input-container {{if (is-mobile) 'mobile'}}'>
        <div local-class='search-container'>
            <Input
                local-class='user-search-input'
                data-test-user-search-input
                placeholder={{t 'registries.registration_metadata.add_contributors.search_placeholder'}}
                @type='text'
                @value={{this.query}}
                @enter={{perform this.fetchUsers false}}
            />
            <Button
                data-test-user-search-button
                local-class='search-button'
                @type='primary'
                {{on 'click' (perform this.fetchUsers false)}}
            >
                <FaIcon @icon='search' />
            </Button>
        </div>
        <div local-class='add-by-email-container'>
            <Contributors::AddUnregisteredModal
                @addUnregisteredContributor={{@manager.addUnregisteredContributor}}
            />
        </div>
    </div>
    {{#if this.displayResults}}
        <div
            local-class='user-search-results-container {{if (is-mobile) 'mobile'}}'
            data-test-user-search-results
        >
            <Contributors::UserSearch::List
                @manager={{@manager}}
                @results={{this.results}}
                @fetchUsers={{this.fetchUsers}}
                @shouldShowLoadMoreUsers={{this.shouldShowLoadMoreUsers}}
                @isLoadingUsers={{this.fetchUsers.isRunning}}
            />
        </div>
        <div
            local-class='user-search-cancel-container'
        >
            <Button
                data-test-user-search-cancel-button
                {{on 'click' this.cancelSearch}}
            >
                {{t 'general.cancel'}}
            </Button>
        </div>
    {{/if}}
</div>
