<OsfDialog
    @isOpen={{@isOpen}}
    @onClose={{@onClose}}
    @closeOnOutsideClick={{true}}
    as |dialog|
>
    <dialog.heading>
        {{t 'osf-components.file-browser.help_modal.heading'}}
    </dialog.heading>
    <dialog.main local-class='FileHelpModal__main'>
        <h3>{{t 'osf-components.file-browser.help_modal.download_all'}}</h3>
        <p>{{t 'osf-components.file-browser.help_modal.download_all_detail'}}</p>
        <h3>{{t 'osf-components.file-browser.help_modal.download_folder'}}</h3>
        <p>
            {{t 'osf-components.file-browser.help_modal.download_folder_detail_first'}}
            <FaIcon
                aria-hidden='false'
                aria-label={{t 'osf-components.file-browser.help_modal.file_actions'}}
                local-class='FileHelpModal__actions-icon'
                @icon='ellipsis-v'
            />
            {{t 'osf-components.file-browser.help_modal.download_folder_detail_second' htmlSafe=true}}
        </p>
        <h3>{{t 'osf-components.file-browser.help_modal.view_files'}}</h3>
        <p>{{t 'osf-components.file-browser.help_modal.view_files_detail'}}</p>
        <h3>{{t 'osf-components.file-browser.help_modal.download_file'}}</h3>
        <p>
            {{t 'osf-components.file-browser.help_modal.download_file_detail_first'}}
            <FaIcon
                aria-hidden='false'
                aria-label={{t 'osf-components.file-browser.help_modal.file_actions'}}
                local-class='FileHelpModal__actions-icon'
                @icon='ellipsis-v'
            />
            {{t 'osf-components.file-browser.help_modal.download_file_detail_second'}}
            <FaIcon
                aria-hidden='false'
                aria-label={{t 'osf-components.file-browser.help_modal.file_actions'}}
                local-class='FileHelpModal__actions-icon'
                @icon='ellipsis-v'
            />
            {{t 'osf-components.file-browser.help_modal.download_file_detail_third'}}
        </p>
    </dialog.main>
    <dialog.footer>
        <Button
            @type='secondary'
            {{on 'click' @onClose}}
        >
            {{t 'general.close'}}
        </Button>
    </dialog.footer>
</OsfDialog>
