<li
    data-test-subject-id={{@itemManager.subject.id}}
    inert={{this.isPlaceholder}}
>
    <label local-class='subject-text'>
        {{input
            type='checkbox'
            change=(action @manager.onChange @subject)
            checked=@manager.selected
        }}
        {{@subject.text}}
    </label>

    {{#if @itemManager.numChildren}}
        <OsfButton
            data-test-expand-children={{@subject.id}}
            local-class='expand-button'
            @type='link'
            @onClick={{action this.toggleChildren}}
        >
            <FaIcon
                @icon='chevron-{{if this.shouldShowChildren 'up' 'down'}}'
                @fixedWidth={{true}}
            />
        </OsfButton>

        {{#if this.shouldShowChildren}}
            <ul local-class='children'>
                {{#each (range this.numChildren) as |index|}}
                    <Subjects::Browse::ItemManager
                        @subjectsManager={{@manager}}
                        @subject={{get @itemManager.children index}}
                        as |itemManager|
                    >
                        <Subjects::Browse::Item
                            @itemManager={{itemManager}}
                        />
                    </Subjects::Browse::ItemManager>
                {{/each}}
            </ul>
        {{/if}}
    {{/if}}
</li>
