<li
    class='{{if this.isPlaceholder 'BlurredInert'}}'
    local-class='Item'
    inert={{this.isPlaceholder}}
    ...attributes
>
    <label
        data-test-subject-browse-label={{@singleSubjectManager.subject.id}}
        local-class='ItemLabel {{if @singleSubjectManager.hasSelectedChildren 'with-selected-child'}}'
    >
        <Input
            @type='checkbox'
            @change={{action @singleSubjectManager.toggleSelected}}
            @checked={{@singleSubjectManager.isSelected}}
        />
        {{#if this.isPlaceholder}}
            {{random-text wordsPerSentence=3}}
        {{else}}
            {{@singleSubjectManager.subject.text}}
        {{/if}}

        {{#if @singleSubjectManager.numChildren}}
            <BsButton
                data-test-expand-children={{@singleSubjectManager.subject.id}}
                local-class='ExpandButton'
                role='button'
                aria-label='{{t (if this.shouldShowChildren 'osf-components.subjects.browse.hide_child_subjects' 'osf-components.subjects.browse.show_child_subjects')}}'
                @type='link'
                @onClick={{action this.toggleChildren}}
            >
                <FaIcon
                    @icon='chevron-{{if this.shouldShowChildren 'up' 'down'}}'
                    @fixedWidth={{true}}
                />
            </BsButton>
        {{/if}}
    </label>

    {{#if @singleSubjectManager.numChildren}}
        <Subjects::Browse::AnimatedExpand @isExpanded={{this.shouldShowChildren}}>
            <Subjects::Browse::ItemList
                local-class='Children'
                @items={{@singleSubjectManager.children}}
                @expectedNumItems={{@singleSubjectManager.numChildren}}
                @ItemManager={{@singleSubjectManager.ChildSubjectManager}}
            />
        </Subjects::Browse::AnimatedExpand>
    {{/if}}
</li>
