<div local-class='table'>
    <span local-class='input-group-btn'>
        <CopyButton
            @text={{this.text}}
            @onSuccess={{action this._success}}
            @onError={{action this._error}}
            disabled={{this.disabled}}
            local-class='CopyButton'
            aria-label={{t 'osf-components.copyable-text.copyToClipboard'}}
        >
            <FaIcon @icon='copy' />
        </CopyButton>
    </span>
    <input
        readonly='true'
        type='text'
        class='form-control'
        local-class='CopyableInput'
        value={{this.text}}
    >
</div>
<EmberTooltip
    @event='none'
    @isShown={{this.showTooltip}}
>
    {{t 'osf-components.copyable-text.copied'}}
</EmberTooltip>