<form {{action 'submit' on='submit'}}>
    {{validated-input/text
        data-test-sign-up-full-name
        model=model
        valuePath='fullName'
        messagesShown=didValidate
        disabled=hasSubmitted
        placeholder=(t 'sign_up_form.full_name')
        ariaLabel=(t 'sign_up_form.full_name')
    }}
    {{validated-input/text
        data-test-sign-up-email-1
        model=model
        valuePath='email1'
        messagesShown=didValidate
        disabled=hasSubmitted
        placeholder=(t 'sign_up_form.contact_email')
        ariaLabel=(t 'sign_up_form.contact_email')
    }}
    {{validated-input/text
        data-test-sign-up-email-2
        model=model
        valuePath='email2'
        messagesShown=didValidate
        disabled=hasSubmitted
        placeholder=(t 'sign_up_form.confirm_email')
        ariaLabel=(t 'sign_up_form.confirm_email')
    }}
    {{validated-input/text
        data-test-sign-up-password
        password=true
        model=model
        valuePath='password'
        messagesShown=didValidate
        disabled=hasSubmitted
        onKeyUp=(perform strength model.password)
        placeholder=(t 'sign_up_form.password')
        ariaLabel=(t 'sign_up_form.password')
    }}
    <div class="row" hidden={{not progress}}>
        <div class="col-xs-12">
            <div class="progress" local-class="CreatePassword">
                <div
                    class="progress-bar progress-bar-sm progress-bar-{{progress}} progress-bar-{{progressStyle}}"
                    role="progressbar">
                </div>
            </div>
        </div>
    </div>
    {{#validated-input/checkbox
        data-test-sign-up-tos
        model=model
        valuePath='acceptedTermsOfService'
        messagesShown=didValidate
        disabled=hasSubmitted
        local-class='tos-checkbox'
    }}
        {{sign-up-policy}}
    {{/validated-input/checkbox}}
    {{#if (and
        (not hasSubmitted)
        formIsValid
    )}}
        <div class="col-md-12" local-class="RecaptchaParent">
            {{validated-input/recaptcha
                data-test-recaptcha
                model=model
                valuePath='recaptchaResponse'
                messagesShown=didValidate
            }}
        </div>
    {{/if}}
    {{#if hasSubmitted}}
        <div class="osf-box-lt" local-class="help-block">
            <p class="ext-success p-xs">{{t 'sign_up_form.registration_success' email=model.email1}}</p>
        </div>
    {{else}}
        <div>
            <button type="submit" class="btn btn-success" {{action submit}} {{action 'click' 'button' 'Home - sign_up' target=analytics}}>
                {{t 'sign_up_form.sign_up_free'}}
            </button>
        </div>
    {{/if}}
</form>
