<form local-class="SignUpForm" {{action 'submit' on='submit'}}>
    {{validated-input/text
        data-test-sign-up-full-name
        model=this.userRegistration
        valuePath='fullName'
        showMessages=this.didValidate
        disabled=this.hasSubmitted
        placeholder=(t 'osf-components.sign-up-form.full_name')
        ariaLabel=(t 'osf-components.sign-up-form.full_name')
    }}
    {{validated-input/text
        data-test-sign-up-email-1
        model=this.userRegistration
        valuePath='email1'
        showMessages=this.didValidate
        disabled=this.hasSubmitted
        placeholder=(t 'osf-components.sign-up-form.contact_email')
        ariaLabel=(t 'osf-components.sign-up-form.contact_email')
    }}
    {{validated-input/text
        data-test-sign-up-email-2
        model=this.userRegistration
        valuePath='email2'
        showMessages=this.didValidate
        disabled=this.hasSubmitted
        placeholder=(t 'osf-components.sign-up-form.confirm_email')
        ariaLabel=(t 'osf-components.sign-up-form.confirm_email')
    }}
    {{validated-input/text
        data-test-sign-up-password
        password=true
        model=this.userRegistration
        valuePath='password'
        showMessages=this.didValidate
        disabled=this.hasSubmitted
        onKeyUp=(perform strength this.userRegistration.password)
        placeholder=(t 'osf-components.sign-up-form.password')
        ariaLabel=(t 'osf-components.sign-up-form.password')
    }}
    <div class="row" hidden={{not progress}}>
        <div class="col-xs-12">
            <div class="progress" local-class="CreatePassword">
                <div
                    class="progress-bar progress-bar-sm progress-bar-{{progress}} progress-bar-{{progressStyle}}"
                    role="progressbar">
                </div>
            </div>
        </div>
    </div>
    {{#validated-input/checkbox
        data-test-sign-up-tos
        model=this.userRegistration
        valuePath='acceptedTermsOfService'
        messagesShown=this.didValidate
        disabled=this.hasSubmitted
        local-class='tos-checkbox'
    }}
        {{sign-up-policy}}
    {{/validated-input/checkbox}}
    {{#if this.hasSubmitted}}
        <div class="osf-box-lt" local-class="help-block">
            <p class="ext-success p-xs">{{t 'osf-components.sign-up-form.registration_success' email=this.userRegistration.email1}}</p>
        </div>
    {{else}}
        <div class="col-md-12" local-class="RecaptchaParent">
            {{validated-input/recaptcha
                data-test-recaptcha
                model=this.userRegistration
                valuePath='recaptchaResponse'
                showMessages=this.didValidate
                bindReset=(action (mut this.resetRecaptcha))
            }}
        </div>
        <div>
            <button type="submit" class="btn btn-success" {{action submit}} {{action 'click' 'button' 'Home - sign_up' target=analytics}}>
                {{t 'osf-components.sign-up-form.sign_up_button_label'}}
            </button>
        </div>
    {{/if}}
</form>
