{{title model.name}}
<div class='row'>
    <div class='col-sm-5'>
        <h2>{{model.name}} <a id='versionLink' onclick={{action 'changeView'}}>{{concat "(Version: " model.currentVersion ")"}}</a></h2>
    </div>
    <div class='col-sm-7'>
        <div id='toggleBar' class='pull-right'>
            <div class='btn-toolbar m-t-md'>
                <div class='btn-group m-l-xs m-t-xs'>
                    <button class='btn btn-sm btn-primary popover-toggler' {{action 'share'}}>
                        Share
                        {{#bs-popover placement='bottom' class='share-popover' title='Share'}}
                            {{#bs-tab customTabs=true as |tab|}}
                                {{#bs-nav class='nav-justified' type='tabs' as |nav|}}
                                    {{#nav.item active=(bs-eq tab.activeId 'sharePane')}}
                                        <a href='#sharePane' role='tab' {{action tab.select 'sharePane'}}>Share</a>
                                    {{/nav.item}}
                                    {{#nav.item active=(bs-eq tab.activeId "embedPane")}}
                                        <a href='#sharePane' role='tab' {{action tab.select 'embedPane'}}>Embed<span class='badge'>{{badge}}</span></a>
                                    {{/nav.item}}
                                {{/bs-nav}}

                                <div class='tab-content'>
                                    {{#tab.pane elementId='sharePane' title='Share'}}
                                        <br>
                                        <div class='input-group'>
                                            <span class='input-group-btn share-btn-container'>
                                                <button type='button' class='btn btn-default btn-md' {{action 'share'}}>
                                                    <div class='fa fa-copy'></div>
                                                </button>
                                            </span>
                                            <input readonly='true' type='text' class='form-control' value='{{{mfrUrl}}}' id='sharePaneUrl'>
                                            <div class='share-buttons'>
                                                <a href='{{twitterUrl}}' target='_blank'>
                                                    <i aria-hidden='true' class='fa fa-twitter'></i>
                                                </a>
                                                <a href='{{facebookUrl}}' target='_blank'>
                                                    <i aria-hidden='true' class='fa fa-facebook'></i>
                                                </a>
                                                <a href='{{linkedInUrl}}' target='_blank' data-toggle='tooltip' data-placement='bottom' data-original-title='Disable adblock for full sharing functionality'>
                                                    <i aria-hidden='true' class='fa fa-linkedin'></i>
                                                </a>
                                                <a href='{{emailUrl}}' target='_blank'>
                                                    <i aria-hidden='true' class='fa fa-envelope'></i>
                                                </a>
                                            </div>
                                        </div>
                                    {{/tab.pane}}
                                    {{#tab.pane elementId='embedPane' title='Embed'}}
                                        <br>
                                        <p>Dynamically render iframe with JavaScript</p>
                                        <textarea readonly='true' type='text' class='form-control'>{{{shareiFrameDynamic}}}</textarea>
                                        <br>
                                        <p>Direct iframe with fixed height and width</p>
                                        <textarea readonly='true' class='form-control'>{{{shareiFrameDirect}}}</textarea>
                                    {{/tab.pane}}
                                </div>
                            {{/bs-tab}}
                        {{/bs-popover}}
                    </button>
                </div>
                <div class='btn-group m-l-xs m-t-xs'>
                    <button class='btn btn-sm btn-primary' {{action 'download'}}>
                        Download
                    </button>
                </div>
                <div class='btn-group m-l-xs m-t-xs'>
                    <button class='btn btn-sm btn-primary view-button' {{action 'changeView'}}>
                        View
                    </button>
                </div>
                <div class='btn-group m-l-xs m-t-xs'>
                    <button class='btn btn-sm btn-default view-button' {{action 'changeView'}}>
                        Revisions
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class='row'>
    <div class='col-md-3'>
        {{file-browser
            selectedFile=model
            display=displays
            user=userId
            openFile=(action 'openFile')
        }}
        <div class='panel panel-default'>
            <div class='panel-heading clearfix'>
                <h3 class='panel-title'>Tags:</h3>
            </div>
            <div class='panel-body'>
                {{#tag-input
                    tags=fileTags
                    addTag=(action 'addTag')
                    removeTagAtIndex=(action 'removeTagAtIndex')
                    allowSpacesInTags=true
                    as |tag|
                }}
                    {{tag}}
                {{/tag-input}}
            <div class="tags_clear">
            </div>
            </div>
        </div>
    </div>
    <div class='col-md-9'>
        <div id='mfrIframeParent'>
            {{#file-renderer download=model.links.download
                height="1000"}}
            {{/file-renderer}}
        </div>
        <div id='revisionsPanel' class='panel panel-default'>
            <div class='panel-heading clearfix'>
                <h3 class='panel-title'>
                    Revision
                </h3>
            </div>
            <div class='panel-body'>
                <table class='table table-responsive'>
                    <thead>
                        <tr>
                            <th>Version ID</th>
                            <th>Size</th>
                            <th colspan='2'>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{file-version
                         version=fileVersions
                         download='download'}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>