<div class="container-fluid">
    <div class="row hidden-xs">
        <div class="col-sm-3 col-sm-offset-2">
            <strong>{{t 'app_components.project_contributors.list.name'}}</strong>
        </div>
        <div class="col-sm-3">
            <strong>{{t 'app_components.project_contributors.list.permissions'}}</strong>
            <i class="fa fa-question-circle">
                {{#bs-popover
                    placement='bottom'
                    triggerEvents='hover'
                    title=(t 'app_components.project_contributors.list.permissions_popover_title')
                }}
                    {{t 'app_components.project_contributors.list.permissions_popover'}}
                {{/bs-popover}}
            </i>
        </div>
        <div class="col-sm-2 bib-padding">
            <strong>{{t 'app_components.project_contributors.list.citation'}}</strong>
            <i class="fa fa-question-circle">
                {{#bs-popover
                    placement='bottom'
                    triggerEvents='hover'
                    title=(t 'app_components.project_contributors.list.citation_popover_title')
                }}
                    {{t 'app_components.project_contributors.list.citation_popover'}}
                {{/bs-popover}}
            </i>
        </div>
    </div>
    {{#sortable-group onChange=(action (perform reorderContributors)) as |group|}}
        {{#each contributors as |contributor|}}
            {{project-contributors/list/item
                group=group
                contributor=contributor
                isAdmin=isAdmin
                adminCount=adminCount
                bibliographicCount=bibliographicCount
                removeContributor=(action (perform removeContributor))
                toggleBibliographic=(action (perform toggleBibliographic))
                updatePermissions=(action (perform updatePermissions))
            }}
        {{/each}}
    {{/sortable-group}}
</div>