<div local-class='result-card-container'>
    <div local-class='primary-metadata-container'>
        <div local-class='header'>
            <div local-class='type-label'>
                {{this.cardTypeLabel}}
            </div>
            {{#if (not-eq @result.resourceType 'user')}}
                <Button
                    {{on 'click' this.toggleSecondaryMetadata}}
                >
                    {{#if this.isOpenSecondaryMetadata}}
                        <FaIcon
                            @icon={{'angle-up'}}
                        />
                    {{else}}
                        <FaIcon
                            @icon={{'angle-down'}}
                        />  
                    {{/if}}
                </Button>
            {{/if}}
        </div>
        <h4 local-class='display-name'>
            <a href={{@result.absoluteUrl}} target='_blank' rel='noopener noreferrer'> {{@result.displayTitle}} </a>
            {{#if @result.orcids}}
                {{#each @result.orcids as |item|}}
                    <a href={{item}}
                        target='_blank'
                        rel='noopener noreferrer'
                        aria-label={{t 'osf-components.search-result-card.link_to_orcid_id'}}
                    >
                        <FaIcon @prefix='fab' @icon='orcid' local-class='orcid-logo' />
                    </a>
                {{/each}}
            {{/if}}
        </h4>
        
        {{#if @result.affiliatedEntities}}
            <div local-class='name-fields'>
                <InlineList
                    @items={{@result.affiliatedEntities}}
                    @total={{@result.affiliatedEntities.count}}
                    @truncate={{5}}
                    as |list|
                >
                    <a href={{list.item.absoluteUrl}} target='_blank' rel='noopener noreferrer'> {{list.item.name}} </a>
                </InlineList>
            </div>
        {{/if}}
        {{#if @result.isPartOf}}
            <div>
                <span>{{t 'osf-components.search-result-card.from'}}: <a href={{@result.isPartOfTitleAndUrl.absoluteUrl}} target='_blank' rel='noopener noreferrer'> {{@result.isPartOfTitleAndUrl.title}} </a></span>
            </div>
        {{/if}}
        <div local-class='date-fields'>
            {{#each @result.dateFields as |field|}}
                {{#if field.date}}
                    <span>{{field.label}}: {{field.date}}</span>
                {{/if}}
            {{/each}}
        </div>
        {{#if @result.context}}
            <div local-class='context-field'>
                <span>{{t 'osf-components.search-result-card.context'}}: {{@result.context}}</span>
            </div>
        {{/if}}
        {{#if (or (eq @result.resourceType 'registration') (eq @result.resourceType 'registration_component'))}}
            <OpenBadgesList
                @hasData={{@result.hasDataResource}}
                @hasMaterials={{@result.hasMaterialsResource}}
                @hasAnalyticCode={{@result.hasAnalyticCodeResource}}
                @hasPapers={{@result.hasPapersResource}}
                @hasSupplements={{@result.hasSupplementalResource}}
                @absoluteUrl={{@result.absoluteUrl}}
                @verticalLayout={{false}}
            />
        {{/if}}
    </div>
    <CpPanel @open={{this.isOpenSecondaryMetadata}} as |panel|>
        <panel.body>
            <hr>
            {{component this.secondaryMetadataComponent result=@result}}
            {{!-- {{#if (or (eq @result.resourceType 'registration') (eq @result.resourceType 'registration_component'))}}
                <SearchResultCard::RegistrationSecondaryMetadata @result={{@result}} />
            {{else if (or (eq @result.resourceType 'project') (eq @result.resourceType 'project_component'))}}
                <SearchResultCard::ProjectSecondaryMetadata @result={{@result}} />
            {{else if (eq @result.resourceType 'preprint')}}
                <SearchResultCard::PreprintSecondaryMetadata @result={{@result}} />
            {{/if}} --}}
        </panel.body>
    </CpPanel>
</div>