{{page-title (t 'metadata.tab-title')}}
<div local-class='metadata-container {{if this.isMobile 'mobile'}}'>
    <div local-class='header-container'>
        <div local-class='header'>
            <h2 data-test-metadata-header>
                {{t 'metadata.header'}}
            </h2>
        </div>
        <div local-class='actions'>
            <div local-class='download spacer'>
                <div local-class='spacer'>
                    <FaIcon @icon='download' />
                </div>
                <div>
                    {{t 'metadata.download'}}
                </div>
            </div>
            <div local-class='add-schema'>
                <div local-class='spacer'>
                    <FaIcon @icon='plus' />
                </div>
                <div>
                    <OsfLink
                        data-test-add-cedar-schema
                        data-analytics-name='Add metadata schema'
                        @route='guid-node.metadata.add'
                        @models={{array this.model.target.id}}
                    >
                        {{t 'metadata.add-schema'}}
                    </OsfLink>
                </div>
            </div>
        </div>
    </div>
    <div local-class='metadata-tab-container'>
        {{t 'metadata.add-schema'}}
        {{!-- <GuidNode::Metadata::-Components::MetadataTabs
            @guidNode={{this.model.target}}
            @cedarMetadataRecords={{this.model.cedarMetadataRecords}}
            @defaultIndex={{this.model.defaultIndex}}
        ></GuidNode::Metadata::-Components::MetadataTabs> --}}
    </div>
</div>
