<div class="row actions-header">
    {{#if (or showFilterClicked showFilterInput)}}
        <div class="col-xs-9 filter-input">
            {{input
                placeholder=(t 'file_browser.filtering')
                class="form-control"
                keyUp=(action updateFilter value='target.value')
            }}
        </div>
        <div class="col-xs-3">
            <button onclick={{action 'closeFilter'}} class="btn pull-right">
                {{fa-icon "times"}}
            </button>
        </div>
    {{else}}
        <div class="pull-right">
            <button onclick={{action (mut showFilterClicked) true}} class="btn btn-light">
                {{fa-icon "search"}}
                {{t 'general.filter'}}
            </button>
        </div>
    {{/if}}
</div>
<div class="items" role="listbox">
    {{#each items as |item|}}
        {{file-list-item
            item=item
            openItem=(action 'openItem')
        }}
    {{/each}}
</div>
