{{#if session.isAuthenticated}}
    {{#unless onInstitutions}}
        <li role="link" {{action onLinkClick}}>
            {{#link-to 'guid-user.quickfiles' currentUser.currentUserId click=(action 'click' 'link' 'Navbar - navbar.my_quick_files' target=analytics)}}
                {{t 'navbar.my_quick_files'}}
            {{/link-to}}
        </li>
    {{/unless}}
    <li>
        <a href={{myProjectsUrl}} onclick={{action 'click' 'link' 'Navbar - navbar.my_projects' target=analytics}}>
            {{t 'navbar.my_projects'}}
        </a>
    </li>
{{/if}}
<li>
    <a href={{searchUrl}} onclick={{action 'click' 'link' 'Navbar - navbar.search' target=analytics}}>
        {{t 'navbar.search'}}
    </a>
</li>
<li role="link" {{action onLinkClick}}>
    {{#if onInstitutions}}
        <a href='http://help.osf.io/m/institutions' onclick={{action 'click' 'link' 'Navbar - navbar.support' target=analytics}}>
            {{t 'navbar.support'}}
        </a>
    {{else}}
        {{#link-to 'support' click=(action 'click' 'link' 'Navbar - navbar.support' target=analytics) }}
            {{t 'navbar.support'}}
        {{/link-to}}
    {{/if}}
</li>
<li class="navbar-donate-button">
    <a href={{donateUrl}} onclick={{action 'click' 'link' 'Navbar - navbar.donate' target=analytics}}>
        {{t 'navbar.donate'}}
    </a>
</li>
