<OsfDialog
    @isOpen={{@isOpen}}
    @onClose={{@onClose}}
    @closeOnOutsideClick={{true}}
    @manger={{@manager}}
    @buttonStyling={{true}}
    class='modal-dialog modal-dialog-centered'
    data-test-file-rename-modal
    aria-label={{t 'osf-components.file-browser.file_rename_modal.dialog_aria'}}
    local-class='RenameModal'
    as |dialog|
>
    <dialog.heading data-test-rename-heading>
        {{t 'osf-components.file-browser.file_rename_modal.heading'}}
    </dialog.heading>
    <dialog.main>
        <div local-class='RenameInput'>
            <Input
                data-test-user-input
                aria-label={{t 'osf-components.file-browser.file_rename_modal.input_aria'}}
                @value={{this.newFileName}}
                @type='text'
                class='form-control'
                onblur={{perform this.validateFileName}}
            ></Input>
        </div>
    </dialog.main>
    <dialog.footer>
        <Button
            data-test-cancel-button
            data-analytics-name='Rename Cancel'
            local-class='CancelButton'
            @type='secondary'
            aria-label={{t 'osf-components.file-browser.file_rename_modal.cancel_aria'}}
            {{on 'click' (
                queue
                this.resetFileNameValue
                dialog.close
            )
            }}
        >
            {{t 'osf-components.file-browser.file_rename_modal.cancel'}}
        </Button>
        {{#if this.disabled}}
            <Button
                data-test-disabled-rename
                local-class='RenameButton'
                id='renameButton'
                @type='create'
                disabled={{true}}
                aria-label={{t 'osf-components.file-browser.file_rename_modal.save_aria'}}
                {{on 'click' (
                    queue
                    this.updateFileName
                    dialog.close
                )
                }}
            >
                {{t 'osf-components.file-browser.file_rename_modal.save'}}
            </Button>
        {{else}}
            <Button
                data-test-enabled-rename
                local-class='RenameButton'
                id='renameButton'
                @type='create'
                disabled={{false}}
                aria-label={{t 'osf-components.file-browser.file_rename_modal.save_aria'}}
                {{on 'click' (
                    queue
                    this.updateFileName
                    dialog.close
                )
                }}
            >
                {{t 'osf-components.file-browser.file_rename_modal.save'}}
            </Button>
        {{/if}}
    </dialog.footer>
</OsfDialog>
