{{#registries-search-facet-container title='Provider'}}
    <ul>
        {{#each this.providers as |provider index|}}
            <li>
                <label>
                    <Input
                        data-test-source-filter-id={{index}}
                        @type='checkbox'
                        @change={{action 'providerChecked' provider.filter provider.checked}}
                        @checked={{provider.checked}}
                    />
                    {{provider.filter.display}}
                    <small>({{number-format provider.count}})</small>
                </label>
            </li>
        {{/each}}
    </ul>
{{/registries-search-facet-container}}
