{{#registries-search-facet-container title='Provider'}}
    <ul local-class='ProviderFacet__List'>
        {{#each this.providers as |provider index|}}
            <li local-class='ProviderFacet__ListItem'>
                <label local-class='ProviderFacet__Label'>
                    <Input
                        local-class='ProviderFacet__Checkbox'
                        data-test-source-filter-id={{index}}
                        data-analytics-name='Provider Facet Checkbox'
                        disabled={{this.shouldLinkToAggregateDiscover}}
                        @type='checkbox'
                        @change={{action 'providerChecked' provider.filter provider.checked}}
                        @checked={{provider.checked}}
                    />
                    {{provider.filter.display}}
                </label>
                <span local-class='ProviderFacet__Count'>
                    {{format-number provider.count notation='compact'}}
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if this.shouldLinkToAggregateDiscover}}
        <OsfLink
            data-analytics-name='Other Registries Link'
            @route='registries.discover'
        >
            {{t 'registries.facets.provider.other_registries'}}
        </OsfLink>
    {{/if}}
{{/registries-search-facet-container}}
