{{yield (hash
    trigger=(component 'osf-dialog/trigger')
    open=(action this.openDialog)
)}}
{{#if this.shouldBeOpen}}
    <script
        {{! These should be on <EmberWormhole> below, but we need Ember 3.11 for that }}
        {{did-insert (action this.updateModalState true)}}
        {{will-destroy (action this.updateModalState false)}}
    ></script>
    {{!-- template-lint-disable no-invalid-interactive --}}
    <EmberWormhole
        @tagName='span'
        @destinationElement={{this.osfModalState.dialogWormholeTarget}}
        @renderInPlace={{this._renderInPlace}}
    >
        <div
            data-test-dialog-background
            local-class='DialogBackground {{if this.isModal 'BackgroundClickable' 'BackgroundUnclickable'}}'
            {{on 'click' (action this.onClickBackground)}}
        >
            <div
                data-test-dialog
                local-class='Dialog {{if this.fixedWidth 'FixedWidth'}}'
                role='dialog'
                aria-labelledby='osf-dialog-heading'
                ...attributes
                {{on 'keydown' (action this.onKeydown)}}
            >
                <div
                    role='document'
                    local-class='DialogDocument'
                >
                    {{yield (hash
                        heading=(component 'osf-dialog/heading'
                            closeDialog=(action this.closeDialog)
                            headingId='osf-dialog-heading'
                        )
                        close=(action this.closeDialog)
                    )}}
                    {{yield (hash
                        main=(component 'osf-dialog/main')
                        close=(action this.closeDialog)
                    )}}
                    {{yield (hash
                        footer=(component 'osf-dialog/footer')
                        close=(action this.closeDialog)
                    )}}
                </div>
            </div>
        </div>
    </EmberWormhole>
{{/if}}
