<OsfDialog @isOpen={{@isOpen}} @onClose={{fn (mut @isOpen) false}} as |dialog|>
    <dialog.heading>
        {{t 'osf-components.file-browser.delete_file'}}
    </dialog.heading>
    <dialog.main>
        {{t 'osf-components.file-browser.confirm_delete' fileName=@file.name}}
    </dialog.main>
    <dialog.footer>
        <Button
            {{on 'click' (fn (mut @isOpen) false)}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            @type='destroy'
            {{on 'click'
                (queue
                    (perform @file.delete)
                    (fn (mut @isOpen) false)
                    @onDelete
                )
            }}
        >
            {{t 'osf-components.file-browser.delete'}}
        </Button>
    </dialog.footer>
</OsfDialog>