<OsfDialog @isOpen={{@isOpen}} @onClose={{@closeModal}} as |dialog|>
    <dialog.heading>
        {{#if @file.isFolder}}
            {{t 'osf-components.file-browser.delete_folder'}}
        {{else}}
            {{t 'osf-components.file-browser.delete_file'}}
        {{/if}}
    </dialog.heading>
    <dialog.main>
        {{t 'osf-components.file-browser.confirm_delete' fileName=@file.name}}
    </dialog.main>
    <dialog.footer>
        <Button
            {{on 'click' (fn (mut @isOpen) false)}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            @type='destroy'
            disabled={{this.confirmDelete.isRunning}}
            {{on 'click' (perform this.confirmDelete)}}
        >
            {{t 'osf-components.file-browser.delete'}}
        </Button>
    </dialog.footer>
</OsfDialog>