<div local-class='preprint-input-container  {{if (is-mobile) 'mobile'}}'>
    {{#if this.loadLicenses.isRunning}}
        <LoadingIndicator data-test-loading-indicator @dark={{true}} />
    {{else}}
        <h3 local-class='title'
            data-test-title
        >
            {{t 'preprints.submit.step-two.title'}}
        </h3>
        <div local-class='form-container'>
            <div local-class='input-container'>
                <Contributors::Widget
                    @preprint={{@manager.preprint}}
                    @shouldShowAdd={{this.showAddContributorWidget}}
                    @toggleAddContributorWidget={{this.toggleAddContributorWidget}}
                    @widgetMode={{'editable'}}
                />
            </div>

            <FormControls
                @changeset={{this.metadataFormChangeset}}
                data-test-form
                as |form|
            >
                {{#let (unique-id 'license') as |licenseId|}}
                    <label for={{licenseId}}
                        data-test-license-label
                    >
                        {{t 'preprints.submit.step-two.license-input'}}
                        <span local-class='required'>*</span>
                    </label>
                    <p>
                        {{t 'preprints.submit.step-two.license-description'}}
                    </p>
                    <form.select
                        data-test-license-input
                        @ariaLabel={{ t 'preprints.submit.step-two.license-placeholder'}}
                        @valuePath={{'license'}}
                        @options={{this.licenses}}
                        @onchange={{this.validate}}
                        local-class='input-container'
                        @placeholder={{ t 'preprints.submit.step-two.license-placeholder'}}
                        as |license|
                    >
                        {{license.name}}
                    </form.select>
                {{/let}}

                <div local-class='input-container'>
                    {{#let (unique-id) 'subjects' as |subjectsFieldId|}}
                        <label for={{subjectsFieldId}}
                            data-test-subjects-label
                        >
                            {{ t 'preprints.submit.step-two.subjects-input'}}
                            <span local-class='required'>*</span>
                        </label>
                        <Subjects::Manager
                            @model={{@manager.preprint}}
                            @provider={{@manager.provider}}
                            @metadataChangeset={{this.metadataFormChangeset}} 
                            @doesAutosave={{true}}
                            @onchange={{this.validate}}
                            id={{subjectsFieldId}}
                            as |subjectsManager|
                        >
                            <Subjects::Widget
                                @subjectsManager={{subjectsManager}}
                            />
                            <ValidationErrors 
                            @changeset={{this.metadataFormChangeset}} @key='subjects'
                            @isValidating={{subjectsManager.isSaving}} />
                        </Subjects::Manager>
                    {{/let}}

                   
                </div>
                
                <div local-class='input-container'>
                    {{#let (unique-id) 'tags' as |tagsFieldId|}}
                        <label for={{tagsFieldId}}
                            data-test-tags-label
                        >
                            {{t 'preprints.submit.step-two.tags-input'}}
                        </label>
                        <TagsWidget
                            @taggable={{@manager.preprint}}
                            @readOnly={{false}}
                            @inline={{true}}
                            id={{tagsFieldId}}
                        />
                    {{/let}}
                </div>

                <form.text
                    data-test-publication-doi-input
                    @label={{t 'preprints.submit.step-two.publication-doi-input'}}
                    @ariaLabel={{t 'preprints.submit.step-two.publication-doi-input'}}
                    @valuePath={{'doi'}}
                    {{on 'change' this.validate}}
                    {{on 'focusout' this.validate}}
                    local-class='input-container'
                    @placeholder={{t 'preprints.submit.step-two.publication-doi-input'}}
                />

                <div local-class='input-container'>
                    <ValidatedInput::Date
                        @label={{t 'preprints.submit.step-two.publication-date-input'}}
                        @ariaLabel={{t 'preprints.submit.step-two.publication-date-input'}}
                        data-test-publication-date-input
                        @value={{@manager.preprint.originalPublicationDate}}
                        @placeholder={{t 'preprints.submit.step-two.publication-date-input'}}
                        @date={{@manager.preprint.originalPublicationDate}}
                        {{on 'change' this.validate}}
                        {{on 'focusout' this.validate}}
                        @minDate={{this.originalPublicationDateMin}}
                        @maxDate={{this.originalPublicationDateMax}}
                    />
                </div>

                <form.text
                    data-test-publication-citation-input
                    @label={{t 'preprints.submit.step-two.publication-citation-input'}}
                    @ariaLabel={{t 'preprints.submit.step-two.publication-citation-input'}}
                    @valuePath={{'originalPublicationCitation'}}
                    {{on 'change' this.validate}}
                    {{on 'focusout' this.validate}}
                    local-class='input-container'
                    @placeholder={{t 'preprints.submit.step-two.publication-citation-input'}}
                />
            </FormControls>
        </div>
    {{/if}}
</div>