<div local-class='results-container'>
    <div local-class='header'>
        <h2 data-test-results-count>
            {{t 'registries.discover.registration_count' count=@totalResults}}
        </h2>
    </div>
    <div local-class='dropdown-container'>
        <ResponsiveDropdown as |dd|>
            <dd.trigger
                data-test-sort-dropdown
                data-analytics-name='Sort Registries Button{{if @provider (concat ' ' @provider.name)}}'
                local-class='DropdownTrigger'
            >
                {{t 'registries.discover.sort_by'}}: {{t @searchOptions.order.display}}
                <span role='button' aria-label='{{t 'registries.discover.sort_by'}}'><FaIcon @icon='caret-down' /></span>
            </dd.trigger>
            <dd.content local-class='DropdownContent'>
                {{#each @sortOptions as |option index|}}
                    <div>
                        <Button
                            data-test-sort-option-id='{{index}}'
                            local-class='SortDropDown__Option'
                            {{on 'click' (fn @setOrder option)}}
                            {{on 'click' dd.close}}
                        >
                            {{t option.display}}
                        </Button>
                    </div>
                {{/each}}
            </dd.content>
        </ResponsiveDropdown>
    </div>
</div>
