<div class='col-sm-9 col-xs-12' local-class='ResultsHeader'>
    <div class='col-sm-6'>
        <h2 data-test-results-count>
            {{t 'registries.discover.registration_count' count=@totalResults}}
        </h2>
    </div>
    <div class='col-sm-6 text-right'>
        <ResponsiveDropdown as |dd|>
            <dd.trigger
                data-test-sort-dropdown
                data-analytics-name='Sort Registries Button{{if @provider (concat ' ' @provider.name)}}'
                local-class='DropdownTrigger'
            >
                {{t 'registries.discover.sort_by'}}: {{t @searchOptions.order.display}}
                <span role='button' aria-label='{{t 'registries.discover.sort_by'}}' class='caret'></span>
            </dd.trigger>
            <dd.content local-class='DropdownContent'>
                {{#each @sortOptions as |option index|}}
                    <div>
                        <button
                            data-test-sort-option-id='{{index}}'
                            class='btn'
                            type='button'
                            local-class='SortDropDown__Option'
                            {{on 'click' (fn @setOrder option)}}
                            {{on 'click' dd.close}}
                        >
                            {{t option.display}}
                        </button>
                    </div>
                {{/each}}
            </dd.content>
        </ResponsiveDropdown>
    </div>
</div>