{{#let
    (component 'settings/addons/-components/addon')
    as |Addon|
}}
    <Addon @addon={{@addon}} @userAddons={{@userAddons}}>
        <OsfButton
            data-analytics-name={{concat @addon.name ' addon'}}
            @type='link'
            @onClick={{action this.openModal}}
        >
            {{t 'settings.addons.link'}}
        </OsfButton>
    </Addon>
    <BsModal
        @open={{this.modalOpen}}
        @onHide={{action this.closeModal}}
        as |modal|
    >
        <modal.header>
            <h3>{{t 'settings.addons.account'}} {{@addon.name}}</h3>
        </modal.header>
        <modal.body>
            <ValidatedModelForm as |form|>
                <div local-class='form-item'>
                    <h4>{{@addon.name}} {{t 'settings.addons.repo'}}</h4>
                    <div class='input-group'>
                        <span class='input-group-addon'>{{t 'settings.addons.https'}}</span>
                        <form.text
                            @valuePath='repoUrl'
                            @placeholder={{t 'general.required'}}
                        />
                    </div>
                    <small local-class='sub-text'>
                        {{t 'settings.addons.only'}}
                        {{@addon.name}}
                        {{t 'settings.addons.repoSupport'}}
                    </small>
                </div>
                <div local-class='form-item'>
                    <h4>{{t 'settings.addons.apiToken'}}</h4>
                    <form.text
                        @valuePath='apiToken'
                        @placeholder={{t 'general.required'}}
                    />
                </div>
            </ValidatedModelForm>
        </modal.body>
        <modal.footer>
            <BsButton
                @onClick={{action this.closeModal}}
                @defaultText={{t 'general.cancel'}}
            />
            <BsButton
                @type='primary'
                @defaultText={{t 'general.save'}}
            />
        </modal.footer>
    </BsModal>
{{/let}}
