{{#let
    (component 'settings/addons/-components/addon')
    as |Addon|
}}
    <Addon @addon={{@addon}} @userAddons={{@userAddons}}>
         <OsfButton
             data-analytics-name={{concat @addon.name ' addon'}}
             @type='link'
             @onClick={{action this.openModal}}
             local-class='button'
         >
             {{t 'settings.addons.link'}}
         </OsfButton>
    </Addon>
    <BsModal
        @open={{this.modalOpen}}
        @onHide={{action this.closeModal}}
        as |modal|
    >
    <ValidatedModelForm
        @onSave={{action this.onSubmit}}
        {{!--  @model={{this.account}}  --}}
        @modelName='account'
        as |form|
    >
            <modal.header>
                <h3>{{t 'settings.addons.account'}} {{@addon.name}}</h3>
            </modal.header>
            <modal.body>
                <div local-class='form-item'>
                    <h4>{{@addon.name}} {{t 'settings.addons.repo'}}</h4>
                     <form.text
                         @valuePath='profileUrl'
                         @placeholder={{t 'general.required'}}
                         @inputAddon={{t 'settings.addons.https'}}
                     />
                    <small local-class='sub-text'>
                        {{t 'settings.addons.only'}}
                        {{@addon.name}}
                        {{t 'settings.addons.repo_support'}}
                    </small>
                </div>
                <div local-class='form-item'>
                    <h4>{{t 'settings.addons.api_token'}}</h4>
                    <form.text
                        @valuePath='apiToken'
                        @placeholder={{t 'settings.addons.api_token'}}
                    />
                </div>
                <OsfButton @onClick={{action this.closeModal}}>
                    {{t 'general.cancel'}}
                </OsfButton>
                <OsfButton
                    @buttonType='submit'
                    @type='primary'
                >
                    {{t 'general.save'}}
                </OsfButton>
            </modal.body>
        </ValidatedModelForm>
    </BsModal>
{{/let}}
