{{#docs-viewer as |viewer|}}
    {{#viewer.nav project=model as |nav|}}
        {{nav.section 'Introduction'}}
        {{nav.item 'What is this handbook?' 'docs.index'}}
        {{nav.item 'Contributing to the handbook' 'docs.contributing'}}

        {{nav.section 'Development'}}
        {{nav.item 'Quickstart' 'docs.quickstart'}}
        {{nav.item 'Troubleshooting' 'docs.troubleshooting'}}
        {{nav.item 'Developer Environment' 'docs.dev-env'}}
        {{nav.item 'Testing' 'docs.testing'}}
        {{nav.item 'Additional resources' 'docs.resources'}}

        {{nav.section 'Style guide'}}
        {{nav.item 'Visual style' 'docs.visual-style'}}
        {{nav.item 'Written style' 'docs.written-style'}}

        {{nav.section 'Component gallery'}}
        {{nav.item 'bs-alert' 'docs.components.bs-alert'}}
        {{nav.item 'copyable-text' 'docs.components.copyable-text'}}
        {{nav.item 'delete-button' 'docs.components.delete-button'}}
        {{nav.item 'loading-indicator' 'docs.components.loading-indicator'}}
        {{nav.item 'panel' 'docs.components.panel'}}
        {{nav.item 'tags-widget' 'docs.components.tags-widget'}}
    {{/viewer.nav}}

    {{#viewer.main}}
        <div class="docs-container">
            <div local-class="DocsPage" class="docs-section">
                {{outlet}}
            </div>
        </div>
    {{/viewer.main}}
{{/docs-viewer}}
