<BsModal 
    data-test-feedback-modal
    local-class='Modal'
    @open={{this.isOpen}}
    @onSubmit={{action this.submit}}
    @onHidden={{action this.hideDialog}}
    as |modal|
>
    <modal.body data-analytics-scope='Feedback modal'>
        {{#if this.isActive}}
            <div class='text-center'>
                <h2 local-class='Modal__title'>{{ t 'feedback.title' }}</h2>
                <h4 local-class='Modal__text'>{{@text}}</h4>
            </div>
            <div class='form-group'>
                {{textarea
                    class='form-control'
                    rows=this.dialogRows
                    autofocus='true'
                    placeholder=(t 'feedback.placeholder')
                    value=this.body
                }}
            </div>
            {{#if this.currentUser.currentUserId}}
                <div class='checkbox'>
                    <label>
                        {{input type='checkbox' checked=this.followup}}
                        {{t 'feedback.follow_up_label'}}
                    </label>
                </div>
            {{/if}}
        {{/if}}
        {{#if this.isSuccessful}}
            <SuccessIcon/>
            <div class='text-center'>
                <h2>{{t 'feedback.thank_you'}}</h2>
                <h3>{{t 'feedback.success'}}</h3>
            </div>
        {{/if}}
    </modal.body>
    <modal.footer data-analytics-scope='Feedback modal footer'>
        {{#if this.isActive}}
            <OsfButton
                data-analytics-name='Cancel'
                @onClick={{action modal.close}}
            >
                {{t 'general.cancel'}}
            </OsfButton>
            <OsfButton
                data-analytics-name='Submit'
                @type='success'
                @onClick={{action modal.submit}}
            >
                {{t 'feedback.confirm_button_text'}}
            </OsfButton>
        {{/if}}
        {{#if this.isSuccessful}}
            <OsfButton
                data-analytics-name='Dismiss'
                @type='primary'
                @onClick={{action modal.close}}
            >
                {{t 'feedback.dismiss'}}
            </OsfButton>
        {{/if}}
    </modal.footer>
</BsModal>

<OsfButton
    data-analytics-name='Open'
    local-class='FeedbackButton {{if this.isOpen 'FeedbackButton--open'}}'
    aria-label={{t 'feedback.title'}}
    @type='success'
    @onClick={{action this.showDialog}}
    @hidden={{not this.enabled}}
>
    {{t 'feedback.button_text'}}
</OsfButton>