<BsModal 
    data-test-feedback-modal
    local-class='Modal'
    @open={{this.isOpen}}
    @onSubmit={{action this.submit}}
    @onHidden={{action this.hideDialog}}
    as |modal|
>
    <modal.body>
        {{#if this.isActive}}
            <div class="text-center">
                <h2 local-class="Modal__title">{{ t 'feedback.title' }}</h2>
                <h4 local-class="Modal__text">{{@text}}</h4>
            </div>
            <div class="form-group">
                {{textarea
                    class="form-control"
                    rows=this.dialogRows
                    autofocus="true"
                    placeholder=(t 'feedback.placeholder')
                    value=this.body
                }}
            </div>
            {{#if this.currentUser.currentUserId}}
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" checked=this.followup}}
                        {{t 'feedback.follow_up_label'}}
                    </label>
                </div>
            {{/if}}
        {{/if}}
        {{#if this.isSuccessful}}
            <SuccessIcon/>
            <div class="text-center">
                <h2>{{t 'feedback.thank_you'}}</h2>
                <h3>{{t 'feedback.success'}}</h3>
            </div>
        {{/if}}
    </modal.body>
    <modal.footer>
        {{#if this.isActive}}
            <BsButton
                @onClick={{action modal.close}}
            >
                {{t 'general.cancel'}}
            </BsButton>
            <BsButton
                @type="success"
                @onClick={{action modal.submit}}
            >
                {{t 'feedback.confirm_button_text'}}
            </BsButton>
        {{/if}}
        {{#if this.isSuccessful}}
            <BsButton
                @type="primary"
                @onClick={{action modal.close}}
            >
                {{t 'feedback.dismiss'}}
            </BsButton>
        {{/if}}
    </modal.footer>
</BsModal>

<button 
    local-class="FeedbackButton
    {{if this.isOpen 'FeedbackButton--open'}}"
    onclick={{action 'showDialog'}}
    aria-label={{t 'feedback.title'}}
    hidden={{not this.enabled}}
    {{action 'click' 'button' 'Feedback - open' target=this.analytics}}
>
    {{t 'feedback.button_text'}}
</button>
