<OsfDialog
    @isOpen={{@isOpen}}
    @onClose={{this.onClose}}
    @fixedWidth={{true}}
    as |dialog|
>
    <dialog.heading>
        {{t 'osf-components.move_file_modal.header' itemCount=@filesToMove.length}}
    </dialog.heading>
    <dialog.main
        data-analytics-scope='Move file modal'
        {{did-insert this.onOpen}}
    >
        {{#if this.isMoving}}
            <h3 local-class='ActionHeading'>{{t 'osf-components.move_file_modal.moving_files'}}</h3>
            <ul local-class='ChildList'>
                {{#each this.fileMoveTasks as |taskInstance index| }}
                    {{#let (get @filesToMove index) as |file| }}
                        <li
                            data-test-moving-file-item={{file.id}}
                            local-class='ChildItem MoveItem'
                        >
                            {{#if taskInstance.isRunning}}
                                {{t 'osf-components.move_file_modal.moving_file' fileName=file.name}}
                                <FaIcon @icon='spinner' @pulse={{true}} />
                            {{else if taskInstance.isSuccessful}}
                                {{t 'osf-components.move_file_modal.success' fileName=file.name}}
                                <FaIcon @icon='check' local-class='success'/>
                            {{else if taskInstance.isError}}
                                {{t 'osf-components.move_file_modal.error' fileName=file.name}}
                                <span>
                                    <Button
                                        {{on 'click' (fn this.retry file index)}}
                                    >
                                        {{t 'osf-components.move_file_modal.retry'}}
                                    </Button>
                                    {{#if (eq taskInstance.error.status 409)}}
                                        <Button
                                            {{on 'click' (fn this.replace file index)}}
                                        >
                                            {{t 'osf-components.move_file_modal.replace'}}
                                        </Button>
                                    {{/if}}
                                </span>
                            {{/if}}
                        </li>
                    {{/let}}
                {{/each}}
            </ul>
        {{else}}
            <h3 local-class='ActionHeading'>{{t 'osf-components.move_file_modal.select_destination'}}</h3>
            <div local-class='AncestryWrapper'>
                <AncestryDisplay
                    @node={{this.currentNode}}
                    @onAncestorSelect={{this.updateNode}}
                    local-class='AncestryOverride'
                />
                <MoveFileModal::CurrentNodeItem
                    @node={{this.currentNode}}
                    @currentFolder={{this.currentFolder}}
                    @onNodeSelect={{this.updateNode}}
                />
            </div>
            <FileBrowser::Breadcrumbs
                @breadcrumbs={{this.breadcrumbs}}
                @currentFolder={{this.currentFolder}}
                @goToFolder={{this.updateFolder}}
                local-class='BreadcrumbsOverride'
            />
            <InfiniteList
                @itemList={{this.itemList}}
                @hasMore={{this.hasMore}}
                @loadMore={{this.loadMore}}
                @isLoading={{this.isLoading}}
                local-class='ChildList'
            >
                <:item as |item|>
                    <MoveFileModal::ListItem
                        @item={{item}}
                        @currentNode={{this.currentNode}}
                        @filesToMove={{@filesToMove}}
                        @onNodeSelect={{this.updateNode}}
                        @onFolderSelect={{this.updateFolder}}
                        @isProvider={{eq this.breadcrumbs.length 0}}
                    />
                </:item>
                <:empty>
                    <p data-test-empty-node-or-child>
                        {{t 'osf-components.move_file_modal.no_children'}}
                    </p>
                </:empty>
            </InfiniteList>
        {{/if}}
    </dialog.main>
    <dialog.footer>
        <Button
            @type='secondary'
            {{on 'click' (queue this.cancelMoves this.onClose)}}
        >
            {{t 'general.cancel'}}
        </Button>
        {{#if this.moveDone}}
            <Button
                data-analytics-name='Finish moving files'
                data-test-move-done-button
                @type='primary'
                {{on 'click' this.onClose}}
            >
                {{t 'general.done'}}
            </Button>
        {{else}}
            <Button
                data-analytics-name='Move file(s)'
                data-test-move-files-button
                @type='primary'
                disabled={{this.isDisabled}}
                {{on 'click' (perform this.move)}}
            >
                {{t 'general.move'}}
            </Button>
        {{/if}}
    </dialog.footer>
</OsfDialog>
