<div
    data-test-file-providers-list
    local-class='FileProviders'
>
    {{#if (feature-flag 'gravy_waffle')}}
        <div local-class='FileProvider'>
            <OsfLink
                data-test-files-provider-link={{'osfstorage'}}
                data-analytics-name={{concat 'Files - osfstorage' }} 
                @route='guid-node.files.provider'
                @models={{array 'osfstorage'}}
            >
                {{t (concat 'osf-components.file-browser.storage_providers.osfstorage')}}
            </OsfLink>
            <span>
                <FaIcon
                    local-class='FileProviderIcon'
                    @icon='globe'
                >
                </FaIcon>
                <EmberTooltip
                    @side='right'
                >
                    {{t 'osf-components.file-browser.storage_location'}}
                    {{@node.region.name}}
                </EmberTooltip>
            </span>
        </div>
        {{#each this.configuredStorageAddons as |provider|}}
            <div local-class='FileProvider'>
                <OsfLink
                    data-test-files-provider-link={{provider.name}}
                    data-analytics-name={{concat 'Files - ' provider.name}} 
                    @route='guid-node.files.provider'
                    @models={{array @node.id provider.id}}
                >
                    {{provider.displayName}}
                </OsfLink>
            </div>
        {{/each}}
    {{else}}
        {{#each @node.files as |provider|}}
            <div local-class='FileProvider'>
                <OsfLink
                    data-test-files-provider-link={{provider.name}}
                    data-analytics-name={{concat 'Files - ' provider.name}} 
                    @route='guid-node.files.provider'
                    @models={{array @node.id provider.name}}
                >
                    {{t (concat 'osf-components.file-browser.storage_providers.' provider.name)}}
                </OsfLink>
                {{#if (eq provider.name 'osfstorage')}}
                    <span>
                        <FaIcon
                            local-class='FileProviderIcon'
                            @icon='globe'
                        >
                        </FaIcon>
                        <EmberTooltip
                            @side='right'
                        >
                            {{t 'osf-components.file-browser.storage_location'}}
                            {{@node.region.name}}
                        </EmberTooltip>
                    </span>
                {{/if}}
            </div>
        {{/each}}
    {{/if}}
</div>
