<a class="m-r-xs text-smaller" href={{twitterHref}} onclick={{action 'click' 'link' 'Twitter' 'Content - tweet' extraInfo=resultId target=analytics}}>{{fa-icon 'twitter-square' size=2 }}</a>
{{!-- facebook app ids are required for sharing and will not always exist --}}
{{#if facebookHref}} 
    <a class="m-r-xs text-smaller" href={{facebookHref}} onclick={{action 'click' 'link' 'Facebook' 'Content - share' extraInfo=resultId target=analytics}}>{{fa-icon 'facebook-square' size=2 }}</a>
{{/if}}
<a class="m-r-xs text-smaller" href={{linkedinHref}} onclick={{action 'click' 'link' 'LinkedIn' 'Content - share' extraInfo=resultId target=analytics}}>{{fa-icon 'linkedin-square' size=2 }}</a>
<a class="m-r-xs text-smaller" href={{emailHref}} onclick={{action 'click' 'link' 'link' 'Content - email' extraInfo=resultId target=analytics}}>{{fa-icon 'envelope-square' size=2 }}</a>
