{{#each this.messages as |stat|}}
    <Alert
        @type={{stat.class}}
        @dismissible={{stat.dismiss}}
        @visible={{true}}
        @class={{if stat.jumbo (local-class 'StatusBanner__jumbo')}}
    >
        <p data-test-status-message={{stat.id}}>{{t stat.id extra=stat.extra htmlSafe=true}}</p>
    </Alert>
{{/each}}
