{{#each this.messages as |stat|}}
    <BsAlert
        @type={{stat.class}}
        @dismissible={{stat.dismiss}}
        @classNames={{if stat.jumbo (local-class 'StatusBanner__jumbo')}}
    >
        <div class='{{if stat.jumbo 'jumbotron'}}'>
            <p data-test-status-message={{stat.id}}>{{t stat.id extra=stat.extra htmlSafe=true}}</p>
        </div>
    </BsAlert>
{{/each}}
