<li
    data-test-file-list-item
    local-class={{if @manager.parentFolder 'FileList__item Indent' 'FileList__item'}}
>
    {{!-- Analytics/test-selector should know if it is a file or folder --}}
    <OsfLink
        data-analytics-name='Open file'
        @href={{@item.links.html}}
        @target='_blank'
        local-class='FileList__item__options'
    >
        <FaIcon
            @prefix='far' @icon='file-alt' @fixedWidth={{true}}
        />
        <span>
            {{@item.name}}
        </span>
    </OsfLink>
    <div
        data-test-file-list-date
        local-class='FileList__item__options NoShrink'
    >
        {{#if @item.dateModified}}
            <span>
                {{moment-format @item.dateModified 'YYYY-MM-DD hh:mm A'}}
            </span>
        {{/if}}
        <FileActionsMenu @item={{@item}} />
    </div>
</li>