{{#let (contains @item @manager.selectedFiles) as |isSelected|}}
    <li
        data-test-file-list-item={{@item.id}}
        data-test-indented={{if @manager.parentFolder 'true' 'false'}}
        local-class='FileList__item {{if @manager.parentFolder 'Indent'}} {{if isSelected 'Selected'}}'
    >
        {{#if @selectable}}
            <label
                data-analytics-name='Select file'
                data-analytics-category='checkbox'
                data-test-select-file={{@item.id}}
                aria-label={{t 'osf-components.file-browser.select_file' fileName=@item.displayName}}
                {{on 'click' (action @manager.selectFile @item)}}
                local-class='Label'
            >
                <Input
                    local-class='Checkbox'
                    @type='checkbox'
                    @checked={{isSelected}}
                />
            </label>
        {{/if}}
        <div local-class='FileList__item__name {{unless @isDesktop 'name__mobile'}}'>
            {{#if @item.isCheckedOut}}
                <span data-test-file-list-checkout local-class='CheckoutSpan'>
                    <FaIcon local-class='CheckoutIcon' @icon='lock' />
                    <BsTooltip
                        @placement='right'
                        @triggerEvents='hover'
                    >
                        {{t 'osf-components.file-browser.checked_out_file'}}
                    </BsTooltip>
                </span>
            {{/if}}
            <OsfLink
                data-test-file-list-link
                data-analytics-name='Open file'
                aria-label={{if
                    @item.showAsUnviewed
                    (t 'osf-components.file-browser.view_unseen_file' fileName=@item.displayName)
                    (t 'osf-components.file-browser.view_file' fileName=@item.displayName)
                }}
                @href={{@item.links.html}}
                @target='_blank'
                local-class={{if @item.showAsUnviewed 'Unviewed'}}
            >
                <FaIcon
                    @prefix='far' @icon='file-alt' @fixedWidth={{true}}
                />
                <span data-test-file-name>
                    {{@item.displayName}}
                </span>
            </OsfLink>
        </div>
        {{#if @isDesktop}}
            <div
                data-test-file-list-download-count
                local-class='FileList__item__download_count'
            >
                {{#if (has-key @item.fileModel.extra 'downloads')}}
                    {{t 'osf-components.file-browser.download_count' count=@item.fileModel.extra.downloads}}
                {{/if}}
            </div>
            <div
                data-test-file-list-size
                local-class='FileList__item__size'
            >
                {{#if @item.fileModel.size}}
                    {{@item.size}}
                {{/if}}
            </div>
            <div
                data-test-file-list-date
                local-class='FileList__item__date NoShrink'
            >
                {{#if @item.dateModified}}
                    <span data-test-file-modified-date>
                        {{moment-format @item.dateModified 'YYYY-MM-DD hh:mm A'}}
                    </span>
                {{/if}}
            </div>
        {{/if}}
        <div
            data-test-file-list-options
            local-class='FileList__item__options'
        >
            {{#unless @manager.selectedFiles}}
                <FileActionsMenu @item={{@item}} @onDelete={{@manager.reload}} @manager={{@manager}} @allowRename={{true}} />
            {{/unless}}
        </div>
    </li>
{{/let}}