{{#if @manager.shouldShowField}}
    <div data-test-editable-field={{@name}}>
        <div local-class='Editable__header'>
            <h4>{{@title}}</h4>
            {{#if @manager.userCanEdit}}
                <Button
                   data-test-edit-button={{@name}}
                   aria-label={{t 'general.edit'}}
                   data-analytics-name='Edit'
                   local-class='EditButton'
                   @layout='fake-link'
                   {{on 'click' @manager.startEditing}}
                >
                    <FaIcon @icon='pencil-alt' @fixedWidth={{true}} />
                </Button>
            {{/if}}
        </div>
    </div>
    {{#if @manager.fieldIsEmpty}}
        {{#if @manager.userCanEdit}}
            {{@manager.emptyFieldText}}
        {{/if}}
    {{else}}
        {{yield (hash
            display=(component 'editable-field/block')
            manager=@manager
        )}}
    {{/if}}
{{/if}}

<OsfDialog
    @isOpen={{@manager.inEditMode}}
    @onClose={{@manager.cancel}}
    @closeOnOutsideClick={{false}}
    @fixedWidth={{@fixedWidth}}
    as |dialog|
>
    <dialog.heading>
        {{#if @editHeader}}
            {{@editHeader}}
        {{else}}
            {{t 'registries.registration_metadata.edit_field' field=@name}}
        {{/if}}
    </dialog.heading>

    <dialog.main local-class='DialogMain'>
        {{yield (hash
            edit=(component 'editable-field/block')
            manager=@manager
        )}}
    </dialog.main>

    {{#unless @hasCustomButtons}}
        <dialog.footer>
            {{#if @manager.cancel}}
                <BsButton
                    data-test-discard-edits
                    data-analytics-name='Discard'
                    disabled={{@manager.isSaving}}
                    @onClick={{action @manager.cancel}}
                >
                    {{t 'general.cancel'}}
                </BsButton>
            {{/if}}
            {{#if @manager.save}}
                <BsButton
                    data-test-save-edits
                    data-analytics-name='Save'
                    disabled={{@manager.isSaving}}
                    @type='primary'
                    {{on 'click' @manager.save}}
                >
                    {{t 'general.save'}}
                </BsButton>
            {{/if}}
        </dialog.footer>
    {{/unless}}
</OsfDialog>