{{#let (contains @item @manager.selectedFiles) as |isSelected|}}
    <li
        data-test-file-list-item={{@item.id}}
        data-test-indented={{if @manager.parentFolder 'true' 'false'}}
        local-class='FileList__item {{if @manager.parentFolder 'Indent'}} {{if isSelected 'Selected'}}'
    >
        {{#if @selectable}}
            <label
                data-analytics-name='Select folder'
                data-analytics-category='checkbox'
                data-test-select-folder={{@item.id}}
                aria-label={{t 'osf-components.file-browser.select_folder' folderName=@item.name}}
                {{on 'click' (action @manager.selectFile @item)}}
                local-class='Label'
            >
                <Input
                    local-class='Checkbox'
                    @type='checkbox'
                    @checked={{isSelected}}
                />
            </label>
        {{/if}}
        <div local-class='FileList__item__name'>
            <Button
                data-test-file-list-link={{@item.id}}
                data-analytics-name='View folder'
                aria-label={{t 'osf-components.file-browser.view_folder' folderName=@item.name}}
                @layout='fake-link'
                local-class='FolderButton'
                {{on 'click' (fn @manager.goToFolder @item)}}
            >
                <FaIcon
                    @icon='folder' @fixedWidth={{true}}
                />
                <span data-test-folder-name>
                    {{@item.name}}
                </span>
            </Button>
        </div>
        {{#if this.showActionsDropdown}}
            <div
                data-test-file-list-date
                local-class='
                    FileList__item__options
                    NoShrink
                    {{if (or this.media.isTablet this.media.isMobile) 'MobileDropdownTrigger'}}
                '
            >
                <ResponsiveDropdown
                    local-class='DownloadShareDropdown'
                    @renderInPlace={{true}}
                    @buttonStyling={{true}}
                    @horizontalPosition='right'
                    as |dropdown|
                >
                    <dropdown.trigger
                        aria-label={{t 'file_actions_menu.actions' filename=@item.name}}
                        data-test-file-download-share-trigger
                        data-analytics-name='Folder actions'
                    >
                        <FaIcon @icon='ellipsis-v' />
                    </dropdown.trigger>
                    <dropdown.content local-class='DropdownList'>
                        {{#if @item.userCanDownloadAsZip}}
                            <OsfLink
                                @href={{@item.links.download}}
                                data-test-download-button
                            >
                                <FaIcon @icon='download' />
                                {{t 'general.download'}}
                            </OsfLink>
                        {{/if}}
                        {{#if @item.currentUserCanDelete}}
                            <Button
                                @layout='fake-link'
                                data-test-move-button
                                {{on 'click' (queue
                                    dropdown.close
                                    (action (mut this.useCopyModal) false)
                                    (action (mut this.moveModalOpen) true)
                                )}}
                            >
                                <FaIcon
                                    @icon='arrow-right'
                                />
                                {{t 'general.move'}}
                            </Button>
                        {{/if}}
                        {{#if (not (or @manager.isViewOnly @item.targetIsRegistration))}}
                            <Button
                                @layout='fake-link'
                                local-class='DropdownItem'
                                data-test-copy-button
                                {{on 'click' (queue
                                    dropdown.close
                                    (action (mut this.useCopyModal) true)
                                    (action (mut this.moveModalOpen) true)
                                )}}
                            >
                                <FaIcon
                                    @icon='copy'
                                />
                                {{t 'general.copy'}}
                            </Button>
                        {{/if}}
                        {{#if @item.currentUserCanDelete}}
                            <Button
                                @layout='fake-link'
                                data-test-rename-link
                                data-analytics-name='Rename folder'
                                local-class='DropdownItem'
                                {{on 'click' (queue
                                    dropdown.close
                                    (fn (mut this.renameModalOpen) true)
                                )}}
                            >
                                <FaIcon @icon='pencil-alt' />
                                {{t 'file_actions_menu.rename'}}
                            </Button>
                            <Button
                                @layout='fake-link'
                                local-class='DropdownItem'
                                data-test-delete-button
                                {{on 'click' (queue
                                    dropdown.close
                                    (fn (mut this.isDeleteModalOpen) true)
                                )}}
                            >
                                <FaIcon @icon='trash-alt' />
                                {{t 'osf-components.file-browser.delete'}}
                            </Button>
                        {{/if}}
                    </dropdown.content>
                </ResponsiveDropdown>
            </div>
        {{/if}}
    </li>
{{/let}}
<MoveFileModal
    @isOpen={{this.moveModalOpen}}
    @close={{action (mut this.moveModalOpen) false}}
    @preserveOriginal={{this.useCopyModal}}
    @manager={{@manager}}
    @filesToMove={{array @item}}
/>
<FileActionsMenu::DeleteModal
    @file={{@item}}
    @isOpen={{this.isDeleteModalOpen}}
    @closeModal={{fn (mut this.isDeleteModalOpen) false}}
    @onDelete={{@manager.reload}}
/>
<FileBrowser::FileRenameModal
    @isOpen={{this.renameModalOpen}}
    @onClose={{fn (mut this.renameModalOpen) false}}
    @item={{@item}}
    @manager={{@manager}}
/>    