<li
    data-test-file-list-item
    local-class={{if @manager.parentFolder 'FileList__item Indent' 'FileList__item'}}
>
    {{!-- Analytics/test-selector should know if it is a file or folder --}}
    <Button
        data-test-file-list-link
        data-analytics-name='View folder'
        @layout='fake-link'
        {{on 'click' (perform @manager.goToFolder @item)}}
    >
        <FaIcon
            @icon='folder' @fixedWidth={{true}}
        />
        {{@item.name}}
    </Button>
    <div
        data-test-file-list-date
        local-class='FileList__item__options'
    >
        {{#if @item.dataModified}}
            {{moment @item.dateModified}}
        {{/if}}
        <ResponsiveDropdown
            local-class='DownloadShareDropdown'
            @horizontalPosition='right'
            as |dropdown|
        >
            <dropdown.trigger
                data-test-file-download-share-trigger
                data-analytics-name='File options'
            >
                <Button
                    {{!-- use folder/file name for aria-label --}}
                    aria-label={{t 'general.options'}} 
                >
                    <FaIcon @icon='ellipsis-v' />
                </Button>
            </dropdown.trigger>
            <dropdown.content local-class='DropdownList'>
                <OsfLink @href={{@item.links.download}}>
                    <Button
                        local-class='FileOptionsDropdown__option'
                        @layout='fake-link'
                    >
                        <FaIcon @icon='download' />
                        {{t 'general.download'}}
                    </Button>
                </OsfLink>
            </dropdown.content>
        </ResponsiveDropdown>
    </div>
</li>