{{#let (contains @item @manager.selectedFiles) as |isSelected|}}
    <li
        data-test-file-list-item={{@item.id}}
        data-test-indented={{if @manager.parentFolder 'true' 'false'}}
        local-class='FileList__item {{if @manager.parentFolder 'Indent'}} {{if isSelected 'Selected'}}'
    >
        {{#if @selectable}}
            <label
                data-analytics-name='Select folder'
                data-analytics-category='checkbox'
                data-test-select-folder={{@item.id}}
                aria-label={{t 'osf-components.file-browser.select_folder' folderName=@item.name}}
                local-class='Label'
            >
                <Input
                    local-class='Checkbox'
                    @type='checkbox'
                    @checked={{isSelected}}
                    {{on 'click' (action @manager.selectFile @item)}}
                />
            </label>
        {{/if}}

        <Button
            data-test-file-list-link
            data-analytics-name='View folder'
            aria-label={{t 'osf-components.file-browser.view_folder' folderName=@item.name}}
            @layout='fake-link'
            local-class='FileList__item__options FolderButton'
            {{on 'click' (perform @manager.goToFolder @item)}}
        >
            <FaIcon
                @icon='folder' @fixedWidth={{true}}
            />
            <span data-test-folder-name>
                {{@item.name}}
            </span>
        </Button>
        {{#if @item.userCanDownloadAsZip}}
            <div
                data-test-file-list-date
                local-class='FileList__item__options NoShrink'
            >
                <ResponsiveDropdown
                    local-class='DownloadShareDropdown'
                    @renderInPlace={{true}}
                    @buttonStyling={{true}}
                    @horizontalPosition='right'
                    as |dropdown|
                >
                    <dropdown.trigger
                        aria-label={{t 'file_actions_menu.actions' filename=@item.name}}
                        data-test-file-download-share-trigger
                        data-analytics-name='Folder actions'
                    >
                        <FaIcon @icon='ellipsis-v' />
                    </dropdown.trigger>
                    <dropdown.content local-class='DropdownList'>
                        <OsfLink
                            @href={{@item.links.download}}
                            data-test-download-button
                        >
                            <FaIcon @icon='download' />
                            {{t 'general.download'}}
                        </OsfLink>
                    </dropdown.content>
                </ResponsiveDropdown>
            </div>
        {{/if}}
    </li>
{{/let}}