{{page-title (t 'registries.my_registrations.header')}}

<RegistriesWrapper
    data-analytics-scope='My Registrations page'
>
    <OsfLayout @backgroundClass={{local-class 'ContentBackground'}} as |layout|>
        <layout.heading>
            <HeroOverlay @align='left'>
                <div local-class='Title'>
                    <h1>
                        {{t 'registries.my_registrations.header'}}
                    </h1>
                </div>
            </HeroOverlay>
        </layout.heading>
        <layout.main>
            {{#if this.currentUser.user}}
                <AriaTabs
                    local-class='NavTabs'
                    @onSelect={{this.changeTab}} 
                    @defaultIndex={{if (eq this.tab 'submitted') 1 0}}
                    as |tab|
                >
                    <tab.tabList
                        as |nav|
                    >
                        <nav.tab
                            data-test-my-registrations-nav='drafts'
                            local-class='NavItem'
                        >
                            {{t 'registries.my_registrations.drafts'}}
                        </nav.tab>
                        <nav.tab
                            data-test-my-registrations-nav='submitted'
                            local-class='NavItem'
                        >
                            {{t 'registries.my_registrations.submitted'}}
                        </nav.tab>
                    </tab.tabList>
                    <div
                        data-test-my-registrations-sort-description
                        local-class='SortDescription'
                    >
                        {{t 'registries.my_registrations.sorted'}}
                    </div>
                    <tab.tabPanel
                        data-test-my-registrations-pane='drafts'
                        local-class='TabPane'
                    >
                        <Registries::MyRegistrationsList::Drafts />
                    </tab.tabPanel>
                    <tab.tabPanel
                        data-test-my-registrations-pane='submitted'
                        local-class='TabPane'
                    >
                        <Registries::MyRegistrationsList::Registrations @user={{this.currentUser.user}} />
                    </tab.tabPanel>
                </AriaTabs>
            {{/if}}
        </layout.main>
    </OsfLayout>
</RegistriesWrapper>