<div
    local-class='chart-container {{if (is-mobile) 'mobile'}}'
    ...attributes 
>
    <div local-class='top-container'>
        <div
            data-test-chart
            local-class='ember-chart'
        >
            <EmberChart
                @type={{@data.chart}}
                @data={{this.chartData}}
                @options={{this.chartOptions}}
            />
        </div>
    </div>
    <div local-class='bottom-container'>
        <div local-class='title-container'>
            <div data-test-kpi-title local-class='title'>{{@data.title}}</div>
            <div local-class='button-container'>
                <Button
                    data-analytics-name='Toggle boolean filters'
                    data-test-filter-boolean-filters
                    @layout='fake-link'
                    local-class='facet-expand-button'
                    aria-expanded={{not this.collapsed}}
                    {{on 'click' this.toggleExpandedData}}
                >
                    <FaIcon @icon={{if this.collapsed 'caret-down' 'caret-up'}} />
                </Button>
            </div>
        </div>
        <div local-class='expanded-data-container {{if this.collapsed 'collapsed'}}'>
            <ul local-class='data-list'>
                {{#each this.expandedData as |data|}}
                    <li
                        local-class='data-container'
                    >
                        <div local-class='color' style={{html-safe (concat 'background-color:' data.color )}}>
                        </div>
                        <div local-class='name'>
                            {{data.name}}
                        </div>
                        <div local-class='count'>
                            {{data.count}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>