<div
    local-class='chart-container {{if (is-mobile) 'mobile'}}'
    ...attributes 
>
    <div local-class='top-container'>
        <div
            data-test-chart
            local-class='ember-chart'
        >
            <EmberChart
                @type={{@data.chart}}
                @data={{this.chartData}}
                @options={{this.chartOptions}}
            />
        </div>
    </div>
    <div local-class='bottom-container'>
        <div local-class='title-container'>
            <div data-test-chart-title local-class='title'>{{@data.title}}</div>
            <div local-class='button-container'>
                <Button
                    data-analytics-name='Expand additional data'
                    data-test-expand-additional-data
                    @layout='fake-link'
                    aria-expanded={{this.expanded}}
                    {{on 'click' this.toggleExpandedData}}
                >
                    <FaIcon data-test-toggle-icon @icon={{if this.expanded 'caret-up' 'caret-down'}} />
                </Button>
            </div>
        </div>
        {{#if this.expanded }}
            <div local-class='expanded-data-container'>
                <ul local-class='data-list' data-test-expansion-data>
                    {{#each this.expandedData as |data index |}}
                        <li
                            local-class='data-container'
                        >
                            <div
                                local-class='color'
                                data-test-expanded-color='{{index}}'
                                style={{html-safe (concat 'background-color:' data.color )}}>
                            </div>
                            <div local-class='name'
                                data-test-expanded-name='{{index}}'
                            >
                                {{data.name}}
                            </div>
                            <div local-class='total'
                                data-test-expanded-total='{{index}}'
                            >
                                {{data.total}}
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
</div>