<footer class="Footer bg-color-light">
    <div class="container Footer__container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <p>
                    <span class="copyright">
                        {{t 'footer.copyright' currentYear=currentYear}}
                    </span>
                    <a href="{{cos}}" onclick={{action 'click' 'link' 'Footer - cos_io' target=analytics}}>
                        {{t 'general.cos'}}
                    </a>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <a href="{{termsLink}}" onclick={{action 'click' 'link' 'Footer - terms' target=analytics}}>
                        {{t 'footer.terms'}}
                    </a>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <a href="{{privacyPolicyLink}}" onclick={{action 'click' 'link' 'Footer - privacy' target=analytics}}>
                        {{t 'footer.privacy'}}
                    </a>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <a href="{{statusPage}}" onclick={{action 'click' 'link' 'Footer - status' target=analytics}}>
                        {{t 'footer.status'}}
                    </a>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <a href="{{apiDocs}}" onclick={{action 'click' 'link' 'Footer - api_docs' target=analytics}}>
                        {{t 'general.api'}}
                    </a>
                    <br>
                    <a href="{{topGuidelines}}" onclick={{action 'click' 'link' 'Footer - top' target=analytics}}>
                        {{t 'footer.top'}}
                    </a>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <a href="{{rpp}}" onclick={{action 'click' 'link' 'Footer - rpp' target=analytics}}>
                        {{t 'footer.rpp'}}
                    </a>
                    <span>
                        {{t 'footer.separator'}}
                    </span>
                    <a href="{{rpcb}}" onclick={{action 'click' 'link' 'Footer - rpcb' target=analytics}}>
                        {{t 'footer.rpcb'}}
                    </a>
                </p>
                <p>
                    <a href="{{twitter}}" aria-label={{t 'social.twitter'}} onclick={{action 'click' 'link' 'Footer - social_twitter' target=analytics}}><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="{{facebook}}" aria-label={{t 'social.facebook'}} onclick={{action 'click' 'link' 'Footer - social_facebook' target=analytics}}><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="{{googleGroup}}" aria-label={{t 'social.google_group'}} onclick={{action 'click' 'link' 'Footer - social_google_group' target=analytics}}><i class="fa fa-group fa-2x"></i></a>
                    <a href="{{github}}" aria-label={{t 'social.github'}} onclick={{action 'click' 'link' 'Footer - social_github' target=analytics}}><i class="fa fa-github fa-2x"></i></a>
                    <a href="{{googlePlus}}" aria-label={{t 'social.google_plus'}} rel="publisher" onclick={{action 'click' 'link' 'Footer - social_google_plus' target=analytics}}><i class="fa fa-google-plus fa-2x"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>
