<div
    local-class={{concat 'row ' (get @contributor 'highlightClass')}}
    data-test-project-contributors-list-item-id={{@contributor.users.id}}
>
    {{! Handle }}
    <div class='col-xs-2 col-sm-1 text-nowrap'>
        <span class='sortable-bars handle small'><FaIcon @icon='bars' /></span>
    </div>

    {{! Profile image}}
    <div data-test-project-contributors-list-item-profile-image class='col-xs-2 col-sm-1'>
        <img local-class='profile-image' src={{@contributor.users.profileImage}}
            alt={{t 'app_components.project_contributors.list.item.img_alt'}}>
    </div>

    {{! Name }}
    <div data-test-project-contributors-list-item-name class='col-xs-7 col-sm-3 text-nowrap'>
        {{#if @contributor.unregisteredContributor}}
            {{@contributor.unregisteredContributor}}
        {{else}}
            <a href={{@contributor.users.links.html}} target='_blank' rel='noopener noreferrer'>
                {{@contributor.users.fullName}}
            </a>
        {{/if}}
    </div>

    <div class='visible-xs-inline-block col-xs-1'>
        <button data-test-project-contributors-list-item-x-button type='button' class='text-danger'
            aria-label={{t 'app_components.project_contributors.list.item.remove_author'}} hidden={{not this.canRemove}}
            {{on 'click' (fn @removeContributor @contributor)}}>
            <FaIcon @icon='times' />
        </button>
    </div>

    {{! Permissions }}
    <div class='col-xs-10 col-sm-3 col-sm-offset-0 text-nowrap'>
        <span class='visible-xs-inline permission-label'>
            <em>
                {{t 'app_components.project_contributors.list.item.permissions_label'}}
            </em>
        </span>
        {{#if this.canChangePermissions}}
            <PowerSelect data-test-project-contributors-list-item-permissions-select @searchEnabled={{false}}
                @options={{this.permissions}} @onchange={{action @updatePermissions @contributor}}
                @selected={{@contributor.permission}} as |option|>
                {{t (concat 'app_components.project_contributors.list.item.permissions.' option)}}
            </PowerSelect>
        {{else}}
            <span data-test-project-contributors-list-item-permissions-display class='text-smaller'>
                {{t (concat 'app_components.project_contributors.list.item.permissions.' @contributor.permission)}}
            </span>
        {{/if}}
    </div>

    {{! Bibliographic (Citation) }}
    <div data-test-project-contributors-list-item-citation-checkbox local-class='text-sm-center'
        class='col-xs-10 col-sm-2 col-sm-offset-0 bib-padding'>
        <label local-class='checkbox-label' class='visible-xs-inline' for='{{@contributor.id}}-citation'>
            <em>
                {{t 'app_components.project_contributors.list.item.in_citation_label'}}
            </em>
        </label>
        <Input @id={{concat @contributor.id '-citation'}} @type='checkbox' @disabled={{not this.canChangeBibliographic}}
            @checked={{@contributor.bibliographic}} @change={{action @toggleBibliographic @contributor}} />
    </div>

    {{! Remove }}
    <div class='hidden-xs col-sm-2 text-center'>
        <button data-test-project-contributors-list-item-remove-button type='button' class='btn btn-danger btn-sm'
            disabled={{not this.canRemove}} {{action @removeContributor @contributor}}>
            {{t 'app_components.project_contributors.list.item.remove'}}
        </button>
    </div>
</div>
