<div
    local-class='contributor-container {{if this.isMobile 'mobile'}}'
    data-test-project-contributors-list-item-id={{@contributor.users.id}}
>
    <div local-class='top-row-container'>
        {{! Sort Handle }}
        <div local-class='sort-container'>
            <span local-class='small'><FaIcon @icon='bars' /></span>
        </div>

        {{! Profile image}}
        <div
            data-test-project-contributors-list-item-profile-image
            local-class='profile-image-container'
        >
            <img local-class='profile-image' src={{@contributor.users.profileImage}}
                alt={{t 'app_components.project_contributors.list.item.img_alt'}}>
        </div>

        {{! Name }}
        <div
            data-test-project-contributors-list-item-name
            local-class='name-container'
        >
            {{#if @contributor.unregisteredContributor}}
                {{@contributor.unregisteredContributor}}
            {{else}}
                <a href={{@contributor.users.links.html}} target='_blank' rel='noopener noreferrer'>
                    {{@contributor.users.fullName}}
                </a>
            {{/if}}
        </div>
    </div>
    <div local-class='second-row-container'>
        {{! Permissions }}
        <div local-class='permission-container'>
            {{#if this.isMobile}}
                <div local-class='permission-spacer'>
                    <em>
                        {{t 'app_components.project_contributors.list.item.permissions_label'}}
                    </em>
                </div>
            {{/if}}
            {{#if this.canChangePermissions}}
                <PowerSelect data-test-project-contributors-list-item-permissions-select
                    @options={{this.permissions}}
                    @onChange={{action @updatePermissions @contributor}}
                    @selected={{@contributor.permission}}
                    as |option|
                >
                    {{t (concat 'app_components.project_contributors.list.item.permissions.' option)}}
                </PowerSelect>
            {{else}}
                <div data-test-project-contributors-list-item-permissions-display local-class='text-smaller'>
                    {{t (concat 'app_components.project_contributors.list.item.permissions.' @contributor.permission)}}
                </div>
            {{/if}}
        </div>

        {{! Bibliographic (Citation) }}
        <div
            data-test-project-contributors-list-item-citation-checkbox 
            local-class='citation-container'
        >
            <Input
                aria-label={{t 'app_components.project_contributors.list.item.in_citation_label'}}
                @type='checkbox'
                @disabled={{not this.canChangeBibliographic}}
                @checked={{@contributor.bibliographic}}
                @change={{action @toggleBibliographic @contributor}} />

            {{#if this.isMobile}}
                <FaIcon @icon='question-circle' />
                <EmberPopover
                    @side='bottom'
                    @popperContainer='body'
                >
                    <div local-class='popover-format'>
                        <h3>{{t 'app_components.project_contributors.list.citation_popover_title'}}</h3>
                        {{t 'app_components.project_contributors.list.citation_popover'}}
                    </div>
                </EmberPopover>
            {{/if}}

        </div>

        {{! Remove }}
        <div local-class='remove-container'>
            <Button
                data-test-project-contributors-list-item-remove-button
                @layout='small'
                @type='destroy'
                disabled={{not this.canRemove}}
                {{on 'click' (action @removeContributor @contributor)}}
            >
                {{t 'app_components.project_contributors.list.item.remove'}}
            </Button>
        </div>
    </div>
</div>
