<div local-class='action-flow-container  {{if (is-mobile) 'mobile'}}'>
    <div local-class='button-container'>
        {{#if this.isSubmit}}
            <Button
                data-test-submit-button
                data-analytics-name='Submit button'
                {{on 'click' this.onSubmit}}
                local-class='btn'
                @layout='large'
                @type='primary'
            >
                {{ t 'preprints.submit.action-flow.submit'}}
            </Button>
        {{else}}
            <Button
                data-test-next-button
                data-analytics-name='Next button'
                {{on 'click' (perform this.onNext)}}
                local-class='btn'
                @disabled={{@manager.nextButtonIsDisabled}}
                @layout='large'
                @type='primary'
            >
                {{ t 'preprints.submit.action-flow.next'}}
                <FaIcon @icon='arrow-right' />
            </Button>
        {{/if}}

        <DeleteButton
            data-test-delete-button
            class='btn-destroy'
            local-class='btn'
            @buttonLayout='large'
            @noBackground={{true}}
            @delete={{perform this.onDelete }}
            @modalTitle={{this.modalTitle}}
            @modalBody={{this.modalBody}}
        />
    </div>
    <div local-class='caution-container'>
        <div local-class='icon-container'>
            <FaIcon local-class='fav-icon' @icon='exclamation-circle' />
            {{ t 'preprints.submit.action-flow.caution'}}
        </div>
        {{ t 'preprints.submit.action-flow.caution-statement'}}
    </div>
</div>