<TagInput 
    data-test-tags-widget-tag-input
    data-analytics-scope='Tags widget'
    aria-label={{t 'osf-components.tags-widget.tags'}}
    local-class='TagsWidget'
    @tags={{@tags}}
    @addTag={{action this._addTag}}
    @removeTagAtIndex={{action this._removeTag}}
    @allowSpacesInTags={{true}}
    @placeholder={{t 'osf-components.tags-widget.add_tag'}}
    @readOnly={{@readOnly}}
    as |tag|
>
    <span
        data-test-tags-widget-tag='{{tag}}'
        data-analytics-name='Click'
        role='link'
        {{action this._clickTag tag}}
    >
        {{tag}}
    </span>
</TagInput>