{{#unless @taggable.tags.length}}
    <span data-test-no-tags>
        {{t 'osf-components.tags-widget.no_tags'}}
    </span>
{{/unless}}

<TagInput
    data-test-tags-widget-tag-input
    aria-label={{t 'osf-components.tags-widget.tags'}}
    local-class='TagsWidget'
    @tags={{@taggable.tags}}
    @addTag={{action this._addTag}}
    @removeTagAtIndex={{action this._removeTag}}
    @allowSpacesInTags={{true}}
    @placeholder={{t 'osf-components.tags-widget.add_tag'}}
    @readOnly={{this.readOnly}}
    @maxlength={{1024}}
    as |tag|
>
    <span
        data-test-tags-widget-tag='{{tag}}'
        data-analytics-name='Click tag'
        role='link'
        {{action this._clickTag tag}}
    >
        {{tag}}
    </span>
</TagInput>