{{#unless @taggable.tags.length}}
    <div data-test-no-tags>
        {{t 'osf-components.tags-widget.no_tags'}}
    </div>
{{/unless}}
<TagInput
    data-test-tags-widget-tag-input
    aria-label={{t 'osf-components.tags-widget.tags'}}
    local-class='TagsWidget'
    @tags={{@taggable.tags}}
    @addTag={{action this._addTag}}
    @removeTagAtIndex={{action this._removeTag}}
    @allowSpacesInTags={{true}}
    @placeholder={{t 'osf-components.tags-widget.add_tag'}}
    @ariaLabel={{t 'osf-components.tags-widget.add_tag'}}
    @readOnly={{this.readOnly}}
    @maxlength={{1024}}
    ...attributes
    as |tag|
>
    <span
        data-test-tags-widget-tag='{{tag}}'
        data-analytics-name='Click tag'
        role='link'
        class='{{if @isPreprint 'no-cursor'}}'
        {{action this._clickTag tag}}
    >
        {{tag}}
    </span>
</TagInput>
