<div data-test-badge-list local-class='badgeList'>
    {{#unless this.isMobile}}
        <h5 data-test-badge-list-title local-class='title'>
            {{t 'osf-components.open-badges-list.title'}}
        </h5>
    {{/unless}}
    <OpenBadgesList::OpenBadgeCard @hasResource={{@hasData}} @resourceType='data' @isMobile={{this.isMobile}} />
    <OpenBadgesList::OpenBadgeCard @hasResource={{@hasAnalyticCode}} @resourceType='analytic_code' @isMobile={{this.isMobile}} />
    <OpenBadgesList::OpenBadgeCard @hasResource={{@hasMaterials}} @resourceType='materials' @isMobile={{this.isMobile}} />
</div>
