<span local-class='paginator__control'>
    <label for="pageSizeSelect">{{t 'paginator.itemsPerPage'}}</label>
    <select id="pageSizeSelect" local-class="paginator__select" onchange={{action this.onPageSizeChange value="target.value"}}>
        {{#each this.pageSizeOptions as |page_size_option|}}
            <option value={{page_size_option}} selected={{eq page_size_option this.selectedPageSize}}>
                {{page_size_option}}
            </option>
        {{/each}}
    </select>
</span>

{{#if this.hasMultiplePages}}
    <span local-class='paginator__control'>
        <button
            data-test-previous-page-button
            aria-label={{t 'paginator.previous'}}
            disabled={{not this.hasPrev}}
            local-class="paginator__button"
            {{on 'click' this._previous}}>
            ‹
        </button>
    </span>

    {{!-- Always show the first page button --}}
    <span local-class='paginator__control'>
        <button
            local-class="paginator__button"
            disabled={{eq 1 this.page}}
            {{on 'click' (fn this.setPage 1)}}>
            1
        </button>
    </span>

    {{#if (lte this.maxPage 3)}}
        {{!-- If fewer than 3 pages, show all pages --}}
        {{#each (range 2 3) as |page|}}
            <span local-class='paginator__control'>
                <button
                    local-class="paginator__button"
                    disabled={{eq page this.page}}
                    {{on 'click' (fn this.setPage page)}}>
                    {{page}}
                </button>
            </span>
        {{/each}}
    {{else}}
        {{#if (gt this.prevPage 2)}}
            <span local-class='paginator__control'>
                <button
                    local-class="paginator__button paginator__button--disabled"
                    disabled="true">
                    ...
                </button>
            </span>
        {{/if}}

        {{!-- Conditionally show previous and current pages --}}
        {{#if (not (eq this.prevPage 1))}}
            {{#if (not (eq this.page 1))}}
                <span local-class='paginator__control'>
                    <button
                        local-class="paginator__button"
                        {{on 'click' (fn this.setPage this.prevPage)}}>
                        {{this.prevPage}}
                    </button>
                </span>
            {{/if}}
        {{/if}}

        {{#if (not (eq this.page 1))}}
            <span local-class='paginator__control'>
                <button
                    local-class="paginator__button paginator__button--current"
                    disabled="true">
                    {{this.page}}
                </button>
            </span>
        {{/if}}

        {{!-- Show nextPage only if it differs from maxPage --}}
        {{#if (and this.hasNext (not (eq this.nextPage2 this.maxPage)))}}
            <span local-class='paginator__control'>
                <button
                    local-class="paginator__button"
                    {{on 'click' (fn this.setPage this.nextPage2)}}>
                    {{this.nextPage2}}
                </button>
            </span>
        {{/if}}

        {{#if (not (gte this.nextPage2 this.maxPage))}}
            {{#if (not (eq this.page 3))}}
                <span local-class='paginator__control'>
                    <button
                        local-class="paginator__button paginator__button--disabled"
                        disabled="true">
                        ...
                    </button>
                </span>
            {{/if}}
        {{/if}}

        {{!-- Always show the maxPage button --}}
        {{#if (not (eq this.page this.maxPage))}}
            <span local-class='paginator__control'>
                <button
                    local-class="paginator__button"
                    {{on 'click' (fn this.setPage this.maxPage)}}>
                    {{this.maxPage}}
                </button>
            </span>
        {{/if}}
    {{/if}}

    <span local-class='paginator__control'>
        <button
            data-test-next-page-button
            aria-label={{t 'paginator.next'}}
            disabled={{not this.hasNext}}
            local-class="paginator__button"
            {{on 'click' this._next}}>
            ›
        </button>
    </span>
{{/if}}
