<div local-class='Metadata {{if this.isPage 'Page'}}'>
    <div local-class='Header'>
        <h3 local-class='Title'>{{t 'registries.overview.metadata.title'}}</h3>
    </div>

    <dl>
        <dt>
            <h4>
                <OsfLink
                    @href={{concat '/' this.registration.id '/contributors'}}
                    @onClick={{this.onLinkClicked}}
                >
                    {{t 'general.contributors'}}
                </OsfLink>
            </h4>
        </dt>
        <dd>
            <ContributorList
                @node={{this.registration}}
                @shouldTruncate={{false}}
                @shouldLinkUsers={{true}}
            />
        </dd>
    </dl>
</div>
