<div local-class="Metadata {{if this.isPage 'Page'}}">
    <div local-class="Header">
        <h3 local-class="Title">{{t 'registries.overview.metadata'}}</h3>
    </div>

    <p>{{t 'ipsum.paragraph'}}</p>
    <p>{{t 'ipsum.paragraph'}}</p>
    <p>{{t 'ipsum.paragraph'}}</p>
    <p>{{t 'ipsum.paragraph'}}</p>
    <p>{{t 'ipsum.paragraph'}}</p>
    <p>{{t 'ipsum.paragraph'}}</p>
    <p>{{t 'ipsum.paragraph'}}</p>
</div>
