{{! template-lint-disable quotes}}
<div local-class="Metadata {{if this.isPage 'Page'}}">
    {{! template-lint-enable quotes}}
    <div local-class='Header'>
        <h3 local-class='Title'>{{t 'registries.overview.metadata.title'}}</h3>
    </div>

    <h4>
        <OsfLink
            @route='registries.overview.contributors'
            @models={{array this.registration.id}}
            @onClick={{this.onLinkClicked}}
        >
            {{t 'general.contributors'}}
        </OsfLink>
    </h4>
    <div>
        <InlineList
            @items={{this.registration.contributors}}
            @truncate=5
            as |l|
        >
            {{~#if l.truncate~}}
                <OsfLink
                    @route='registries.overview.contributors'
                    @models={{array this.registration.id}}
                    @onClick={{this.onLinkClicked}}
                >
                    {{! TODO remaining count }}
                    {{t 'registries.overview.metadata.x_more'}}
                </OsfLink>
            {{~else~}}
                <a href='https://osf.io/{{l.item.users.id}}'>{{l.item.users.fullName}}</a>
            {{~/if~}}
        </InlineList>
    </div>
</div>
