<div ...attributes>
    <div local-class='Field'>
        <h4>
            {{#if @extendedFields}}
                {{#if this.registration.userHasReadPermission}}
                    <OsfLink
                        data-analytics-name='Contributors'
                        @href='/{{this.registration.id}}/contributors'
                    >
                        {{t 'registries.registration_metadata.contributors'}}
                    </OsfLink>
                {{else}}
                    {{t 'registries.registration_metadata.contributors'}}
                {{/if}}
            {{else}}
                {{t 'registries.registration_metadata.contributors'}}
            {{/if}}
        </h4>
        <ContributorList
            @model={{this.registration}}
            @shouldEnableClaimUser={{true}}
            @shouldTruncate={{false}}
            @shouldLinkUsers={{true}}
        />
    </div>

    <div local-class='Field'>
        <EditableField::DescriptionManager @node={{this.registration}} as |descriptionManager|>
            <EditableField
                data-analytics-scope='Description'
                @manager={{descriptionManager}}
                @title={{t 'registries.registration_metadata.description'}}
                @name='description'
                as |field|
            >
                <field.edit>
                    <NodeDescriptionEditable @manager={{descriptionManager}} />
                </field.edit>
                <field.display>
                    <NodeDescription @manager={{descriptionManager}} />
                </field.display>
            </EditableField>
        </EditableField::DescriptionManager>
    </div>

    <div local-class='Field'>
        <h4>{{t 'registries.registration_metadata.registration_type'}}</h4>
        <div data-test-registries-metadata='registration type'>
            {{this.registration.registrationSchema.name}}
        </div>
    </div>

    <div local-class='Field'>
        <h4>{{t 'registries.registration_metadata.date_registered'}}</h4>
        <div data-test-registries-metadata='date registered'>
            {{moment-format this.registration.dateRegistered 'MMMM D, YYYY'}}
        </div>
    </div>

    <div local-class='Field'>
        <h4>{{t 'registries.registration_metadata.date_created'}}</h4>
        <div data-test-registries-metadata='date created'>
            {{moment-format this.registration.dateCreated 'MMMM D, YYYY'}}
        </div>
    </div>

    <div local-class='Field'>
        <h4>{{t 'registries.registration_metadata.registered_from'}}</h4>
        <div>
            <OsfLink
                data-analytics-name='Registered from'
                @route='guid-node'
                @models={{array this.registeredFromId}}
            >
                {{this.registeredFromDisplayUrl}}
            </OsfLink>
        </div>
    </div>
    {{#if this.registration.providerSpecificMetadata}}
        <div local-class='Field'>
            <EditableField::ProviderMetadataManager
                @registration={{this.registration}} as |providerMetadataManager|
            >
                <EditableField
                    data-test-editable-field-provider-metadata
                    data-analytics-scope='providerMetadata'
                    @manager={{providerMetadataManager}}
                    @title={{t 'registries.registration_metadata.provider_specific_metadata'}}
                    @name='metadata'
                    as |field|
                >
                    {{#each field.manager.currentProviderMetadata as |metadataField|}}
                        <field.edit>
                            <ProviderMetadataEditable @field={{metadataField}} @manager={{providerMetadataManager}} />
                        </field.edit>
                        <field.display>
                            <ProviderMetadataDisplay @field={{metadataField}} @manager={{providerMetadataManager}} />
                        </field.display>
                    {{/each}}
                </EditableField>
            </EditableField::ProviderMetadataManager>
        </div>
    {{/if}}
    {{#if this.registration.iaUrl}}
        <div local-class='Field'>
            <h4>{{t 'registries.registration_metadata.internet_archive_link'}}</h4>
            <div>
                <OsfLink
                    data-analytics-name='internet_archive_link'
                    @href={{this.registration.iaUrl}}
                    @target='_blank'
                >
                    {{this.registration.iaUrl}}
                </OsfLink>
            </div>
        </div>
    {{/if}}

    <div local-class='Field'>
        <EditableField::CategoryManager @node={{this.registration}} as |categoryManager|>
            <EditableField
                data-analytics-scope='Category'
                @manager={{categoryManager}}
                @title={{t 'registries.registration_metadata.category'}}
                @name='category'
                as |field|
            >
                <field.edit>
                    <NodeCategoryPicker @manager={{categoryManager}} />
                </field.edit>
                <field.display>
                    <NodeCategory @category={{categoryManager.category}} />
                </field.display>
            </EditableField>
        </EditableField::CategoryManager>
    </div>

    {{#if @extendedFields}}
        <div local-class='Field'>
            <EditableField::DoiManager @node={{this.registration}} as |doiManager|>
                <EditableField
                    data-analytics-scope='DOI'
                    @manager={{doiManager}}
                    @hasCustomButtons={{true}}
                    @title={{t 'registries.registration_metadata.registration_doi'}}
                    @name='doi'
                    @editHeader={{t 'registries.registration_metadata.create_doi'}}
                    as |field|
                >
                    <field.edit>
                        <NodeDoiCreate @manager={{doiManager}} />
                    </field.edit>
                    <field.display>
                        <NodeDoi @manager={{doiManager}} />
                    </field.display>
                </EditableField>
            </EditableField::DoiManager>
        </div>

        <div local-class='Field'>
            <EditableField::PublicationDoiManager @node={{this.registration}} as |pubDoiManager|>
                <EditableField
                    data-analytics-scope='Publication DOI'
                    @manager={{pubDoiManager}}
                    @title={{t 'registries.registration_metadata.publication_doi'}}
                    @name='publication DOI'
                    @hasCustomButtons={{true}}
                    as |field|
                >
                    <field.edit>
                        <NodePublicationDoiEditable @manager={{pubDoiManager}} />
                    </field.edit>
                    <field.display>
                        <NodePublicationDoi @manager={{pubDoiManager}} />
                    </field.display>
                </EditableField>
            </EditableField::PublicationDoiManager>
        </div>

        <div local-class='Field'>
            <Subjects::Manager
                @model={{this.registration}}
                @provider={{this.registration.provider}}
                @doesAutosave={{false}}
                as |subjectsManager|
            >
                <EditableField::SubjectFieldManager
                    @subjectsManager={{subjectsManager}}
                    @node={{this.registration}}
                    as |subjectFieldManager|
                >
                    <EditableField
                        data-analytics-scope='Subjects'
                        @manager={{subjectFieldManager}}
                        @title={{t 'registries.registration_metadata.subjects'}}
                        @name='subjects'
                        @fixedWidth={{true}}
                        as |field|
                    >
                        <field.edit>
                            <Subjects::Widget @subjectsManager={{subjectsManager}} />
                        </field.edit>
                        <field.display>
                            <Subjects::Display @subjects={{subjectsManager.savedSubjects}} />
                        </field.display>
                    </EditableField>
                </EditableField::SubjectFieldManager>
            </Subjects::Manager>
        </div>

        <div local-class='Field'>
            <EditableField::InstitutionsManager @node={{this.registration}} as |institutionsManager|>
                <EditableField
                    data-analytics-scope='Affiliated institutions'
                    @manager={{institutionsManager}}
                    @title={{t 'registries.registration_metadata.affiliated_institutions'}}
                    @name='affiliated institutions'
                    as |field|
                >
                    <field.edit>
                        <InstitutionSelectList @manager={{institutionsManager}} />
                    </field.edit>
                    <field.display>
                        <InstitutionsList @manager={{institutionsManager}} />
                    </field.display>
                </EditableField>
            </EditableField::InstitutionsManager>
        </div>

        <div local-class='Field'>
            <div local-class='Field'>
                <EditableField::LicenseManager @node={{this.registration}} as |licenseManager|>
                    <EditableField
                        data-analytics-scope='License'
                        @manager={{licenseManager}}
                        @title={{t 'registries.registration_metadata.license'}}
                        @name='license'
                        @hasCustomButtons={{true}}
                        as |field|
                    >
                        <field.edit>
                            <RegistriesLicensePicker
                                @manager={{licenseManager}}
                                @shouldShowButtons={{true}}
                            />
                        </field.edit>
                        <field.display>
                            <LicenseViewer @registration={{licenseManager.registration}} />
                        </field.display>
                    </EditableField>
                </EditableField::LicenseManager>
            </div>
        </div>

        <div local-class='Field'>
            <EditableField::TagsManager @registration={{this.registration}} as |tagsManager|>
                <EditableField
                    data-analytics-scope='Tags'
                    @manager={{tagsManager}}
                    @title={{t 'registries.registration_metadata.tags'}}
                    @name='tags'
                    as |field|
                >
                    <field.edit>
                        <RegistriesTagsWidget
                            data-test-tags
                            @manager={{tagsManager}}
                        />
                    </field.edit>
                    <field.display>
                        <RegistriesTagsWidget
                            data-test-tags-read-only
                            @manager={{tagsManager}}
                            @readOnly={{true}}
                        />
                    </field.display>
                </EditableField>
            </EditableField::TagsManager>
        </div>
        {{#unless this.registration.isAnonymous}}
            <div local-class='Field'>
                <h4>{{t 'registries.registration_metadata.citation'}}</h4>
                <OsfButton
                    data-analytics-name='{{if this.expandCitations 'Collapse' 'Expand'}} citations'
                    local-class='LinkButton'
                    @type='link'
                    @onClick={{action (mut this.expandCitations) (not this.expandCitations)}}
                >
                    {{this.registrationDisplayUrl}}
                    <FaIcon @icon={{if this.expandCitations 'caret-up' 'caret-down'}} />
                </OsfButton>
                {{#if this.expandCitations}}
                    <CitationViewer @citable={{this.registration}} />
                {{/if}}
            </div>
        {{/unless}}
    {{/if}}
</div>
