<div
    data-test-registration-list-card
    local-class='cardWrapper'
    ...attributes
>
    <FaIcon
        data-test-registration-list-card-icon='{{@filterState}}'
        @icon={{this.icon}}
        @size={{2}}
        local-class='filterIcon {{@filterState}}'
    />
    <div local-class='cardInfo'>
        <h3
            data-test-registration-list-card-title
            local-class='registrationTitle'
        >
            {{#if (eq @filterState 'rejected')}}
                {{@registration.title}}
            {{else}}
                <OsfLink
                    @route='registries.overview'
                    @models={{array @registration.id}}
                    @queryParams={{hash viewMode='moderator'}}
                >
                    {{@registration.title}}
                </OsfLink>
            {{/if}}
        </h3>
        <ReviewActionsList @registration={{@registration}}/>
    </div>
</div>
