<div
    data-test-registration-list-card
    local-class='cardWrapper'
    ...attributes
>
    <FaIcon
        data-test-registration-list-card-icon='{{@filterState}}'
        @icon={{this.icon}}
        @size={{2}}
        local-class='filterIcon {{@filterState}}'
    />
    <div local-class='cardInfo'>
        {{!-- TODO: Update this to be a link to the moderation overview page --}}
        <h3
            data-test-registration-list-card-title
            local-class='registrationTitle'
        >
            {{@registration.title}}
        </h3>
        <ReviewActionsList @registration={{@registration}}/>
    </div>
</div>
