<div local-class='cardWrapper'...attributes>
    <FaIcon
        @icon={{this.icon}}
        @size={{2}}
        local-class='{{@filterState}}'
    />
    <div local-class='cardInfo'>
        <h3>{{@registration.title}}</h3>
        {{!-- TODO: Update this to be a link to the moderation overview page --}}
        <p>
            {{t 'registries.registrationList.moderatorAction'
                action='Submitted'
                moderator=this.registeredBy
                date=this.timeSubmitted
            }}
        </p>
        {{#if this.showModerator}}
            <p>
                {{!-- need to update this when the actions endpoint is in mirage 
                    need to update moderatorname and date
                --}}
                {{t 'registries.registrationList.moderatorAction'
                    action=(capitalize @filterState)
                    moderator=this.registeredBy
                    date=this.timeSubmitted
                }}
            </p>
        {{/if}}
    </div>
</div>
