<div
    data-test-registration-list-card
    local-class='cardWrapper'
    ...attributes
>
    <FaIcon
        data-test-registration-list-card-icon='{{@filterState}}'
        @icon={{this.icon}}
        @size={{2}}
        local-class='filterIcon {{@filterState}}'
    />
    {{#if this.fetchActions.isRunning}}
        <LoadingIndicator />
    {{else}}
        <div local-class='cardInfo'>
            {{!-- TODO: Update this to be a link to the moderation overview page --}}
            <h3
                data-test-registration-list-card-title
                local-class='registrationTitle'
            >
                {{@registration.title}}
            </h3>
            <div local-class='actionsWrapper'>
                <FaIcon 
                    @icon={{this.actionsListIcon}}
                    @fixedWidth={{true}}
                    local-class='toggleActions'
                    {{on 'click' this.toggleActionList}}
                />
                <div local-class='actionsList'>
                    <p data-test-registration-list-card-submitted>
                        {{t 'registries.registrationList.moderatorAction'
                            action=this.latestAction.triggerPastTense
                            moderator=this.latestAction.creator.fullName
                            date=(time-since this.latestAction.dateModified)
                        }}
                    </p>
                    <AnimatedContainer local-class='ExpandyContainer'>
                        <AnimatedIf
                            @predicate={{this.showFullActionList}}
                            @duration='100'
                        >
                            {{#each this.reviewActions as |reviewAction index|}}
                                {{#if (gt index 0)}}
                                    <p data-test-registration-list-card-submitted>
                                        {{t 'registries.registrationList.moderatorAction'
                                            action=reviewAction.triggerPastTense
                                            moderator=reviewAction.creator.fullName
                                            date=(time-since reviewAction.dateModified)
                                        }}
                                    </p>
                                {{/if}}
                            {{/each}}
                        </AnimatedIf>
                    </AnimatedContainer>
                </div>
            </div>
        </div>
    {{/if}}
</div>
