<div class='row'>
    <div class='col-xs-6'>
        <h4>{{t 'registries.discover.sidebar.active_filters'}}:</h4>
    </div>
    <div class='col-xs-6'>
        <Button
            data-test-clear-filters
            @layout='medium'
            @type='secondary'
            {{on 'click' this.clearFilters}}
        >
            {{t 'registries.discover.sidebar.clear_filters'}}
            {{fa-icon 'times'}}
        </Button>
    </div>
</div>

{{#each this.filters as |filter|}}
    <div local-class='Sidebar__ActiveFilter'>{{filter.display}}</div>
    <Button
        @layout='small'
        aria-label={{t 'registries.discover.sidebar.remove_filter_label' filterName=filter.display}}
        {{on 'click' (fn this.removeFilter filter.filter)}}
      >
        {{fa-icon 'times'}}
    </Button>
{{/each}}

<div local-class='Sidebar__Facets'>
    {{yield (hash
        filters=this.filters
        searchOptions=@searchOptions
        onSearchOptionsUpdated=(action this._onSearchOptionsUpdated)
    )}}
</div>
