<div class='row'>
    <div class='col-xs-6'>
        <h4>{{t 'registries.discover.sidebar.refine_search'}}</h4>
    </div>
    <div class='col-xs-6'>
        <button
            data-test-clear-filters
            type='button'
            class='pull-right btn btn-sm btn-default'
            {{action 'clearFilters'}}
        >
            {{t 'registries.discover.sidebar.clear_filters'}}
            {{fa-icon 'times'}}
        </button>
    </div>
</div>

{{#each this.filters as |filter|}}
    <div local-class='Sidebar__ActiveFilter'>{{filter.display}}</div>
    <button
        type='button'
        class='{{filter.class}}'
        local-class='Sidebar__RemoveFilter'
        aria-label={{t 'registries.discover.sidebar.remove_filter_label' filterName=filter.display}}
        {{action 'removeFilter' filter.filter}}
    >
        {{fa-icon 'times'}}
    </button>
{{/each}}

<div local-class='Sidebar__Facets'>
    {{yield (hash
        filters=this.filters
        searchOptions=@searchOptions
        onSearchOptionsUpdated=(action this._onSearchOptionsUpdated)
    )}}
</div>
