<OsfDialog
    @isOpen={{@isOpen}}
    @onClose={{@onClose}}
    @closeOnOutsideClick={{false}}
    as |dialog|
>
    <dialog.heading local-class='modal-title'>
        {{t 'registries.partialRegistrationModal.title'}}
    </dialog.heading>
    <dialog.main>
        <div local-class='component-contributor-warning'>
            {{t 'registries.partialRegistrationModal.componentContributorWarning'}}
        </div>
        <BsButton
            @type='link'
            local-class='select-clear-button'
            @onClick={{@manager.selectAll}}
            data-test-select-all
        >
            {{t 'registries.partialRegistrationModal.selectAll'}}
        </BsButton>
        |
        <BsButton
            @type='link'
            local-class='select-clear-button'
            @onClick={{@manager.clearAll}}
            data-test-clear-all
        >
            {{t 'registries.partialRegistrationModal.clearAll'}}
        </BsButton>
        {{#if @manager.loadingChildNodes}}
            <LoadingIndicator @dark={{true}} />
        {{else}}
            <ul local-class='list'>
                <Registries::HierarchicalList::ItemManager
                    @item={{@manager.rootNode}}
                    @listManager={{@manager}}
                    @isRoot={{true}}
                    as |itemManager|
                >
                    <Registries::HierarchicalList::Item @manager={{itemManager}} local-class='list' />
                </Registries::HierarchicalList::ItemManager>
            </ul>
        {{/if}}
    </dialog.main>
    <dialog.footer>
        <BsButton
            data-test-continue-registration-button
            @type='primary'
            @onClick={{action this.continue}}
        >
            {{t 'registries.partialRegistrationModal.continueButton'}}
        </BsButton>
        <BsButton
            data-test-cancel-registration-button
            @type='default'
            @onClick={{dialog.close}}
        >
            {{t 'registries.partialRegistrationModal.cancelButton'}}
        </BsButton>
    </dialog.footer>
</OsfDialog>