<div data-test-token-card={{@token.id}} local-class='TokenCard'>
    {{#if @token}}
        {{#link-to
            'settings.tokens.edit'
            @token.id
            data-test-token-link=@token.id
        }}
            {{@token.name}}
        {{/link-to}}
    {{else}}
        <ContentPlaceholders
            local-class="TokenCard__placeholder"
            as |placeholder|
        >
            {{placeholder.heading subtitle=false}}
        </ContentPlaceholders>
    {{/if}}

    <DeleteButton
        @small={{true}}
        @delete={{action this.delete}}
        @disabled={{not @token}}
        @analyticsScope="Settings - Tokens"
        @modalTitle={{t 'settings.tokens.confirmDelete.title' tokenName=this.token.name}}
        @modalBody={{t 'settings.tokens.confirmDelete.body'}}
    />
</div>
