<label local-class='subject-text' data-test-subject-id={{@manager.subject.id}}>
    {{input
        type='checkbox'
        change=(action @manager.onChange @manager.subject)
        checked=@manager.selected
    }}
    {{#if @manager.hasChildren}}
        <OsfButton
            local-class='expand-button'
            @type='link'
            @onClick={{action @manager.toggleChildren}}
        >
            {{@manager.subject.text}}
            <FaIcon @icon='caret-{{if @manager.shouldShowChildren 'up' 'down'}}' @fixedWidth={{true}} />
        </OsfButton>
        {{#if @manager.shouldShowChildren}}
            <div local-class='children'>
                {{#if @manager.loading}}
                    <ContentPlaceholders as |placeholder|>
                        <placeholder.text @lines={{@manager.placeholderCount}} />
                    </ContentPlaceholders>
                {{else}}
                    {{#each @manager.children as |child|}}
                        <SubjectWidget::Browser::ItemManager
                            @subject={{child}}
                            @manager={{@manager.subjectManager}}
                            as |itemManager|
                        >
                            <SubjectWidget::Browser::Item @manager={{itemManager}} />
                        </SubjectWidget::Browser::ItemManager>
                    {{/each}}
                    {{#if @manager.hasMore}}
                        {{#if @manager.loadingMoreChildren}}
                            <ContentPlaceholders as |placeholder|>
                                <placeholder.text @lines={{@manager.placeholderCount}} />
                            </ContentPlaceholders>
                        {{else}}
                            <OsfButton
                                @type='link'
                                @onClick={{action @manager.showMore}}
                                local-class='More'
                            >
                                {{t 'registries.registration_metadata.show_more'}}
                            </OsfButton>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
    {{else}}
        {{@manager.subject.text}}
    {{/if}}
</label>
