<div
    data-test-read-only-contributors-list
    local-class='ContributorList'
    ...attributes
>
    <ContributorList
        @node={{@node}}
        @shouldTruncate={{false}}
        @shouldLinkUsers={{true}}
    />
    {{#if this.isEditableForm}}
        <Registries::SchemaBlockRenderer::HelperTextIcon @helpText={{this.schemaBlock.helpText}} />
    {{/if}}
</div>
<div
    data-test-edit-contributors
    local-class='EditContributors'
>
    {{!-- TODO: change link to a route when we emberize contributors page --}}
    {{#unless @node.isRegistration}}
        <OsfLink
            data-test-to-contributors-page
            @href={{concat this.osfUrl @node.id '/contributors/'}}
        >
            {{t 'osf-components.registries.read-only-contributors-list.editContributorsOnYourProject'}}
        </OsfLink>
    {{/unless}}
</div>