<Navbar
    data-analytics-scope='Navbar'
    @dark={{true}}
    ...attributes
    as |nav|
>
    <nav.container>
        {{! Left Side (Band, Service Dropdown) }}
        <nav.section data-test-left>

            <OsfLink
                data-test-brand
                data-analytics-name='Brand'
                @route='home'
                local-class='Logo'
                aria-label={{t 'navbar.go_home'}}
            />

            <BsDropdown
                data-analytics-scope='Services dropdown'
                as |dropdown|
            >
                <dropdown.toggle
                    data-test-service
                    data-analytics-name='Toggle'
                    @classNames={{local-class 'Service Dropdown'}}
                >
                    <span>{{t 'general.OSF'}}</span>
                    <strong>{{t 'general.services.registries'}}</strong>
                    {{nav.icon (if dropdown.isOpen 'caret-up' 'caret-down')}}
                </dropdown.toggle>

                <dropdown.menu
                    data-test-service-list
                    @classNames={{local-class 'ServiceDropdownMenu DropdownMenu'}}
                    as |menu|
                >
                    {{#each this.services as |service|}}
                        <menu.item role='menuitem'>
                            <OsfLink
                                data-analytics-name={{service.name}}
                                {{! each service has one of `route` and `href` }}
                                @route={{service.route}}
                                @href={{service.href}}
                            >
                                <strong local-class='ServiceDropdownEntry'>{{service.name}}</strong>
                            </OsfLink>
                        </menu.item>
                    {{/each}}
                </dropdown.menu>
            </BsDropdown>

        </nav.section>

        {{! Right Side (Search, Buttons, Gravatar, Dropdown) }}
        <nav.section data-test-right>

            <nav.item
                data-test-search-bar='1'
                @classNames={{local-class 'HideOnMobile SearchBar'}}
            >
                <IconInput
                    data-analytics-name='Search box'
                    @icon='search'
                    @dark={{true}}
                    @enter={{action '_onSearch'}}
                />
            </nav.item>

            <nav.links.secondary
                data-test-help='1'
                data-analytics-name='Help'
                @href={{this.helpRoute}}
                @classNames={{local-class 'HideOnMobile'}}
            >
                <h4>{{t 'general.help'}}</h4>
            </nav.links.secondary>

            <nav.links.primary
                data-test-donate='1'
                data-analytics-name='Donate'
                @href={{this.donateRoute}}
                @classNames={{local-class 'HideOnMobile'}}
            >
                <h4>{{t 'navbar.donate'}}</h4>
            </nav.links.primary>

            {{#unless this.session.isAuthenticated}}

                <nav.divider @classNames={{local-class 'HideOnMobile'}} />

                <nav.links.secondary
                    data-test-join='1'
                    data-analytics-name='Sign up'
                    @route='register'
                    @queryParams={{this.signUpQueryParams}}
                    @classNames={{local-class 'HideOnMobile'}}
                >
                    <h4>{{t 'navbar.join'}}</h4>
                </nav.links.secondary>

                <nav.buttons.secondary
                    data-test-login='1'
                    data-analytics-name='Sign in'
                    @onclick={{action 'login'}}
                    @classNames={{local-class 'HideOnMobile'}}
                >
                    <h4>{{t 'navbar.login'}}</h4>
                </nav.buttons.secondary>
            {{/unless}}

            <BsDropdown
                data-analytics-scope='User dropdown'
                local-class='AuthDropdown'
                as |dropdown|
            >
                <dropdown.toggle
                    data-analytics-name='Toggle'
                    local-class='Dropdown'
                >
                    {{#if this.session.isAuthenticated}}
                        <img
                            data-test-gravatar
                            local-class='Gravatar'
                            src='{{this.currentUser.user.profileImage}}&s=30'
                            alt={{t 'auth_dropdown.user_gravatar'}}
                        >
                        {{nav.icon (if dropdown.isOpen 'caret-up' 'caret-down')}}
                    {{else}}
                        <OsfButton
                            data-test-toggle-navbar
                            @class={{local-class 'OnlyOnMobile'}}
                        >
                            {{nav.icon (if dropdown.isOpen 'times' 'bars')}}
                        </OsfButton>
                    {{/if}}
                </dropdown.toggle>

                <dropdown.menu
                    data-test-auth-dropdown
                    class='dropdown-menu-right'
                    local-class='AuthDropdownMenu DropdownMenu'
                    as |menu|
                >
                    {{#if this.session.isAuthenticated}}
                        <menu.item role='menuitem'>
                            <OsfLink
                                data-test-ad-my-profile
                                data-analytics-name='My Profile'
                                @href={{this.profileURL}}
                            >
                                <FaIcon @icon='user' @fixedWidth={{true}} />
                                {{t 'auth_dropdown.my_profile'}}
                            </OsfLink>
                        </menu.item>
                        <menu.item role='menuitem'>
                            <OsfLink
                                data-test-ad-support
                                data-analytics-name='Support'
                                @route='support'
                            >
                                <FaIcon @icon='life-ring' @fixedWidth={{true}} />
                                {{t 'auth_dropdown.osf_support'}}
                            </OsfLink>
                        </menu.item>
                        <menu.item role='menuitem'>
                            <OsfLink
                                data-test-ad-settings
                                data-analytics-name='Settings'
                                @href={{this.settingsURL}}
                            >
                                <FaIcon @icon='cog' @fixedWidth={{true}} />
                                {{t 'general.settings'}}
                            </OsfLink>
                        </menu.item>
                    {{else}}
                        <menu.item role='menuitem' local-class='OnlyOnMobile'>
                            <OsfLink
                                data-test-join-mobile
                                data-analytics-name='Sign up'
                                @route='register'
                                @queryParams={{this.signUpQueryParams}}
                            >
                                <FaIcon @icon='user-plus' @fixedWidth={{true}} />
                                {{t 'navbar.join'}}
                            </OsfLink>
                        </menu.item>
                        <menu.item role='menuitem' local-class='OnlyOnMobile'>
                            <OsfButton
                                data-test-login-mobile
                                data-analytics-name='Sign in'
                                @type='link'
                                @onClick={{action 'login'}}
                            >
                                <FaIcon @icon='sign-in' @fixedWidth={{true}} />
                                {{t 'navbar.login'}}
                            </OsfButton>
                        </menu.item>
                    {{/if}}

                    <menu.item role='menuitem' local-class='OnlyOnMobile'>
                        <OsfLink
                            data-test-donate-mobile
                            data-analytics-name='Donate'
                            @href={{this.donateRoute}}
                        >
                            <FaIcon @icon='usd' @fixedWidth={{true}} />
                            {{t 'navbar.donate'}}
                        </OsfLink>
                    </menu.item>
                    <menu.item role='menuitem' local-class='OnlyOnMobile'>
                        <OsfLink
                            data-test-help-mobile
                            data-analytics-name='Help'
                            @href={{this.helpRoute}}
                        >
                            <FaIcon @icon='info-circle' @fixedWidth={{true}} />
                            {{t 'general.help'}}
                        </OsfLink>
                    </menu.item>

                    {{#if this.session.isAuthenticated}}
                        <menu.item role='menuitem'>
                            <OsfButton
                                data-test-ad-logout
                                data-analytics-name='Logout'
                                @type='link'
                                @onClick={{action 'logout'}}
                            >
                                <FaIcon @icon='sign-out' @fixedWidth={{true}} />
                                {{t 'auth_dropdown.log_out'}}
                            </OsfButton>
                        </menu.item>
                    {{/if}}
                </dropdown.menu>
            </BsDropdown>
        </nav.section>
    </nav.container>
</Navbar>

<Container
    data-test-search-bar-mobile='1'
    local-class='SearchDropdown {{if (media 'isMobile') '' 'Closed'}}'
>
    <IconInput
        data-analytics-name='Search box'
        @icon='search'
        @dark={{true}}
        @enter={{action '_onSearch'}}
    />
</Container>
