{{#if this.isLoading}}
    <LoadingIndicator @dark={{true}} />
{{else}}
    <ul local-class='Subjects' data-analytics-scope='Display'>
        {{#each @subjects as |subject|}}
            <li data-test-selected-subject={{subject.text}} local-class='Subject'>
                {{subject.text}}

                {{#if @removeSubject}}
                    <BsButton
                        local-class='RemoveButton'
                        data-analytics-name='Remove'
                        data-analytics-extra={{subject.text}}
                        role='button'
                        aria-label={{t 'osf-components.subjects.display.remove_subject'}}
                        @type='link'
                        @onClick={{action @removeSubject subject}}
                    >
                        <FaIcon @icon='times' @fixedWidth={{true}} />
                    </BsButton>
                {{/if}}
            </li>
        {{else}}
            <span data-test-selected-subject-placeholder local-class='Placeholder'>
                {{t 'osf-components.subjects.display.placeholder'}}
            </span>
        {{/each}}
    </ul>
{{/if}}
