<div class='FileEditor__panel-heading'>
    <h3 class='FileEditor__panel-title'>
        <i class='fa fa-pencil-square-o'></i>
        {{t 'general.edit'}}
    </h3>
</div>
<div>
    <div class='editor-pane panel-body'>
        <div class='FileEditor__text-editor'>
            {{ember-ace
                lines=35
                useWrapMode=true
                showLineNumbers=false
                value=newText
                showPrintMargin=false
                update=(action 'valueUpdated')}}
        </div>
        <div>
            <div class='row'>
                <div class='col-sm-12'>
                    <div class='pull-right'>
                        <button class='btn btn-sm btn-danger' id='btnRevertEditor' onclick={{action 'revertText'}}>{{t 'general.revert'}} </button>
                        <button class='btn btn-sm btn-success' id='btnSaveEditor' onclick={{action 'saveText'}}>{{t 'general.save'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
