<div local-class='header-container {{if @isMobile 'mobile'}}'>
    <div local-class='header'>
        <h2 data-test-metadata-header>
            {{t 'metadata.header'}}
        </h2>
    </div>
    <div local-class='actions'>
        <div local-class='download spacer'>
            <div local-class='spacer'>
                <FaIcon @icon='download' />
            </div>
            <div>
                {{t 'metadata.download'}}
            </div>
        </div>
        <div local-class='add-schema'>
            <div local-class='spacer'>
                <FaIcon @icon='plus' />
            </div>
            <div>
                <OsfLink
                    data-test-add-cedar-schema
                    data-analytics-name='Add metadata schema'
                    @route={{@route}}
                    @models={{array @target.id}}
                >
                    {{t 'metadata.add-schema'}}
                </OsfLink>
            </div>
        </div>
    </div>
</div>
