{{! template-lint-disable invalid-interactive }}
{{#if session.isAuthenticated}}
    <li {{action onLinkClick}}>
        {{#link-to 'guid-user.quickfiles' currentUser.currentUserId clickAction=(action 'click' 'link' 'Navbar - navbar.my_quick_files' target=analytics)}}
            {{t 'navbar.my_quick_files'}}
        {{/link-to}}
    </li>
    <li>
        <a href={{myProjectsUrl}} onclick={{action 'click' 'link' 'Navbar - navbar.my_projects' target=analytics}}>
            {{t 'navbar.my_projects'}}
        </a>
    </li>
{{/if}}
<li>
    <a href={{searchUrl}} onclick={{action 'click' 'link' 'Navbar - navbar.search' target=analytics}}>
        {{t 'navbar.search'}}
    </a>
</li>
<li {{action onLinkClick}}>
    {{#link-to 'support' clickAction=(action 'click' 'link' 'Navbar - navbar.support' target=analytics) }}
        {{t 'navbar.support'}}
    {{/link-to}}
</li>
<li class="navbar-donate-button">
    <a href={{donateUrl}} onclick={{action 'click' 'link' 'Navbar - navbar.donate' target=analytics}}>
        {{t 'navbar.donate'}}
    </a>
</li>
