<Button
    data-test-ascending-sort={{this.sortBy}}
    data-analytics-name={{concat 'Ascending sort ' this.sortBy}}
    class={{if (eq @sort this.sortBy) 'selected' 'not-selected'}}
    title={{t 'general.sort_asc'}}
    {{on 'click' (action @sortAction this.sortBy)}}
>
    <FaIcon @icon='chevron-up' />
</Button>
<Button
    data-test-descending-sort={{this.sortBy}}
    data-analytics-name={{concat 'Descending sort ' this.sortBy}}
    class={{if (eq @sort this.sortByDesc) 'selected' 'not-selected'}}
    title={{t 'general.sort_desc'}}
    {{on 'click' (action @sortAction this.sortByDesc)}}
>
    <FaIcon @icon='chevron-down' />
</Button>
