<button
    onclick={{action sortAction sortBy}}
    title={{t 'general.sort_asc'}}
    id="{{concat sortBy 'AscendingSort'}}"
    local-class="{{if (eq sort sortBy) 'selected' 'not-selected'}}"
    {{action 'click' 'button' 'Sort - sort_asc' target=analytics}}
>
    {{fa-icon 'angle-up'}}
</button>
<button
    onclick={{action sortAction sortByDesc}}
    title={{t 'general.sort_desc'}}
    id={{concat sortBy "DescendingSort"}}
    local-class="{{if (eq sort sortByDesc) 'selected' 'not-selected'}}"
    {{action 'click' 'button' 'Sort - sort_desc' target=analytics}}
>
    {{fa-icon 'angle-down'}}
</button>
