<Button
    data-test-ascending-sort={{this.sortBy}}
    data-analytics-name={{concat 'Sort ' this.sortBy}}
    local-class={{if (eq @sort this.sortBy) 'selected' 'not-selected'}}
    title={{if (eq @sort this.sortBy) (t 'general.sort_desc') (t 'general.sort_asc')}}
    aria-label={{if (eq @sort this.sortBy) (t 'general.sort_desc') (t 'general.sort_asc')}}
    {{on 'click' (action @sortAction this.sortBy)}}
>
    {{#if (eq @sort this.sortBy)}}
        <FaIcon @icon='arrow-up' />
    {{else if (eq @sort this.sortByDesc)}}
        <FaIcon @icon='arrow-down' />
    {{else}}
        <FaIcon @icon='arrow-down' />
    {{/if}}
</Button>
