<Button
    data-test-sort-button={{this.sortBy}}
    data-analytics-name={{concat 'Sort ' this.sortBy}}
    local-class='sort-button'
    title={{if (eq @sort this.sortBy) (t 'general.sort_desc') (t 'general.sort_asc')}}
    aria-label={{if (eq @sort this.sortBy) (t 'general.sort_desc') (t 'general.sort_asc')}}
    {{on 'click' (action @sortAction this.sortBy)}}
>
    {{#if (eq @sort this.sortBy)}}
        <FaIcon @icon='arrow-up' />
    {{else if (eq @sort this.sortByDesc)}}
        <FaIcon @icon='arrow-down' />
    {{else}}
        <!-- Default state when not sorted by this column -->
        <FaIcon @icon='arrow-down' class='not-sorted' />
    {{/if}}
</Button>
