<Institutions::Dashboard::-Components::InstitutionalDashboardWrapper @institution={{this.model.institution}} as |wrapper|>
    <wrapper.main>
        <div local-class='panel-wrapper' data-analytics-scope='Summary tab'>
            <Institutions::Dashboard::-Components::Panel
                @title={{t 'institutions.dashboard.users_connected_panel'}}
            >
                {{#if this.model.summaryMetrics}}
                    <h3>{{this.model.summaryMetrics.userCount}}</h3>
                {{else}}
                    {{t 'institutions.dashboard.empty'}}
                {{/if}}
            </Institutions::Dashboard::-Components::Panel>
            <Institutions::Dashboard::-Components::Panel
                @title={{t 'institutions.dashboard.projects_panel'}}
            >
                <Institutions::Dashboard::-Components::ProjectsPanel
                    @summaryMetrics={{this.model.summaryMetrics}}
                />
            </Institutions::Dashboard::-Components::Panel>
            <Institutions::Dashboard::-Components::Panel
                @title={{t 'institutions.dashboard.departments_panel'}}
            >
                <Institutions::Dashboard::-Components::DepartmentsPanel
                    @topDepartments={{this.model.departmentMetrics}}
                    @totalUsers={{this.model.totalUsers}}
                />
            </Institutions::Dashboard::-Components::Panel>
        </div>
    </wrapper.main>
</Institutions::Dashboard::-Components::InstitutionalDashboardWrapper>
