<Institutions::Dashboard::-Components::InstitutionalDashboardWrapper
    @institution={{this.model.institution}} as |wrapper|
>
    <wrapper.main local-class='main-container {{if (is-mobile) 'mobile'}}'>
        {{#if this.model.summaryMetrics.reportYearmonth}}
            <div
                data-test-summary-report-year-month
                local-class='updated-at'
            >
                {{t 'institutions.dashboard.updated' date=this.model.summaryMetrics.reportYearmonth}}
            </div>
        {{/if}}
        <div local-class='kpi-container'>
            <Institutions::Dashboard::-Components::TotalCountKpiWrapper
                @model={{this.model}}
            />
        </div>
        <div local-class='chart-container'>
            <Institutions::Dashboard::-Components::ChartKpiWrapper
                @model={{this.model}}
            />
        </div>
    </wrapper.main>
</Institutions::Dashboard::-Components::InstitutionalDashboardWrapper>
