{{title (t 'support.title')}}
<div
    class='container'
    local-class='Support'
    data-analytics-scope='Support'
>
    <h1 class='m-b-lg'>{{t 'support.title'}}</h1>
    <div class='row m-b-lg'>
        <div class='col-sm-4'>
            <div local-class='SupportCol'>
                <h4 class='f-w-lg bg-color-select'>
                    <OsfLink
                        data-analytics-name='faq_title'
                        @href={{this.faqPageUrl}}
                    >
                        {{t 'support.faq_title'}}
                    </OsfLink>
                </h4>
                <div class='clearfix'>
                    <p>
                        {{t 'support.faq_paragraph' faqPageUrl=this.faqPageUrl}}
                    </p>
                    <OsfLink
                        data-analytics-name='faq_button'
                        class='btn btn-info m-t-lg pull-right'
                        @href={{this.faqPageUrl}}
                    >
                        {{t 'support.faq_button'}}
                        <i class='fa fa-angle-right'></i>
                    </OsfLink>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div local-class='SupportCol'>
                <h4 class='f-w-lg bg-color-select'>
                    <OsfLink
                        data-analytics-name='guides_title'
                        @href={{this.helpUrl}}
                    >
                        {{t 'support.guides_title'}}
                    </OsfLink>
                </h4>
                <div class='clearfix'>
                    <p>
                        {{t 'support.guides_paragraph' helpUrl=this.helpUrl}}
                    </p>
                    <OsfLink
                        data-analytics-name='guides_button'
                        class='btn btn-info m-t-lg pull-right'
                        @href={{this.helpUrl}}
                    >
                        {{t 'support.guides_button'}}
                        <i class='fa fa-angle-right'></i>
                    </OsfLink>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div local-class='SupportCol'>
                <h4 class='f-w-lg bg-color-select'>{{t 'support.contact_title'}}</h4>
                <div class='clearfix'>
                    <p>{{t 'support.contact_questions'}}</p>
                    <p>
                        <OsfLink
                            data-analytics-name='contact_form'
                            class='text-bigger'
                            @href='https://openscience.zendesk.com/hc/en-us'
                        >
                            {{t 'support.contact_form'}}
                        </OsfLink>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class='row m-b-lg'>
        <div class='col-sm-4'>
            <h5 class='m-t-md f-w-xl'>{{t 'support.prereg_title'}}</h5>
            <p>
                {{t 'support.prereg_paragraph' preregUrl=this.preregUrl}}
            </p>
        </div>
        <div class='col-sm-4'>
            <h5 class='m-t-md f-w-xl'>{{t 'support.status_title'}}</h5>
            <p>
                {{t 'support.status_paragraph' statusPageUrl=this.statusPageUrl}}
            </p>
        </div>
        <div class='col-sm-4'>
            <h5 class='m-t-md f-w-xl'>{{t 'support.consultation_title'}}</h5>
            <p>
                {{t 'support.consultation_paragraph' consultationUrl=this.consultationUrl}}
            </p>
        </div>
    </div>
    <hr>
    <div class='row m-b-lg'>
        <div class='col-sm-12 text-center' local-class='bold-links'>
            <h4 class='m-t-md f-w-xl'>{{t 'support.social_title'}}</h4>
            <OsfLink
                data-analytics-name='social_twitter'
                class='btn btn-link'
                @href={{this.twitterUrl}}
            >
                <i class='fa fa-twitter'></i>{{t 'support.social_twitter'}}
            </OsfLink>
            <OsfLink
                data-analytics-name='social_email'
                class='btn btn-link'
                @href={{this.mailingUrl}}
            >
                <i class='fa fa-users'></i> {{t 'support.social_mailing'}}
            </OsfLink>
            <OsfLink
                data-analytics-name='social_facebook'
                class='btn btn-link'
                @href={{this.facebookUrl}}
            >
                <i class='fa fa-facebook'></i> {{t 'support.social_facebook'}}
            </OsfLink>
            <OsfLink
                data-analytics-name='social_github'
                class='btn btn-link'
                @href={{this.githubUrl}}
            >
                <i class='fa fa-github'></i> {{t 'support.social_github'}}
            </OsfLink>
        </div>
    </div>
</div>
