{{title (t 'support.title')}}
<div class='container' local-class='Support'>
    <h1 class='m-b-lg'>{{t 'support.title'}}</h1>
    <div class='row m-b-lg'>
        <div class='col-sm-4'>
            <div local-class='SupportCol'>
                <h4 class='f-w-lg bg-color-select'>
                    <Link
                        @href='/faq'
                        @onclick={{action 'click' 'link' 'Support - faq_title' target=this.analytics}}
                    >
                        {{t 'support.faq_title'}}
                    </Link>
                </h4>
                <div class='clearfix'>
                    <p>
                        {{t 'support.faq_paragraph'}}
                        <Link
                            @href='{{this.faqPageUrl}}'
                            @onclick={{action 'click' 'link' 'Support - faq_link' target=this.analytics}}
                        >
                            {{~t 'support.faq_link_text'~}}
                        </Link>
                        {{~t 'general.period'}}
                    </p>
                    <Link
                        class='btn btn-info m-t-lg pull-right'
                        @href='{{this.faqPageUrl}}'
                        @onclick={{action 'click' 'link' 'Support - faq_button' target=this.analytics}}
                    >
                        {{t 'support.faq_button'}}
                        <i class='fa fa-angle-right'></i>
                    </Link>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div local-class='SupportCol'>
                <h4 class='f-w-lg bg-color-select'>
                    <Link
                        @href='{{this.helpUrl}}'
                        @target='_blank'
                        @rel='noreferrer'
                        @onclick={{action 'click' 'link' 'Support - guides_title' target=this.analytics}}
                    >
                        {{t 'support.guides_title'}}
                    </Link>
                </h4>
                <div class='clearfix'>
                    <p>
                        {{t 'support.guides_paragraph_1'}}
                        <Link
                            @href='{{this.helpUrl}}'
                            @target='_blank'
                            @rel='noreferrer'
                            @onclick={{action 'click' 'link' 'Support - guides_link' target=this.analytics}}
                        >
                            {{t 'support.guides_link_text'}}
                        </Link>
                        {{t 'support.guides_paragraph_2'}}
                    </p>
                    <Link
                        class='btn btn-info m-t-lg pull-right'
                        @href='{{this.helpUrl}}'
                        @target='_blank'
                        @rel='noreferrer'
                        @onclick={{action 'click' 'link' 'Support - guides_button' target=this.analytics}}
                    >
                        {{t 'support.guides_button'}}
                        <i class='fa fa-angle-right'></i>
                    </Link>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div local-class='SupportCol'>
                <h4 class='f-w-lg bg-color-select'>{{t 'support.contact_title'}}</h4>
                <div class='clearfix'>
                    <p>{{t 'support.contact_technical'}}</p>
                    <p>
                        <Link
                            class='text-bigger'
                            @href='mailto:{{this.supportEmail}}'
                            @onclick={{action 'click' 'link' 'Support - support_email'target=this.analytics}}
                        >
                            {{this.supportEmail}}
                        </Link>
                    </p>
                    <p>{{t 'support.contact_questions'}}</p>
                    <p>
                        <Link
                            class='text-bigger'
                            @href='mailto:{{this.contactEmail}}'
                            @onclick={{action 'click' 'link' 'Support - contact_email' target=this.analytics}}
                        >
                            {{this.contactEmail}}
                        </Link>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class='row m-b-lg'>
        <div class='col-sm-4'>
            <h5 class='m-t-md f-w-xl'>{{t 'support.prereg_title'}}</h5>
            <p>
                {{t 'support.prereg_paragraph_1'}}
                <Link
                    @href='{{this.preregUrl}}'
                    @onclick={{action 'click' 'link' 'Support - prereg_link' target=this.analytics}}
                >
                    {{t 'support.prereg_link_text'}}
                </Link>
                {{t 'support.prereg_paragraph_2'}}
            </p>
        </div>
        <div class='col-sm-4'>
            <h5 class='m-t-md f-w-xl'>{{t 'support.status_title'}}</h5>
            <p>
                {{t 'support.status_paragraph_1'}}
                <Link
                    @href='{{this.statusPageUrl}}'
                    @onclick={{action 'click' 'link' 'Support - status_page_link' target=this.analytics}}
                >
                    {{t 'support.status_link_text'}}
                </Link>
                {{t 'support.status_paragraph_2'}}
            </p>
        </div>
        <div class='col-sm-4'>
            <h5 class='m-t-md f-w-xl'>{{t 'support.consultation_title'}}</h5>
            <p>
                {{t 'support.consultation_paragraph'}}
                <Link
                    @href='{{this.consultationUrl}}'
                    @onclick={{action 'click' 'link' 'Support - consultation_link'target=this.analytics}}
                >
                    {{t 'support.consultation_link_text'}}
                </Link>
                {{~t 'general.period'}}
            </p>
        </div>
    </div>
    <hr>
    <div class='row m-b-lg'>
        <div class='col-sm-12 text-center' local-class='bold-links'>
            <h4 class='m-t-md f-w-xl'>{{t 'support.social_title'}}</h4>
            <Link
                class='btn btn-link'
                @href='{{this.twitterUrl}}'
                @onclick={{action 'click' 'link' 'Support - social_twitter' target=this.analytics}}
            >
                <i class='fa fa-twitter'></i>{{t 'support.social_twitter'}}
            </Link>
            <Link
                class='btn btn-link'
                @href='{{this.mailingUrl}}'
                @onclick={{action 'click' 'link' 'Support - social_email' target=this.analytics}}
            >
                <i class='fa fa-users'></i> {{t 'support.social_mailing'}}
            </Link>
            <Link
                class='btn btn-link'
                @href='{{this.facebookUrl}}'
                @onclick={{action 'click' 'link' 'Support - social_facebook' target=this.analytics}}
            >
                <i class='fa fa-facebook'></i> {{t 'support.social_facebook'}}
            </Link>
            <Link
                class='btn btn-link'
                @href='{{this.githubUrl}}'
                @onclick={{action 'click' 'link' 'Support - social_github' target=this.analytics}}
            >
                <i class='fa fa-github'></i> {{t 'support.social_github'}}
            </Link>
        </div>
    </div>
</div>
