<div
    data-analytics-scope='File list'
    local-class='actions-header'
>
    {{#if (or this.showFilterClicked this.showFilterInput)}}
        <div class='col-xs-9 filter-input'>
            {{input
                (html-attributes data-test-filter-input='input')
                placeholder=(t 'file_browser.filtering')
                class='form-control'
                keyUp=(action @updateFilter value='target.value')
            }}
        </div>
        <div class='col-xs-3'>
            <OsfButton
                data-test-close-filter-button
                data-analytics-name='Hide filter'
                local-class='action-button'
                aria-label={{t 'general.close'}}
                @class='pull-right'
                @onClick={{action this.closeFilter}}
            >
                {{fa-icon 'times'}}
            </OsfButton>
        </div>
    {{else}}
        <div class='pull-right'>
            <OsfButton
                data-test-filter-button
                data-analytics-name='Show filter'
                local-class='action-button'
                @onClick={{action (mut this.showFilterClicked) true}}
            >
                {{fa-icon 'search'}}
                {{t 'general.filter'}}
            </OsfButton>
        </div>
    {{/if}}
</div>
<div local-class='items' role='listbox'>
    {{#each this.items as |item|}}
        <FileListItem
            @item={{item}}
            @openItem={{action this.openItem}}
        />
    {{/each}}
</div>
