<div local-class='data-link-container'>
    {{#each this.links as |link index|}}
        <div local-class='data-link'>
            <Preprints::-Components::Submit::AuthorAssertions::DataLinkWidget::DataLink
                @remove={{this.removeLink}}
                @update={{this.onUpdate}}
                @value={{link}}
                @index={{index}}
            />
        </div>
    {{/each}}

    <Button
        data-test-add-another-link
        aria-label={{t 'preprints.submit.step-three.public-data-link-add-button'}}
        local-class='add-another-link'
        @layout='fake-link'
        {{on 'click' this.addLink}}
    >
        <FaIcon @icon='plus' local-class='plus-icon' />
        {{t 'preprints.submit.step-three.public-data-link-add-button'}}
    </Button>
</div>