
{{#if this.loading}}
    <div local-class='ContentBackground Loading'>
        <LoadingIndicator @dark={{true}} />
    </div>
{{else}}
    {{title (t 'registries.forms.page_title')}}

    <div local-class=''>
        <div class='container'>
            <div class='row'>
                <h1>{{t 'registries.forms.page_title'}}</h1>
                {{!-- This is where the registries forms page will be. --}}
                {{outlet}}
            </div>
        </div>
    </div>
{{/if}}
