<OsfDialog
    @isOpen={{@openModal}}
    @onClose={{this.closeModal}}
    as |dialog|
>
    <dialog.main local-class='main' data-analytics-scope='New project navigation modal'>
        <h4 data-test-modal-message class='add-project-success text-success'>
            <Button
                data-test-close-with-x
                aria-label={{t 'general.close'}}
                class='close'
                {{on 'click' (action this.closeModal reload=true)}}
            >
                <FaIcon @icon='times' @size='sm' />
            </Button>
            {{this.title}}
        </h4>
    </dialog.main>
    <dialog.footer data-analytics-scope='New project navigation modal footer'>
        <Button
            data-test-stay-here
            data-analytics-name='stay_here'
            local-class='footer-button'
            {{on 'click' (action this.stayHere reload=true)}}
        >
            {{t 'new_project.stay_here'}}
        </Button>
        <OsfLink
            data-test-go-to-new
            data-analytics-name='go_to_new_project'
            class='btn btn-success'
            @href={{@node.links.html}}
        >
            {{t 'move_to_project.go_to_project'}}
        </OsfLink>
    </dialog.footer>
</OsfDialog>
