{{#bs-modal onHidden=closeModal as |modal|}}
    {{#modal.body}}
        <button
            data-test-close-with-x
            aria-label={{t 'general.close'}}
            class="close"
            onclick={{action closeModal reload=true}}
        >
            {{fa-icon 'times' size='sm'}}
        </button>
        <h4 class="add-project-success text-success">
            {{this.title}}
        </h4>
    {{/modal.body}}
    {{#modal.footer}}
        <button
            data-test-stay-here
            onclick={{action stayHere reload=true}}
            class="btn btn-default"
        >
            {{t 'new_project.stay_here'}}
        </button>
        <a
            data-test-go-to-new
            role='button'
            href="{{node.links.html}}"
            class="btn btn-success"
            onclick={{action 'click' 'link' (concat page ' - New Project - go_to_new_project') target=analytics}}
        >
            {{t 'new_project.go_to_new'}}
        </a>
    {{/modal.footer}}
{{/bs-modal}}
