<BsModal
    @onHidden={{this.closeModal}}
    as |modal|
>
    <modal.body data-analytics-scope='New project navigation modal'>
        <OsfButton
            data-test-close-with-x
            aria-label={{t 'general.close'}}
            @class='close'
            @onClick={{action this.closeModal reload=true}}
        >
            {{fa-icon 'times' size='sm'}}
        </OsfButton>
        <h4 class='add-project-success text-success'>
            {{this.title}}
        </h4>
    </modal.body>
    <modal.footer data-analytics-scope='New project navigation modal footer'>
        <OsfButton
            data-test-stay-here
            data-analytics-name='stay_here'
            @onClick={{action this.stayHere reload=true}}
        >
            {{t 'new_project.stay_here'}}
        </OsfButton>
        <OsfLink
            data-test-go-to-new
            data-analytics-name='go_to_new_project'
            class='btn btn-success'
            @href={{@node.links.html}}
        >
            {{t 'move_to_project.go_to_project'}}
        </OsfLink>
    </modal.footer>
</BsModal>
