<BsModal
    data-analytics-scope='New Project Navigation'
    @onHidden={{this.closeModal}}
    as |modal|
>
    <modal.body>
        <OsfButton
            data-test-close-with-x
            aria-label={{t 'general.close'}}
            @class='close'
            @onClick={{action this.closeModal reload=true}}
        >
            {{fa-icon 'times' size='sm'}}
        </OsfButton>
        <h4 class='add-project-success text-success'>
            {{this.title}}
        </h4>
    </modal.body>
    <modal.footer>
        <OsfButton
            data-test-stay-here
            @onClick={{action this.stayHere reload=true}}
        >
            {{t 'new_project.stay_here'}}
        </OsfButton>
        <OsfLink
            data-analytics-name='go_to_new_project'
            class='btn btn-success'
            @href='{{@node.links.html}}'
        >
            {{t 'move_to_project.go_to_project'}}
        </OsfLink>
    </modal.footer>
</BsModal>
