<FormControls::Wrapper
    @shouldShowMessages={{@shouldShowMessages}}
    @label={{@label}}
    @changeset={{@changeset}}
    @valuePath={{@valuePath}}
    as |inputElementId|
>
    <PowerSelect
        @options={{this.options}}
        @onchange={{this.updateChangeset}}
        @searchField={{@searchField}}
        @searchEnabled={{@searchEnabled}}
        @selected={{or (get @changeset this.valuePath) null}}
        @disabled={{@disabled}}
        id={{inputElementId}}
        as |option|
    >
        <div data-test-option={{option}}>
            {{option}}
        </div>
    </PowerSelect>
</FormControls::Wrapper>