<Contributors::Manager
    @node={{@node}}
    as |manager|
>
    {{#if @shouldShowAdd}}
        <Contributors::UserSearch::Widget
            @manager={{manager}}
            @toggleAddContributorWidget={{@toggleAddContributorWidget}}
        />
    {{/if}}
    <div local-class='Container' ...attributes>
        <div local-class='Heading'>
            <span data-test-heading-name local-class='HeadingTitle'>
                {{t 'osf-components.contributors.headings.name'}}
            </span>
            <span data-test-heading-permission local-class='HeadingTitle'>
                {{t 'osf-components.contributors.headings.permission'}}
            </span>
            <span data-test-heading-citation local-class='HeadingTitle'>
                {{t 'osf-components.contributors.headings.citation'}}
            </span>
        </div>
        <Contributors::List
            @contributorsManager={{manager}}
            @widgetMode={{'editable'}}
        />
    </div>
</Contributors::Manager>