<div local-class='branded-nav-wrapper'>
    <nav
        local-class='branded-nav'
        class='navbar navbar-inverse navbar-fixed-top'
        id='navbarScope'
    >
        <div local-class='nav-wrapper'>
            <div class='navbar-header'>
                {{#link-to @brandRoute provider=this.theme.provider class='navbar-brand'}}
                    <span local-class='navbar-image' class='navbar-image'></span>
                    <span class='navbar-title'>{{this.brandTitle}}</span>
                {{/link-to}}

                {{! Navigation toggle - XS screen }}
                <button
                    type='button'
                    class='navbar-toggle collapsed'
                    aria-label={{t 'navbar.toggle_secondary'}}
                    {{on 'click' this.toggleSecondaryNavigation}}
                >
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
            </div>

            {{! Secondary nav links }}
            <BsCollapse
                class='navbar-collapse navbar-right'
                local-class='secondary-navigation'
                @collapsed={{not this.showNavLinks}}
            >
                <ul class='nav navbar-nav' local-class='links'>
                    {{#if @displayModerationButton}}
                        <li>
                            <OsfLink
                                @route='collections.provider.moderation'
                                @models={{array this.providerId}}
                            >
                                {{t 'app_components.branded_navbar.moderation'}}
                            </OsfLink>
                        </li>
                    {{/if}}
                    <li>
                        <a
                            href={{this.myProjectsUrl}}
                            onclick={{action 'click' 'link' 'Navbar - navbar.my_projects' target=this.analytics}}
                        >
                            {{t 'app_components.branded_navbar.my_osf_projects'}}
                        </a>
                    </li>
                    <li>
                        {{#link-to
                            'provider.submit'
                            click=(action 'click' 'link' (concat 'Navbar - ' (t @addLinkKey) ' - ' this.theme.id) target=this.analytics)
                        }}
                            <span role='button'>{{t @addLinkKey}}</span>
                        {{/link-to}}
                    </li>
                    <li>
                        {{#link-to
                            'provider.discover'
                            click=(action 'click' 'link' 'Navbar - Search' target=this.analytics)
                        }}
                            <span role='button'>{{t 'navbar.search'}}</span>
                        {{/link-to}}
                    </li>
                    <li>
                        <a
                            href='https://cos.io/donate'
                            onclick={{action 'click' 'link' 'Navbar - Donate' target=this.analytics}}
                        >
                            {{t 'navbar.donate'}}
                        </a>
                    </li>
                    <OsfNavbar::AuthDropdown
                        @signupUrl={{@signupUrl}}
                        @loginAction={{@loginAction}}
                        @onLinkClicked={{action (mut this.showNavLinks) false}}
                        @headline={{t 'app_components.branded_navbar.on_the_osf'}}
                        @externalLink={{true}}
                        @campaign={{this.campaign}}
                    />
                </ul>
            </BsCollapse>
        </div>
    </nav>
</div>
<div local-class='NavBarBuffer'></div>