{{#bs-navbar
    fluid=false
    local-class='navbar'
    as |navbar|
}}
    <div class="navbar-header">
        {{navbar.toggle local-class="toggle"}}
        {{#link-to brandRoute provider=theme.provider class="navbar-brand"}}
            <span class="navbar-image" local-class="navbar-image"></span>
            <span class="navbar-title">{{brandTitle}}</span>
        {{/link-to}}
    </div>
    {{#navbar.content local-class="navbar-content"}}
        {{#navbar.nav
            class='navbar-right'
            as |nav|
        }}
            {{#nav.item}}
                <a
                    href={{myProjectsUrl}}
                    onclick={{action 'click' 'link' 'Navbar - navbar.my_projects' target=analytics}}
                >
                    {{t 'branded_navbar.my_osf_projects'}}
                </a>
            {{/nav.item}}
            {{#nav.item}}
                {{#link-to
                    'provider.submit'
                    click=(action 'click' 'link' (concat 'Navbar - Add ' objectType) target=analytics)
                }}
                    <span role="button" {{action navbar.collapse}}>
                        {{t addLinkKey}}
                    </span>
                {{/link-to}}
            {{/nav.item}}
            {{#nav.item}}
                {{#link-to
                    'provider.discover'
                    click=(action 'click' 'link' 'Navbar - Search' target=analytics)
                }}
                    <span role="button" {{action navbar.collapse}}>
                        {{t 'navbar.search'}}
                    </span>
                {{/link-to}}
            {{/nav.item}}
            {{#nav.item}}
                <a href="https://cos.io/donate" onclick={{action 'click' 'link' 'Navbar - Donate' target=analytics}}>
                    {{t 'navbar.donate'}}
                </a>
            {{/nav.item}}
            {{osf-navbar/auth-dropdown
                signupUrl=signupUrl
                loginAction=loginAction
                redirectUrl=redirectUrl
                onLinkClicked=(action (mut showNavLinks) false)
                headline=(t 'branded_navbar.on_the_osf')
                externalLink=true
            }}
        {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}
