<ResponsiveDropdown as |dd|>
    {{yield (hash trigger=dd.trigger isOpen=dd.isOpen)}}
    {{#dd.content}}
        <SharingIcons
            @title={{@title}}
            @description={{@description}}
            @hyperlink={{@hyperlink}}
            @resultId={{@resultId}}
            @parentId={{@parentId}}
            @showText={{@showText}}
        as |links|>
            {{! template-lint-disable invalid-interactive }}
            <ul local-class='Dropdown__list' {{action dd.close preventDefault=false}}>
                {{! template-lint-enable invalid-interactive }}
                {{#if @showBookmark}}
                    <li role='menuitem' local-class='Dropdown__option'>
                        <OsfButton
                            data-test-bookmarks-button
                            data-analytics-name={{if this.isBookmarked 'Remove from bookmarks' 'Bookmark'}}
                            data-analytics-extra='Registration ID: {{this.registration.id}}'
                            @type='link'
                            @onClick={{action (perform this.bookmark)}}
                            @bubble={{true}}
                        >
                            <FaIcon @icon='bookmark' @fixedWidth={{true}} />
                            {{#if this.isBookmarked}}
                                {{t 'registries.overview.update_bookmarks.remove.text'}}
                            {{else}}
                                {{t 'registries.overview.update_bookmarks.add.text'}}
                            {{/if}}
                        </OsfButton>
                    </li>
                {{/if}}
                <li local-class='Dropdown__option'>
                    {{links.email}}
                </li>
                <li local-class='Dropdown__option'>
                    {{links.twitter}}
                </li>
                <li local-class='Dropdown__option'>
                    {{links.facebook}}
                </li>
                <li local-class='Dropdown__option'>
                    {{links.linkedin}}
                </li>
            </ul>
        </SharingIcons>
    {{/dd.content}}
</ResponsiveDropdown>
