<OsfDialog as |dialog|>
    <dialog.trigger>
        <OsfButton
            data-analytics-name='View license'
            local-class='LinkButton'
            @type='link'
            @onClick={{dialog.open}}
        >
            {{@manager.registration.license.name}}
        </OsfButton>
    </dialog.trigger>

    <dialog.heading>
        {{t 'registries.registration_metadata.license'}}
    </dialog.heading>

    <dialog.main>
        {{#if @manager.registration.license.url}}
            <p>
                <OsfLink
                    data-analytics-name='License URL'
                    @href={{@manager.registration.license.url}}
                >
                    {{@manager.registration.license.name}}
                </OsfLink>
            </p>
        {{/if}}
        <LicenseText @node={{@manager.registration}} />
    </dialog.main>
</OsfDialog>
