<BsModal
    local-class='NewProject__modal'
    @onHidden={{@closeModal}}
    as |modal|
>
    <modal.header>
        <h3 data-test-create-project-header class='modal-title'>{{t 'new_project.header'}}</h3>
    </modal.header>
    <modal.body data-analytics-scope='New project modal'>
        <div class='text-left'>
            <div class='form-group m-v-sm'>
                <label class='f-w-lg text-bigger' local-class='NewProject__label'>
                    {{t 'general.title'}}
                    <Input
                        data-test-new-project-title
                        @placeholder={{t 'new_project.title_placeholder'}}
                        @autofocus='autofocus'
                        @class='form-control project-name'
                        @required={{true}}
                        @value={{this.nodeTitle}}
                        @type='text'
                        @enter={{action this.create}}
                    />
                </label>
            </div>

            {{#if this.institutions.length}}
                <div class='form-group m-v-sm' local-class='NewProject__institution-selector'>
                    <label class='f-w-lg text-bigger'>{{t 'new_project.affiliation'}}</label>
                    <OsfButton
                        data-analytics-name='Remove all institutions'
                        @type='link'
                        @onClick={{action this.removeAllInstitutions}}
                    >
                        {{t 'new_project.remove_all'}}
                    </OsfButton>
                    <OsfButton
                        data-analytics-name='Select all institutions'
                        @type='link'
                        @onClick={{action this.selectAllInstitutions}}
                    >
                        {{t 'new_project.select_all'}}
                    </OsfButton>
                    <table>
                        <tbody>
                            <tr data-test-institution-button-row >
                                {{#each this.institutions as | institution |}}
                                    <td>
                                        <OsfButton
                                            data-test-institution-selected='{{if (if-filter institution this.selectedInstitutions) 'selected' 'not-selected'}}'
                                            data-analytics-name='select_institution'
                                            local-class='NewProject__institution-button'
                                            @type='link'
                                            @onClick={{action this.selectInstitution institution}}
                                        >
                                            <div width='45px' height='45px' local-class='NewProject__institution-item'>
                                                <img
                                                    name='{{institution.name}}'
                                                    width='45px'
                                                    height='45px'
                                                    class='img-circle pointer'
                                                    local-class='NewProject__institution-img-{{if (if-filter institution this.selectedInstitutions) 'selected' 'not-selected'}}'
                                                    src='{{institution.logoRoundedUrl}}'
                                                    alt='{{institution.name}}'
                                                    title='{{institution.name}}'>
                                            </div>
                                        </OsfButton>
                                    </td>
                                {{/each}}
                            </tr>
                        </tbody>
                    </table>
                </div>
            {{/if}}
            {{#if this.storageI18nEnabled}}
                <div data-test-select-storage-location class='form-group m-v-md'>
                    <label class='f-w-lg text-bigger' local-class='NewProject__label'>
                        {{t 'new_project.storage_region'}}
                        <PowerSelect
                            @options={{this.regions}}
                            @renderInPlace={{true}}
                            @selected={{this.selectedRegion}}
                            @searchField='name'
                            @onchange={{action this.selectRegion}}
                            @noMatchesMessage={{t 'new_project.no_matches'}}
                            as |region|
                        >
                            {{region.name}}
                        </PowerSelect>
                    </label>
                </div>
            {{/if}}
            <OsfButton
                data-analytics-name='Toggle more'
                local-class='NewProject__more'
                @type='link'
                @onClick={{action 'toggleMore'}}
            >
                {{fa-icon (concat 'caret-' (if this.more 'down' 'right'))}} {{t 'new_project.more'}}
            </OsfButton>
            {{#if this.more}}
                <div class='form-group m-v-sm'>
                    <label for='projectDesc' class='f-w-lg text-bigger' local-class='NewProject__label'>
                        {{t 'general.description'}}
                        <Input
                            data-test-project-description-input
                            @placeholder={{t 'new_project.description_placeholder'}}
                            @class='form-control noresize project-desc'
                            @value={{this.description}}
                            @type='text'
                        />
                    </label>
                </div>
                <div data-test-select-template class='form-group m-v-md'>
                    <label class='f-w-lg text-bigger' local-class='NewProject__label'>
                        {{t 'new_project.template_title'}}
                        <p class='f-w-xs help-text'>{{t 'new_project.template_search_help'}}</p>
                        <PowerSelect
                            @search={{action this.searchNodes}}
                            @selected={{this.templateFrom}}
                            @onchange={{action this.selectTemplateFrom}}
                            @renderInPlace={{true}}
                            @noMatchesMessage={{t 'new_project.no_matches'}}
                            @searchMessage={{t 'new_project.template_placeholder'}}
                            @placeholder={{t 'new_project.template_placeholder'}}
                            as |node|
                        >
                            {{node.title}}
                        </PowerSelect>
                    </label>
                </div>
            {{/if}}
        </div>
    </modal.body>
    <modal.footer data-analytics-scope='New project modal footer'>
        <OsfButton
            data-test-create-project-cancel
            data-analytics-name='cancel'
            @onClick={{action modal.close}}
        >
            {{t 'general.cancel'}}
        </OsfButton>
        <OsfButton
            data-test-create-project-submit
            data-analytics-name='New project submit'
            @onClick={{action this.create}}
            @type='success'
            @disabled={{unless this.nodeTitle.length true}}
        >
            {{t 'general.create'}}
        </OsfButton>
    </modal.footer>
</BsModal>
