<AddonsService::FileManager
    data-analytics-scope='Root folder picker'
    @configuredStorageAddon={{@configuredStorageAddon}}
    @defaultKwargs={{this.defaultKwargs}}
    @startingFolderId={{this.selectedFolder}}
    as |fileManager|
>
    {{#each fileManager.currentPath as |pathItem|}}
        <span>
            <Button
                data-test-folder-path-option='{{pathItem.itemName}}'
                data-analytics-name='Go to ancestor folder'
                @layout='fake-link'
                aria-label={{t 'addons.configure.go-to-folder' folderName=pathItem.itemName}}
                {{on 'click' (fn fileManager.goToFolder pathItem)}}
            >
                {{pathItem.itemName}}
            </Button>
        </span>
    {{/each}}
    <table>
        <thead>
            <tr>
                <th>{{t 'addons.configure.table-headings.folder-name'}}</th>
                <th>{{t 'addons.configure.table-headings.select'}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each fileManager.currentItems as |folder|}}
                <tr>
                    <td>
                        <Button
                            data-test-folder-link='{{folder.itemName}}'
                            data-analytics-name='Go to folder'
                            @layout='fake-link'
                            aria-label={{t 'addons.configure.go-to-folder' folderName=folder.itemName}}
                            {{on 'click' (fn fileManager.goToFolder folder)}}
                        >
                            <FaIcon @icon='folder' />
                            {{folder.itemName}}
                        </Button>
                    </td>
                    <td>
                        <input
                            data-test-root-folder-option='{{folder.itemName}}'
                            data-analytics-name='Select folder'
                            type='radio'
                            name='folder'
                            value={{folder.itemName}}
                            aria-label={{t 'addons.configure.select-folder' folderName=folder.itemName}}
                            {{on 'change'(fn this.selectFolder folder)}}
                        >
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan='2'>{{t 'addons.configure.no-folders'}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{#if fileManager.isLoading}}
        <LoadingIndicator @dark={{true}} />
    {{/if}}
</AddonsService::FileManager>
<Button
    data-test-root-folder-save
    data-analytics-name='Save selected folder'
    @type='primary'
    disabled={{this.disableSave}}
    {{on 'click' (fn @onSave this.selectedFolder)}}
>
    {{t 'general.save'}}
</Button>
<Button
    data-test-root-folder-cancel
    data-analytics-name='Cancel'
    @type='secondary'
    {{on 'click' @onCancel}}
>
    {{t 'general.cancel'}}
</Button>
