{{page-title this.tabTitle}}
<div local-class='metadata-add-container {{if this.isMobile 'mobile'}}'>
    {{#if this.displaySelectionOptions}}
        <div local-class='header-container'>
            <div local-class='header'>
                <h2 data-test-metadata-add-header>
                    {{t 'metadata.add-flow.select-metadata-schema'}}    
                </h2>
            </div>
            <div local-class='explanation' data-test-metadata-add-explanation>
                {{t 'metadata.add-flow.explanation' supportEmail=this.supportEmail htmlSafe=true }}    
            </div>
            <div local-class='available-schemas' data-test-metadata-add-available-schemas>
                {{t 'metadata.add-flow.available-schemas' }}
            </div>
        </div>
        <div local-class='template-container'>
            {{#each this.model.templates as |template|}}
                <GuidNode::Metadata::-Components::MetadataSelect
                    @template={{template}}
                    @selectTemplate={{this.selectTemplate}}
                    @isMobile={{this.isMobile}}
                ></GuidNode::Metadata::-Components::MetadataSelect>
            {{/each}}
        </div>
    {{else}}
        <GuidNode::Metadata::-Components::MetadataCedar
            @template={{this.selectedTemplate}}
            @closeCedarEditor={{this.closeCedarEditor}}
        ></GuidNode::Metadata::-Components::MetadataCedar>
    {{/if}}
</div>

