{{#if this.showDiscard}}
    <Button
        data-test-submit-section-discard
        data-analytics-name='Discard'
        {{on 'click' this.discard}}
    >
        {{#if @discardButtonLabel}}
            {{@discardButtonLabel}}
        {{else}}
            {{t (concat 'app_components.submit_section.discard')}}
        {{/if}}
    </Button>
{{/if}}
<Button
    data-test-submit-section-continue
    data-analytics-name='Continue'
    @type='primary'
    disabled={{this.continueDisabled}}
    {{on 'click' this.continue}}
>
    {{#if @continueButtonLabel}}
        {{@continueButtonLabel}}
    {{else}}
        {{t (concat 'app_components.submit_section.save')}}
    {{/if}}
</Button>
