<OsfLink
    data-analytics-name='visit_node'
    @href={{@node.links.html}}
>
    <div local-class='dashboard-item {{if this.isMobile 'mobile'}}'
    >
        <div local-class='column-50'>
            <AncestryDisplay @node={{@node}} />
            <strong data-test-dashboard-item-title>{{@node.title}}</strong>
        </div>
        <div local-class='column-25' class='di-contributors'>
            <ContributorList @model={{this.node}} />
        </div>
        <div local-class='column-25' class='di-date'>{{this.date}}</div>
    </div>
</OsfLink>
