<RegistriesWrapper
    {{with-branding (get-model this.model.brand)}}
    data-analytics-scope='Registries Moderation'
    @provider={{this.model}}
>
    <OsfLayout @backgroundClass={{local-class 'contentBackground'}} as |layout|>
        <layout.heading local-class='heading'>
            <HeroOverlay @align='left'>
                <div local-class='title'>
                    <h1>
                        {{t 'registries.moderation.header'}}
                    </h1>
                </div>
            </HeroOverlay>
        </layout.heading>
        <layout.main local-class='main'>
            {{!-- TODO: add pending count in Submissions and Withdrawals tab --}}
            <BsNav local-class='mainNav' @type='tabs' as |nav|>
                {{#let 'registries.branded.moderation.submitted' as |submittedRoute|}}
                    <nav.item @active={{eq this.target.currentRouteName submittedRoute}}>
                        <OsfLink
                            @route={{submittedRoute}}
                            @models={{array this.model.id}}
                        >
                            {{t 'registries.moderation.submitted.title'}}
                        </OsfLink>
                    </nav.item>
                {{/let}}
                {{#let 'registries.branded.moderation.pending' as |pendingRoute|}}
                    <nav.item @active={{eq this.target.currentRouteName pendingRoute}}>
                        <OsfLink
                            @route={{pendingRoute}}
                            @models={{array this.model.id}}
                        >
                            {{t 'registries.moderation.pending.title'}}
                        </OsfLink>
                    </nav.item>
                {{/let}}
                {{#let 'registries.branded.moderation.moderators' as |moderatorsRoute|}}
                    <nav.item @active={{eq this.target.currentRouteName moderatorsRoute}}>
                        <OsfLink
                            @route={{moderatorsRoute}}
                            @models={{array this.model.id}}
                        >
                            {{t 'registries.moderation.moderators.title'}}
                        </OsfLink>
                    </nav.item>
                {{/let}}
                {{#let 'registries.branded.moderation.settings' as |settingsRoute|}}
                    <nav.item @active={{eq this.target.currentRouteName settingsRoute}}>
                        <OsfLink
                            @route={{settingsRoute}}
                            @models={{array this.model.id}}
                        >
                            {{t 'registries.moderation.settings.title'}}
                        </OsfLink>
                    </nav.item>
                {{/let}}
            </BsNav>
            {{outlet}}
        </layout.main>
    </OsfLayout>
</RegistriesWrapper>
