{{page-title (t 'registries.drafts.draft.review.title')}}

{{#let this.revisionManager as |revisionManager|}}
    {{#if revisionManager.initializing}}
        <LoadingIndicator @dark={{true}} />
    {{else}}
        <main
            {{did-insert this.markAndValidatedPages}}
        >
            {{#if (and (not revisionManager.currentUserIsAdmin) this.showMobileView)}}
                <div
                    data-test-nonadmin-warning-text
                    local-class='WarningMessage'
                >
                    {{t 'registries.edit_revision.review.non_admin_warning'}}
                </div>
            {{/if}}
            {{#if (and (not revisionManager.registrationResponsesIsValid) this.showMobileView)}}
                <div
                    data-test-invalid-responses-text
                    local-class='WarningMessage'
                    class='text-danger'
                >
                    {{t 'registries.drafts.draft.review.invalid_warning'}}
                </div>
            {{/if}}
            <Registries::RegistrationFormNavigationDropdown
                @showMetadata={{true}}
                @schemaBlocks={{revisionManager.schemaBlocks}}
            />
            <Registries::RevisionJustificationRenderer
                @revisionChangeset={{revisionManager.revisionChangeset}}
                @revision={{revisionManager.revision}}
                @schemaBlocks={{revisionManager.schemaBlocks}}
                @showEditButton={{not revisionManager.currentUserIsReadOnly}}
            />
            <Registries::ReviewFormRenderer
                @pageManagers={{revisionManager.pageManagers}}
                @responses={{revisionManager.revision.revisionResponses}}
                @showEditButton={{not revisionManager.currentUserIsReadOnly}}
            />
        </main>
    {{/if}}
{{/let}}
