{{#if @showReopen}}
    {{!-- template-lint-disable no-invalid-interactive --}}
    <div
        data-test-submit-section-click-to-edit
        role='{{if this.editable 'button'}}'
        {{action 'edit'}}
    >
        {{!-- template-lint-enable no-invalid-interactive --}}
        {{yield}}
        <p
            local-class='edit-message'
            class='text-smaller'
            hidden={{not this.editable}}
        >
            {{t 'app_components.submit_section.click_to_edit'}}
        </p>
    </div>
{{/if}}