<section
    local-class='container'
    {{track-scroll 'Integrations Section'}}
>
    <header local-class='integrationsHeader'>
        <h1 data-test-integrations-heading local-class='integrationsHeading'>
            {{t 'new-home.integrations-section.header'}}
        </h1>
    </header>
    <div data-test-integrations-container local-class='flexContainer'>
        <div local-class='flexRow'>
            <div data-test-authentication local-class='flexColumn'>
                <h2
                    data-test-authentication-heading
                    local-class='columnHeader'
                >
                    {{t 'new-home.integrations-section.authentication'}}
                </h2>
                <img
                    data-test-logo
                    local-class='logoImg'
                    src='/assets/images/new-home/incommon.png'
                    alt={{t 'new-home.integrations-section.incommon'}}
                >
                <img
                    data-test-logo
                    local-class='logoImg logoTall'
                    src='/assets/images/new-home/sso.png'
                    alt={{t 'new-home.integrations-section.sso'}}
                >
            </div>
            <div data-test-discovery local-class='flexColumn'>
                <h2
                    data-test-discovery-heading
                    local-class='columnHeader'
                >
                    {{t 'new-home.integrations-section.discovery'}}
                </h2>
                <img
                    data-test-logo
                    local-class='logoImg'
                    src='/assets/images/new-home/google-scholar.png'
                    alt={{t 'new-home.integrations-section.google_scholar'}}
                >
                <img
                    data-test-logo
                    local-class='logoImg'
                    src='/assets/images/new-home/orcid.png'
                    alt={{t 'new-home.integrations-section.orcid'}}
                >
            </div>
        </div>
        <div local-class='flexRow'>
            <div data-test-references local-class='flexColumn'>
                <h2
                    data-test-references-heading
                    local-class='columnHeader'
                >
                    {{t 'new-home.integrations-section.references'}}
                </h2>
                <img
                    data-test-logo
                    local-class='logoImg'
                    src='/assets/images/new-home/mendeley.png'
                    alt={{t 'new-home.integrations-section.mendeley'}}
                >
                <img
                    data-test-logo
                    local-class='logoImg'
                    src='/assets/images/new-home/zotero.png'
                    alt={{t 'new-home.integrations-section.zotero'}}
                >
            </div>
            <div data-test-storage local-class='flexColumn'>
                <h2
                    data-test-storage-heading
                    local-class='columnHeader'
                >
                    {{t 'new-home.integrations-section.storage'}}
                </h2>
                <img
                    data-test-logo
                    local-class='logoImg'
                    src='/assets/images/new-home/dropbox.png'
                    alt={{t 'new-home.integrations-section.dropbox'}}
                >
                <img
                    data-test-logo
                    local-class='logoImg'
                    src='/assets/images/new-home/google-drive.png'
                    alt={{t 'new-home.integrations-section.google_drive'}}
                >
            </div>
        </div>
    </div>
    {{#if (not this.shouldShowVersionB)}}
        <div local-class='buttonContainer'>
            <GetStartedButton />
        </div>
    {{/if}}
</section>
