{{title 'OSF | Home'}}
<div class='dashboard-page'>
    {{#if modalOpen}}
        {{new-project-modal user=currentUser.user closeModal=(action 'toggleModal') reloadNodes=(action 'reloadNodes')}}
    {{/if}}
    <div class="prereg-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="p-v-sm">
                        <div class="row prereg-banner">
                            <div class="col-md-9 m-v-sm">
                                <div class="conference-centering">
                                    <p>{{t 'banners.prereg.description'}}</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center m-v-sm">
                                <div>
                                    <a role="button" href="/prereg/" class="btn btn-success btn-success-high-contrast f-w-xl">{{t 'banners.prereg.button'}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="quickSearch">
        <div class="container p-t-lg">
            <div class="row m-t-lg {{if (or (gt nodes.length 9) loading) 'quick-search-contents'}}">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class='col-xs-9'>{{t 'dashboard.title'}}</h2>
                            <div class='m-b-lg col-xs-3'>
                                <div class='pull-right'>
                                    <button onclick={{action 'toggleModal'}} class='btn btn-success btn-success-high-contrast m-t-md f-w-xl'>{{t 'dashboard.create_new_project_button'}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class='row quick-project'>
                                {{#if initialLoad.isRunning}}
                                    {{loading-indicator}}
                                {{else}}
                                    {{#if totalNodes}}
                                        <div class='col-xs-12'>
                                            <div class='m-b-sm text-center'>
                                                <div class="m-v-sm quick-search-input">
                                                    <input class='form-control' placeholder="{{t 'dashboard.quicksearch.search'}}" type="text" oninput={{perform filterNodes value="target.value"}}>
                                                </div>
                                            </div>
                                            <p class="text-center f-w-lg">{{t 'dashboard.quicksearch.other_links'}}</p>
                                            <div class='quick-search-table'>
                                                <div class="row node-col-headers m-t-md">
                                                    <div class="col-sm-3 col-md-6">
                                                        <div class="quick-search-col">
                                                            {{t 'general.title'}}
                                                            {{sort-button sortAction=(action 'sort') curOrder=sortOrder curBy=sortBy sortBy='title'}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3">
                                                        <div class="quick-search-col">{{t 'general.contributors'}}</div>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3">
                                                        <div class="quick-search-col">
                                                            {{t 'general.modified'}}
                                                            <span class="sort-group">
                                                                {{sort-button sortAction=(action 'sort') curOrder=sortOrder curBy=sortBy sortBy='last_logged'}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 f-w-xl node-sort-dropdown text-right">
                                                        <span>
                                                            {{sort-button sortAction=(action 'setSortOrder') curOrder=sortOrder}}
                                                        </span>
                                                        <label>
                                                            <select onchange={{action "setSortBy" value="target.value"}}>
                                                                <option selected={{if (eq sortBy 'title') 'selected'}} value="title">{{t 'general.title'}}</option>
                                                                <option selected={{if (eq sortBy 'last_logged') 'selected'}} value="last_logged">{{t 'general.modified'}}</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                                {{#if loading}}
                                                    {{loading-indicator}}
                                                {{else}}
                                                    {{#each nodes as | node |}}
                                                        {{dashboard-item node=node}}
                                                    {{else}}
                                                        <br><i>{{t 'dashboard.quicksearch.no_results'}}</i><br>
                                                    {{/each}}
                                                {{/if}}
                                            </div>
                                            {{#if hasMore}}
                                                {{#if loadingMore}}
                                                    {{loading-indicator}}
                                                {{else}}
                                                    <div class="text-center">
                                                        <button aria-label='More' class="col-sm-12 text-muted" onclick={{action 'more'}}>
                                                            {{fa-icon 'caret-down' class='load-nodes m-b-xl'}}
                                                        </button>
                                                    </div>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                    {{else}}
                                        <div class="row quick-project">
                                            <div class="col-sm-12 text-center">
                                                <p>{{t 'dashboard.quicksearch.no_projects.line1'}}</p>
                                                <p>{{t 'dashboard.quicksearch.no_projects.line2'}}</p>
                                                <img src="/static/img/quicksearch-min.png" alt="{{t 'dashboard.quicksearch.preview_alt'}}" class="img-responsive center-block">
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="institutions-panel hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    {{institution-carousel institutions=institutions}}
                </div>
            </div>
        </div>
    </div>
    <div class="newAndNoteworthy">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <h3>{{t 'dashboard.noteworthy.description'}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="public-projects-box">
                                    <h4 class="m-b-md">{{t 'dashboard.noteworthy.new_and_noteworthy'}}</h4>
                                    {{#if failedLoading-noteworthy}}
                                        {{t 'dashboard.noteworthy.failed_noteworthy'}}
                                    {{else}}
                                        {{#if noteworthy.length}}
                                            {{#each noteworthy as | project | }}
                                                {{noteworthy-and-popular-project project=project}}
                                            {{/each}}
                                        {{else}}
                                            {{loading-indicator}}
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="public-projects-box">
                                    <h4 class="m-b-md">{{t 'dashboard.noteworthy.most_popular'}}</h4>
                                    {{#if failedLoading-popular}}
                                        {{t 'dashboard.noteworthy.failed_popular'}}
                                    {{else}}
                                        {{#if popular.length}}
                                            {{#each popular as | project | }}
                                                {{noteworthy-and-popular-project project=project}}
                                            {{/each}}
                                        {{else}}
                                            {{loading-indicator}}
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-sm-12">
                                <a role="button" href="/search/?q=* " class="btn btn-default m-v-lg">{{t 'dashboard.noteworthy.search_more'}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="meetings">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="p-v-sm">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="conference-centering">
                                    <h3>{{t 'dashboard.meetings.title'}}</h3>
                                </div>
                                <div class="conference-centering m-t-lg">
                                    <p class="text-bigger">{{t 'dashboard.meetings.description'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div><a role="button" href="/meetings/" class="btn btn-banner btn-success btn-lg btn-success-high-contrast m-v-xl f-w-xl">{{t 'dashboard.meetings.button'}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="preprints">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="p-v-sm">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="conference-centering">
                                    <h3>{{t 'dashboard.preprints.title'}}</h3>
                                </div>
                                <div class="conference-centering m-t-lg">
                                    <p class="text-bigger">{{t 'dashboard.preprints.description'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div><a role="button" href="/preprints/" class="btn btn-banner btn-success btn-lg btn-success-high-contrast m-v-xl f-w-xl">{{t 'dashboard.preprints.button'}}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>