<div class='dashboard-page'>
    {{#if modalOpen}}
        {{new-project-modal user=currentUser.user nodesAvailable=_nodes closeModal=(action 'toggleModal')}}
    {{/if}}
    <div class="prereg-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="p-v-sm">
                        <div class="row prereg-banner">
                            <div class="col-md-9 m-v-sm">
                                <div class="conference-centering">
                                    <p>Improve your next study. Enter the Prereg Challenge and you could win $1,000.</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center m-v-sm">
                                <div>
                                    <a type="button" href="/prereg/" class="btn btn-success btn-success-high-contrast f-w-xl">Start Prereg Challenge</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="quickSearch">
        <div class="container p-t-lg">
            <div class="row m-t-lg">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class='col-xs-9'>Dashboard</h2>
                            <div class='m-b-lg col-xs-3'>
                                <div class='pull-right'>
                                    <button onclick={{action 'toggleModal'}} class='btn btn-success btn-success-high-contrast m-t-md f-w-xl'>Create new project</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class='row quick-project'>
                                {{#if loading}}
                                    Loading...
                                {{else}}
                                    {{#if _nodes.length}}
                                        <div class='col-xs-12'>
                                            <div class='m-b-sm text-center'>
                                                <div class="m-v-sm quick-search-input">
                                                    {{input placeholder="Search your projects" class='form-control' value=filter type="text"}}
                                                </div>
                                            </div>
                                            <p class="text-center f-w-lg">
                                                Go to <a href="/myprojects/">My Projects</a> to organize your work or <a href="/search/">search</a> the OSF
                                            </p>
                                            <div class='quick-search-table'>
                                                <div class="row node-col-headers m-t-md">
                                                    <div class="col-sm-3 col-md-6">
                                                        <div class="quick-search-col">
                                                            Title
                                                            <button onclick={{action 'sort' 'name' 'asc'}} class="{{if (and (eq sortOrder 'asc') (eq sortBy 'name')) 'selected' 'not-selected'}}">{{fa-icon 'angle-up'}}</button>
                                                            <button onclick={{action 'sort' 'name' 'desc'}} class="{{if (and (eq sortOrder 'desc') (eq sortBy 'name')) 'selected' 'not-selected'}}">{{fa-icon 'angle-down'}}</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3">
                                                        <div class="quick-search-col">Contributors</div>
                                                    </div>
                                                    <div class="col-sm-3 col-md-3">
                                                        <div class="quick-search-col">
                                                            Modified
                                                            <span class="sort-group">
                                                                <button onclick={{action 'sort' 'date' 'asc'}} class="{{if (and (eq sortOrder 'asc') (eq sortBy 'date')) 'selected' 'not-selected'}}">{{fa-icon 'angle-up'}}</button>
                                                                <button onclick={{action 'sort' 'date' 'desc'}} class="{{if (and (eq sortOrder 'desc') (eq sortBy 'date')) 'selected' 'not-selected'}}">{{fa-icon 'angle-down'}}</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 f-w-xl node-sort-dropdown text-right">
                                                        <span>
                                                            <button onclick={{action 'setSortOrder' 'asc'}} class="{{if (eq sortOrder 'asc') 'selected' 'not-selected'}}">{{fa-icon 'angle-up'}}</button>
                                                            <button onclick={{action 'setSortOrder' 'desc'}} class="{{if (eq sortOrder 'desc') 'selected' 'not-selected'}}">{{fa-icon 'angle-down'}}</button>
                                                        </span>
                                                        <label>
                                                            <select onchange={{action "setSortBy" value="target.value"}}>
                                                                <option selected={{if (eq sortBy 'name') 'selected'}} value="title">Title</option>
                                                                <option selected={{if (eq sortBy 'date') 'selected'}} value="date">Modified</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                                {{#each nodes as | node |}}
                                                    {{dashboard-item node=node}}
                                                {{/each}}
                                            </div>
                                            {{#if hasMore}}
                                                <div class="text-center">
                                                    <button class="col-sm-12 text-muted" onclick={{action 'more'}}>
                                                        {{fa-icon 'caret-down' class='m-b-xl'}}
                                                    </button>
                                                </div>
                                            {{/if}}
                                        </div>
                                    {{else}}
                                        <div class="row quick-project">
                                            <div class="col-sm-12 text-center">
                                                <p>You have no projects yet. Create a project with the button on the top right.</p>
                                                <p>This feature allows you to search and quickly access your projects.</p>
                                                <img src="/static/img/quicksearch-min.png" alt="Preview of a full quick projects screen" class="img-responsive center-block">
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="institutions-panel hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    {{institution-carousel institutions=institutions}}
                </div>
            </div>
        </div>
    </div>
    <div class="newAndNoteworthy">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <h3>Discover Public Projects</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="public-projects-box">
                                    <h4 class="m-b-md">New and Noteworthy</h4>
                                    {{#unless failedLoading-noteworthy}}
                                        {{#if noteworthy.length}}
                                            {{#each noteworthy as | project | }}
                                                {{noteworthy-and-popular-project project=project}}
                                            {{/each}}
                                        {{else}}
                                            Loading...
                                        {{/if}}
                                    {{else}}
                                        Failed loading "New and Noteworthy" projects
                                    {{/unless}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="public-projects-box">
                                    <h4 class="m-b-md">Most Popular</h4>
                                    {{#unless failedLoading-popular}}
                                        {{#if popular.length}}
                                            {{#each popular as | project | }}
                                                {{noteworthy-and-popular-project project=project}}
                                            {{/each}}
                                        {{else}}
                                            Loading...
                                        {{/if}}
                                    {{else}}
                                        Failed loading "Most Popular" projects
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-sm-12">
                                <a type="button" href="/search/?q=* " class="btn btn-default m-v-lg">Search for more projects</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="meetings">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="p-v-sm">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="conference-centering">
                                    <h3>Hosting a conference or meeting?</h3>
                                </div>
                                <div class="conference-centering m-t-lg">
                                    <p class="text-bigger">Use the OSF for Meetings service to provide a central location for conference submissions.</p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div><a type="button" href="/meetings/" class="btn btn-banner btn-success btn-lg btn-success-high-contrast m-v-xl f-w-xl">View meetings</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="preprints">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="p-v-sm">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="conference-centering">
                                    <h3>Browse the latest research</h3>
                                </div>
                                <div class="conference-centering m-t-lg">
                                    <p
                                     class="text-bigger">Check out the latest Preprints hosted on the OSF covering a variety of research areas.</p>
                                 </div>
                             </div>
                             <div class="col-md-4 text-center">
                                 <div><a type="button" href="/preprints/" class="btn btn-banner btn-success btn-lg btn-success-high-contrast m-v-xl f-w-xl">View preprints</a></div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>