<ValidatedModelForm
    data-analytics-scope='Name form'
    @onSave={{action this.onSave}}
    @model={{this.user}}
    as |form|
>
    <form.text
        data-test-full-name-field
        @valuePath='fullName'
        @label={{t 'settings.profile.name.fullName'}}
    />
    {{t 'settings.profile.name.instructions'}}
    
    <h3>{{t 'settings.profile.name.citationName'}}</h3>
    <span local-class='NameParts'>
        <form.text
            data-test-given-name-field
            local-class='LargeField'
            @valuePath='givenName'
            @label={{t 'settings.profile.name.givenName'}}
        />
        <form.text
            data-test-middle-names-field
            local-class='LargeField'
            @valuePath='middleNames'
            @label={{t 'settings.profile.name.middleNames'}}
        />
        <form.text 
            data-test-family-name-field
            local-class='LargeField'
            @valuePath='familyName'
            @label={{t 'settings.profile.name.familyName'}}
        />
        <form.text
            data-test-suffix-field
            local-class='SmallField'
            @valuePath='suffix'
            @label={{t 'settings.profile.name.suffix'}}
        />
    </span>
    {{settings/profile/name/-components/citation-preview user=this.user}}
    <div local-class='FormButtons'>
        <OsfButton
            data-test-discard-changes
            data-analytics-name='Discard changes'
            @buttonType='button'
            @disabled={{not form.isDirty}}
            @onClick={{action form.rollback}}
        >
            {{t 'validated_input_form.discard_changes'}}
        </OsfButton>
        <OsfButton
            data-test-save
            data-analytics-name='Save'
            @buttonType='submit'
            @disabled={{and (not form.isDirty) form.disabled}}
            @type='primary'
        >
            {{t 'general.save'}}
        </OsfButton>
    </div>
</ValidatedModelForm>
