<span
    data-test-active-filter={{@text}}
    class='active-filter {{@facet}}'
    local-class='filter {{@extraClass}}'
>
    {{@text}}
    {{#unless @hide}}
        <span>
            <Button
                aria-label={{@ariaLabel}}
                data-test-active-filter-remove-button
                local-class='removeActiveFilter'
                {{on 'click' this.removeFilterItem}}
            >
                <FaIcon @icon='times-circle' />
            </Button>
        </span>
    {{/unless}}
</span>