<span
    data-test-active-filter={{@text}}
    class='active-filter {{@facet}}'
    local-class='filter {{@extraClass}}'
>
    {{@text}}
    {{#unless @hide}}
        <span aria-label={{@ariaLabel}}>
            <button
                data-test-active-filter-remove-button
                type='button'
                class='fa fa-times-circle'
                local-class='removeActiveFilter'
                {{action this.removeFilterItem}}
            ></button>
        </span>
    {{/unless}}
</span>