<div
    local-class='Moderator'
    data-test-moderator-row={{@moderator.id}}
>
    <div local-class='ModeratorNamePermission'>
        <span local-class='Name'>
            <OsfLink
                data-test-moderator-link={{@moderator.id}}
                data-analytics-name='View moderator profile'
                @href={{concat '/' @moderator.id '/'}}
            >
                <img
                    data-test-moderator-gravatar={{@moderator.fullName}}
                    class='m-r-xs'
                    src={{@moderator.user.links.profile_image}}
                    alt={{@moderator.fullName}}
                    height='30'
                    width='30'
                >
                {{@moderator.user.fullName}}
            </OsfLink>
        </span>
        <span
            local-class='PermissionGroup'
            data-test-permission-group
        >
            {{#if @manager.currentUserIsProviderAdmin}}
                <PowerSelect
                    @selected={{@moderator.permissionGroup}}
                    @options={{this.permissionOptions}}
                    @onChange={{fn @manager.updateModeratorPermission @moderator}}
                    @disabled={{@manager.updateModeratorPermission.isRunning}}
                    as |option|
                >
                    <span data-test-moderator-permission-option={{option}}>
                        {{capitalize option}}
                    </span>
                </PowerSelect>
            {{else}}
                {{capitalize @moderator.permissionGroup}}
            {{/if}}
        </span>
    </div>
    <div>
        <span>
            {{#if this.shouldShowRemove}}
                <DeleteButton
                    data-test-delete-moderator-button={{@moderator.id}}
                    @small={{true}}
                    @noBackground={{true}}
                    @delete={{fn @manager.removeModerator @moderator}}
                    @disabled={{@manager.removeModeratorTask.isRunning}}
                    @analyticsScope='Moderation - Moderators'
                    @modalTitle={{t 'osf-components.moderators.remove.modal.title'}}
                    @modalBody={{t 'osf-components.moderators.remove.modal.body'
                        moderator=(if this.moderatorIsCurrentUser 'yourself' @moderator.fullName)
                    }}
                    @errorMessage={{t 'osf-components.moderators.removedModeratorError'
                        permission=@moderator.permissionGroup
                    }}
                />
            {{/if}}
        </span>
    </div>
</div>
