{{#if @preprint.affiliatedInstitutions}}
    <div local-class='institutionList'>
        <h4>{{t 'preprints.detail.affiliated_institutions'}}</h4>
            <ul>
                {{#each @preprint.affiliatedInstitutions as |institution|}}
                    <li>
                        <OsfLink @href={{institution.links.html}}>
                            <img
                                data-test-institution-list-institution={{institution.id}}
                                local-class='img-circle img-responsive'
                                src={{institution.logoRoundedUrl}}
                                alt={{institution.name}}
                            >
                            {{institution.name}}
                        </OsfLink>
                    </li>
                {{/each}}
            </ul>
    </div>
{{/if}}
