<li data-test-file-version-item={{@version.id}} >
    <span local-class='VersionLabel'>
        <Button
            data-test-file-version-date
            data-analytics-name='View file version'
            aria-label={{t 'osf-components.file-version.view_version' date=(moment-format @version.attributes.modified 'YYYY-MM-DD hh:mm A')}}
            @layout='fake-link'
            {{on 'click' (action @changeVersion @version.id)}}
        >
            {{moment-format @version.attributes.modified 'YYYY-MM-DD hh:mm A'}}
        </Button>
        <Button
            data-test-file-version-toggle-button
            data-analytics-name='Toggle file version info'
            aria-label={{if this.dropdownOpen (t 'osf-components.file-version.hide_info') (t 'osf-components.file-version.show_info')}}
            local-class='DropdownTrigger'
            {{on 'click' this.toggleDropdown}}
            @layout='fake-link'
        >
            <FaIcon @icon={{if this.dropdownOpen 'caret-up' 'caret-down'}} @fixedWidth={{true}} />
        </Button>
    </span>

    {{#if this.dropdownOpen}}
        {{#if @version.attributes.extra.hashes.md5}}
            <div
                data-test-file-version-section='md5'
                local-class='DropdownSection'
            >
                <CopyButton
                    @clipboardText={{@version.attributes.extra.hashes.md5}}
                    @success={{this.copySuccess}}
                    @error={{this.copyError}}
                    local-class='FakeLink'
                >
                    <FaIcon @icon='copy' />
                    {{t 'osf-components.file-version.copy_md5'}}
                </CopyButton>
                <div>
                    <FaIcon local-class='HelpIcon' @icon='question-circle' />
                    <EmberTooltip
                        data-test-md5-tooltip
                        @side='left'
                    >
                        {{t 'osf-components.file-version.md5_description'}}
                    </EmberTooltip>
                </div>
            </div>
        {{/if}}
        {{#if @version.attributes.extra.hashes.sha256}}
            <div
            data-test-file-version-section='sha2'
            local-class='DropdownSection'
            >
                <CopyButton
                    @clipboardText={{@version.attributes.extra.hashes.sha256}}
                    @success={{this.copySuccess}}
                    @error={{this.copyError}}
                    local-class='FakeLink'
                >
                    <FaIcon @icon='copy' />
                    {{t 'osf-components.file-version.copy_sha2'}}
                </CopyButton>
                <div>
                    <FaIcon local-class='HelpIcon' @icon='question-circle' />
                    <EmberTooltip
                        data-test-sha2-tooltip
                        @side='left'
                    >
                        {{t 'osf-components.file-version.sha2_description'}}
                    </EmberTooltip>
                </div>
            </div>
        {{/if}}
        
        <div
            data-test-file-version-section='download'
            local-class='DropdownSection'
        >
            <Button
                data-analytics-name='Download file version'
                @layout='fake-link'
                {{on 'click' (action this.downloadVersion @version.id)}}
            >
                <FaIcon @icon='download' />
                {{t 'general.download'}}
            </Button>
            {{@version.attributes.extra.downloads}}
        </div>
    {{/if}}
</li>
