<td
    data-test-version-cell={{this.version.id}}
    class='col-md-4'
>
    {{#if this.clickable}}
        <OsfButton
            data-test-select-version={{this.version.id}}
            data-analytics-name='Change version'
            local-class='FileVersion__button'
            @class='btn-link'
            @onClick={{action this.changeVersion this.version.id}}
        >
            {{this.version.id}}
        </OsfButton>
    {{else}}
        {{this.version.id}}
    {{/if}}
</td>
<td
    data-test-modified-date-cell={{this.version.id}}
    class='col-md-6'
>
    {{moment-format this.version.attributes.modified_utc}}
</td>
<td
    data-test-download-count-cell={{this.version.id}}
    class='col-xs-1'
>
    <div class='badge'>{{this.version.attributes.extra.downloads}}</div>
</td>
<td
    data-test-download-version-cell={{this.version.id}}
    class='col-xs-1'
>
    <OsfButton
        data-analytics-name='Download version'
        aria-label={{t 'general.download'}}
        @type='primary'
        @size='sm'
        @onClick={{action this.downloadVersion this.version.id}}
    >
        {{fa-icon 'download'}}
    </OsfButton>
</td>
<td
    data-test-md5-hash-cell={{this.version.id}}
    class='hidden-md hidden-sm hidden-xs'
>
    <CopyableText
        local-class='input-group'
        @text={{this.version.attributes.extra.hashes.md5}}
        @analyticsLabel='File version - Copy md5'
    />
</td>
<td
    data-test-sha2-hash-cell={{this.version.id}}
    class='hidden-md hidden-sm hidden-xs'
>
    <CopyableText
        local-class='input-group'
        @text={{this.version.attributes.extra.hashes.sha256}}
        @analyticsLabel='File version - Copy sha256'
    />
</td>
