<li>
    <span local-class='VersionLabel'>
        <Button
            aria-label={{t 'osf-components.file-version.view_version' date=(moment-format @version.attributes.modified 'YYYY-MM-DD hh:mm A')}}
            @layout='fake-link'
            {{on 'click' (action @changeVersion @version.id)}}
        >
            {{moment-format @version.attributes.modified 'YYYY-MM-DD hh:mm A'}}
        </Button>
        <Button
            aria-label={{if this.dropdownOpen (t 'osf-components.file-version.hide_info') (t 'osf-components.file-version.show_info')}}
            data-test-detail-trigger-button
            local-class='DropdownTrigger'
            {{on 'click' this.toggleDropdown}}
            @layout='fake-link'
        >
            <FaIcon @icon={{if this.dropdownOpen 'caret-up' 'caret-down'}} @fixedWidth={{true}} />
        </Button>
    </span>

    {{#if this.dropdownOpen}}
        <div local-class='DropdownSection'>
            <span>
                {{t 'general.user'}}:
                <OsfLink
                    @href={{@version.attributes.extra.user.url}}
                >
                    {{@version.attributes.extra.user.name}}
                </OsfLink>
            </span>
        </div>
        <div local-class='DropdownSection'>
            <CopyButton
                @clipboardText={{@version.attributes.extra.hashes.md5}}
                @success={{this.copySuccess}}
                @error={{this.copyError}}
                local-class='FakeLink'
            >
                <FaIcon @icon='copy' />
                {{t 'osf-components.file-version.copy_md5'}}
            </CopyButton>
            <div>
                <FaIcon local-class='HelpIcon' @icon='question-circle' />
                <BsTooltip
                    data-test-md5-tooltip
                    @placement='left'
                    @triggerEvents='hover focus'
                >
                    {{t 'osf-components.file-version.md5_description'}}
                </BsTooltip>
            </div>
        </div>
        <div local-class='DropdownSection'>
            <CopyButton
                @clipboardText={{@version.attributes.extra.hashes.sha256}}
                @success={{this.copySuccess}}
                @error={{this.copyError}}
                local-class='FakeLink'
            >
                <FaIcon @icon='copy' />
                {{t 'osf-components.file-version.copy_sha2'}}
            </CopyButton>
            <div>
                <FaIcon local-class='HelpIcon' @icon='question-circle' />
                <BsTooltip
                    data-test-sha2-tooltip
                    @placement='left'
                    @triggerEvents='hover focus'
                >
                    {{t 'osf-components.file-version.sha2_description'}}
                </BsTooltip>
            </div>
        </div>
        <div local-class='DropdownSection'>
            <Button
                @layout='fake-link'
                {{on 'click' (action this.downloadVersion @version.id)}}
            >
                <FaIcon @icon='download' />
                {{t 'general.download'}}
            </Button>
            {{@version.attributes.extra.downloads}}
        </div>
    {{/if}}
</li>
