<td class="col-md-4">
    {{#if this.clickable}}
        <button
            class="btn btn-link"
            local-class="FileVersion__button"
            onclick={{action this.changeVersion this.version.id}}
        >
            {{this.version.id}}
        </button>
    {{else}}
        {{this.version.id}}
    {{/if}}
</td>
<td class="col-md-6">{{moment-format this.version.attributes.modified_utc}}</td>
<td class="col-xs-1"><div class='badge'>{{this.version.attributes.extra.downloads}}</div></td>
<td class="col-xs-1">
    <button
        class="btn btn-primary btn-sm"
        onclick={{action this.downloadVersion this.version.id}}
    >
        {{fa-icon 'download'}}
    </button>
</td>
<td class="hidden-md hidden-sm hidden-xs">
    <CopyableText
        @local-class="input-group"
        @text={{this.version.attributes.extra.hashes.md5}}
        @analyticsLabel="File version - Copy md5"
    />
</td>
<td class="hidden-md hidden-sm hidden-xs">
    <CopyableText
        @local-class="input-group"
        @text={{this.version.attributes.extra.hashes.sha256}}
        @analyticsLabel="File version - Copy sha256"
    />
</td>
