<td class='col-md-4'>
    {{#if clickable}}
        <button class='btn btn-link' local-class="FileVersion__button" onclick={{action 'changeVersion' version.id}}>{{version.id}}</button>
    {{else}}
        {{version.id}}
    {{/if}}
</td>
<td class='col-md-6'>{{moment-format version.attributes.modified_utc}}</td>
<td class='col-xs-1'><div class='badge'>{{version.attributes.extra.downloads}}</div></td>
<td class='col-xs-1'><button class='btn btn-primary btn-sm' onclick={{action 'downloadVersion' version.id}}>{{fa-icon 'download'}}</button></td>
<td class='hidden-md hidden-sm hidden-xs'>
    {{copyable-text
        local-class='input-group'
        text=this.version.attributes.extra.hashes.md5
        analyticsLabel='File version - Copy md5'
    }}
</td>
<td class='hidden-md hidden-sm hidden-xs'>
    {{copyable-text
        local-class='input-group'
        text=this.version.attributes.extra.hashes.sha256
        analyticsLabel='File version - Copy sha256'
    }}
</td>
