<div class='panel panel-default'>
    {{#bs-nav type='pills' stacked=true as |nav|}}
        {{#nav.item}}
            <a href='/settings'
               onclick={{action 'click' 'link' 'Settings - Profile information' target=analytics}}
            >
                {{t 'settings.nav.profile'}}
            </a>
        {{/nav.item}}
        {{#nav.item}}
            <a href='/settings/account'
               onclick={{action 'click' 'link' 'Settings - Account settings' target=analytics}}
            >
                {{t 'settings.nav.account'}}
            </a>
        {{/nav.item}}
        {{#nav.item}}
            <a href='/settings/addons'
               onclick={{action 'click' 'link' 'Settings - Configure add-on accounts' target=analytics}}
            >
                {{t 'settings.nav.addons'}}
            </a>
        {{/nav.item}}
        {{#nav.item}}
            <a href='/settings/notifications'
               onclick={{action 'click' 'link' 'Settings - Notifications' target=analytics}}
            >
                {{t 'settings.nav.notifications'}}
            </a>
        {{/nav.item}}
        {{#nav.item}}
            <a href='/settings/applications'
               onclick={{action 'click' 'link' 'Settings - Developer apps' target=analytics}}
            >
                {{t 'settings.nav.apps'}}
            </a>
        {{/nav.item}}
        {{#nav.item}}
            {{#nav.link-to 'settings.tokens'
                click=(action 'click' 'link' 'Settings - Personal access tokens' target=analytics)
            }}
                {{t 'settings.nav.tokens'}}
            {{/nav.link-to}}
        {{/nav.item}}
    {{/bs-nav}}
</div>
