{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{! template-lint-disable no-implicit-this }}
{{title (t 'analytics.pageTitle' nodeTitle=node.unsafeTitle)}}
<div class='container'>
    <div local-class='Counts' class='row'>
        <div class='col-sm-4 panel panel-default' local-class='CountBox'>
            <div class='panel-body'>
                <h3>{{t 'analytics.forks'}}</h3>
                {{#if loading}}
                    {{loading-indicator dark=true}}
                {{else}}
                    <h2>{{forksCount}}</h2>
                    {{#link-to-external
                        (if node.isProject 'nodeForks' 'registrationForks')
                        model.id
                    }}
                        {{t 'analytics.viewForks'}}
                    {{/link-to-external}}
                {{/if}}
            </div>
        </div>
        <div class='col-sm-4' local-class='CountBox'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <h3>{{t 'analytics.links'}}</h3>
                    {{#if loading}}
                        {{loading-indicator dark=true}}
                    {{else}}
                        <h2>{{linkedByCount}}</h2>
                        <a role='button' onclick={{action 'showLinksModal'}}>
                            {{t 'analytics.viewLinks'}}
                        </a>
                        {{#if linksModalShown}}
                            {{#bs-modal-simple
                                title=(t 'analytics.links')
                                closeTitle=(t 'general.close')
                                onHide=(action 'hideLinksModal')
                            }}
                                {{#if this.node}}
                                    <ul class='list-group'>
                                        {{#paginated-list/has-many
                                            model=this.node
                                            relationshipName='linkedByNodes'
                                            query=this.linkedByQueryParams
                                            analyticsScope='Project Analytics - Links'
                                            as |list|
                                        }}
                                            <list.item as |node|>
                                                <NodeCard
                                                    @node={{node}}
                                                    @readOnly={{true}}
                                                    @analyticsScope='Project Analytics - Links'
                                                />
                                            </list.item>

                                            <list.empty>
                                                {{t 'analytics.noLinks'}}
                                            </list.empty>
                                        {{/paginated-list/has-many}}
                                    </ul>
                                {{else}}
                                    <LoadingIndicator @dark={{true}} />
                                {{/if}}
                            {{/bs-modal-simple}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class='col-sm-4 panel panel-default' local-class='CountBox'>
            <div class='panel-body'>
                <h3>{{t 'analytics.templateCopies'}}</h3>
                {{#if loading}}
                    {{loading-indicator dark=true}}
                {{else}}
                    <h2>{{templatedByCount}}</h2>
                {{/if}}
            </div>
        </div>
    </div>

    {{#if nodePublic}}
        {{#unless hideAdblockWarning}}
            {{#bs-alert type='info' onDismissed=(action dismissAdblockWarning)}}
                <div class='text-center'>
                    {{t 'analytics.adblockWarning'}}
                </div>
            {{/bs-alert}}
        {{/unless}}

        <div local-class='PickDateRange'>
            <label>
                {{t 'analytics.showForDateRange'}}
                <BsDropdown as |dd|>
                    <dd.button
                        aria-haspopup='true'
                        aria-expanded='false'
                        local-class='DateRangeButton'
                    >
                        {{t (concat 'analytics.dateRanges.' activeDateRange.key)}}
                        {{fa-icon 'caret-down'}}
                    </dd.button>
                    <dd.menu
                        local-class='DateRangeMenu'
                        @align='right'
                    >
                        {{#each dateRanges as |dateRange|}}
                            <li role='menuitem'>
                                <a
                                    role='button'
                                    local-class='DateRangeOption'
                                    {{action 'setDateRange' dateRange}}
                                >
                                    {{t (concat 'analytics.dateRanges.' dateRange.key)}}
                                </a>
                            </li>
                        {{/each}}
                    </dd.menu>
                </BsDropdown>
            </label>
        </div>
    {{else}}
        {{!nodePublic}}
        <div class='row'>
            <div local-class='PrivateProject' class='col-xs-12'>
                {{t 'analytics.privateProject' htmlSafe=true}}
            </div>
        </div>
    {{/if}}

    <div class='clearfix'></div>
    <div class='row'>
        {{analytics-charts
            chartsEnabled=chartsEnabled
            nodeTaskInstance=model.taskInstance
            startDate=activeDateRange.start
            endDate=activeDateRange.end
        }}
    </div>
</div>
{{! template-lint-enable no-implicit-this }}
