{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{page-title (t 'analytics.pageTitle' nodeTitle=this.node.unsafeTitle)}}
<div class='container' local-class='page-container'>
    <div local-class='counts {{if this.isMobile 'mobile'}}'>
        <div local-class='count-box {{if this.isMobile 'mobile'}}'>
            <div local-class='body'>
                <h3>{{t 'analytics.forks'}}</h3>
                {{#if this.loading}}
                    {{loading-indicator dark=true}}
                {{else}}
                    <div local-class='count'>{{this.forksCount}}</div>
                    <LinkToExternal
                        @route={{if this.node.isProject 'nodeForks' 'registrationForks'}}
                        @models={{array this.node.id}}
                    >
                        {{t 'analytics.viewForks'}}
                    </LinkToExternal>
                {{/if}}
            </div>
        </div>
        <div local-class='count-box {{if this.isMobile 'mobile'}}'>
            <div local-class='body'>
                <h3>{{t 'analytics.links'}}</h3>
                {{#if this.loading}}
                    {{loading-indicator dark=true}}
                {{else}}
                    <div local-class='count'>{{this.linkedByCount}}</div>
                    <button
                        type='button'
                        class='btn btn-link'
                        local-class='button-link'
                        {{on 'click' this.showLinksModal}}
                    >
                        {{t 'analytics.viewLinks'}}
                    </button>
                    <OsfDialog
                        @isOpen={{this.linksModalShown}}
                        @onClose={{action this.hideLinksModal}}
                    as |dialog|>
                        <dialog.heading>
                            {{t 'analytics.links'}}
                        </dialog.heading>
                        <dialog.main>
                            {{#if this.node}}
                                <ul class='list-group'>
                                    {{#paginated-list/has-many
                                        model=this.node
                                        relationshipName='linkedByNodes'
                                        query=this.linkedByQueryParams
                                        analyticsScope='Project Analytics - Links'
                                        as |list|
                                    }}
                                        <list.item as |node|>
                                            <NodeCard
                                                @node={{node}}
                                                @readOnly={{true}}
                                                @analyticsScope='Project Analytics - Links'
                                            />
                                        </list.item>

                                        <list.empty>
                                            {{t 'analytics.noLinks'}}
                                        </list.empty>
                                    {{/paginated-list/has-many}}
                                </ul>
                            {{else}}
                                <LoadingIndicator @dark={{true}} />
                            {{/if}}
                        </dialog.main>
                        <dialog.footer>
                            <Button
                                data-test-close-links-dialog
                                {{on 'click' (action dialog.close)}}
                            >
                                {{t 'general.close'}}
                            </Button>
                        </dialog.footer>
                    </OsfDialog>
                {{/if}}
            </div>
        </div>
        <div local-class='count-box {{if this.isMobile 'mobile'}}'>
            <div local-class='body'>
                <h3>{{t 'analytics.templateCopies'}}</h3>
                {{#if this.loading}}
                    {{loading-indicator dark=true}}
                {{else}}
                    <div local-class='count'>{{this.templatedByCount}}</div>
                {{/if}}
            </div>
        </div>
    </div>

    {{#if this.nodePrivate}}
        <div local-class='private-project'>
            {{t 'analytics.privateProject' htmlSafe=true}}
        </div>
    {{else}}
        {{!nodePrivate}}
        <div local-class='pick-date-range'>
            <label>
                {{t 'analytics.showForDateRange'}}
                <BsDropdown as |dd|>
                    <dd.button
                        aria-haspopup='true'
                        aria-expanded='false'
                        local-class='date-range-button'
                    >
                        {{t (get this.timespanIntlKeys this.timespan)}}
                        <FaIcon @icon='caret-down' />
                    </dd.button>
                    <dd.menu
                        local-class='date-range-menu'
                        @align='right'
                    >
                        {{#each this.allTimespans as |timespan|}}
                            <li role='menuitem'>
                                <button
                                    type='button'
                                    local-class='date-range-option'
                                    {{on 'click' (fn this.setTimespan timespan)}}
                                >
                                    {{t (get this.timespanIntlKeys timespan)}}
                                </button>
                            </li>
                        {{/each}}
                    </dd.menu>
                </BsDropdown>
            </label>
        </div>
    {{/if}}

    <div>
        {{analytics-charts
            nodeId=this.model.nodeId
            timespan=this.timespan
            chartsEnabled=this.chartsEnabled
            chartsDataTaskInstance=this.model.chartsDataTaskInstance
        }}
    </div>
</div>
