<ResponsiveDropdown @renderInPlace={{true}} as |dd|>
    {{yield (hash trigger=dd.trigger isOpen=dd.isOpen)}}
    <dd.content>
        <SharingIcons
            @title={{@title}}
            @description={{@description}}
            @hyperlink={{@hyperlink}}
            @resultId={{@resultId}}
            @parentId={{@parentId}}
            @showText={{@showText}}
            as |links|
        >
            <ul data-test-sharing-options local-class='Dropdown__list'>
                <li local-class='Dropdown__option'>
                    {{links.email}}
                </li>
                <li local-class='Dropdown__option'>
                    {{links.twitter}}
                </li>
                <li local-class='Dropdown__option'>
                    {{links.facebook}}
                </li>
            </ul>
        </SharingIcons>
    </dd.content>
</ResponsiveDropdown>
