<div class='institutions-page'>
    <div class="institutions-block institutions-header">
        <div class="container">
            <div class="row">
                <div class="text-center m-t-lg col-xs-12">
                    <div class="institutions-logo"></div>
                    <p class="lead">
                        OSF Institutions is a free scholarly web tool that enhances
                         transparency, fosters collaboration, and increases the
                         visibility of research outputs at the institutional level.
                         <a>Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="institution-browser">
        <div class="container p-t-lg">
            <div class="row m-t-lg">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="institution-table">
                                <div>
                                    Institution
                                    {{fa-icon 'chevron-up' class='nameasc sorting' click=(action 'sort' 'asc')}}
                                    {{fa-icon 'chevron-down' class='namedes sorting' click=(action 'sort' 'des')}}
                                </div>
                                {{#each institutions as |institution|}}
                                    <div class="m-v-sm node-styling row" {{action 'goTo' institution.id}}>
                                        <div class='col-xs-3'>
                                            <img class='institution-logo' src='{{institution.logoPath}}'>
                                        </div>
                                        <div class='col-xs-9'><span>{{institution.name}}</span></div>
                                    </div>
                                {{/each}}
                                {{#if hasMore}}
                                    <div style='text-align: center'>
                                        {{fa-icon 'chevron-down' class='paginate-button' click=(action 'next')}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="institutions-block institutions-footer">
        <div class="container">
            <div class="row">
                <div class="text-center col-xs-12">
                    <p class="lead">
                        Interested in setting up an OSF Institutions page for your research institution?
                         <a>Contact Us</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>