{{title (t 'institutions.title')}}
<div class='Institutions__page'>
    <div class="Institutions__block Institutions__header">
        <div class="container">
            <div class="row">
                <div class="text-center m-t-lg col-xs-12">
                    <div class="Institutions__logo"></div>
                    <p class="lead">
                        {{t 'institutions.description'}}
                        <a class='Institutions__block__link' href='https://cos.io/our-products/osf-institutions/'>{{t 'institutions.read_more'}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="Institutions__browser">
        <div class="container p-t-lg">
            <div class="row m-t-lg">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="Institutions__table">
                                <div class='row'>
                                    <div class='col-xs-3 Institutions__sorting'>
                                        {{t 'institutions.title'}}
                                        {{sort-button sortAction=(action sort) sort=sortOrder sortBy='title'}}
                                    </div>
                                    <div class="col-xs-9 filter-input">
                                        {{input (html-attributes aria-label=(t 'institutions.search_placeholder')) placeholder=(t 'institutions.search_placeholder') class='form-control' value=textValue type="text"}}
                                    </div>
                                </div>
                                {{#each institutions as |institution|}}
                                    <a class="m-v-sm Institutions__table__item row" href='{{institution.id}}'>
                                        <div class='col-xs-3'>
                                            <img class='Institutions__logo' alt='{{institution.name}}' src='{{institution.logoPath}}'>
                                        </div>
                                        <div class='col-xs-9' class='Institutions__table__title'><span>{{institution.name}}</span></div>
                                    </a>
                                {{/each}}
                                {{#if hasMore}}
                                    <div style='text-align: center'>
                                        {{fa-icon 'chevron-down' class='Institutions__pagination' click=(action 'next')}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Institutions__block Institutions__footer">
        <div class="container">
            <div class="row">
                <div class="text-center col-xs-12">
                    <p class="lead">
                        {{t 'institutions.footer'}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>