{{#if this.rootNode}}
    <Registries::PartialRegistrationModal
        @rootNode={{this.rootNode}}
        @onContinue={{action this.onContinue}}
        as |partialRegistrationModal|
    >
        <Registries::FinalizeRegistrationModal
            @registration={{this.registration}}
            @onSubmitRegistration={{@onSubmitRegistration}}
            as |finalizeRegistrationModal|
        >
            <OsfDialog
                @onOpen={{action this.onOpen}}
                @onClose={{action this.onClose}}
                @closeOnOutsideClick={{false}}
                as |dialog|
            >
                <dialog.trigger>
                    <OsfButton
                        data-test-goto-register
                        @type='success'
                        @onClick={{dialog.open}}
                        @disabled={{not this.draftManager.registrationResponsesIsValid}}
                    >
                        {{t 'registries.drafts.draft.register'}}
                    </OsfButton>
                    {{#unless this.draftManager.registrationResponsesIsValid}}
                        <div class='text-danger'>
                            {{t 'registries.drafts.draft.review.invalid_warning'}}
                        </div>
                    {{/unless}}
                </dialog.trigger>
                <dialog.heading>
                    {{#if this.shouldShowPartialRegDialog}}
                        <partialRegistrationModal.heading />
                    {{else}}
                        <finalizeRegistrationModal.heading />
                    {{/if}}
                </dialog.heading>
                <dialog.main>
                    {{#if this.shouldShowPartialRegDialog}}
                        <partialRegistrationModal.main />
                    {{else}}
                        <finalizeRegistrationModal.main />
                    {{/if}}
                </dialog.main>
                <dialog.footer>
                    {{#if this.shouldShowPartialRegDialog}}
                        <partialRegistrationModal.footer @closeDialog={{dialog.close}} />
                    {{else}}
                        <finalizeRegistrationModal.footer @back={{action (mut this.showPartialRegDialog) true}} />
                    {{/if}}
                </dialog.footer>
            </OsfDialog>
        </Registries::FinalizeRegistrationModal>
    </Registries::PartialRegistrationModal>
{{/if}}
