<OsfButton
    data-test-goto-register
    data-analytics-name='Go to register'
    local-class='registerButton {{if @showMobileView 'mobileReviewButtonItem'}}'
    @type='success'
    @onClick={{perform this.onClickRegister}}
    @disabled={{not this.draftManager.registrationResponsesIsValid}}
>
    {{#if this.onClickRegister.isRunning}}
        <LoadingIndicator @inline={{true}} />
    {{else}}
        {{t 'registries.drafts.draft.register'}}
    {{/if}}
</OsfButton>
{{#if (and this.isInvalid (not @showMobileView))}}
    <div data-test-invalid-responses-text class='text-danger'>
        {{t 'registries.drafts.draft.review.invalid_warning'}}
    </div>
{{/if}}

{{#if this.node}}
    <Registries::PartialRegistrationModal::Manager
        @rootNode={{this.node}}
        as |partialRegistrationManager|
    >
        <Registries::PartialRegistrationModal
            @isOpen={{this.partialRegDialogIsOpen}}
            @manager={{partialRegistrationManager}}
            @onContinue={{action this.onContinue}}
            @onClose={{action this.closePartialRegDialog}}
        />
    </Registries::PartialRegistrationModal::Manager>
{{/if}}

{{#if this.registration}}
    <Registries::FinalizeRegistrationModal::Manager
        @draftManager={{this.draftManager}}
        @registration={{this.registration}}
        @onSubmitRegistration={{action this.onSubmitRegistration}}
        as |finalizeRegistrationManager|
    >
        <Registries::FinalizeRegistrationModal
            @isOpen={{this.finalizeRegDialogIsOpen}}
            @manager={{finalizeRegistrationManager}}
            @onClose={{action this.closeFinalizeRegDialog}}
            @onBack={{action this.onBack}}
        />
    </Registries::FinalizeRegistrationModal::Manager>
{{/if}}
