<OsfButton
    data-test-goto-register
    @type='success'
    @onClick={{action (mut this.showPartialRegDialog) true}}
    @disabled={{not this.draftManager.registrationResponsesIsValid}}
>
    {{t 'registries.drafts.draft.register'}}
</OsfButton>

{{#unless this.draftManager.registrationResponsesIsValid}}
    <div class='text-danger'>
        {{t 'registries.drafts.draft.review.invalid_warning'}}
    </div>
{{/unless}}

{{#if this.shouldShowPartialRegModal}}
    <Registries::PartialRegistrationModal::Manager
        @rootNode={{this.rootNode}}
        @isOpen={{this.shouldShowPartialRegModal}}
        as |modalManager|
    >
        <Registries::PartialRegistrationModal
            @modalManager={{modalManager}}
            @onContinue={{action this.onContinue}}
        />
    </Registries::PartialRegistrationModal::Manager>
{{/if}}

{{#if this.shouldShowFinalizeRegDialog}}
    <Registries::FinalizeRegistrationModal::Manager
        @registration={{this.registration}}
        @isOpen={{this.shouldShowFinalizeRegDialog}}
        @onSubmitRegistration={{@onSubmitRegistration}}
        as |manager|
    >
        <Registries::FinalizeRegistrationModal @manager={{manager}} />
    </Registries::FinalizeRegistrationModal::Manager>
{{/if}}
