<a href="/{{node.id}}">
    <div class="m-v-sm node-styling">
        <div class="row"><div>
            <div class="col-sm-3 col-md-6 p-v-xs">
                <div class="quick-search-col">
                    {{#if (eq ancestry '--private')}}
                    {{#unless _ancestry}}
                        <i>Private Project / Private / </i>
                    {{else}}
                        <i>Private Project / </i>{{_ancestry}}
                    {{else}}
                        {{ancestry}}
                    {{/if}}
                    <strong>{{node.title}}</strong>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 p-v-xs">
                <div class="quick-search-col">{{contributors}}</div>
            </div>
            <div class="col-sm-3 col-md-3 p-v-xs">
                <div class="quick-search-col">{{date}}</div>
            </div>
        </div></div>
    </div>
</a>