<a href="{{node.links.html}}">
    <div class="m-v-sm node-styling">
        <div class="row">
            <div>
                <div class="col-sm-3 col-md-6 p-v-xs">
                    <div class="quick-search-col">
                        {{#if private}}
                            {{#if ancestry}}
                                <span class='ancestry'>{{t 'dashboard.quicksearch.private_parent'}}</span>{{ancestry}}
                            {{else}}
                                <span class='ancestry'>{{t 'dashboard.quicksearch.private_grandparent'}}</span>
                            {{/if}}
                        {{else}}
                            {{ancestry}}
                        {{/if}}
                        <strong>{{node.title}}</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 p-v-xs">
                    <div class="quick-search-col">{{contributor-list node=node}}</div>
                </div>
                <div class="col-sm-3 col-md-3 p-v-xs">
                    <div class="quick-search-col">{{date}}</div>
                </div>
            </div>
        </div>
    </div>
</a>