<div local-class='status-flow-container  {{if (is-mobile) 'mobile'}}'>
    <div local-class='line {{if @manager.displayAuthorAssertions 'long'}}'/>
    <Preprints::-Components::Submit::PreprintStateMachine::StatusFlow::StatusFlowDisplay
        @manager={{@manager}}
        @type={{@manager.getTitleAndAbstractType}}
        @leftNavToggle={{@leftNavToggle}}
        @isMobile={{@isMobile}}
        data-test-title-and-abstract
    />
    <Preprints::-Components::Submit::PreprintStateMachine::StatusFlow::StatusFlowDisplay
        @manager={{@manager}}
        @type={{@manager.getFileType}}
        @leftNavToggle={{@leftNavToggle}}
        @isMobile={{@isMobile}}
        data-test-file
    />
    <Preprints::-Components::Submit::PreprintStateMachine::StatusFlow::StatusFlowDisplay
        @manager={{@manager}}
        @type={{@manager.getMetadataType}}
        @leftNavToggle={{@leftNavToggle}}
        @isMobile={{@isMobile}}
        data-test-metadata
    />
    <Preprints::-Components::Submit::PreprintStateMachine::StatusFlow::StatusFlowDisplay
        @manager={{@manager}}
        @type={{@manager.getAuthorAssertionsType}}
        @leftNavToggle={{@leftNavToggle}}
        @isMobile={{@isMobile}}
        data-test-author-assertions
    />
    <Preprints::-Components::Submit::PreprintStateMachine::StatusFlow::StatusFlowDisplay
        @manager={{@manager}}
        @type={{@manager.getSupplementsType}}
        @leftNavToggle={{@leftNavToggle}}
        @isMobile={{@isMobile}}
        data-test-supplements
    />
    <Preprints::-Components::Submit::PreprintStateMachine::StatusFlow::StatusFlowDisplay
        @manager={{@manager}}
        @type={{@manager.getReviewType}}
        @leftNavToggle={{@leftNavToggle}}
        @isMobile={{@isMobile}}
        data-test-review
    />
</div>