{{#if this.findNodes.last}}
    <div data-test-node-picker local-class='form-group'>
        <PowerSelect
            @renderInPlace={{false}}
            @searchEnabled={{true}}
            @placeholder={{t 'node.projects.select-placeholder'}}
            @options={{this.items}}
            @matcher={{this.matcher}}
            @afterOptionsComponent={{component
                'node-picker/load-more-component'
                loadMore=(action 'loadMore')
                hasMore=this.hasMore
                isLoading=this.loadingMore
            }}
            @search={{perform this.findNodes}}
            @oninput={{action 'oninput'}}
            @selected={{this.selected}}
            @searchField='title'
            @onChange={{action 'valueChanged'}}
            as |item|
        >
            {{get-ancestor-descriptor item}} <strong data-test-node-picker-title={{item.title}}>{{item.title}}</strong>
        </PowerSelect>
    </div>
{{else}}
    <LoadingIndicator @dark={{true}} />
{{/if}}