{{! using unsafeTitle here to avoid double encoding because the title helper does its own }}
{{title (t 'forks.page_title' nodeTitle=this.model.taskInstance.value.unsafeTitle)}}
<div class="container" local-class="Forks">
    <BsModal
        @open={{this.newModal}}
        @onSubmit={{action this.newFork}}
        @onHide={{action (mut this.newModal) false}}
        as |modal|
    >
        <modal.body>
            <button
                aria-label={{t 'general.close'}}
                class="close"
                onclick={{action (mut this.newModal) false}}
                {{action 'click' 'button' 'Dashboard - New Project - close_modal' target=this.analytics}}
            >
                {{fa-icon 'times' size='sm'}}
            </button>
            <h3>{{t 'forks.create_fork_modal'}}</h3>
        </modal.body>
        <modal.footer>
            <OsfButton
                @onClick={{action (mut this.newModal) false}}
            >
                {{t 'general.cancel'}}
            </OsfButton>
            <OsfButton
                @onClick={{action modal.submit}}
                @type="info"
            >
                {{t 'forks.fork'}}
            </OsfButton>
        </modal.footer>
    </BsModal>
    {{! Analytics being called in the controller action }}
    <DeleteNodeModal
        @delete={{action this.delete}}
        @openModal={{this.deleteModal}}
        @closeModal={{action this.closeDeleteModal}}
        @nodeType={{this.nodeType}}
    />
    <div local-class="Forks__header" class="page-header visible-xs">
        <h2 class="text-300">{{t 'forks.title'}}</h2>
    </div>
    <div class="m-md" local-class="Forks__nav">
        {{#link-to
            'guid-node.analytics'
            this.node.id
            click=(action 'click' 'link' 'Project Forks - forks.back' target=this.analytics)
        }}
            {{fa-icon 'arrow-left'}} {{t 'forks.back'}}
        {{/link-to}}
        <p local-class="Forks__nav__link">{{t 'forks.info'}}</p>
    </div>
    <div local-class="Forks__forks">
        {{#paginated-list/has-many
            modelTaskInstance=this.model.taskInstance
            relationshipName='forks'
            bindReload=(action (mut this.reloadList))
            query=this.forksQueryParams
            analyticsScope='Project Forks'
            as |list|
        }}
            <list.item as |fork|>
                <NodeCard
                    @node=this.fork
                    @delete={{action this.openDeleteModal this.fork}}
                />
            </list.item>

            <list.empty>
                <div local-class='Forks__placeholder'>
                    {{t 'forks.no_forks'}}
                </div>
            </list.empty>
        {{/paginated-list/has-many}}
    </div>
    <div local-class="Forks__new-fork">
        <div class="m-md">
            {{! Analytics being called in the controller action }}
            <OsfButton
                @type="success"
                @disabled={{this.loadingNew}}
                @onClick={{action (mut this.newModal) true}}
            >
                {{#if this.loadingNew}}
                    {{t 'forks.loading_new'}}
                {{else}}
                    {{t 'forks.new'}}
                {{/if}}
            </OsfButton>
        </div>
    </div>
</div>
