<Button
    aria-label={{t 'registries.discover.search_result.sharing_popover'}}
    @layout='fake-link'
    local-class='SharingIconsPopover__anchor'
    tabindex='0'
    data-analytics-name='Sharing Icons Popover{{if @provider (concat ' ' @provider.name)}}'
    ...attributes
>
    <FaIcon @icon='share-alt' />
    <EmberPopover
        local-class='Popover'
        @side='left'
        @popperContainer='#{{@parentId}}'
    >
        <SharingIcons
            @title={{@title}}
            @description={{@description}}
            @hyperlink={{@hyperlink}}
            @resultId={{@resultId}}
            @parentId={{@parentId}}
            @showText={{@showText}}
        />
    </EmberPopover>
</Button>
