{{! template-lint-disable bare-strings }}
<div id='__carousel' class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner" role="listbox">
        {{#each slides as |slide index|}}
            <div class={{if (not index) "item active" "item"}}>
                {{#each slide as |institution index|}}
                    <div class="{{if (not index) (concat "col-sm-2 col-sm-offset-" columnOffset) "col-sm-2"}} InstitutionCarousel__item">
                        <a href="/institutions/{{institution.id}}" class="InstitutionCarousel__item__thumbnail">
                            <img class="img-circle img-responsive InstitutionCarousel__item__image" name={{institution.title}} logopath="/static/img/institutions/shields-rounded-corners/{{institution.id}}-shield-rounded-corners.png" src="/static/img/institutions/shields-rounded-corners/{{institution.id}}-shield-rounded-corners.png" alt="{{institution.title}}" title="{{institution.title}}">
                        </a>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
    {{#if (gt institutions.length itemsPerSlide)}}
        <a href="#__carousel" role='button' data-slide="prev" class="left carousel-control InstitutionCarousel__control">{{fa-icon 'angle-left'}}</a>
        <a href="#__carousel" role='button' data-slide="next" class="right carousel-control InstitutionCarousel__control">{{fa-icon 'angle-right'}}</a>
    {{/if}}
</div>
