<div>
{{new-osf-navbar}}

{{maintenance-banner}}
</div>
<br />
<br />
<br />

<div id="main" class="container">
    <div class="row">
        <div class="col-md-12" role="main">
            {{outlet}}
        </div>
    </div>
</div>

{{osf-footer}}
{{osf-copyright class='text-center'}}
{{osf-mode-footer}}
