{{!-- TODO: funcitonality to be addded in ENG-2188 --}}
{{!-- {{#if this.currentUserIsProviderAdmin}}
    <button {{on 'click' this.addModerator}}>
        add
    </button>
{{/if}} --}}
<ContentPlaceholders as |placeholder|>
    <PaginatedList::HasMany
        @model={{@manager.provider}}
        @relationshipName='moderators'
        @bindReload={{@manager.reloadModeratorList}}
        as |list|
    >
        <list.item as |moderator|>
            {{#if moderator}}
                <Moderators::Row
                    @moderator={{moderator}}
                    @manager={{@manager}}
                />
            {{else}}
                {{placeholder.text lines=1}}
            {{/if}}
        </list.item>
    </PaginatedList::HasMany>
</ContentPlaceholders>
