{{title (t 'registries.drafts.draft.review.title')}}

{{#let this.draftRegistrationManager as |draftManager|}}
    {{#if draftManager.initializing}}
        <LoadingIndicator @dark={{true}} />
    {{else}}
        <main
            {{did-insert this.markAndValidatedPages}}
        >
            {{#if (and draftManager.hasInvalidResponses this.showMobileView)}}
                <div
                    data-test-invalid-responses-text
                    local-class='WarningMessage'
                    class='text-danger'
                >
                    {{t 'registries.drafts.draft.review.invalid_warning'}}
                </div>
            {{/if}}
            <Registries::RegistrationFormNavigationDropdown
                @schemaBlocks={{draftManager.schemaBlocks}}
            />
            <Registries::ReviewMetadataRenderer
                @metadataChangeset={{draftManager.metadataChangeset}}
                @draftRegistration={{draftManager.draftRegistration}}
            />
            <Registries::ReviewFormRenderer
                @draftManager={{draftManager}}
                @node={{this.node}}
            />
        </main>
    {{/if}}
{{/let}}
