{{page-title (t 'registries.drafts.draft.review.title')}}

{{#let this.draftRegistrationManager as |draftManager|}}
    {{#if draftManager.initializing}}
        <LoadingIndicator @dark={{true}} />
    {{else}}
        <main
            {{did-insert this.markAndValidatedPages}}
        >
            {{#if (and (not draftManager.registrationResponsesIsValid) this.showMobileView)}}
                <div
                    data-test-invalid-responses-text
                    local-class='WarningMessage'
                    class='text-danger'
                >
                    {{t 'registries.drafts.draft.review.invalid_warning'}}
                </div>
            {{/if}}
            <Registries::RegistrationFormNavigationDropdown
                @showMetadata={{true}}
                @schemaBlocks={{draftManager.schemaBlocks}}
            />
            <Registries::ReviewMetadataRenderer
                @metadataChangeset={{draftManager.metadataChangeset}}
                @draftRegistration={{draftManager.draftRegistration}}
                @showEditButton={{not draftManager.currentUserIsReadOnly}}
            />
            <Registries::ReviewFormRenderer
                @pageManagers={{draftManager.pageManagers}}
                @responses={{draftManager.draftRegistration.registrationResponses}}
                @showEditButton={{not draftManager.currentUserIsReadOnly}}
            />
        </main>
    {{/if}}
{{/let}}
