<div>
    <ul local-class='nobullet'>
        {{#each this.providers as |item|}}
            <li data-test-collection-provider-facet-item={{item.key}}>
                <label local-class='provider-label'>
                    <Input
                        @type='checkbox'
                        @checked={{item.checked}}
                        @change={{action this.updateFilters item.key}}
                        @disabled={{this.theme.isProvider}}
                    />
                    {{filter-replace item.key @filterReplace}}
                    <small>({{format-number item.doc_count}})</small>
                </label>
            </li>
        {{/each}}
        {{#if this.theme.isProvider}}
            <a
                data-test-collection-provider-facet-other-repos
                href={{this.otherReposLink}}
                onclick={{action 'click' 'link' 'Discover - Other Collections' target=this.analytics}}
            >
                {{t 'collections.discover.other_repositories'}}
            </a>
        {{/if}}
    </ul>
</div>
