<div local-class='preprint-input-container {{if (is-mobile) 'mobile'}}'>

    <h3 local-class='title'
        data-test-title
    >
        {{t 'preprints.submit.step-title.title'}}
    </h3>
    <div local-class='form-container'>
        <FormControls
            @changeset={{this.titleAndAbstractFormChangeset}}
            data-test-form
            as |form|
        >
            {{#let (unique-id 'title') as |titleFieldId|}}
                <label for={{titleFieldId}}
                    data-test-title-label
                >
                    {{t 'preprints.submit.step-title.title-input'}}
                    <span local-class='required'>*</span>
                </label>
                <form.text
                    data-test-title-input
                    @valuePath={{'title'}}
                    @isRequired={{true}}
                    {{on 'change' this.validate}}
                    local-class='input-container'
                    @placeholder={{t 'preprints.submit.step-title.title-input'}}
                    @maxlength={{512}}
                    @uniqueID={{titleFieldId}} 
                    @onKeyUp={{this.validate}}
                />
            {{/let}}
            {{#let (unique-id 'abstract') as |abstractFieldId|}}
                <label for={{abstractFieldId}}
                    data-test-abstract-label
                >
                    {{t 'preprints.submit.step-title.abstract-input'}}
                    <span local-class='required'>*</span>
                </label>
                <form.textarea
                    data-test-abstract-input
                    @valuePath={{'description'}}
                    @isRequired={{true}}
                    {{on 'change' this.validate}}
                    local-class='input-container textarea-container'
                    @placeholder={{t 'preprints.submit.step-title.abstract-input'}}
                    @uniqueID={{abstractFieldId}} 
                    @onKeyUp={{this.validate}}
                />
            {{/let}}
            {{#if (feature-flag 'manual_doi_and_guid')}}
                {{#let (unique-id 'manualDoi') as |manualDoiField|}}
                    <label for={{manualDoiField}}
                        data-test-manual-doi-label
                    >
                        {{t 'preprints.submit.step-title.doi'}}
                        <span local-class='required'>*</span>
                    </label>
                    <form.text
                        data-test-manual-doi-input
                        @valuePath={{'manualDoi'}}
                        @isRequired={{false}}
                        {{on 'change' this.validate}}
                        local-class='input-container'
                        @uniqueID={{manualDoiField}} 
                        @onKeyUp={{this.validate}}
                    />
                {{/let}}
                {{#let (unique-id 'manualGuid') as |manualGuidField|}}
                    <label for={{manualGuidField}}
                        data-test-manudal-guid-label
                    >
                        {{t 'preprints.submit.step-title.guid'}}
                        <span local-class='required'>*</span>
                    </label>
                    <form.text
                        data-test-manual-guid-input
                        @valuePath={{'manualGuid'}}
                        @isRequired={{false}}
                        {{on 'change' this.validate}}
                        local-class='input-container'
                        @uniqueID={{manualGuidField}} 
                        @onKeyUp={{this.validate}}
                    />
                {{/let}}
            {{/if}}
        </FormControls>
    </div>
</div>