{{assert
      'ContributorList::UnregisteredContributor @contributor must be unregistered and @nodeId is required!'
      (and @contributor.unregisteredContributor @nodeId)
}}

<span
    role='button'
    {{on 'click' this.showDialog}}
    data-analytics-name='Open claim unregistered user dialog'
>
    <BsPopover
        @placement='top'
        @triggerEvents='hover'
        @title={{t 'contributor_list.unregistered_contributor.popover_title'}}
    >
        {{t 'contributor_list.unregistered_contributor.tooltip_message'}}
    </BsPopover>
    {{~@contributor.unregisteredContributor~}}
</span>

<OsfDialog
    @isOpen={{this.shouldOpenClaimDialog}}
    @onClose={{this.closeDialog}}
    as |dialog|
>
    <dialog.heading>
        <h3>
            {{t 'contributor_list.unregistered_contributor.loggedInClaimHeader' email=@contributor.email}}
        </h3>
    </dialog.heading>
    <dialog.main>
        {{t 'contributor_list.unregistered_contributor.loggedInClaimMain'}}
    </dialog.main>
    <dialog.footer>
        <Button
            data-analytics-name='Cancel claim unregistered user'
            @type='secondary'
            {{on 'click' dialog.close}}
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            data-analytics-name='Claim unregistered user'
            @type='primary'
            {{on 'click' (perform this.claimContributor)}}
        >
            {{t 'contributor_list.unregistered_contributor.claim'}}
        </Button>
    </dialog.footer>
</OsfDialog>
