<span role='button' {{onClick this.showDialog}}>
    <BsPopover
        @placement='top'
        @triggerEvents='hover'
        @title={{t 'contributor_list.unregistered_contributor.popover_title'}}
    >
        {{t 'contributor_list.unregistered_contributor.tooltip_message'}}
    </BsPopover>
    {{~@contributor.unregisteredContributor~}}
</span>

<OsfDialog @open={{this.shouldOpenClaimDialog}} as |dialog|>
    <dialog.heading>
        <h3>
            {{t 'components.contributor_list.unregistered_contributor.loggedInClaimHeader'}}
        </h3>
    </dialog.heading>
    <dialog.main>
        {{t 'components.contributor_list.unregistered_contributor.loggedInClaimMain'}}
    </dialog.main>
    <dialog.footer>
        <Button
            @type='secondary'
        >
            {{t 'general.cancel'}}
        </Button>
        <Button
            @type='primary'
        >
            {{t 'components.contributor_list.unregistered_contributor.claim'}}
        </Button>
    </dialog.footer>
</OsfDialog>
